<div class="bg-light-blueshade">
  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>
  <section class="myorders">
      <div class="container">
          <div class="row" [ngClass]="{ 'w-100': isDesktop }">
              <div class="col-3 m-none">
                  <app-desktop-side-menu></app-desktop-side-menu>
              </div>
              <div class="col-lg-9 col-md-9">
                  <div class="bg-white deskdash-breadcrumbs m-none  mb-3">
                      <h4 class="font-16  font-weight-600">My Orders</h4>
                  </div>
                  <form [formGroup]="searchform" (ngSubmit)="onSubmit()">
                      <div class="dt-none">
                          <div class="search-button d-flex align-items-center justify-content-between">
                              <div class="input-group">
                                  <input type="text" placeholder="Type OrderID" formControlName="orderId" class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="searchText" />
                                  <span class="input-group-btn">
                                      <button type="submit" class="btn btn-default">
                                          <i class="fal fa-search"></i>
                                      </button>
                                  </span>
                              </div>
                              <div class="px-2 filter-m" (click)="openSortwidget(sortwidget)">
                                  <i class="fal fa-filter"></i>
                              </div>
                          </div>
                      </div>
                  </form>
                  <ul class="status-color-type my-2">
                      <li class="text-nowrap" *ngFor="let statustype of statustypes">
                          <label class="color-code" [style.background-color]="statustype?.color"></label>
                          {{ statustype.type }}
                      </li>
                  </ul>
                  <div *ngIf="!loading">
                      <div class="pt-0" [ngClass]="{ 'mt-2': isDesktop }">
                          <mat-tab-group class="order-tabs">
                     
                              <mat-tab *ngFor="let statustype of Allorderstatuslist" label="">
                                  <ng-template mat-tab-label>
                                      <div class="" (click)="filterbyOrderStatus(statustype.type)">
                                          {{ statustype.type }}
                                      </div>
                                  </ng-template>
                                  <div class="guide">
                                      <div class="col-md-12 col-lg-12 px-0" *ngFor="let product of Allorderlist | filter: searchText">
                                          <a [routerLink]="[
                        '/myaccount/orders/order-details/' +
                          product.child_order_id
                      ]">
                                              <div class="ItemList-itemView" [ngClass]="{ 'mx-auto': isMobile }">
                                                  <div class="d-flex itemDetails py-2">
                                                      <div class="pr-0 pl-1 col-sm-6">
                                                          <div class="Text-Text">
                                                              <p> Order ID : <span style="
                                    font-weight: 500;
                                    color: rgb(3, 166, 133);
                                  ">{{ product.child_order_id }}</span>
                                                              </p>
                                                          </div>
                                                          <div>
                                                              <div>
                                                                  <p> Transaction ID : <span>{{ product.parent_order_id }}</span>
                                                                  </p>
                                                              </div>
                                                              <div>
                                                                  <p *ngIf="product.payment_type == 'c'"> Payment Type : Cash </p>
                                                                  <p *ngIf="product.payment_type == 'o'"> Payment Type : Online </p>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="text-right pr-0 col-sm-6">
                                                          <div>
                                                              <p> Date : <span> {{ product.created_date }}</span>
                                                              </p>
                                                          </div>
                                                          <div>
                                                              <div>
                                                                  <p> Delivery Status: &nbsp; <span>{{ product.order_status }}</span>
                                                                  </p>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="container-fluid {{
                            product.color
                          }}-colored-border product">
                                                      <div class="row v-row">
                                                          <div class="col-sm-4 col-md-1 order-image">
                                                              <img src="{{ product.thumbnail_path }}" alt="product" title="" style="width: 100%" />
                                                          </div>
                                                          <div class="col-sm-8 col-md-11 pl-2">
                                                              <p class="mt-0 Text-Text ellipsis">
                                                                  {{ product.name }}
                                                              </p>
                                                              <p class="Text-Text">
                                                                  <span>Quantity: &nbsp;</span>
                                                                  {{ product.quantity }}
                                                              </p>
                                                              <div class="d-inline-flex justify-content-between mb-0 w-100">
                                                                  <p class="Text-Text" *ngFor="let varsize of product.variantsize">
                                                                      <span>
                                                                          {{ varsize.display_name }} : &nbsp;</span><span *ngFor="let siz of varsize.option_name">{{ siz }}</span>
                                                                  </p>
                                                                  <p class="Text-Text price-text"> Total: &nbsp;<span>Rs. {{ product.total + product.cod_charge  | number: "1.0-2" }}</span>
                                                                  </p>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </mat-tab>
                          </mat-tab-group>
                      </div>
                      <div class="row v-row text-center-nofound" *ngIf="Allorderlist?.length == 0">
                          <div class="col-lg-12">
                              <img src="assets/images/icons/noorders.png" />
                              <label>No Orders Yet !</label>
                          </div>
                      </div>
                  </div>
                  <!-- Skeleton-Loader -->
                  <div class="row" *ngIf="loading">
                      <div class="col-md-12 col-lg-12 mx-1">
                          <div class="ItemList-itemView" [ngClass]="{ 'mx-auto': isMobile }" *ngFor="let order of [1, 2, 3, 4]">
                              <div class="d-flex itemDetails py-2">
                                  <div class="pr-0 pl-1 col-sm-6">
                                      <div class="Text-Text">
                                          <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader>
                                      </div>
                                      <div>
                                          <div>
                                              <ngx-skeleton-loader [theme]="{
                          width: '100px',
                          'border-radius': '0',
                          height: '10px',
                          margin: '0px'
                        }">
                                              </ngx-skeleton-loader>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="text-right pr-0 col-sm-6">
                                      <div class="Text-Text">
                                          <ngx-skeleton-loader [theme]="{
                        width: '100px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader>
                                      </div>
                                      <div>
                                          <div>
                                              <ngx-skeleton-loader [theme]="{
                          width: '70px',
                          'border-radius': '0',
                          height: '10px',
                          margin: '0px'
                        }">
                                              </ngx-skeleton-loader>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="container-fluid product py-0">
                                  <div class="row v-row">
                                      <div class="col-sm-4 col-md-1 order-image">
                                          <ngx-skeleton-loader appearance="circle" [theme]="{
                        width: '70px',
                        'border-radius': '0px',
                        height: '70px',
                        'margin-bottom': '0px'
                      }">
                                          </ngx-skeleton-loader>
                                      </div>
                                      <div class="col-sm-8 col-md-11 pl-2">
                                          <p class="mt-0 mb-1 Text-Text">
                                              <ngx-skeleton-loader [theme]="{
                          width: '70px',
                          'border-radius': '0',
                          height: '10px',
                          margin: '0px'
                        }">
                                              </ngx-skeleton-loader>
                                          </p>
                                          <p class="Text-Text">
                                              <ngx-skeleton-loader [theme]="{
                          width: '70px',
                          'border-radius': '0',
                          height: '10px',
                          margin: '0px'
                        }">
                                              </ngx-skeleton-loader>
                                          </p>
                                          <div class="d-inline-flex justify-content-between mb-0 w-100">
                                              <p class="Text-Text">
                                                  <ngx-skeleton-loader [theme]="{
                            width: '70px',
                            'border-radius': '0',
                            height: '10px',
                            margin: '0px'
                          }">
                                                  </ngx-skeleton-loader>
                                              </p>
                                              <p class="Text-Text">
                                                  <ngx-skeleton-loader [theme]="{
                            width: '70px',
                            'border-radius': '0',
                            height: '10px',
                            margin: '0px'
                          }">
                                                  </ngx-skeleton-loader>
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <app-footer></app-footer>
</div>
<ng-template #sortwidget let-modal>
  <div class="modal-body" class="video-popup-body dt-none">
      <div class="modal-body pl-0 pr-0">
          <div class="row v-row pl-2 pr-2">
              <div class="col-lg-6 col-xs-8 col-sm-8">
                  <h3 class="title-info">Sort By</h3>
              </div>
              <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right">
                  <button type="button" (click)="close()" data-dismiss="modal" aria-hidden="true" class="modal-close">
                      <i class="fal fa-times"></i>
                  </button>
              </div>
          </div>
          <section class="p-a0 px-1 size-page">
              <div class="container" [@.disabled]="true">
                  <div class="row">
                      <div class="main-content sort-filter">
                          <ul>
                              <li>
                                  <a [class.active]="sortBy == 'All'" (click)="filterbyOrderStatus('All'); close()">
                                      <i class="fal fa-fire"></i>ALL</a>
                              </li>
                              <li>
                                  <a [class.active]="sortBy == 'Returned'" (click)="filterbyOrderStatus('Returned'); close()">
                                      <i class="fal fa-undo"></i>Returned</a>
                              </li>
                              <li>
                                  <a [class.active]="sortBy == 'Order in Process'" (click)="filterbyOrderStatus('Order in Process'); close()"><i class="fal fa-repeat"></i> Order in Process</a>
                              </li>
                              <li>
                                  <a [class.active]="sortBy == 'Delivered'" (click)="filterbyOrderStatus('Delivered'); close()"><i class="fal fa-box-check"></i> Delivered</a>
                              </li>
                              <li>
                                  <a [class.active]="sortBy == 'Cancelled'" (click)="filterbyOrderStatus('Cancelled'); close()"><i class="fal fa-times-circle"></i> Cancelled</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
</ng-template>