.breadcrumb ul li {
	display: inline-block;
	text-align: center;
}

.breadcrumb ul {
	margin: 0;
}

.ItemList-itemView {
	height: auto;
	background: #ffffff;
	// width: 95%;
	padding: 10px 15px;
	margin-left: auto;
	margin-right: auto;
	margin: 6px 0 8px 0;
	border-radius: 5px;
}
.color-code
{
	width: 18px;
    height: 18px;
    position: relative;
    content: "";
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 12px;
    margin-bottom: 0;
    box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
    margin-top: 0px;
}
.status-color-type li
{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}
.status-color-type label
{
   margin-right:12px
}
.status-color-type
{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  
    margin-bottom: 0px;
}

.price-text
{
	font-weight: 600;
    color: #e75e83 !important;
}
@media (max-width: 767px) {

	.status-color-type label {
		margin-right: 5px;
	}
	.filter-m i
	{
		font-size: 15px;
	}
	.color-code {
		width: 15px;
		height: 15px;
		position: relative;
		content: "";
		vertical-align: middle;
		border-radius: 50%;
		margin-left: 5px;
		margin-bottom: 0;
		box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
		margin-top: 0px;
	}
	.ItemList-itemView {
		// width: 48%;
	}
	.status-color-type {
		 display: inherit;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
	
		margin-bottom: 0px;
	}
	.status-color-type li {
	    display: inline-block;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: auto;
    font-size: 10px;
	}
	
}

.itemDetails p {
    font-size: 12px;
    line-height: 15px;
    padding: 2px 0;
}

.ItemStatus-itemDetailsContainer {
	display: flex;
	align-items: start;
}

.ItemStatus-circleBackgroundIconWithStatus {
	padding-top: 1px;
	width: 32px;
	height: 100%;
}

.CustomStatusIcon-circleBackgroundIconWithStatus {
	width: 32px;
	height: 32px;
	display: flex;
	border-radius: 20px;
}

.CustomStatusIcon-status {
	height: 20px;
	width: 20px;
	margin-top: 4px;
	margin-left: 4px;
}


.ItemStatus-title {
	line-height: 21px;
}

.ProductList-productName p {
    margin-bottom: 0;
    padding: 0;
    display: flex;
}

.ProductList-productName p {
    font-size: 12px;
	line-height: 13px;
	color: #282c3f;
}

.ProductList-productName li p span {
    padding-right: 12px;
    width: 65px;
    position: relative;
}

.ProductList-productName li p span::after {
    content: ":";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: -52px;
   font-size: 1.1vw;
}

.Text-Text {
	font-family: 'Lato', sans-serif !important;
	font-size: 12px;
	line-height: 1;
	color: #282c3f;
	margin-bottom: 0;
}

.product {
	background-color: #f5f5f5;
	padding: 8px;
}

.ProductList-imageAndDetails {
	display: flex;
	position: relative;
}

.ProductList-thumbnail {
	border: 1px solid #edeeef;
	position: relative;
	border-radius: 2px;
}

.image-imgResponsiveNew {
	display: block;
	max-width: 100%;
	height: 100%;
	border-radius: 2px;
}

.ActionMessage-actionMessage {
	background-color: #ffffff;
	display: flex;
	height: 46px;
	width: 100%;
	padding-top: 16px;
}

.ActionMessage-dot {
	margin-right: 11px;
	margin-top: 3px;
	top: 14.5px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background-color: #03a685;
}

.profileSuggestions-containerV2 {
	padding: 8px 0 0 0;
}

.profileSuggestions-profilesContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profileSuggestions-headerTextV2 {
	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	color: #696e79;
	max-width: 25%;
	min-width: 16%;
	white-space: nowrap;
}

.profileSuggestions-allProfilesV2 {
	overflow: auto;
	white-space: nowrap;
	min-height: 34px;
	width: auto;
	margin-left: 10%;
}

.profileSuggestions-profileV2 {
	font-family: 'Lato', sans-serif !important;
	font-size: 12px;
	font-weight: 500;
	margin-right: 4px;
	margin-left: 4px;
	color: #282c3f;
	border: 0.5px solid #BFC0C6;
	border-radius: 25px;
	display: inline-block;
	padding: 8px 10px;
	width: auto;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.profileSuggestions-profileV2:last-child {
	margin-right: 0;
}

.profileSuggestions-profileV2 {
	font-family: 'Lato', sans-serif !important;
	font-size: 12px;
	font-weight: 500;
	margin-right: 4px;
	margin-left: 4px;
	color: #282c3f;
	border: 0.5px solid #BFC0C6;
	border-radius: 25px;
	display: inline-block;
	padding: 8px 10px;
	width: auto;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.red-colored-border {
	border-right: 3px solid rgb(255,189,189);
}

.blue-colored-border {
	border-right: 3px solid rgb(140, 165, 255);
}

.orange-colored-border {
	border-right: 3px solid rgb(255, 189, 134);
}

.green-colored-border {
	border-right: 3px solid rgb(167, 255, 187);
}

.addAddressModal-form.addAddressModal-mobile {
	width: 100%;
}

.addAddressModal-form {
	position: fixed;
	background-color: #F5F5F6;
	text-align: left;
	// box-sizing: border-box;
	z-index: 13;
	color: #535766;
	// overflow-y: scroll;
}

.addAddressModal-form .addAddressModal-modalHeading {
	background-color: white;
	font-weight: 600;
	padding: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid #d4d5d9;
}

.addAddressModal-form .addAddressModal-modalHeading  i {
	font-size: 19px;
	color: #3e4152;
	font-style: normal;
	padding-left: 8px;
}

.woodmart-cart-icon:before {
	content: "";
	font-family: "woodmart-font";
}

.search-section {
    padding: 15px 0 6px;
}
.search-button {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
}

.search-button input {
    height: 29px;
    background: #fff;
    font-size: 12px;
    border: 1px solid #cac7f6;
    border-radius: 5px;
}
.search-button .input-group-btn:last-child > .btn, .search-button .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: 0px;
}
.search-button button {
    border: none;
    height: 29px;
    color: #6f6f6fb8 !important;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    position: absolute;
    right: 5px;
}

.input-group {
	width: 100%;
}

.filter-sort-strip {
	padding: 3px 0 5px;
	background: #e75e83;
	box-shadow: 0 1px 2px 0 rgba(148, 150, 159, 0.3);
	z-index: 20;
}

.filter-sort-strip button {
	background: transparent;
	border: none;
	text-align: center;
	color: #Fff;
	font-size: 14px;
}

.slider {
	overflow-y: hidden;
	max-height: 500px;
 /* approximate max height */
	box-sizing: border-box;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}

.slider.closed {
	max-height: 0;
}

.filter-sort-strip button i {
	margin-right: 9px;
	font-size: 12px;
}

.filter-sort-strip .border-right {
	border-right: 0.5px solid #ccc;
}

.title-info {
	font-size: 16px;
	margin-bottom: 11px;
	font-weight: 600;
}

.sort-filter {
	padding: 0px;
}

.sort-filter ul {
	margin: 0;
}

.sort-filter li {
	display: flex;
	vertical-align: middle;
	align-items: center;
	padding: 5px 0px;
}

.sort-filter ul li a.active {
	border-left: 4px solid #e75e83;
	color: #e75e83;
	font-weight: 600;
}

.sort-filter ul li a {
	color: #3e4152;
	padding: 0px;
	width: 100%;
}

.sort-filter i {
	margin-right: 7px;
	width: 24px;
	text-align: center;
}

.order-image {
	height: auto;
    width: 53px;
}

ul {
	list-style: none;
}

.side-widget.active {
    bottom: 0;
}

.side-widget {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    bottom: -110%;
    transition: all 0.8s ease;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    background: #f0f7ff;
    background-position: 50%;
    background-size: cover;
    z-index: 9999;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
    padding: 0 0 20px;
    color: #fff;
    right: 0;
}



/**/
@media screen and (min-width: 1024px) {
    .container {
        display: flex;
    }
    .UserMenu--container__zoaCJ {
        padding: 0;
    }
}

ul {
    list-style-type: none;
}


.profile-Card {
    background: #f5e6e0;
    padding: 16px;
    margin-bottom: 24px;
}

.profile-Card button {
    background-color: transparent;
    border: 1px solid #222;
    color: #222;
    letter-spacing: 1px;
    width: 100%;
    font-size: 13px;
    min-height: 48px;
    padding: 12px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.menuItem a {
    color: #222;
    display: block;
    font-size: 13px;
    padding: 16px 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.menuItem a .arrowRight {
    height: 16px;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
}

.ItemList-itemView p, .ItemList-itemView ul {
	margin-bottom: 0;
}

.breadcrumbs {
    display: block;
    font-size: 1.1rem;
}
.breadcrumbs ol {
    list-style: none;
    display: inline-block;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}
ol {
    max-width: 540px;
}
.breadcrumbs ol li {
    display: inline-block;
}
.breadcrumbs ol li>a {
    text-decoration: none;
}
.BodyText-module--small__2SSIP {
    font-size: 1.1rem;
    line-height: 1.45;
}
.BodyText-module--general__2yKZb {
    font-size: 1.3rem;
    line-height: 1.5;
}
.breadcrumbs ol li:not(:last-of-type)::after {
    content: " / ";
    position: relative;
    top: 2px;
}

.search-button .input-group {
    width: 85%;
}
.search-button .filter-m {
	padding: 1px 0.5rem;
    border-radius: 5px;
    background: #e75e8a;
    color: #fff;
}