@media only screen and (min-width: 280px) and (max-width: 767px) {
    .home-page {
        background: #fff;
    }

    .slider-home {
        margin: 5px 7px 0;

        img {
            border-radius: 6px;


        }
    }

    .cart-slider p {
        font-size: 13px;
        line-height: 18px;
        background: #e75e83;
        color: #fff;
        margin-top: 0px;
        padding: 3px 3px;
        margin-bottom: 11px;
        text-align: center;
      }
      
      .cart-slider .Bold {
        display: inline-block;
        margin-left: 1px;
        color: #e75e83;
        font-weight: 600;
      }
    .icon-box {
        position: relative;
        text-align: center;
        padding: 20px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .1);
        transition: .3s;
        overflow: hidden;
        height: 168px;
    }

    .icon-box span {
        display: block;
        margin-bottom: 20px;
    }

    .icon-box span i {
        font-size: 50px;
        margin-bottom: 10px;
        line-height: 1;
    }

    .text-light-green {
        color: #ba412a;
    }

    .search-section {
        padding: 6px 0 0;
    }

    .search-button {
        max-width: 470px;
        width: 100%;
        margin: 0 auto;
        border-radius: 6px;

        &:focus {
            outline: none;
        }

        .form-control {

            &:focus {
                box-shadow: none;
            }
        }

        input {
            height: 29px;

            background: #f0f4f7;
            font-size: 12px;
            border: 1px solid #cac7f6;
            border-radius: 5px;
        }

        button {
            border: none;
            height: 29px;
            color: #6f6f6fb8 !important;
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 12px;
            position: absolute;
            right: 0;

            &:hover,
            &:focus,
            &:active,
            &:visited {
                color: #fff;

                outline: none;
                transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -o-transition: all ease 0.3s;
                -ms-transition: all ease 0.3s;

                &:before {

                    transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -o-transition: all ease 0.3s;
                    -ms-transition: all ease 0.3s;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                height: 1px;

                width: 100%;
                transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -o-transition: all ease 0.3s;
                -ms-transition: all ease 0.3s;
            }
        }

        .input-group-btn:last-child>.btn,
        .input-group-btn:last-child>.btn-group {
            z-index: 2;
            margin-left: 0px;
        }
    }

    .categories-section ul {
        margin-bottom: 0;
        margin: 0 auto;


        width: 100%;

    }

    .categories-section {

        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        background-color: #fff;
        background-clip: border-box;
        margin: 5px 7px 0;
        padding: 12px 7px 12px;
        border: 0px;

        border-radius: 6px;

        li {
            display: inline-block;
            width: 19.6%;
            text-align: center;
            margin-bottom: 10px;
            margin-right: 1px;


            p {
                font-size: 8px;
                margin: 0;
                line-height: 18px;
                padding-top: 4px !important;
                padding: 0;
                color: #8e8e8e;
                white-space: nowrap;
            }

            &:nth-child(5n) {
                margin-right: 0;
            }
        }

        img {
            line-height: 28px;
            width: 27px;
            height: auto;
            margin: 0px auto;
            font-size: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0px;
            margin-bottom: 0px;
            max-width: 400px;
            transition: all 0.3s ease;
        }

        .cat-block {

            width: 14vw;
            text-align: center;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 8vh;
            line-height: 50px;
            border-radius: 6px;
            background: #fff;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
            -ms-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);


            p {
                font-size: 12px;
                line-height: 13px;
                font-weight: 400;
                color: #404040;
            }

        }
    }

    .flash-deals {

        background: #f0f7ff;
        margin: 5px 7px 0;
        border-radius: 6px;
        padding: 5px 2px;

        .productlist-block {
            padding: 2.34px 2px !important;
            margin-bottom: 9px;
        }

        .product-list {
            position: relative;

            img {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }

        .product-details {
            border: 1px solid #cac7f6;
            box-shadow: 0 1px 1px #9ccae8;
            border-top: 0;
            background-color: #FFF;
            padding: 4px 2px 9px !important;
            margin-bottom: 13px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            p {
                font-size: 6px !important;
                text-align: center;
                width: 100%;
                color: #e75d81 !important;
                padding: 2px;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 0;
                line-height: 5px !important;
            }

           

            ul {
                text-align: center;
                margin-bottom: 0;
                line-height: 1px;
            }

            li {
                list-style-type: none;
                display: inline-block;
                font-size: 6px !important;
                margin-right: 3px !important;
            }
               li.sell-price {
                    color: #333;
                    font-weight: 700;
                    text-align: center;
                }

               

               
                li.mrp-price {
                    opacity: 0.4;
                    color: #282c3f;
                    text-decoration: line-through;
                    font-size: 6px;
                }

                li.discount-price {
                    color: #e75d81;
                    font-weight: 600;
                    font-size: 5px;
                    white-space: nowrap;
                    margin-right: 0px !important;



                }
            }

            h4 {
                font-size: 8px !important;
                color: #939393 !important;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 1px !important;
            }
            .slick-slide {
                margin: 0px 0px 0 0;
            }
    }

    .wishlist-block {
        background: #f0f7ff;
        width: 18px;
        height: 18px;
        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        line-height: 18px;
        border-radius: 50%;
        position: absolute;
        bottom: 74px;
        right: 8px;
    }

    .features-section {
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        margin: -5px 7px 0;
        border-radius: 5px;

        .feature-block {
            display: -webkit-inline-box;

            position: relative;

            .f-img {
                img {
                    width: 23px;
                }
            }

            p {
                width: 75%;
                line-height: 12px;
                padding-left: 6px;
                margin: 0;
                font-size: 9px;
                font-weight: 500;
                display: flex;
                vertical-align: middle;
                justify-content: center;
                align-items: center;
                z-index: -1;

                &::before {
                    width: 74%;
                    height: 0.8px;
                    position: Absolute;
                    content: "";
                    bottom: 3px;
                    left: 30px;
                    background: #626263;
                }
            }
        }

        .f-img {
            background: #fff;
            border: 1.2px solid #626263;
            width: 40px;
            padding: 2px;
            text-align: center;
            height: 40px;
            border-radius: 50%;
            vertical-align: middle;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
        }
    }

    .features-section .section-maintitle {

        font-size: 15px;
        position: relative;
        top: 17px;
        margin-bottom: 30px !important;

    }

    .superoffer-section .super-offer p {
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 500;
        padding: 0;
        line-height: 37px;
        color: #fff;
    }

    .superoffer-section .super-offer span {
        margin: 0;
        line-height: 10px;
        font-weight: 500;
    }

    .superoffer-section .super-offer h3 {
        margin-bottom: 0;
        display: block;
        font-weight: 700;
        font-size: 26px;
        line-height: 2px;
        margin-top: 1px;
        color: #fff;

    }

    .super-offer {
        background: #e75e83;
        border: 1px solid #cac7f6;
        box-shadow: 0 1px 3px 0 #9ccae8;
        width: 90px;
        height: 90px;
        padding: 5px;
        line-height: 41px;
        text-align: center;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .categoriesmain-section {

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 5px 7px 0;
        border-radius: 6px;

    }

    .categoriesmain-section img {
        border-radius: 5px;
        background: #fff;
        border: 1px solid #cac7f6;
        box-shadow: 0 1px 3px 0 #9ccae8;
    }

    .categoriesmain-section .section-maintitle {
        margin-bottom: 10px
    }

    .home-strip p {
        font-size: 11px;
        font-weight: 500;
        color: #fff;
        margin: 0;
        letter-spacing: 1px;
        color: #000;
        padding: 0;
        text-transform: capitalize;
    }

    .home-strip {
        text-align: center;
        background: #f0f7ff;
        padding: 0px 0;
    }

    .price-section .price-block {
        border: 1px solid #cac7f6;
        box-shadow: 0 1px 3px 0 #9ccae8;
        border-radius: 5px;
        line-height: 43px;
        text-align: center;
        vertical-align: middle;
        text-align: center;
        padding: 25px 0;
        align-items: center;
        justify-content: center;
        color: #fff;
        display: block;
        background: #fff;
    }

    .price-section .col-sm-3,
    .price-section .col-xs-3 {
        padding: 5px;
    }

    .price-block p {
        margin: 0;
        padding: 0;
        line-height: 14px;
        color: #000;
    }

    .price-section .col-sm-3:nth-child(1) h3 {
        color: #2bd4ac;
    }

    .price-section .col-sm-3:nth-child(2) h3 {
        color: #f989b6;
    }

    .price-section .col-sm-3:nth-child(3) h3 {
        color: #9fcc6b;
    }

    .price-section .col-sm-3:nth-child(4) h3 {
        color: #f67167;
    }

    .price-section {
        background: #f0f7ff;
        margin: 5px 7px 0;
        border-radius: 6px;
        padding: 5px 2px;

    }

    .categoriesmain-section i {

        color: #656567;
        font-size: 10px;
        padding-left: 2px;

    }

    .categoriesmain-section .anchor {
        font-size: 12px;
        text-align: center;
        color: #656567;
        font-weight: 700;
        border-bottom: 1px solid #656567;
    }

    .categoriesmain-section .m0-auto {
        margin-top: 10px;
    }

    .price-block h3 {
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 0;
    }
}

.block-deals {
    background: #000;
    padding: 0px 0px 15px;
    background: #fff;
    box-shadow: 0 1px 5px #9ccae8;
    position: relative;
    vertical-align: middle;
}

.deals-day{
    background-image: url(/assets/images/icons/supermobile3.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 17px 5px;
    margin-bottom: 14px;
    font-size: 18px;
    margin-bottom: 0 !important;
    margin-top: 0px !important;
    background-position: center;
}



.deals-day{
    background-image: url(/assets/images/icons/supermobile3.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 17px 5px;
    margin-bottom: 14px;
    font-size: 18px;
    margin-bottom: 0 !important;
    margin-top: 0px !important;
    background-position: center;
}

