<!-- <app-mobile-homeheader></app-mobile-homeheader> -->
<div class="home-page dt-none">
  <div *ngIf="!loading">
    <img src="assets/images/mobile_covid_banner.png" class="w-100" />
    <section class="p-a0 slider-home">
      <div class="container-fluid p-a0">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let slider of sliders"
            ><img
              [src]="imgUrl + '/' + slider.image_path"
              (click)="scrollToElement(targetDealsMobile, slider.slider_url)"
          /></ng-template>
        </owl-carousel-o>
      </div>
    </section>
    <div #targetDealsMobile></div>
    <section class="categories-section dt-none">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 p-0">
            <ul>
              <ng-container *ngFor="let category of categories">
                <li
                  class="has-children"
                  *ngIf="category.view == 'b' || category.view == 'm'"
                >
                  <a
                    routerLink="/category/{{ category.slug }}"
                    (click)="
                      categoryid(category.id, category.slug, category.type)
                    "
                  >
                    <div class="cat-block">
                      <img src="{{ category.icon_path }} " />
                    </div>
                    <p>{{ category.title }}</p>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section
      class="category-section deals-mobile"
      *ngIf="deals?.length > 0 || upcomingDeals?.length > 0"
    >
      <div class="container">
        <div class="col-lg-12 col-md-3 col-xs-12 col-sm-12 block-deals">
          <h3 class="section-maintitle text-center deals-day col-lg-12"></h3>
          <ngx-slick-carousel
            class="carousel slider-for"
            #slickModal2="slick-carousel"
            [config]="dealsConfig"
          >
            <div
              ngxSlickItem
              class="productlist-block custom-image-size"
              *ngFor="let product of deals; let i = index"
            >
              <div class="product-list my-1 custom-image-size">
                <div class="product-image">
                  <a
                    routerLink="/products/{{ product.slug }}/{{
                      product.unique_id
                    }}"
                  >
                    <img
                      src="{{ product.thumbnail_path }}"
                      (error)="onImgError($event)"
                    />
                  </a>
                </div>
                <div class="product-details">
                  <p *ngFor="let sell of product.seller">
                    {{ product.seller_company_name }}
                  </p>
                  <h4
                    routerLink="/products/{{ product.slug }}/{{
                      product.unique_id
                    }}"
                  >
                    {{ product.name }}
                  </h4>
                  <ul class="text-nowrap">
                    <li class="sell-price">
                      &#x20B9;<span>{{ product.deal_price }}</span>
                    </li>
                    <li
                      class="sell-mrp"
                      *ngIf="product.mrp != product.deal_price"
                    >
                      &#x20B9;<span>{{ product.mrp }}</span>
                    </li>
                    <li
                      class="sell-discount"
                      *ngIf="product.discount_percent > 0"
                    >
                      (<span>{{ product.discount_percent.toFixed(1) }}</span> %
                      OFF)
                    </li>
                  </ul>
                </div>
                <div class="product-info-bottom">
                  <div class="left-group">
                    <div class="table-countdown">
                      <ng-container *ngIf="product.timeLeft > 86400">
                        <countdown
                          #countdown
                          [config]="{ leftTime: product.timeLeft }"
                          (finished)="finishTest()"
                          >$!d!$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <ng-container *ngIf="product.timeLeft < 86400">
                        <countdown
                          class="countdown-three"
                          #countdown
                          [config]="{ leftTime: product.timeLeft }"
                          (finished)="finishTest()"
                          >$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <!-- <ng-container *ngIf="product.timeLeft == 86400">
                        <countdown
                          class="countdown-upcoming"
                          #countdown
                          [config]="{
                            leftTime: product.timeLeft,
                            demand: true
                          }"
                          >$!d!$!h!$!m!$!s!</countdown
                        > -->
                      <!-- </ng-container> -->
                      <!-- <countdown [config]="{leftTime: 100000}"></countdown> -->
                    </div>
                    <div></div>
                  </div>
                </div>
                <div class="claimed-div">
                  <mat-progress-bar
                    class="deals-progressbar"
                    mode="determinate"
                    [value]="product.claimed"
                  ></mat-progress-bar>
                  <span class="claim-text">{{ product.claimed }}% Claimed</span>
                </div>
                <!-- <div class="d-flex">
                  <button
                    type="submit"
                    class="w-100 btn btn-style-bg3 text-uppercase m-t2"
                  >
                    Claim Now
                  </button>
                </div> -->
              </div>
            </div>
            <div
              ngxSlickItem
              class="productlist-block custom-image-size"
              *ngFor="let product of upcomingDeals; let i = index"
            >
              <div class="product-list my-1 custom-image-size">
                <div class="product-image">
                  <img
                    src="{{ product.thumbnail_path }}"
                    (error)="onImgError($event)"
                  />
                </div>
                <div class="product-details">
                  <p *ngFor="let sell of product.seller">
                    {{ product.seller_company_name }}
                  </p>
                  <h4>
                    {{ product.name }}
                  </h4>
                  <ul class="text-nowrap">
                    <li class="sell-price">
                      &#x20B9;<span>{{ product.deal_price }}</span>
                    </li>
                    <li
                      class="sell-mrp"
                      *ngIf="product.mrp != product.deal_price"
                    >
                      &#x20B9;<span>{{ product.mrp }}</span>
                    </li>
                    <li
                      class="sell-discount"
                      *ngIf="product.discount_percent > 0"
                    >
                      (<span>{{ product.discount_percent.toFixed(1) }}</span> %
                      OFF)
                    </li>
                  </ul>
                </div>
                <div class="product-info-bottom">
                  <div class="left-group">
                    <div class="table-countdown">
                      <ng-container *ngIf="product.dealTimeInSeconds > 86400">
                        <countdown
                          class="countdown-upcoming"
                          #countdown
                          [config]="{
                            leftTime: product.dealTimeInSeconds,
                            demand: true
                          }"
                          >$!d!$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <ng-container *ngIf="product.dealTimeInSeconds < 86400">
                        <countdown
                          class="countdown-three countdown-upcoming"
                          #countdown
                          [config]="{
                            leftTime: product.dealTimeInSeconds,
                            demand: true
                          }"
                          (finished)="finishTest()"
                          >$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <!-- <ng-container *ngIf="product.timeLeft > 86400">
                        <countdown
                          #countdown
                          [config]="{ leftTime: product.timeLeft }"
                          (finished)="finishTest()"
                          >$!d!$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <ng-container *ngIf="product.timeLeft == 86400">
                        <countdown
                          class="countdown-upcoming"
                          #countdown
                          [config]="{
                            leftTime: product.timeLeft,
                            demand: true
                          }"
                          >$!d!$!h!$!m!$!s!</countdown
                        >
                      </ng-container> -->
                      <ng-container *ngIf="product.timeLeft < 86400">
                        <countdown
                          class="countdown-three"
                          #countdown
                          [config]="{ leftTime: product.timeLeft }"
                          (finished)="finishTest()"
                          >$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <!-- <countdown [config]="{leftTime: 100000}"></countdown> -->
                    </div>
                    <div></div>
                  </div>
                </div>
                <!-- <div class="claimed-div">
                  <mat-progress-bar
                    class="deals-progressbar"
                    mode="determinate"
                    [value]="product.claimed"
                  ></mat-progress-bar>
                  <span class="claim-text">{{ product.claimed }}% Claimed</span>
                </div> -->
                <!-- <p *ngIf="product.startsIn < 86400">
                  <countdown
                    class="countdown-claimed"
                    #countdown
                    [config]="{ leftTime: product.startsIn }"
                    (finished)="finishTest()"
                    >Starts in $!h!$!m!$!s!</countdown
                  >
                </p>
                <p *ngIf="product.startsIn > 86400">
                  <countdown
                    class="countdown-claimed"
                    #countdown
                    [config]="{ leftTime: product.startsIn }"
                    (finished)="finishTest()"
                    >Starts in $!d!$!h!$!m!$!s!</countdown
                  >
                </p> -->
                <div class="d-flex">
                  <div class="w-100 starts-strip">
                    <p class="p-a0 m-a0" *ngIf="product.startsIn > 86400">
                      <span class="start-label">Starts in</span>
                      <countdown
                        class="countdown-claimed"
                        #countdown
                        [config]="{ leftTime: product.startsIn }"
                        (finished)="finishTest()"
                      >
                        $!d!$!h!$!m!$!s!</countdown
                      >
                    </p>
                    <p class="p-a0 m-a0" *ngIf="product.startsIn < 86400">
                      <span class="start-label">Starts in</span>
                      <countdown
                        class="countdown-claimed"
                        #countdown
                        [config]="{ leftTime: product.startsIn }"
                        (finished)="finishTest()"
                      >
                        $!h!$!m!$!s!</countdown
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
          <!-- s -->
        </div>
      </div>
    </section>
    <section
      class="flash-deals flashmobile carousel-recommended"
      *ngIf="flashdeals?.length > 0"
    >
      <div class="container-fluid p-l5 p-r5">
        <h3 class="section-maintitle">Flash Deals</h3>
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="slideConfig"
        >
          <div
            ngxSlickItem
            class="productlist-block"
            *ngFor="let product of flashdeals; let i = index"
          >
            <a
              (click)="
                productvariant(
                  product.product_variant_id,
                  i,
                  product.product_id
                )
              "
              href="javascript:void(0)"
              class="ng-star-inserted"
            >
              <div class="product-list custom-image-size">
                <div class="product-image">
                  <img
                    class="border"
                    (error)="onImgError($event)"
                    src="{{ imgUrl + '/' + product.thumbnail_img_name }}"
                  />
                  <div class="product-details">
                    <h4>{{ product.name }}</h4>
                    <ul>
                      <li class="sell-price">
                        Rs. <span>{{ product.fabpik_seller_price }}</span>
                      </li>
                      <li
                        class="mrp-price"
                        *ngIf="product.price != product.mrp"
                      >
                        Rs. <span>{{ product.mrp }}</span>
                      </li>
                      <li class="discount-price" *ngIf="product.discount > 0">
                        (<span>{{ product.discount }}%</span>OFF)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </ngx-slick-carousel>
      </div>
    </section>
    <section class="p-a0 slider-home">
      <div class="container p-a0">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let slider of offersliders"
            ><img [src]="slider.image"
          /></ng-template>
        </owl-carousel-o>
      </div>
    </section>
    <section class="price-section">
      <div class="container">
        <h3 class="section-maintitle text-center text-uppercase">
          Shop By Pricing
        </h3>
        <div class="row v-row">
          <div class="col-lg-3 col-sm-3 col-xs-3" *ngFor="let price of prices">
            <div class="price-block" (click)="priceFilters(0, price.price)">
              <p>Under</p>
              <h3>{{ price.price }}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="features-section"
      style="background-image: url(./assets/images/background/feature-bg.png)"
    >
      <div class="container">
        <h3 class="section-maintitle atext-left text-uppercase m-t10">
          Experience Fabpik
        </h3>
        <div class="row v-row">
          <div class="col-lg-8 col-sm-8 col-xs-8">
            <div class="row v-row">
              <div
                class="col-lg-6 col-xs-6 col-sm-6 m-b30"
                *ngFor="let feature of features"
              >
                <div class="feature-block">
                  <div class="f-img">
                    <img [src]="feature.image" />
                  </div>
                  <p>{{ feature.name }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4"></div>
        </div>
      </div>
    </section>
    <section class="p-a0 cart-slider dt-none">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide class="productlist-block">
          <p>Free shipping on orders above Rs.500</p>
        </ng-template>
        <ng-template carouselSlide class="productlist-block">
          <p>Best Price Guaranteed else get the difference back !</p>
        </ng-template>
      </owl-carousel-o>
    </section>
    <section class="superoffer-section">
      <div class="container">
        <h3 class="section-maintitle text-center text-uppercase">
          Super Savers
        </h3>
        <div class="row v-row ml-0 m-r20">
          <div class="col-lg-4 col-sm-4 col-xs-4" *ngFor="let offer of offers">
            <a (click)="supersaver(offer.offer)">
              <div class="super-offer">
                <p>Flat</p>
                <h3>{{ offer.offer }}%</h3>
                <span>OFF</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section
      class="categoriesmain-section"
      style="background-image: url(./assets/images/background/girls.png)"
    >
      <div class="container">
        <h3 class="section-maintitle text-left text-uppercase mb-20">
          Girls Clothing
        </h3>
        <div class="row">
          <div class="col-lg-10 col-sm-9 col-xs-9">
            <div class="row">
              <div
                class="col-lg-4 col-sm-4 col-xs-4 pr-0"
                *ngFor="let girls of girlsclothing"
              >
                <a (click)="girlClothing()"> <img [src]="girls.image" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="categoriesmain-section"
      style="background-image: url(./assets/images/background/boys.png)"
    >
      <div class="container">
        <h3 class="section-maintitle text-left text-uppercase mb-20">
          Boys Clothing
        </h3>
        <div class="row">
          <div class="col-lg-10 col-sm-9 col-xs-9">
            <div class="row">
              <div
                class="col-lg-4 col-sm-4 col-xs-4 pr-0"
                *ngFor="let boys of boysclothing"
              >
                <a (click)="boyClothing()"> <img [src]="boys.image" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="categoriesmain-section"
      style="background-image: url(./assets/images/background/toys.png)"
    >
      <div class="container">
        <h3 class="section-maintitle text-left text-uppercase mb-20">Toys</h3>
        <div class="row">
          <div class="col-lg-10 col-sm-9 col-xs-9">
            <div class="row">
              <div
                class="col-lg-4 col-sm-4 col-xs-4 pr-0"
                *ngFor="let toy of toys"
              >
                <a (click)="toyslink()"><img [src]="toy.image" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Skeleton-Loader -->
  <div *ngIf="loading">
    <section class="p-a0 slider-home">
      <div class="container-fluid p-a0">
        <ngx-skeleton-loader
          [theme]="{
            'border-radius': '6px',
            width: '100%',
            height: '108px'
          }"
        >
        </ngx-skeleton-loader>
      </div>
    </section>
    <section class="categories-section dt-none">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 p-0">
            <ul>
              <li *ngFor="let category of [1, 2, 3, 4, 5, 6, 7, 8]">
                <a
                  routerLink="/category/{{ category.slug }}"
                  (click)="
                    categoryid(category.id, category.slug, category.type)
                  "
                >
                  <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{
                      width: '60px',
                      height: '60px',
                      'border-radius': '6px',
                      margin: '0'
                    }"
                  >
                  </ngx-skeleton-loader>
                  <p>
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '10px',
                        width: '40px',
                        'border-radius': '0px',
                        margin: '0'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="p-a0 slider-home">
      <div class="container p-a0">
        <ngx-skeleton-loader
          [theme]="{
            'border-radius': '6px',
            width: '100%',
            height: '108px'
          }"
        >
        </ngx-skeleton-loader>
      </div>
    </section>
    <section class="price-section">
      <div class="container">
        <h3 class="section-maintitle text-center text-uppercase">
          <ngx-skeleton-loader
            [theme]="{
              height: '20px',
              width: '40%',
              margin: '0',
              'border-radius': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </h3>
        <div class="row v-row">
          <div
            class="col-lg-3 col-sm-3 col-xs-3"
            *ngFor="let price of [1, 2, 3, 4]"
          >
            <div class="price-block">
              <p>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    'border-radius': '0px',
                    margin: '0'
                  }"
                >
                </ngx-skeleton-loader>
              </p>
              <h3>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    'border-radius': '0px',
                    margin: '0'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="features-section"
      style="background-image: url(./assets/images/background/feature-bg.png)"
    >
      <div class="container">
        <h3 class="section-maintitle text-left text-uppercase m-t10">
          <ngx-skeleton-loader
            [theme]="{
              height: '20px',
              width: '40%',
              margin: '0',
              'border-radius': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </h3>
        <div class="row v-row">
          <div class="col-lg-8 col-sm-8 col-xs-8">
            <div class="row v-row">
              <div
                class="col-lg-6 col-xs-6 col-sm-6 m-b30"
                *ngFor="let feature of [1, 2, 3, 4]"
              >
                <div class="feature-block">
                  <div class="f-img">
                    <ngx-skeleton-loader
                      appearance="circle"
                      [theme]="{
                        height: '38px',
                        width: '38px',
                        'margin-top': '11px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </div>
                  <p>
                    <ngx-skeleton-loader
                      count="2"
                      [theme]="{
                        height: '10px',
                        width: '40px',
                        margin: '0',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-xs-4"></div>
        </div>
      </div>
    </section>
    <div class="stripText intSection">
      <a class="intSectionLink">
        <ngx-skeleton-loader
          [theme]="{
            height: '30px',
            width: '100%',
            margin: '0',
            'border-radius': '0px'
          }"
        >
        </ngx-skeleton-loader>
      </a>
    </div>
    <section class="superoffer-section">
      <div class="container">
        <h3 class="section-maintitle text-center text-uppercase">
          <ngx-skeleton-loader
            [theme]="{
              height: '20px',
              width: '40%',
              margin: '0',
              'border-radius': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </h3>
        <div class="row v-row ml-0 m-r20">
          <div
            class="col-lg-4 col-sm-4 col-xs-4"
            *ngFor="let offer of [1, 2, 3]"
          >
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{ height: '90px', width: '90px', margin: '0' }"
            >
            </ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </section>
    <section
      class="categoriesmain-section"
      style="background-image: url(./assets/images/background/girls.png)"
    >
      <div class="container">
        <h3 class="section-maintitle text-left text-uppercase mb-20">
          <ngx-skeleton-loader
            [theme]="{
              height: '20px',
              width: '40%',
              margin: '0',
              'border-radius': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </h3>
        <div class="row">
          <div class="col-lg-10 col-sm-9 col-xs-9">
            <div class="row">
              <div
                class="col-lg-4 col-sm-4 col-xs-4 pr-0"
                *ngFor="let girls of [1, 2, 3]"
              >
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{
                    height: '93px',
                    width: '100%',
                    margin: '0',
                    'border-radius': '5px'
                  }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="categoriesmain-section"
      style="background-image: url(./assets/images/background/boys.png)"
    >
      <div class="container">
        <h3 class="section-maintitle text-left text-uppercase mb-20">
          <ngx-skeleton-loader
            [theme]="{
              height: '20px',
              width: '40%',
              margin: '0',
              'border-radius': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </h3>
        <div class="row">
          <div class="col-lg-10 col-sm-9 col-xs-9">
            <div class="row">
              <div
                class="col-lg-4 col-sm-4 col-xs-4 pr-0"
                *ngFor="let boys of [1, 2, 3]"
              >
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{
                    height: '93px',
                    width: '100%',
                    margin: '0',
                    'border-radius': '5px'
                  }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="categoriesmain-section"
      style="background-image: url(./assets/images/background/toys.png)"
    >
      <div class="container">
        <h3 class="section-maintitle text-left text-uppercase mb-20">
          <ngx-skeleton-loader
            [theme]="{
              height: '20px',
              width: '40%',
              margin: '0',
              'border-radius': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </h3>
        <div class="row">
          <div class="col-lg-10 col-sm-9 col-xs-9">
            <div class="row">
              <div
                class="col-lg-4 col-sm-4 col-xs-4 pr-0"
                *ngFor="let toy of [1, 2, 3]"
              >
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{
                    height: '93px',
                    width: '100%',
                    margin: '0',
                    'border-radius': '5px'
                  }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
