<app-desktop-header></app-desktop-header>
<div class="back-btn" (click)="goback()"><i class="lni lni-arrow-left"></i></div>
<section class="login-from" style="">
    <div class="container">
        <h3></h3>
        <form class="form-block">
            <div class="row  v-row offset-lg-2 col-lg-8 form-rowblock">
                <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12 m-none">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let slider of sliders"><img [src]="slider.image" /></ng-template>
                    </owl-carousel-o>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
                    <h2>Login To Your Account</h2>
                    <img src="assets/images/icons/verification.png" />
                    <!-- <mat-form-field>
                        <mat-label>Email Or Mobile Number</mat-label>
                        <input matInput placeholder="Enter Email Or Mobile Number">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Password">
                    </mat-form-field> -->

                    <div class="form-group input-group">
                        <div class="controls">
                            <label class="has-float-label text-left"><span>Mobile Number / Email</span></label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <div class="controls">
                            <label class="has-float-label text-left"><span>Password</span></label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="col-12 m0-auto p-a0">
                        <button type="submit" [routerLink]="['/auth/otpverify']" class="btn btn-style-bg text-uppercase">Login</button>
                    </div>
                    <p  class="link-account text-center m-a0">Forgot Your Password ? <a  routerLink="/auth/forgotpassword" class="anchor-link">Reset Here</a></p>
                   
                </div>
            </div>
        </form>
    </div>
</section>
