.address-block {
	background-color: #fff;
	border: 1px solid transparent;
	padding: 0;
	margin-bottom: 20px;
	border-radius: 6px;
	box-shadow: 0 2px 18px 1px rgba(49,53,72,.1);
	// width: 49%;
}

@media (min-width: 768px) {
	.address-block .mark {
		display: inline;
		font-size: 10px;
		margin: 5px 0 0 2px;
		padding: 2px;
		right: 15px;
		min-width: 70px;
		margin-left: 10px;
	}
}
.address-block .mark {
    margin: 2px 10px 0 10px;
    padding: 1px 10px;
    min-width: 0;
    background: #fff;
    border-radius: 2px;
    color: #eb6083;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #eb6083;
    text-align: center;
    line-height: 14px;
    display: inline-block;
    position: relative;
    left: 0;
}

@media only screen and (max-width: 991px) {
	.address-block {
		width: 100%;
		font-size: var(--font-size-xs);
	}
}


.btn-main-add i {
	margin-right: 7px;
}

.btn-address {
	margin: 0;
	
	border-top: 1px solid #ebebeb;
}

.btn-address li {
	list-style-type: none;
	width: 50%;
	display: inline-block;
}

.btn-address li button {
	letter-spacing: 0;
	width: 100%;
	border-radius: 0;
	color: #fff;
	margin-top: 0;
	font-size: 13px;
    text-transform: uppercase;
    background-color:transparent;
	font-weight: 500;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn-address li button i {
	margin-right: 7px;
}


.btn-address li button {
	background: transparent;
	color: gray;
	font-size: 13px;
	border: none;
}

.contact-no {
	margin-top: 0;
	margin-bottom: 1px;
	width: 100%;
	height: auto;
	font-size: 11px;
	line-height: 1px;
	color: #000;
	font-weight: 500;
	font-weight: 600;
}
.contact-no span{
	color: #3f414d;
}

.address {
	font-size: 12px;
	line-height: 1.42857;
	color: #3f414d;
	margin-bottom: 0;
	padding: 0;
}

.address-type {
	position: relative;
	left: 250px;
	bottom: 85px;
	font-size: 11px;
	padding: 0 7px;
	border-radius: 4px;
	line-height: 13px;
	color: #eb6083;
	border: 1px solid #eb6083;
}

.btn-modal {
	border: 2px solid #777;
	padding: 1px 10px;
}


/**/
@media screen and (min-width: 1024px) {
    .UserMenu--container__zoaCJ {
        padding: 0;
    }
}

ul {
    list-style-type: none;
}

.profile-Card {
    background: #f5e6e0;
    padding: 16px;
    margin-bottom: 24px;
}

.profile-Card button {
    background-color: transparent;
    border: 1px solid #222;
    color: #222;
    letter-spacing: 1px;
    width: 100%;
    font-size: 13px;
    min-height: 48px;
    padding: 12px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.menuItem a {
    color: #222;
    display: block;
    font-size: 13px;
    padding: 16px 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
.menuItem a .arrowRight {
    height: 16px;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
}

.container main {
    width: calc(100% - 325px);
    margin-left: auto;
}

.breadcrumbs {
    display: block;
    font-size: 1.1rem;
}
.breadcrumbs ol {
    list-style: none;
    display: inline-block;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}
ol {
    max-width: 540px;
}
.breadcrumbs ol li {
    display: inline-block;
}
.breadcrumbs ol li>a {
    text-decoration: none;
}
.BodyText-module--small__2SSIP {
    font-size: 1.1rem;
    line-height: 1.45;
}
.BodyText-module--general__2yKZb {
    font-size: 1.3rem;
    line-height: 1.5;
}
.breadcrumbs ol li:not(:last-of-type)::after {
    content: " / ";
    position: relative;
    top: 2px;
}

.address-block .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #999;
}


.address-block .radio input:checked ~ .helper::before {
    color: #f490a0;
}
.address-block .radio .helper::before, .radio .helper::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.25rem;
    width: 1rem;
    height: 1rem;
    transition: transform 0.28s ease;
    border-radius: 50%;
    border: 0.125rem solid currentColor;
}

.address-block .radio input:checked ~ .helper::after {
    transform: scale(0.5);
}
.address-block .radio .helper::after {
    transform: scale(0);
    background-color: #f490a0;
    border-color: #f490a0;
}
.address-block .form-radio label {
    position: relative;
    cursor: pointer;
    padding-left: 1.5rem;
    text-align: left;
    color: #333;
    display: block;
    font-size: 12px;
}
.address-block .form-group input:focus,.address-block .form-group input:valid, .address-block .form-group input.form-file, .address-block .form-group input.has-value {
    color: #333;
}

.address-block .form-radio input {
    width: auto;
    opacity: 1e-8;
    position: absolute;
    left: 0;
}
.address-block .form-group input {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    transition: all 0.28s ease;
    box-shadow: none;
}
.address-block .form-group input {
    height: 1.9rem;
}

.address-block .custom-radio {
    position: absolute;
    top: 24px;
}
.address-block .custom-radio1 {
    position: absolute;
    top: 16px;
    left: 22px;
}