<div class="bg-light-blueshade">
    <app-desktop-header></app-desktop-header>
    <app-breadcrumb [headername]="headername"></app-breadcrumb>

    <section [ngClass]="{'py-2': isMobile}">
        <div class="container">
            <div class="row">
                <div class="col-3 m-none">
                    <app-desktop-side-menu></app-desktop-side-menu>
                </div>
                <div [ngClass]="{'col-md-9':isDesktop, 'container': isMobile}">

                    <div class="bg-white deskdash-breadcrumbs m-none v-row mx-0  row mb-3">
                        <div class="col-lg-4 col-md-4">
                            <h4>Address</h4>
                        </div>
                        <div class="col-lg-8 col-md-8 float-right text-right">
                            <button class="btn-style-bg btn-main-add m-b10  float-right"
                                [routerLink]="['/myaccount/manage-address']">
                                <i class="ti-plus"></i>Add Address
                            </button>
                        </div>

                    </div>

                    <div class="dt-none" *ngIf="!bigloading && AllAddress?.length != 0">

                        <button class="btn-style-bg w-100 btn-main-add" [routerLink]="['/myaccount/manage-address']">
                            <i class="ti-plus"></i>Add New Address
                        </button>
                    </div>
                    <div class="row v-row text-center-nofound" *ngIf="AllAddress?.length == 0 && !loading">
                        <div class="col-lg-12">

                            <img src="assets/images/icons/noaddress.png">
                            <label>Add address for easier timely delivery</label>
                            <button class="btn-style-bg margin-auto m-t10  btn-main-add dt-none"
                                [routerLink]="['/myaccount/manage-address']">
                                <i class="ti-plus"></i>Add New Address
                            </button>
                        </div>
                    </div>
                    <div class="mt-3" *ngIf="!loading">
                        <div class="row justify-content-between">
                            <div class="col-md-6" *ngFor="let address of AllAddress">
                                <div class="address-block">
                                    <div class="form-group custom-radio mb-0 col-6">
                                        <div class="form-radio">
                                            <div class="radio d-flex flex-row">
                                                <label class="pr-4">
                                                    <input type="radio" name="radio" value="1"
                                                        [checked]="address.is_default == '1'"
                                                        (click)="isdefault($event.target.value, address.id)">
                                                    <i class="helper"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ml-3 pl-4 pt-3">
                                        <h3 class="font-14 mb-0 mt-1 d-flex justify-content-between">
                                            <span>{{address.name}}</span>
                                            <span class="mark" *ngIf="address.addr_type == 'h'">Home</span>
                                            <span class="mark" *ngIf="address.addr_type == 'w'">Office</span>
                                            <span class="mark"
                                                *ngIf="address.addr_type == 'o'">{{address.addr_other}}</span>
                                        </h3>
                                        <p class="font-12 mb-0 w-70 text-dark word-break text-capitalize">{{address.address}}</p>
                                        <p class="font-12 mb-0 line-7 text-dark">{{address.pincode}}</p>
                                        <p class="font-12 mb-0 line-7 text-dark">{{address.city}}</p>
                                        <p class="font-11 my-0 font-weight-600">Mobile no&nbsp;<span>:
                                                &nbsp;{{address.mobile}}</span></p>
                                    </div>
                                    <ul class="btn-address">
                                        <li>
                                            <button routerLink="/myaccount/manage-address/{{address.id}}"><i
                                                    class="ti ti-pencil-alt"></i>Edit</button>
                                        </li>
                                        <li>
                                            <button (click)="deleteAddress(address.id)">
                                                <i class="ti ti-trash"></i>
                                                Delete
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Skeleton-Loader -->
                    <div class="mt-3" *ngIf="loading">
                        <div class="row justify-content-between">
                            <div class="col-md-6" *ngFor="let item of [1,2,3,4]">
                                <div class="address-block">
                                    <div class="custom-radio1">
                                        <ngx-skeleton-loader appearance="circle"
                                            [theme]="{ width: '18px', height: '18px' }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="ml-3 pl-4 pt-3">
                                        <h3 class="font-14 mt-1 mb-0 d-flex justify-content-between">
                                            <p class="font-12 mb-0 line-7 text-dark">
                                                <ngx-skeleton-loader
                                                    [theme]="{ width: '80px', 'border-radius': '0', height: '10px' }">
                                                </ngx-skeleton-loader>
                                            </p>
                                            <span class="mr-2">
                                                <ngx-skeleton-loader
                                                    [theme]="{ width: '60px', 'border-radius': '0', height: '17px', margin : '0px' }">
                                                </ngx-skeleton-loader>
                                            </span>
                                        </h3>
                                        <p class="font-12 mb-0 line-7 text-dark" *ngFor="let address of [1,2,3,4]">
                                            <ngx-skeleton-loader
                                                [theme]="{ width: '150px', 'border-radius': '0', height: '10px', margin : '0px' }">
                                            </ngx-skeleton-loader>
                                        </p>
                                    </div>
                                    <ul class="btn-address">
                                        <li>
                                            <button>
                                                <ngx-skeleton-loader
                                                    [theme]="{ width: '60px', 'border-radius': '0', height: '14px', margin : '0px' }">
                                                </ngx-skeleton-loader>
                                            </button>
                                        </li>
                                        <li>
                                            <button>
                                                <ngx-skeleton-loader
                                                    [theme]="{ width: '80px', 'border-radius': '0', height: '14px', margin : '0px' }">
                                                </ngx-skeleton-loader>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>