<header
  class="home_header mobile-none"
  id="home_header"
  (scroll)="onWindowScroll($event)"
  [ngClass]="fixed ? 'homeheader-fixed' : ''"
>
  <div class="hm-header">
    <div class="container">
      <div class="row v-row home_header_body">
        <div class="col-xs-2 col-sm-2 pr-0">
          <button class="home-header__menu-button" type="button">
            <i class="far fa-bars"></i>
          </button>
        </div>
        <div class="col-xs-4 col-sm-4 pl-0">
          <a routerLink="/home" class="logo-nav">
            <img src="assets/images/logo.png"
          /></a>
        </div>
        <div class="col-xs-6 col-sm-6">
          <ul class="home-header-list">
            <li class="mobile-indicator d-md-block">
              <a routerLink="/search" routerLinkActive="active">
                <img src="assets/images/icons/search.png" />
              </a>
            </li>
            <li class="mobile-indicator d-md-block d-none">
              <a
                href="javascript:void(0)"
                (click)="addToHomeScreen()"
                routerLinkActive="active"
              >
                <img src="assets/images/icons/addtohomescreen.png" />
              </a>
            </li>
            <li class="mobile-indicator d-md-block">
              <a [routerLink]="['/offers']">
                <img src="assets/images/icons/discount.png" />
              </a>
            </li>
            <li class="mobile-indicator d-md-block">
              <a (click)="gotoCart()">
                <img src="assets/images/icons/cart-bag.png" />
                <span class="count">{{
                  cartcount === null ? "0" : cartcount
                }}</span>
              </a>
            </li>
            <li
              class="mobile-indicator d-md-block"
              (click)="logout()"
              *ngIf="logoutVisible"
            >
              <a>
                <img src="assets/images/icons/ICONS-56 (1).png" width="25px" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row search-hide">
        <div class="search-section">
          <div class="container">
            <form class="search-button ng-untouched ng-pristine ng-valid">
              <div class="input-group">
                <input
                  type="text"
                  placeholder="What are you looking for?"
                  class="form-control"
                  routerLink="/search"
                />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default">
                    <i class="far fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-menu">
  <div class="mobile-menu__backdrop"></div>
  <div class="mobile-menu__body">
    <button class="mobile-menu__close" type="button">
      <svg width="12" height="12">
        <path
          d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
C11.2,9.8,11.2,10.4,10.8,10.8z"
        />
      </svg>
    </button>
    <div class="mobile-menu__panel">
      <div class="mobile-menu__panel-header">
        <div class="mobile-menu__panel-title">
          <a routerLink="/home" class="logo-nav">
            <img src="assets/images/logo.png"
          /></a>
        </div>
      </div>

      <!-- <a class="">login</a> -->
      <div class="mobile-menu__panel-body">
        <div class="mobile-menu__divider"></div>

        <div class="mobile-menu__divider"></div>
        <ul class="mobile-menu__links">
          <li>
            <ul class="tabs" *ngIf="!logoutVisible">
              <li class="tab tab-light">
                <a routerLink="/login"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-log-in icon-dual"
                  >
                    <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
                    <polyline points="10 17 15 12 10 7"></polyline>
                    <line x1="15" y1="12" x2="3" y2="12"></line></svg
                  >Login</a
                >
              </li>
              <li class="tab tab-dark">
                <a routerLink="/signup"
                  ><i class="far fa-user-plus"></i>SignUp</a
                >
              </li>
              <li class="indicator" style="right: 121px; left: 0px"></li>
            </ul>
            <ul class="tabs" *ngIf="logoutVisible">
              <li class="tab tab-light">
                <a routerLink="/wishlist"
                  ><i class="fal fa-heart"></i>Wishlist</a
                >
              </li>
              <li class="tab tab-dark">
                <a (click)="logout()"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-log-out icon-dual"
                  >
                    <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
                    <polyline points="10 17 15 12 10 7"></polyline>
                    <line x1="15" y1="12" x2="3" y2="12"></line>
                  </svg>
                  Logout
                </a>
              </li>
              <li class="indicator" style="right: 121px; left: 0px"></li>
            </ul>
          </li>
          <li data-mobile-menu-item *ngFor="let category of AllCategory">
            <a
              href="index.html"
              class=""
              (click)="categoryClick(category.title)"
              data-mobile-menu-trigger
            >
              {{ category.title }} <i class="far fa-chevron-right"></i>
            </a>
            <div class="mobile-menu__links-panel" data-mobile-menu-panel>
              <div class="mobile-menu__panel mobile-menu__panel--hidden">
                <div class="mobile-menu__panel-header">
                  <button class="mobile-menu__panel-back" type="button">
                    <i class="lni lni-arrow-left"></i>
                  </button>
                  <div class="mobile-menu__panel-title">
                    {{ category.title }}
                  </div>
                </div>
                <div class="mobile-menu__panel-body">
                  <ul class="mobile-menu__links">
                    <li
                      data-mobile-menu-item
                      *ngFor="let subcategory of category.subcategories"
                    >
                      <a href="" class="" data-mobile-menu-trigger>
                        {{ subcategory.title }}
                        <i class="fal fa-chevron-right"></i>
                      </a>
                      <div
                        class="mobile-menu__links-panel"
                        data-mobile-menu-panel
                      >
                        <div
                          class="mobile-menu__panel mobile-menu__panel--hidden"
                        >
                          <div class="mobile-menu__panel-header">
                            <button
                              class="mobile-menu__panel-back"
                              type="button"
                            >
                              <i class="lni lni-arrow-left"></i>
                            </button>
                            <div class="mobile-menu__panel-title">
                              {{ subcategory.title }}
                            </div>
                          </div>
                          <div class="mobile-menu__panel-body">
                            <ul class="mobile-menu__links">
                              <li
                                data-mobile-menu-item
                                *ngFor="
                                  let childcat of subcategory.childcategories
                                "
                              >
                                <a
                                  routerLink="/category/{{ category.slug }}/{{
                                    subcategory.slug
                                  }}/{{ childcat.slug }}"
                                  (click)="
                                    childcatid(
                                      childcat.id,
                                      category.slug,
                                      subcategory.slug,
                                      childcat.slug
                                    )
                                  "
                                  >{{ childcat.title }}</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="mobile-menu__divider"></div>
        <a class="mobile-menu__contacts" routerLink="/support">
          <div class="mobile-menu__contacts-subtitle">FAQs</div>
        </a>
        <a class="mobile-menu__contacts" routerLink="/offers">
          <div class="mobile-menu__contacts-subtitle">Offers</div>
        </a>
        <a class="mobile-menu__contacts" routerLink="/support">
          <div class="mobile-menu__contacts-subtitle">Contact Us</div>
          <!-- <div class="mobile-menu__contacts-subtitle">Free call 24/7</div>
                    <div class="mobile-menu__contacts-title">800 060-0730</div> -->
        </a>
        <a class="mobile-menu__contacts" routerLink="/legal">
          <div class="mobile-menu__contacts-subtitle">More Info</div>
          <!-- <div class="mobile-menu__contacts-subtitle">Free call 24/7</div>
                      <div class="mobile-menu__contacts-title">800 060-0730</div> -->
        </a>
        <div class="mobile-menu__spring"></div>
        <a
          class="mobile-menu__contacts mobile-btn-seller"
          href="https://seller.fabpik.in/"
          target="_blank"
        >
          <div class="mobile-menu__contacts-subtitle">
            <img src="assets/images/icons/user-white.png" />Sell On Fabpik
          </div>
          <!-- <div class="mobile-menu__contacts-subtitle">Free call 24/7</div>
               <div class="mobile-menu__contacts-title">800 060-0730</div> -->
        </a>
      </div>
    </div>
  </div>
</div>
