.home_header
{
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
    position: relative;
    z-index: 100;
  
}
.homeheader-fixed .search-hide
{
    display: none;
}
.search-section
{
    width: 100%;
    margin: 0 8px 5px;
}
.search-button {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    border-radius:6px;
    &:focus {
      outline: none;
    }
    .form-control {
    
      &:focus {
        box-shadow: none;
      }
    }
    input {
        height: 29px;
        background: #f0f4f7;
        font-size: 12px;
        font-size: 9px;
        letter-spacing: 0.1px;
        border: 1px solid #cccccc6b;
        border-radius: 5px;
        box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.1);
    }
    button {
        border: none;
        height: 29px;
        color: #6f6f6fb8 !important;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 12px;
        position: absolute;
        right: 0;
      &:hover, &:focus, &:active, &:visited {
        color: #fff;
     
        outline: none;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        &:before {
         
          transition: all ease 0.3s;
          -webkit-transition: all ease 0.3s;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -ms-transition: all ease 0.3s;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
     
        width: 100%;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
    }
    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
      z-index: 2;
      margin-left: 0px;
    }
  }

.hm-header {
    position: relative;
}

.home_header_body {
    height: 50px;
    display: flex;
}

.home-header__menu-button {
   
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    background: #fff;
    fill: #404040;
}

.home_header__logo {
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 800;
    color: #b74978;
    font-size: 31px;
    margin-left: 0;
    width: 110px;
}

.mobile-indicator {
    position: relative;
}

.home-header-list
{

}


.home-header-list 
{
    margin-bottom: 0;
    right: 0;
    position: relative;
    text-align: right;
}
.home-header-list li
{
    display: inline-block;
    margin-right: 15px;
}
.home-header-list li:last-child
{margin-right:0;
}
.home-header-list li:first-child img
{
    opacity:0;
}
.homeheader-fixed .home-header-list li:first-child img
{
    opacity:1;
}
.home-header-list li img
{
    width: 6vw;
}

.homeheader-fixed
{
    top: 0;
    position: fixed !important;
    background: #fff !important;
    left: 0;
    z-index: 999;
    width: 100%;
   
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.06);
}

.mobile-menu {
    visibility: hidden;
    transition: visibility 0s 0.25s;
}
.mobile-menu__backdrop {
    right: 0;
    background: rgba(51, 51, 51, 0.8);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mobile-menu__backdrop,
.mobile-menu__body {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}
.mobile-menu__body {
    background: #fff;
    width: 250px;
    transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;
    overflow: hidden;
    transform: translateX(-100%);
}
.mobile-menu--open {
    visibility: visible;
    transition-delay: 0s;
}
.mobile-menu--open .mobile-menu__backdrop {
    opacity: 1;
}
.mobile-menu--open .mobile-menu__body {
    transform: translateX(0);
}
.mobile-menu__close {
    position: absolute;
    top: 0;
    width: 48px;
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
    border: none;
    padding: 0;
    fill: currentColor;
    transition: background-color 0.15s, color 0.15s;
    background-color: #fff;
    color: #ccc;
    right: 0;
}
.mobile-menu__close:hover {
    background-color: #f2f2f2;
    color: #4d4d4d;
}
.mobile-menu__close:active {
    background-color: #ebebeb;
    color: #4d4d4d;
}
.mobile-menu__close:focus {
    outline: none;
}
.mobile-menu__panel {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    z-index: 1;
    transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mobile-menu__panel--hide {
    transform: translateX(-100%);
}
.mobile-menu__panel--hidden {
    transform: translateX(100%);
}
.mobile-menu__panel-header {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 51px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 2px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mobile-menu__panel-back,
.mobile-menu__panel-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.mobile-menu__panel-back {
    position: absolute;
    top: 0;
    width: 48px;
    height: 50px;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    border: none;
    fill: currentColor;
    transition: background-color 0.15s, color 0.15s;
    background-color: #fff;
    color: #E91E63;
    left: 0;
    padding: 0 2px 0 0;
}
.mobile-menu__panel-back:hover {
    background-color: #f2f2f2;
    color: #4d4d4d;
}
.mobile-menu__panel-back:active {
    background-color: #ebebeb;
    color: #4d4d4d;
}
.mobile-menu__panel-back svg {
    transform: scaleX(1);
}
.mobile-menu__panel-back:focus {
    outline: none;
}
.mobile-menu__panel-arrow {
    position: absolute;
}
.mobile-menu__panel-title {
    text-align: center;
    margin: auto;
    font-size: 15px;
    font-weight: 500;
}
.fa-chevron-right
{
    position: absolute;
    top: calc(50% - 6px);
    fill: #bfbfbf;
    right: 16px;
    transform: scaleX(1);
    font-size: 12px;
}
.mobile-menu__panel-title .logo-nav img {
    width: 132px;
}
.mobile-menu__panel-body {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mobile-menu__divider {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 1px;
    background: #ebebeb;
}
.mobile-menu__spring {
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.mobile-menu__indicators {
    display: -ms-flexbox;
    display: flex;
    padding: 8px 11px;
}
.mobile-menu__indicator {
    width: calc((100% - 0px * 3) / 3);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    fill: #404040;
    border-radius: 2px;
    padding: 8px 0 6px;
}
.mobile-menu__indicator:hover {
    background: #f2f2f2;
}
.mobile-menu__indicator + .mobile-menu__indicator {
    margin-left: 0;
}
.mobile-menu__indicator-title {
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    color: #999;
    margin-top: 5px;
}
.mobile-menu__indicator-icon {
    position: relative;
}
.mobile-menu__indicator-icon svg {
    display: block;
}
.mobile-menu__indicator-counter {
    position: absolute;
    bottom: calc(100% - 7px);
    color: #fff;
    font-size: 10px;
    line-height: 1;
    padding: 2px 3px 1px;
    border-radius: 6.5px;
    text-align: center;
    z-index: 0;
    font-weight: 500;
    left: calc(100% - 4px);
}
@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
    .mobile-menu__indicator-counter {
        font-weight: 400;
    }
}
.mobile-menu__indicator-counter:before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #e52727;
    z-index: -1;
    border-radius: 2.5px;
    transform: skewX(-11deg);
}
.mobile-menu__links {
    list-style: none;
    padding: 0px 0;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}
.mobile-menu__links > li > a,
.mobile-menu__links > li > button {
    position: relative;
    color: inherit;
    width: 100%;
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 33px 7px 20px;
    text-align: left;
}
.mobile-menu__links > li > a:hover,
.mobile-menu__links > li > button:hover {
    background: #f2f2f2;
}
.mobile-menu__links > li > a:focus,
.mobile-menu__links > li > button:focus {
    outline: none;
}
.mobile-menu__links > li > a svg,
.mobile-menu__links > li > button svg {
    position: absolute;
    top: calc(50% - 6px);
    fill: #bfbfbf;
    right: 16px;
    transform: scaleX(1);
}
.mobile-menu__links > li > a.highlight:before,
.mobile-menu__links > li > button.highlight:before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background: #e52727;
    top: 15px;
    left: 8px;
}
.mobile-menu__links-image {
    display: block;
    width: 22px;
    height: 16px;
    border-radius: 1.5px;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 9px;
}
.mobile-menu__links-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.mobile-menu__contacts {
    text-align: left;
    padding: 7px 24px 7px;
    transition: background 0.2s;
}
.mobile-menu__contacts:hover {
    background: #f2f2f2;
}
.mobile-menu__contacts,
.mobile-menu__contacts:hover {
    color: inherit;
}
.mobile-menu__contacts-subtitle {
    font-size: 13px;
    color: #999;
}
.mobile-menu__contacts-title {
    font-size: 18px;
    font-weight: 500;
}
.mobile-menu__settings-list {
    display: -ms-flexbox;
    display: flex;
}
.mobile-menu__setting {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 50%;
}
.mobile-menu__setting + .mobile-menu__setting {
    border-left: 1px solid #ebebeb;
}
.mobile-menu__setting-button {
    background: transparent;
    border: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: inherit;
    color: inherit;
    position: relative;
    width: 100%;
    padding: 9px 26px 9px 14px;
}
.mobile-menu__setting-button:hover {
    background: #f2f2f2;
}
.mobile-menu__setting-button:focus {
    outline: none;
}
.mobile-menu__setting-panel {
    display: none;
}
.mobile-menu__setting-icon {
    display: block;
    width: 22px;
    height: 16px;
    border-radius: 1.5px;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 7px;
}
.mobile-menu__setting-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.mobile-menu__setting-icon--currency {
    background: #5c6266;
    color: #fff;
    font-size: 10px;
    line-height: 16px;
}
.mobile-menu__setting-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.mobile-menu__setting-arrow {
    position: absolute;
    top: calc(50% - 5px);
    fill: #bfbfbf;
    right: 12px;
    transform: scaleX(1);
}
.mobile-menu__setting-arrow svg {
    display: block;
}
.mobile-search__body {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
}
.mobile-search__button,
.mobile-search__input {
    background: transparent;
    border: none;
    font-family: inherit;
    color: inherit;
}
.mobile-search__button:focus,
.mobile-search__input:focus {
    outline: none;
}
.mobile-search__input {
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 15px;
}
.mobile-search__field {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    transition: color 0.2s, background 0.2s, border-color 0.2s;
}
.mobile-search__button {
    width: 38px;
    padding: 0;
    transition: color 0.2s;
    fill: currentColor;
}
.mobile-search__button,
.mobile-search__vehicle-picker {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.mobile-search__vehicle-picker {
    -ms-flex-order: -1;
    order: -1;
    background: #ffdf40;
    color: #262626;
    min-width: 44px;
    padding: 0 12px;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2.5px;
    border: none;
    transition: color 0.15s, background-color 0.15s;
}
.mobile-search__vehicle-picker:hover {
    background: #ffd226;
}
.mobile-search__vehicle-picker:active {
    background: #ffca16;
}
.mobile-search__vehicle-picker:focus {
    outline: none;
}
.mobile-search__vehicle-picker svg {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    fill: rgba(0, 0, 0, 0.75);
}
.mobile-search__vehicle-picker svg + .mobile-search__vehicle-picker-label {
    margin-left: 8px;
}
@media (min-width: 768px) {
    .mobile-search__input {
        height: 36px;
        padding: 0 11px;
        border-radius: 3px;
        transition: color 0.2s, background 0.2s, border-color 0.2s;
        color: #262626;
        background-color: #f0f0f0;
        border: 1px solid #f0f0f0;
        padding-left: 11px;
        padding-right: 37px;
    }
    .mobile-search__input::-webkit-input-placeholder {
        color: #6c757d;
    }
    .mobile-search__input::-moz-placeholder {
        color: #6c757d;
    }
    .mobile-search__input:-ms-input-placeholder,
    .mobile-search__input::-ms-input-placeholder {
        color: #6c757d;
    }
    .mobile-search__input::placeholder {
        color: #6c757d;
    }
    .mobile-search__input:hover {
        border-color: #d9d9d9;
    }
    .mobile-search__input:focus {
        background-color: #fff;
        border-color: #d9d9d9;
    }
    .mobile-search__button--close {
        display: none;
    }
    .mobile-search__button--search {
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;
    }
    .mobile-search__vehicle-picker {
        margin-right: 6px;
    }
    .mobile-search__button--search {
        color: #b2b2b2;
    }
    .mobile-search__button--search:hover {
        color: #e52727;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .mobile-search__vehicle-picker-label {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .mobile-search__body {
        height: 100%;
    }
    .mobile-search__input {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        width: 0;
        padding: 0 0 0 12px;
    }
    .mobile-search__button {
        width: 52px;
    }
    .mobile-search__button--close {
        border-width: 0;
        border-style: solid;
        border-left-width: 1px;
    }
    .mobile-search__input {
        color: #262626;
    }
    .mobile-search__input::-webkit-input-placeholder {
        color: #6c757d;
    }
    .mobile-search__input::-moz-placeholder {
        color: #6c757d;
    }
    .mobile-search__input:-ms-input-placeholder,
    .mobile-search__input::-ms-input-placeholder {
        color: #6c757d;
    }
    .mobile-search__input::placeholder {
        color: #6c757d;
    }
    .mobile-search__input ~ .mobile-search__field {
        background: #fff;
    }
    .mobile-search__input ~ .mobile-search__button--close {
        border-color: #ebebeb;
    }
    .mobile-search__button {
        color: #b2b2b2;
    }
    .mobile-search__button:hover {
        color: #e52727;
    }
    .mobile-search__vehicle-picker {
        margin: 8px 0;
        margin-left: 8px;
    }
}
@media (max-width: 440px) {
    .mobile-search__vehicle-picker-label {
        display: none;
    }
}


@media only screen and (min-width: 280px)  and (max-width: 767px)  {
        
        
    .mobile-none
    {
        display:block !important;
    }
    .desktop-none
    {
        display:none;
    }
}

.mobile-none{
    display:none;
}

.desktop-none
{
    display:block;
}

.logo-nav
{
    margin-left:-15px;
}
.mobile-indicator span
{
    background: #e75e83;
    color: #fff;
    width: 17px;
    height: 17px;
    font-size: 10px;
    line-height: 16px;
    position: absolute;
    top: -5px;
    text-align: center;
    border-radius: 50%;
    right: -8px;
}


.tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 36px;
    width: 100%;
    background: #f5f5f5;
    margin-bottom: 13px;
    margin: 0 auto;
    white-space: nowrap;
}
.tabs .tab {
    display: inline-block;
    text-align: center;
    line-height: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.tabs li:first-child a {
    border-bottom: 1.5px solid #e82954;
    color: #e82954 !important;
}
.tabs .tab {
    flex-grow: 1;
    text-align: center;
    width: 47%;
}
.tabs .tab a i {
  margin-right:8px;
}

.tabs .tab a {
    color: rgba(238, 110, 115, 0.7);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    font-size: 11px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color 0.28s ease;
}
 .tabs .tab-dark a {
    outline: 0;
    color: #333;
    border-left: 1px solid #ccc;
    margin-left: 12px;
}


svg
{
    width: 15px;
    margin-right: 8px;

}
.mobile-btn-seller
{
    background: #e75e83;
    color: #fff !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 0 auto;
}
.mobile-btn-seller .mobile-menu__contacts-subtitle
{
    color: #fff;
    font-size: 17px;
    text-align: center;
}

.mobile-btn-seller img
{
    width: 17px;
    margin-right: 9px;
    margin-top: -4px;
}