@media only screen and (min-width: 280px) and (max-width: 767px) {
  // .product-image img {
  //   height: 264px;
  // }
  .search-keyword span {
    display: inline-block;
  }

  .filter-search .div-row {
    min-height: 0;
    overflow-x: scroll;
    width: 1000px;
    margin-top: 0;
    display: inline-flex;
    max-height: 40px;
  }
  .productlist-block {
    padding: 2.34px 2px !important;
    margin-bottom: 9px;
  }

  .productlist-row {
    padding-top: 0 !important;
  }

  .product-details {
    border: 1px solid #cac7f6 !important;
    box-shadow: 0 1px 3px 0 #9ccae8;
  }

  .wishlist-block {
    bottom: 12px !important;
    right: 29px !important;
    opacity: 1;
    top: auto;
  }

  .productlist-section {
    background: #fff;
    margin-top: 0% !important;
    padding-top: 0;
  }

  .product-add-btn {
    display: none;
  }

  .filter-search span {
    color: #5d5e5c;
    margin: 4px 6px 3px;
    background-color: #a2c6ef30;
    border: none;
  }

  .hero-side-category nav.category-menu {
    background-color: #fff;
    float: left;
    width: 100vw;
    left: -30px;
    top: -42px;
    position: absolute;
    display: none;
    z-index: 10000;
    height: 100vh;
    overflow-x: auto;
    -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  }

  .hero-side-category {
    width: 100%;
    position: relative;
  }

  .category-toggle-wrap {
    width: 100%;
  }

  .side-widget {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    bottom: -110%;
    transition: all 0.8s ease;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    background: #f0f7ff;
    background-position: 50%;
    background-size: cover;
    z-index: 9999;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
    padding: 0 0 20px;
    color: #fff;
    right: 0;
  }

  .checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #eb6083;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    width: 17px;
    height: 17px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }

  .title-info {
    font-size: 16px;
    margin-bottom: 11px;
    font-weight: 600;
  }

  .sort-widget {
    width: 400px;
    /* height: 100vh; */
    max-width: 100%;
    position: fixed;
    bottom: -100%;
    transition: all 0.8s ease;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    background: #f0f7ff;
    background-position: 50%;
    background-size: cover;
    z-index: 9999;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
    padding: 7px 0 0px;
    pointer-events: initial;
    color: #fff;
    right: 0;
  }

  .sort-widget.active {
    bottom: 0;
  }

  .side-widget.active {
    bottom: 0;
  }

  .sort-filter i {
    margin-right: 7px;
    width: 24px;
    text-align: center;
  }

  .sort-filter {
    padding: 0px;
  }

  .sort-filter ul {
    margin: 0;
  }

  .sort-filter li {
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding: 5px 0px;
  }

  .sort-filter ul li a {
    color: #3e4152;
    padding: 0px;
    width: 100%;
  }

  .search-filters-block .fa-search {
    font-size: 9px;
  }

  .sort-filter ul li a.active {
    border-left: 4px solid #e75e83;
    color: #e75e83;
    font-weight: 600;
  }


  

  .SortModalIcon {
    width: 24px;
    height: 24px;
    float: left;
    position: relative;
    top: 5px;

    color: #000;
  }

  .filters-title li {
    position: relative;
    overflow: hidden;
    padding: 12px 15px;
    border: 0px;
    color: black;
    /* min-height: 48px; */
    display: flex;
    font-size: 12px;
    background: #f9fafa;
    outline: none;
    align-items: center;
    text-align: left;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.15;
    margin: 0px;
  }

  .filters-title li a {
    color: #5d5e5c;
  }

  .filters-title ul {
    height: 100vh;
    margin-top: 1px;
    background: #fff;
  }

  .mat-tab-list {
    flex-grow: 1;
    position: relative;
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  }

  .mat-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
  }

  .mat-tab-labels {
    flex-direction: column;
  }

  .mat-tab-group {
    flex-direction: row;
    background: #fff;
    height: 85vh;
  }

  .mat-tab-header {
    border-bottom: none;
  }

  .mat-tab-header-pagination {
    display: none !important;
  }

  .mat-tab-labels {
    flex-direction: column;
  }

  .mat-ink-bar {
    height: 100%;
    left: 98% !important;
  }

  .mat-tab-body-wrapper {
    flex: 1 1 auto;
  }

  #content {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    background-color: #fff;
  }

  #content {
    width: 100%;
    background-color: #fff;

    box-sizing: border-box;
  }

  #content::before,
  #main-content::before,
  #content::after,
  #main-content::after {
    content: "";
    display: table;
  }

  #content::after,
  #main-content::after {
    clear: both;
  }

  .filters-bottom {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background: #fff;
    height: 9vh;
    z-index: 1;
    box-shadow: 0 2px 18px 1px rgb(49 53 72 / 10%);
    padding: 0;
    margin: 0;
  }

  .btn-style-bg {
    width: 100%;
  }

  .filters-bottom .bg-transparent {
    background: transparent;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 1.1vw;
    border: 1px solid #000;
    color: #000 !important;
  }

  .content-div {
    display: flex;
    margin-bottom: 5px;
  }

  s .color-code {
    width: 18px;
    height: 18px;
    position: relative;
    content: "";
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 12px;
    margin-bottom: 0;
    box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
    margin-top: 0px;
  }

  .search-filters-block {
    position: relative;
  }

  .search-filters-block button {
    position: absolute;
    overflow: hidden;
    left: 8px;
    border: 0px;
    background: transparent;
    padding: 0px;
    color: #000;
    outline: none;
    height: 24px;
    width: 24px;
    z-index: 1;
    font-size: 1.1429rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    top: 4px;
  }

  .search-filters > .input {
    background-color: rgb(246, 247, 249);
    color: rgb(0, 0, 0);
    font-size: 1rem;
  }

  .search-filters {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f6f7f9;
    border-radius: 2px;
    height: 30px;
    margin: 0px;
    position: relative;
    border: none;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 16px;
    font-size: 10px;
    padding-left: 30px;
  }

  .filter-sort-strip {
    padding: 3px 0 5px;
    background: #e75e83;
    box-shadow: 0 1px 2px 0 rgba(148, 150, 159, 0.3);
    z-index: 20;
  }

  .filter-sort-strip button {
    background: transparent;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 4.2vw;
  }

  .slider {
    overflow-y: hidden;
    max-height: 500px;
    /* approximate max height */
    box-sizing: border-box;

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  .slider.closed {
    max-height: 0;
  }

  .filter-sort-strip button i {
    margin-right: 9px;
    font-size: 12px;
  }

  .filter-sort-strip .border-right {
    border-right: 0.5px solid #ccc;
  }

  .product-list {
    position: relative;
  }

  .filter-search {
    padding: 2px 2px 0;
  }
}

.category-menu > ul > li > a i {
  position: absolute;
  right: 30px;
}

.wishlist-block {
  background: #f0f7ff;
  width: 18px;
  height: 18px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  line-height: 18px;
  border-radius: 50%;
  position: absolute;
  bottom: 74px;
  right: 27px;
}

.clear-btn {
  color: #fff;
  margin: 3px 0px 3px;
  background-color: #e75e83;
  font-weight: normal;
  border-radius: 4px;
  text-transform: capitalize;
  border: none;
  height: 25px;
  cursor: default;
  display: initial;
  padding: 1px 12px;
  ing: 3px 12px;
  font-size: 0.7125rem;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
}

.wishlist-block .fa-heart {
  text-align: center;
  font-size: 10px;
  color: #000;
}

.filter-search span {
  color: #5d5e5c;
  margin: 4px 5px 3px 0;
  border: 1px solid #504d4d;
  background-color: transparent;

  font-weight: normal;
  border-radius: 4px;
  text-transform: capitalize;

  cursor: default;
  display: inline-flex;
  outline: 0;
  padding: 3px 12px;
  font-size: 0.7125rem;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
}

.filter-search i {
  line-height: 8px;
  height: 6px;
  font-weight: 500;
  padding-left: 5px;
  cursor: pointer;
}

.productlist-block {
  padding: 2px 12px 2px 0;
  margin-bottom: 9px;
}

// .product-list {
//     position: relative;

// }
// .product-details {

//     padding: 3px 12px 15px;
//     margin-bottom: 13px;
//     border: 1px solid #cac7f60d;
//     background: #fff;
//     z-index: 9999;
//     position: relative;
//     p {
//         font-size: 10px;
//         text-align: center;
//         width: 100%;
//         color: #a29b9b;
//         padding: 2px;
//         text-align: center;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         white-space: nowrap;
//         font-weight: 600;
//         text-transform: uppercase;
//         margin: 5px 0 2px;
//         line-height: 5px;
//     }
//     h4 {
//         text-align: center;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         white-space: nowrap;
//         margin-top: 0px;
//         font-style: normal;
//         text-transform: normal;
//         line-height: 1.1;
//        font-size: 1.1vw;
//         color: #222;
//         margin-bottom: 11px;
//     }
//     ul {
//         text-align: center;
//         margin-bottom: 0;
//         line-height: 14px;
//     }
//     li {
//         &:first-child {
//             color: #333;
//             text-align: center;
//             font-size: 13px;
//             font-weight: 700;
//         }
//         list-style-type: none;
//         display: inline-block;
//         font-size: 6px;
//         margin-right: 5px;
//         &:nth-child(2) {
//             font-size: 13px;
//             color: #aaa;

//             text-decoration: line-through;

//         }
//         &:last-child {

//             color: #e75d81;
//             font-weight: 600;
//             font-size: 5px;
//             white-space: nowrap;
//             text-align: center;
//             font-size: 11px;

//         }
//     }

// }
// .product-details p
// {
//     font-size: 0.7em;
//     text-align: center;
//     width: 100%;
//     color: #e75d81;
//     padding: 2px;
//     text-align: center;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     white-space: nowrap;
//     font-weight: 600;
//     text-transform: uppercase;
//     margin-bottom: 0;
//     line-height: 15px;
//     margin-top: 0px;
// }

// .product-details  h4
// {
//         /* font-family: Lora; */
//         font-size: 0.8em;
//         color: #939393;
//         text-align: center;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         white-space: nowrap;
//         margin-bottom: 0;

// }
// .product-details ul
// {
//     text-align: center;
//     margin-bottom: 0;

// }
// .product-details li
// {
//     list-style-type:none;
//     display: inline-block;
//     font-size: 12px;
//     margin-right: 7px;
// }
// .product-details li:first-child
// {

//     color: #333;
//     font-weight: 700;
//     text-align: center;
// }

// .product-details li:nth-child(2)
// {
//     opacity: .4;
//     color: #282c3f;
//     text-decoration: line-through;
//     font-size: 11px;
// }
// .product-details
// {
//     background-color: #FFF;
//     border: 1px solid #cac7f6;
//     box-shadow: 0 1px 3px 0 #9ccae8;
//     padding: 5px 12px;
//     border-radius: 3px;
// }

// .productlist-block{
//     padding: 2px 12px 2px 0px;
//     margin-bottom: 11px;
// }
// .productlist-block img
// {
//     border-top-left-radius: 3px;
//     border-top-right-radius: 3px;
// }
// .productlist-section
// {
//     padding:0;
// }
// .product-details li:last-child
// {
//     color: #e75d81;
//     font-weight: 600;
//     font-size: 10px;
//     white-space: nowrap;
// }

.breadcrumb-product {
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  padding-bottom: 7px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.product-breadcrumb {
  margin-bottom: 0;
  margin: 0;
}

.product-breadcrumb li {
  display: inline-block;
  position: relative;
}

.product-breadcrumb li:last-child {
  font-size: 13px;
  text-transform: capitalize;
  color: #e75e83;
}

.product-breadcrumb li a {
  color: #808080;
  font-size: 13px;
  text-transform: capitalize;
}
.product-details {
  padding: 3px 12px 15px;
  border: 1px solid #cac7f60d;
  background: #fff;
  z-index: 999;
  border-top: 0 !important;
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 1px #9ccae8;
  position: relative;
  height: 68px;
  vertical-align: middle;
}

.product-breadcrumb a::after {
  font-family: "Font Awesome 5 Pro";
  font-size: 12px;
  /* right: 10px; */
  content: "";
  left: 0;
  margin: 9px;
  font-size: 12px;
  color: #808080;
}

.breadcrumb-product ul {
  margin: 0;
}

.breadcrumb-product li {
  display: inline-block;
  position: relative;
}

.breadcrumb-item:first-child::before {
  content: none;
}

.breadcrumb-item::before {
  font-family: "Font Awesome 5 Pro";
  font-size: 9px;
  vertical-align: middle;
  left: 0;
  content: "\f324";
  padding-right: 4px;
}

.breadcrumb-product h3 {
  color: #e75e83;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.content-div {
  display: flex;
  margin-bottom: 5px;
}

.breadcrumb-product li a {
  color: #585858;
  font-weight: 500;
}

.breadcrumb-product li {
  color: #333;
  font-weight: 500;
  font-size: 13px;
  padding-right: 5px;
}

.breadcrumb {
  // background: transparent !important;
  box-shadow: none !important;
}
.productlist-section {
  background: #fff;
}
.filters-desktop select {
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 20px;
  max-width: 200px;
  height: 27px;
  background-position: right 0 top 50%;
  color: #5d5e5c;
  border-color: #ccc;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 13px;
  cursor: pointer;
}

.filters-desktop select:focus {
  outline: none;
}

.filter-search {
}

.productlist-row {
  padding-top: 30px;
}

.widget .widget-title {
  line-height: 24px;
  margin: 0 0 12px;
  position: relative;
  padding: 0 0 10px;
  color: #2d2a2a;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid #e6e6e6;
}

.each-filterdiv {
  background: #f0f4f7;
}

.widget .widget-subtitle {
  padding: 7px 12px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: CAPITALIZE;
  font-weight: 600;
  border-top-left-radius: 4px;
  font-size: 15px;
  background-color: #27364782;
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0 #9ccae8;
  border-top-right-radius: 4px;
  letter-spacing: 0.5px;
}

.widget li {
  // display: flex;
  margin-bottom: 10px;
  padding-left: 3px;
  color: #3e4152;
  margin-bottom: 0;
  font-size: 11px;
}

.widget ul {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px 0px;
  overflow: auto;
  margin-bottom: 0;
  overflow-x: hidden;
}

// .widget label {
//   margin-top: 7px;

//   color: #3e4152;
//   margin-bottom: 0;
//   font-size: 13px;
// }

.widget .label-name {
  padding-left: 0px;
  color: #727272;
  margin-bottom: 0px;
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: capitalize;
  background: transparent;
}
.label-name {
  padding-left: 0px;
  color: #727272;
  margin-bottom: 0px;
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: capitalize;
  background: transparent;
}
.discount .swatch-label label {
  padding-right: 16px;
}

.breadcrumb-product.dt-none {
  padding: 7px 3px;
  margin-bottom: 0;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}
.search-filters {
  display: flex;
  align-items: center;
  background-color: #f6f7f9;
  box-shadow: 0 1px 3px 0 #9ccae833;
  border-radius: 2px;
  height: 30px;
  position: relative;
  border: none;
  width: 100%;
  border-radius: 5px;
  margin: 0 0 16px;
  font-size: 10px;
  padding: 8px 8px 8px 30px;
}
.search-filters-block button {
  position: absolute;
  overflow: hidden;
  left: 8px;
  border: 0;
  background: transparent;
  padding: 0;
  color: #000;
  outline: none;
  height: 22px;
  width: 22px;
  z-index: 1;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  top: 4px;
}
.search-filters-block,
s .color-code {
  position: relative;
}
.color-code {
  width: 18px;
  height: 18px;
  position: relative;
  content: "";
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 12px;
  margin-bottom: 0;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
  margin-top: 0px;
}

ngx-skeleton-loader {
  text-align: center;
}

.product-details1 {
  padding: 3px 12px 15px;
  margin-bottom: 13px;
  background: #fff;
  z-index: 1 !important;
  position: relative;
}

.product-details1 {
  p {
    font-size: 0.7em;
    text-align: center;
    width: 100%;
    color: #e75d81;
    padding: 2px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 15px;
    margin-top: 0px;
    font-size: 0.7em;
    text-align: center;
    width: 100%;
    color: #e75d81;
    padding: 2px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 15px;
    margin-top: 0px;
  }

  padding: 5px 12px;
  z-index: 1 !important;

  h4 {
    font-size: 0.8em;
    color: #939393;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
  }
}

.div-row {
  display: contents;
  margin-top: 10px;
}
.custom-image-size .product-image {
  display: block;
  border: 0.1px solid #eae1e1;
  border-bottom: 0;
}

.breadcrumb-title {
  color: #727272;
  font-size: 25px;
}
.top-sec-filter {
  position: absolute;
  width: 100%;
  top: 55px;
}
.inner {
  position: absolute;
  top: 100px;
  width: 100%;
}

.home_header {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
  position: relative;
  z-index: 100;
}
.homeheader-fixed .search-hide {
  display: none;
}
.search-section {
  width: 100%;
  margin: 0 8px 5px;
}
.search-button {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
  &:focus {
    outline: none;
  }
  .form-control {
    &:focus {
      box-shadow: none;
    }
  }
  input {
    height: 29px;
    background: #f0f4f7;
    font-size: 12px;
    font-size: 9px;
    letter-spacing: 0.1px;
    border: 1px solid #cccccc6b;
    border-radius: 5px;
    box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.1);
  }
  button {
    border: none;
    height: 29px;
    color: #6f6f6fb8 !important;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    position: absolute;
    right: 0;
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #fff;

      outline: none;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      &:before {
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 1px;

      width: 100%;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
    }
  }
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: 0px;
  }
}

.hm-header {
  position: relative;
}

.home_header_body {
  height: 50px;
  display: flex;
}

.home-header__menu-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background: #fff;
  fill: #404040;
}

.home_header__logo {
  display: flex;
  align-items: center;
  padding: 0;
  font-weight: 800;
  color: #b74978;
  font-size: 31px;
  margin-left: 0;
  width: 110px;
}

.mobile-indicator {
  position: relative;
}

.home-header-list {
}

.home-header-list {
  margin-bottom: 0;
  right: 0;
  position: relative;
  text-align: right;
}
.home-header-list li {
  display: inline-block;
  margin-right: 12px;
}
.home-header-list li:last-child {
  margin-right: 0;
}
.home-header-list li:first-child img {
  opacity: 0;
}
.homeheader-fixed .home-header-list li:first-child img {
  opacity: 1;
}
.home-header-list li img {
  width: 5vw;
}

.homeheader-fixed {
  top: 0;
  position: fixed !important;
  background: #fff !important;
  left: 0;
  z-index: 999;
  width: 100%;

  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.06);
}

.mobile-menu {
  visibility: hidden;
  transition: visibility 0s 0.25s;
}
.mobile-menu__backdrop {
  right: 0;
  // background: rgba(51, 51, 51, 0.8);
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mobile-menu__backdrop,
.mobile-menu__body {
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}
.mobile-menu__body {
  width: 100%;
  height: 100%;
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
}
.mobile-menu--open {
  visibility: visible;
  transition-delay: 0s;
}
.mobile-menu--open .mobile-menu__backdrop {
  opacity: 1;
}
.mobile-menu--open .mobile-menu__body {
  // transform: translateX(0);
  display: block;
}
.mobile-menu__close {
  position: absolute;
  top: 0;
  width: 48px;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
  border: none;
  padding: 0;
  fill: currentColor;
  transition: background-color 0.15s, color 0.15s;

  color: #ccc;
  right: 0;
}
.mobile-menu__close:hover {
  background-color: #f2f2f2;
  color: #4d4d4d;
}
.mobile-menu__close:active {
  background-color: #ebebeb;
  color: #4d4d4d;
}
.mobile-menu__close:focus {
  outline: none;
}
.mobile-menu__panel {
  display: -ms-flexbox;
  display: flex;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -ms-flex-direction: column;
  flex-direction: column;

  z-index: 1;
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.widget {
  margin-bottom: 30px;
  padding: 14px 15px 13px 19px;
  margin-top: 0;
}
.mobile-menu__panel--hide {
  // transform: translateX(-100%);
  display: none;
}
.mobile-menu__panel--hidden {
  // transform: translateX(100%);
  display: none;
}
.mobile-menu__panel-header {
  flex-shrink: 0;
  height: 31px;
  /* border-bottom: 1px solid #ebebeb; */
  padding-bottom: 2px;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.mobile-menu__panel-back,
.mobile-menu__panel-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.mobile-menu__panel-back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  /* justify-content: center; */
  z-index: 1;
  border: none;
  fill: currentColor;
  transition: background-color 0.15s, color 0.15s;

  left: 0;
  padding: 0 2px 0 0;
}

.mobile-menu__panel-back svg {
  transform: scaleX(1);
}
.mobile-menu__panel-back:focus {
  outline: none;
}
.mobile-menu__panel-arrow {
  position: absolute;
}
.mobile-menu__panel-title {
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
.click-title {
  float: left;
  font-size: 14px;
  font-weight: 600;
  color: #666;
  text-align: left;
  justify-content: left;
  width: 100%;
}
.fa-chevron-right {
  position: absolute;
  top: calc(50% - 6px);
  fill: #bfbfbf;
  right: 16px;
  transform: scaleX(1);
  font-size: 12px;
}
.mobile-menu__panel-title .logo-nav img {
  width: 132px;
}
.mobile-menu__panel-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.mobile-menu__divider {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 1px;
  background: #ebebeb;
}
.mobile-menu__spring {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.mobile-menu__indicators {
  display: -ms-flexbox;
  display: flex;
  padding: 8px 11px;
}
.mobile-menu__indicator {
  width: calc((100% - 0px * 3) / 3);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  fill: #404040;
  border-radius: 2px;
  padding: 8px 0 6px;
}
.mobile-menu__indicator:hover {
  background: #f2f2f2;
}
.mobile-menu__indicator + .mobile-menu__indicator {
  margin-left: 0;
}
.mobile-menu__indicator-title {
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  color: #999;
  margin-top: 5px;
}
.mobile-menu__indicator-icon {
  position: relative;
}
.mobile-menu__indicator-icon svg {
  display: block;
}
.mobile-menu__indicator-counter {
  position: absolute;
  bottom: calc(100% - 7px);
  color: #fff;
  font-size: 10px;
  line-height: 1;
  padding: 2px 3px 1px;
  border-radius: 6.5px;
  text-align: center;
  z-index: 0;
  font-weight: 500;
  left: calc(100% - 4px);
}
@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
  .mobile-menu__indicator-counter {
    font-weight: 400;
  }
}
.mobile-menu__indicator-counter:before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #e52727;
  z-index: -1;
  border-radius: 2.5px;
  transform: skewX(-11deg);
}
.mobile-menu__links {
  list-style: none;
  padding: 0px 0;
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}
.mobile-menu__links > li > a,
.mobile-menu__links > li > button {
  position: relative;
  color: inherit;
  width: 100%;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: flex;
  align-items: center;
  padding: 7px 33px 7px 20px;
  text-align: left;
  color: #5d5e5c;
  margin: 0px 5px 3px 0;
  /* border: 1px solid #504d4d; */
  background-color: transparent;
  font-weight: normal;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: default;
  display: inline-flex;
  outline: 0;
  padding: 0px 12px;
  font-size: 0.7125rem;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  white-space: nowrap;
  /* vertical-align: middle; */
  /* justify-content: center; */
  text-decoration: none;
}

.mobile-menu__links > li > a svg,
.mobile-menu__links > li > button svg {
  position: absolute;
  top: calc(50% - 8px);
  /* fill: #bfbfbf; */
  right: 16px;
  transform: scaleX(1);
}
.mobile-menu__links > li > a.highlight:before,
.mobile-menu__links > li > button.highlight:before {
  position: absolute;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background: #e52727;
  top: 15px;
  left: 8px;
}
.mobile-menu__links-image {
  display: block;
  width: 22px;
  height: 16px;
  border-radius: 1.5px;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 9px;
}
.mobile-menu__links-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.mobile-menu__contacts {
  text-align: center;
  padding: 16px 20px 14px;
  transition: background 0.2s;
}
.mobile-menu__contacts:hover {
  background: #f2f2f2;
}
.mobile-menu__contacts,
.mobile-menu__contacts:hover {
  color: inherit;
}
.mobile-menu__contacts-subtitle {
  font-size: 13px;
  color: #999;
}
.mobile-menu__contacts-title {
  font-size: 18px;
  font-weight: 500;
}
.mobile-menu__settings-list {
  display: -ms-flexbox;
  display: flex;
}
.mobile-menu__setting {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 50%;
}
.mobile-menu__setting + .mobile-menu__setting {
  border-left: 1px solid #ebebeb;
}
.mobile-menu__setting-button {
  background: transparent;
  border: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: inherit;
  color: inherit;
  position: relative;
  width: 100%;
  padding: 9px 26px 9px 14px;
}
.mobile-menu__setting-button:hover {
  background: #f2f2f2;
}
.mobile-menu__setting-button:focus {
  outline: none;
}
.mobile-menu__setting-panel {
  display: none;
}
.mobile-menu__setting-icon {
  display: block;
  width: 22px;
  height: 16px;
  border-radius: 1.5px;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 7px;
}
.mobile-menu__setting-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.mobile-menu__setting-icon--currency {
  background: #5c6266;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
}
.mobile-menu__setting-title {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.mobile-menu__setting-arrow {
  position: absolute;
  top: calc(50% - 5px);
  fill: #bfbfbf;
  right: 12px;
  transform: scaleX(1);
}
.mobile-menu__setting-arrow svg {
  display: block;
}
.mobile-search__body {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
  width: 100%;
}
.mobile-search__button,
.mobile-search__input {
  background: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
}
.mobile-search__button:focus,
.mobile-search__input:focus {
  outline: none;
}
.mobile-search__input {
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 15px;
}
.mobile-search__field {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
  transition: color 0.2s, background 0.2s, border-color 0.2s;
}
.mobile-search__button {
  width: 38px;
  padding: 0;
  transition: color 0.2s;
  fill: currentColor;
}
.mobile-search__button,
.mobile-search__vehicle-picker {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mobile-search__vehicle-picker {
  -ms-flex-order: -1;
  order: -1;
  background: #ffdf40;
  color: #262626;
  min-width: 44px;
  padding: 0 12px;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  border-radius: 2.5px;
  border: none;
  transition: color 0.15s, background-color 0.15s;
}
.mobile-search__vehicle-picker:hover {
  background: #ffd226;
}
.mobile-search__vehicle-picker:active {
  background: #ffca16;
}
.mobile-search__vehicle-picker:focus {
  outline: none;
}
.mobile-search__vehicle-picker svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  fill: rgba(0, 0, 0, 0.75);
}
.mobile-search__vehicle-picker svg + .mobile-search__vehicle-picker-label {
  margin-left: 8px;
}
@media (min-width: 768px) {
  .mobile-search__input {
    height: 36px;
    padding: 0 11px;
    border-radius: 3px;
    transition: color 0.2s, background 0.2s, border-color 0.2s;
    color: #262626;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    padding-left: 11px;
    padding-right: 37px;
  }
  .mobile-search__input::-webkit-input-placeholder {
    color: #6c757d;
  }
  .mobile-search__input::-moz-placeholder {
    color: #6c757d;
  }
  .mobile-search__input:-ms-input-placeholder,
  .mobile-search__input::-ms-input-placeholder {
    color: #6c757d;
  }
  .mobile-search__input::placeholder {
    color: #6c757d;
  }
  .mobile-search__input:hover {
    border-color: #d9d9d9;
  }
  .mobile-search__input:focus {
    background-color: #fff;
    border-color: #d9d9d9;
  }
  .mobile-search__button--close {
    display: none;
  }
  .mobile-search__button--search {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
  }
  .mobile-search__vehicle-picker {
    margin-right: 6px;
  }
  .mobile-search__button--search {
    color: #b2b2b2;
  }
  .mobile-search__button--search:hover {
    color: #e52727;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .mobile-search__vehicle-picker-label {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .mobile-search__body {
    height: 100%;
  }
  .mobile-search__input {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: 0;
    padding: 0 0 0 12px;
  }
  .mobile-search__button {
    width: 52px;
  }
  .mobile-search__button--close {
    border-width: 0;
    border-style: solid;
    border-left-width: 1px;
  }
  .mobile-search__input {
    color: #262626;
  }
  .mobile-search__input::-webkit-input-placeholder {
    color: #6c757d;
  }
  .mobile-search__input::-moz-placeholder {
    color: #6c757d;
  }
  .mobile-search__input:-ms-input-placeholder,
  .mobile-search__input::-ms-input-placeholder {
    color: #6c757d;
  }
  .mobile-search__input::placeholder {
    color: #6c757d;
  }
  .mobile-search__input ~ .mobile-search__field {
    background: #fff;
  }
  .mobile-search__input ~ .mobile-search__button--close {
    border-color: #ebebeb;
  }
  .mobile-search__button {
    color: #b2b2b2;
  }
  .mobile-search__button:hover {
    color: #e52727;
  }
  .mobile-search__vehicle-picker {
    margin: 8px 0;
    margin-left: 8px;
  }
}
@media (max-width: 440px) {
  .mobile-search__vehicle-picker-label {
    display: none;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .is-fixedfilters {
    bottom: 58px;
    position: fixed !important;
    background: #e75e83;
    left: 0;
    z-index: 999;
    width: 100%;
    box-shadow: none;
  }
  .mobile-none {
    display: block !important;
  }
  .desktop-none {
    display: none;
  }
}

.mobile-none {
  display: none;
}

.desktop-none {
  display: block;
}

.logo-nav {
  margin-left: -15px;
}
.mobile-indicator span {
  background: #e75e83;
  color: #fff;
  width: 17px;
  height: 17px;
  font-size: 10px;
  line-height: 16px;
  position: absolute;
  top: -5px;
  text-align: center;
  border-radius: 50%;
  right: -8px;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 36px;
  width: 99%;
  background: #f5f5f5;
  margin-bottom: 13px;
  margin: 0 auto;
  white-space: nowrap;
}
.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.tabs li:first-child a {
  border-bottom: 1.5px solid #e82954;
  color: #e82954 !important;
}
.tabs .tab {
  flex-grow: 1;
  text-align: center;
  width: 50%;
}
.tabs .tab a i {
  margin-right: 8px;
}

.tabs .tab a {
  color: rgba(238, 110, 115, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  font-size: 11px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 0.28s ease;
}
.tabs .tab-dark a {
  outline: 0;
  color: #333;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  position: relative;
}

// .widget .mat-expansion-panel-header:not([aria-disabled="true"]) {
//   height: 34px !important;
//   padding: 7px 10px;
//   margin-bottom: 0px;
//   color: #fff;
//   text-transform: CAPITALIZE;
//   font-weight: 600;
//   border-radius: none !important;
//   border-top-left-radius: 4px !important;
//   font-size: 15px;
//   background-color: rgba(39, 54, 71, 0.5098039215686274) !important;
//   border-top-right-radius: 4px !important;
//   letter-spacing: 0.5px;
//   border: 0;
//   box-shadow: none;
// }

.block-title {
  color: #333;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
  background-position: left bottom !important;
  padding-bottom: 14px;
  background-repeat: repeat-x !important;
}
.widget .mat-expansion-panel-header-description,
.widget .mat-expansion-panel-header-title {
  text-transform: uppercase;
  position: relative;
  // color: #333333;
  padding: 0px 0px 0;
  font-weight: 600;
  font-size: 12px;
  color: #000;
}

.widget .label-name {
  padding-left: 0px;
  letter-spacing: 0px;
  text-transform: capitalize;
  background: transparent;
  margin-bottom: 6px;
  padding-left: 0px;
  color: #666;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
}

.product_slider .block.block-layered-nav,
#sns_right .block.block-layered-nav,
#sns_left .block.block-layered-nav {
  padding-bottom: 30px;
}
.mat-expansion-panel:last-child {
  border-bottom: 0px;
}
.product_slider .block,
#sns_right .block,
#sns_left .block {
  margin-bottom: 30px;
  border: 1px solid #eaeaea;
  padding: 14px 10px 13px 10px;
  margin-top: 0;
}

#sns_left .block .block-title {
  color: #333;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
  background-position: left bottom;
  padding-bottom: 14px;
}
.product_slider .block .block-title strong,
#sns_right .block .block-title strong,
#sns_left .block .block-title strong {
  background: none;
  padding: 0;
}

.block .block-title strong,
.block .block-title span {
  padding-right: 20px;
  background: #fff;
}

#narrow-by-list dt {
  text-transform: uppercase;
  position: relative;
  color: #333333;
  padding: 16px 0px 0;
  font-weight: bold;
  font-size: 12px;
}
#narrow-by-list div {
  margin: 0;
  padding: 0px 0px 0px;
}

#narrow-by-list div ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#narrow-by-list div ul li {
  color: #666;
  position: relative;
  margin-bottom: 5px;
}

#narrow-by-list div ul li a {
  transition: all 0.2s ease-out;
  color: #666;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
}
#narrow-by-list div ul.childcat-list li a {
  line-height: 17px;
}
#narrow-by-list div ul.cat-list li {
  padding: 0px 0 0px 18px;
  margin-bottom: 10px;
}
div ul.child-list li a {
  line-height: 17px;
}
ol.js-price li {
  margin-top: 10px;
  display: inline-block;
  height: 30px;
  line-height: 18px !important;
  padding-left: 5px !important;
  text-align: left;
  width: 70px;
  border: 1px solid #eaeaea;
  margin-bottom: 26px;
  margin-right: 8px;
}
ol.js-price li input {
  width: 50px;
}
.checkbox {
  margin: 0;
}

.hiddencatdiv {
}
.category-list div {
  margin: 0;
  padding: 0px 0px 0px !important;
}
.child-list {
  margin-top: 10px;
}

.price-filters {
  padding: 12px 11px 0 0;
}
.main-filters-title a {
  position: relative;
  color: #000;
  font-weight: 500;
  margin-bottom: 0px;
  display: block;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.childcat-list .main-filters-title {
  padding: 0px 0 0px 19px;
  margin-bottom: 8px;
}
label {
  margin-bottom: 0;
}

.main-filters-title {
  padding: 0px 0 0px 19px;
}
.child-list .p-l30 {
  padding-left: 19px !important;
  margin-bottom: 8px;
}

.cat-list li:before {
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  position: absolute;
  top: 52%;
  right: 12px;
  content: "\f105";
  transform: translateY(-50%);
  opacity: 0.6;
}

.cat-title a::before {
  font-family: "Font Awesome 5 Pro";
  font-size: 11px;
  position: absolute;
  top: 52%;
  left: -16px;
  content: "\f053";
  transform: translateY(-50%);
  opacity: 1;
}
.childcat-list li:before {
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  position: absolute;
  top: 52%;
  right: 20px;
  content: "\f105";
  transform: translateY(-50%);
  opacity: 0.6;
}
.sub-catlist a:before {
  font-family: "Font Awesome 5 Pro";
  font-size: 11px;
  position: absolute;
  top: 52%;
  left: -17px;
  content: "\f053";
  transform: translateY(-50%);
  opacity: 1;
}
.prd_img {
  background-image: url("/assets/images/no-image.jpg");
}

.filters-desktop {
  // transition: all 0.2s ease-out;
  // color: #666;
  // font-size: 12px;
  // line-height: 12px;
  // display: flex;
  // align-items: center;
}
.filters-desktop li {
  transition: all 0.2s ease-out;
  color: #666;
  font-size: 14px;
  line-height: 12px;
  display: inline-block;
  align-items: center;
  border-right: 1px solid #ccc;
  padding: 0 10px;
  cursor: pointer;
}

.filters-desktop li .active {
  font-weight: 600;
  color: #e75e83;
}
.filters-desktop li:first-child,
.filters-desktop li:last-child {
  border-right: 0px solid #ccc;
  padding: 0 10px;
}
.filters-desktop li:first-child {
  font-weight: 600;
  color: #000;
}
.filters-desktop li:nth-child(2) {
  padding-left: 0;
}
.filters-desktop li:last-child {
  padding-right: 0;
}

.wishlist-block {
  width: 20px;
  height: 20px;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.wishlist-block.active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.stage {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-breadcrumb li:last-child a::after {
  content: none;
}

.product-breadcrumb li:last-child a {
  color: #e75e83;
}

.form-radio .form-help {
  position: absolute;
  width: 100%;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}



.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 1.5rem;
  text-align: left;
  color: #333;
  display: block;
  font-size: 12px;
}
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #999;
}
.radio .helper::before, .radio .helper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #f490a0;
  border-color: #f490a0;
}
.radio label:hover .helper {
  color: #f490a0;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #f490a0;
}
.radio + .radio {
  margin-top: 1rem;
}

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}