<div class="bg-light-blueshade">
  <app-breadcrumb [headername]="pageTitle"></app-breadcrumb>
  <app-desktop-header
    [queryString]="filters.q"
    (searchEvent)="receiveSearchQuery($event)"
    (sendCategories)="receiveCategories($event)"
  ></app-desktop-header>
  <div class="breadcrumb-section m-none">
    <div class="container">
      <div class="align-items-center row">
        <div class="col-md-12 p-t5 p-b5">
          <ul class="product-breadcrumb p-info m-none">
            <li><a routerLink="/">home</a></li>
            <li *ngFor="let pcat of filters.cids">
              <a *ngIf="pcat == parentCategories?.id">{{
                parentCategories.title
              }}</a>
            </li>

            <li *ngFor="let scat of filters.scids">
              <a *ngIf="scat == subCategories?.id">{{
                subCategories.title | titlecase
              }}</a>
            </li>

            <li *ngIf="filters.ccids.length > 0">
              <ng-container
                *ngFor="let childCat of childCategories; let i = index"
              >
                <ng-container *ngFor="let ccid of filters.ccids; let i = index">
                  <span *ngIf="ccid == childCat.id"
                    >{{ childCat.title }}
                    <!-- <span *ngIf="filters.ccids.length - 1 != i">,</span> -->
                    <span>,</span>
                    &nbsp;</span
                  >
                </ng-container>
              </ng-container>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section
    class="filter-sort-strip dt-none"
    (scroll)="onWindowScrollFixed($event)"
    [ngClass]="fixedfilters ? 'is-fixedfilters' : ''"
    *ngIf="!loading"
  >
    <div class="container">
      <div class="row">
        <div class="container-fluid d-lg-none">
          <div class="col-lg-12">
            <div class="hero-side-category">
              <div class="category-toggle-wrap">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 text-center border-right">
                    <button
                      class="sort-menu"
                      (click)="openSortwidget(sortwidget)"
                    >
                      <i class="fal fa-sort-alt"></i>Sort
                    </button>
                  </div>
                  <div class="col-xs-6 col-sm-6 text-center">
                    <button
                      class="hamburger-menu"
                      (click)="filterPopup()"
                      [ngClass]="filterclass ? 'active' : ''"
                    >
                      <i class="fal fa-sliders-h"></i>Filters
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skeleton Loader -->
  <section class="mt-1 pt-1 bg-white dt-none" *ngIf="loading">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-3 col-md-3 col-sm-6 col-xs-6 px-1 mb-3"
          *ngFor="let product of [1, 2, 3, 4, 5, 6]"
        >
          <div class="product-list1 border">
            <div class="">
              <ngx-skeleton-loader
                [theme]="{
                  'border-radius': '0px',
                  width: '100%',
                  height: '220px',
                  'margin-bottom': '-5px'
                }"
              >
              </ngx-skeleton-loader>
            </div>
            <div class="product-details1">
              <p>
                <ngx-skeleton-loader
                  [theme]="{
                    height: '10px',
                    width: '80px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                ></ngx-skeleton-loader>
              </p>
              <h4>
                <ngx-skeleton-loader
                  [theme]="{
                    height: '10px',
                    width: '140px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                ></ngx-skeleton-loader>
              </h4>
              <p>
                <ngx-skeleton-loader
                  [theme]="{
                    height: '10px',
                    width: '120px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                ></ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Skeleton Loader -->

  <section class="productlist-section bg-light-blue" *ngIf="!loading">
    <div class="container">
      <div class="row productlist-row">
        <div class="col-lg-3 widget col-md-3 col-sm-12 col-xs-12 m-none">
          <div id="sns_left">
            <div class="wrap-in">
              <div
                class="block block-layered-nav block-layered-nav--no-filters"
              >
                <div
                  class="block-title"
                  style="background: url(assets/images/icons/border.png)"
                >
                  <strong>
                    <span>Shop By</span>
                  </strong>
                </div>
                <div class="block-content toggle-content">
                  <mat-accordion multi>
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>Categories </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div id="narrow-by-list">
                        <div class="odd category-list">
                          <!-- Parent Categories only -->
                          <ul
                            class="cat-list"
                            *ngIf="
                              parentCategories != null &&
                              subCategories == null &&
                              childCategories == null
                            "
                          >
                            <li
                              *ngFor="let category of parentCategories"
                              (click)="parentCategoryClick(category.id)"
                              style="cursor: pointer"
                            >
                              <a>{{ category.title }}</a>
                            </li>
                          </ul>
                          <!-- Parent Categories only -->

                          <!-- Parent And Sub Categories -->
                          <ul
                            class="childcat-list"
                            *ngIf="
                              parentCategories != null &&
                              subCategories != null &&
                              childCategories == null
                            "
                          >
                            <label
                              (click)="
                                parentCategoryClick(parentCategories.id, true)
                              "
                              class="main-filters-title cat-title"
                              style="cursor: pointer"
                              ><a>{{ parentCategories.title }}</a></label
                            >
                            <li
                              *ngFor="let subCategory of subCategories"
                              (click)="
                                subCategoryClick(
                                  subCategory.id,
                                  parentCategories.id
                                )
                              "
                              style="cursor: pointer"
                            >
                              <a>{{ subCategory.title | titlecase }}</a>
                            </li>
                          </ul>
                          <!-- Parent And Sub Categories -->

                          <!-- Parent, Sub and Child Categories -->
                          <ul
                            *ngIf="
                              parentCategories != null &&
                              subCategories != null &&
                              childCategories != null
                            "
                            class="child-list"
                          >
                            <div>
                              <label
                                (click)="
                                  parentCategoryClick(parentCategories.id)
                                "
                                class="main-filters-title cat-title"
                                style="cursor: pointer"
                                ><a>{{ parentCategories.title }}</a></label
                              >
                            </div>
                            <div>
                              <label
                                (click)="
                                  subCategoryClick(
                                    subCategories.id,
                                    parentCategories.id,
                                    true
                                  )
                                "
                                class="main-filters-title p-l30 sub-catlist"
                                style="cursor: pointer"
                                ><a>{{
                                  subCategories.title | titlecase
                                }}</a></label
                              >
                            </div>
                            <li *ngFor="let childCategory of childCategories">
                              <a href="javascript:void(0)">
                                <label class="checkbox path">
                                  <input
                                    type="checkbox"
                                    (change)="
                                      childCategoriesClick(
                                        $event,
                                        childCategory.id,
                                        parentCategories.id,
                                        subCategories.id
                                      )
                                    "
                                    [checked]="
                                      filters.ccids.indexOf(childCategory.id) >
                                      -1
                                    "
                                  />
                                  <svg viewBox="0 0 21 21">
                                    <path
                                      d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                    ></path>
                                  </svg>
                                </label>
                                {{ childCategory.title }}
                              </a>
                            </li>
                          </ul>
                          <!-- Parent, Sub and Child Categories -->
                        </div>
                      </div>
                    </mat-expansion-panel>

                    <!-- Brands Desktop Filter -->
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>Brands </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="even">
                        <ul class="configurable-swatch-list last-child">
                          <li *ngFor="let brand of brands">
                            <a class="swatch-link" href="javascript:void(0)">
                              <span class="swatch-label label-name"
                                ><label class="checkbox path">
                                  <input
                                    type="checkbox"
                                    [checked]="
                                      filters.brands.indexOf(brand.id) > -1
                                    "
                                    (change)="
                                      onBrandsChange(
                                        $event,
                                        brand.slug,
                                        brand.id
                                      )
                                    "
                                  />
                                  <svg viewBox="0 0 21 21">
                                    <path
                                      d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                    ></path>
                                  </svg>
                                </label>
                                {{ brand.name | titlecase }}
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </mat-expansion-panel>
                    <!-- Brands Desktop Filter -->

                    <!-- Primary Attributes Destop Filter -->
                    <mat-expansion-panel
                      [expanded]="true"
                      *ngIf="
                        filters.cids.length > 0 &&
                        primaryAttributeOptions.length > 0
                      "
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title
                          >{{ primaryAttributeName }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="even">
                        <ul class="configurable-swatch-list last-child">
                          <li *ngFor="let option of primaryAttributeOptions">
                            <a class="swatch-link" href="javascript:void(0)">
                              <span class="swatch-label label-name"
                                ><label class="checkbox path">
                                  <input
                                    type="checkbox"
                                    [checked]="
                                      filters.attrs.indexOf(option.id) > -1
                                    "
                                    (change)="
                                      onAttributesChange($event, option.id)
                                    "
                                  />
                                  <svg viewBox="0 0 21 21">
                                    <path
                                      d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                    ></path>
                                  </svg>
                                </label>
                                <label
                                  *ngIf="primaryAttributeType == 'c'"
                                  class="color-code border"
                                  [style.background-color]="option.colour_code"
                                ></label>
                                <label
                                  for="{{ option.attribute_value }}_{{
                                    option.attribute_option_id
                                  }}"
                                >
                                  {{ option.option_name }}</label
                                >
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </mat-expansion-panel>
                    <!-- Primary Attributes Destop Filter -->
                    <!-- Secondary Attributes Destop Filter -->
                    <mat-expansion-panel
                      [expanded]="true"
                      *ngIf="
                        filters.cids.length > 0 &&
                        secondaryAttributeOptions.length > 0
                      "
                    >
                      <mat-expansion-panel-header>
                        <mat-panel-title
                          >{{ secondaryAttributeName }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="even">
                        <ul class="configurable-swatch-list last-child">
                          <li *ngFor="let option of secondaryAttributeOptions">
                            <a class="swatch-link" href="javascript:void(0)">
                              <span class="swatch-label label-name"
                                ><label class="checkbox path">
                                  <input
                                    type="checkbox"
                                    [checked]="
                                      filters.attrs.indexOf(option.id) > -1
                                    "
                                    (change)="
                                      onAttributesChange($event, option.id)
                                    "
                                  />
                                  <svg viewBox="0 0 21 21">
                                    <path
                                      d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                    ></path>
                                  </svg>
                                </label>
                                <label
                                  *ngIf="secondaryAttributeType == 'c'"
                                  class="color-code border"
                                  [style.background-color]="option.colour_code"
                                ></label>
                                <label
                                  for="{{ option.attribute_value }}_{{
                                    option.attribute_option_id
                                  }}"
                                >
                                  {{ option.option_name }}</label
                                >
                              </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </mat-expansion-panel>
                    <!-- Secondary Attributes Destop Filter -->
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>Price </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="price-filters">
                        <ngx-slider
                          [(value)]="min"
                          [(highValue)]="max"
                          [options]="options"
                          (mouseup)="sliderEvent('d')"
                        ></ngx-slider>
                        <div class="row clearfix">
                          <div class="col-lg-12">
                            <div class="budget">
                              <form
                                [formGroup]="priceFilterForm"
                                (ngSubmit)="onSubmitPriceFilter()"
                              >
                                <ul>
                                  <li>
                                    <label>Min:</label>
                                    <input
                                      type="number"
                                      formControlName="min"
                                    />
                                  </li>
                                  <li>
                                    <label> Max:</label>
                                    <input
                                      type="number"
                                      formControlName="max"
                                    />
                                  </li>
                                  <li style="display: block; margin: 0 auto">
                                    <input type="submit" class="mt-1" />
                                  </li>
                                </ul>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="price-filters">
                        <ngx-slider
                          [(value)]="min"
                          [(highValue)]="max"
                          [options]="options"
                          (mouseup)="sliderEvent('d')"
                        ></ngx-slider>
                        <form (submit)="priceFilterSubmit()">
                          <div class="row clearfix">
                            <div class="col-lg-12">
                              <div class="budget">
                                <ul>
                                  <li>Price Range:</li>
                                  <li>
                                    <label>Min:</label>
                                    <input
                                      type="number"
                                      [(ngModel)]="min"
                                      [ngModelOptions]="{ standalone: true }"
                                    />
                                  </li>
                                  <li>
                                    <label> Max:</label>
                                    <input
                                      type="number"
                                      [(ngModel)]="max"
                                      [ngModelOptions]="{ standalone: true }"
                                    />
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>DISCOUNT RANGE</mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="even discount">
                        <ul class="configurable-swatch-list last-child">
                          <li class="my-2">
                            <div class="form-radio d-flex">
                              <div class="radio">
                                <label class="">
                                  <input
                                    type="radio"
                                    name="discount"
                                    value="10"
                                    (change)="changeDiscount($event)"
                                    [checked]="selectedDiscount == 10"
                                  />
                                  <i class="helper"></i>
                                </label>
                              </div>
                              <div class="ml-3">10% and above</div>
                            </div>
                          </li>
                          <li class="my-2">
                            <div class="form-radio d-flex">
                              <div class="radio">
                                <label class="">
                                  <input
                                    type="radio"
                                    name="discount"
                                    value="20"
                                    (change)="changeDiscount($event)"
                                    [checked]="selectedDiscount == 20"
                                  />
                                  <i class="helper"></i>
                                </label>
                              </div>
                              <div class="ml-3">20% and above</div>
                            </div>
                          </li>
                          <li class="my-2">
                            <div class="form-radio d-flex">
                              <div class="radio">
                                <label class="">
                                  <input
                                    type="radio"
                                    name="discount"
                                    value="30"
                                    (change)="changeDiscount($event)"
                                    [checked]="selectedDiscount == 30"
                                  />
                                  <i class="helper"></i>
                                </label>
                              </div>
                              <div class="ml-3">30% and above</div>
                            </div>
                          </li>
                          <li class="my-2">
                            <div class="form-radio d-flex">
                              <div class="radio">
                                <label class="">
                                  <input
                                    type="radio"
                                    name="discount"
                                    value="40"
                                    (change)="changeDiscount($event)"
                                    [checked]="selectedDiscount == 40"
                                  />
                                  <i class="helper"></i>
                                </label>
                              </div>
                              <div class="ml-3">40% and above</div>
                            </div>
                          </li>
                          <li class="my-2">
                            <div class="form-radio d-flex">
                              <div class="radio">
                                <label class="">
                                  <input
                                    type="radio"
                                    name="discount"
                                    value="50"
                                    (change)="changeDiscount($event)"
                                    [checked]="selectedDiscount == 50"
                                  />
                                  <i class="helper"></i>
                                </label>
                              </div>
                              <div class="ml-3">50% and above</div>
                            </div>
                          </li>
                          <li class="my-2">
                            <div class="form-radio d-flex">
                              <div class="radio">
                                <label class="">
                                  <input
                                    type="radio"
                                    name="discount"
                                    value="60"
                                    (change)="changeDiscount($event)"
                                    [checked]="selectedDiscount == 60"
                                  />
                                  <i class="helper"></i>
                                </label>
                              </div>
                              <div class="ml-3">60% and above</div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <!-- Parent Sub And Child Categories -->
                </div>
                <!-- Categories Container -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <!-- Product Listing -->
          <div class="breadcrumb-product dt-none" *ngIf="products?.length != 0">
            <div class="col-lg-6 pl-0">
              <h3>
                {{ productListHeading }}
              </h3>
            </div>
          </div>
          <div class="row v-row breadcrumb-product m-none mt-2">
            <div class="col-lg-3 pl-0">
              <h3>
                {{ productListHeading }}
              </h3>
            </div>
            <div class="col-lg-9 text-right pr-0">
              <div class="col-lg-12 float-right pr-0 filters-desktop m-none">
                <ul>
                  <li>Sort By :</li>
                  <li>
                    <a
                      [ngClass]="{ active: activeclass == 'popularity' }"
                      (click)="onSelectSort('popularity'); close()"
                      >Popularity</a
                    >
                  </li>
                  <li>
                    <a
                      [ngClass]="{ active: activeclass == 'latest' }"
                      (click)="onSelectSort('latest'); close()"
                      >Newest</a
                    >
                  </li>
                  <li>
                    <a
                      [ngClass]="{ active: activeclass == 'discount' }"
                      (click)="onSelectSort('discount'); close()"
                      >Discount</a
                    >
                  </li>

                  <li>
                    <a
                      [ngClass]="{ active: activeclass == 'price_low_to_high' }"
                      (click)="onSelectSort('price_low_to_high'); close()"
                      >Price: Low to High</a
                    >
                  </li>
                  <li>
                    <a
                      [ngClass]="{ active: activeclass == 'price_high_to_low' }"
                      (click)="onSelectSort('price_high_to_low'); close()"
                      >Price: High to Low</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row"></div>
          <div class="row filter-search">
            <div class="col-lg-12 px-0 div-row">
              <div class="search-keyword" class="search-main">
                <div *ngFor="let pcat of filters.cids">
                  <span *ngIf="pcat == parentCategories?.id">
                    {{ parentCategories.title }}
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, pcat, 'cids')"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="search-keyword" class="search-main">
                <div *ngFor="let scat of filters.scids">
                  <span *ngIf="scat == subCategories?.id">
                    {{ subCategories.title | titlecase }}
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, scat, 'scids')"
                    ></i>
                  </span>
                </div>
              </div>
              <div
                *ngFor="let childCat of childCategories; let i = index"
                class="search-keyword"
                class="search-main"
              >
                <div *ngFor="let ccid of filters.ccids">
                  <span *ngIf="ccid == childCat.id">
                    {{ childCat.title | titlecase }}
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, ccid, 'ccids')"
                    ></i>
                  </span>
                </div>
              </div>
              <div
                *ngFor="let brand of brands; let i = index"
                class="search-keyword"
                class="search-main"
              >
                <div *ngFor="let bnd of filters.brands">
                  <span *ngIf="bnd == brand.id">
                    {{ brand.name | titlecase }}
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, bnd, 'brands')"
                    ></i>
                  </span>
                </div>
              </div>
              <div
                *ngFor="let attrs of primaryAttributeOptions; let i = index"
                class="search-main"
              >
                <div *ngFor="let attr of filters.attrs" class="search-keyword">
                  <span *ngIf="attr == attrs.id">
                    {{ attrs.option_name }}
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, attr, 'attr')"
                    ></i>
                  </span>
                </div>
              </div>
              <div
                *ngFor="let attrs of secondaryAttributeOptions; let i = index"
                class="search-main"
              >
                <div *ngFor="let attr of filters.attrs" class="search-keyword">
                  <span *ngIf="attr == attrs.id">
                    {{ attrs.option_name }}
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, attr, 'attr')"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="search-main">
                <div class="search-keyword">
                  <span *ngIf="filters.minpr != null && filters.maxpr != null">
                    Rs.{{ filters.minpr }} to {{ filters.maxpr }}
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, null, 'price')"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="search-main">
                <div class="search-keyword">
                  <span *ngIf="filters.discount != null">
                    {{ filters.discount }}% OFF AND ABOVE
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, null, 'discount')"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="search-main">
                <div class="search-keyword">
                  <span *ngIf="filters.ediscount != null">
                    {{ filters.ediscount }}% OFF 
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, null, 'ediscount')"
                    ></i>
                  </span>
                </div>
              </div>
              <div class="search-main">
                <div class="search-keyword">
                  <span *ngIf="filters.udiscount != null">
                    UPTO {{ filters.udiscount }}% OFF 
                    <i
                      class="fal fa-times"
                      (click)="removeFilter($event, null, 'udiscount')"
                    ></i>
                  </span>
                </div>
              </div>
              <!-- *ngIf="filters.ccids.length != 0 && !defaultChildId" -->
              <button
                class="clear-btn"
                *ngIf="
                  filters.ccids.length > 0 ||
                  filters.cids.length > 0 ||
                  filters.scids.length > 0 ||
                  filters.brands.length > 0 ||
                  filters.attrs.length > 0 ||
                  filters.discount != null ||
                  filters.ediscount != null ||
                  filters.udiscount != null ||
                  filters.minpr != null ||
                  filters.maxpr != null
                "
                (click)="clearAllfilters()"
              >
                Clear All <i class="fal fa-times"></i>
              </button>
            </div>
          </div>

          <div
            class="search-results"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()"
          >
            <div class="row">
              <!-- Product Block -->
              <div
                class="col-lg-3 col-md-3 col-sm-6 col-xs-6 productlist-block"
                *ngFor="let product of products; let i = index"
              >
                <div class="product-list custom-image-size">
                  <!-- product-image -->

                  <div class="product-image">
                    <a
                      (click)="
                        productvariant(
                          product.product_variant_id,
                          i,
                          product.product_id
                        )
                      "
                    >
                      <!-- <img src="{{ product.thumbnail_path }}" /> -->
                      <img
                        [errorImage]="imageToShowOnError"
                        [lazyLoad]="imgUrl + '/' + product.thumbnail_img_name"
                        [defaultImage]="lazyLoadSpinner"
                        [offset]="lazyLoadOffset"
                      />
                    </a>

                    <!-- wishlist -->
                    <a
                      class="bubbly-button"
                      [ngClass]="
                        wishlists?.indexOf(product.product_variant_id) > -1
                          ? 'wishlist-block active'
                          : 'wishlist-block'
                      "
                      (click)="
                        addToWishlist(
                          product.product_variant_id,
                          product.product_id,
                          'click'
                        )
                      "
                      ><i class="fal fa-heart"></i
                    ></a>
                    <!-- wishlist -->
                    <a
                      (click)="
                        productvariant(
                          product.product_variant_id,
                          i,
                          product.product_id
                        )
                      "
                      class="product-add-btn m-none"
                      style="text-align: center; color: #fff"
                    >
                      <!-- {{ product.stock <= 0 ? "OUT OF STOCK " : "add to cart" }} -->
                      add to cart
                    </a>
                  </div>
                  <!-- product-image -->

                  <div
                    class="product-details"
                    routerLink="/products/{{ product.slug }}/{{
                      product.unique_id
                    }}"
                  >
                    <p>{{ product.brand_name }}</p>
                    <h4>{{ product.name }}</h4>
                    <ul >
                      <li class="sell-price">
                        Rs. <span>{{ product.final_price }}</span>
                      </li>
                      <li
                        class="sell-mrp"
                        *ngIf="product.final_price != product.mrp"
                      >
                        Rs. <span>{{ product.mrp }}</span>
                      </li>
                      <li
                        class="sell-discount"
                        *ngIf="product.final_discount > 0"
                      >
                        (<span>{{ product.final_discount }}</span
                        >% off)
                      </li>
                    </ul>
                    <!-- <ul *ngIf="product.deal_price != null">
                      <li class="sell-price">
                        Rs. <span>{{ product.deal_price }}</span>
                      </li>
                      <li
                        class="sell-mrp"
                        *ngIf="product.deal_price != product.mrp"
                      >
                        Rs. <span>{{ product.mrp }}</span>
                      </li>
                      <li
                        class="sell-discount"
                        *ngIf="product.deal_discount > 0"
                      >
                        (<span>{{ product.deal_discount }}</span
                        >% off)
                      </li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <!-- Product Block -->
            </div>

            <!-- <div class="row p-4">
                            <div class="col-md-12">
                                <ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.8)" size="default" color="#e75e83"
                                    type="ball-circus" [fullScreen]="false">
                                </ngx-spinner>
                            </div>
                        </div> -->

            <!-- Loader -->
            <div class="row" *ngIf="scrolled">
              <div
                class="col-lg-3 col-md-3 col-sm-6 col-xs-6 px-1 mb-3"
                *ngFor="let product of [1, 2]"
              >
                <div class="product-list1 border">
                  <div class="">
                    <ngx-skeleton-loader
                      [theme]="{
                        'border-radius': '0px',
                        width: '100%',
                        height: '220px',
                        'margin-bottom': '-5px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </div>
                  <div class="product-details1">
                    <p>
                      <ngx-skeleton-loader
                        [theme]="{
                          height: '10px',
                          width: '80px',
                          margin: '0px',
                          'border-radius': '0px'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                    <h4>
                      <ngx-skeleton-loader
                        [theme]="{
                          height: '10px',
                          width: '140px',
                          margin: '0px',
                          'border-radius': '0px'
                        }"
                      ></ngx-skeleton-loader>
                    </h4>
                    <p>
                      <ngx-skeleton-loader
                        [theme]="{
                          height: '10px',
                          width: '120px',
                          margin: '0px',
                          'border-radius': '0px'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="!notEmptyProduct" class="row py-4">
              <div class="col-md-12 d-flex justify-content-center">
                <div class="text-muted h6 p-2">
                  No more Products in this category
                </div>
              </div>
            </div>

            <!-- no products found -->
            <div class="row text-center-nofound" *ngIf="products?.length == 0">
              <div class="col-lg-12">
                <img src="assets/images/icons/noorders.png" />
                <label>No products found</label>
              </div>
            </div>
            <!-- no products found -->
            <!-- Product Listing -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skeleton-Loader -->
  <section class="productlist-section bg-light-blue" *ngIf="loading">
    <div class="container">
      <div class="row productlist-row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 m-none">
          <div class="widget">
            <h3 class="widget-title">Filter By</h3>
            <ngx-skeleton-loader
              [theme]="{
                'border-radius': '5px',
                height: '250px',
                width: '100%',
                'background-color': '#992929',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
              count="3"
              [theme]="{
                'border-radius': '5px',
                height: '35px',
                width: '100%',
                'background-color': '#992929',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <!-- Product Listing -->
          <div class="row v-row breadcrumb-product m-none mt-2">
            <div class="col-lg-6 pl-0">
              <h3>
                <ngx-skeleton-loader
                  [theme]="{
                    'border-radius': '5px',
                    height: '20px',
                    width: '150px',
                    'margin-bottom': '0px',
                    'background-color': '#992929',
                    border: '1px solid white'
                  }"
                ></ngx-skeleton-loader>
              </h3>
            </div>
            <div class="col-lg-6 text-right pr-0">
              <div class="col-lg-8 float-right pr-0 filters-desktop m-none">
                <ngx-skeleton-loader
                  [theme]="{
                    'border-radius': '5px',
                    height: '25px',
                    width: '150px',
                    'margin-bottom': '0px',
                    'background-color': '#992929',
                    border: '1px solid white'
                  }"
                ></ngx-skeleton-loader>
              </div>
            </div>
          </div>
          <div class="row"></div>

          <div class="search-results">
            <div class="row">
              <!-- Product Block -->
              <div
                class="col-lg-3 col-md-3 col-sm-6 col-xs-6 px-1 mb-3"
                *ngFor="let product of [1, 2, 3, 4, 5, 6]"
              >
                <div class="product-list1 border">
                  <div class="">
                    <ngx-skeleton-loader
                      [theme]="{
                        'border-radius': '0px',
                        width: '100%',
                        height: '260px',
                        'margin-bottom': '-5px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </div>
                  <div class="product-details1">
                    <p>
                      <ngx-skeleton-loader
                        [theme]="{
                          height: '10px',
                          width: '80px',
                          margin: '0px',
                          'border-radius': '0px'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                    <h4>
                      <ngx-skeleton-loader
                        [theme]="{
                          height: '10px',
                          width: '140px',
                          margin: '0px',
                          'border-radius': '0px'
                        }"
                      ></ngx-skeleton-loader>
                    </h4>
                    <p>
                      <ngx-skeleton-loader
                        [theme]="{
                          height: '10px',
                          width: '120px',
                          margin: '0px',
                          'border-radius': '0px'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Skeleton-Loader -->

  <app-footer></app-footer>
</div>

<aside
  class="side-widget dt-none"
  [ngClass]="filterclass ? 'active' : ''"
  *ngIf="!loading"
>
  <div>
    <section class="breadcrumb mb-0 b-bottom top-sec-filter">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <h3>Filters</h3>
          </div>
          <div class="col-xs-6 col-sm-6 text-right float-right">
            <a class="link-anchor" (click)="clearAllfilters()">
              Reset Filters</a
            >
          </div>
        </div>
      </div>
    </section>
    <div class="inner">
      <div id="content">
        <div id="main-content" class="mt-3" [@.disabled]="true">
          <mat-tab-group>
            <!-- Categories Filters -->
            <mat-tab>
              <!-- <ng-template mat-tab-label>
                <i class="fa fa-file-text-o mr-1" aria-hidden="true"></i>
                Categories</ng-template
              >
              <div class="search-filters-block">
                <button type=""><i class="fal fa-search"></i></button>
                <input
                  type="text"
                  class="search-filters input"
                  [(ngModel)]="searchText"
                  placeholder="Search for categories"
                />
              </div>
              <div
                class="content-div"
                *ngFor="
                  let category of categories | filter: searchText;
                  let check = index
                "
              >
                <label class="checkbox path">
                  <input
                    type="checkbox"
                    *ngIf="
                      category.is_checked == false && this.id != category.id
                    "
                    value="{{ category.name }}"
                    id="{{ category.title }}_{{ check }}_{{ category.id }}"
                    [checked]="filters.ccids.indexOf(category.id) > -1"
                    (change)="
                      onFilterCategoryChange($event, category.slug, category.id)
                    "
                  />

                  <input
                    type="checkbox"
                    *ngIf="
                      category.is_checked == true && this.id != category.id
                    "
                    checked
                    value="{{ category.name }}"
                    id="{{ category.slug }}_{{ check }}_{{ category.id }}"
                    (change)="
                      onFilterCategoryChange(
                        $event,
                        category.title,
                        category.id
                      )
                    "
                    disabled
                  />
                  <svg viewBox="0 0 21 21">
                    <path
                      d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                    ></path>
                  </svg>
                </label>
                <label for="{{ category.title }}_{{ check }}_{{ category.id }}">
                  {{ category.title }}</label
                >
              </div> -->
              <ng-template mat-tab-label>
                <i class="fa fa-file-text-o mr-1" aria-hidden="true"></i>
                Categories</ng-template
              >
              <div id="narrow-by-list">
                <div class="odd category-list">
                  <!-- Parent Categories only -->
                  <ul
                    class="cat-list"
                    *ngIf="
                      parentCategories != null &&
                      subCategories == null &&
                      childCategories == null
                    "
                  >
                    <li
                      *ngFor="let category of parentCategories"
                      (click)="parentCategoryMobileViewClick(category.id)"
                      style="cursor: pointer"
                    >
                      <a>{{ category.title }}</a>
                    </li>
                  </ul>
                  <!-- Parent Categories only -->

                  <!-- Parent And Sub Categories -->
                  <ul
                    class="childcat-list"
                    *ngIf="
                      parentCategories != null &&
                      subCategories != null &&
                      childCategories == null
                    "
                  >
                    <label
                      (click)="
                        parentCategoryMobileViewClick(parentCategories.id)
                      "
                      class="main-filters-title cat-title"
                      style="cursor: pointer"
                      ><a>{{ parentCategories.title }}</a></label
                    >
                    <li
                      *ngFor="let subCategory of subCategories"
                      (click)="
                        subCategoryMobileViewClick(
                          subCategory.id,
                          parentCategories.id
                        )
                      "
                      style="cursor: pointer"
                    >
                      <a>{{ subCategory.title | titlecase }}</a>
                    </li>
                  </ul>
                  <!-- Parent And Sub Categories -->

                  <!-- Parent, Sub and Child Categories -->
                  <ul
                    *ngIf="
                      parentCategories != null &&
                      subCategories != null &&
                      childCategories != null
                    "
                    class="child-list"
                  >
                    <div>
                      <label
                        (click)="
                          parentCategoryMobileViewClick(parentCategories.id)
                        "
                        class="main-filters-title cat-title"
                        style="cursor: pointer"
                        ><a>{{ parentCategories.title }}</a></label
                      >
                    </div>
                    <div>
                      <label
                        (click)="
                          subCategoryMobileViewClick(
                            subCategories.id,
                            parentCategories.id
                          )
                        "
                        class="main-filters-title p-l30 sub-catlist"
                        style="cursor: pointer"
                        ><a>{{ subCategories.title | titlecase }}</a></label
                      >
                    </div>
                    <li *ngFor="let childCategory of childCategories">
                      <a href="javascript:void(0)">
                        <label class="checkbox path">
                          <input
                            type="checkbox"
                            (change)="
                              childCategoriesMobileViewClick(
                                $event,
                                childCategory.id
                              )
                            "
                            [checked]="
                              filters.ccids.indexOf(childCategory.id) > -1
                            "
                          />
                          <svg viewBox="0 0 21 21">
                            <path
                              d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                            ></path>
                          </svg>
                        </label>
                        {{ childCategory.title }}
                      </a>
                    </li>
                  </ul>
                  <!-- Parent, Sub and Child Categories -->
                </div>
              </div>
            </mat-tab>
            <!-- Categories Filters -->

            <!-- Price Filters -->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-file-text-o mr-1" aria-hidden="true"></i>Price
              </ng-template>
              <div class="price-filters">
                <ngx-slider
                  [(value)]="min"
                  (userChange)="mobileViewPriceFilterChange()"
                  [(highValue)]="max"
                  [options]="options"
                  (mouseup)="sliderEvent('m')"
                ></ngx-slider>
                <div class="row clearfix">
                  <div class="col-lg-12">
                    <div class="budget">
                      <ul>
                        <li>
                          <label>Min:</label>
                          <input
                            type="number"
                            (keyup)="
                              mobileInputPriceFilter($event.target.value, 'min')
                            "
                            [value]="min"
                          />
                        </li>
                        <li>
                          <label> Max:</label>
                          <input
                            type="number"
                            (keyup)="
                              mobileInputPriceFilter($event.target.value, 'max')
                            "
                            [value]="max"
                          />
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <!-- Price Filters -->

            <!-- Brands Filters -->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-file-text-o mr-1" aria-hidden="true"></i>Brands
              </ng-template>
              <div class="search-filters-block">
                <button type=""><i class="fal fa-search"></i></button>
                <input
                  type="text"
                  class="search-filters input"
                  [(ngModel)]="searchText"
                  placeholder="Search for brands"
                />
              </div>
              <div
                class="content-div"
                *ngFor="
                  let brand of brands | filter: searchText;
                  let check = index
                "
              >
                <label class="checkbox path">
                  <input
                    type="checkbox"
                    value="{{ brand.name }}"
                    [checked]="filters.brands.indexOf(brand.id) > -1"
                    id="{{ brand.name }}_{{ check }}_{{ brand.id }}"
                    (change)="onFilterBrandChange($event, brand.id)"
                  />

                  <svg viewBox="0 0 21 21">
                    <path
                      d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                    ></path>
                  </svg>
                </label>
                <label for="{{ brand.name }}_{{ check }}_{{ brand.id }}">
                  {{ brand.name }}</label
                >
              </div>
            </mat-tab>
            <!-- Brands Filters -->
            <!-- Attributes -->
            <!-- Primary Attributes -->
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="fa fa-file-text-o mr-1" aria-hidden="true"></i
                >Discount Range
              </ng-template>
              <!-- <div class="search-filters-block">
                <button type=""><i class="fal fa-search"></i></button>
                <input
                  type="text"
                  class="search-filters input"
                  [(ngModel)]="searchText"
                  placeholder="Search"
                />
              </div> -->
              <!-- <div
                class="content-div"
                *ngFor="
                  let option of primaryAttributeOptions | filter: searchText;
                  let check = index
                "
              >
                <label class="checkbox path">
                  <input
                    type="checkbox"
                    [checked]="filters.attrs.indexOf(option.id) > -1"
                    value="{{ option.option_name }}"
                    id="{{ option.option_name }}_{{ check }}_{{
                      option.attribute_option_id
                    }}"
                    (change)="
                      onAttributeFilterChange(
                        $event,
                        option.option_name,
                        option.id
                      )
                    "
                  />

                  <svg viewBox="0 0 21 21">
                    <path
                      d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                    ></path>
                  </svg>
                </label>
                <label
                  *ngIf="primaryAttributeType == 'c'"
                  class="color-code border"
                  [style.background-color]="option.colour_code"
                ></label>
                <label
                  for="{{ option.attribute_value }}_{{ check }}_{{
                    option.attribute_option_id
                  }}"
                >
                  {{ option.option_name }}</label
                >
              </div> -->
              <div class="even discount">
                <ul class="configurable-swatch-list last-child">
                  <li>
                    <a class="swatch-link" href="javascript:void(0)">
                      <div class="form-group mb-0">
                        <div class="form-radio">
                          <div class="radio d-flex flex-row">
                            <label class="pr-4">
                              <input
                                type="radio"
                                name="discount"
                                value="10"
                                [checked]="selectedDiscount == 10"
                                (change)="changeDiscountMobile($event)"
                              />
                              <i class="helper"></i> 10% and above
                            </label>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="swatch-link" href="javascript:void(0)">
                      <div class="form-group mb-0">
                        <div class="form-radio">
                          <div class="radio d-flex flex-row">
                            <label class="pr-4">
                              <input
                                type="radio"
                                name="discount"
                                value="20"
                                [checked]="selectedDiscount == 20"
                                (change)="changeDiscountMobile($event)"
                              />
                              <i class="helper"></i> 20% and above
                            </label>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="swatch-link" href="javascript:void(0)">
                      <div class="form-group mb-0">
                        <div class="form-radio">
                          <div class="radio d-flex flex-row">
                            <label class="pr-4">
                              <input
                                type="radio"
                                name="discount"
                                value="30"
                                [checked]="selectedDiscount == 30"
                                (change)="changeDiscountMobile($event)"
                              />
                              <i class="helper"></i> 30% and above
                            </label>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="swatch-link" href="javascript:void(0)">
                      <div class="form-group mb-0">
                        <div class="form-radio">
                          <div class="radio d-flex flex-row">
                            <label class="pr-4">
                              <input
                                type="radio"
                                name="discount"
                                value="40"
                                [checked]="selectedDiscount == 40"
                                (change)="changeDiscountMobile($event)"
                              />
                              <i class="helper"></i> 40% and above
                            </label>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="swatch-link" href="javascript:void(0)">
                      <div class="form-group mb-0">
                        <div class="form-radio">
                          <div class="radio d-flex flex-row">
                            <label class="pr-4">
                              <input
                                type="radio"
                                name="discount"
                                value="50"
                                [checked]="selectedDiscount == 50"
                                (change)="changeDiscountMobile($event)"
                              />
                              <i class="helper"></i> 50% and above
                            </label>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="swatch-link" href="javascript:void(0)">
                      <div class="form-group mb-0">
                        <div class="form-radio">
                          <div class="radio d-flex flex-row">
                            <label class="pr-4">
                              <input
                                type="radio"
                                name="discount"
                                value="60"
                                [checked]="selectedDiscount == 60"
                                (change)="changeDiscountMobile($event)"
                              />
                              <i class="helper"></i> 60% and above
                            </label>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </mat-tab>
            <!-- Primary Attributes Mobile View-->
            <mat-tab
              *ngIf="
                filters.cids.length > 0 && primaryAttributeOptions.length > 0
              "
            >
              <ng-template mat-tab-label>
                <i class="fa fa-file-text-o mr-1" aria-hidden="true"></i
                >{{ primaryAttributeName }}
              </ng-template>
              <div class="search-filters-block">
                <button type=""><i class="fal fa-search"></i></button>
                <input
                  type="text"
                  class="search-filters input"
                  [(ngModel)]="searchText"
                  placeholder="Search"
                />
              </div>
              <div
                class="content-div"
                *ngFor="
                  let option of primaryAttributeOptions | filter: searchText;
                  let check = index
                "
              >
                <label class="checkbox path">
                  <input
                    type="checkbox"
                    [checked]="filters.attrs.indexOf(option.id) > -1"
                    value="{{ option.option_name }}"
                    id="{{ option.option_name }}_{{ check }}_{{
                      option.attribute_option_id
                    }}"
                    (change)="
                      onAttributeFilterChange(
                        $event,
                        option.option_name,
                        option.id
                      )
                    "
                  />

                  <svg viewBox="0 0 21 21">
                    <path
                      d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                    ></path>
                  </svg>
                </label>
                <label
                  *ngIf="primaryAttributeType == 'c'"
                  class="color-code border"
                  [style.background-color]="option.colour_code"
                ></label>
                <label
                  for="{{ option.attribute_value }}_{{ check }}_{{
                    option.attribute_option_id
                  }}"
                >
                  {{ option.option_name }}</label
                >
              </div>
            </mat-tab>
            <!-- Primary Attributes Mobile View-->
            <!-- Secondary Attributes Mobile View-->
            <mat-tab
              *ngIf="
                filters.cids.length > 0 && secondaryAttributeOptions.length > 0
              "
            >
              <ng-template mat-tab-label>
                <i class="fa fa-file-text-o mr-1" aria-hidden="true"></i
                >{{ secondaryAttributeName }}
              </ng-template>
              <div class="search-filters-block">
                <button type=""><i class="fal fa-search"></i></button>
                <input
                  type="text"
                  class="search-filters input"
                  [(ngModel)]="searchText"
                  placeholder="Search"
                />
              </div>
              <div
                class="content-div"
                *ngFor="
                  let option of secondaryAttributeOptions | filter: searchText;
                  let check = index
                "
              >
                <label class="checkbox path">
                  <input
                    type="checkbox"
                    [checked]="filters.attrs.indexOf(option.id) > -1"
                    value="{{ option.option_name }}"
                    id="{{ option.option_name }}_{{ check }}_{{
                      option.attribute_option_id
                    }}"
                    (change)="
                      onAttributeFilterChange(
                        $event,
                        option.option_name,
                        option.id
                      )
                    "
                  />

                  <svg viewBox="0 0 21 21">
                    <path
                      d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                    ></path>
                  </svg>
                </label>
                <label
                  *ngIf="secondaryAttributeType == 'c'"
                  class="color-code"
                  [style.background-color]="option.colour_code"
                ></label>
                <label
                  for="{{ option.attribute_value }}_{{
                    option.attribute_option_id
                  }}"
                >
                  {{ option.option_name }}</label
                >
              </div>
            </mat-tab>
            <!-- Secondary Attributes Mobile View -->
            <!-- Attributes -->
          </mat-tab-group>
        </div>
      </div>
    </div>
    <section class="row filters-bottom v-row">
      <div class="col-xs-6 col-sm-6 text-center">
        <button
          type="submit"
          class="
            btn btn-style-bg
            hamburger-menu
            bg-transparent
            text-uppercase
            m-b10
          "
          (click)="filterPopup()"
          [ngClass]="filterclass ? 'active' : ''"
        >
          close
        </button>
      </div>
      <div class="col-xs-6 col-sm-6 text-center">
        <button
          type="submit"
          class="btn btn-style-bg text-uppercase m-b10"
          (click)="getProductsByFilters(); filterPopup()"
        >
          Apply Filters
        </button>
      </div>
    </section>
  </div>
</aside>

<ng-template #sortwidget let-modal>
  <div class="modal-body" class="video-popup-body dt-none">
    <div class="modal-body pl-0 pr-0">
      <div class="row v-row pl-2 pr-2">
        <div class="col-lg-6 col-xs-8 col-sm-8">
          <h3 class="title-info">Sort By</h3>
        </div>
        <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right">
          <button
            type="button"
            (click)="close()"
            data-dismiss="modal"
            aria-hidden="true"
            class="modal-close"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <section class="p-a0 size-page">
        <div class="container" [@.disabled]="true">
          <div class="row">
            <div class="main-content sort-filter">
              <ul>
                <li (click)="onSelectSort('popularity'); close()">
                  <a [class.active]="activeclass == 'popularity'">
                    <i class="fal fa-fire"></i> Popularity</a
                  >
                </li>
                <li (click)="onSelectSort('latest'); close()">
                  <a [class.active]="activeclass == 'latest'"
                    ><i class="fal fa-star"></i> Newest</a
                  >
                </li>
                <li (click)="onSelectSort('discount'); close()">
                  <a [class.active]="activeclass == 'discount'"
                    ><i class="fal fa-badge-percent"></i> Discount</a
                  >
                </li>
                <li (click)="onSelectSort('price_low_to_high'); close()">
                  <a [class.active]="activeclass == 'price_low_to_high'"
                    ><i class="fal fa-sort-amount-up-alt"></i> Price: Low to
                    High</a
                  >
                </li>
                <li (click)="onSelectSort('price_high_to_low'); close()">
                  <a [class.active]="activeclass == 'price_high_to_low'"
                    ><i class="fal fa-sort-amount-down"></i> Price: High to
                    Low</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
