.footer-nav-area {
  display: none;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .footer-nav-area {
    display: block !important;
  }
  .footer-nav-area {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #ffffff;
    width: 100%;
    height: 58px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #cac7f6;
    box-shadow: 0 1px 3px 0px #9ccae8;
  }
  .woodmart-burger::before {
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: currentColor;
    transition: width 0.25s ease;
  }

  .woodmart-burger::before {
    top: -6px;
  }
  .woodmart-burger::after,
  .woodmart-burger::before {
    content: "";
    position: absolute;
    left: 0;
  }
  .woodmart-burger,
  .woodmart-burger::after,
  .woodmart-burger::before {
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: currentColor;
    transition: width 0.25s ease;
  }
  .woodmart-burger::after {
    top: 6px;
  }
  .svg-icon {
    width: 1em;
    height: 1em;
    display: block;
    text-align: center;
    margin: 4px auto;
    font-size: 18px;
  }
  .home-icon {
    font-size: 24px;
  }
  .notification-icon {
    transform: rotate(-19deg);
    font-size: 26px;
    margin: 0 auto;
  }
  .category-icon {
    font-size: 25px;
  }
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #747794;
  }

  .svg-icon circle {
    stroke: #747794;
    stroke-width: 1;
  }
  .wish-list {
    font-size: 23px;
  }

  .suha-footer-nav ul {
    width: 100%;
  }
  .suha-footer-nav ul li {
    flex: 1 1 0;
    position: relative;
    z-index: 1;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
  }

  .suha-footer-nav ul li p {
    font-size: 13px;
    line-height: 11px;
    text-transform: capitalize;
  }
  .suha-footer-nav ul li a {
    display: inline-grid;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    color: #333;
    font-weight: 400;
    line-height: 1;
    font-size: 12px;
  }
  .active-img {
    display: none;
  }
  .suha-footer-nav ul li a.active .inactive-img {
    display: none;
  }
  .suha-footer-nav ul li a.active .active-img {
    display: block;
  }
  .suha-footer-nav ul li a.active p {
    color: #e75e83;
    font-weight: 600;
  }
  .suha-footer-nav ul li a i,
  .suha-footer-nav ul li a span {
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
  }

  img {
    width: 18px;
    margin: 3px auto;
  }
}


/*footer*/
.border-block {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  padding: 20px 0 20px;
}

.app-store {
  display: block;
  float: none;
  font-size: 0;
}
.subscribe-sec{
  background: #607d8b4d !important;
}
.module.news-letter {
  margin: 0;
}
.module.news-letter .newsletter {
  display: table;
  padding: 0;
  background: transparent !important;
  border: none;
}
.title-block {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  margin: 3px 0 0 0;
  vertical-align: middle;
  display: table-cell;
  width: 50%;
}
.block_content {
  width: 50%;
  display: table-cell;
  position: relative;
}
.module.news-letter .block_content form {
  margin: 0;
  width: 100%;
  border-radius: 50px;
  background: #fff;
  vertical-align: middle;
  border: 1px solid #ebebeb;
}
.module.news-letter .block_content .form-inline .form-group {
  margin: 0;
  height: 40px;
  padding: 0 0 0 10px;
  position: relative;
  width: 100%;
}
.module.news-letter .block_content .form-inline .form-group button {
  color: #fff;
  height: 41px;
  border: 0;
  top: -21px;
  background: #273647;
  bottom: 3px;
  width: auto;
  padding: 0px 20px;
  border-radius: 0px 40px 40px 0;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  right: -1px;
  border-radius: 0px 25px 25px 0px;
}
.module.news-letter .block_content .form-inline .form-group button i.fa {
  display: block !important;
  color: #fff;
}
.module.news-letter .form-control
{
  border: 0;
  font-size: 13px;
}
.module.news-letter .title-block {
  color: #273647;
  font-weight: 400;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0px 0 0 0;
  vertical-align: middle;
  display: table-cell;
  width: 50%;
  text-align: center;
}
.module.news-letter .title-block .page-heading {
  font-weight: 700;
  font-size: 21px;
  display: inline-block;
  margin-right: 7px;
}
.module.news-letter .title-block .fa {
  font-size: 16px;
  margin-right: 5px;
}
.module.news-letter .title-block .newsletter_promo {
  display: inline-block;
  line-height: 18px;
  margin-right: 5px;
}
.module.news-letter .block_content .form-inline .form-group button > span {
  display: none;
}
.module.news-letter .block_content .form-inline .form-group .subcribe {
  position: absolute;
  right: 0;
}
.item-1
{
  text-align: right;
}
.app-store a {
  margin: 0 6px 0 0;
  font-size: 0;
  color: transparent;
  display: inline-block;
  height: 30px;
  width: 105px;
}
.app-store img
{

  font-size: 0;
  text-indent: -99999999px;
  color: transparent;
  display: inline-block;
  height: 30px;
  width: 105px;
}
.footer-social {
  text-align: left;
}

.footer-social .socials li {
  display: inline-block;
  margin-right: 10px;
  color: #666;
}
.footer-social .socials li a {
 
  color: #666;
}
.socials a i {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 28px;
  border-radius: 50%;
  border: 1px solid #edecec;
  background: #fff;
  text-align: center;
  font-size: 12px;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.so-page-builder section {
  overflow: hidden;
}
.section_5 .custom_link {
  border-bottom: 1px solid #ebebeb;
  margin-top: 15px;
}
.section_5 .footer-toplinks {
  line-height: 18px;
  padding: 0 0 10px;
}
.section_5 .footer-toplinks .links label {
  font-weight: bold;
  text-transform: capitalize;
  color: #222;
  font-size: 12px;
  margin: 0;
}
.section_5 .footer-toplinks ul li {
  display: inline-block;
  position: relative;
  padding: 0 5px;
}
.section_5 .footer-toplinks ul li a {
  font-size: 12px;
  font-weight: 400;
  color: #555;
}
.section_5 .footer-toplinks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  font-size: 0;
}
.footer-toplinks ul li a:after {
  content: "\/";
  display: block;
  font-size: 14px;
  color: #555;
  position: absolute;
  top: 0px;
  left: -2px;
}
.footer-toplinks ul li:first-child a:after {
  content: none;
}
.section_5
{
  padding:0;
}
.social_sections
{
  padding:0; 
}

.footer-bottom {
  background: transparent;
  padding: 15px 0 15px;
  font-size: 12px;
  color: #555;
}
.copyright {
  margin-bottom: 0px;
  text-align: left;
}
.footer-bottom .copyright a {
  color: #1f83cf;
}

footer
{
  background:#f4f4f4;
}
.about-footer h4{
  
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  text-transform: capitalize;

}
.socials h1
{
  font-size: 17px;
  margin: 0;
  line-height: 11px;
}
.socials p
{
  font-size: 13px;
  margin: 6px 0;
  line-height: 11px;
}
.social-facebook a i {
  background-color: #365493;
}
.social-twitter a i{
  background-color: #3CF;
}
.social-instagram a i{
  background-color: #774430;
}
.social-youtube a i{
  background-color: #CB2027;
}
.social-pinterest a i{
  background-color: #CB2027;
}
.social-snapchat a i{
  background-color: #f1da17;
}
.social-podcast a i
{
  background-color: #8b44c6;
}
.social-blog a i
{
  background-color: #f37d18;
}

.support-data h3 a
{
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

.support-data h3
{
  font-size: 15px;
  font-weight: 600;
  color: #666;
}


  
.support-data h6
{
  font-size: 13px;
  color: #e75e83;
  font-weight: 600;
}

.about-footer p
{
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #555;
}
.features {
  
  border-radius: 3px;
  padding: 0px 0 0px 0;
  margin: 2px 0;
  display: inline-block;
  width: 100%;
}
.footer-widget  h4
{
  font-size: 13px;
  margin: 0;
  font-weight: 500;
  margin-bottom:10px;
}
.footer-widget li
{
  display: block;
  line-height: 16px;
}
.links-section
{
  padding:0;
}
.footer-widget li a
{
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  color: #555;
  cursor: pointer;
}
.features ul li {
  float: right;
  padding: 0 0px;
  text-align: center;
  width: 25%;
  position: relative;
  list-style-type: none;
}


.features ul li:last-child::before {
  content: none;
}
.footer-toplinks .links ul li::after {
  content: "/";
  display: block;
  font-size: 14px;
  color: #555;
  position: absolute;
  top: 0px;
  left: -2px;
}
.footer-toplinks .links ul li:first-child::after {
  content: none;
  left: -2px;
}
.features ul li:before {
  background: #ebebeb none repeat scroll 0 0;
  content: "";
  height: 50px;
  position: absolute;
  left: 0;
  top: 3px;
  width: 1px;
}

.features ul li .item-inner {
  display: inline-flex;
  align-items: center;
}

.features ul li .item-inner .icon.icon1 {
  background-position: -22px -23px;
}

.features ul li .item-inner .icon {


  float: left;

  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #f6f6f6;
  border-radius: 50%;
  line-height: 50px;
  margin-right: 0;
  vertical-align: middle;
  align-items: center;
  box-shadow: 0 1px 3px 0 #9ccae8;
  justify-content: center;
  /* margin: 0 auto 23px; */
  margin-right: 12px;
}

.features ul li .item-inner .icon img {
  width: 40px;
}

.features ul li .item-inner .content {
  float: right;
  text-align: left;
  margin-top: 3px;
}

.features ul li .item-inner .content a {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  cursor: default;
}

.features ul li .item-inner .content p {
  line-height: 100%;
  margin: 0;
  font-size: 12px;
  text-transform: capitalize;
}

.features-section .section-maintitle {

 
  font-weight: 700;
  margin-bottom: 15px !important;
  padding: 10px;
  color: #3e5067;
  border-radius: 5px;
  font-size: 22px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  position: relative;

}


.about-footer .anchor-link
{    color: #eb6083;
  font-weight: 600;
  font-size: 12px;
  padding-left: 5px;}

  .successmessage {
    color: #20b46a !important;
    font-weight: 600 !important;
    text-transform: capitalize;
    font-size: 13px !important;
    text-align: center;
    display: block;
    margin-top: 10px;

  }


  .input-box
  {
    width: 90%;
  }
