<div class="footer-nav-area m-none" id="footerNav">
  <div class="container h-100 px-0">
    <div class="suha-footer-nav h-100">
      <ul class="h-100 d-flex align-items-center justify-content-between pl-0">
        <li>
          <a
            routerLink="/"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
          >
            <img src="./assets/images/icons/home.png" class="inactive-img" />
            <img
              src="./assets/images/icons/home-active.png"
              class="active-img"
            />
            <p>Home</p>
          </a>
        </li>
        <li>
          <a routerLink="/category/" routerLinkActive="active">
            <img
              src="./assets/images/icons/categories.png"
              class="inactive-img"
            />
            <img
              src="./assets/images/icons/categories-active.png"
              class="active-img"
            />
            <p>categories</p>
          </a>
        </li>
        <li>
          <a routerLink="/support" routerLinkActive="active">
            <img src="./assets/images/icons/help.png" class="inactive-img" />
            <img
              src="./assets/images/icons/help-active.png"
              class="active-img"
            />
            <p>Help</p>
          </a>
        </li>
        <li>
          <a (click)="gotoWishlist()" routerLinkActive="active">
            <img
              src="./assets/images/icons/wishlist.png"
              class="inactive-img"
            />
            <img
              src="./assets/images/icons/wishlist-active.png"
              class="active-img"
            />
            <p>Wishlist</p>
          </a>
        </li>
        <li>
          <a routerLink="/myaccount" routerLinkActive="active">
            <img src="./assets/images/icons/account.png" class="inactive-img" />
            <img
              src="./assets/images/icons/account-active.png"
              class="active-img"
            />
            <p>Account</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer class="m-none">
  <section class="features-section">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_pfg8 col-style">
        <div class="features">
          <ul>
            <li class="item-1" *ngFor="let feature of features">
              <div class="item-inner">
                <div class="icon icon1"><img [src]="feature.image" /></div>
                <div class="content">
                  <a href="javascript:void(0)">{{ feature.name }}</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="subscribe-sec section-color">
    <div class="container page-builder-rtl">
      <div class="row row_34bo row-style">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_9jik col-style">
          <div class="module news-letter">
            <div
              class="so-custom-default newsletter"
              style="width: 100%; background-color: #f0f0f0"
            >
              <div class="btn-group title-block">
                <div class="popup-title page-heading">
                  <i class="fa fa-paper-plane"></i> Sign up to Newsletter
                </div>
              </div>
              <div class="modcontent block_content">
                <form
                  [formGroup]="subscribeForm"
                  (ngSubmit)="onsubscribeSubmit()"
                  method="post"
                  id="signup"
                  name="signup"
                  class="form-group form-inline signup send-mail"
                >
                  <div class="input-group form-group required">
                    <div class="input-box">
                      <input
                        type="email"
                        placeholder="Your email address..."
                        value=""
                        class="form-control"
                        formControlName="email"
                        [ngClass]="{
                          'is-invalid':
                            (email.errors?.required || email.errors?.email) &&
                            (email.dirty || email.touched || issubscribeSubmit)
                        }"
                        size="55"
                      />

                      <label
                        *ngIf="
                          email.errors?.email &&
                          (email.dirty || email.touched || issubscribeSubmit)
                        "
                        class="
                          error
                          jquery-validation-error
                          small
                          form-text
                          invalid-feedback
                          m-t10
                        "
                        >Please enter a valid email id.</label
                      >
                      <label
                        *ngIf="
                          email.errors?.required &&
                          (email.dirty || email.touched || issubscribeSubmit)
                        "
                        id="validation-name-error"
                        class="
                          error
                          jquery-validation-error
                          small
                          form-text
                          invalid-feedback
                          m-t10
                        "
                        >Please enter your email.</label
                      >
                    </div>
                    <div class="input-group-btn subcribe">
                      <button
                        class="btn btn-primary"
                        type="submit"
                        *ngIf="!subscribeLoading"
                        name="submit"
                      >
                        <i class="fa fa-paper-plane hidden"></i>
                        <span>Subscribe</span>
                      </button>
                      <button
                        class="form-button mb-0"
                        type="button"
                        disabled
                        *ngIf="subscribeLoading"
                      >
                        <span
                          class="spinner-border spinner-border-sm"
                          role="status"
                        ></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!--/.modcontent-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="links-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 footer-widget row v-row">
          <div class="col-lg-6">
            <h4 class="footer-herading">USEFUL LINKS</h4>
            <div class="row">
              <div class="col-lg-4">
                <ul>
                  <li>
                    <a routerLink="/">Home</a>
                  </li>
                  <li>
                    <a routerLink="/offers">Offers</a>
                  </li>
                  <li>
                    <a target="_blank" (click)="getPolicy('privacypolicy')"
                      >Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      (click)="getPolicy('cancellation-refund-policy')"
                      >Cancellation & Refund Policy</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                  <li>
                    <a
                      target="_blank"
                      (click)="getPolicy('terms-and-conditions')"
                      >Terms & Conditions</a
                    >
                  </li>

                  <li>
                    <a target="_blank" (click)="getPolicy('return-policy')"
                      >Return Policy</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      (click)="getPolicy('shipping-delivery-policy')"
                      >Shipping & Delivery Policy</a
                    >
                  </li>
                  <li><a routerLink="/support">Faq</a></li>
                </ul>
              </div>
              <div class="col-lg-4">
                <!-- <ul>
                    <li>
                      <a 
                        >Testimonials</a
                      >
                    </li>
                    <li>
                      <a
                       
                        >Blogs</a
                      >
                    </li>
  
                    <li>
                      <a 
                        >Careers</a
                      >
                    </li>
                    <li>
                      <a
                       
                        >FreeHugs</a
                      >
                    </li>
                   
                  </ul>-->
              </div>

              <div class="col-sm-4 support-data">
                <h6 class="text-uppercase mb-0">Call Us</h6>
                <h3><a href="tel:040-418-91487">040-418-91487</a></h3>
              </div>
              <div class="col-sm-4 support-data">
                <h6 class="text-uppercase mb-0">Mail Us</h6>
                <h3>
                  <a target="_blank" href="mailto:wecare@fabpik.in"
                    >wecare@fabpik.in</a
                  >
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <a href="https://seller.fabpik.in/" target="_blank"
                ><img src="assets/images/footerseller.jpg"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>Shopping made easy at Fabpik</h4>
          <p>
            Get to explore the best of products at best prices for your kids.
            Essentials to Clothing, Accessories to Fun Learning, Food &
            Nutrition to Sports & Fitness, if you have a need we have the
            product !
          </p>
          <h4>From Babies to Teens, we have products for everyone.</h4>
          <p>
            Fabpik is one of the few Ecommerce platforms catering to early teen
            kids/Fabpik is here to help you get products for not just kids but
            also for you early teen kids, which has limited online market
            currently Being a host to varied number of sellers, we try to get
            you the best in fashion and Quality for all ages
          </p>
          <h4>Best Price Challenge</h4>
          <p>
            At Fabpik, we aim to provide you the best of both Price and Quality.
            Experience the never before Price Challenge advantage by shopping
            with us.If you find any of our product priced higher than the price
            of the same product on any other qualifying Ecommerce platform, get
            the price difference.
            <a class="anchor-link" (click)="getPolicy('price-guarantee')">
              Read more
            </a>
          </p>

          <h4>Fabpik Networking</h4>
          <p>
            Connect with us on social media platforms. Hear us buzzing on latest
            Fashion trends, Education, Toys, Food & Nutrition, Sports & Fitness.
            Participate in small quirky events and win some perks.After all who
            would want to miss a PERK! Hop on and catch us.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="" class="social_sections">
    <div class="container page-builder-rtl">
      <div class="row row_njct row-style">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_7f0l col-style">
          <div class="border-block">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item-2">
                <div class="footer-social">
                  <div class="socials">
                    <h1>Keep In Touch</h1>
                    <p>Here, there and everywhere, we are there for you!</p>
                    <ul class="social-footer">
                      <li class="social-facebook">
                        <a
                          href="https://www.facebook.com/fabpik.in"
                          target="_blank"
                        >
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      </li>
                      <li class="social-twitter">
                        <a href="https://twitter.com/FabpikI" target="_blank">
                          <i class="fab fa-twitter"></i>
                        </a>
                      </li>
                      <li class="social-instagram">
                        <a
                          href="https://www.instagram.com/fabpik.in/"
                          target="_blank"
                        >
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                      <li class="social-youtube">
                        <a
                          href="https://www.youtube.com/channel/UCDZDbmBT380YUB-KBSkds4Q?"
                          target="_blank"
                        >
                          <i class="fab fa-youtube"></i>
                        </a>
                      </li>
                      <li class="social-pinterest">
                        <a
                          href="https://in.pinterest.com/FabPikIndia/"
                          target="_blank"
                        >
                          <i class="fab fa-pinterest"></i>
                        </a>
                      </li>
                      <li class="social-snapchat">
                        <a
                          href="https://www.snapchat.com/add/fabpikindia"
                          target="_blank"
                        >
                          <i class="fab fa-snapchat-ghost"></i>
                        </a>
                      </li>
                      <li class="social-podcast">
                        <a href="javascript:void(0)">
                          <i class="far fa-podcast"></i>
                        </a>
                      </li>
                      <li class="social-blog">
                        <a href="javascript:void(0)">
                          <i class="fal fa-edit"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item-1 float-right"
              >
                <div class="app-store spcustom_html">
                  <div>
                    <a class="app-1" href="#"
                      ><img
                        src="assets/images/icons/app-store-button.png"
                        alt=""
                      />google store</a
                    >
                    <a class="app-2" href="#"
                      ><img
                        src="assets/images/icons/google-play-button.png"
                        alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="" class="section_5">
    <div class="container page-builder-rtl">
      <div class="row row_dj2h row-style">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_pc5f col-style">
          <div class="custom_link">
            <div class="footer-toplinks">
              <div class="links" *ngFor="let category of categories">
                <label (click)="categoryid(category.id, category.slug)"
                  >{{ category.title }}:</label
                >
                <ul>
                  <li *ngFor="let subcategory of category.subcategories">
                    <a
                      (click)="
                        subcategoryid(
                          subcategory.id,
                          category.slug,
                          subcategory.slug,
                          category.id
                        )
                      "
                      >{{ subcategory.title | titlecase }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-7 copyright">
          Fabpik © 2021 . All Rights Reserved
        </div>
        <div class="col-md-5 col-sm-5 copyright text-right">
          In case of any concern
          <a routerLink="/support" target="_blank"> Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</footer>
