
/**/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #edf2f9;
    border-radius: .375rem;
}
.card {
    box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
}
.border-200 {
    border-color: #edf2f9!important;
}
.avatar-xl {
    height: 2rem;
    width: 2rem;
}
.avatar {
    position: relative;
    display: inline-block;
}
.avatar-xl .avatar-name {
    font-size: .66667rem;
}
.avatar .avatar-name, .avatar img {
    width: 100%;
    height: 100%;
}
.avatar .avatar-name {
    background-color: #344050;
    position: absolute;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
.bg-soft-warning, .fc-timegrid .event-bg-soft-warning {
    background-color: #fef0e8!important;
}
.bg-soft-info, .fc-timegrid .event-bg-soft-info {
    background-color: #e5f7ff!important;
}
.bg-soft-primary, .fc-timegrid .event-bg-soft-primary {
    background-color: #e6effc!important;
}
.bg-soft-danger, .fc-timegrid .event-bg-soft-danger {
    background-color: #fce7eb!important;
}
.bg-soft-success, .fc-timegrid .event-bg-soft-success {
    background-color: #e0faef!important;
}

.avatar .avatar-name>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}
.text-800 {
    color: #4d5969!important;
}
.fs-0 {
    font-size: 1rem;
}
.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: transparent;
}
.bg-200 {
    background-color: #edf2f9!important;
}

.alert, .badge, .blockquote-footer, .btn, .invalid-feedback, .navbar, .pagination, .valid-feedback, button, input, label, optgroup, select, textarea {
   
}
.font-weight-semi-bold {
    font-weight: 600!important;
}
.p-card, .pr-card, .px-card {
    padding-right: 1.25rem!important;
}
.fs--1 {
    font-size: .83333rem;
}

.custom-block__link {
    position: relative;
    z-index: 1;
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    transition-duration: 220ms;
    transition-property: all;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.custom-block__icon {
    display: inline-block;
    margin-bottom: 12px;
}
.custom-block__title {
    margin-bottom: 12px;
    color: #2c2d30;
    font-size: 19px;
    line-height: 22px;
}
.custom-block__desc {
    color: #2c2d30;
    line-height: 1.3;
    font-size: 15px;
    line-height: 20px;
}
.custom-block__buttons {
    margin-bottom: 0;
}
.custom-block__link:active, .custom-block__link:focus, .custom-block__link:hover {
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
    -webkit-transform: scale(1.045);
    transform: scale(1.045);
    z-index: 2;
}
.button:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.button {
    position: relative;
    background: currentColor;
    border: 1px solid currentColor;
    color: #e75e83;
    padding: 0.1rem 0.4rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shad {
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}