<div class="dashboard-page bg-light-blueshade">
    <app-desktop-header></app-desktop-header>
    <app-breadcrumb [headername]="headername"></app-breadcrumb>

    <section [ngClass]="{'py-0':isMobile}">
        <div class="container">
            <div class="row">
                <div class="col-3 m-none">
                    <app-desktop-side-menu></app-desktop-side-menu>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="bg-white deskdash-breadcrumbs m-none  mb-3">
                        <h4 class="font-16  font-weight-600">Conversations</h4>
                    </div>
                    <div class="no-gutters row pt-0" [ngClass]="{'pb-0 container':isMobile}">
                        <div class="mb-3 pr-lg-2 col-lg-8" *ngIf="Allsellerlist?.length > 0">
                            <div class="h-lg-100 card m-t10">
                                <div class="bg-light card-header pt-0 pb-0 ">
                                    <div class="align-items-center row">
                                        <div class="col">
                                            <h6 class="mb-0 py-2">Conversations List</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-0 card-body pr-5 ">
                                    <div class="align-items-center py-2 border-bottom border-200 pointer-cursor row"
                                        *ngFor="let convo of Allsellerlist" [routerLink]="['/myaccount/chat']"
                                        (click)="sellerdetails(convo.id)">
                                        <div class="py-1 col-8  pr-0">
                                            <div class="align-items-center media">
                                                <div class="avatar avatar-xl mr-3">
                                                    <!-- <div class="avatar-name rounded-circle "><span class="fs-0 text-warning">{{convo.firstletter}}</span></div> -->
                                                    <img src="{{convo.seller_images}}" alt="">
                                                </div>
                                                <div class="position-relative media-body">
                                                    <h6 class="d-flex align-items-center mb-0">
                                                        <a class="text-800 font-13 stretched-link">{{convo.name}}</a>
                                                        <!-- <span class="ml-2 mt-1 bg-200 badge badge-secondary badge-pill {{convo.status_text_color}}">{{convo.status}}</span> -->
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="justify-content-end align-items-center row">
                                                <div class="col-auto pr-0">
                                                    <div class="fs--1 font-weight-semi-bold">{{convo.date}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="mb-3 pl-lg-2 mb-3 col-lg-4">
                            <div class="h-lg-100 card text-center">
                                <a class="custom-block__link" [routerLink]="['/myaccount/chat']">
                                    <div class="custom-block__icon"> <img src="/assets/images/icons/customer-service.png" alt="community icon"> </div>
                                    <h3 class="custom-block__title">Chat</h3>
                                    <p class="custom-block__desc">Questions? Find the answers to any question.</p>
                                    <p class="custom-block__buttons"> <span class="btn btn-style-bg pt-2">Chat with us</span> </p>
                                </a>
                            </div>
                        </div> -->


                    </div>

                    <section class="no-gutters row" [ngClass]="{'pb-0 px-0 container':isMobile, 'pt-0': isDesktop }" *ngIf="loading">
                        <div class="mb-3 pr-lg-2 col-lg-8">
                            <div class="h-lg-100 card">
                                <div class="bg-light card-header">
                                    <div class="align-items-center row">
                                        <div class="col">
                                            <h6 class="mb-0 py-2">
                                                <ngx-skeleton-loader
                                                    [theme]="{ width: '170px', 'border-radius': '0', height: '15px', margin: '0px' }">
                                                </ngx-skeleton-loader>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-0 card-body pr-5 ">
                                    <div class="align-items-center py-2 border-bottom border-200 pointer-cursor row"
                                        *ngFor="let convo of [1,2,3,4,5,6]">
                                        <div class="py-1 col-8  pr-0">
                                            <div class="align-items-center media">
                                                <div class="avatar avatar-xl mr-3">
                                                    <div class="avatar-name rounded-circle {{convo.avatar_bg}}">
                                                        <ngx-skeleton-loader appearance="circle"
                                                            [theme]="{ width: '2rem', height: '2rem', margin: '0px' }">
                                                        </ngx-skeleton-loader>
                                                    </div>
                                                </div>
                                                <div class="position-relative media-body">
                                                    <h6 class="d-flex align-items-center mb-0">
                                                        <a class="text-800 font-13 stretched-link">
                                                            <ngx-skeleton-loader
                                                                [theme]="{ width: '110px', 'border-radius': '0', height: '10px', margin: '0px' }">
                                                            </ngx-skeleton-loader>
                                                        </a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="justify-content-end align-items-center row">
                                                <div class="col-auto pr-0">
                                                    <div class="fs--1 font-weight-semi-bold">
                                                        <ngx-skeleton-loader
                                                            [theme]="{ width: '60px', 'border-radius': '0', height: '10px', margin: '0px' }">
                                                        </ngx-skeleton-loader>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="row v-row text-center-nofound" *ngIf="Allsellerlist?.length == 0">
                        <div class="col-lg-12">
                            <img src="assets/images/icons/noconversation.png">
                            <label>No Conservations</label>
                            <p>Save your favorite pieces of clothing in one place. Add now, buy later.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>