<div class="dashboard-page bg-light-blueshade">

  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>

  <section [ngClass]="{'py-0': isMobile}" *ngIf="!loading">
    <div class="container">
      <div class="row">
        <div class="col-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div [ngClass]="{'col-md-9':isDesktop}">
          <div>
            <div class="bg-white breadcrumbs m-none pb-2 px-4">
              <h4 class="font-16 font-weight-600">Dasboard</h4>
            </div>
            <div class="dt-none">
              <div class="profile-details v-row m-b20 row-profile" *ngFor="let customer of customerprofile">
                <div class="col-sm-3">
                  <!-- <div class="user-icon"><i class="icon-w wd-tools-icon"></i></div> -->
                  <div class="user-icon">
                    <i _ngcontent-xav-c88="" class="icon-w wd-tools-icon"></i>
                    <!-- <img src="{{customer.avatar}}"
                    alt=""> -->
                  </div>
                </div>
                <div class="col-sm-9">
                  <ul>
                    <li *ngIf="customer.name">Name : <label>{{customer.name}}</label></li>
                    <li  *ngIf="customer.email">Email : {{customer.email}}</li>
                    <li  *ngIf="customer.mobile">Mobile No: {{customer.mobile}}</li>
                  </ul>
                  <button class=" btn-style-bg" [routerLink]="['/myaccount/manage-profile']"> Edit </button>
                </div>
              </div>
            </div>
            <section  class="mt-3 bg-white px-3">
              
              <p  *ngFor="let customer of customerprofile" class="text-muted"> Hey, <b >{{customer.name}}!</b>
                
              You can view a snapshot of your recent account activity and also update account information from My Account Dashboard. Select a link below to View/Edit information.</p>
              <div  class="row">
                <div  class="col-lg-3 col-md-3 col-sm-6  col-xs-6 m-t20">
                  <div  class="contact-block" (click)="orderfilter('1')">
                    <div  class="faq-img"><img src="/assets/images/icons/ICONS-22-19.png" alt="" srcset=""></div>
                    <h3 ><a >{{orderInproessCount === null ? '0' : orderInproessCount}}</a></h3>
                    <p >Orders In Process </p>
                  </div>
                </div>
                <div  class="col-lg-3 col-md-3 col-sm-6  col-xs-6 m-t20">
                  <div  class="contact-block" (click)="orderfilter('3')">
                    <div  class="faq-img"><img src="/assets/images/icons/ICONS-22-20.png" alt="" srcset=""></div>
                    <h3 ><a >{{nextDeliveryCount === null ? '0' : nextDeliveryCount}}</a></h3>
                    <p >Next Delivery </p>
                  </div>
                </div>
                <div  class="col-lg-3 col-md-3 col-sm-6  col-xs-6  m-t20">
                  <div  class="contact-block" [routerLink]="['/shop/shoppingcart']">
                    <div  class="faq-img"><img src="/assets/images/icons/ICONS-22-21.png" alt="" srcset=""></div>
                    <h3><a >{{cartcount === null ? '0' : cartcount}}</a></h3>
                    <p>Products In Cart </p>
                  </div>
                </div>
                <div  class="col-lg-3 col-md-3 col-sm-6 col-xs-6  m-t20">
                  <div  class="contact-block" [routerLink]="['/wishlist']">
                    <div  class="faq-img"><img src="/assets/images/icons/ICONS-22-22.png" alt="" srcset=""></div>
                    <h3><a >{{wishlistcount === null ? '0' : wishlistcount}}</a></h3>
                    <p>Products In Wishlist </p>
                  </div>
                </div>
              </div>
            </section>
  
            <section  class="mt-3 bg-white m0-auto px-3">
              
          
              <div class="row">
                <div class="col-lg-12 px-0">
                
                  <form class="dashboard-feedback" [formGroup]="feedbackform" (ngSubmit)="onSubmit()">
                    <p  class="text-muted">Your <b >feedback</b> is most valued ! Please take a minute to share your experience with us. It can help us improve our Services and provide best support.</p>
                    <div class="px-3">
                      <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="feedback" placeholder='Please share your feedback where we can improve on. Win Goodies. &#xf06b;' rows="5" [ngClass]="{ 'is-invalid': submitted && f.feedback.errors }" ></textarea>
                        <div class="help-block invalid-feedback" *ngIf="submitted && f.feedback.errors">
                          <div *ngIf="f.feedback.errors.required">feedback is required</div>
                      </div>
                      </div>
                      <div class="form-group m0-auto">
                        <button class="btn-style-bg" type="submit" [disabled]="loading"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Submit </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>


      </div>
    </div>
  </section>

  
  <!-- Skeleton-Loader -->
  <section [ngClass]="{'py-0': isMobile}" *ngIf="loading">
    <div class="container">
      <div class="row">
        <div class="col-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div [ngClass]="{'col-md-9':isDesktop}">
          <div>
            <div class="bg-white breadcrumbs m-none pb-2 px-4">
              <h4 class="font-16  font-weight-600">
                <ngx-skeleton-loader
                  [theme]="{ 
                    'border-radius': '5px',
                    height: '20px',
                    width: '150px',
                    margin: 0,
                    'background-color': '#992929',
                    border: '1px solid white'
                  }"
                ></ngx-skeleton-loader>
              </h4>
            </div>
            <div class="dt-none">
              <div class="profile-details v-row m-b20 row-profile" *ngFor="let customer of customerprofile">
                <div class="col-sm-3">
                  <ngx-skeleton-loader appearance="circle"
                      [theme]="{ 
                        height: '72px',
                        width: '72px',
                        margin: 0,
                        'background-color': '#992929',
                        border: '1px solid white'
                      }"
                    ></ngx-skeleton-loader>
                </div>
                <div class="col-sm-9">
                  <ul>
                    <li>
                      <ngx-skeleton-loader count="3"
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '80%',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </li>
                  </ul>
                  
                  <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '30px',
                          width: '30%',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                </div>
              </div>
            </div>
            <section  class="mt-3 bg-white px-3">
              
              <p  *ngFor="let customer of customerprofile" class="text-muted">
                <ngx-skeleton-loader count="2"
                  [theme]="{ 
                    'border-radius': '5px',
                    height: '15px',
                    width: '100%',
                    margin: 0,
                    'background-color': '#992929',
                    border: '1px solid white'
                  }"
                ></ngx-skeleton-loader>
              </p>
              <div  class="row">
                <div  class="col-lg-3 col-md-3 col-sm-6  col-xs-6 m-t20">
                  <div  class="contact-block" (click)="orderfilter('1')">
                    <div  class="faq-img">
                      <ngx-skeleton-loader appearance="circle"
                        [theme]="{ 
                          height: '50px',
                          width: '50px',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <h3>
                      <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '70px',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </h3>
                    <p >
                      <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '80%',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                  </div>
                </div>
                <div  class="col-lg-3 col-md-3 col-sm-6  col-xs-6 m-t20">
                  <div  class="contact-block" (click)="orderfilter('3')">
                    <div  class="faq-img">
                      <ngx-skeleton-loader appearance="circle"
                        [theme]="{ 
                          height: '50px',
                          width: '50px',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <h3>
                      <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '70px',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </h3>
                    <p >
                      <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '80%',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                  </div>
                </div>
                <div  class="col-lg-3 col-md-3 col-sm-6  col-xs-6  m-t20">
                  <div  class="contact-block" [routerLink]="['/shop/shoppingcart']">
                    <div  class="faq-img">
                      <ngx-skeleton-loader appearance="circle"
                        [theme]="{ 
                          height: '50px',
                          width: '50px',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <h3>
                      <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '70px',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </h3>
                    <p >
                      <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '80%',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                  </div>
                </div>
                <div  class="col-lg-3 col-md-3 col-sm-6 col-xs-6  m-t20">
                  <div  class="contact-block" [routerLink]="['/wishlist']">
                    <div  class="faq-img">
                      <ngx-skeleton-loader appearance="circle"
                        [theme]="{ 
                          height: '50px',
                          width: '50px',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </div>
                    <h3>
                      <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '70px',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </h3>
                    <p >
                      <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '80%',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                  </div>
                </div>
              </div>
            </section>
    
            <section  class="mt-3 bg-white m0-auto px-3">
              
          
              <div class="row">
                <div class="col-lg-12 px-0">
                
                  <form class="dashboard-feedback" [formGroup]="feedbackform" (ngSubmit)="onSubmit()">
                    <p  class="text-muted">
                      <ngx-skeleton-loader
                        [theme]="{ 
                          'border-radius': '5px',
                          height: '15px',
                          width: '80%',
                          margin: 0,
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                    <div class="px-3">
                      <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="feedback" placeholder='Please share your feedback where we can improve on. Win Goodies. &#xf06b;' rows="5" [ngClass]="{ 'is-invalid': submitted && f.feedback.errors }" ></textarea>
                        <div class="help-block invalid-feedback">
                          <div>feedback is required</div>
                      </div>
                      </div>
                      <div class="form-group m0-auto">
                        <button class="btn-style-bg" type="submit" [disabled]="loading"> Submit </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Skeleton-Loader -->
  

  <app-footer></app-footer>
</div>