.addAddressModal-form.addAddressModal-mobile {
    width: 100%;
}
.addAddressModal-form {
    position: fixed;
    background-color: #F5F5F6;
    text-align: left;
    // box-sizing: border-box;
    z-index: 13;
    color: #535766;
    // overflow-y: scroll;
}
.addAddressModal-form .addAddressModal-modalHeading {
    background-color: white;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #d4d5d9;
}
.addAddressModal-form .addAddressModal-modalHeading  i {
    font-size: 19px;
    color: #3e4152;
    font-style: normal;
    padding-left: 8px;
}
.woodmart-cart-icon:before {
    content: "";
    font-family: "woodmart-font";
}
.profile-details ul
{
  margin-bottom:0;
}

.profile-details li
{
    list-style-type: none;
    line-height: 18px;
    font-size: 13px;
}
.profile-details label
{
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    color: #333333;
    text-transform: capitalize;
}

.profile-details .user-icon
{
    background: #1f1919;
    text-align: center;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.dashboard-section h2
{
       font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-bottom:30px;
}
.dashboard-section p
{
    padding: 0;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
}
.dash-block
{
    background: #fff;
    border-radius: 12px;
    margin: 0 auto;
    padding: 8px 8px;
  
    text-align: center;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid #cac7f6;
    box-shadow: 0 1px 3px 0 #9ccae8;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 17px;
  
}
.dash-block i, .dash-block img{
    display: block;
    color: #e75e83;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    background: #f3d4e0;
    width: 50px;
    line-height: 50px;
    height: 50px;
}

.dash-block label
{
    margin: 0;
   font-size: 1.1vw;
    color: #000;
    margin-top: 22px;
    line-height: 1px;
    text-transform: uppercase;
}

.dash-block p
{
    margin: 0;
    font-size: 10px;
    line-height: 11px;
    color: #666363;
    text-transform: capitalize;

}
.dash-block span
{
    font-size: 15px;
    padding-right: 5px;
    font-weight: 600;
    color: #000;
}

.dashboard-feedback textarea, .dashboard-feedback input {
    padding: 4px 13px;
    font-size: 14px;
    line-height: 16px;
    font-family: Font Awesome\ 5 Pro, "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }

  .dashboard-feedback p
  {
margin-bottom: 0;
  }
  .user-icon i
{
    color: #fff;
    font-weight: 500;
    font-size: 31px;
    line-height: 65px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin: 0;
}
.row-profile
{
    background: #fff;
    border-top: 1px solid #ccc;
    padding: 20px 12px;
}


 @media (max-width: 767px) {
    .dashboard-feedback p {
        margin-bottom: 0;
        line-height: 16px;
        font-size: 12px;
    }
    .dashboard-feedback textarea, .dashboard-feedback input {
        padding: 4px 15px;
        font-size: 13px;
        line-height: 18px;
    }
}
//     .dashboard-section p {
//         position: absolute;
//         right: 32px;
//         bottom: 105px;
//         font-size: 22px;
//     }

//     .dash-block label{
//         text-align: left;
//         position: absolute;
//         right: 32px;
//         bottom: 78px;
//     }

//     .dash-block img {
//         margin: 0 5px;
//         width: 80px;
//         height: 80px;
//     }

//     .dash-block {
//         border: none;
//         box-shadow: none;
//     }
// }
// .green-widget {
//     background-color: #a7ffbb;
// }
// .red-widget {
//     background-color: #8ca5ff;
// }
// .orange-widget {
//     background-color: #ffbd86;
// }
// .pink-widget {
//     background-color: #ffbdbd;
// }
// #appCapsule .bg-pink {
//     background: #ffbdbd;
// }
// #appCapsule .bg-blue {
//     background: #8ca5ff;
// }
// #appCapsule .bg-green {
//     background: #a7ffbb;
// }
// #appCapsule .bg-orange {
//     background:#ffbd86;
// }



/**/
.contact-block {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: inherit;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    opacity: 0.7;
    border: 1px solid #cac7f6;
    box-shadow: 0 1px 3px 0 #9ccae8;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    padding: 25px 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    display: block;
    background: #fff;
}
.faq-img {
    width: 50px;
    height: 50px;
    background: #f6f6f6;
    border-radius: 50%;
    line-height: 50px;
    margin-right: 0;
    vertical-align: middle;
    align-items: center;
    box-shadow: 0 1px 3px 0 #9ccae8;
    justify-content: center;
    margin: 0 auto;
}
.contact-block h3 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: initial;
}
.contact-block p {
    padding: 0% 8%;
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;
}




