h4
{
    color: #e75e83;
    font-size: 23px;
    font-weight: 700;
    line-height: 13px;
    text-transform: uppercase;
}

p
{
    line-height: 23px;
    margin: 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #666;
}
@media only screen and (min-width: 280px) and (max-width: 767px) 
{
    h4 {
        color: #e75e83;
        font-size: 23px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
    }
}