<app-mobile-homeheader></app-mobile-homeheader>
<app-desktop-header></app-desktop-header>
<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <img src="assets/images/404.png" />
        <h4>OOPS, This Page Could Not Be Found</h4>
        <p>
          The page you are looking for might have been removed or had its name
          changed or its temporarily unavailable
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
