.pin-title {
  position: fixed;
  top: 1.875rem;
  bottom: 1.875rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Exo", sans-serif;
  font-weight: 800;
  font-size: 800%;
  letter-spacing: 0.0625rem;
  color: #f3f3f3;
  user-select: none;
  z-index: -1;
  text-align: center;
}

/* COOKIE POPUP STYLES */

.cookie-popup {
  font-size: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  bottom: 0.25rem;
  right: 1.25rem;
  padding: 0.625rem 0.9375rem;
  box-shadow: 0 0 0.625rem 0 rgb(0 0 0 / 15%);
  line-height: 150%;
  transition: opacity 0.5s;
  z-index: 9999;
}
.cookie-popup--short {
  right: none;
  width: 21.875rem;
}
.cookie-popup--dark {
  z-index: 999;
  background: #fff !important;
  background-clip: border-box;
  border-radius: 10px;
  /* border: 0 solid #edeef7 !important; */
  margin-bottom: 0.3rem;
  box-shadow: 0 5px 15px 5px rgb(80 102 224 / 8%);
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 1px #9ccae8;
}
.cookie-popup--not-accepted {
  opacity: 1;
  animation: cookie-popup-in 0.5s ease forwards;
}
.cookie-popup--accepted {
  opacity: 0;
  display: none;
}
.cookie-popup a {
  color: skyblue;
}
.cookie-popup a:visited {
  color: skyblue;
  text-decoration: none;
}
.cookie-popup-actions {
  flex: 1;
  text-align: right;
}
.cookie-popup-actions button {
  border: none;
  background: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px !important;
  padding: 0px 10px !important;
  height: 23px;
  cursor: pointer;
  line-height: 23px !important;
}
.cookie-popup-actions button:hover {
  text-decoration: underline;
}

@keyframes cookie-popup-in {
  from {
    bottom: -6.25rem;
  }
  to {
    bottom: 1.25rem;
  }
}

/* COOKIE POPUP STYLES */

.cookie-popup {
  font-size: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  bottom: -6.25rem;
  left: 1.25rem;
  padding: 0.625rem 0.9375rem;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.15);
  line-height: 150%;
  transition: opacity 0.5s;
  opacity: 0;
}
.cookie-popup--short {
  right: none;
  width: 21.875rem;
}
.cookie-popup--dark {
  z-index: 9999;
  background: #fff !important;
  background-clip: border-box;
  border-radius: 10px;
  /* border: 0 solid #edeef7 !important; */
  box-shadow: 0 5px 15px 5px rgb(80 102 224 / 8%);
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 1px #9ccae8;
}
.cookie-popup--not-accepted {
  opacity: 1;
  animation: cookie-popup-in 0.5s ease forwards;
}
.cookie-popup--accepted {
  opacity: 0;
}
.cookie-popup a {
  color: skyblue;
}
.cookie-popup a:visited {
  color: skyblue;
  text-decoration: none;
}
.cookie-popup-actions {
  flex: 1;
  text-align: right;
}
.cookie-popup-actions button {
  border: none;
  background: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px !important;
  padding: 0px 10px !important;
  height: 23px;
  cursor: pointer;
  line-height: 23px !important;
}
.cookie-popup-actions button:hover {
  text-decoration: underline;
}

@keyframes cookie-popup-in {
  from {
    bottom: -6.25rem;
  }
  to {
    bottom: 1.25rem;
  }
}

.cookie-popup i {
  width: 25px !important;
  height: 25px !important;
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: inline-flex;
  border-radius: 50%;
  font-size: 0.857rem;
  color: #ff5b5c;
  background-color: rgba(255, 91, 92, 0.17);
  color: #ff5b5c !important;
  margin-right: 11px;
}

.cookie-popup h3 {
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0;
  display: flex;
}

.cookie-popup p {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 0;
  color: #82868b !important;
}
