<div class="container">
  <div class="cookie-popup cookie-popup--short cookie-popup--dark">
    <div class="d-flex">
      <div class="">
        <i class="fal fa-bell"></i>
      </div>

      <div>
        <h3>FabPik would like to send you updates.</h3>
        <p>Click <b>ALLOW</b> to get notified on orders, deals & offers.</p>
      </div>
    </div>
    <div class="cookie-popup-actions d-flex justify-content-end">
      <button
        id="allow"
        class="btn btn-style-bg mr-1 mt-0"
        (click)="allowNotification()"
      >
        Allow
      </button>
      <button
        id="not_allow"
        class="btn mt-0 btn-style-bg bg-transparent text-uppercase"
      >
        Ask Me later
      </button>
    </div>
  </div>
</div>
<notifier-container></notifier-container>

<router-outlet></router-outlet>
