// .uline2-bottom {
//     margin-bottom: 15px;
// }

// ul {
//     list-style: none;
// }

// .new-intro-bottom {
//     padding-bottom: 40px;
// }

// .p-black-text {
//     color: #555555;
// }

// .new-br {
//     border: 1px solid #dddddd;
// }
// .new-right-br-pad {
//     padding: 30px 20px 30px 20px;
// }

// .image-radius {
//     border-radius: 3px;
// }

// .new-dolor {
//     color: #e75e83;
//     margin-top: 20px;
// }

// .new-btn-center {
//     margin: 0 auto;
//     display: table;
//     padding-top: 30px;
// }
// .new-br-btn {
//     background-color: transparent;
//     border: 1px solid #e75e83;
//     color: #e75e83;
// }
// .new-btn-pad {
//     padding-left: 15px;
// }
// .new-btn {
//     background-color: #e75e83;
// }
// .header1-head1, .header1-head2, .header1-head3, .affiliate-text, .spring, .limited-price, .gallery2-br-text, .gallery2-text, .footer-text, .common-dolor, .link, .btn-1, .btn-2 {
//     letter-spacing: 1px;
// }

// .btn-2 {
//     border: 0;
//     color: #ffffff;
// }
// .common-btn {
//     border-radius: 3px;
//     font-size: 14px;
//     font-weight: 700;
//     padding: 8px 16px 8px 16px;
//     display: table-cell;
// }


// /**/
// .for-you-img {
//     display: block;
//     max-width: 256px;
//     max-height: 256px;
//     cursor: pointer;
// }

// .for-you-img .desc {
//     font-size: 13px;
//     line-height: 18px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     cursor: pointer;
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     text-decoration: none;
// }

// .for-you-img .price {
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 24px;
//     font-style: italic;
//     text-overflow: ellipsis;
//     padding-right: 2px;
//     white-space: nowrap;
// }

// /**/
// .store-banner {
//     font-weight: 700;
//     font-size: 24px;
//     color: rgb(0, 0, 0);
//     // line-height: 90px;
// }

// .hot-deal-banner {
//     position: absolute;
//     box-sizing: border-box;
//     display: flex;
//     flex-direction: column;
//     align-content: flex-start;
//     flex-shrink: 0;
//     z-index: 999;
//     height: 18px;
//     padding: 1px 8px;
//     background: rgb(255, 71, 71);
//     border-radius: 2px;
//     top: 8px;
//     right: 8px;
// }

// .hot-deal-banner span {
//     font-size: 12px;
//     color: rgb(255, 255, 255);
//     font-style: italic;
//     line-height: 16px;
// }

// .hot-deal-product {
//     height: 326px;
//     box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 24px 0px;
//     border-radius: 8px;
//     overflow: hidden;
// }


// .new-banner {
//     position: absolute;
//     right: 10px;
//     top: 5px;
//     background: #e75e83;
//     color: white;
//     border-radius: 0 5px 0 5px;
//     padding: 0 5px;
// }


// .sec-1 {
//     position: relative;
//     box-sizing: border-box;
//     display: flex;
//     flex-direction: column;
//     align-content: flex-start;
//     flex-shrink: 0;
// }
// .sec-2 {
//     margin: 32px 0rem;
//     z-index: 2;
//     font-weight: 800;
//     font-size: 32px;
//     color: rgb(153, 105, 38);
//     text-align: center;
// }
// .sec-3 {
//     width: 1920px;
//     height: 200px;
//     z-index: 1;
//     position: absolute;
//     top: 0px;
//     // left: calc((100% - 1920px) / 2);
// }
// .sec-4 {
//     position: relative;
//     // display: flex;
//     // place-content: flex-start space-between;
//     // width: 1200px;
//     z-index: 2;
//     // margin: 0rem auto;
// }
// .sec-5 {
//     display: flex;
//     background: rgb(255, 255, 255);
//     border-width: 2px;
//     border-style: solid;
//     border-color: rgb(231 94 131);
//     box-shadow: rgba(163, 131, 85, 0.08) 0px 4px 24px 0px;
//     border-radius: 8px;
//     padding: 16px;
// }
// .sec-6 {
//     margin-right: 12px;
// }
// .sec-7 {
//     text-decoration: none;
// }
// .sec-8 {
//     width: 160px;
//     height: 160px;
//     border-radius: 4px;
// }
// .sec-9 {
//     margin: 12px 0rem;
//     width: 180px;
//     font-size: 13px;
//     color: #333333;
//     cursor: pointer;
//     display: -webkit-box;
// }
// .sec-10 {
//     font-size: 18px;
//     font-weight: 700;
// }

// .productlist-section {
// 	padding: 0;
// }
// .product-details {
// 	p {
// 		font-size: 0.7em;
// 		text-align: center;
// 		width: 100%;
// 		color: #e75d81;
// 		padding: 2px;
// 		text-align: center;
// 		text-overflow: ellipsis;
// 		overflow: hidden;
// 		white-space: nowrap;
// 		font-weight: 600;
// 		text-transform: uppercase;
// 		margin-bottom: 0;
// 		line-height: 15px;
// 		margin-top: 0px;
// 		font-size: 0.7em;
// 		text-align: center;
// 		width: 100%;
// 		color: #e75d81;
// 		padding: 2px;
// 		text-align: center;
// 		text-overflow: ellipsis;
// 		overflow: hidden;
// 		white-space: nowrap;
// 		font-weight: 600;
// 		text-transform: uppercase;
// 		margin-bottom: 0;
// 		line-height: 15px;
// 		margin-top: 0px;
// 	}
// 	padding: 5px 12px;
// 	z-index: 1 !important;
// 	border: 1px solid #cac7f6;
// 	box-shadow: 0 1px 3px 0 #9ccae8;
// 	h4 {
// 		font-size: 0.8em;
// 		color: #939393;
// 		text-align: center;
// 		text-overflow: ellipsis;
// 		overflow: hidden;
// 		white-space: nowrap;
// 		margin-bottom: 0;
// 	}
// }
// .productlist-block {
// 	padding: 2.34px 2px !important;
// 	margin-bottom: 9px;
// 	img {
// 		border-top-left-radius: 3px;
// 		border-top-right-radius: 3px;
// 	}
// }

// .product-list {
// 	position: relative;
// 	background-color: #fff;
// 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
// 	border-radius: 3px;
// 	i {
// 		font-size: 13px;
// 		color: #e75e83;
// 	}
// }
// .wishlist-bb .col-sm-6 {
//     padding: 0 3px;
// }

// .follow {
//     padding-left: 10px;
//     padding-right: 10px;
//     line-height: 28px;
//     border-width: 1px;
//     border-style: solid;
//     border-color: rgb(233, 233, 233);
//     border-radius: 3px;
//     cursor: pointer;
//     color: #000;
//     margin-left: 10px;
// }
// .rating {
//     // position: absolute;
//     // right: 0;
//     padding-left: 10px;
//     padding-top: 3px;
// }

// .overall-rating {
//     position: absolute;
//     right: 0;
//     display: flex;
//     align-items: center;
// }

// .verified {
//     font-size: 16px;
//     // width: 222px;
//     background-color: #0080003b;
// }
// .verified img{
//     width: 38px;
//     height: 38px;
// }

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    border: 0;
    box-shadow: 0 1px 3px 0 #9ccae8;
    border-radius: 8px;
}

.card-header h2
{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.card-header p
{
  
    margin: 0;
}
.fs-18
{
    color: #2fb377;
    background: #2fb3774d;
    border-radius: 9px;
}

span.followers
{
    padding: 0px 7px 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #424e79;
    text-align: left;
    background: #f2f6f9;
    border-radius: 6px;
    position: relative;
    top: -3px;
}

.title-casecompany
{
    font-weight: 600;
    color: #e75e83;
}
.btn-feedback
{
  
}

.list-detailedfeedaback
{
margin:0;
}
.list-detailedfeedaback li
{
    list-style-type: none;
}

.list-detailedfeedaback label
{
    margin: 0;
    color: #728096 !important;
    line-height: 21px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    display: grid;
}

.list-detailedfeedaback h2{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 5px;
    position: relative;
    text-transform: capitalize;
}
.list-detailedfeedaback span
{
    display: list-item;
}

.product-details[_ngcontent-nuh-c358] {
    padding: 3px 12px 15px;
    border: 1px solid #cac7f60d;
    background: #fff;
    z-index: 999;
    border-top: 0 !important;
    border: 1px solid #cac7f6;
    box-shadow: 0 1px 1px #9ccae8;
    position: relative;
    height: 68px;
    vertical-align: middle;
}

