<app-desktop-header></app-desktop-header>
<app-breadcrumb [headername]="headerName"></app-breadcrumb>

<section class="bg-light-blueshade">
  <div class="container">
    <div class="row">
      <div
        class="col-xl-4 col-md-5 col-lg-4"
        *ngFor="let seller of shopdetails"
      >
        <div class="card">
          <div class="d-block card-header border-0 text-center">
            <h2 class="text-center">
              Welcome to
              <span class="title-casecompany">{{
                seller.company_name | titlecase
              }}</span>
            </h2>
            <p>This store has been open since <span>Sep 16,2020</span></p>
          </div>
          <div class="card-body p-a0">
            <div class="row text-center">
              <div class="col-md-8 p-a0 col-lg-8 col-xl-8 mx-auto">
                <h2 class="mb-0 mt-4 fs-40 counter">
                  1000k <span class="text-muted followers"> Followers</span>
                </h2>

                <button
                  type="submit"
                  class="btn btn-style-bg text-uppercase mt-1 mb-3"
                >
                  Follow
                </button>
              </div>
              <div class="col-md-4 p-a0 col-lg-4 col-xl-4 v-row mx-auto">
                <img
                  src="/assets/images/award.png"
                  alt="img"
                  class="sales-img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-md-12 col-lg-6">
        <div class="row">
          <div class="col-xl-4 col-lg-12 col-md-12">
            <div class="card">
              <div class="card-body">
                <i
                  class="mdi mdi-file-outline card-custom-icon icon-dropshadow-primary text-primary fs-60"
                ></i>

                <h2 class="mb-1">
                  4/5 <span class="text-muted followers">Overall rating</span>
                </h2>

                <span class="mb-1 text-muted"
                  ><span class="text-success"
                    ><i class="fa fa-caret-up mr-1"></i> 0.8%</span
                  >
                  than last month</span
                >
              </div>
            </div>

            <p class="mt-1 mb-2 fs-18 pl-2 text-center">
              100% Verified feedback from Customers
            </p>
          </div>

          <div class="col-xl-8 col-lg-6 col-md-12">
            <div class="card">
              <div class="card-body pt-3 pb-3">
                <div class="">
                  <ul class="list-detailedfeedaback">
                    <h2 class="text-center mb-2">Detailed seller ratings</h2>
                    <li>
                      <label
                        >Item as Described :
                        <span>
                          <ngb-rating [max]="5" [readonly]="true"> </ngb-rating>
                          4.8(16554 ratings)</span
                        ></label
                      >
                    </li>
                    <li>
                      <label
                        >Communication :
                        <span>
                          <ngb-rating [max]="5" [readonly]="true"> </ngb-rating>
                          4.7(16554 ratings)</span
                        ></label
                      >
                    </li>
                    <li>
                      <label
                        >Shipping Speed :
                        <span>
                          <ngb-rating [max]="5" [readonly]="true"> </ngb-rating>
                          4.7(16554 ratings)</span
                        ></label
                      >
                    </li>
                  </ul>
                </div>
                <div class="col-md-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container p-t50 p-b30 m-none">
    <div class="row" [@.disabled]="true">
      <mat-tab-group class="seller-shop" mat-align-tabs="center">
        <!-- <mat-tab label="new Products">
          <div class="m-t20">
            <div class="row col-lg-10 offset-lg-1 m-a0 productlist-block">
              <div
                class="col-lg-3 col-md-3 col-sm-6 col-xs-6 productlist-block"
                *ngFor="let product of products"
              >
                <div class="product-list custom-image-size">

                  <div class="product-image">
                    <a
                      routerLink="/products/{{ product.slug }}/{{
                        product.unique_id
                      }}"
                    >
                      <img
                        src="{{ product.thumbnail_path }}"
                        (error)="onImgError($event)"
                      />
                    </a>

                    <a
                      class="bubbly-button"
                      [ngClass]="
                        wishlists?.indexOf(product.product_variant_id) > -1
                          ? 'wishlist-block active'
                          : 'wishlist-block'
                      "
                      (click)="
                        addToWishlist(
                          product.product_variant_id,
                          product.product_id
                        )
                      "
                      ><i class="fal fa-heart"></i
                    ></a>
                    <button
                      (click)="addToCart(product.product_variant_id)"
                      class="product-add-btn m-none"
                    >
                      add to cart
                    </button>
                  </div>

                  <div
                    class="product-details"
                    routerLink="/products/{{ product.slug }}/{{
                      product.unique_id
                    }}"
                  >
                    <p>{{ product.storename }}</p>
                    <h4>{{ product.name }}</h4>
                    <ul>
                      <li class="sell-price">
                        Rs. <span>{{ product.saleprice }}</span>
                      </li>
                      <li class="sell-mrp">
                        Rs. <span>{{ product.originalprice }}</span>
                      </li>
                      <li class="sell-discount">
                        (<span>{{ product.offerpercentage }}</span
                        >% off)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab> -->
        <!-- <mat-tab label="Features Products">
       
          <div class="m-t20">
            <div class="row col-lg-10 offset-lg-1 m-a0 productlist-block">
              <div
                class="col-lg-3 col-md-3 col-sm-6 col-xs-6 productlist-block"
                *ngFor="let product of products"
              >
                <div class="product-list custom-image-size">

                  <div class="product-image">
                    <a
                      routerLink="/products/{{ product.slug }}/{{
                        product.unique_id
                      }}"
                      (click)="productvariant(product.product_variant_id)"
                    >
                      <img
                        src="{{ product.thumbnail_path }}"
                        (error)="onImgError($event)"
                      />
                    </a>

                    <a
                      class="bubbly-button"
                      [ngClass]="
                        wishlists?.indexOf(product.product_variant_id) > -1
                          ? 'wishlist-block active'
                          : 'wishlist-block'
                      "
                      (click)="
                        addToWishlist(
                          product.product_variant_id,
                          product.product_id
                        )
                      "
                      ><i class="fal fa-heart"></i
                    ></a>
                    <button
                      (click)="addToCart(product.product_variant_id)"
                      class="product-add-btn m-none"
                    >
                      add to cart
                    </button>
                  </div>

                  <div
                    class="product-details"
                    routerLink="/products/{{ product.slug }}/{{
                      product.unique_id
                    }}"
                  >
                    <p>{{ product.storename }}</p>
                    <h4>{{ product.name }}</h4>
                    <ul>
                      <li class="sell-price">
                        Rs. <span>{{ product.saleprice }}</span>
                      </li>
                      <li class="sell-mrp">
                        Rs. <span>{{ product.originalprice }}</span>
                      </li>
                      <li class="sell-discount">
                        (<span>{{ product.offerpercentage }}</span
                        >% off)
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab> -->
      </mat-tab-group>
    </div>
  </div>
</section>
<app-footer></app-footer>

<!-- <section class="seller-shop" [ngClass]="{'py-0': isMobile}">
    <div class="border-bottom border-top py-1">
        <div class="container" [ngClass]="{'w-75': isDesktop}">
            <div class="row align-items-center mx-0" [ngClass]="{'justify-content-center': isMobile}">
                <div *ngFor="let seller of shopdetails">
                    <a><span class="font-weight-bold">{{seller.company_name |  titlecase}}</span></a>
                    <a class="follow"><span>FOLLOW</span></a>
                    <a class="text-secondary ml-2">
                        <span>3240</span>
                        <span class="ml-1">Followers</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" [ngClass]="{'w-75': isDesktop}">
        <div class="text-center row align-items-center justify-content-between mx-auto position-relative p-tb10">
            <div class="col-md-6 mb-2 d-flex" *ngFor="let seller of shopdetails">
                <span class="store-banner">{{seller.company_name | titlecase}}</span>
                <ngb-rating class="rating" [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
            </div>
            <div class="col-md-6 justify-content-end d-flex">
                <div class="border py-2 px-2 borderradius-5 shadow-lg" [ngClass]="{'w-50': isDesktop, 'w-75 mx-auto': isMobile}">
                    <small>Overall rating</small>
                    <h2><span class="text-brand">4</span>/<span>5</span></h2>
                 
                    <div class="border mx-auto d-flex align-items-center px-4 py-2 borderradius-5 shadow-lg verified">
                        <img src="assets/images/icons/shield.png" alt="">
                        <h6 class="font-12 mb-0">100% Verified feedback from Customers</h6>
                    </div>
                </div>
                <div class="border py-2 px-2 cust-review borderradius-5 ml-5 shadow-lg" [ngClass]="{'w-50': isDesktop, 'w-75 mx-auto': isMobile}">
                    <div class="bg-light-blueshade py-1"><small>1003 Ratings</small></div>
                    <div class="text-left d-flex flex-column">
                        <div class="row mx-0"><small class="mr-3 pl-0 col-3">Excellent</small><ngb-rating [max]="5" [(rate)]="currentRate5" [readonly]="false"></ngb-rating><span class="font-11 pt-1 ml-1 m-none">(883 ratings)</span></div>
                        <div class="row mx-0"><small class="mr-3 pl-0 col-3">Great</small><ngb-rating [max]="5" [(rate)]="currentRate4" [readonly]="false"></ngb-rating><span class="font-11 pt-1 ml-1 m-none">(106 ratings)</span></div>
                        <div class="row mx-0"><small class="mr-3 pl-0 col-3">Average</small><ngb-rating [max]="5" [(rate)]="currentRate3" [readonly]="false"></ngb-rating><span class="font-11 pt-1 ml-1 m-none">(83 ratings)</span></div>
                        <div class="row mx-0"><small class="mr-3 pl-0 col-3">Poor</small><ngb-rating [max]="5" [(rate)]="currentRate2" [readonly]="false"></ngb-rating><span class="font-11 pt-1 ml-1 m-none">(9 ratings)</span></div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="new-btn py-2 d-inline-flex justify-content-center w-100">
        <li class="px-3"><a href="#new-collection"><span class="text-white">New Collection</span></a></li>
        <li class="px-3"><a href="#FeaturedProducts"><span class="text-white">Featured Products</span></a></li>
        <li class="px-3"><a href="#ForYou"><span class="text-white">Picked For You</span></a></li>
    </ul>
</section>


<section id="new-collection">
    <div class="container">
        <div class="col-md-8 mx-auto p-0">
            <h3 class="text-center mb-2">New Collection </h3>
            <div class="text-center uline2-bottom"> <img
                    src="http://www.guiwidgets.com/demo/webpage/vibgyor/demo/images/uline-2.png" alt="uline"> </div>
            <p class="text-center pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="row m-0 border">
            <div class="col-md-3 col-sm-6 col-xs-6 p-0" *ngFor="let new of newcollection">
                <div class="border-right new-right-br-pad">
                    <h4 class="text-center pb-3">{{new.name}}</h4>
                    <div class="text-center"> <img
                            src="{{new.images}}"
                            alt="360x500x1" class="img-responsive image-radius mx-auto"> </div>
                    <p class="text-center new-dolor common-dolor">Rs. {{new.price}} </p>
                </div>
            </div>
        </div>
        <div class="new-btn-center">
            <div>
                <a href="#">
                    <div class="common-btn btn-2 new-btn">BROWSE NOW</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="FeaturedProducts">
    <div class="sec-1">
        <h1 class="sec-2">Featured Products</h1>
        <img class="sec-3" src="/assets/images/background/19018.jpg">
    </div>
    <div class="container sec-4">
        <div class="row justify-content-around mx-0">
            <div class="col-md-3 sec-5" *ngFor="let feature of featured">
                <div class="sec-6">
                    <a class="sec-7"><img src="{{feature.images}}" class="sec-8"></a>
                </div>
                <div><a class="sec-7"><span class="sec-9">{{feature.name}}</span></a>
                    <h3 class="sec-10" numberoflines="1">&#x20B9;{{feature.sell_price}}</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ForYou">
    <div class="container">
        <h2 class="font-weight-bold text-center mb-5">PICKED FOR YOU</h2>
        <div class="row productlist-block " [ngClass]="{'w-75 mx-auto': isDesktop, 'wishlist-bb': isMobile}">
            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6" *ngFor="let product of products">
                <div class="product-list">
                    <div>
                        <a href="" class="">
                            <img [src]="product.image" />
                        </a>
                    </div>
                    <div class="product-details">
                        <div class="pb-2">
                            <p>{{product.storename}}</p>
                            <h4>{{product.name}}</h4>
                            <ul class="product-price text-center">
                                <li>&#x20B9;<span>{{product.saleprice}}</span></li>
                                <li>&#x20B9;<span>{{product.originalprice}}</span></li>
                                <li>(<span>{{product.offerpercentage}}</span>OFF)</li>
                            </ul>
                        </div>
                        <hr class="my-0">
                        <div class="actions pt-0">
                            <ul class="ripple-container py-1">
                                <li class="m-r0"><button href="" class="btn btn-style-bg text-uppercase m-r0">ADD TO
                                        CART</button>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
