.submenucat img {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    object-fit: cover;
    object-position: top;
    /* border: 1.4px solid #f1ac5d; */
    box-shadow: 0 1px 2px 0 rgba(148, 150, 159, 0.3);
}

.submenucat h4 {
    font-size: 12px;
    font-weight: 500;
    color: #1a1a1a;
    margin: 0;
}

.submenucat {
    padding: 6px 0px 6px 11px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.category-list {}