<div class="dashboard-page bg-light-blueshade">
  <app-breadcrumb [headername]="this.subCategoryTitle"></app-breadcrumb>
  <div class="dt-none">
    <div class="stripText intSection">
      <p>Free shipping on orders above Rs. 500</p>
    </div>

    <div *ngIf="!loading && hide">
      <section class="p-b0">
        <div class="container">
          <div class="row">
            <div
              class="col-sm-6 col-xs-6 pr-0"
              *ngFor="let child of childCategories"
            >
              <!-- [routerLink]="/products/{{ Array.from(child.id) }}" -->
              <!-- <a routerLink="/category/{{categorySlug}}/{{subCategorySlug}}/{{child.slug}}" (click)="childcatid(child.id,child.slug)"> -->
              <a
                routerLink="/category/{{ categorySlug }}/{{
                  subCategorySlug
                }}/{{ child.slug }}"
                (click)="
                  childcatid(
                    child.id,
                    categorySlug,
                    subCategorySlug,
                    child.slug
                  )
                "
              >
                <div class="row submenucat">
                  <div class="col-lg-12 col-sm-4 col-xs-4 pl-0">
                    <img src="{{ child.image_path }}" />
                  </div>

                  <div class="col-lg-4 col-sm-8 col-xs-8 pl-0">
                    <h4 class="word-break">{{ child.title }}</h4>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="slider-category">
        <div class="container p-l5 p-r5">
          <h3>Exclusive Launch</h3>
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let img of images"
              ><img (click)="bannerClick(img.link)" [src]="img.img"
            /></ng-template>
          </owl-carousel-o>
        </div>
      </section>
    </div>

    <!-- Skeleton-Loader -->
    <div *ngIf="loading && hide">
      <section class="p-b0">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-xs-6 pr-0" *ngFor="let child of [1, 2]">
              <a>
                <div class="row submenucat">
                  <div class="col-lg-12 col-sm-4 col-xs-4 pl-0">
                    <ngx-skeleton-loader
                      appearance="circle"
                      [theme]="{
                        'border-radius': '10px',
                        width: '100%',
                        height: '40px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </div>

                  <div class="col-lg-8 col-sm-8 col-xs-8 pl-0">
                    <div class="">
                      <h4>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '80px',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '0px'
                          }"
                        ></ngx-skeleton-loader>
                      </h4>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center">
        <div class="container p-l5 p-r5">
          <h3>
            <ngx-skeleton-loader
              [theme]="{
                width: '140px',
                'border-radius': '0',
                height: '25px',
                'margin-bottom': '0px'
              }"
            ></ngx-skeleton-loader>
          </h3>
        </div>
        <ngx-skeleton-loader
          [theme]="{
            width: '95%',
            'border-radius': '5px',
            height: '145px',
            'margin-bottom': '0px'
          }"
        ></ngx-skeleton-loader>
      </section>
    </div>
  </div>
  <div *ngIf="!hide">
    <app-productlist></app-productlist>
  </div>
  <app-footer class="dt-none"></app-footer>
</div>
