.search-block {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;

  &:focus {
    outline: none;
  }

  .form-control {
    &:focus {
      box-shadow: none;
    }
  }

  input {
    height: 35px;
    background: #fff;
    font-size: 12px;
    border: 1px solid #cac7f6;
    border-radius: 5px;
  }

  button {
    border: none;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 18px;
    background: transparent;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #fff;

      outline: none;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;

      &:before {
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 1px;

      width: 100%;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
    }

    i {
      font-size: 15px;
    }
  }

  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: 0px;
  }

  h3 {
    float: left;
    font-weight: 400;
    font-size: 16px;
    margin: 1.5px 0 2.5px 0px;
  }
}

.is-fixed {
  position: fixed !important;
  background: #fff !important;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 55px !important;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.06);
}

.p-info {
  width: 100%;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 10px;
  margin-bottom: 7px;
  position: relative;
  // box-shadow: 0 2px 18px 1px rgba(49, 53, 72, .1);
}

.title-info {
  font-size: 16px;
  margin-bottom: 11px;
  font-weight: 600;
}

.hot-deals li {
  list-style-type: none;
  display: inline-block;
  color: #5d5e5c;
  margin: 4px 6px 3px;
  background-color: rgba(162, 198, 239, 0.18823529411764706);
  font-weight: 400;
  border-radius: 4px;
  text-transform: capitalize;
  border: none;
  cursor: default;
  display: inline-flex;
  outline: 0;
  padding: 3px 8px;
  font-size: 0.7125rem;
  box-sizing: border-box;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
}

.research-deals li {
  list-style-type: none;
  display: inline-block;
  color: #5d5e5c;
  margin: 4px 6px 3px;
  background-color: rgba(162, 198, 239, 0.18823529411764706);
  font-weight: 400;
  border-radius: 4px;
  text-transform: capitalize;
  border: none;
  cursor: default;
  display: inline-flex;
  outline: 0;
  padding: 3px 8px;
  font-size: 0.7125rem;
  box-sizing: border-box;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  white-space: nowrap;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
}

.research-deals li i {
  line-height: 8px;
  height: 6px;
  color: #e76b5e;
  font-weight: 500;
  padding-left: 5px;
}

.hot-deals li i {
  margin-right: 7px;
  color: #e76b5e;
}

.product-details {


  p {
    font-size: 0.7em;
    text-align: center;
    width: 100%;
    color: #e75d81;
    padding: 2px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 15px;
    margin-top: 0px;
  }

  h4 {
    font-size: 0.8em;
    color: #939393;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
  }

  li {
    &:nth-child(2) {
      opacity: 0.4;
      color: #282c3f;
      text-decoration: line-through;
      font-size: 11px;
    }

    &:last-child {
      color: #e75d81;
      font-weight: 600;
      font-size: 10px;
      white-space: nowrap;
    }

    &:first-child {
      color: #333;
      font-weight: 700;
      text-align: center;
    }

    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 7px;
  }
}

.products-slider {
  padding-bottom: 20px;

  img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.search-page > section ul li a {
  padding: 15px 20px;
  display: block;
  word-wrap: break-word;
  line-height: 1.5;
}


.ctr {
  float: left;
  display: block;
  height: 52px;
  width: 100%;
}

@media only screen and (max-width: 1365px) and (min-width: 1024px) {
  .fc_search .headSearchBox .se-re ul .txtdes {
    width: 240px;
  }
}

.txtdes {
  height: 48px;
  float: left;
  line-height: 15px;
  width: 100%;
}

.txtdes {
  // overflow: hidden;
  display: inline;
  font-weight: 400;
  float: left;
  line-height: 10px;
}

.L12_21 {
  font-size: 12px;
  color: #212121;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95%; // some width
}

.detxt {
  font-size: 11px;
}

.detxt {
  float: left;
  display: block;
  font-size: 9px;
  margin-top: 4px;
}

.txtpr {
  float: right !important;
  margin-left: 10px;
  line-height: 15px;
  font-size: 12px;
  margin-right: 10px;
}

.R12_21 {
  font-size: 12px;
  color: #212121;
  line-height: 17px;
}

.txtpr .dis {
  color: #e75e83;
}

.txtpr .dis {
  color: #e75e83;
  font-size: 10px;
  text-decoration: line-through;
}

.R11_red {
  font-size: 11px !important;
  color: #e53935;
  line-height: 16px;
}

.ng-autocomplete {
  width: 100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  line-height: 45px;
  height: 45px;
  padding: 0 16px;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.right-13 {
  position: absolute;
  right: 13px;
}

.trending_search {
  display: block;
  overflow: hidden;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.trending_search .floating-box {
  font-size: 10px !important;

  float: left;
  padding: 3px 7px 5px 7px;
  margin: 0 0 10px 10px;
  border-radius: 3px;
  background-color: rgba(162, 198, 239, 0.1882352941);
}

.R14_42 {
  font-weight: 400;
  // color: #424242;
  line-height: 20px;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    position: relative;
    height: 168px;
  }

  .notfound .notfound-404 h1 {
    font-size: 142px;
  }

  .notfound h2 {
    font-size: 18px !important;
  }
}

.notfound .notfound-404 {
  position: relative;
  height: 130px;
}

.notfound .notfound-404 h1 {
  font-family: "Kanit", sans-serif;
  position: absolute;
  left: 50%;
  // top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 86px;
  font-weight: 200;
  margin: 0px;
  background: linear-gradient(130deg, #ffa34f, #ff6f68);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: "Kanit", sans-serif;
  font-size: 33px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 0px;
  letter-spacing: 3px;
  white-space: normal;
}

.notfound p {
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 25px;
  white-space: normal;
}

.notfound a {
  font-family: "Kanit", sans-serif;
  color: #ff6f68;
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px dashed #ff6f68;
  border-radius: 2px;
}

.search-img img {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  margin: 5px 0;
}
.product_name {
  margin-top: 0;
  font-weight: 400 !important;
  text-transform: none;
  line-height: 1.6;
  font-size: 12px;
  color: #222;
  margin-bottom: 0px;
  white-space: nowrap;
  display: block;
  width: 100%;
}
.discount-price {
  color: #e75d81;
  font-weight: 500;
  font-size: 5px;
  white-space: nowrap;
  text-align: center;
  font-size: 12px;
}
.seller-price {
  font-size: 12px;
  color: #aaa;
  text-decoration: line-through;
}
.product-price {
  color: #333;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.search-products li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
  border: 0 !important;
}
.homeheader-fixed {
  top: 0;
  position: fixed !important;
  background: #fff !important;
  left: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 7px 8px 0 rgb(0 0 0 / 6%);
}

.product-image
{
  border: .1px solid #eae1e1;
}