<div class="search-page bg-light-blueshade">
  <section
    class="search-block p-t10 p-b10"
    (scroll)="onWindowScroll($event)"
    [ngClass]="fixed ? 'homeheader-fixed' : ''"
  >
    <div class="container">
      <div class="row v-row">
        <div class="col-12 d-flex align-items-center">
          <i (click)="goback()" class="lni lni-arrow-left"></i>

          <input
            type="text"
            class="mt-0 ml-2 w-100"
            [(ngModel)]="searchText"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (keyup)="onSearchKey($event)"
            placeholder="Search for Products"
          />
          <button
            mat-button
            *ngIf="searchText"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="searchText = ''"
          >
            <mat-icon><i class="fal fa-times"></i></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </section>

  <!-- Popular Category -->
  <section class="p-a0 hot-deals">
    <div class="product-returninfo trending_search p-info">
      <h3 class="title-info">Popular category</h3>
      <div
        class="row mx-0 mr-2 v-row floating-box"
        *ngFor="let category of popularCategory"
        (click)="gotoProductList(category)"
      >
        <a
          ><i class="fas fa-fire text-danger mr-1"></i
          ><span class="text-secondary"
            >{{ category.subcat_title }} > {{ category.title }}</span
          ></a
        >
      </div>
    </div>
  </section>
  <!-- Popular Category -->

  <!-- Wishlist -->
  <section class="product-slider p-info" *ngIf="wishlist.length > 0">
    <h3 class="title-info">Items You Have Wishlisted</h3>
    <owl-carousel-o [options]="RecommendOptions">
      <ng-template
        carouselSlide
        class="productlist-block"
        *ngFor="let product of wishlist; let i = index"
      >
        <a
          (click)="
            productvariantwishlist(
              product.product_variant_id,
              i,
              product.product_id
            )
          "
        >
          <div class="product-list">
            <img
              [src]="imgUrl + '/' + product.thumbnail_img_name"
              (error)="onImgError($event)"
            />

            <div class="product-details ">
              <p>{{ product.company_name }}</p>
              <h4>{{ product.name }}</h4>
              <ul *ngIf="product.deal_price == null">
                <li>
                  &#x20B9;<span>{{ product.final_price }}</span>
                </li>
                <li *ngIf="product.mrp > product.final_price">
                  &#x20B9;<span>{{ product.mrp }}</span>
                </li>
                <li *ngIf="product.final_discount > 0">
                  (<span>{{ product.final_discount }}</span> % OFF)
                </li>
              </ul>
              <ul *ngIf="product.deal_price != null">
                <li>
                  &#x20B9;<span>{{ product.deal_price }}</span>
                </li>
                <li *ngIf="product.mrp > product.deal_price">
                  &#x20B9;<span>{{ product.mrp }}</span>
                </li>
                <li *ngIf="product.deal_discount > 0">
                  (<span>{{ product.deal_discount }}</span> % OFF)
                </li>
              </ul>
            </div>
          </div>
        </a>
      </ng-template>
    </owl-carousel-o>
  </section>
  <!-- Wishlist -->

  <!-- Top Selling Products -->
  <section
    class="product-slider p-info custom-image-size"
    *ngIf="wishlist.length == 0"
  >
    <h3 class="title-info">Top Selling Products</h3>
    <owl-carousel-o [options]="RecommendOptions">
      <ng-template
        carouselSlide
        class="productlist-block"
        *ngFor="let product of topSellingProducts; let i = index"
      >
        <a
          (click)="
            productvarianttopselling(
              product.product_variant_id,
              i,
              product.product_id
            )
          "
        >
          <div class="product-list">
            <div class="product-image">
              <img [src]="imgUrl + '/' + product.thumbnail_img_name" />
            </div>

            <div class="product-details">
              <p>{{ product.company_name }}</p>
              <h4>{{ product.name }}</h4>
              <ul *ngIf="product.deal_price == null">
                <li>
                  &#x20B9;<span>{{ product.final_price }}</span>
                </li>
                <li *ngIf="product.mrp > product.final_price">
                  &#x20B9;<span>{{ product.mrp }}</span>
                </li>
                <li *ngIf="product.final_discount > 0">
                  (<span>{{ product.final_discount }}</span> % OFF)
                </li>
              </ul>
              <ul *ngIf="product.deal_price != null">
                <li>
                  &#x20B9;<span>{{ product.deal_price }}</span>
                </li>
                <li *ngIf="product.mrp > product.deal_price">
                  &#x20B9;<span>{{ product.mrp }}</span>
                </li>
                <li *ngIf="product.deal_discount > 0">
                  (<span>{{ product.deal_discount }}</span> % OFF)
                </li>
              </ul>
            </div>
          </div>
        </a>
      </ng-template>
    </owl-carousel-o>
  </section>
  <!-- Top Selling Products -->
</div>
<app-footer></app-footer>

<mat-autocomplete #auto="matAutocomplete" class="mat-search-option">
  <div *ngIf="searchLoading" class="">
    <mat-option class="container loading-search h-100 px-0">
      <div class="row v-row text-center-nofound">
        <div class="txtdes align-items-center">
          <span
            class="spinner-border spinner-border-sm text-black"
            role="status"
          ></span>
          <label>Searching...</label>
        </div>
      </div>
    </mat-option>
  </div>
  <mat-option *ngFor="let brand of brands" class="categ {'h-40'}">
    <div (click)="selectEvent(brand, null, 'brand')">
      <div class="txtdes align-items-center d-flex brand">
        <img
          style="width: 17px; margin-right: 5px"
          src="assets/images/icons/brand.png"
        />
        <span
          class="edittext L12_21"
          [innerHTML]="brand.name | highlightSearch: searchText"
        ></span>
        <i class="fas fa-chevron-right text-muted right-13"></i>
        <br />
      </div>
    </div>
  </mat-option>
  <mat-option *ngFor="let tag of tags" class="categ {'h-40'}">
    <div (click)="selectEvent(tag, null, 'tags')">
      <div class="txtdes align-items-center d-flex brand">
        <img
          style="width: 17px; margin-right: 5px"
          src="assets/images/icons/tag.png"
        />
        <span
          class="edittext L12_21"
          [innerHTML]="tag.name | highlightSearch: searchText"
        ></span>
        <i class="fas fa-chevron-right text-muted right-13"></i>
        <br />
      </div>
    </div>
  </mat-option>
  <!-- <mat-option *ngFor="let brand of brands" class="categ {'h-40'}">
    <div (click)="selectEvent(brand, 'brand')">
      <div class="txtdes align-items-center d-flex tag">
        <img src="assets/images/icons/tags.png">
        <span
          class="edittext L12_21"
          [innerHTML]="brand.name | highlightSearch: searchText"
        ></span>
        <i class="fas fa-chevron-right text-muted right-13"></i>
        <br />
      </div>
    </div>
  </mat-option> -->
  <mat-option *ngFor="let category of searchCategories" class="categ {'h-40'}">
    <div (click)="selectEvent(category)">
      <div class="txtdes align-items-center d-flex">
        <span
          class="edittext L12_21"
          [innerHTML]="category.path_title | highlightSearch: searchText"
        ></span>
        <i class="fas fa-chevron-right text-muted right-13"></i>
        <br />
      </div>
    </div>
  </mat-option>
  <mat-option
    *ngFor="let product of searchProducts; let i = index"
    class="{'h-40'}"
  >
    <div (click)="selectEvent(product, i)" class="search-products">
      <div class="row v-row">
        <div class="col-xs-2 col-sm-2 pr-0 search-img">
          <img
            alt="product"
            class="img-responsive preLoad loaded"
            [src]="imgUrl + '/' + product.thumbnail_img_name"
            (error)="onImgError($event)"
          />
        </div>
        <div class="col-xs-10 col-sm-10 pl-2">
          <span
            class="product_name text-capitalize ellipsis"
            [innerHTML]="product.name | highlightSearch: searchText"
          ></span>
          <ul class="m-a0" *ngIf="product.deal_price == null">
            <li class="product-price">
              Rs.&nbsp;{{ product.fabpik_seller_price }}
            </li>
            <li
              class="seller-price"
              *ngIf="product.mrp != product.fabpik_seller_price"
            >
              Rs.&nbsp;{{ product.mrp }}
            </li>
            <li class="discount-price" *ngIf="product.discount_percent > 0">
              ({{ product.discount_percent.toFixed(2) }}%OFF)
            </li>
          </ul>
          <ul class="m-a0" *ngIf="product.deal_price != null">
            <li class="product-price">Rs.&nbsp;{{ product.deal_price }}</li>
            <li class="seller-price" *ngIf="product.mrp != product.deal_price">
              Rs.&nbsp;{{ product.mrp }}
            </li>
            <li class="discount-price" *ngIf="product.deal_discount > 0">
              ({{ product.deal_discount }}%OFF)
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="txtdes d-flex flex-column">
       
      </div> -->
    </div>
  </mat-option>
  <div
    *ngIf="
      searchCategories.length == 0 &&
      searchProducts.length == 0 &&
      brands.length == 0 &&
      tags.length == 0 &&
      searchValue.length >= 3 &&
      !searchLoading
    "
  >
    <mat-option class="container h-100 px-0">
      <div
        class="row v-row text-center-nofound"
        *ngIf="searchCategories.length == 0 && searchProducts.length == 0"
      >
        <div class="col-lg-12">
          <img src="assets/images/icons/no-orders-07-07.png" />
          <label>No Results Found</label>
          <p>
            Your search
            <span class="text-brand">"{{ searchText }}"</span> didn't find any
            results.
          </p>
        </div>
      </div>
    </mat-option>
  </div>
</mat-autocomplete>
