<!-- <section class="px-0 pt-0 pb-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 px-0">
                <img src="assets/images/slider/banner4.png">
            </div>
        </div>
    </div>
  </section> -->
<section class="pt-0">
    <div class="">
        <div class="" >
          
            <div  class="help1">
               
                <div class="">
                    <section class="support-section p-a60">
                        <div class="container">
                            <h5 class="title-info text-center">Hello, How Can we help?</h5>
                            <div class="row">
                                <div class="col-sm-12 col-lg-8 offset-lg-2">
                                    <div class="subscribe_now">
                                        <form class="search-faq">
                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                    placeholder="Ask a Question">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"><i
                                                            class="far fa-search"></i> </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                    <p class="support-des">Or choose a category to quicky find the help you need</p>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                    </section>
                    <section class="faq-section bg-white pb-0">
                        <div class="container p-t50">
                            <div class="row">
                                <mat-tab-group class="support-tabs" mat-align-tabs="center">
                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <div class="">
                                                <div class="faq-img">
                                                    <img  src ="assets/images/icons/shipping.png" >
                                                </div>   <h3>Getting Started</h3>
                                            </div>
                                        </ng-template>
                                        <div class="m-t20 tabs-content">
                                            <h3>Getting Started</h3>
                                            <mat-accordion class="example-headers-align">
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>Why Should I sell on Fabpik? What is your USP? </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>Here are few factors why you should sell with Fabpik   </p>
                                                   <ul>
                                                       <li>Best commission Rates than market</li>
                                                       <li>Unmatched Seller Support – SELLER MOBILE APP for easy of business, Account managers to help with whole process, We are not an ecommerce platforms which covers everything, its an exclusive ecommerce portal for us. Our world is exclusively for Kids and sellers in that segment</li>
                                                       <li>Seller Centric portal – A seller centric portal where you can feature your own products, mention ON SALE products, talk to customers if needed.</li>
                                                       <li>Excellent Reporting Mechanism – Reports that helps you to boost your business</li>
                                                    
                                                    </ul>
                                                       
                                                </mat-expansion-panel>
                                               
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>	Do I need to courier my products to Fabpik? </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>No, Currently we have two options. Ship with Fabpik and Self Ship. 
                                                        
                                                    </p><p>  For Shipping with Fabpik, please check the rates (please contact <a target="_blank" href="mailto:vendorsupport@fabpik.in">vendor support</a> for the rates.). For Selfship, you need to ship the products through third party courier company.
                                                      
                                                      </p> 
                                                </mat-expansion-panel>
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>	What are the documents/license required to register as a seller on Fabpik? </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>For organizations its mandatory to provide Legal Registration Certificates, PAN CARD, Bank Details and GST.

                                                    </p><p>   For individuals who sells the products which doesn’t come under GST should provide – PAN, AADHAR Card & Bank details. 
                                                        
                                                      </p> 
                                                </mat-expansion-panel>

                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>		When can I start selling? </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>You need to register online and provide all the mandatory documents on the portal. Once they are verified by our team, you can start selling. Usually it won't take more than a day to verify a seller.
                                                    </p> 
                                                </mat-expansion-panel>
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>	Do you have other sellers aggregated on Fabpik?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>Yes we have 30+ Sellers already on the platform selling their products.   </p> 
                                                </mat-expansion-panel>

                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>	What is the Onboarding process of Fabpik?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>You need to register yourself as Seller through our portal. Once you are approved, you get access to our SELLER portal where you can start uploading the products and start your business.
                                                    </p> 
                                                </mat-expansion-panel>



                                            </mat-accordion>
                                        </div>
                                    </mat-tab>
                                   <mat-tab>
                                        <ng-template mat-tab-label>
                                            <div class="">
                                                <div class="faq-img">
                                                    <img src="assets/images/icons/cancellation.png">
                                                </div>   <h3>Pricing and Payments</h3>
                                            </div>
                                        </ng-template>
                                        <div class="m-t20 tabs-content">
                                            <h3>Pricing and Payments </h3>
                                            <mat-accordion class="example-headers-align">
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title> Who decides the price of the products?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>Its your product, you will decide the price. Please note that, the price shared by you should always include all taxes.

                                                    </p>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title> What are the fees charged?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>We don’t charge any fee for listing your products on our platform. We only charge on the products sold.</p>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>What is commission fee and how much commission is charged? </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>We have different commission rates for different categories.please contact us <a target="_blank" href="mailto:vendorsupport@fabpik.in">vendorsupport@fabpik.in</a>
                                                    </p>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>How and when will I get paid? </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>You will be paid after 7 business days after the product is delivered to consumer. This includes pay on delivery or payments online.  
                                                    </p>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                       



                                        </div>
                                    </mat-tab>
                                <mat-tab>
                                        <ng-template mat-tab-label>
                                            <div class="">
                                                <div class="faq-img">
                                                    <img src="assets/images/icons/payments.png">
                                                </div>  <h3>    Listings and catalogue</h3>
                                            </div>
                                        </ng-template>
                                        <div class="m-t20 tabs-content">
                                            <h3>   Listings and catalogue</h3>
                                            <mat-accordion class="example-headers-align">
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title> What is listing? How do I list my products on Fabpik? </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>Product Cataloguing is one of the important features of selling your products online. You need to provide proper naming and possible detailed information about the products. You can list your products by uploading them through our seller portal. You can define your individual products or upload multiple products through spreadsheet. You can get all help from our tutorial video on how to do it (You can access them only after logging in to seller portal).
                                                    </p>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title> How many listings are required to start selling?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>There is no minimum number. You can start selling a single product also.</p>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title> 	Can I get help for development of catalogue (product images, description, etc.) ? </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>We can help your with third party vendors who does this job. You may have to pay the service charges as per the vendors. </p>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title> 	Will I get charged for listing products on Fabpik? </mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>No, its absolutely free.</p>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </mat-tab>
                                 


                                         <mat-tab>
                                        <ng-template mat-tab-label>
                                            <div class="">
                                                <div class="faq-img">
                                                    <img src="assets/images/icons/exchange-support.png">
                                                </div> <h3>      Order Management and Shipping </h3>
                                            </div>
                                        </ng-template>
                                        <div class="m-t20 tabs-content">
                                            <h3>      Order Management and Shipping</h3>
                                            <mat-accordion class="example-headers-align">
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>Who takes care of the delivery of the products?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p><b>Two types of shipping </b></p>
                                                       <ul>
                                                           <li> FabShip – Fabpik will take care of the shipping. you can pack your orders and schedule pickup for our team through your Seller Central account.
                                                        </li>
                                                           <li>  SelfShip- If you choose to deliver your products on your own, you need to pack and ship products to customers and then confirm to the customer about the shipment through your Seller Account.
                                                           </li>
                                                       </ul>       </mat-expansion-panel>
                                                       <mat-expansion-panel >
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>What should I do if my area is not serviceable by Fabpik?</mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <p>During registering, you will need to provide your pin-code details. Before approving your seller account. Our team will verify the details and let you know if its not serviceable. Our target is to cover all pin codes in INDIA and we are in the process of it. You will be notified via e-mail when your pin code becomes serviceable.</p>
                                                               </mat-expansion-panel>
                                                               <mat-expansion-panel >
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title>Does Fabpik provide packaging material?</mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <p>No, at this moment Fabpik is not providing packaging material due to operational efficiencies</p>
                                                                       </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </mat-tab>
                               



                                    <mat-tab>
                                        <ng-template mat-tab-label>
                                            <div class="">
                                                <div class="faq-img">
                                                    <img src="assets/images/icons/setting.png">
                                                </div>     <h3> Returns and Sellers Protection</h3>
                                                   
                                                  	
                                                      
                                            </div>
                                        </ng-template>
                                        <div class="m-t20 tabs-content">
                                            <h3> Returns and Sellers Protection </h3>
                                            <mat-accordion class="example-headers-align">
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title> What protection Fabpik offer in case of lost/damaged goods and fraudulent customer?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p> Fab has Exclusive Fraud Management Team and they are with you to help in such cases. If the buyer or logistics partners is at fault, you will receive the refund for such products. You need to raise a ticket with our support team for the same.
                                                    </p>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>Would I get compensation if the customer has returned damaged products?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>   Yes, you can raise a claim through support platform Depending on the case and category, you will be given a refund provided you have adequate proof that you shipped an authentic/undamaged product. This will help us close the dispute in your favour. 
                                                    </p>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>	Would I get compensation if the customer has replaced the original product with different item?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>    Yes, you can raise a claim through support platform Depending on the case and category, you will be given a refund provided you have adequate proof that you shipped an authentic/undamaged product. This will help us close the dispute in your favour. 
                                                  
                                                    </p>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>	Would I get compensation if the good are damaged or lost in transit?</mat-panel-title>
                                                    </mat-expansion-panel-header>
                                                    <p>       Yes. When your products are damaged in transit, you can raise a claim through support platform. The refund depends on the scenario and product. You need to provide adequate proof that you shipped an authentic/undamaged product. 
                                              
                                                    </p>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </mat-tab>
                                   
                                </mat-tab-group>
                            </div>
                        </div>
                    </section>


                   
             
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-section p-a60 pt-2 bg-white">
    <div class="container">
        <h5 class="title-info text-center">You still have a question?</h5>
        <p>If you cannot find answer to your question in our Faq , You can always contact us, we will answer to you
            shortly</p>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 m-t20">
                <div class="contact-block">
                    <div class="faq-img">
                        <i ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg></i>
                    </div>
                    <h3><a target="_blank" href="https://tawk.to/chat/5d9f447df82523213dc6a1f5/default">Chat With US</a></h3>
                    <p>we are always happy to help </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 m-t20">
                <div class="contact-block">
                    <div class="faq-img">
                        <i ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg></i>
                    </div>
                    <h3><a target="_blank" href="tel:040-418-91487">040-418-91487</a></h3>
                    <p>we are always happy to help </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6  offset-xs-3 m-t20">
                <div class="contact-block">
                    <div class="faq-img">
                        <i ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></i>
                    </div>
                    <h3><a target="_blank" href="mailto:vendorsupport@fabpik.in" target="_blank">vendorsupport@fabpik.in</a></h3>
                    <p>The Best way to help faster </p>
                </div>
            </div>
        </div>
    </div>
</section>