<app-desktop-header></app-desktop-header>
<div class="back-btn" (click)="goback()">
  <i class="lni lni-arrow-left"></i>
</div>
<section class="login-from">
  <div class="container">
    <h3></h3>
    <!-- <div class="row error-block" *ngIf="isError">
      <div class="col-lg-3 col-sm-3 col-xs-3 p-a0 error-left">
        <i class="fas fa-exclamation-circle"></i>
      </div>
      <div class="col-lg-9 col-sm-9 col-xs-9 p-a0 error-right">
        <p>{{ errorMessage }}</p>
      </div>
    </div> -->
    <form class="form-block pb-2" [formGroup]="loginPassword">
      <div class="row v-row offset-lg-2 col-lg-8 form-rowblock pb-0">
        <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12 m-none">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slider of sliders"
              ><img [src]="slider.image" />
            </ng-template>
          </owl-carousel-o>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
          <h2>Login</h2>

          <img src="assets/images/icons/verification.png" />
          <p class="font-12 mb-0 ml-1 text-center position-relative">
            {{ user }}&nbsp;&nbsp;<span class="text-brand position-absolute">
              <a routerLink="/login"><i class="fal fa-user-edit ml-2"></i></a
            ></span>
          </p>
          <div class="form-group mt-1 input-group position-relative">
            <div class="controls">
              <label class="has-float-label text-left"
                ><span>&nbsp;&nbsp;Password</span></label
              >
              <input
                class="form-control"
                formControlName="password"
                [type]="fieldTextType ? 'text' : 'password'"
                placeholder="Enter your Password"
              />
              <i
                class="fal d-h"
                [ngClass]="{
                  'fa-eye-slash': !fieldTextType,
                  'fa-eye': fieldTextType
                }"
                (click)="toggleFieldTextType()"
              ></i>
            </div>
          </div>
          <a class="anchor-link" routerLink="/forgotpassword"
            >Forgot Password?</a
          >
          <div class="col-12 m0-auto p-a0">
            <button
              type="submit"
              (click)="submit()"
              class="btn btn-style-bg text-uppercase m-b10"
            >
              <!-- [disabled]="loading" -->
              <!-- <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span
              > -->
              Login
            </button>
          </div>

          <!-- <div class="div-or-text">
                        <div class="div-or-text-divider">
                            <p class="divider-text R12_42">New to Fabpik?
                                <a href="" target="_self">Register Here</a>
                            </p>
                        </div>
                    </div> -->
        </div>
      </div>
    </form>
    <!-- <p class="agree-text R12_42 text-center">By continuing, you agree to Fabpik's <a href=""
                target="_self" class="text-brand">Conditions of Use</a> and <a href="" target="_self" class="text-brand">Privacy Notice.</a>
        </p> -->
  </div>
</section>
