<app-desktop-header></app-desktop-header>
<div class="back-btn" (click)="goback()">
  <i class="lni lni-arrow-left"></i>
</div>
<section class="login-form pt-5">
  <div class="container">
    <div class="row v-row offset-lg-4 col-lg-4 form-rowblock pb-0">
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <h3></h3>

        <form
          [formGroup]="RegisterForm"
          (ngSubmit)="onSubmit()"
          class="form-block pb-5"
          autocomplete="off"
        >
          <h2>Create An Account</h2>
          <img src="assets/images/icons/verification.png" />
          <div
            class="row error-block"
            *ngIf="
              mobileServerErrors.length > 0 || emailServerErrors.length > 0
            "
          >
            <div class="col-lg-3 col-sm-3 col-xs-3 p-a0 error-left">
              <i class="fas fa-exclamation-circle"></i>
            </div>
            <div
              class="col-lg-9 col-sm-9 col-xs-9 p-a0 error-right"
              *ngFor="let error of mobileServerErrors"
            >
              <p>{{ error }}</p>
            </div>
            <div
              class="col-lg-9 col-sm-9 col-xs-9 p-a0 error-right"
              *ngFor="let error of emailServerErrors"
            >
              <p>{{ error }}</p>
            </div>
          </div>
          <div class="col-12 col-sm-12">
            <div class="form-group validate">
              <div class="form-group validate">
                <div class="form-group validate">
                  <div class="controls">
                    <label><i class="far fa-user"></i>Name</label>
                    <input
                      formControlName="name"
                      type="name"
                      class="form-control"
                      required=""
                    />
                    <div class="help-block">
                      <span
                        class="text-danger"
                        style="font-size: 12px"
                        *ngIf="
                          RegisterForm.controls['name'].hasError('required') &&
                          (RegisterForm.controls['name'].dirty ||
                            RegisterForm.controls['name'].touched)
                        "
                        >This field is required</span
                      >
                    </div>
                  </div>
                </div>
                <div class="controls">
                  <label><i class="ti ti-mobile"></i>Phone Number</label>
                  <input
                    formControlName="mobile"
                    type="name"
                    class="form-control"
                    required=""
                  />
                  <div class="help-block">
                    <span
                      class="text-danger"
                      style="font-size: 12px"
                      *ngIf="
                        RegisterForm.controls['mobile'].hasError('required') &&
                        (RegisterForm.controls['mobile'].dirty ||
                          RegisterForm.controls['mobile'].touched)
                      "
                      >This field is required</span
                    >
                    <span
                      class="text-danger"
                      style="font-size: 12px"
                      *ngIf="
                        RegisterForm.controls['mobile'].hasError('pattern') &&
                        (RegisterForm.controls['mobile'].dirty ||
                          RegisterForm.controls['mobile'].touched)
                      "
                      >Please enter valid phone number</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group validate">
                <div class="controls">
                  <label><i class="far fa-envelope"></i>Email Address</label>
                  <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    required=""
                  />
                  <div class="help-block">
                    <span
                      class="text-danger"
                      style="font-size: 12px"
                      *ngIf="
                        RegisterForm.controls['email'].hasError('required') &&
                        (RegisterForm.controls['email'].dirty ||
                          RegisterForm.controls['email'].touched)
                      "
                      >This field is required</span
                    >
                    <span
                      class="text-danger"
                      style="font-size: 12px"
                      *ngIf="
                        RegisterForm.controls['email'].hasError('pattern') &&
                        (RegisterForm.controls['email'].dirty ||
                          RegisterForm.controls['email'].touched)
                      "
                      >Please enter a valid eamil address</span
                    >
                  </div>
                </div>
              </div>

              <div class="form-group validate position-relative">
                <div class="controls">
                  <label><i class="ti ti-lock"></i>Password</label>
                  <input
                    formControlName="password"
                    [type]="fieldTextType ? 'text' : 'password'"
                    class="form-control"
                    required=""
                  />
                  <i
                    class="fal d-h"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }"
                    (click)="toggleFieldTextType()"
                  ></i>
                  <div class="help-block">
                    <span
                      class="text-danger"
                      style="font-size: 12px"
                      *ngIf="
                        RegisterForm.controls['password'].hasError(
                          'required'
                        ) &&
                        (RegisterForm.controls['password'].dirty ||
                          RegisterForm.controls['password'].touched)
                      "
                      >This field is required</span
                    >
                    <span
                      class="text-danger"
                      style="font-size: 12px"
                      *ngIf="
                        RegisterForm.controls['password'].hasError('pattern') &&
                        (RegisterForm.controls['password'].dirty ||
                          RegisterForm.controls['password'].touched)
                      "
                      >Please enter a valid password</span
                    >
                    <span
                      class="text-danger"
                      style="font-size: 12px"
                      *ngIf="
                        RegisterForm.controls['password'].hasError(
                          'minlength'
                        ) &&
                        (RegisterForm.controls['password'].dirty ||
                          RegisterForm.controls['password'].touched)
                      "
                      >Password must be at least 8 characters</span
                    >
                  </div>
                </div>
              </div>
              <!-- <div class="form-group validate">
                          <div class="controls">
                              <label><i class="far fa-key"></i>Confirm Password</label>
                              <input type="password" class="form-control"  required="">
                              <div class="help-block"></div></div>
                      </div> -->
              <div class="form-group terms-block">
                <label for="html"
                  >By signing up you agree to our
                  <a
                    class="anchor-link"
                    href="javascript:void(0)"
                    (click)="getPolicy('terms-and-conditions')"
                    >Terms & Conditions.</a
                  >
                </label>
              </div>
            </div>
            <div
              class="
                col-12
                d-flex
                flex-sm-row flex-column
                justify-content-end
                mt-1
              "
            >
              <button
                type="submit"
                [disabled]="loading"
                class="btn btn-style-bg text-uppercase"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span
                >Continue
              </button>
            </div>
            <p class="link-account">
              Already have an account?
              <a routerLink="/login" class="anchor-link">Sign In</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
