.profile-details .user-icon {
    background: #1f1919;
    text-align: center;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.user-icon i {
    color: #fff;
    font-weight: 500;
    font-size: 31px;
    line-height: 65px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    margin: 0;
}

.dashboard-link li {
    background: #fff;
    margin-bottom: 2px;
    padding: 6px 12px;
    font-size: 13px;
    position: relative;
    font-weight: 400;
}

.dashboard-link {
    margin-top: 30px;
}

.profile-details ul {
    margin-bottom: 0;
}

.dashboard-link li a {
    color: #323232;
}

.profile-details li {
    list-style-type: none;
    line-height: 18px;
    font-size: 13px;
}

.profile-details label {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    color: #333333;
    text-transform: capitalize;
}

.dashboard-link img {
    width: 15px;
    margin-left: 4px;
    margin-top: -4px;
    margin-right: 9px;
}

.dashboard-link i.f-right {
    font-size: 9px;
    right: 11px;
    top: 14px;
    position: absolute;
}

.f-left {
    font-size: 15px;
    margin-right: 12px;
    color: #1f1919;
}

.mr-7 {
    margin-right: 6px !important;
}

.fa-rupee-sign {
    font-size: 11px;
    margin-right: 7px;
    color: #1f1919;
    border: 1px solid #000;
}

.dashboard-link .wd-tools-icon:before {
    font-size: 14px;
    content: "\f124";
    font-family: woodmart-font;
    font-style: normal;
}