<div class="dashboard-page bg-light-blueshade" *ngIf="isMobile">

    <app-desktop-header></app-desktop-header>
    <app-breadcrumb [headername]="headername"></app-breadcrumb>

    <section *ngIf="!loading && isMobile">
        <div class="container">
            <div class="row profile-details v-row" *ngFor="let customer of customerprofile">
                <div class="col-sm-3">
                    <!-- <div class="user-icon"><i class="icon-w wd-tools-icon"></i></div> -->
                    <div class="user-icon">
                        <!-- <img src="{{customer.avatar}}" alt=""> -->
                        <i _ngcontent-xav-c88="" class="icon-w wd-tools-icon"></i>
                    </div>
                </div>
                <div class="col-sm-9">
                    <ul>
                        <li *ngIf="customer.name">Name : <label>{{customer.name}}</label></li>
                        <li *ngIf="customer.email">Email : {{customer.email}}</li>
                        <li *ngIf="customer.mobile">Mobile No: {{customer.mobile}}</li>
                    </ul>
                    <button class=" btn-style-bg" [routerLink]="['/myaccount/manage-profile']"><i
                            class="ti ti-pencil-alt"></i> Edit </button>
                    <!-- <button class=" btn-style-bg m-l20" [routerLink]="['/auth/signin']"><i class="ti ti-pencil-alt"></i> Login </button> -->

                </div>
            </div>
            <div class="row  v-row">

                <div class="col-sm-12 p-a0">
                    <ul class="dashboard-link">
                        <li><a [routerLink]="['/myaccount/dashboard-list']"> <img src="assets/images/icons/dashboard.png"
                                    alt=""> Dashboard <i class="lni lni-chevron-right f-right"></i></a></li>
                        <li><a [routerLink]="['/myaccount/myorders']"> <img src="assets/images/icons/orders.png"
                                    alt="">Orders <i class="lni lni-chevron-right f-right"></i></a></li>
                        <li><a [routerLink]="['/wishlist']"> <img src="assets/images/icons/wishlist.png" alt="">Wishlist
                                <i class="lni lni-chevron-right f-right"></i></a></li>
                        <li><a [routerLink]="['/myaccount/addresses']"> <img src="assets/images/icons/location.png"
                                    alt=""> Addresses <i class="lni lni-chevron-right f-right"></i></a></li>
                        <!-- <li><a [routerLink]="['/myaccount/conversations']"> <img src="assets/images/icons/dashb-15.png"
                                    alt="">Conversations
                                <i class="lni lni-chevron-right f-right"></i></a></li> -->
                        <li><a [routerLink]="['/myaccount/manage-profile']"> <img src="assets/images/icons/account.png"
                                    alt="" style="width: 15px;
                                    margin-left: 4px;
                                    margin-top: -4px;">Profile <i class="lni lni-chevron-right f-right"></i></a></li>
                        <li><a [routerLink]="['/myaccount/reviews']"> <img src="assets/images/icons/reviews1.png"
                                    alt="">Reviews <i class="lni lni-chevron-right f-right"></i></a></li>

                                    <li><a [routerLink]="['/myaccount/myorders']"> <img src="assets/images/icons/orders.png"
                                        alt="">Payments <i class="lni lni-chevron-right f-right"></i></a></li>
                        <li><a [routerLink]="['/support']"> <img src="assets/images/icons/help.png" alt="">Support
                                <i class="lni lni-chevron-right f-right"></i></a></li>
                                <li><a routerLinkActive="active" [routerLink]="['/myaccount/notifications']">
                                    <img src="assets/images/icons/notifications.png"
                                    alt="" style="">Notifications
                                    <i class="lni lni-chevron-right f-right"></i> </a></li>
                    </ul>

                </div>
            </div>
            <button class="btn btn-style-bg display-block text-uppercase" (click)="logout()">Log Out</button>

        </div>
    </section>


    <!-- Skeleton-Loader -->
    <section *ngIf="loading">
        <div class="container">
            <div class="row profile-details my-2 v-row">
                <div class="col-sm-3">
                    <ngx-skeleton-loader appearance="circle" [theme]="{ width: '70px', height: '70px' }">
                    </ngx-skeleton-loader>
                </div>
                <div class="col-sm-9">
                    <ul>
                        <li>
                            <ngx-skeleton-loader [theme]="{ width: '110px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '5px'
                            }"></ngx-skeleton-loader>
                        </li>
                        <li>
                            <ngx-skeleton-loader [theme]="{ width: '200px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '5px'
                            }"></ngx-skeleton-loader>
                        </li>
                    </ul>
                    <ngx-skeleton-loader [theme]="{ width: '70px',
                        'border-radius': '.25rem',
                        height: '25px',
                        'margin-bottom': '5px'
                        }">
                    </ngx-skeleton-loader>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-12 p-a0">
                    <ul>
                        <li class="bg-white border-bottom px-3 py-2" *ngFor="let line of [1,2,3,4,5,6,7,8]">
                            <a>
                                <ngx-skeleton-loader appearance="circle"
                                    [theme]="{ width: '25px', height: '25px', 'border-radius': '2px', margin: '0' }">
                                </ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{ width: '110px',
                                    'border-radius': '0',
                                    height: '8px',
                                    'margin-left': '10px'
                                    }">
                                </ngx-skeleton-loader>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <app-footer *ngIf="isMobile"></app-footer>
</div>
<div *ngIf="isDesktop">
    <app-dashboard-list></app-dashboard-list>
</div>
