.sticky-nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: transparent;
    border: 0;
    transition: all 0.5s ease;
    background: #fff;
    background: #fff;
    box-shadow: 0 0 3px rgb(60 72 88 / 15%);
}