<div class="modal-body" class="video-popup-body" *ngIf="!loading">
  <div class="modal-body">
    <div class="row v-row">
      <div class="col-lg-10 col-xs-8 col-sm-8">
        <h3 class="title-info">Size Chart</h3>
      </div>
      <div class="col-lg-2 col-xs-4 col-sm-4 float-right text-right pr-0">
        <button
          type="button"
          class="modal-close mr-3"
          aria-label="Close"
          (click)="close()"
        >
          <i class="fal fa-times"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <table class="">
          <tbody>
            <tr>
              <th>SIZE</th>
              <td *ngFor="let size of sizes">{{ size }}</td>
            </tr>
            <tr *ngFor="let column of columns; let i = index">
              <th>{{ column }}</th>
              <td *ngFor="let value of sizeChartData[i]">
                {{ value }}
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <p *ngIf="notes != null">
          <span>Note* : </span>
          {{ notes }}
        </p>
        <div class="row">
          <div
            class="col-lg-4 col-md-4 col-xs-4 col-sm-4"
            *ngFor="let image of sizeChartImages"
          >
            <img
              [src]="serverSizeChartUrl + '/' + image"
              (error)="onImgError($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
