thead tr {
    background: #e8eaf6;
    height: 38px;
}

 tr td:first-child,  tr th:first-child {
 
}


 tr td,  tr th {
    padding: 4px 8px 4px 12px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

 td,  th {
    border: 1px solid #e8eaf6;
}


tr td:nth-child(even) {
    background: #fafafa;
}
thead {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    line-height: 1.5rem;
}
tr {
    border-bottom: 1px solid #E0E0E0;
}
table {  
    border-collapse: separate;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 6px;
    display: inline-table;
    overflow: scroll;
    overflow-y: hidden;
    margin-bottom: 10px;
    table-layout: fixed;

 }
td { border: 1px solid #e8eaf6; }

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:last-child td:first-child { border-top-right-radius: 10px; }
// tr:last-child td:last-child { border-bottom-right-radius: 10px; }
tr:first-child th:first-child { border-top-left-radius: 10px; }
tr:last-child th:first-child {     border-bottom-left-radius: 10px; }
table thead th {
    padding: 3px 8px !important;
    background-color: #f2f2f2;
    text-align: center;
}
tr th:first-child
{
    background: #e8eaf6;
}
tr th
{
    
    // font-size: 14px;
}
.col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 60.666667%;
}
li
{
    font-size: 12px;
    line-height: 19px;
}
p span
{
    color: red;
    font-weight: 600;
}
p
{
    font-size: 12px;
    line-height: 19px;
    margin: 0;
}

ul
{
    padding: 2px 12px;
}
li span
{
    font-weight: 600;
}
h3.title-info {
    font-size: 1.1vw;
    margin-bottom: 7px;
    font-weight: 600;
    text-transform: CAPITALIZE;
}
tbody
{
  

}
table::-webkit-scrollbar {
    width: 4px;
    height: 3px;
  }
  
  /* Track */
  table::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  table::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  
  /* Handle on hover */
  table::-webkit-scrollbar-thumb:hover {
    background: #e8eaf6;
  }
  
  @media only screen and (min-width: 280px) and (max-width: 767px) 
  {
    tbody {
        display: block;
        overflow: hidden;
        min-width: 279%;
    }
  }