<app-desktop-header></app-desktop-header>
<app-breadcrumb [headername]="this.policytitle"></app-breadcrumb>

<div id="terms-page">
   

    <div class="m-none">
        <div class="page-head text-center position-relative">
            <div class="parallax-inner position-absolute ">
            </div>
            <div class="container position-relative ">
                <h1 >{{policies?.display_name}}</h1>
            </div>
        </div>
    </div>

    <div class="mb-5 policy_page">
        <div class="container-indent">
            <div class="container">
                <div class="container-indent">
                    <div class="container">
                        <div class="policy-listing">
                            <div class="row">
                                <div class="col-sm-12 col-md-2"></div>
                                <div class="col-sm-12 col-md-8">
                                    <div class="policy-box" [innerHTML]="policies?.description">
                                               </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>