#policy_page > .container-indent:not(.nomargin):not([class^="tt-offset"]) {
    margin-top: 52px;
}
.tt-title-subpages:not(.text-left):not(.text-right) {
    text-align: center;
}
.tt-title-subpages:not(.noborder) {
    border-bottom: 1px solid #e9e7e7;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.003em;
    font-weight: 500;
    padding: 0 0 50px 0;
    margin-bottom: 46px;
    margin-top: -10px;
}
.tt-post-single .policy-title, .tt-block-title .policy-title, .tt-title-subpages {
    text-transform: uppercase;
}
.policy-listing {
    margin-top: -26px;
}
.policy-listing .policy-box {
    margin-top: 47px;
    letter-spacing: 0.0063em;
}
@media (min-width: 790px) {
    .policy-listing .policy-box {
        padding-right: 35px;
    }
}
.policy-listing .policy-box .policy-title {
    color: #191919;
}
.policy-listing .policy-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding-bottom: 15px;
}
.policy-listing .policy-box .policy-title a {
    color: #191919;
}

.policy-listing .policy-box .policy-title a:hover {
    color: #eb4b64;
}

.page-head {
    padding: 50px 0;
    color: #ededed;
}
.oh {
    overflow: hidden;
}
.pr {
    position: relative;
}
.tc {
    text-align: center;
}

.page-head .parallax-inner {
    background: #f0f4f7;
}

.b__0 {
    bottom: 0;
}
.t__0 {
    top: 0;
}
.r__0 {
    right: 0;
}
.l__0 {
    left: 0;
}
.pa {
    position: absolute;
}
.z_100 {
    z-index: 100;
}
.page-head h1 {
    font-size: 25px;
    line-height: 21px;
    font-weight: 500;

}
.bghp:hover, .cw {
    color: #fff;
}




