


/**/
@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        padding: 30px 15px 60px;
    }
    .UserMenu--container__zoaCJ {
        padding: 0;
    }
  }
  
  ul {
    list-style-type: none;
  }
  .container {
    // background-color: #faf9f8;
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    width: 100%;
  }
  
  .profile-Card {
    background: #f5e6e0;
    padding: 16px;
    margin-bottom: 24px;
  }
  
  .profile-Card button {
    background-color: transparent;
    border: 1px solid #222;
    color: #222;
    letter-spacing: 1px;
    width: 100%;
    font-size: 13px;
    min-height: 48px;
    padding: 12px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .menuItem a {
    color: #222;
    display: block;
    font-size: 13px;
    padding: 9px 21px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
  }
  .menuItem a .arrowRight {
    height: 16px;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
  }
  
  .container main {
    width: calc(100% - 325px);
    margin-left: auto;
  }
  .font-16 {
    font-size: 16px;
  }
  .font-13 {
    font-size: 13px;
  }
  .font-11 {
    font-size: 11px;
  }
  .font-12 {
    font-size: 12px;
  }
  .line-16 {
    line-height: 16px;
  }
  
  .breadcrumbs {
    display: block;
    font-size: 1.1rem;
  }
  .breadcrumbs ol {
    list-style: none;
    display: inline-block;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
  }
  ol {
    max-width: 540px;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
  .breadcrumbs ol li>a {
    text-decoration: none;
  }
  .BodyText-module--small__2SSIP {
    font-size: 1.1rem;
    line-height: 1.45;
  }
  .BodyText-module--general__2yKZb {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .breadcrumbs ol li:not(:last-of-type)::after {
    content: " / ";
    position: relative;
    top: 2px;
  }
  


  li.menuItem {
   
  }
  li.menuItem a.active, li.menuItem:focus {
    background: #f0f4f7;
    border-radius: 0;
    border-left: 4px solid #e75e83;
  }

/**/
.marginB40 {
  margin-bottom: 40px;
}

.myprofileheader {
  background: #e75e83a1;
  color: #fff;
  padding: 19px 10px;
  min-height: 150px;
  position: relative;
  border-radius: 3px;
}
.btnprofilepan:active, .btnprofilepan:hover, .btnprofilepan:visited {
  color: #fff;
}
.btnprofilepan {
  position: absolute;
  right: 20px;
  color: #fff;
  opacity: .8;
}
.profileimage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  float: left;
  text-align: center;
  line-height: 50px;
}
.profileimage i
{
  color:#000;
}
.profileimage img {
  width: 40px;
  margin-top: 5px;
  border-radius: 50%;
  height: 40px;
}
.profiledetail {
  float: left;
  width: 70%;
  margin-left: 10px;
  color: #fff;
  opacity: .8;
}
.myprofile-acc .panel-group .panel-body p, .myprofile-acc .panel-group .panel-heading .panel-title, .myprofile-wpr .linkComponent, .profiledetail {
  font-size: 13px;
}
.profiledetail p {
  margin: 0 0 0px;
  font-size: 12px;
  padding: 0;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.logout-btn i
{
  font-size: 13px;
  margin-right: 6px;
}