<div *ngIf="!loading">
    <div class="myprofileheader marginB40"> <a secure-login="" href="/my-account/update-profile#my-acc-section" class="btnprofilepan"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <div class="profileimage">
            <a secure-login="" href="/my-account/update-profile#my-acc-section">
                <i _ngcontent-xav-c88="" class="icon-w wd-tools-icon"></i></a>
        </div>
        <div class="profiledetail" *ngFor="let customer of customerprofile">
            <p class="text-white"> Name: {{customer.name}}</p>
            <p class="text-white"> Email: {{customer.email}}</p>
            <p class="text-white"> Mobile: {{customer.mobile}}</p>
        </div>
        <div class="profilenav"> 
            <button type="button" routerLinkActive="active" [routerLink]="['/myaccount/manage-profile']"><span>Edit Profile</span></button>        
        </div>
    </div>
    <!-- <div class="profile-Card">
        <p class="font-13">abhishekmiraki@gmail.com</p>
        <p class="font-11 line-16">
            You’re 200 points away from getting your next bonus voucher and 800 points away to
            become a Plus member. Vouchers have a 30-day delay.</p>
        <button type="button"><span>Edit Profile</span></button>
    </div> -->
    <div class="bg-white borderradius-10">
        <h4>
            <span class="font-16 font-weight-600 p-l20">   <a [routerLink]="['/myaccount/dashboard-list']">Dashboard</a></span>
        </h4>
        <ul class="">
            <li class="menuItem">
                <a  routerLinkActive="active" [routerLink]="['/myaccount/myorders']">
                    <span>Orders</span>
                   
                </a>
            </li>
            <li class="menuItem">
                <a  routerLinkActive="active" [routerLink]="['/myaccount/mypayments']">
                    <span>Payments</span>
                </a>
            </li>
            <li class="menuItem">
                <a routerLinkActive="active" [routerLink]="['/wishlist']">
                    <span>Wishlist</span>
                </a>
            </li>
            <li class="menuItem">
                <a routerLinkActive="active" [routerLink]="['/myaccount/addresses']">
                    <span>Address</span>
                </a>
            </li>
            <!-- <li class="menuItem">
                <a routerLinkActive="active" [routerLink]="['/myaccount/conversations']">
                    <span>Conversations</span>
                </a>
            </li> -->
               <li class="menuItem">
                <a routerLinkActive="active" [routerLink]="['/myaccount/changepassword']">
                    <span>Change Password</span>
                </a>
            </li>
            <li class="menuItem">
                <a routerLinkActive="active" [routerLink]="['/myaccount/manage-profile']">
                    <span>Profile</span>
                </a>
            </li>
            <li class="menuItem">
                <a  routerLinkActive="active" [routerLink]="['/myaccount/reviews']">
                    <span>Reviews</span>
                </a>
            </li>
          
        
            <li class="menuItem">
                <a routerLinkActive="active" [routerLink]="['/myaccount/notifications']">
                    <span>Notifications</span>
                </a>
            </li>
            <h4>
                <span class="font-16 font-weight-600 p-l20">NEED HELP?</span>
            </h4>
    
            <li class="menuItem">
                <a routerLinkActive="active" [routerLink]="['/support']">
                    <span>Support</span>
                </a>
            </li>
           
        </ul>

      
         
        
    </div>
    <button class="btn-style-bg btn-block logout-btn">
        <span (click)="logout()"><i class="far fa-sign-out"></i> Sign out</span>
    </button>
</div>


<!-- Skeleton-Loader -->
<div *ngIf="loading">
    <div class="myprofileheader marginB40"> <a class="btnprofilepan"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <div class="profileimage">
            <ngx-skeleton-loader appearance="circle" [theme]="{height: '50px', width: '50px', margin: 0}"></ngx-skeleton-loader>
        </div>
        <div class="profiledetail">
            <p class="text-white"> <ngx-skeleton-loader count="3" class="d-flex flex-column" [theme]="{height: '15px', margin: 0, 'margin-bottom': '5px'}"></ngx-skeleton-loader></p>
        </div>
        <div class="profilenav"> 
            <ngx-skeleton-loader appearance="circle" [theme]="{'border-radius':'2px', height: '30px', width: '90%', 'margin-bottom': 0, 'margin-top': '10px'}"></ngx-skeleton-loader>
        </div>
    </div>
    <div class="bg-white borderradius-10">
        <h4>
            <ngx-skeleton-loader [theme]="{height: '15px', width: '100px', margin: 0, 'margin-bottom': '5px', 'margin-left': '15px', 'margin-top': '10px'}"></ngx-skeleton-loader>
        </h4>
        <ul class="">
            <li class="menuItem" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
                <a  routerLinkActive="active" [routerLink]="['/myaccount/myorders']">
                    <ngx-skeleton-loader [theme]="{height: '15px', width: '100px', margin: 0}"></ngx-skeleton-loader>                   
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Skeleton-Loader -->
