@media only screen and (min-width: 280px)  and (max-width: 767px) 
 {

   p
 {
       
           font-size: 4vw!important;
     
    }
    .live-chat-intro
 .status
 {
       
    font-size: 4vw!important;
    }
}


input:focus {
    outline: none;
}

p {
   font-size: 1.1vw;
}

.page-content-wrapper {
    position: relative;
    z-index: 1;
}

.live-chat-intro {
    position: relative;
    z-index: 1;
    background-color: #f490a0;
    padding: 2rem 0;
    text-align: center;
    border-radius: 0 0 3rem 3rem;
}

.live-chat-intro p {
    color: #ffffff;
    margin-bottom: 0.5rem;
}
.live-chat-intro img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto .5rem;
    display: block;
}
.live-chat-intro .status.online {
    padding-left: 15px;
}

.live-chat-intro .status {
    position: relative;
    z-index: 1;
    color: #ffffff;
   font-size: 1.1vw;
    display: inline-block;
}
.live-chat-intro .status.online::after {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #00b894;
    border-radius: 50%;
    content: "";
    margin-top: -5px;
    top: 50%;
    left: 0;
    z-index: 10;
}
.agent-message-content {
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;
}
.agent-message-content .agent-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    max-width: 30px;
    width: 30px;
}
.agent-message-content .agent-thumbnail img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 3px 0 rgba(15, 15, 15, 0.175);
    box-shadow: 0 1px 3px 0 rgba(15, 15, 15, 0.175);
    background-color: #ffffff;
    padding: 2px;
}
.agent-message-content .agent-message-text {
    position: relative;
    z-index: 1;
}
.agent-message-content .agent-message-text p {
    display: inline-block;
    margin-bottom: 0;
    background-color: #ffffff;
    padding: .75rem 1rem .65rem;
    border-radius: 1rem 1rem 1rem 0.25rem;
}
.agent-message-content .agent-message-text span {
    font-size: 12px;
    color: #747794;
    margin-left: 1rem;
    margin-top: 0.25rem;
    display: block;
}
.user-message-content {
    position: relative;
    z-index: 1;
    text-align: right;
    margin-bottom: 1rem;
}
.user-message-content .user-message-text {
    padding-left: 3rem;
}
.user-message-content .user-message-text p {
    display: inline-block;
    margin-bottom: 0;
    padding: .75rem 1rem .65rem;
    background-color: #f490a0;
    color: #ffffff;
    border-radius: 1rem 1rem 0.25rem 1rem;
}
.user-message-content .user-message-text span {
    font-size: 12px;
    display: block;
    color: #747794;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
}
.type-text-form {
    // position: fixed;
    width: 100%;
    height: 55px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99999;
}
.type-text-form .file-upload {
    position: absolute;
    width: 40px;
    height: 55px;
    top: 0;
    left: 0;
    z-index: 20;
}
.type-text-form .file-upload input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    opacity: 0;
}
.type-text-form .file-upload span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    z-index: 50;
    text-align: center;
    line-height: 55px;
}
.type-text-form .form-control {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    height: 55px;
    border-color: transparent;
    color: #747794;
    font-size: 13px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 40px;
}
.type-text-form button {
    position: absolute;
    width: 59px;
    height: 55px;
    bottom: 0;
    right: 0;
    z-index: 1;
    border: 0;
    background-color: #ffffff;
    font-size: 1rem;
    color: #020310;
    outline: none !important;
}


@media (min-width: 767px) {
    .agent-message-content {
        margin-bottom: 0;
    }
    .user-message-content {
        margin-bottom: 0;
    }
    .live-chat-intro {
        padding: 7px 0;
        border-radius: 4px 4px 0 0;
    }
    .live-chat-intro img {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .type-text-form {
        position: fixed;
        width: 100%;
        height: 55px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        z-index: 99999;
    }
}