<div class="dashboard-page bg-light-blueshade">
    <app-desktop-header></app-desktop-header>
    <app-breadcrumb [headername]="headername"></app-breadcrumb>

    <section [ngClass]="{'py-0':isMobile}">
        <div class="container">
            <div class="row">
                <div class="col-3 m-none">
                    <app-desktop-side-menu></app-desktop-side-menu>
                </div>
                <div [ngClass]="{'px-0':isMobile}" class="col-md-9 col-sm-12 col-xs-12">
                    <div class="bg-white deskdash-breadcrumbs m-none  mb-3">
                        <h4 class="font-16 font-weight-600">Chat</h4>
                      </div>
                    <section class="py-0 my-1 shad position-relative bg-white">
                        <div class="page-content-wrapper">
                          
                            <div class="live-chat-intro mb-3" [ngClass]="{'d-inline-flex px-3 w-100':isDesktop}" *ngFor="let seller of sellerdetails">                             
                                <img src="{{seller.seller_images}}" alt="">
                                <!-- <div class="avatar-name rounded-circle "><span class="fs-0 text-warning">{{seller.firstletter}}</span></div> -->
                                <span class="text-white pt-2 ml-2">{{seller.name}}</span>                      
                            </div>
                        
                            <div class="support-wrapper py-3">
                                <div class="container">
                                    <div class="live-chat-wrapper" *ngFor="let message of Allmessages">
                                        <div
                                        *ngIf="
                                          message.from_user !== user_id;
                                          then incoming_msg;
                                          else outgoing_msg
                                        "
                                      ></div>
                                        <!-- Agent Message Content-->
                                        <ng-template #incoming_msg>
                                            <div class="agent-message-content d-flex align-items-center">
                                                <div class="agent-thumbnail mr-2"><img src="{{message.seller_images}}"
                                                        alt=""></div>
                                                <div class="agent-message-text">
                                                    <p>{{ message.message }} </p><span>{{ message.date }}</span>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <!-- User Message Content-->
                                        <ng-template #outgoing_msg>
                                            <div class="user-message-content">
                                                <div class="user-message-text">
                                                    <p>{{ message.message }}</p><span>{{ message.date }}</span>
                                                </div>
                                            </div>
                                    </ng-template>                   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="type-text-form border">
                            <form  [formGroup]="chatform" (ngSubmit)="onSubmit()">
                                <!-- <div class="form-group file-upload mb-0">
                                    <input type="file"><span class="lni lni-cloud-upload"></span> 
                                </div> -->
                                <textarea class="form-control" name="message" formControlName="message" cols="30" rows="10"
                                    placeholder="Type your message ..."></textarea>
                                <button class="border" type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <app-footer class="m-none"></app-footer>
</div>