.cart-slider p {
  font-size: 13px;
  line-height: 18px;
  background: #e75e83;
  color: #fff;
  margin-top: 10px;
  padding: 6px 6px;
  margin-bottom: 0;
}
.cart-slider .Bold {
  display: inline-block;
  margin-left: 1px;
  color: #e75e83;
  font-weight: 600;
}

.css-1ezbckq {
  fill: #fff;
}

.title-info {
  font-size: 14px;
  margin-bottom: 11px;
}
.payment-options .mat-expansion-panel-header {
  height: 37px !important;
  border-bottom: 1px solid #cacfe7;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.payment-options .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}
.payment-options .mat-expansion-panel-spacing {
  margin: 8px 0;
}
.payment-options .mat-expansion-panel-header-description {
  display: contents;
  flex-grow: 1;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 16px;
  font-weight: 600;
}
.payment-options .mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 16px;
  font-weight: 600;
}
.card-form {
}
.card-form label {
  margin: 0;
  font-size: 11px;
  color: #535766;
  display: block;
}
.card-form {
  padding: 12px;
}
.card-form .form-control {
  background: #f0f4f7;
  border: none;
  font-size: 12px;
}

.sprite-card-default {
  width: 38px;
  height: 20px;
  background-position: -357px -26px;

  background-image: url(https://constant.myntassets.com/checkout/assets/img/paymentSprite-V2-18-09-2020.png);
  overflow: hidden;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 733px 75px;
}

p.text {
  margin: 0;
  font-size: 10px;
  line-height: 12px;
}

.card-form .savedcard-check label {
  display: inline-flex;
}
.savedcard-check input {
  margin-right: 11px;
}
.saved-card label {
  font-size: 11px;
  margin: 0;
  font-weight: 600;
}
.label-saved input {
  margin-right: 7px;
}
.saved-card li span {
  display: block;
  padding-left: 23px;
}
.sprite-card-visa {
  width: 38px;
  height: 17px;
  background-position: -357px -26px;
  background-position: -4px -26px;
  background-image: url(https://constant.myntassets.com/checkout/assets/img/paymentSprite-V2-18-09-2020.png);
  overflow: hidden;
  background-repeat: no-repeat;
  display: inline-block;
  /* background-size: 1969px 75px; */
  background-size: 733px 75px;
}
.card-base-cvv {
  width: 60px;
  font-size: 9px;
  height: 27px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #d4d5d9;
}
.saved-card {
  padding: 2px 10px 2px 10px;
  background: #f0f4f7;
  margin-bottom: 19px;
  margin: 20px;
  border-radius: 9px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
}
.saved-card p {
  display: block;
  padding: 0;
  font-size: 12px;
  margin: 0;
  line-height: 13px;
}
.cashondelivery-strip p {
  font-size: 12px;
}
.cashondelivery-strip input {
  margin-right: 7px;
}

.cashondelivery-strip label {
  margin: 0;
  font-size: 11px;
  color: #535766;
  display: inline-flex;
}
.saved-card input {
  margin-right: 11px;
}
.payment-footer {
  transition-duration: 500ms;
  background-color: #ffffff;
  width: 100%;
  /* height: 14px; */
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  right: 0;
  z-index: 1;
  border: none;
  border-top: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0px #9ccae8;
}

.payment-footer .btn-style-bg {
  margin-top: 9px;
  margin-bottom: 9px;
}
.payment-bottom button {
  width: 100%;
}

.payment-bottom span {
  margin: 0;
  text-align: left;
  line-height: 7px;
  font-size: 14px;
  margin-top: 2px;
}
.payment-bottom p {
  display: block;
  font-size: 14px;
  color: #eb6083;
  line-height: 8px;
  padding: 0;
}

.steps-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.steps-list li {
  display: inline-block;
  position: relative;
  padding-left: 0;
  font-size: 13px;
  border: none !important;
  margin: 0 !important;
}
.label-free span {
  font-size: 10px !important;
  border: none;
  padding: 6px 8px !important;
  background-color: #e75e83 !important;
  color: #fff !important;
  border-radius: 0;
  letter-spacing: 0.9px;
  font-weight: 600 !important;
  text-transform: uppercase;
}
.cart-leftside {
  border-right: 1px solid #ccc;
}
.label-free {
  background: #e3e9f5;
  margin-top: 11px;
  font-size: 11px;
  width: 100%;
  padding: 0px 0px 0px !important;
}

.label-free p {
  display: unset;
  margin: 0;
  font-size: 11px;
  padding-left: 17px;
}

.steps-list li:first-child,
.steps-list li:nth-child(2) {
  color: #e75e83;
}
.steps-list li::after {
  content: "........";
  position: relative;
  bottom: 4px;
  left: 0px;
  width: 100%;
  height: 100%;
  right: 0;
  margin: 0 auto;
  padding: 0px 12px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.steps-list li:last-child::after {
  content: none;
}
.cart-block {
  margin-bottom: 10px;
}
.orderSummary {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 1% 4%;
  padding: 15px 15px 0px;
  margin-bottom: 7px;
  position: relative;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
  display: inline-table;
}
.addtowishlistbtn {
  display: block;
  text-decoration: none;
  background-color: #fff;
  color: inherit;
  padding: 12px;
  position: relative;
  font-weight: 600;
  padding: 3px 12px 3px 16px;
  text-align: center;
  margin-top: 16px;
  width: 100%;
  font-size: 12px;
  color: #696b79;
  border: 1px solid #eaeaec;
  border-radius: 4px;
}
.orderSummary button {
  width: 100%;
}
.shopping-block {
  background-color: #fff;
  border-radius: 3px;
  margin: 1% 0 3% 0;
  padding: 15px 0px 0px;
  position: relative;
  border: 1px solid #ccc;
  border: 1px solid #cac7f6 !important;
  box-shadow: 0 1px 3px 0 #9ccae8;
}
.cart-button li:last-child {
  border-right: 0;
}
.product-price {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.shopping-block p {
  font-size: 9px;
  width: 100%;
  color: #e75d81;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
  line-height: 15px;
  margin-top: 5px;
  padding: 0;
}
.delivery-date {
  color: #777676;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  right: 14px;
  bottom: 0;
}
.shopping-block h4 {
  font-size: 11px;
  color: #261e1e;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
  font-weight: 500;
}
.shopping-block label {
  font-size: 12px;
  margin: 0;
  color: #939393;
}
.cart-page {
  background: #fff;
}
.shopping-block .product-price li:first-child {
  color: #333;
  font-weight: 700;
  text-align: center;
}
.shopping-block .product-price li {
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 7px;
}
.shopping-block .product-price li:nth-child(2) {
  opacity: 0.4;
  color: #282c3f;
  text-decoration: line-through;
  font-size: 11px;
}
.shopping-block .product-price li:last-child {
  color: #e75d81;
  font-weight: 600;
  font-size: 10px;
  white-space: nowrap;
}
.product-value li {
  list-style-type: none;
  display: inline-flex;
  font-size: 12px;
  margin-right: 7px;
  justify-content: center;
  align-items: center;
}
.product-value {
  margin-bottom: 0;
}
.product-value li span {
  color: #777676;
  font-size: 11px;
  font-weight: 600;
}
.cart-button li {
  list-style-type: none;
  display: inline-block;
  font-weight: 600;
  color: #696b79;
  padding: 2px 9px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
}

.cart-button li:first-child {
  width: auto;
  text-align: center;
  color: #e75e83;
  border-radius: 3px;
  height: 16%;
  text-transform: uppercase;
}

.cart-button li:nth-child(2) {
  width: auto;
  text-transform: uppercase;
}

.cart-button li:last-child {
  width: auto;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  float: right;
}
.cart-button li:last-child span {
  color: #e75e83;
}
.cart-button {
  width: 100%;
  padding: 3px 5px 3px 5px;
  margin: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid #eaeaec;
  margin-top: 10px;
  background: #f2f5fa;
}
.cart-button i {
  font-size: 12px;
  margin-right: 4px;
}

.orderSummary span {
  margin: auto;
  color: #212529;
  font-size: 12px;
  // margin-bottom: 12px;
  line-height: 16px;
}
.title-info {
  font-size: 16px;
  margin-bottom: 11px;
  font-weight: 600;
}
.orderSummary li {
  list-style-type: none;
  position: relative;
}
.orderSummary li label {
  float: right;
  position: absolute;
  right: 0;
  font-size: 13px;
}
.orderSummary li:first-child {
  font-size: 13px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.orderSummary li:last-child {
  font-size: 13px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.orderSummary li:last-child label,
.orderSummary li:last-child span {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.dm-none {
  display: none;
}
.discount-price label,
.delivery label {
  color: #e75e83;
}
.orderSummary ul {
  margin-bottom: 0;
}

// form.form-block label {
//     font-size: 12px;
//     margin-bottom: 4px;
//     color: #696a6f;
//     background: #fff;
//     left: 11px;
//     top: -13px;
//     padding: 1px 1px;
// }
// form.form-block .form-control {
//     border: 1px solid #cacfe7;
//     color: #3b4781;
// }
// .form-block .form-control {
//     display: block;
//     width: 100%;
//     height: 32px;
//     padding: 0.75rem 1rem;
//     font-size: 13px;
//     line-height: 1.25;
//     color: #4e5154;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid #babfc7;
//     border-radius: 3px;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }
// .form-block .form-control:focus {
//     color: #495057;
//     background-color: #fff!important;
//     border-color: none;
//     outline: 0;
//     box-shadow: none;
// }
// input:-internal-autofill-selected
// {
//     background-color: #fff!important;
// }
// .form-block .form-group
// {
//     margin-bottom: 8px;
//     position: relative;
// }
// .form-block i
// {
//     margin-right: 7px;
//     display:none;
// }
//  form.form-block
// {
//     width: 100%;
//     padding: 0px 34px 0px;
//     text-align: center;
// }

// .form-block h2
// {
//        font-size: 20px;
//     text-transform: capitalize;
//     font-weight: 600;
//     text-align: center;
//     margin: 0;
// }
// .form-block p {
//     padding: 0;
//     line-height: 20px;
//     text-align: center;
//     font-size: 14px;
//     margin-top: 16px;
//     text-transform: capitalize;
// }
// .anchor-link
// {
//     color: #e75e83 ;
//     font-weight: 600;
// }
// .link-account
// {
//     margin-top: 5px;
//     font-size: 12px!important;

// }

// .ver-block li
// {
//     width: 11%;
//     height: 33px;
//     margin-right: 23px;
//     list-style-type: none;
//     display: inline-block;
// }
form.form-block label {
  font-size: 12px;
  margin-bottom: 4px;
  color: #696a6f;
  background: #fff;
  left: 11px;
  top: -13px;
  padding: 1px 1px;
}
form.form-block .form-control {
  border: 1px solid #cacfe7;
  color: #3b4781;
  border-radius: 3px 0 0 3px;
}
.form-block .form-control {
  display: block;
  width: 100%;
  height: 32px;
  text-align: center;
  padding: 3px !important;
  font-size: 13px;
  line-height: 1.25;
  color: #4e5154;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #babfc7;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-block .form-control:focus {
  color: #495057;
  background-color: #fff !important;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
input:-internal-autofill-selected {
  background-color: #fff !important;
}
.form-block .form-group {
  margin-bottom: 8px;
  position: relative;
}
.form-block i {
}

.form-block h2 {
  font-size: 13px!important;
  text-transform: capitalize;
  font-weight: 500!important;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.form-block p {
  padding: 0;
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.ver-block li {
  width: 11%;
  height: 33px;
  margin-right: 16px;
  list-style-type: none;
  display: inline-block;
}


.form-radio .form-help {
  position: absolute;
  width: 100%;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}



.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 1.5rem;
  text-align: left;
  color: #333;
  display: block;
  font-size: 12px;
}
.form-radio input {
  width: auto;
  opacity: 0.00000001;
}

.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #999;
}
.radio .helper::before, .radio .helper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #f490a0;
  border-color: #f490a0;
}
.radio label:hover .helper {
  color: #f490a0;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #f490a0;
}
.radio + .radio {
  margin-top: 1rem;
}

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}

.anchor-link {
  color: #e75d81;
  font-weight: bold;
}

.cod-more-info
{
  background: transparent;
  border: none;
  color: #e75e83 !important;
  float: right;
  padding: 0px 12px;
}
.cod-div
{
  vertical-align: middle;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .payment-options {
  
  
    padding-right: 14px!important;
}
  .p-none {
    display: none;
  }
  .online-img
{
  height: 12px!important;
  padding-left: 8px;
}
.cod-img
{
  height: 12px!important;
  padding-left: 8px;
}
.orderSummary {
 
  margin: 1% 4% 4% 4%;
}
}
.cod-img
{
  height: 16px;
}
.online-img
{
  height: 15px;
}

.payment-options
{
 
  display: inline-table;
  margin-top: 3%;
  padding-right: 35px;

}
.payments-block
{
  padding: 0px 0px;
  box-shadow: 0 1px 3px 0 #9ccae8;
  background: #fff;
  display: inline-table;
  width: 100%;
  margin-bottom: 20px;
}
h2.payment-title {
  height: 37px !important;
  border-bottom: 1px solid #cacfe7;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #e75e83 !important;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding-left: 17px;
}

.cod-v-row 
{
  padding:3px 10px;
}

.captcha-block
{
  background-size: contain !important;
  height: 39px;
  /* background-position: center center !important; */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* margin: 0 auto; */
  margin-bottom: 10px;
  display: flex;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.captcha-block span
{
  margin:0 10px;
}
.captcha-div 
{
  position: relative;
  display: flex;
  margin: 0 auto;
  vertical-align: middle;
  justify-content: center;
}
.form-fill
{
  display: inline-flex;
}
.captcha-div  a.captcha-refresh
{
  // position: absolute;
  top: 0;
  right: -25px;
  background: #6e6f6f !important;
  color: #fff;
  border-radius: 2px;
  padding: 7.5px 9px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  vertical-align: middle;
}
.form-fill button
{
  margin-top: 0;
  border-radius: 0;
  height: 32px;
  border-radius: 0 3px 3px 0;
}

.link-account
{
  text-align: left;
}
.captcha-div  p{


display: table;
    margin: 0;
}


.cod-popup p
{
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.cod-popup h2
{
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
}
.cod-popup
{
  padding: 9px 12px;
}
.cod-popup .modal-close
{
  font-size: 11px;
  padding: 2px 5px;
  margin-top: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 4px !important;
}

.cod-popup  p span
{
color:#e75e83
}

.cod-popup .fa-info-circle
{
  color: #e75e83;
  padding: 12px 10px 12px 0;
}

