<div class="dashboard-page bg-light-blueshade">
  <app-breadcrumb [headername]="headername"></app-breadcrumb>
  <app-desktop-header></app-desktop-header>

  <section class="p-a0 cart-slider dm-none" *ngIf="!loading">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide class="productlist-block">
        <p>
          Free shipping on orders above
          <span style="font-weight: bold">Rs.499</span>
        </p>
      </ng-template>
    </owl-carousel-o>
  </section>

  <section class="p-a0" *ngIf="loading">
    <div class="breadcrumb-section m-none">
      <div class="container">
        <div class="align-items-center row">
          <div class="col-md-12 p-t15 p-b15"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 cart-leftside">
          <section class="payment-options">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '250px',
                      margin: '0px',
                      'border-radius': '5px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-lg-4 orderSummary">
          <div class="row m-b20">
            <ul class="steps-list">
              <li>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </li>
              <li>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </li>
              <li>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </li>
            </ul>
          </div>
          <ul>
            <li>
              <h3 class="title-info">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100px',
                    height: '20px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '80px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="p-a0" *ngIf="!loading">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 cart-leftside payment-options">
          <div class="payments-block">
            <h2 class="payment-title">Payment Options</h2>
            <div
              class="row saved-card v-row"
              style="justify-content: flex-start"
            >
              <div class="col-lg-1 col-xs-1 col-sm-1 pl-0">
                <!-- <input
                      type="radio"
                      value="razorpay"
                      id="razorpay"
                      name="radio-group"
                      (click)="paymentOption($event.target.value)"
                    /> -->

                <div class="form-radio d-flex">
                  <div class="mt-1 radio">
                    <label class="">
                      <input
                        type="radio"
                        value="razorpay"
                        id="razorpay"
                        name="radio-group"
                        (click)="
                          paymentOption(
                            $event.target.value,
                            CashonDelivery,
                            loadingiocn
                          )
                        "
                      />
                      <i class="helper"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 col-xs-11 col-sm-11 p-a0">
                <img
                  class="online-img"
                  style=""
                  src="assets/images/icons/payonline.png"
                  alt=""
                />
              </div>
            </div>

            <div
              class="row saved-card v-row cod-v-row"
              style="justify-content: flex-start"
            >
              <div class="col-lg-1 col-xs-1 col-sm-1 p-a0">
                <div class="form-radio d-flex">
                  <div class="mt-1 radio">
                    <label class="">
                      <input
                        type="radio"
                        id="cod"
                        popoverTitle="Note"
                        popoverClass="class-cod"
                        value="cod"
                        placement="bottom"
                        name="radio-group"
                        (click)="
                          paymentOption(
                            $event.target.value,
                            CashonDelivery,
                            loadingiocn
                          )
                        "
                      />
                      <i class="helper"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-11 col-xs-11 col-sm-11 p-a0 cod-div">
                <img
                  class="cod-img"
                  style=""
                  src="assets/images/icons/cod-payment.png"
                  alt=""
                />
                <button
                  *ngIf="totalOrderAmount < cod_min_amount || cod_enable > -1"
                  type="button"
                  class="cod-more-info btn btn-outline-secondary mr-2"
                  [ngbPopover]="codMessage"
                  placement="top"
                  [openDelay]="100"
                  popoverTitle="Note"
                  popoverClass="class-cod"
                  triggers="mouseenter:mouseleave"
                >
                  <i class="far fa-info-circle"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 orderSummary" id="viewdetails" *ngIf="!loading">
          <div class="row m-b20">
            <ul class="steps-list">
              <li>Shopping Cart</li>
              <li>Checkout</li>
              <li>Payment</li>
            </ul>
          </div>
          <ul>
            <li>
              <h3 class="title-info">Order Summary</h3>
            </li>
            <li>
              <span>Total MRP</span
              ><label>&#x20B9; {{ totalMrp | number: "1.0-2" }}</label>
            </li>

            <li class="discount-price" *ngIf="mrpDiscount > 0">
              <span>Mrp Discount</span
              ><label>&#x20B9; {{ mrpDiscount | number: "1.0-2" }}</label>
            </li>
            <li class="discount-price" *ngIf="couponDiscount > 0">
              <span>Coupon Discount</span
              ><label>&#x20B9; {{ couponDiscount | number: "1.0-2" }}</label>
            </li>
            <li *ngIf="coupon != null">
              <span>Coupon</span>
              <label
                ><a class="anchor-top">{{ coupon.code }}</a></label
              >
            </li>
            <li>
              <span style="font-weight: bold">SubTotal</span
              ><label style="font-weight: bold"
                >&#x20B9; {{ totalSellingPrice | number: "1.0-2" }}</label
              >
            </li>

            <!-- <li><span>Applicable GST</span><label>&#x20B9; 2,999.00</label></li> -->
            <li *ngIf="convenience_fee > 0">
              <span>Convenience Fee</span>
              <label
                >&#x20B9; {{ convenience_fee }}
                <a
                  href="javascript:void(0)"
                  ngbPopover="Text Text Text"
                  [openDelay]="100"
                  popoverClass="class-convenience"
                  triggers="mouseenter:mouseleave"
                >
                  <i class="far fa-info-circle convenience-icon"></i> </a
              ></label>
            </li>
            <li class="delivery">
              <span> Delivery </span
              ><label>{{
                handling_charges == 0 ? "Free" : handling_charges
              }}</label>
            </li>
            
            <li class="delivery" *ngIf="paymentType == 'cod' && cod_charge > 0">
              <span> Handling Charge </span
              ><label>{{ cod_charge == 0 ? "Free" : cod_charge }}</label>
            </li>

            <label class="label-free m-none m-t10"
              ><span>Free Delivery</span>
              <p>For Orders Above 499</p>
            </label>
            <li>
              <span>Order Total</span
              ><label>&#x20B9; {{ totalOrderAmount | number: "1.0-2" }}</label>
            </li>
          </ul>
          <button
            type="submit"
            (click)="payment(otpverify, CashonDelivery, loadingiocn)"
            class="btn btn-style-bg text-uppercase m-r10 m-b10 m-none"
            [disabled]="loadingPaymentOption"
          >
            <span class="text-white" *ngIf="paymentLoading">
              <span
                class="spinner-border text-white spinner-border-sm mr-1"
              ></span
              >Loading... </span
            ><span class="text-white" *ngIf="!paymentLoading">{{
              buttonText
            }}</span>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="payment-footer dm-none" *ngIf="!loading">
    <div class="container">
      <div class="row payment-bottom v-row">
        <div class="col-xs-5 col-sm-5 pr-0 p-t5">
          <span>Rs.{{ totalOrderAmount }}</span>
          <p class="anchor" (click)="scroll()">View Details</p>
        </div>
        <div class="col-xs-7 col-sm-7 text-center">
          <button
            type="submit"
            class="btn btn-style-bg text-uppercase"
            (click)="payment(otpverify, CashonDelivery, loadingiocn)"
          >
            <span class="text-white" *ngIf="paymentLoading">
              <span
                class="spinner-border text-white spinner-border-sm mr-1"
              ></span
              >Loading... </span
            ><span class="text-white" *ngIf="!paymentLoading">{{
              buttonText
            }}</span>
            <!-- <div *ngIf="paymentLoading" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div> -->
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer class="p-none"></app-footer>
<ng-template #otpverify let-modal>
  <div class="modal-body" class="video-popup-body">
    <div class="modal-body pl-0 pr-0">
      <div class="row v-row pl-2 pr-2">
        <div class="col-lg-6 col-xs-8 col-sm-8"></div>
        <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right">
          <button
            type="button"
            (click)="close()"
            data-dismiss="modal"
            aria-hidden="true"
            class="modal-close"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <h3></h3>
          <form class="form-block ver-block">
            <h2>Please acknowledge your COD order by accepting captcha.</h2>
            <!-- <div class="col-12 col-sm-12">
              <p>
                Enter the verification code we just sent you on your mobile and
                e-mail address.
              </p>
              <ul>
                <li>
                  <input
                    type="text"
                    class="form-control"
                    #otp1
                    maxlength="1"
                    (keyup)="move(otp1, otp1, otp2, $event.keyCode)"
                    formControlName="otp1"
                    [ngClass]="{ 'is-invalid': submitted && f.otp1.errors }"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    class="form-control"
                    #otp2
                    maxlength="1"
                    (keyup)="move(otp1, otp2, otp3, $event.keyCode)"
                    formControlName="otp2"
                    [ngClass]="{ 'is-invalid': submitted && f.otp2.errors }"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    class="form-control"
                    #otp3
                    maxlength="1"
                    (keyup)="move(otp2, otp3, otp4, $event.keyCode)"
                    formControlName="otp3"
                    [ngClass]="{ 'is-invalid': submitted && f.otp3.errors }"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    class="form-control"
                    #otp4
                    maxlength="1"
                    (keyup)="move(otp3, otp3, otp4, $event.keyCode)"
                    formControlName="otp4"
                    [ngClass]="{ 'is-invalid': submitted && f.otp4.errors }"
                  />
                </li>
              </ul>
              <p class="link-account text-cent" (click)="sendOtpForCod()">
                If you didnt receive a code!
                <a class="anchor-link" *ngIf="resendloader1"> Resend</a>
                <span
                  class="spinner-border spinner-border-sm mr-1"
                  *ngIf="resendloader"
                  role="status"
                ></span>
                <span class="load-text" *ngIf="resendloader">Sending...</span>
              </p>
            </div> -->
            <!-- <div
              class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1"
            >
              <button
                type="submit"
                (click)="verifyOtpForCod()"
                class="btn btn-style-bg text-uppercase mx-auto"
              >
                Verify
              </button>
            </div> -->
            <!-- <ngx-recaptcha2
              siteKey="6LeDvpcaAAAAAB4eVSNR4wf9dGVAV_9Q1q2EXrxL"
              (success)="handleCaptchaSuccess($event)"
            >
            </ngx-recaptcha2> -->
            <!-- <ngx-recaptcha2
              siteKey="6LeDvpcaAAAAAB4eVSNR4wf9dGVAV_9Q1q2EXrxL"
              (success)="handleCaptchaSuccess($event)"
            >
            </ngx-recaptcha2>
            <button
              class="btn-style-bg btn-main-add m-b10 mt-10"
              (click)="submitCaptcha()"
            >
              submit
            </button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #CashonDelivery let-modal>
  <div class="modal-body" class="cod-popup">
    <div class="">
      <button
        type="button"
        class="modal-close mb-0"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <i class="fal fa-times"></i>
      </button>
    </div>
    <div class="col-lg-12 d-flex p-a0">
      <i class="fal fa-info-circle"></i>
      <p>
        COD is available only for oders above INR {{ cod_min_amount }} (Final
        cart amount). Shop
        <span
          >Rs.{{ cod_min_amount - totalOrderAmount | number: "1.0-0" }}
        </span>
        more to enable COD.
      </p>
    </div>
  </div>
</ng-template>
<ng-template #loadingiocn let-modal>
  <span class="text-center">
    <span class="spinner-border spinner-border-sm mr-1"></span
  ></span>
</ng-template>
