<div class="dashboard-page bg-light-blueshade">
    <section class="breadcrumb mb-0">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <h3 (click)="goback()"><i class="lni lni-arrow-left"></i> Apply Coupon</h3>
                </div>
                
            </div>
        </div>
    </section>
    <section class="p-a0 cart-slider dt-none">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide class="productlist-block">
            <p>AWW sum DEALS / Pocket friendly offers/ Light on pockets for Heavier Smiles/ Light on pockets for happy Smiles.

            </p>
          </ng-template>
          <ng-template carouselSlide class="productlist-block">
            <p>Best Price Guaranteed ! Else difference is paid !

            </p>
          </ng-template>
        
          
        </owl-carousel-o>
      </section>
    <section class="couponfixed" (scroll)="onWindowScroll($event)" [ngClass]="fixed ? 'is-fixed' : ''">
        <div class="container">
           
            
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="subscribe_now">
                      
                        <form class="apply-coupon">
                          <div class="input-group">
                             <input type="text" class="form-control" placeholder="Please enter a valid coupon">
                             <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">Apply</button>
                             </span>
                          </div>
                        </form>
                      </div>
                    </div>
                
              </div>
        </div>
    </section>
    <section class="p-a0 coupon-block">
        <div class="container">
            <div class="row">
                <div  class="row offers-block v-row ng-star-inserted" >
                    <div  class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                        <p >
                             <label class="checkbox path">
                            <input
                                type="checkbox"
                            />
                            <svg viewBox="0 0 21 21">
                                <path
                                    d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                ></path>
                            </svg>
                        </label>
                        
                        Use Code <b >BIG35</b><a  class="anchor"></a></p>
                    </div>
                    <div  class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                        <div  class="offer-des">Get it for <span> Rs. 567 </span></div>
                        <p >LIMITED PERIOD ONLY Get Extra 35% off on Rs. 2490 and Above.</p>
                    </div>
                </div>
                
                <div  class="row offers-block v-row ng-star-inserted" >
                    <div  class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                        
                        <p >  <label class="checkbox path">
                            <input
                                type="checkbox"
                            />
                            <svg viewBox="0 0 21 21">
                                <path
                                    d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                ></path>
                            </svg>
                        </label>Use Code <b >BIG35</b><a  class="anchor"></a></p>
                    </div>
                    <div  class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                        <div  class="offer-des">Get it for <span> Rs. 567 </span></div>
                        <p >LIMITED PERIOD ONLY Get Extra 35% off on Rs. 2490 and Above.</p>
                    </div>
                </div>
                <div  class="row offers-block v-row ng-star-inserted" >
                    <div  class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                        <p >  <label class="checkbox path">
                            <input
                                type="checkbox"
                            />
                            <svg viewBox="0 0 21 21">
                                <path
                                    d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                ></path>
                            </svg>
                        </label>Use Code <b >BIG35</b><a  class="anchor"></a></p>
                    </div>
                    <div  class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                        <div  class="offer-des">Get it for <span> Rs. 567 </span></div>
                        <p >LIMITED PERIOD ONLY Get Extra 35% off on Rs. 2490 and Above.</p>
                    </div>
                </div>
                <div  class="row offers-block v-row ng-star-inserted" >
                    <div  class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                        <p >  <label class="checkbox path">
                            <input
                                type="checkbox"
                            />
                            <svg viewBox="0 0 21 21">
                                <path
                                    d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                ></path>
                            </svg>
                        </label>Use Code <b >BIG35</b><a  class="anchor"></a></p>
                    </div>
                    <div  class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                        <div  class="offer-des">Get it for <span> Rs. 567 </span></div>
                        <p >LIMITED PERIOD ONLY Get Extra 35% off on Rs. 2490 and Above.</p>
                    </div>
                </div>
                <div  class="row offers-block v-row ng-star-inserted" >
                    <div  class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                        <p >  <label class="checkbox path">
                            <input
                                type="checkbox"
                            />
                            <svg viewBox="0 0 21 21">
                                <path
                                    d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                ></path>
                            </svg>
                        </label>Use Code <b >BIG35</b><a  class="anchor"></a></p>
                    </div>
                    <div  class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                        <div  class="offer-des">Get it for <span> Rs. 567 </span></div>
                        <p >LIMITED PERIOD ONLY Get Extra 35% off on Rs. 2490 and Above.</p>
                    </div>
                </div>
                <div  class="row offers-block v-row ng-star-inserted" >
                    <div  class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                        <p >  <label class="checkbox path">
                            <input
                                type="checkbox"
                            />
                            <svg viewBox="0 0 21 21">
                                <path
                                    d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                ></path>
                            </svg>
                        </label>Use Code <b >BIG35</b><a  class="anchor"></a></p>
                    </div>
                    <div  class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                        <div  class="offer-des">Get it for <span> Rs. 567 </span></div>
                        <p >LIMITED PERIOD ONLY Get Extra 35% off on Rs. 2490 and Above.</p>
                    </div>
                </div>
                <div  class="row offers-block v-row ng-star-inserted" >
                    <div  class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                        <p >  <label class="checkbox path">
                            <input
                                type="checkbox"
                            />
                            <svg viewBox="0 0 21 21">
                                <path
                                    d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                                ></path>
                            </svg>
                        </label>Use Code <b >BIG35</b><a  class="anchor"></a></p>
                    </div>
                    <div  class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                        <div  class="offer-des">Get it for <span> Rs. 567 </span></div>
                        <p >LIMITED PERIOD ONLY Get Extra 35% off on Rs. 2490 and Above.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="coupon-footer">
        <div class="container">
            <div class="row coupon-bottom v-row">
                <div class="col-xs-5 col-sm-5 pr-0 p-t5">
                    <p class="anchor">Maximum savings:</p>
                    <span>Rs.48</span>
                 
                </div>
                <div class="col-xs-7 col-sm-7 text-center"><button type="submit" class="btn btn-style-bg text-uppercase" routerLink="/shop/checkout">Apply</button></div>
            </div>
        </div>
    </section>
 
</div>
