.is-fixed
{
    position: fixed !important;
    background: #fff !important;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 55px !important;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.06);
}

.apply-coupon {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    border-radius:6px;
    &:focus {
      outline: none;
    }
    .form-control {
    
      &:focus {
        box-shadow: none;
      }
    }
    input {
        height: 35px;
        background: #fff;
        font-size: 12px;
        border: 1px solid #cac7f6;
        border-radius: 5px;
    }
    button {
        border: none;
        height: 36px;
        color: #e75e83 !important;
        border-radius: 0;
        width: 68px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        right: 0;
      &:hover, &:focus, &:active, &:visited {
        color: #fff;
     
        outline: none;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        &:before {
         
          transition: all ease 0.3s;
          -webkit-transition: all ease 0.3s;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -ms-transition: all ease 0.3s;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
     
        width: 100%;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
    }
    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
      z-index: 2;
      margin-left: 0px;
    }
  }

  .coupon-block  .offer-left p
{
    background: #f0f4f7;
    padding: 12px 15px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    line-height: 19px;
    display: grid;

}
.coupon-block  .offers-block
{
    background: #fff;
    margin: 6px 7px;
    padding: 7px 0;
    box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
}
.coupon-block  .offer-left 
{
   
}
.coupon-block  .offer-right p
{

    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 17px;

}
.coupon-block  .offer-des span
{
    color: #e75d81;
    font-weight: 600;
}
.coupon-block  .anchor {
    color: #eb6083;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 0;
  
}

.coupon-block  .offer-des
{
   
    font-size: 12px;
    margin-bottom: 2px;

}

.coupon-block .checkbox svg {

   
   
}
.coupon-block .checkbox.path
{
  
    margin: 0 auto;
    background: transparent;
   
}
.coupon-block 
input
{
    margin: 0 auto;
}

.coupon-footer
{
  
    transition-duration: 500ms;
    background-color: #ffffff;
    width: 100%;
    /* height: 14px; */
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    right: 0;
    z-index: 1;
    border: none;
    border-top: 1px solid #cac7f6;
    box-shadow: 0 1px 3px 0px #9ccae8;
   
}

.coupon-footer .btn-style-bg {
  
    margin-top: 9px;
    margin-bottom: 9px;
}
.coupon-bottom button
{
width:100%;
}

.coupon-bottom span
{
    margin: 0;
    text-align: left;
    line-height: 7px;
    font-size: 14px;
    margin-top: 2px;
}
.coupon-bottom p
{
  
    display: block;
    font-size: 14px;
    color: #eb6083;
    line-height: 8px;
    margin: 0;
    padding: 0;

}