<app-desktop-header></app-desktop-header>
<app-breadcrumb [headername]="headername"></app-breadcrumb>

<section class="p-a0 about-footer m-t20">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>Shopping made easy at Fabpik</h4>
        <p>
          Get to explore the best of products at best prices for your kids.
          Essentials to Clothing, Accessories to Fun Learning, Food & Nutrition
          to Sports & Fitness, if you have a need we have the product !
        </p>
        <h4>From Babies to Teens, we have products for everyone.</h4>
        <p>
          Fabpik is one of the few Ecommerce platforms catering to early teen
          kids/Fabpik is here to help you get products for not just kids but
          also for you early teen kids, which has limited online market
          currently Being a host to varied number of sellers, we try to get you
          the best in fashion and Quality for all ages
        </p>
        <h4>Best Price Challenge</h4>
        <p>
          At Fabpik, we aim to provide you the best of both Price and Quality.
          Experience the never before Price Challenge advantage by shopping with
          us.If you find any of our product priced higher than the price of the
          same product on any other qualifying Ecommerce platform, get the price
          difference. Read more
        </p>

        <h4>Fabpik Networking</h4>
        <p>
          Connect with us on social media platforms. Hear us buzzing on latest
          Fashion trends, Education, Toys, Food & Nutrition, Sports & Fitness.
          Participate in small quirky events and win some perks.After all who
          would want to miss a PERK! Hop on and catch us.
        </p>
      </div>
    </div>
    <div class="row row_njct row-style">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_7f0l col-style">
        <div class="border-block">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item-2">
              <div class="footer-social">
                <div class="socials">
                  <h1>Keep In Touch</h1>
                  <p>Here, there and everywhere, we are there for you!</p>
                  <ul class="social-footer">
                    <li class="social-facebook">
                      <a
                        href="https://www.facebook.com/fabpik.in"
                        target="_blank"
                      >
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="social-twitter">
                      <a href="https://twitter.com/FabpikI" target="_blank">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="social-instagram">
                      <a
                        href="https://www.instagram.com/fabpik.in/"
                        target="_blank"
                      >
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="social-youtube">
                      <a
                        href="https://www.youtube.com/channel/UCDZDbmBT380YUB-KBSkds4Q?"
                        target="_blank"
                      >
                        <i class="fab fa-youtube"></i>
                      </a>
                    </li>
                    <li class="social-pinterest">
                      <a
                        href="https://in.pinterest.com/FabPikIndia/"
                        target="_blank"
                      >
                        <i class="fab fa-pinterest"></i>
                      </a>
                    </li>
                    <li class="social-snapchat">
                      <a
                        href="https://www.snapchat.com/add/fabpikindia"
                        target="_blank"
                      >
                        <i class="fab fa-snapchat-ghost"></i>
                      </a>
                    </li>
                    <li class="social-podcast">
                      <a href="javascript:void(0)">
                        <i class="far fa-podcast"></i>
                      </a>
                    </li>
                    <li class="social-blog">
                      <a href="javascript:void(0)">
                        <i class="fal fa-edit"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="
                col-lg-12 col-md-12 col-sm-12 col-xs-12
                item-1
                mx-auto
                v-row
              "
            >
              <div class="app-store spcustom_html">
                <div>
                  <a class="app-1" href="#"
                    ><img
                      src="assets/images/icons/app-store-button.png"
                      alt=""
                    />google store</a
                  >
                  <a class="app-2" href="#"
                    ><img
                      src="assets/images/icons/google-play-button.png"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-widget">
      <div class="col-lg-12 p-a0">
        <h4 class="footer-herading">USEFUL LINKS</h4>
        <div class="">
          <ul>
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>
              <a routerLink="/offers">Offers</a>
            </li>
            <li>
              <a (click)="getPolicy('privacypolicy')">Privacy Policy</a>
            </li>
            <li>
              <a (click)="getPolicy('return-policy')">Return Policy</a>
            </li>
            <li>
              <a (click)="getPolicy('terms-and-conditions')"
                >Terms & Conditions</a
              >
            </li>

            <li>
              <a (click)="getPolicy('shipping-delivery-policy')"
                >Shipping & Delivery Policy</a
              >
            </li>
            <li><a routerLink="/support">Faq</a></li>
            <li>
              <a (click)="getPolicy('cancellation-refund-policy')"
                >Cancellation & Refund Policy</a
              >
            </li>
            <!-- <li>
                          <a 
                            >Testimonials</a
                          >
                        </li>
                        <li>
                          <a
                           
                            >Blogs</a
                          >
                        </li>
      
                        <li>
                          <a 
                            >Careers</a
                          >
                        </li>
                        <li>
                          <a
                           
                            >FreeHugs</a
                          >
                        </li> -->
          </ul>
        </div>
      </div>
      <!-- <div class="col-lg-6">
                <div class="row">
                 <a href="https://seller.fabpik.in/" target="_blank"><img src="assets/images/footerseller.jpg" /></a> 
                </div>
              </div> -->
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-6 support-data">
        <h6 class="text-uppercase mb-0">Call Us</h6>
        <h3><a href="tel:040-418-91487">040-418-91487</a></h3>
      </div>
      <div class="col-sm-6 col-xs-6 support-data">
        <h6 class="text-uppercase mb-0">Mail Us</h6>
        <h3>
          <a target="_blank" href="mailto:wecare@fabpik.in">wecare@fabpik.in</a>
        </h3>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 copyright text-center">
        <p>Fabpik © 2021 . All Rights Reserved</p>
      </div>
      <div class="col-lg-12 seller-img">
        <div class="row">
          <a href="https://seller.fabpik.in/" target="_blank"
            ><img src="assets/images/footerseller.jpg"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
