.about-footer p {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #555;
}
.about-footer h4 {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
}.app-store a {
    margin: 0 6px 0 0;
    font-size: 0;
    color: transparent;
    display: inline-block;
    height: 30px;
    width: 105px;
  }
  .app-store img
  {
  
    font-size: 0;
    text-indent: -99999999px;
    color: transparent;
    display: inline-block;
    height: 30px;
    width: 105px;
  }
  .footer-social {
    text-align: center;
  }
  
  .footer-social .socials li {
    display: inline-block;
    margin: 5px;
    color: #666;
  }
  .footer-social .socials li a {
   
    color: #666;
  }
  .socials a i {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #edecec;
    background: #fff;
    text-align: center;
    font-size: 12px;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
  
  .so-page-builder section {
    overflow: hidden;
  }
  .section_5 .custom_link {
    border-bottom: 1px solid #ebebeb;
    margin-top: 15px;
  }
  .section_5 .footer-toplinks {
    line-height: 18px;
    padding: 0 0 10px;
  }
  .section_5 .footer-toplinks .links label {
    font-weight: bold;
    text-transform: capitalize;
    color: #222;
    font-size: 12px;
    margin: 0;
  }
  .section_5 .footer-toplinks ul li {
    display: inline-block;
    position: relative;
    padding: 0 5px;
  }
  .section_5 .footer-toplinks ul li a {
    font-size: 12px;
    font-weight: 400;
    color: #555;
  }
  .section_5 .footer-toplinks ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-size: 0;
  }
  .footer-toplinks ul li a:after {
    content: "\/";
    display: block;
    font-size: 14px;
    color: #555;
    position: absolute;
    top: 0px;
    left: -2px;
  }
  .footer-toplinks ul li:first-child a:after {
    content: none;
  }
  .section_5
  {
    padding:0;
  }
  .social_sections
  {
    padding:0; 
  }

  .socials h1
{
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    line-height: 11px;
    text-align: center;
}
.socials p
{
  font-size: 13px;
  margin: 6px 0;
  line-height: 11px;
  text-align: center;
}
.social-facebook a i {
  background-color: #365493;
}
.social-twitter a i{
  background-color: #3CF;
}
.social-instagram a i{
  background-color: #774430;
}
.social-youtube a i{
  background-color: #CB2027;
}
.social-pinterest a i{
  background-color: #CB2027;
}
.social-snapchat a i{
  background-color: #f1da17;
}
.social-podcast a i
{
  background-color: #8b44c6;
}
.social-blog a i
{
  background-color: #f37d18;
}
.footer-widget li {
    display: inline-block;
    line-height: 16px;
}
.footer-widget li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #555;
    cursor: pointer;
    margin-right: 10px;
}
.footer-widget
{
    margin:20px 0!important;
}
.support-data h6 {
    font-size: 13px;
    color: #e75e83;
    font-weight: 600;
}
.support-data h3 {
    font-size: 15px;
    font-weight: 600;
    color: #666;
}
.support-data h3 a {
    font-size: 15px;
    font-weight: 600;
    color: #666;
}
.footer-herading
{
    margin-bottom: 5px!important;
}
.seller-img img
{
    margin-bottom: -36px;
    margin-top: 10px;
}

.copyright p
{
    font-size: 15px;
}