<div class="dashboard-page bg-light-blueshade">
  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>

  <section [ngClass]="{ 'py-0': isMobile }">
    <div class="container">
      <div class="row">
        <div class="col-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div
          [ngClass]="{ 'px-0': isMobile }"
          class="col-md-9 col-sm-12 col-xs-12"
        >
          <!-- <div class="bg-white deskdash-breadcrumbs m-none pb-2 px-4 mb-3">
                        <h4 class="font-16 pt-3 font-weight-600">Chat</h4>
                      </div> -->
          <form
            class="form-block ver-block m-t20"
            [formGroup]="changePasswordForm"
          >
            <div class="row v-row offset-lg-3 col-lg-6 form-rowblock">
              <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <h2>Change Password</h2>

                <img src="assets/images/icons/verification.png" />

                <div class="form-group text-left">
                  <div class="controls">
                    <label><i class="far fa-envelope"></i>Old Password</label>
                    <input
                      type="password"
                      class="form-control"
                 
                      required=""
                      formControlName="oldpassword"
                    />
                    <ng-container
                      *ngFor="let error of errorMessages.oldpassword"
                    >
                      <div
                        class="error-message"
                        style="color: red; font-size: 12px"
                        *ngIf="
                          changePasswordForm
                            .get('oldpassword')
                            .hasError(error.type) &&
                          (changePasswordForm.get('oldpassword').dirty ||
                            changePasswordForm.get('oldpassword').touched)
                        "
                      >
                        {{ error.message }}
                      </div>
                    </ng-container>
                    <div class="help-block"></div>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="controls">
                    <label><i class="far fa-envelope"></i>New Password</label>
                    <input
                      type="password"
                      class="form-control"
                   
                      required=""
                      formControlName="newpassword"
                    />
                    <ng-container
                      *ngFor="let error of errorMessages.newpassword"
                    >
                      <div
                        class="error-message"
                        style="color: red; font-size: 12px"
                        *ngIf="
                          changePasswordForm
                            .get('newpassword')
                            .hasError(error.type) &&
                          (changePasswordForm.get('newpassword').dirty ||
                            changePasswordForm.get('newpassword').touched)
                        "
                      >
                        {{ error.message }}
                      </div>
                    </ng-container>

                    <div class="help-block"></div>
                  </div>
                </div>
                <div class="form-group text-left">
                  <div class="controls">
                    <label
                      ><i class="far fa-envelope"></i>Confirm Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                     
                      required=""
                      formControlName="confirmPassword"
                    />
                    <ng-container
                      *ngFor="let error of errorMessages.confirmPassword"
                    >
                      <div
                        class="error-message"
                        style="color: red; font-size: 12px"
                        *ngIf="
                          changePasswordForm
                            .get('confirmPassword')
                            .hasError(error.type) &&
                          (changePasswordForm.get('confirmPassword').dirty ||
                            changePasswordForm.get('confirmPassword').touched)
                        "
                      >
                        {{ error.message }}
                      </div>
                    </ng-container>
                    <div class="help-block"></div>
                  </div>
                </div>

                <div
                  class="col-12 p-a0 d-flex flex-sm-row flex-column justify-content-end mt-1"
                >
                  <button
                    [disabled]="!changePasswordForm.valid"
                    type="submit"
                    (click)="submit(); changePassword(Otpverify)"
                    class="btn btn-style-bg text-uppercase"
                  >
                    Change Password
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <ng-template #Otpverify let-modal>
    <div class="modal-body" class="video-popup-body">
      <div class="modal-body pl-0 pr-0">
        <div class="row v-row pl-2 pr-2">
          <div class="col-lg-6 col-xs-8 col-sm-8"></div>
          <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right">
            <button
              type="button"
              (click)="close()"
              data-dismiss="modal"
              aria-hidden="true"
              class="modal-close"
            >
              <i class="fal fa-times"></i>
            </button>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <h3></h3>
            <form class="form-block ver-block" [formGroup]="otpverifyform">
              <h2>Otp Verification For Change Password</h2>
              <div class="col-12 col-sm-12">
                <p>
                  Enter the verification code we just sent you on your mobile
                </p>
                <ul>
                  <li>
                    <input type="text" class="form-control" />
                  </li>
                  <li>
                    <input type="text" class="form-control" />
                  </li>
                  <li>
                    <input type="text" class="form-control" />
                  </li>
                  <li>
                    <input type="text" class="form-control" />
                  </li>
                </ul>
                <p class="link-account text-cent">
                  If you didnt receive a code!<a class="anchor-link"> Resend</a>
                </p>
              </div>
              <div
                class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1"
              >
                <button type="submit" class="btn btn-style-bg text-uppercase">
                  Verify
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <app-footer class="m-none"></app-footer>
</div>
