.sellercalculator-page .banner-calculator
{
    padding: 0;
}
.sellercalculator-page .banner-calculator .container-fluid
{
    
}
.sellercalculator-page .banner-calculator .sec_title {
    font-size: 46px;
    width: 100%;
    line-height: 54px;
    font-weight: 700;
    color: #2c234d;
    margin: 0;
    text-transform: capitalize;
}
.sellercalculator-page .banner-calculator p {
    font-size: 16px !important;
}
.sellercalculator-page .banner-calculator p {
    color: #707b8e;
    margin-bottom: 0px;
    font-size: 14px;
}
.sellercalculator-page .btn-style-bg, .btn-style-bg3 {
    font-size: 12px!important;
    border: none;
    padding: 0 8px!important;
    color: #fff!important;
    border-radius: 4px !important;
    letter-spacing: .9px;
    height: 30px;
    line-height: 30px!important;
    margin-top: 9px;
    font-weight: 600!important;
    text-transform: uppercase;
  }
  
  .sellercalculator-page .btn-style-bg {
    background-color: #e75e83!important;
  }
  .sellercalculator-page .fees-content
  {
    background-color: #f5f7ff;
    border-radius: 0px;
    padding: 33px 5px 0 5px;
    margin: 20px 0;
  }
  .sellercalculator-page .fees-div
{
    box-shadow: 0 0 32px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 6px 16px;
    border-radius: 12px;
    margin-bottom: 50px;
    margin-top: 21px;
}
.sellercalculator-page .fees-div img
  {
    width: 68px;
  }
  .sellercalculator-page .fees-div h2
  {
    font-size: 17px;
    margin: 0;
    line-height: 29px;
  }
  .sellercalculator-page .fees-div h4
  {
    font-size: 14px;
    margin: 0;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #e75e83;
  }
  .sellercalculator-page .fees-div p
  {
    font-size: 13px !important;
  }

  .sellercalculator-page .main-fees-content
  {
      width:100%;
      margin-left:20px;
  }

  .sellercalculator-page  .container,   .sellercalculator-page .container-fluid,   .sellercalculator-page .container-lg,   .sellercalculator-page .container-md,   .sellercalculator-page .container-sm,   .sellercalculator-page .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.sellercalculator-page .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sellercalculator-page img
{
    max-width: 100%;
}

@media (min-width: 992px)
{
    .sellercalculator-page  .offset-lg-1 {
        margin-left: 8.333333%;
    }
}
.v-row {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.pr-0
{
    padding-right: 0;
}

.page-content-wrapper .page-content {
    margin-left: 235px;
    margin-top: 0;
    min-height: 600px;
    padding: 25px 20px 10px;
}

.page-container-bg-solid .page-content {
  background: #f4f5f9;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: #fff!important;
  background-clip: border-box;
  border-radius: 10px;
  border: 0 solid #edeef7!important;
  margin-bottom: 1.3rem;
  box-shadow: 0 5px 15px 5px rgb(80 102 224 / 8%);
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px !important;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.75rem;
}


.radius-5
{
  border-radius: 6px !important;
}

.calculator label
{
  color: #7987a1;
}
.commission-calculate-text
{
  width: 100%;
  font-weight: 600 !important;
  color: #031b4e;
  font-size: 15px !important;
  text-transform: uppercase;
  padding-left: 0;
  text-align: left !important;
}
.calculator p
{
  color: #0b0f32;
  /* font-weight: 600; */
  font-size: 15px;
  margin: 6px 0;
}
.total
{
  background: #fff;
  padding: 7px 0px;
  border-radius: 5px !important;

}
.pl-0
{
  padding-left:0;
}
.calculator .form-control {
  width: 100%;
  height: 38px;
  padding: .375rem .75rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e5e6f3;
  border-radius: 6px !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.calculator .form-control, .calculator .form-label {
  display: block;
  color: #7987a1;
  position:relative;
  padding-left: 25px;
}
.form-group
{
  margin-top:10px;
}


.calculator-form .card-body label::after
{
  position: absolute;
  content:"=";
  top:0;
  right:0;
 
  height: 100%;
}
.content-colon-none::after
{
  content: none !important;;
}
.m0-auto
{
  margin: 0 auto;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  display: inherit;
}

.card .card-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
  padding: 1.5rem;
  border-color: #edeef7;

  border-bottom: 0.2px solid rgba(0,0,0,.125);

}
.card-header .card-title {
  margin: 0;
}

.card-title {
  font-weight: 700;
  color: #031b4e;
  font-size: 14px;
  text-transform: uppercase;
}
.card-header p
{

}

.commission-calculated label
{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}.commission-calculated
{
  padding: 17px 0px 13px 3px;
  margin: 20px;
}
.commission-calculated .row {
  margin-bottom: 5px;
  margin: 12px 2px;
  border-radius: 10px !important;
  padding: 12px 10px;
}

.commission-calculated .card {
  margin-right: 7px;
  padding: 10px 6px;
  width: 16%;
}
.total label
{
  color: #4e588b !important;
    font-weight: 600;
}

span.rupee-sign
{
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 28px;    color: #7987a1;
}
.final-amount p
{color: #4c7aa3 !important;
  font-weight: 400 !important;
  margin: 0;
  text-transform: capitalize !important;
}

.float-right
{
  float: right;
  text-align: right;
}

.final-amount label
{    color: #e75e83!important;
  font-size: 34px;
  position: relative;
  font-weight: 600;
}

.final-amount  span
{
  font-weight: 500;
  font-size: 21px;
  position: relative;
  top: -10px;
  margin-right: 1px;
}
.final-amount  li
{
 display: inline-block;
 color:#4c7aa3;
}
.final-amount li span {
  display: block;
  color: #254254;
  font-weight: 600;
  font-size: 18px;
  top: 0;
}

.final-amount ul
{
  padding-left:0;
}

/* .commission-calculated  label.col-form-label::after {
  position: absolute;
  content: ":";
  top: 0;
  right: 0;
  height: 100%;
} */
label.label-result {
  font-size: 19px;
  color: #e86286;
  /* font-weight: 600; */
  display: block;
}
.btn-go span
{
  float: left;
}
.btn-go svg
{
  float: right;
  position: relative;
  top: 4px;
}
.btn-go
{
  background-color: rgba(40,199,111,.12);
  color: #28C76F!important;
  border-radius: 6px !important;
  width: 100%;
  margin-bottom: 15px;
}

.main-toggle span:before {
  /* content: "Variable Commission";
  left: -130px; */
}
.main-toggle.on span:after {
  /* background-color: #5066e0;
  right: -30px; */
}
.main-toggle span:after, .main-toggle span:before {
  /* position: absolute;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #fff;
  top: 3px;
  line-height: 1.38; */
}
/* .main-toggle span:after {
  content: "fixed Commission";
  right: 97px;
} */

/* .main-toggle.on span:before {
  content: "Variable Commission";
  left: -2px;
} */
.main-toggle.on {
  background-color: #5066e0;
}

.main-toggle li {
 
  height: 25px;
  background-color: #e75e83!important;
  text-transform: capitalize;
  padding: 2px;
  position: relative;
  overflow: hidden;
  color: #485079;
  border-radius: 3px!important;
  display: inline-block;
  cursor:pointer;
  
}
.main-toggle
{
  margin:0;
}
.main-toggle li.on
{
  pointer-events: none;
  cursor: pointer;
}
/* .main-toggle {
  width: 60px;
  height: 25px;
  background-color: #e3e6fa;
  padding: 2px;
  position: relative;
  overflow: hidden;
  color: #485079;
  border-radius: 3px;
} */
.main-toggle span {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  display: block;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 3px !important;
}
/* .main-toggle span {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 9px;
  display: block;
  width: 224px;
 
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 3px;
} */
.main-toggle p {
  position: absolute;
  top: -4px;
  bottom: 3px;
  /* right: -80px; */
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 3px !important;
}
.main-toggle.on p
{
  right: 80px;
}
.calculator-form.on
{
display: none;
}
.calculator-form
{
display: block;
}
.final-amount label::after {

  content: none!important;
}

.variable-form form p
{
  /* width: 100%;
  font-weight: 600 !important;
  color: #031b4e;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center; */
}
.fixed-form form p
{

}
.margin-div
{
  margin: 0px 20px 0 10px;
  /* background: #f4f5fd; */
  padding-top: 20px;
  padding:0;
  border-bottom: 0.1px solid #f1eded;
}
.final-amount p
{
  text-align: left!important;
}
.final-amount .card

{
  padding:10px 10px;
}

.info-btn {
  font-size: 10px;
  color: #e75e83!important;
  border-radius: 50% !important;
  border: 1px solid;
  width: 18px;
  height: 18px;
  background: transparent;
  display: inline-table;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  outline: none;
  margin-left: 8px;
}

.commission-calculated a span
{
font-weight:600;
text-transform: uppercase;

}

.commission-calculated.row
{
  display: flex;
  margin: auto 0;
  background: #fff;
}

.main-toggle label
{
  color: #fff;
  padding-left: 27px;
  font-size: 12px;
  cursor: pointer;
}
.main-toggle li svg
{
 display:none;
}


.main-toggle li.on svg
{
  display:block;
}
.main-toggle label span
{
  color:#e75e83
}

.label-result
{

}

.p-text
{
  color: #7987a1!important;
  font-size: 12px!important;
}

