<div class="dashboard-page bg-light-blueshade checkout-page">
  <app-breadcrumb [headername]="headername"></app-breadcrumb>
  <app-desktop-header></app-desktop-header>

  <section class="p-a0" *ngIf="!loading">
    <div class="breadcrumb-section m-none">
      <div class="container">
        <div class="align-items-center row">
          <div class="col-md-12 p-t15 p-b15"></div>
        </div>
      </div>
    </div>
    <div class="container" >
      <div class="row">
        <div class="col-lg-7 cart-leftside mt-3 pt-0">
          <div class="row ab-block address-block-checkout">
            <ng-container *ngIf="address != null">
              <h3 class="title-info">Shipping Address</h3>
              <h3 class="name">{{ address.name }}</h3>
              <p class="address">
                {{ address.address }},<br />
                {{ address.locality }},<br />
                {{ address.city }} - {{ address.pincode }},<br />
                {{ address.state }}
              </p>
              <label class="contact-no"
                ><span>Mobile no:</span>{{ address.mobile }}</label
              >

              <span class="address-type" *ngIf="address.addr_type == 'h'"
                >Home</span
              >
              <span class="address-type" *ngIf="address.addr_type == 'w'"
                >Office</span
              >
              <span class="address-type" *ngIf="address.addr_type == 'o'">{{
                address.addr_other
              }}</span>
            </ng-container>
            <button
              class="btn-style-bg"
              *ngIf="address != null && !AddressList && !addAddressForm"
              (click)="addressList()"
            >
              Change Address or Add Address
            </button>
            <button
              class="btn-style-bg"
              *ngIf="address == null"
              (click)="changeAddress()"
            >
              Add Address
            </button>

            <div class="add-address">
              <div
                class="row v-row justify-content-between border-top"
                *ngIf="AddressList"
              >
                <div class="col-6">
                  <h4 class="title-info">All Addresses</h4>
                </div>
                <div class="col-6">
                  <button
                    class="btn-style-bg float-right w-auto m-b20"
                    (click)="addressForm()"
                  >
                    Add Address
                  </button>
                </div>
                <!-- All Addresses -->
                <div class="col-md-6" *ngFor="let address of allUserAddresses">
                  <div class="address-block">
                    <div class="form-group custom-radio mb-0 col-6">
                      <div class="form-radio">
                        <div class="radio d-flex flex-row">
                          <label class="pr-4">
                            <input
                              type="radio"
                              name="radio"
                              value="1"
                              [checked]="address.is_default == '1'"
                              (click)="
                                isdefault($event.target.value, address.id)
                              "
                            />
                            <i class="helper"></i>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="ml-3 pl-4 pt-3">
                      <h3
                        class="font-14 mb-0 mt-1 d-flex justify-content-between"
                      >
                        <span>{{ address.name }}</span>
                        <span class="mark" *ngIf="address.addr_type == 'h'"
                          >Home</span
                        >
                        <span class="mark" *ngIf="address.addr_type == 'w'"
                          >Office</span
                        >
                        <span class="mark" *ngIf="address.addr_type == 'o'">{{
                          address.addr_other
                        }}</span>
                      </h3>
                      <p
                        class="
                          font-12
                          mb-0
                          w-70
                          text-dark
                          word-break
                          text-capitalize
                        "
                      >
                        {{ address.address }}
                      </p>
                      <p
                        class="
                          font-12
                          mb-0
                          w-70
                          text-dark
                          word-break
                          text-capitalize
                        "
                      >
                        {{ address.locality }}
                      </p>
                      <p class="font-12 mb-0 line-7 text-dark">
                        {{ address.city }}
                      </p>
                      <p class="font-12 mb-0 line-7 text-dark">
                        {{ address.pincode }}
                      </p>
                      <p class="font-12 mb-0 line-7 text-dark">
                        {{ address.state }}
                      </p>
                      <p class="font-11 my-0 font-weight-600">
                        Mobile no&nbsp;<span>: &nbsp;{{ address.mobile }}</span>
                      </p>
                    </div>
                    <ul class="btn-address">
                      <li>
                        <button (click)="editAddress(address.id)">
                          <i class="ti ti-pencil-alt"></i>Edit
                        </button>
                      </li>
                      <!-- <li>
                        <button (click)="deleteAddress(address.id)">
                          <i class="ti ti-trash"></i>
                          Delete
                        </button>
                      </li> -->
                    </ul>
                  </div>
                </div>
                <div
                  class="row v-row text-center-nofound w-100p"
                  *ngIf="allUserAddresses?.length == 0 && !addressLoading"
                >
                  <!-- <h4>No Addresses!</h4> -->

                  <div class="col-lg-12">
                    <img src="assets/images/icons/noaddress.png" />
                    <label>Add address for easier timely delivery</label>
                    <button
                      class="
                        btn-style-bg
                        margin-auto
                        m-t10
                        btn-main-add
                        dt-none
                      "
                      [routerLink]="['/myaccount/manage-address']"
                    >
                      <i class="ti-plus"></i>Add New Address
                    </button>
                  </div>
                </div>
                <div *ngIf="allUserAddresses?.length == 0 && addressLoading">
                  <div class="mt-3">
                    <div class="row justify-content-between">
                      <div class="col-md-6" *ngFor="let item of [1, 2, 3, 4]">
                        <div class="address-block">
                          <div class="custom-radio1">
                            <ngx-skeleton-loader
                              appearance="circle"
                              [theme]="{ width: '18px', height: '18px' }"
                            >
                            </ngx-skeleton-loader>
                          </div>
                          <div class="ml-3 pl-4 pt-3">
                            <h3
                              class="
                                font-14
                                mt-1
                                mb-0
                                d-flex
                                justify-content-between
                              "
                            >
                              <p class="font-12 mb-0 line-7 text-dark">
                                <ngx-skeleton-loader
                                  [theme]="{
                                    width: '80px',
                                    'border-radius': '0',
                                    height: '10px'
                                  }"
                                >
                                </ngx-skeleton-loader>
                              </p>
                              <span class="mr-2">
                                <ngx-skeleton-loader
                                  [theme]="{
                                    width: '60px',
                                    'border-radius': '0',
                                    height: '17px',
                                    margin: '0px'
                                  }"
                                >
                                </ngx-skeleton-loader>
                              </span>
                            </h3>
                            <p
                              class="font-12 mb-0 line-7 text-dark"
                              *ngFor="let address of [1, 2, 3, 4]"
                            >
                              <ngx-skeleton-loader
                                [theme]="{
                                  width: '150px',
                                  'border-radius': '0',
                                  height: '10px',
                                  margin: '0px'
                                }"
                              >
                              </ngx-skeleton-loader>
                            </p>
                          </div>
                          <ul class="btn-address">
                            <li>
                              <button>
                                <ngx-skeleton-loader
                                  [theme]="{
                                    width: '60px',
                                    'border-radius': '0',
                                    height: '14px',
                                    margin: '0px'
                                  }"
                                >
                                </ngx-skeleton-loader>
                              </button>
                            </li>
                            <li>
                              <button>
                                <ngx-skeleton-loader
                                  [theme]="{
                                    width: '80px',
                                    'border-radius': '0',
                                    height: '14px',
                                    margin: '0px'
                                  }"
                                >
                                </ngx-skeleton-loader>
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- All Addresses -->
              </div>
              <!-- Add Address Form -->
              <form
                *ngIf="addAddressForm"
                [formGroup]="addAddressform"
                class="mx-auto border-top"
              >
                <div class="row">
                  <div class="col-lg-4">
                    <h4 class="font-16 pt-3 font-weight-600">
                      {{ this.isAddMode ? "Add Address" : "Edit Address" }}
                    </h4>
                  </div>
                  <div class="col-lg-4">
                    <button
                    *ngIf="use_my_location_button"
                      class="btn-style-bg btn-main-add m-b10 float-right"
                      (click)="useMyLocation()"
                    >
                      <i class="far fa-map-marker-alt"></i>
                      Use My Location
                    </button>
                  </div>
                  <div class="col-lg-4">
                    <button
                      class="btn btn-style-bg bg-transparent text-uppercase"
                      (click)="viewAllAddresses()"
                    >
                      View All Address
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                    required="required"
                  />
                  <label for="input" class="control-label">Name</label
                  ><i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.name.errors"
                  >
                    <div *ngIf="f.name.errors.required">Name is required</div>
                    <div *ngIf="f.name.errors.pattern">
                      Enter only characters
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="mobile"
                    [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                    minlength="10"
                    maxlength="10"
                    required="required"
                  />
                  <label for="input" class="control-label">Mobile</label
                  ><i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.mobile.errors"
                  >
                    <div *ngIf="f.mobile.errors.required">
                      Mobile is required
                    </div>
                    <div *ngIf="f.mobile.errors.pattern">Enter only number</div>
                    <div *ngIf="f.mobile.errors.minlength">
                      Mobile must be at least 10 digit
                    </div>
                    <div *ngIf="f.mobile.errors.maxlength">
                      Mobile must be at least 10 digit
                    </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <textarea
                  *ngIf="!google_auto_suggestions"
                    formControlName="address"
                    placeholder="Enter address"
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                    required="required"
                  ></textarea>
                  <textarea
                  *ngIf="google_auto_suggestions"
                    formControlName="address"
                    ngx-google-places-autocomplete
                    [options]="options"
                    placeholder="Enter address"
                    #placesRef="ngx-places"
                    (onAddressChange)="handleAddressChange($event)"
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                    required="required"
                  ></textarea>
                  <!-- <label for="textarea" class="control-label"
                    >Address(House No, Building, Street, Area)*</label
                  > -->
                  <i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.address.errors"
                  >
                    <div *ngIf="f.address.errors.required">
                      Address is required
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <input
                      type="text"
                      formControlName="pincode"
                      [ngClass]="{
                        'is-invalid': submitted && f.pincode.errors
                      }"
                      minlength="6"
                      maxlength="6"
                      required="required"
                    />
                    <label for="input" class="control-label">Pincode</label
                    ><i class="bar"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && f.pincode.errors"
                    >
                      <div *ngIf="f.pincode.errors.required">
                        pincode is required
                      </div>
                      <div *ngIf="f.pincode.errors.pattern">
                        Enter only number
                      </div>
                      <div *ngIf="f.pincode.errors.minlength">
                        pincode must be at least 6 digit
                      </div>
                      <div *ngIf="f.pincode.errors.maxlength">
                        pincode must be at least 6 digit
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6">
                    <select
                      id="state"
                      name="state_id"
                      formControlName="state_id"
                      [ngClass]="{
                        'is-invalid': submitted && f.state_id.errors
                      }"
                    >
                      <option value="" selected disabled="disabled">
                        select state
                      </option>
                      <option
                        *ngFor="let state of states"
                        value="{{ state.id }}"
                      >
                        {{ state.name }}
                      </option>
                    </select>
                    <i class="bar pb-1"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && f.state_id.errors"
                    >
                      <div *ngIf="f.state_id.errors.required">
                        State is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    value=""
                    formControlName="locality"
                    [ngClass]="{ 'is-invalid': submitted && f.locality.errors }"
                    required="required"
                  />
                  <label for="input" class="control-label">Locality/ Town</label
                  ><i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.locality.errors"
                  >
                    <div *ngIf="f.locality.errors.required">
                      Locality/Town is required
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    value=""
                    formControlName="city"
                    [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                    required="required"
                  />
                  <label for="input" class="control-label">City/ District</label
                  ><i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.city.errors"
                  >
                    <div *ngIf="f.city.errors.required">
                      City/District is required
                    </div>
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <div class="col-5">
                    <label
                      class="control-label col-12 address-label pr-0"
                      style="top: 0"
                      >Type of Address</label
                    >
                  </div>
                  <div class="form-radio col-7 mt-0">
                    <div class="radio d-flex flex-row">
                      <label class="pr-2">
                        <input
                          type="radio"
                          name="addr_type"
                          value="h"
                          [(ngModel)]="addr_type"
                          formControlName="addr_type"
                          [ngClass]="{
                            'is-invalid': submitted && f.addr_type.errors
                          }"
                        /><i class="helper"></i>Home
                      </label>
                      <label class="pr-2">
                        <input
                          type="radio"
                          name="addr_type"
                          value="w"
                          [(ngModel)]="addr_type"
                          formControlName="addr_type"
                          [ngClass]="{
                            'is-invalid': submitted && f.addr_type.errors
                          }"
                        /><i class="helper"></i>Office
                      </label>
                      <label>
                        <input
                          type="radio"
                          name="addr_type"
                          value="o"
                          [(ngModel)]="addr_type"
                          formControlName="addr_type"
                          [ngClass]="{
                            'is-invalid': submitted && f.addr_type.errors
                          }"
                        /><i class="helper"></i>Other
                      </label>
                    </div>
                    <input
                      type="hidden"
                      name="addr_type"
                      formControlName="addr_type"
                      [ngClass]="{
                        'is-invalid': submitted && f.addr_type.errors
                      }"
                    /><i class="helper"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && f.addr_type.errors"
                    >
                      <div *ngIf="f.addr_type.errors.required">
                        Select Type of Address
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-sm-12 mt-1 mb-3 col-xs-12"
                    id="textboxes"
                    *ngIf="addr_type == 'o'"
                  >
                    <input
                      type="text"
                      required="required"
                      formControlName="addr_other"
                      [ngClass]="{
                        'is-invalid': submitted && f.addr_other.errors
                      }"
                    />
                    <label for="input" class="control-label">Address Type</label
                    ><i class="bar"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && f.addr_other.errors"
                    >
                      <div *ngIf="f.addr_other.errors.required">
                        Other Address type is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="button-container">
                  <button
                    type="submit"
                    class="btn btn-style-bg text-uppercase"
                    [disabled]="addressButtonLoading"
                    (click)="onSubmit($event)"
                  >
                    <span
                      *ngIf="addressButtonLoading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span
                    ><span>Save</span>
                  </button>
                </div>
              </form>
              <!-- Add Address Form -->
            </div>
            <p
              style="text-align: center; color: #eb6083; font-size: 12px"
              *ngIf="!isUserDetailsSet"
            >
              *Please Complete Your Profile Details.
            </p>
          </div>
          <div class="">
            <div class="row">
              <div class="col-lg-12 px-0 m-t20 m-l5">
                <!-- <h3 class="title-info blinker" style="text-align: center">
                  {{
                    address != null && !pincodeError
                      ? "Delivery Estimates"
                      : "Add ADDRESS to continue further!"
                  }}
                </h3> -->
                <h3
                  class="title-info"
                  *ngIf="address != null"
                  style="text-align: center"
                >
                  Delivery Estimates
                </h3>
                <h3
                  class="title-info blinker"
                  *ngIf="address == null && !pincodeError"
                  style="text-align: center"
                >
                  Add ADDRESS to continue further!
                </h3>
              </div>
            </div>
            <div class="row" *ngIf="address != null">
              <div
                class="col-lg-6 m-b10 px-0"
                *ngFor="let product of cartProducts; let i = index"
              >
                <div class="row v-row estimate-delivery">
                  <div class="col-xs-2 pr-0 col-lg-2 col-sm-2">
                    <img
                      src="{{ product.thumbnail_path }}"
                      (error)="onImgError($event)"
                    />
                  </div>
                  <div class="col-xs-9 col-lg-10 col-sm-9">
                    <p *ngIf="!product.pincodeError">
                      Estimated delivered by<span>
                        {{ product.estimatedDelivery }}</span
                      >
                    </p>
                    <p *ngIf="product.pincodeError">
                      Product Can't be delivered.
                    </p>
                  </div>

                  <i
                    class="far fa-times remove-checkout"
                    (click)="deleteCartProduct(product.product_variant_id)"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 orderSummary h-100 mt-3" id="viewdetails">
          <div class="row m-b20">
            <ul class="steps-list">
              <li>Shopping Cart</li>
              <li>Checkout</li>
              <li>Payment</li>
            </ul>
          </div>
          <ul>
            <li>
              <h3 class="title-info">Order Summary</h3>
            </li>
            <li>
              <span>Total MRP</span
              ><label>&#x20B9; {{ totalMrp | number: "1.0-2" }}</label>
            </li>
            <!-- <li class="discount-price" *ngIf="totalSellingPrice != totalMrp">
              <span>Discount</span
              ><label>&#x20B9; {{ totalSellingPrice }}</label>
            </li> -->
            <li class="discount-price" *ngIf="mrpDiscount > 0">
              <span>Mrp Discount</span
              ><label>&#x20B9; {{ mrpDiscount | number: "1.0-2" }}</label>
            </li>
            <li class="discount-price" *ngIf="couponDiscount > 0">
              <span>Coupon Discount</span
              ><label>&#x20B9; {{ couponDiscount | number: "1.0-2" }}</label>
            </li>
            <li *ngIf="coupon != null">
              <span>Coupon</span>
              <label
                ><a class="anchor-top">{{ coupon.code }}</a></label
              >
            </li>
            <li>
              <span style="font-weight: bold">SubTotal</span
              ><label style="font-weight: bold"
                >&#x20B9; {{ totalSellingPrice | number: "1.0-2" }}</label
              >
            </li>

            <!-- <li><span>Applicable GST</span><label>&#x20B9; 2,999.00</label></li> -->

            <li *ngIf="convenience_fee > 0">
              <span>Convenience Fee</span>
              <label
                >&#x20B9; {{ convenience_fee }}
                <a
                  href="javascript:void(0)"
                  ngbPopover="Text Text Text"
                  [openDelay]="100"
                  popoverClass="class-convenience"
                  triggers="mouseenter:mouseleave"
                >
                  <i class="far fa-info-circle convenience-icon"></i> </a
              ></label>
            </li>
            <li class="delivery">
              <span>Delivery</span
              ><label>{{
                handling_charges == 0 ? "Free" : handling_charges
              }}</label>
            </li>
            <label class="label-free m-none m-t10"
              ><span>Free Delivery</span>
              <p>For Orders Above 499</p>
            </label>
            <li>
              <span>Order Total</span
              ><label>&#x20B9; {{ totalOrderAmount | number: "1.0-2" }}</label>
            </li>
          </ul>
          <h5
            class="cod-message"
            *ngIf="cod_enable != -1 && cod_enable != null"
          >
            Please note that some of the products are not eligible for COD.
          </h5>
          <button
            type="submit"
            class="btn btn-style-bg text-uppercase m-r10 m-b10 m-none"
            [routerLink]="
              !pincodeError && isUserDetailsSet && address != null
                ? ['/shop/payment']
                : []
            "
            (click)="checkErrors()"
            [disabled]="address == null || pincodeError || !isUserDetailsSet"
          >
            MAKE PAYMENT
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- Skeleton-Loader -->
  <section class="p-a0">
    <div class="container" style="margin-top: 25px" *ngIf="loading">
      <div class="row">
        <div class="col-lg-7 cart-leftside mt-3 pt-0">
          <div class="row ab-block address-block-checkout">
            <ng-container>
              <h3 class="title-info">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '140px',
                    height: '15px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
              <h3 class="name">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '50px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
              <p class="address">
                <ngx-skeleton-loader
                  count="4"
                  [theme]="{
                    width: '180px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </p>
              <label class="contact-no">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
              <span class="address-type">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '50px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
            </ng-container>
            <hr />
            <button class="btn py-0">
              <ngx-skeleton-loader
                [theme]="{
                  width: '100%',
                  height: '30px',
                  margin: '0px',
                  'border-radius': '5px'
                }"
              >
              </ngx-skeleton-loader>
            </button>
          </div>
          <div class="">
            <div class="row">
              <div class="col-lg-12 px-0 m-t20 m-l5">
                <h3 class="title-info" style="text-align: center">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '140px',
                      height: '20px',
                      margin: '0px',
                      'border-radius': '0px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 m-b10 px-0">
                <div class="row v-row estimate-delivery">
                  <div class="col-xs-2 pr-0 col-lg-2 col-sm-2">
                    <ngx-skeleton-loader
                      appearance="circle"
                      [theme]="{
                        width: '45px',
                        height: '55px',
                        'border-radius': '0px',
                        'margin-bottom': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </div>
                  <div class="col-xs-9 col-lg-10 col-sm-9">
                    <p>
                      <ngx-skeleton-loader
                        [theme]="{
                          width: '200px',
                          height: '10px',
                          margin: '0px',
                          'border-radius': '0px'
                        }"
                      >
                      </ngx-skeleton-loader>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 orderSummary h-100 mt-3">
          <div class="row m-b20">
            <ul class="steps-list">
              <li>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '50px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </li>
              <li>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '50px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </li>
              <li>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '50px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </li>
            </ul>
          </div>
          <ul>
            <li>
              <h3 class="title-info">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100px',
                    height: '20px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '80px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="cart-footer dt-none" *ngIf="!loading">
    <div class="container">
      <div class="row cart-bottom v-row">
        <div class="col-xs-5 col-sm-5 pr-0">
          <span>Rs. {{ totalOrderAmount }}</span>
          <a class="anchor" (click)="scroll($event)">View Details</a>
        </div>
        <div class="col-xs-7 col-sm-7 text-center">
          <button
            type="submit"
            class="btn btn-style-bg text-uppercase"
            [routerLink]="
              !pincodeError && isUserDetailsSet && address != null
                ? ['/shop/payment']
                : []
            "
            (click)="checkErrors()"
            [disabled]="address == null || pincodeError || !isUserDetailsSet"
          >
            MAKE PAYMENT
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer class="p-none"></app-footer>
