.address-block {
}

.ab-block {
  background-color: #fff;
  border: 1px solid transparent;
  padding: 12px 17px 12px;
  margin-bottom: 0px;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
  position: relative;
}
.name {
  margin-top: 0px;
  margin-bottom: 3px;
  line-height: 1;
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  font-weight: 500;
}
.blinker {
  animation: blinker 1s linear infinite;

  color: red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.cod-message {
  color: #b32f47;
  background: #b32f473d;
  border-radius: 7px;
  font-size: 12px;
  padding: 7px 7px;
  text-align: left;
  line-height: 16px;
}
.contact-no span {
  font-size: 12px;
  line-height: 1.42857;
  color: #3f414d;
  margin-bottom: 0;
  padding: 0;
  font-weight: 500;
  padding-right: 8px;
}
.ab-block button {
  font-size: 11px !important;
  width: 100%;
}

.address-type {
  position: absolute;
  right: 6px;
  font-size: 11px;
  padding: 0px 7px;
  border-radius: 4px;
  top: 12px;
  line-height: 13px;
  color: #eb6083;
  border: 1px solid #eb6083;
}
.address {
  font-size: 12px;
  line-height: 1.42857;
  color: #3f414d;
  margin-bottom: 0;
  padding: 0;
}
.address-block-checkout h3 {
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: 600;
}
.contact-no {
  margin-top: 0px;
  margin-bottom: 1px;
  line-height: 1;
  width: 100%;
  height: auto;
  font-size: 11px;
  line-height: 1px;
  color: #000;
  font-weight: 500;
  font-weight: 600;
}

.orderSummary {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0px;
  padding: 15px 15px 0px;
  margin-bottom: 7px;
  position: relative;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
}

.orderSummary li {
  list-style-type: none;
  position: relative;
  line-height: 20px;
}
.orderSummary li label {
  float: right;
  position: absolute;
  right: 0;
  font-size: 11px;
}
.orderSummary li:first-child {
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.orderSummary li:last-child {
  font-size: 13px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.orderSummary li:last-child label,
.orderSummary li:last-child span {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}
.discount-price label,
.delivery label {
  color: #e75e83;
}
.orderSummary ul {
  margin-bottom: 0;
}

.orderSummary span {
  margin: auto;
  color: #282c3f;
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 16px;
}
.title-info {
  font-size: 12px;
  margin-bottom: 11px;
  font-weight: 600;
}
.estimate-delivery {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;

  margin: 5px;

  padding: 5px 0px 5px;
  margin-bottom: 1px;
  position: relative;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
}

.estimate-delivery p {
  font-size: 12px;
  margin: 0;
}
.estimate-delivery span {
  font-size: 11px;
  color: #eb6083;
  font-weight: 600;
  padding-left: 6px;
}
.cart-footer {
  padding-bottom: 10px !important;
  transition-duration: 500ms;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  right: 0;
  z-index: 1;
  border: none;
  border-top: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0px #9ccae8;
}
.cart-bottom button {
  width: 100%;
}

.cart-bottom span {
  margin: 0;
  text-align: left;
  line-height: 13px;
  font-size: 15px;
}
.cart-bottom a {
  display: block;
  font-size: 14px;
  color: #eb6083;
  line-height: 11px;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
 


  .cart-button li:first-child {
    width: 10% !important;
  }
  .p-none {
    display: none;
  }
  .product-value {
    margin-bottom: 0;
    margin: 0 !important;
  }
  .product-price {
    position: relative !important;
  }
  .orderSummary {
    margin: 1% 0% !important;
  }
  .delivery-date {
    display: none;
  }

  .cart-page {
    background: #f0f4f7 !important;
  }
  .cart-button li:nth-child(2) {
    width: 45% !important;
  }
  .cart-button li:last-child {
    width: 45% !important;
  }
}
.cart-slider p {
  font-size: 13px;
  line-height: 18px;
  background: #e75e83;
  color: #fff;
  margin-top: 10px;
  padding: 6px 6px;
  margin-bottom: 0;
}
.cart-slider .Bold {
  display: inline-block;
  margin-left: 1px;
  color: #e75e83;
  font-weight: 600;
}
.cart-leftside {
  padding: 3% 4%;
  border-right: 1px solid #ccc;
}
.cart-pagetitle h3 {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: #696b79;
}
.css-1ezbckq {
  fill: #fff;
}
.cart-leftside {
  border-right: 1px solid #ccc;
}
.steps-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.steps-list li {
  display: inline-block;
  position: relative;
  padding-left: 0;
  font-size: 13px;
  border: none !important;
  margin: 0 !important;
}
.label-free span {
  font-size: 10px !important;
  border: none;
  padding: 6px 8px !important;
  background-color: #e75e83 !important;
  color: #fff !important;
  border-radius: 0;
  letter-spacing: 0.9px;
  font-weight: 600 !important;
  text-transform: uppercase;
}
.label-free {
  background: #e3e9f5;
  margin-top: 11px;
  font-size: 11px;
  width: 100%;
  padding: 0px 0px 0px !important;
}

.label-free p {
  display: unset;
  margin: 0;
  font-size: 11px;
  padding-left: 17px;
}

.steps-list li:first-child,
.steps-list li:nth-child(2) {
  color: #e75e83;
}
.steps-list li::after {
  content: "........";
  position: relative;
  bottom: 4px;
  left: 0px;
  width: 100%;
  height: 100%;
  right: 0;
  margin: 0 auto;
  padding: 0px 12px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.steps-list li:last-child::after {
  content: none;
}
.cart-block {
  margin-bottom: 10px;
}
.orderSummary {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 1% 4%;
  padding: 15px 15px 0px;
  margin-bottom: 7px;
  position: relative;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
  display: inline-table;
}
.addtowishlistbtn {
  display: block;
  text-decoration: none;
  background-color: #fff;
  color: inherit;
  padding: 12px;
  position: relative;
  font-weight: 600;
  padding: 3px 12px 3px 16px;
  text-align: center;
  margin-top: 16px;
  width: 100%;
  font-size: 12px;
  color: #696b79;
  border: 1px solid #eaeaec;
  border-radius: 4px;
}
.orderSummary button {
  width: 100%;
}
.shopping-block {
  background-color: #fff;
  border-radius: 3px;
  margin: 1% 0 3% 0;
  padding: 15px 0px 0px;
  position: relative;
  border: 1px solid #ccc;
  border: 1px solid #cac7f6 !important;
  box-shadow: 0 1px 3px 0 #9ccae8;
}
.cart-button li:last-child {
  border-right: 0;
}
.product-price {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.shopping-block p {
  font-size: 9px;
  width: 100%;
  color: #e75d81;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
  line-height: 15px;
  margin-top: 5px;
  padding: 0;
}
.delivery-date {
  color: #777676;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  right: 14px;
  bottom: 0;
}
.shopping-block h4 {
  font-size: 11px;
  color: #261e1e;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
  font-weight: 500;
}
.shopping-block label {
  font-size: 12px;
  margin: 0;
  color: #939393;
}
.cart-page {
  background: #fff;
}
.shopping-block .product-price li:first-child {
  color: #333;
  font-weight: 700;
  text-align: center;
}
.shopping-block .product-price li {
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 7px;
}
.shopping-block .product-price li:nth-child(2) {
  opacity: 0.4;
  color: #282c3f;
  text-decoration: line-through;
  font-size: 11px;
}
.shopping-block .product-price li:last-child {
  color: #e75d81;
  font-weight: 600;
  font-size: 10px;
  white-space: nowrap;
}
.product-value li {
  list-style-type: none;
  display: inline-flex;
  font-size: 12px;
  margin-right: 7px;
  justify-content: center;
  align-items: center;
}
.product-value {
  margin-bottom: 0;
}
.product-value li span {
  color: #777676;
  font-size: 11px;
  font-weight: 600;
}
.cart-button li {
  list-style-type: none;
  display: inline-block;
  font-weight: 600;
  color: #696b79;
  padding: 2px 9px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
}

.cart-button li:first-child {
  width: auto;
  text-align: center;
  color: #e75e83;
  border-radius: 3px;
  height: 16%;
  text-transform: uppercase;
}

.cart-button li:nth-child(2) {
  width: auto;
  text-transform: uppercase;
}

.cart-button li:last-child {
  width: auto;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  float: right;
}
.cart-button li:last-child span {
  color: #e75e83;
}
.cart-button {
  width: 100%;
  padding: 3px 5px 3px 5px;
  margin: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid #eaeaec;
  margin-top: 10px;
  background: #f2f5fa;
}
.cart-button i {
  font-size: 12px;
  margin-right: 4px;
}

.orderSummary span {
  margin: auto;
  color: #282c3f;
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 16px;
}
.title-info {
  font-size: 16px;
  margin-bottom: 11px;
  font-weight: 600;
}
.orderSummary li {
  list-style-type: none;
  position: relative;
}
.orderSummary li label {
  float: right;
  position: absolute;
  right: 0;
  font-size: 13px;
}
.orderSummary li:first-child {
  font-size: 13px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.orderSummary li:last-child {
  font-size: 13px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.orderSummary li:last-child label,
.orderSummary li:last-child span {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.discount-price label,
.delivery label {
  color: #e75e83;
}
.orderSummary ul {
  margin-bottom: 0;
}

.remove-checkout {
  position: absolute;
  border: 1px solid #e75e83;
  color: #e75e83;
  border-radius: 2px;
  margin-right: 0;
  right: 0;
  top: 0;
  padding: 2px 4px;
  font-size: 10px;
  vertical-align: middle;
  cursor: pointer;
  align-items: center;
  box-shadow: 0 1px 3px 0 #9ccae8;
}

.floating-form {
  width: 320px;
}

/****  floating-Lable style start ****/
.floating-label {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.floating-input,
.floating-select {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-input:focus,
.floating-select:focus {
  outline: none;
  border-bottom: 2px solid #f490a0;
}

.floating-label label {
  color: #999;
  font-size: 0.8rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label,
.floating-input:not(:placeholder-shown) ~ label {
  top: -18px;
  font-size: 0.8rem;
  color: #f490a0;
}

.floating-select:focus ~ label,
.floating-select:not([value=""]):valid ~ label {
  top: -18px;
  font-size: 14px;
  color: #f490a0;
}

/* active state */
.floating-input:focus ~ .bar:before,
.floating-input:focus ~ .bar:after,
.floating-select:focus ~ .bar:before,
.floating-select:focus ~ .bar:after {
  width: 50%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}

/* highlighter */
.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/***   daniel - Fork me friend - style   ***/
.floating-credit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #aaa;
  font-size: 13px;
  font-family: arial, sans-serif;
}
.floating-credit a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.floating-credit a:hover {
  border-bottom: 1px dotted #f8f8f8;
}
.floating-heading {
  position: fixed;
  color: #aaa;
  font-size: 20px;
  font-family: arial, sans-serif;
}
/***  daniel - Fork me friend - style  ***/

.form-radio,
.form-group {
  position: relative;
  margin-top: 0.5rem;
}
.form-help,
.form-radio .form-help,
.form-group .form-help {
  position: absolute;
  width: 100%;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 1.5rem;
  text-align: left;
  color: #333;
  display: block;
  font-size: 12px;
}
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}
.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
}
.radio .helper::before,
.radio .helper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: #f490a0;
  border-color: #f490a0;
}
.radio label:hover .helper {
  color: #f490a0;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #f490a0;
}

.radio {
  margin-bottom: 1rem;
}
.form-radio input {
  width: auto;
  opacity: 1e-8;
  position: absolute;
  left: 0;
}

.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 13px;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input {
  height: 1.9rem;
}

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 0.8rem;
  font-weight: normal;
  transition: all 0.28s ease;
}
@media only screen and (max-width: 767px) and (min-width: 280px) {
  .form-group .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.28s ease;
  }
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.address-block {
  background-color: #fff;
  border: 1px solid transparent;
  padding: 0;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
  // width: 49%;
}

@media (min-width: 768px) {
  .address-block .mark {
    display: inline;
    font-size: 10px;
    margin: 5px 0 0 2px;
    padding: 2px;
    right: 15px;
    min-width: 70px;
    margin-left: 10px;
  }
}
.address-block .mark {
  margin: 2px 10px 0 10px;
  padding: 1px 10px;
  min-width: 0;
  background: #fff;
  border-radius: 2px;
  color: #eb6083;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #eb6083;
  text-align: center;
  line-height: 14px;
  display: inline-block;
  position: relative;
  left: 0;
}

@media only screen and (max-width: 991px) {
  .address-block {
    width: 100%;
    font-size: var(--font-size-xs);
  }
}

.btn-main-add i {
  margin-right: 7px;
}

.btn-address {
  margin: 0;

  border-top: 1px solid #ebebeb;
}

.btn-address li {
  list-style-type: none;
  width: 50%;
  display: inline-block;
}

.btn-address li button {
  letter-spacing: 0;
  width: 100%;
  border-radius: 0;
  color: #fff;
  margin-top: 0;
  font-size: 13px;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 5px;
}

.btn-address li button i {
  margin-right: 7px;
}

.btn-address li button {
  background: transparent;
  color: gray;
  font-size: 13px;
  border: none;
}

.contact-no {
  margin-top: 0;
  margin-bottom: 1px;
  width: 100%;
  height: auto;
  font-size: 11px;
  line-height: 1px;
  color: #000;
  font-weight: 500;
  font-weight: 600;
}
.contact-no span {
  color: #3f414d;
}

.address {
  font-size: 12px;
  line-height: 1.42857;
  color: #3f414d;
  margin-bottom: 0;
  padding: 0;
}

.address-type {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 11px;
  padding: 0 7px;
  border-radius: 4px;
  line-height: 13px;
  color: #eb6083;
  border: 1px solid #eb6083;
}

.btn-modal {
  border: 2px solid #777;
  padding: 1px 10px;
}

/**/
@media screen and (min-width: 1024px) {
  .UserMenu--container__zoaCJ {
    padding: 0;
  }
}

ul {
  list-style-type: none;
}

.profile-Card {
  background: #f5e6e0;
  padding: 16px;
  margin-bottom: 24px;
}

.profile-Card button {
  background-color: transparent;
  border: 1px solid #222;
  color: #222;
  letter-spacing: 1px;
  width: 100%;
  font-size: 13px;
  min-height: 48px;
  padding: 12px;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.menuItem a {
  color: #222;
  display: block;
  font-size: 13px;
  padding: 16px 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.menuItem a .arrowRight {
  height: 16px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

.container main {
  width: calc(100% - 325px);
  margin-left: auto;
}

.breadcrumbs {
  display: block;
  font-size: 1.1rem;
}
.breadcrumbs ol {
  list-style: none;
  display: inline-block;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
ol {
  max-width: 540px;
}
.breadcrumbs ol li {
  display: inline-block;
}
.breadcrumbs ol li > a {
  text-decoration: none;
}
.BodyText-module--small__2SSIP {
  font-size: 1.1rem;
  line-height: 1.45;
}
.BodyText-module--general__2yKZb {
  font-size: 1.3rem;
  line-height: 1.5;
}
.breadcrumbs ol li:not(:last-of-type)::after {
  content: " / ";
  position: relative;
  top: 2px;
}

.address-block .radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #999;
}

.address-block .radio input:checked ~ .helper::before {
  color: #f490a0;
}
.address-block .radio .helper::before,
.radio .helper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  transition: transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}

.address-block .radio input:checked ~ .helper::after {
  transform: scale(0.5);
}
.address-block .radio .helper::after {
  transform: scale(0);
  background-color: #f490a0;
  border-color: #f490a0;
}
.address-block .form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 1.5rem;
  text-align: left;
  color: #333;
  display: block;
  font-size: 12px;
}
.address-block .form-group input:focus,
.address-block .form-group input:valid,
.address-block .form-group input.form-file,
.address-block .form-group input.has-value {
  color: #333;
}

.address-block .form-radio input {
  width: auto;
  opacity: 1e-8;
  position: absolute;
  left: 0;
}
.address-block .form-group input {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none;
}
.address-block .form-group input {
  height: 1.9rem;
}

.address-block .custom-radio {
  position: absolute;
  top: 10px;
}
.border-top {
  border-top: 0.5px solid #ccc;
  margin-top: 18px;
}

.form-radio,
.form-group {
  position: relative;
  margin-top: 2rem;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.checkbox .form-help,
.form-radio .form-help,
.form-group .form-help {
  position: absolute;
  width: 100%;
}
.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}
.form-group select {
  width: 100%;
  font-size: 0.75rem;
  color: #b3b3b3;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 0.8rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #f490a0;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 13px;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #b3b3b3;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #f490a0;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 1.5rem;
  text-align: left;
  color: #333;
  display: block;
  font-size: 12px;
}
.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}
.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
}
.radio .helper::before,
.radio .helper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: #f490a0;
  border-color: #f490a0;
}
.radio label:hover .helper {
  color: #f490a0;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #f490a0;
}

.checkbox {
  margin-bottom: 1rem;
}
.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before,
.checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #f490a0;
  display: block;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}
.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  transform: rotate(-45deg);
}
.checkbox label:hover .helper {
  color: #f490a0;
}
.checkbox input:checked ~ .helper {
  color: #f490a0;
}
.checkbox input:checked ~ .helper::after,
.checkbox input:checked ~ .helper::before {
  opacity: 1;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #e75e83;
  // margin: 3rem 0;
  padding: 0.1rem 0.75rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease,
    box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease,
    box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
  color: #fff;
  position: relative;
  z-index: 1;
}
.button::before {
  content: "";
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
.button:hover {
  color: #337ab7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before,
.button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s,
    -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.button:focus {
  outline: none;
}

.content-div {
  display: flex;
  margin-bottom: 10px;
}
.content-div label {
  padding-left: 0px;
  color: #3e4152;
  margin-bottom: 0;
  //  font-size: 1.1vw;
}
.checkbox[_ngcontent-pju-c339] {
  background: #fff;
  border: #d1d6ee;
  --tick: #fff;
  position: relative;
  padding-left: 0px !important;
  margin-right: 7px;
  margin-top: 2px;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: #fff;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, #d1d6ee);
}
.checkbox svg {
  width: 17px;
  height: 17px;
  display: block;
}

.checkbox input {
  width: 17px;
  height: 17px;
  display: block;
  opacity: 1 !important;
}
.checkbox {
  padding-left: 0 !important;
  margin-top: 2px;
}

#textboxes.close {
  display: none;
}
@media only screen and (min-width: 280px) and (max-width: 767px) {
  .content-div label {
    padding-left: 13px;
    color: #3e4152;
    margin-bottom: 0;
    font-size: 4.2vw !important;
  }
}

/**/
@media screen and (min-width: 1024px) {
  .UserMenu--container__zoaCJ {
    padding: 0;
  }
}

ul {
  list-style-type: none;
}

.profile-Card {
  background: #f5e6e0;
  padding: 16px;
  margin-bottom: 24px;
}

.profile-Card button {
  background-color: transparent;
  border: 1px solid #222;
  color: #222;
  letter-spacing: 1px;
  width: 100%;
  font-size: 13px;
  min-height: 48px;
  padding: 12px;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.menuItem a {
  color: #222;
  display: block;
  font-size: 13px;
  padding: 16px 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.menuItem a .arrowRight {
  height: 16px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

.container main {
  width: calc(100% - 325px);
  margin-left: auto;
}
.font-16 {
  font-size: 16px;
}
.font-13 {
  font-size: 13px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.line-16 {
  line-height: 16px;
}

.breadcrumbs {
  display: block;
  font-size: 1.1rem;
}
.breadcrumbs ol {
  list-style: none;
  display: inline-block;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
ol {
  max-width: 540px;
}
.breadcrumbs ol li {
  display: inline-block;
}
.breadcrumbs ol li > a {
  text-decoration: none;
}
.BodyText-module--small__2SSIP {
  font-size: 1.1rem;
  line-height: 1.45;
}
.BodyText-module--general__2yKZb {
  font-size: 1.3rem;
  line-height: 1.5;
}
.breadcrumbs ol li:not(:last-of-type)::after {
  content: " / ";
  position: relative;
  top: 2px;
}
.add-address {
  width: 100%;
}
.estimate-delivery img {
  height: 47px;
  width: 100%;
}
.w-100p {
  width: 100%;
}
