<div class="bg-light-blueshade">
  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>

  <section [ngClass]="{ 'py-0': isMobile }">
    <div class="" [ngClass]="{ container: isDesktop }">
      <div class="" [ngClass]="{ row: isDesktop }">
        <div class="col-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div [ngClass]="{ 'col-md-9': isDesktop }" class="">
          <section
            class="mb-3 pt-1 mt-2 bg-white"
            [ngClass]="{ 'mx-auto pt-1 pt-3 w-75': isDesktop }"
          >
            <div
              [ngClass]="{ 'px-4': isDesktop, container: isMobile }"
              class=""
              style="margin-bottom: 25px"
            >
              <form [formGroup]="addAddressform" (ngSubmit)="onSubmit()">
                <div class="row align-items-center">
                  <div class="col-lg-4">
                    <h4 class="font-16 font-weight-600">
                      {{ this.headername }}
                    </h4>
                  </div>

                  <div
                    class="col-lg-8 d-flex"
                    [ngClass]="{
                      'justify-content-center': isMobile,
                      'justify-content-end': isDesktop
                    }"
                  >
                    <button
                    *ngIf="use_my_location_button"
                      class="btn-style-bg btn-main-add m-b10 mr-3"
                      (click)="useMyLocation()"
                      type="button"
                    >
                      <i class="far fa-map-marker-alt"></i>
                      Use My Location
                    </button>
                    <button
                      class="btn btn-style-bg bg-transparent text-uppercase"
                      [routerLink]="['/myaccount/addresses']"
                      type="button"
                    >
                      View All Address
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                    required="required"
                  />
                  <label for="input" class="control-label">Name</label
                  ><i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.name.errors"
                  >
                    <div *ngIf="f.name.errors.required">Name is required</div>
                    <div *ngIf="f.name.errors.pattern">
                      Enter only characters
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="mobile"
                    [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                    minlength="10"
                    maxlength="10"
                    required="required"
                  />
                  <label for="input" class="control-label">Mobile</label
                  ><i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.mobile.errors"
                  >
                    <div *ngIf="f.mobile.errors.required">
                      Mobile is required
                    </div>
                    <div *ngIf="f.mobile.errors.pattern">Enter only number</div>
                    <div *ngIf="f.mobile.errors.minlength">
                      Mobile must be at least 10 digit
                    </div>
                    <div *ngIf="f.mobile.errors.maxlength">
                      Mobile must be at least 10 digit
                    </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <textarea
                  *ngIf="!google_auto_suggestions"
                    formControlName="address"
                    placeholder="Enter address"
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                    required="required"
                  ></textarea>
                  <textarea
                  *ngIf="google_auto_suggestions"
                    formControlName="address"
                    ngx-google-places-autocomplete
                    [options]="options"
                    placeholder="Enter address"
                    #placesRef="ngx-places"
                    (onAddressChange)="handleAddressChange($event)"
                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                    required="required"
                  ></textarea>
                  <!-- <label for="textarea" class="control-label"
                    >Address(House No, Building, Street, Area)*</label
                  > --><i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.address.errors"
                  >
                    <div *ngIf="f.address.errors.required">
                      Address is required
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <input
                      type="text"
                      formControlName="pincode"
                      [ngClass]="{
                        'is-invalid': submitted && f.pincode.errors
                      }"
                      minlength="6"
                      maxlength="6"
                      required="required"
                    />
                    <label for="input" class="control-label">Pincode</label
                    ><i class="bar"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && f.pincode.errors"
                    >
                      <div *ngIf="f.pincode.errors.required">
                        pincode is required
                      </div>
                      <div *ngIf="f.pincode.errors.pattern">
                        Enter only number
                      </div>
                      <div *ngIf="f.pincode.errors.minlength">
                        pincode must be at least 6 digit
                      </div>
                      <div *ngIf="f.pincode.errors.maxlength">
                        pincode must be at least 6 digit
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-6">
                    <select
                      id="state"
                      name="state_id"
                      formControlName="state_id"
                      [ngClass]="{
                        'is-invalid': submitted && f.state_id.errors
                      }"
                    >
                      <option value="" selected disabled="disabled">
                        select state
                      </option>
                      <option
                        *ngFor="let state of states"
                        value="{{ state.id }}"
                      >
                        {{ state.name }}
                      </option>
                    </select>
                    <i class="bar pb-1"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && f.state_id.errors"
                    >
                      <div *ngIf="f.state_id.errors.required">
                        State is required
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    value=""
                    formControlName="locality"
                    [ngClass]="{ 'is-invalid': submitted && f.locality.errors }"
                    required="required"
                  />
                  <label for="input" class="control-label">Locality/ Town</label
                  ><i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.locality.errors"
                  >
                    <div *ngIf="f.locality.errors.required">
                      Locality/Town is required
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    value=""
                    formControlName="city"
                    [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                    required="required"
                  />
                  <label for="input" class="control-label">City/ District</label
                  ><i class="bar"></i>
                  <div
                    class="help-block invalid-feedback"
                    *ngIf="submitted && f.city.errors"
                  >
                    <div *ngIf="f.city.errors.required">
                      City/District is required
                    </div>
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <div class="col-5">
                    <label
                      class="control-label col-12 address-label pr-0"
                      style="top: 0"
                      >Type of Address</label
                    >
                  </div>
                  <div class="form-radio col-7 mt-0">
                    <div class="radio d-flex flex-row">
                      <label class="pr-2">
                        <input
                          type="radio"
                          name="addr_type"
                          value="h"
                          [(ngModel)]="addr_type"
                          formControlName="addr_type"
                          [ngClass]="{
                            'is-invalid': submitted && f.addr_type.errors
                          }"
                        /><i class="helper"></i>Home
                      </label>
                      <label class="pr-2">
                        <input
                          type="radio"
                          name="addr_type"
                          value="w"
                          [(ngModel)]="addr_type"
                          formControlName="addr_type"
                          [ngClass]="{
                            'is-invalid': submitted && f.addr_type.errors
                          }"
                        /><i class="helper"></i>Office
                      </label>
                      <label>
                        <input
                          type="radio"
                          name="addr_type"
                          value="o"
                          [(ngModel)]="addr_type"
                          formControlName="addr_type"
                          [ngClass]="{
                            'is-invalid': submitted && f.addr_type.errors
                          }"
                        /><i class="helper"></i>Other
                      </label>
                    </div>
                    <input
                      type="hidden"
                      name="addr_type"
                      formControlName="addr_type"
                      [ngClass]="{
                        'is-invalid': submitted && f.addr_type.errors
                      }"
                    /><i class="helper"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && f.addr_type.errors"
                    >
                      <div *ngIf="f.addr_type.errors.required">
                        Select Type of Address
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-sm-12 mt-1 mb-3 col-xs-12"
                    id="textboxes"
                    *ngIf="addr_type == 'o'"
                  >
                    <input
                      type="text"
                      required="required"
                      formControlName="addr_other"
                      [ngClass]="{
                        'is-invalid': submitted && f.addr_other.errors
                      }"
                    />
                    <label for="input" class="control-label">Address Type</label
                    ><i class="bar"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && f.addr_other.errors"
                    >
                      <div *ngIf="f.addr_other.errors.required">
                        Other Address type is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="content-div ng-star-inserted">
                  <label class="checkbox path">
                    <input
                      type="checkbox"
                      name="is_default"
                      formControlName="is_default"
                      (change)="FieldsChange($event)"
                    />

                    <svg viewBox="0 0 21 21">
                      <path
                        d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                      ></path>
                    </svg>
                  </label>
                  <label class="font-13">
                    Make this as my default address</label
                  >
                </div>
                <div class="button-container">
                  <button
                    type="submit"
                    class="btn btn-style-bg text-uppercase"
                    [disabled]="loading || addAddressform.invalid"
                  >
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span
                    ><span>Save</span>
                  </button>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
