.support-section .title-info
{
  font-weight: 600;
  color: #273647;
  z-index: 1;
  position: relative;
}


.support-section 
{
    position:relative;
}
.support-section .support-des
{
  text-align: center;
  margin: 26px;
  font-size: 14px;

}
.support-section::before
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#f0f4f7;
  content:'';
}

p {
    font-size: 14px !important;
}

p label
{
    margin: 0;
    font-weight: 600;
    // color: #d25a7e;
}

li 
{
    color: #707b8e;
    font-size: 14px;
}
li label
{
    margin: 0;
    font-weight: 600;
    // color: #d25a7e;
}
.address p
{
    font-size: 12px !important;
    font-weight: 600;
    /* display: inline-block; */
    width: 160px;
    text-transform: capitalize;
}
.address label
{
    color:#e75e83
}