<div class="dashboard-page bg-light-blueshade">
  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>
  <section [ngClass]="{ 'py-0': isMobile }">
    <div class="" [ngClass]="{ container: isDesktop }">
      <div class="" [ngClass]="{ row: isDesktop }">
        <div class="col-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div [ngClass]="{ 'col-md-9': isDesktop }" class="help1">
          <div class="bg-white deskdash-breadcrumbs m-none  mb-3">
            <h4 class="font-16 font-weight-600">Support</h4>
          </div>
          <div class="">
            <section class="support-section p-a60">
              <div class="container">
                <h5 class="title-info text-center">Hello, How Can we help?</h5>
                <div class="row">
                  <div class="col-sm-12 col-lg-8 offset-lg-2">
                    <div class="subscribe_now">
                      <form class="search-faq">
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            name="faqSearch"
                            placeholder="Ask a Question"
                            [(ngModel)]="searchText"
                          />
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                              <i class="far fa-search"></i>
                            </button>
                          </span>
                        </div>
                      </form>
                    </div>
                    <p class="support-des">
                      Or choose a category to quicky find the help you need
                    </p>
                  </div>
                </div>
                <div></div>
              </div>
            </section>
            <section class="faq-section bg-white pb-0" *ngIf="!loading">
              <div class="container p-t50">
                <div class="row">
                  <mat-tab-group class="support-tabs" mat-align-tabs="center">
                    <mat-tab *ngFor="let faq of faqData | filter: searchText">
                      <ng-template mat-tab-label>
                        <div class="">
                          <div class="faq-img">
                            <img src="{{ faq.icon }}" />
                          </div>
                          <h3>{{ faq.faq }}</h3>
                        </div>
                      </ng-template>
                      <div class="m-t20 tabs-content">
                        <h3>{{ faq.faq }}</h3>
                        <mat-accordion class="example-headers-align">
                          <mat-expansion-panel
                            *ngFor="let qa of faq.content; first as isFirst"
                          >
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{ qa.question }}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{ qa.ans }}</p>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
            </section>

            <!-- Skeleton-Loader -->
            <section class="faq-section bg-white" *ngIf="loading">
              <div class="container p-t50 p-b30">
                <div class="row">
                  <mat-tab-group
                    class="support-tabs align-items-center"
                    mat-align-tabs="center"
                  >
                    <mat-tab *ngFor="let item of [1, 2, 3, 4]">
                      <ng-template mat-tab-label>
                        <div class="">
                          <div
                            class="d-flex align-items-center justify-content-center py-0"
                          >
                            <ngx-skeleton-loader
                              appearance="circle"
                              [theme]="{
                                width: '50px',
                                height: '50px',
                                margin: '0px'
                              }"
                            >
                            </ngx-skeleton-loader>
                            <!-- <img src="assets/images/icons/bestprice.png"> -->
                          </div>
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '100px',
                              'border-radius': '0',
                              height: '15px',
                              margin: '0px'
                            }"
                          >
                          </ngx-skeleton-loader>
                        </div>
                      </ng-template>
                      <div class="m-t20 tabs-content">
                        <h3>
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '100px',
                              'border-radius': '0',
                              height: '15px',
                              margin: '0px'
                            }"
                          >
                          </ngx-skeleton-loader>
                        </h3>
                        <mat-accordion
                          class="example-headers-align"
                          *ngFor="let item of [1, 2, 3, 4]"
                        >
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <ngx-skeleton-loader
                                  [theme]="{
                                    width: '100px',
                                    'border-radius': '0',
                                    height: '15px',
                                    margin: '0px'
                                  }"
                                >
                                </ngx-skeleton-loader>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                              <ngx-skeleton-loader
                                count="4"
                                [theme]="{
                                  width: '300px',
                                  'border-radius': '0',
                                  height: '12px',
                                  margin: '0px'
                                }"
                              >
                              </ngx-skeleton-loader>
                            </p>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-section p-a60 pt-2 bg-white" *ngIf="!loading">
    <div class="container">
      <h5 class="title-info text-center">You still have a question?</h5>
      <p>
        If you cannot find answer to your question in our Faq , You can always
        contact us, we will answer to you shortly
      </p>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 m-t20">
          <div class="contact-block">
            <div class="faq-img">
              <i class="fal fa-comment-alt-smile"></i>
            </div>
            <h3>
              <a
                target="_blank"
                href="https://tawk.to/chat/5d9f447df82523213dc6a1f5/default"
                >Chat With US</a
              >
            </h3>
            <p>we are always happy to help</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 m-t20">
          <div class="contact-block">
            <div class="faq-img">
              <i class="fal fa-headset"></i>
            </div>
            <h3><a href="tel:040-418-91487">040-418-91487</a></h3>
            <p>we are always happy to help</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-6 offset-xs-3 m-t20">
          <div class="contact-block">
            <div class="faq-img">
              <i class="fal fa-envelope"></i>
            </div>
            <h3>
              <a target="_blank" href="mailto:wecare@fabpik.in"
                >wecare@fabpik.in</a
              >
            </h3>
            <p>The Best way to help faster</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skeleton-Loader -->
  <section class="contact-section p-a60 bg-white" *ngIf="loading">
    <div class="container">
      <h5 class="title-info text-center">
        <ngx-skeleton-loader
          [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }"
        >
        </ngx-skeleton-loader>
      </h5>
      <p>
        <ngx-skeleton-loader
          count="3"
          [theme]="{
            width: '100%',
            'border-radius': '0',
            height: '10px',
            margin: '0px'
          }"
        >
        </ngx-skeleton-loader>
      </p>
      <div class="row justify-content-center">
        <div
          class="col-lg-4 col-md-4 col-sm-6 col-xs-6 m-t20"
          *ngFor="let one of [1, 2, 3]"
        >
          <div class="contact-block">
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{ width: '50px', height: '50px', margin: '0px' }"
            >
            </ngx-skeleton-loader>
            <h3 class="my-0">
              <ngx-skeleton-loader
                [theme]="{ width: '70%', 'border-radius': '0', height: '10px' }"
              >
              </ngx-skeleton-loader>
            </h3>
            <p>
              <ngx-skeleton-loader
                count="2"
                [theme]="{
                  width: '100%',
                  'border-radius': '0',
                  height: '10px',
                  margin: '0px'
                }"
              >
              </ngx-skeleton-loader>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
