.search-faq {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    border-radius:6px;
    &:focus {
      outline: none;
    }
    .form-control {
    
      &:focus {
        box-shadow: none;
      }
    }
    input {
        height: 35px;
        background: #fff;
        font-size: 12px;
        border: 1px solid #cac7f6;
        border-radius: 5px;
    }
    button {
        border: none;
        height: 36px;
        color: #e75e83 !important;
        border-radius: 0;
        // width: 68px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        right: 0;
      &:hover, &:focus, &:active, &:visited {
        color: #fff;
     
        outline: none;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
        &:before {
         
          transition: all ease 0.3s;
          -webkit-transition: all ease 0.3s;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -ms-transition: all ease 0.3s;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
     
        width: 100%;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
    }
    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
      z-index: 2;
      margin-left: 0px;
    }
  }

  .support-section .title-info
  {
    font-weight: 600;
    color: #273647;
    z-index: 1;
    position: relative;
  }


  .support-section 
  {
      position:relative;
  }
  .support-section .support-des
{
    text-align: center;
    margin: 26px;
    font-size: 14px;

}
.support-section::before
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#f0f4f7;
    content:'';
}
 .faq-img  {
    width: 50px;
    height: 50px;
    background: #f6f6f6;
    border-radius: 50%;
    line-height: 50px;
    margin-right: 0;
    vertical-align: middle;
    align-items: center;
    box-shadow: 0 1px 3px 0 #9ccae8;
    justify-content: center;
    margin: 0 auto;
}
.faq-img  img
{
    width: 35px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.faq-section
{
    margin-top: -128px;
}
.tabs-content
{
    width: 80%;
    margin: 5% auto;
}
.contact-section
{
    background:#f0f4f7;
}
.contact-section .title-info
{
  font-weight: 600;
  color: #273647;
  z-index: 1;
  position: relative;
}
.contact-section p
{
    padding: 0% 20%;
    text-align: center;
    width: 100%;
}
.contact-block
{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: inherit;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    opacity: 0.7;
    border: 1px solid #cac7f6;
    box-shadow: 0 1px 3px 0 #9ccae8;
    border-radius: 5px;
    line-height: 60px;
 
    text-align: center;
    vertical-align: middle;
    text-align: center;
    padding: 25px 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    display: block;
    background: #fff;
}

.contact-block h3
{
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: initial;
}
.contact-block p

{
    padding: 0% 8%;
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;
}
.contact-block h3 a
{
    color: #d23434;
}

.faq-img i
{       color: #e75e83;
    font-size: 25px;
    line-height: 53px;}

    @media only screen and (min-width: 280px) and (max-width: 767px) {
        .faq-section {
            margin-top: -90px;
        }
        .contact-block {
           
            padding: 13px 10px;
        }
       .support-section.p-a60 {
        padding: 24px 0!important;
    }
   
    .contact-section .offset-sm-3,  .contact-section .offset-xs-3 {
        margin-left: 25%!important;
    }
    .support-section .support-des {
        text-align: center;
        margin: 6px 0;
        font-size: 12px;
    }
    .contact-block h3 a {
        color: #d23434;
        font-size: 13px;
    }
   .contact-section .col-sm-6, .contact-section .col-xs-6
    {
        padding-right: 10px;
        padding-left: 10px;
    }
    .contact-block h3
    {
        margin-bottom: 4px;;
    }
    .contact-section.p-a60 {
        padding: 29px 0;
    }
    .tabs-content {
        width: 100%;
        margin: 5% auto;
    }
   
    .support-tabs .mat-expansion-panel-header-title {
        display: flex;
    flex-grow: 1;
    margin-right: 16px;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    }
    .contact-section p {
        padding: 0;
        text-align: center;
        width: 100%;
        font-size: 13px;
        line-height: 19px;
    }
    }

    .contact-section .offset-sm-3,  .contact-section .offset-xs-3 {
        margin-left: 0%;
    }

    .tabs-content h3
    {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 24px;
        color: #e75e83;
        font-weight: 500;
    }