.home .site-header:hover,
.sticky-menu .header-style,
.home.blog .site-header,
.site-header {
  background-color: rgb(39, 54, 71);
}

.header-navigation .logo {
  padding: 0px 12px;
  width: 13vw;
}

.header-search {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 0;
  float: left;
}
.header-right-nav i {
  font-size: 13px;
  margin-right: 5px;
}
.ecommerce-product-search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header-search .product-search-widget {
  border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  position: relative;
  overflow: hidden;
  float: left;
}

.hasCustomSelect {
  appearance: menulist-button;
  width: 180px;
  position: absolute;
  opacity: 0;
  height: 39px;
  font-size: 12px;
}

.header-search .ecommerce-product-search .search-field,
.header-search .search-form .search-field {
  border: 0;
  outline: none;
  box-sizing: border-box;
  color: #333;
  float: left;
  height: 32px;
  padding: 5px 10px;
  width: 25vw;
  background: #fff;
  font-size: 12px;
  border-radius: 0;
}

.ecommerce-product-search span.customSelect {
  width: 150px;
}

.ecommerce-product-search span.customSelect {
  float: left;
  margin: 0;
  width: 126px;
  position: relative;
  text-align: left;
  text-transform: capitalize;
  border: 0px;
  height: 32px;
  line-height: 26px;
  font-size: 12px;
  background: #eef0f8;
}

span.customSelect {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 3px 10px;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
}

select.hasCustomSelect {
  z-index: 9;
  cursor: pointer;
  left: 0;
  display: inline-block !important;
  appearance: menulist-button;
  width: 131px;
  position: absolute;
  opacity: 0;
  height: 32px;
  font-size: 12px;
}

.customSelect {
  display: inline-block;
}

.site-header .header-search .ecommerce-product-search button[type="submit"],
.header-search input[type="submit"],
.header-search input[type="submit"]:hover {
  right: 0px;
  background-color: #e75e83;
}

.header-search input[type="submit"] {
  color: #fff;
  float: left;
  font-size: 14px;
  height: 32px;
  margin: 0;
  padding: 5px 20px;
  position: relative;
  right: auto;
  width: auto;
  border-radius: 4px;
  border: 0;
  font-weight: 400;
  margin-left: 6px;
}

.ecommerce-product-search span.customSelect:after {
  background: #e6e6e6;
  content: "";
  height: 20px;
  position: absolute;
  right: 0;
  top: 6px;
  width: 1px;
}

.customSelectInner {
  width: 109px;
  display: inline-block;
}

.header-right-nav ul {
  margin-bottom: 0;
}

.header-right-nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
}

.header-right-nav li a {
  color: #273647;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-right-nav li span {
  background: #e75e83;
  color: #fff;
  width: 17px;
  height: 17px;
  font-size: 10px;
  line-height: 16px;
  position: absolute;
  top: -5px;
  text-align: center;
  border-radius: 50%;
  right: -8px;
}

.header-right-nav li:nth-child(5) {
  background: #ffffff;
  border-radius: 5px;
  padding: 4px 9px;
  color: #273647;
  font-weight: 400;
  display: inline-flex;
  margin-right: 0;
  font-size: 12px;
  margin-right: 3px;
}

.header-right-nav li:last-child {
  background: #ffffff;
  border-radius: 5px;
  padding: 4px 9px;
  color: #273647;
  font-weight: 400;
  display: inline-flex;
  margin-right: 0;
  font-size: 12px;
}

.header-right-nav li:nth-child(5) img {
  width: 14px;
  margin-top: -3px;
  margin-right: 4px;
}

.header-right-nav li label {
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 0px;
  cursor: pointer;
  display: -webkit-inline-box;
}

.header-right-nav li:last-child img {
  width: 14px;
  margin-top: -3px;
  margin-right: 4px;
}

.header-right-nav img {
  width: 22px;
}

#main-20 {
  overflow: hidden;
  max-width: 1530px;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

.header_account_area {
  margin-top: 8px;
}

.main-navigation {
  ul {
    li {
      ul.mega-menu-wrap {
        background-color: #fff;
        display: block;
        left: 0;
        padding: 30px 30px 30px 30px;
        position: absolute;
        text-align: left;
        top: 100%;
        width: 1110px;
        z-index: 9999;
        -webkit-box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.15);
        opacity: 0;
        visibility: hidden;
        -o-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform: rotateX(-75deg);
        -o-transform: rotateX(-75deg);
        -moz-transform: rotateX(-75deg);
        -webkit-transform: rotateX(-75deg);

        > li {
          ul {
            li {
              display: block;
              float: inherit;
              padding: 0;

              a {
                color: #888;
                text-transform: capitalize;
                font-weight: 400;
                font-size: 14px;
                display: block;
                padding: 0;
                line-height: 27px;

                &:hover {
                  color: #4fb68d;
                  -moz-transform: translateX(10px);
                  -webkit-transform: translateX(10px);
                  -o-transform: translateX(10px);
                  -ms-transform: translateX(10px);
                  transform: translateX(10px);
                }
              }
            }

            li.mega-menu-title {
              a {
                &:hover {
                  color: #4fb68d;
                  -moz-transform: translateX(0);
                  -webkit-transform: translateX(0);
                  -o-transform: translateX(0);
                  -ms-transform: translateX(0);
                  transform: translateX(0);
                }

                color: #253237;
                line-height: 1;
                text-transform: capitalize;
                font-size: 14px;
                font-weight: 700;
                display: block;
                margin-bottom: 15px;
              }
            }
          }

          display: inline-block;
          float: left;
          margin-left: 0;
          padding: 0;
          width: 25%;
        }

        > li.w-100 {
          ul {
            li {
              > a {
                &:hover {
                  -moz-transform: translateX(0);
                  -webkit-transform: translateX(0);
                  -o-transform: translateX(0);
                  -ms-transform: translateX(0);
                  transform: translateX(0);
                }
              }
            }
          }

          width: 100% !important;
          margin-top: 20px;
        }

        > li.banner-wrapper {
          width: 100%;
          margin-top: 20px;

          a {
            img {
              width: 100%;
            }

            padding: 0;
          }
        }
      }

      display: inline-block;

      &:hover {
        > a {
          color: #4fb68d;
        }
      }

      a {
        display: block;
        padding: 10px 15px;
        color: #253237;
        font-weight: 700;
        position: relative;

        &:hover {
          color: #4fb68d;
        }
      }

      > a {
        i {
          display: inline-block;
          vertical-align: -3px;
          font-size: 24px;
          font-weight: 400;
          margin-right: 5px;
        }
      }

      .sub-menu {
        > li {
          > a {
            position: relative;
            overflow: hidden;
            position: relative;
            display: block !important;
            color: #888;
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            padding: 0 !important;
          }

          position: relative;
          padding: 0 20px;
          line-height: 40px;
          height: 40px;
          overflow: hidden;
          border-bottom: 1px solid #eee;
          position: relative;
          display: block !important;
          -webkit-transition: all 300ms ease;
          -moz-transition: all 300ms ease;
          -ms-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease;

          &:hover {
            > a {
              -moz-transform: translateX(10px);
              -webkit-transform: translateX(10px);
              -o-transform: translateX(10px);
              -ms-transform: translateX(10px);
              transform: translateX(10px);
              color: #4fb68d;
            }
          }
        }
      }
    }

    li.menu-dropdown {
      > a {
        i.ion-ios-arrow-down {
          display: inline-block;
          vertical-align: -1px;
          font-size: 14px;
          font-weight: 400;
          margin: 0;
        }
      }
    }

    li.menu-dropdown.position-static {
      > a {
        i.ion-ios-arrow-down {
          position: absolute;
          right: 0;
          transform: rotate(-90deg);
        }
      }
    }
  }

  float: left;
}

.vertical-menu {
  ul {
    li {
      ul.mega-menu-wrap {
        position: absolute;
        z-index: 9;
        visibility: hidden;
        opacity: 0;
        /* text-align: left; */
        top: 0;
        left: 100%;
        column-width: 152px;
        max-height: 397px;
        min-height: 204px;
        overflow: scroll;
        transform-origin: center center;
        transform: translateY(20px);
        width: 900px;
        padding: 30px 30px 30px 30px;
        background-color: #fff;
        box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.15);

        > li {
          ul {
            li {
              display: block;
              float: inherit;
              padding: 0;

              a {
                color: #888;
                text-transform: capitalize;
                font-weight: 400;
                font-size: 11px;
                display: block;
                padding: 0;
                line-height: 20px;
                transition: all 300ms linear;
                border: 0;

                &:hover {
                  -moz-transform: translateX(10px);
                  -webkit-transform: translateX(10px);
                  -o-transform: translateX(10px);
                  -ms-transform: translateX(10px);
                  transform: translateX(10px);
                }
              }
            }

            li.mega-menu-title {
              a {
                &:hover {
                  -moz-transform: translateX(0);
                  -webkit-transform: translateX(0);
                  -o-transform: translateX(0);
                  -ms-transform: translateX(0);
                  transform: translateX(0);
                }

                color: #253237;
                line-height: 1;
                text-transform: capitalize;
                font-size: 14px;
                font-weight: 700;
                display: block;
                margin-bottom: 15px;
              }
            }
          }

          display: inline-block;
          float: left;
          margin-left: 0;
          padding: 0;
        }

        > li.banner-wrapper {
          width: 100%;
          margin-top: 30px;

          a {
            img {
              width: 100%;
            }

            padding: 0;
          }
        }
      }
    }
  }

  height: 100%;
  width: 164px;
  width: 13.1vw;
  border-color: #273647;

  position: relative;
  margin-left: -1px;
  position: absolute;
  position: absolute;

  .sub-menu {
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    background-color: #fff;
    -webkit-box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.15);
    left: 100% !important;
    min-width: 250px;
    top: 0;
  }

  .menu-dropdown {
    &:hover {
      > .sub-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -o-transition: -o-transform 0.3s, opacity 0.3s;
        -ms-transition: -ms-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      }
    }
  }
}

.vertical-menu-wrap.sidemenuopen {
  display: block;
}

.vertical-menu-wrap {
  .menu-dropdown {
    &:hover {
      > .mega-menu-wrap {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -o-transition: -o-transform 0.3s, opacity 0.3s;
        -ms-transition: -ms-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      }
    }
  }

  width: 102%;
  background: #fff;
  position: absolute;
  top: 90%;
  display: none;
  left: -1.5px;
  min-width: 162px;
  z-index: 9999;

  li {
    > .sub-menu {
      a {
        font-weight: 400;
        padding: 10px 20px;

        &:hover {
          padding-left: 30px;
        }
      }
    }
  }
}

// .menu-dropdown {
//   &:hover {
//     > .mega-menu-wrap {
//       opacity: 1 !important;
//       visibility: visible !important;
//       transform: rotateX(0deg) !important;
//       -o-transform: rotateX(0deg) !important;
//       -moz-transform: rotateX(0deg) !important;
//       -webkit-transform: rotateX(0deg) !important;
//       -o-transition: -o-transform 0.3s, opacity 0.3s !important;
//       -ms-transition: -ms-transform 0.3s, opacity 0.3s !important;
//       -moz-transition: -moz-transform 0.3s, opacity 0.3s !important;
//       -webkit-transition: -webkit-transform 0.3s, opacity 0.3s !important;
//     }

//     > .sub-menu {
//       opacity: 1 !important;
//       visibility: visible !important;
//       transform: rotateX(0deg) !important;
//       -o-transform: rotateX(0deg) !important;
//       -moz-transform: rotateX(0deg) !important;
//       -webkit-transform: rotateX(0deg) !important;
//       -o-transition: -o-transform 0.3s, opacity 0.3s !important;
//       -ms-transition: -ms-transform 0.3s, opacity 0.3s !important;
//       -moz-transition: -moz-transform 0.3s, opacity 0.3s !important;
//       -webkit-transition: -webkit-transform 0.3s, opacity 0.3s !important;
//       padding: 0 !important;
//     }
//   }

//   position: relative;
// }

h3.vertical-menu-heading {
  color: #555555;
  background: #ffffff;
  font-size: 1.1vw;
  font-weight: 600;
  height: 100%;
  line-height: 34px;
  padding: 0px 6px;
  cursor: pointer;
  margin: 0;
  background: #eef0f8;
  text-align: center;
}

ul.vertical-menu-wrap {
  li {
    > a {
      position: relative;
      display: block;
      overflow: hidden;
      line-height: 24px;
      text-transform: capitalize;
      word-wrap: break-word;
      background: #fff;
      color: #253237;
      padding: 15px 20px;
      font-size: 12px;
      font-weight: 500;
      transition: none;

      transition: all 300ms linear;

      i {
        position: absolute;
        right: 20px;
        transform: translateY(45%);
        transition: all 300ms linear;
      }
    }

    > a#more-btn {
      i {
        left: 20px;
        right: auto;
        transform: rotate(0deg);
      }

      padding-left: 40px;
    }

    a {
      padding: 1px 14px;
    }

    img {
      width: 20px;
      margin-right: 7px;
    }
  }
}

.hero-side-category {
  nav.category-menu {
    > ul {
      > li {
        > a {
          i {
            position: absolute;
            right: 30px;
          }

          display: block;
          padding: 10px 25px;
          line-height: 30px;
          font-size: 14px;
          color: #253237;
          font-weight: 400;
          position: relative;
          border-bottom: 1px solid #ebebeb;

          &:hover {
            color: #4fb68d;
          }
        }

        > a#more-btn {
          > i {
            position: initial;
          }
        }

        position: relative;

        &:hover {
          .category-mega-menu {
            z-index: 9;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      > li.menu-item-has-children {
        position: relative;
      }
    }

    background-color: #fff;
    float: left;
    width: 100%;
    left: 0;
    top: 100%;
    border: 1px solid #ebebeb;
    position: absolute;
    display: none;
    z-index: 2;
    height: 500px;
    overflow-x: auto;
  }

  width: 100%;
  position: relative;

  .category-toggle-wrap {
    .category-toggle {
      i {
        font-size: 18px;
        transform: translate(-3px, 3px);
      }
    }
  }
}

.sub-menu.sub-menu-2 {
  left: 100% !important;
  transform: translateY(-30px);
}

li.menu-dropdown.position-static {
  &:hover {
    .sub-menu.sub-menu-2 {
      transform: translateY(-40px);
    }
  }
}

.category-toggle-wrap {
  width: 100%;

  .category-toggle {
    padding: 17px 25px;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #253237;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    width: 100%;
    text-align: left;
    outline: none;
    border: 1px solid#253237;
    margin-bottom: 15px;
  }
}

.category-mega-menu {
  position: static;
  z-index: 9;
  opacity: 1;
  visibility: visible;
  background-color: transparent;
  padding: 0;
  width: 100%;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  left: 270px;
  top: 0;
  display: none;

  > li {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    position: relative;
    padding: 10px 10px;
    border-bottom: 1px solid #ebebeb;

    > a {
      padding: 10px 25px 10px 35px;
      line-height: 30px;
      font-size: 14px;
      font-weight: 400;
      color: #253237;
      position: relative;
      margin: 0;
      text-transform: inherit;

      &:hover {
        color: #4fb68d;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    &:first-child {
      a {
        padding-top: 10px;
      }
    }
  }
}

.header-buttom-nav {
  background: #fff;
}

.site-main-menu {
  font-weight: 400;
  padding-left: 15%;

  & > ul {
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    & > li {
      & > a {
        line-height: 1.5;
        position: relative;
        display: flex;
        padding: 8px 10px;
        font-size: 15px;
        text-transform: capitalize;
        color: #253237;
        font-size: 14px;
        cursor: pointer;

        & > .menu-text {
          position: relative;

          &::after {
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            -webkit-transition: -webkit-transform 0.5s
              cubic-bezier(0.8, 0, 0.2, 1);
            transition: -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
            -o-transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
            transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
            transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1),
              -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
            transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1),
              -webkit-transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
            -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
            -webkit-transform-origin: 100% 50%;
            -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
            background-color: #333;
          }
        }
      }

      &.has-children {
        & > a {
          &::before {
            font-family: "Font Awesome 5 Pro";
            font-size: 12px;
            position: absolute;
            top: 50%;
            right: 10px;
            content: none;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            opacity: 0.6;
          }
        }
      }

      &.align-left {
        & > .sub-menu {
          right: 0;
          left: auto;
        }
      }

      &:hover {
        & > a {
          color: #333;

          & > .menu-text {
            &::after {
              -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
              -webkit-transform-origin: 0 50%;
              -ms-transform-origin: 0 50%;
              transform-origin: 0 50%;
            }
          }
        }

        & > .sub-menu {
          visibility: visible; /* shows sub-menu */
          opacity: 1;
          transform: translateY(0%);
          // transition-delay: 0s, 0s, 0.3s;
          //       z-index: 99;
          //       top: 101%;
          //       visibility: visible;
          //       opacity: 1;
          //       transform: translateY(0%);
          // transition-delay: 0s, 0s, 0.3s;
        }
      }
    }
  }

  &.menu-height-100 {
    & > ul {
      & > li {
        & > a {
          padding-top: 38px;
          padding-bottom: 38px;
        }
      }
    }
  }

  &.menu-height-60 {
    & > ul {
      & > li {
        & > a {
          padding-top: 18px;
          padding-bottom: 18px;
        }
      }
    }
  }
}

.sub-menu {
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  // transform: translateY(-2em);
  z-index: 9;
  // transition: all 0.1s ease 0s, visibility 0s linear 0.1s, z-index 0s linear 0.01s;
  // position: absolute;
  // z-index: 9;
  opacity: 0;
  // z-index: 9;
  // top: 150%;
  // visibility: hidden;
  // min-width: 280px;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  // // transition: all 0.3s ease 0s;
  // // transform: translateY(-2em);
  // z-index: -1;
  // transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  letter-spacing: 0;
  // opacity: 0;
  background-color: #fff;
  -webkit-box-shadow: -1px 10px 80px -15px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 10px 80px -15px rgba(0, 0, 0, 0.3);

  li {
    display: block;

    a {
      position: relative;
      display: block;
      padding: 0 0px;
      color: #7e7e7e;
      cursor: pointer;

      &:not(.mega-menu-title) {
        .menu-text {
          position: relative;

          &::after {
            position: absolute;
            top: calc(50% + 10px);
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            -webkit-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
            opacity: 0;
            background-color: #333;
          }
        }
      }

      &:hover {
        .menu-text {
          &::after {
            opacity: 0.2;
          }
        }
      }
    }

    // &.has-children {
    //   & > a {
    //     &::before {
    //       font-family: "Font Awesome 5 Pro";
    //       font-size: 12px;
    //       position: absolute;
    //       top: 50%;
    //       right: 30px;
    //       content: "\f105";
    //       -webkit-transform: translateY(-50%);
    //       -ms-transform: translateY(-50%);
    //       transform: translateY(-50%);
    //       opacity: 0.6;
    //     }
    //   }

    //   &.align-left {
    //     & > a {
    //       &::before {
    //         content: "\f104";
    //       }
    //     }

    //     & > .sub-menu {
    //       right: 100%;
    //       left: auto;
    //     }
    //   }
    // }

    // & > .sub-menu {
    //   top: 100%;
    //   left: 100%;
    // }

    // &:hover {
    //   & > a {
    //     color: #333;
    //   }

    //   & > .sub-menu {
    //     top: 0;
    //     visibility: visible;
    //     opacity: 1;
    //   }
    // }
  }

  &.mega-menu {
    right: auto;
    left: 0;
    width: 100%;
    min-height: 152px;
    max-height: 400px;
    overflow-y: scroll;
    -moz-column-width: 200px;
    margin: 0;
    list-style: none;

    & > li {
      flex: 0 0 19%;
      padding: 0 10px 0 30px;
      border-right: 1px solid #e7e7e7;
      margin-bottom: 32px;

      &:last-child {
        border: 0;
      }

      & > a {
        padding: 0;

        &.mega-menu-title {
          color: #253237;
          line-height: 1;
          text-transform: capitalize;
          font-size: 1.1vw;
          font-weight: 700;
          display: block;
          margin-bottom: 15px;
          cursor: pointer;
        }
      }

      &:hover {
        & > a {
          color: #333;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          line-height: 3.125;
          position: relative;

          a {
            text-transform: capitalize;
            font-weight: 400;
            font-size: 13px;
            display: block;
            padding: 0;
            line-height: 27px;
            transition: all 300ms linear;
            border: 0;
            color: #7e7e7e;
          }

          & > img {
            position: absolute;
            z-index: 99;
            top: 50%;
            left: 40%;
            visibility: hidden;
            width: 250px;
            height: auto;
            -webkit-transform: translateY(-40%);
            -ms-transform: translateY(-40%);
            transform: translateY(-40%);
            opacity: 0;
            border-radius: 5px;
            -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
          }

          &:hover {
            & > a {
              color: #333;
            }

            & > img {
              visibility: visible;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.header-section {
  width: 100%;
}

.vertical-menu-toggle i {
  padding-right: 7px;
}

.main-nav-title::before {
  background: #e6e6e6;
  content: "";
  height: 15px;
  position: absolute;
  right: -8px;
  top: 6px;
  width: 0.8px;
}

.vertical-menu-wrap li {
  display: inline-block;
  width: 100%;
}

.div-listcat {
  column-width: 130px;
  padding: 3px 8px 3px 12px;
  height: 100%;
  // width: 80%;
  width: 100%;
}

.div-listcat li a.mega-menu-title {
  color: #e75e83;
  line-height: 1;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
  cursor: pointer;
}

.div-listcat .main-list {
}

.div-listcat a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 11px;
  display: block;
  padding: 0;
  line-height: 20px;
  transition: all 300ms linear;
  border: 0;
}

.div-listcat ul li:last-child a {
  margin-bottom: 10px;
}

.div-listcat li:nth-child(5n) {
  border-right: none;
}

svg path {
  stroke: #ffffff;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

svg {
  height: 18px;
}

.txtdes {
  height: 35px;
  float: left;
  line-height: 15px;
  width: 75%;
}

.txtdes {
  overflow: hidden;
  display: inline;
  font-weight: 400;
  float: left;
  line-height: 10px;
  margin-top: 10px;
}

.L12_21 {
  font-size: 12px;
  color: #212121;
  line-height: 17px;
}

.detxt {
  font-size: 11px;
}

.detxt {
  float: left;
  display: block;
  font-size: 9px;
  margin-top: 4px;
}

.txtpr {
  float: right !important;
  margin-left: 8px;
  line-height: 15px;
  margin-top: 10px;
  font-size: 12px;
  margin-right: 10px;
}

.R12_21 {
  font-size: 12px;
  color: #212121;
  line-height: 17px;
}

.txtpr .dis {
  color: #e75e83;
}

.txtpr .dis {
  color: #e75e83;
  font-size: 10px;
  text-decoration: line-through;
}

.R11_red {
  font-size: 11px !important;
  color: #e53935;
  line-height: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul.mega-menu-wrap ul li:last-child a {
  margin-bottom: 12px;
}

.search-desktop {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  display: flex;
}

.right-13 {
  position: absolute;
  right: 13px;
  font-size: 9px;
}

.sticky-nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  border: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #273647;
  -webkit-box-shadow: 0 0 3px rgb(60 72 88 / 15%);
  box-shadow: 0 0 3px rgb(60 72 88 / 15%);
}
.sticky-nav .header-buttom-nav {
  display: none;
  transition: all 0.5s ease 0s;
}
.sticky-nav .header-buttom-nav.sticky-navbottom {
  display: block;
  transition: all 0.5s ease 0s;
}

.search-img img {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  margin: 5px 0;
}
.product_name {
  margin-top: 0;
  font-weight: 400 !important;
  text-transform: none;
  line-height: 1.6;
  font-size: 12px;
  color: #222;
  margin-bottom: 0px;
  white-space: nowrap;
  display: block;
  width: 100%;
}
.discount-price {
  color: #e75d81;
  font-weight: 500;
  font-size: 5px;
  white-space: nowrap;
  text-align: center;
  font-size: 12px;
}
.seller-price {
  font-size: 12px;
  color: #aaa;
  text-decoration: line-through;
}
.product-price {
  color: #333;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.search-products li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
}

.tag img {
  width: 17px;
  margin-right: 5px;
}
.brands img {
  width: 17px;
  margin-right: 5px;
}
