<header
  class="main-header site-header header-fix header full-width m-none"
  (scroll)="onWindowScroll($event)"
  [ngClass]="fixed ? 'sticky-nav' : ''"
>
  <div class="header-navigation">
    <div class="container">
      <div class="row v-row">
        <div class="col-md-2 col-lg-2">
          <div class="logo">
            <a routerLink="/"><img src="assets/images/logo.png" alt="" /></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 px-0 search-desktop">
          <div class="header-search">
            <div class="header-toggle"></div>
            <form
              method="get"
              class="ecommerce-product-search"
              [formGroup]="searchform"
              (ngSubmit)="onSubmit()"
            >
              <div class="product-search-widget">
                <select
                  class="orderby hasCustomSelect"
                  name="product_cat"
                  formControlName="product_cat"
                >
                  <option value="" selected disabled="disabled">
                    All Categories
                  </option>
                  <!-- <option
                    *ngFor="let category of categories"
                    value="{{ category.id }}{{ category.title }}"
                  >
                    {{ category.title }}
                  </option> -->
                </select>
                <span class="customSelect orderby"
                  ><span class="customSelectInner">All Categories</span></span
                >
                <input
                  type="text"
                  class="search-field"
                  [(ngModel)]="searchText"
                  [formControl]="myControl"
                  [matAutocomplete]="auto"
                  formControlName="search_query"
                  (keyup)="onSearchKey($event)"
                  placeHolder="Type to search.."
                />
              </div>
              <input type="submit" value="Search" />
            </form>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 header-right-nav">
          <ul>
            <li routerLink="/offers">
              <img src="assets/images/icons/discount-white.png" />
            </li>
            <li
              routerLink="/myaccount/notifications"
              (click)="notificationClick()"
            >
              <img src="assets/images/icons/notifications-white.png" /><span
                class="count"
                >{{
                  notificationsCount === null ? "0" : notificationsCount
                }}</span
              >
            </li>
            <li (click)="gotoWishlist()">
              <img src="assets/images/icons/wishlist-white.png" /><span
                class="count"
                >{{ wishlistcount === null ? "0" : wishlistcount }}</span
              >
            </li>
            <li (click)="gotoCart()">
              <img src="assets/images/icons/cart-bag-white.png" /><span
                class="count"
                >{{ cartcount === null ? "0" : cartcount }}</span
              >
            </li>

            <li *ngIf="sellerClass">
              <!-- <li *ngIf="sellerClass; else message"> -->
              <a routerLink="/login"
                ><img src="assets/images/icons/user.png" />
                <label>Login</label></a
              >
            </li>

            <li *ngIf="!sellerClass">
              <a routerLink="/myaccount/dashboard-list"
                ><img src="assets/images/icons/user.png" />
                <label>Profile </label></a
              >
            </li>
            <li *ngIf="!sellerClass">
              <a (click)="logout()"
                ><i class="fal fa-sign-out"></i> <label>Log Out </label></a
              >
            </li>

            <li *ngIf="sellerClass">
              <a href="https://seller.fabpik.in/" target="_blank"
                ><img src="assets/images/icons/user.png" />
                <label>Sell On Fabpik</label>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    class="header-buttom-nav"
    [ngClass]="isbottomfixed ? 'sticky-navbottom' : ''"
    *ngIf="!loading"
  >
    <div class="container">
      <div class="row v-row">
        <div class="col-md-12 text-left d-none h-bott d-lg-block">
          <div class="d-flex align-items-start justify-content-start">
            <div class="header-section section bg-white d-none d-xl-block">
              <!-- Site Menu Section Start -->
              <div class="site-menu-section section">
                <div class="">
                  <div class="beauty-category vertical-menu home-9 home-10">
                    <h3
                      class="vertical-menu-heading vertical-menu-toggle"
                      (click)="clickCategoryMenu()"
                      [ngClass]="
                        sidemenuclass ? 'sidemenuopen' : 'sidemenuclose'
                      "
                    >
                      <i class="far fa-bars"></i> Shop By Category
                    </h3>
                    <ul
                      class="vertical-menu-wrap open-menu-toggle"
                      [ngClass]="
                        sidemenuclass ? 'sidemenuopen' : 'sidemenuclose'
                      "
                    >
                      <li
                        class="menu-dropdown"
                        *ngFor="let category of categories"
                      >
                        <a
                          skipLocationChange
                          (click)="
                            categoryid(
                              category.id,
                              category.slug,
                              category.type,
                              category
                            )
                          "
                          ><img src="{{ category.icon_path }}" />{{
                            category.title
                          }}<i class="fal fa-angle-right"></i
                        ></a>
                        <ul class="mega-menu-wrap">
                          <li *ngFor="let subcat of category.subcategories">
                            <ul class="mb-20px">
                              <li class="mega-menu-title">
                                <a
                                  skipLocationChange
                                  (click)="
                                    subcategoryid(
                                      subcat.id,
                                      category.slug,
                                      subcat.slug,
                                      category.id
                                    )
                                  "
                                  class="mega-menu-title"
                                  >{{ subcat.title }}</a
                                >
                              </li>
                              <li *ngFor="let child of subcat.childcategories">
                                <a
                                  (click)="
                                    childcatid(
                                      child,
                                      subcat.slug,
                                      category.slug
                                    )
                                  "
                                  >{{ child.title }}</a
                                >
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <nav class="site-main-menu justify-content-center">
                    <ul>
                      <ng-container *ngFor="let category of categories">
                        <li
                          class="has-children"
                          *ngIf="category.view == 'b' || category.view == 'd'"
                        >
                          <a
                            (click)="
                              categoryid(
                                category.id,
                                category.slug,
                                category.type
                              )
                            "
                            ><span class="menu-text main-nav-title">{{
                              category.title
                            }}</span></a
                          >
                          <div
                            class="row sub-menu mega-menu"
                            *ngIf="showSubMenu(category.title)"
                          >
                            <ul class="div-listcat col-lg-12 col-md-12">
                              <div class="col-lg-12 col-md-12">
                                <li
                                  class="main-list"
                                  *ngFor="let subcat of category.subcategories"
                                >
                                  <a
                                    (click)="
                                      subcategoryid(
                                        subcat.id,
                                        category.slug,
                                        subcat.slug,
                                        category.id
                                      )
                                    "
                                    class="mega-menu-title"
                                    ><span class="menu-text">{{
                                      subcat.title
                                    }}</span></a
                                  >
                                  <ul>
                                    <li
                                      *ngFor="
                                        let child of subcat.childcategories
                                      "
                                    >
                                      <a
                                        (click)="
                                          childcatid(
                                            child,
                                            subcat.slug,
                                            category.slug
                                          )
                                        "
                                        ><span class="menu-text"
                                          >{{ child.title }}
                                        </span></a
                                      >
                                    </li>
                                  </ul>
                                </li>
                              </div>
                            </ul>
                            <!-- <div class="cat-img col-lg-3 col-md-3">
                                                      <img src="assets/images/slider/left-banner.jpg">
                                                  </div> -->
                          </div>
                        </li>
                      </ng-container>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- Site Menu Section End -->
            </div>
            <!-- Header Section End -->
            <!-- Site Menu Section End -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="suggest"></div>

<mat-autocomplete #auto="matAutocomplete" class="mat-search-option">
  <div *ngIf="searchLoading" class="">
    <mat-option class="container loading-search h-100 px-0">
      <div class="row v-row text-center-nofound">
        <div class="txtdes align-items-center">
          <span
            class="spinner-border spinner-border-sm text-black"
            role="status"
          ></span>
          <label>Searching...</label>
        </div>
      </div>
    </mat-option>
  </div>
  <mat-option *ngFor="let brand of brands" class="categ {'h-40'}">
    <div (click)="selectEvent(brand, null, 'brand')">
      <div class="txtdes align-items-center d-flex brands">
        <img src="assets/images/icons/brand.png" />
        <span
          class="edittext L12_21 text-capitalize"
          [innerHTML]="brand.name | titlecase"
        ></span>
        <i class="fas fa-chevron-right text-muted right-13"></i>
        <br />
      </div>
    </div>
  </mat-option>
  <mat-option *ngFor="let tag of tags" class="categ {'h-40'}">
    <div (click)="selectEvent(tag, null, 'tags')">
      <div class="txtdes align-items-center d-flex brands">
        <img src="assets/images/icons/tag.png" />
        <span
          class="edittext L12_21 text-capitalize"
          [innerHTML]="tag.name | titlecase"
        ></span>
        <i class="fas fa-chevron-right text-muted right-13"></i>
        <br />
      </div>
    </div>
  </mat-option>
  <!-- <mat-option *ngFor="let brand of brands" class="categ {'h-40'}">
    <div (click)="selectEvent(brand, 'brand')">
      <div class="txtdes align-items-center d-flex tag">
        <img src="assets/images/icons/tag.png">
        <span
          class="edittext L12_21 text-capitalize"
          [innerHTML]="brand.name | titlecase"
        ></span>
        <i class="fas fa-chevron-right text-muted right-13"></i>
        <br />
      </div>
    </div>
  </mat-option> -->
  <mat-option *ngFor="let category of searchCategories" class="categ {'h-40'}">
    <div (click)="selectEvent(category)">
      <div class="txtdes align-items-center d-flex">
        <span
          class="edittext L12_21 text-capitalize"
          [innerHTML]="category.path_title | titlecase"
        ></span>
        <i class="fas fa-chevron-right text-muted right-13"></i>
        <br />
      </div>
    </div>
  </mat-option>
  <mat-option
    *ngFor="let product of searchProducts; let i = index"
    class="{'h-40'}"
  >
    <div (click)="selectEvent(product, i)" class="search-products">
      <div class="row v-row">
        <div class="col-lg-2 pr-0 search-img">
          <img
            _ngcontent-serverapp-c381=""
            alt="product"
            class="img-responsive preLoad loaded"
            [src]="imgUrl + '/' + product.thumbnail_img_name"
            (error)="onImgError($event)"
          />
        </div>
        <div class="col-lg-10 pl-2">
          <span
            class="product_name text-capitalize ellipsis"
            [innerHTML]="product.name"
          ></span>
          <ul class="m-a0" *ngIf="product.deal_price == null">
            <li class="product-price">Rs.&nbsp;{{ product.final_price }}</li>
            <li class="seller-price" *ngIf="product.mrp != product.final_price">
              Rs.&nbsp;{{ product.mrp }}
            </li>
            <li class="discount-price" *ngIf="product.final_discount > 0">
              ({{ product.final_discount }}%OFF)
            </li>
          </ul>
          <ul class="m-a0" *ngIf="product.deal_price != null">
            <li class="product-price">Rs.&nbsp;{{ product.deal_price }}</li>
            <li class="seller-price" *ngIf="product.mrp != product.deal_price">
              Rs.&nbsp;{{ product.mrp }}
            </li>
            <li class="discount-price" *ngIf="product.deal_discount > 0">
              ({{ product.deal_discount.toFixed(1) }}%OFF)
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="txtdes d-flex flex-column">
       
      </div> -->
    </div>
  </mat-option>
  <div
    *ngIf="
      searchCategories.length == 0 &&
      searchProducts.length == 0 &&
      brands.length == 0 &&
      tags.length == 0 &&
      searchValue.length >= 3 &&
      !searchLoading
    "
  >
    <mat-option class="container h-100 px-0">
      <div class="row v-row text-center-nofound">
        <div class="col-lg-12">
          <img src="assets/images/icons/no-orders-07-07.png" />
          <label>No Results Found</label>
          <p>
            Your search
            <span class="text-brand">"{{ searchText }}"</span>
            didn't find any results.
          </p>
        </div>
      </div>
    </mat-option>
  </div>
</mat-autocomplete>

<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>
