<app-mobile-homeheader></app-mobile-homeheader>
<app-desktop-header></app-desktop-header>
<app-home-mobile *ngIf="hide"></app-home-mobile>
<div class="homedesktop-page" *ngIf="!loading && !hide">
  <img src="assets/images/covid_banner.png" class="w-100" />
  <section class="p-a0 slider-home">
    <div class="container-fluid p-a0">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let slider of sliders"
          ><img
            [src]="imgUrl + '/' + slider.image_path"
            (click)="scrollToElement(targetDeals, slider.slider_url)"
        /></ng-template>
      </owl-carousel-o>
    </div>
  </section>
  <!-- <a #deals></a> -->
  <section class="category-section" id="DealsSection" #targetDeals>
    <div class="container">
      <div class="row v-row">
        <div
          class="col-lg-3 col-md-3 col-xs-12 col-sm-12 block-deals"
          *ngIf="deals.length > 0 || upcomingDeals.length > 0"
        >
          <h3
            class="section-maintitle deal text-center deals-day col-lg-12"
          ></h3>
          <ngx-slick-carousel
            class="carousel slider-for"
            #slickModal2="slick-carousel"
            [config]="dealsConfig"
          >
            <div
              ngxSlickItem
              class="productlist-block custom-image-size"
              *ngFor="let product of deals; let i = index"
            >
              <!-- <h3 class="section-maintitle  flash text-center deals-day col-lg-12">
                Super Deals
              </h3> -->
              <div class="product-list my-1 custom-image-size">
                <div class="product-image">
                  <a
                    routerLink="/products/{{ product.slug }}/{{
                      product.unique_id
                    }}"
                  >
                    <img
                      src="{{ product.thumbnail_path }}"
                      (error)="onImgError($event)"
                    />
                  </a>
                </div>
                <div class="product-details deals-sectiondiv">
                  <p *ngFor="let sell of product.seller">
                    {{ product.seller_company_name }}
                  </p>
                  <h4
                    routerLink="/products/{{ product.slug }}/{{
                      product.unique_id
                    }}"
                  >
                    {{ product.name }}
                  </h4>
                  <ul class="text-nowrap">
                    <li class="sell-price">
                      &#x20B9;<span>{{ product.deal_price }}</span>
                    </li>
                    <li
                      class="sell-mrp"
                      *ngIf="product.mrp != product.deal_price"
                    >
                      &#x20B9;<span>{{ product.mrp }}</span>
                    </li>
                    <li
                      class="sell-discount"
                      *ngIf="product.discount_percent > 0"
                    >
                      (<span>{{ product.discount_percent.toFixed(1) }}</span> %
                      OFF)
                    </li>
                  </ul>
                </div>
                <div class="product-info-bottom">
                  <div class="left-group">
                    <div class="table-countdown">
                      <ng-container *ngIf="product.timeLeft >= 86400">
                        <countdown
                          #countdown
                          [config]="{ leftTime: product.timeLeft }"
                          >$!d!$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <ng-container *ngIf="product.timeLeft < 86400">
                        <countdown
                          class="countdown-three"
                          #countdown
                          [config]="{ leftTime: product.timeLeft }"
                          (finished)="finishTest()"
                          >$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <!-- <ng-container *ngIf="product.timeLeft == 86400">
                        <countdown
                          class="countdown-upcoming"
                          #countdown
                          [config]="{
                            leftTime: product.timeLeft,
                            demand: true
                          }"
                          >$!d!$!h!$!m!$!s!</countdown
                        >
                      </ng-container> -->
                      <!-- <countdown [config]="{ leftTime: 100000 }"></countdown> -->

                      <div></div>
                    </div>
                    <div class="claimed-div">
                      <mat-progress-bar
                        class="deals-progressbar"
                        mode="determinate"
                        [value]="product.claimed"
                      ></mat-progress-bar>
                      <span class="claim-text"
                        >{{ product.claimed }}% Claimed</span
                      >
                      <p>
                        <!-- <countdown
                          class="countdown-claimed"
                          #countdown
                          [config]="{ leftTime: product.timeLeft }"
                          (finished)="finishTest()"
                          >Starts in $!h!$!m!$!s!</countdown
                        > -->
                      </p>

                      <!-- <div class="d-flex">

                        <button  type="submit" class="w-100 btn btn-style-bg3 text-uppercase  m-t2"> Claim Now </button> </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              ngxSlickItem
              class="productlist-block custom-image-size"
              *ngFor="let product of upcomingDeals; let i = index"
            >
              <div class="product-list my-1 custom-image-size">
                <div class="product-image">
                  <img
                    src="{{ product.thumbnail_path }}"
                    (error)="onImgError($event)"
                  />
                </div>
                <div class="product-details">
                  <p *ngFor="let sell of product.seller">
                    {{ product.seller_company_name }}
                  </p>
                  <h4>
                    {{ product.name }}
                  </h4>
                  <ul class="text-nowrap">
                    <li class="sell-price">
                      &#x20B9;<span>{{ product.deal_price }}</span>
                    </li>
                    <li
                      class="sell-mrp"
                      *ngIf="product.mrp != product.deal_price"
                    >
                      &#x20B9;<span>{{ product.mrp }}</span>
                    </li>
                    <li
                      class="sell-discount"
                      *ngIf="product.discount_percent > 0"
                    >
                      (<span>{{ product.discount_percent.toFixed(1) }}</span> %
                      OFF)
                    </li>
                  </ul>
                </div>
                <div class="product-info-bottom">
                  <div class="left-group">
                    <div class="table-countdown">
                      <ng-container *ngIf="product.dealTimeInSeconds >= 86400">
                        <countdown
                          class="countdown-upcoming"
                          #countdown
                          [config]="{
                            leftTime: product.dealTimeInSeconds,
                            demand: true
                          }"
                          >$!d!$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <ng-container *ngIf="product.dealTimeInSeconds < 86400">
                        <countdown
                          class="countdown-three countdown-upcoming"
                          #countdown
                          [config]="{
                            leftTime: product.dealTimeInSeconds,
                            demand: true
                          }"
                          (finished)="finishTest()"
                          >$!h!$!m!$!s!</countdown
                        >
                      </ng-container>
                      <!-- <countdown [config]="{ leftTime: 100000 }"></countdown> -->

                      <div></div>
                    </div>

                    <div class="claimed-div">
                      <!-- <mat-progress-bar
                        class="deals-progressbar"
                        mode="determinate"
                        [value]="product.claimed"
                      ></mat-progress-bar>
                      <span class="claim-text"
                        >{{ product.claimed }}% Claimed</span
                      > -->
                      <!-- <p *ngIf="product.startsIn > 86400">
                        <countdown
                          class="countdown-claimed"
                          #countdown
                          [config]="{ leftTime: product.startsIn }"
                          (finished)="finishTest()"
                          >Starts in $!d!$!h!$!m!$!s!</countdown
                        >
                      </p>
                      <p *ngIf="product.startsIn < 86400">
                        <countdown
                          class="countdown-claimed"
                          #countdown
                          [config]="{ leftTime: product.startsIn }"
                          (finished)="finishTest()"
                          >Starts in $!h!$!m!$!s!</countdown
                        >
                      </p>  -->
                    </div>
                    <div>
                      <div class="w-100 starts-strip">
                        <p class="p-a0 m-a0" *ngIf="product.startsIn > 86400">
                          <countdown
                            class="countdown-claimed"
                            #countdown
                            [config]="{ leftTime: product.startsIn }"
                            (finished)="finishTest()"
                          >
                            Starts In : $!d!$!h!$!m!$!s!</countdown
                          >
                        </p>
                        <p class="p-a0 m-a0" *ngIf="product.startsIn < 86400">
                          <countdown
                            class="countdown-claimed"
                            #countdown
                            [config]="{ leftTime: product.startsIn }"
                            (finished)="finishTest()"
                            >Starts in : $!h!$!m!$!s!</countdown
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
          <!-- s -->
        </div>
        <div class="col-lg-9 pr-0 col-md-9 col-xs-12 col-sm-12 m0-auto">
          <div class="p-t30 p-b10">
            <h3 class="section-maintitle text-center col-lg-12">
              Shop By Categories
            </h3>
            <div class="cat-block beffect">
              <a routerLink="/category/clothing"
                ><img src="assets/images/home/clothing.png" />
                <h4>Clothing</h4>
              </a>
            </div>
            <div class="cat-block beffect">
              <a routerLink="/category/footwear">
                <img src="assets/images/home/footwear.png" />
                <h4>footwear</h4>
              </a>
            </div>
            <div class="cat-block beffect">
              <a routerLink="/category/toys">
                <img src="assets/images/home/toys.png" />
                <h4>Toys</h4>
              </a>
            </div>

            <div class="cat-block beffect">
              <a routerLink="/category/health-safety">
                <img src="assets/images/home/health.jpg" />
                <h4>health and safety</h4>
              </a>
            </div>
            <div class="cat-block beffect">
              <a routerLink="/category/personal-care">
                <img src="assets/images/home/personal Care.jpg" />
                <h4>Personal Care</h4>
              </a>
            </div>
            <div class="cat-block beffect">
              <a routerLink="/category/food-nutrition">
                <img src="assets/images/home/nutrients.png" />
                <h4>nutrition</h4>
              </a>
            </div>

            <div class="cat-block beffect">
              <a routerLink="/category/accessories">
                <img src="assets/images/home/accessories.jpg" />
                <h4>accessories</h4>
              </a>
            </div>
            <div class="cat-block beffect">
              <a routerLink="/category/books-art">
                <img src="assets/images/home/book.png" />
                <h4>Book & Arts</h4>
              </a>
            </div>

            <div class="cat-block beffect">
              <a routerLink="/category/sports">
                <img src="assets/images/home/sports.png" />
                <h4>Sports</h4>
              </a>
            </div>

            <div class="cat-block beffect">
              <a (click)="organic()">
                <img src="assets/images/home/organic.png" />
                <h4>organic</h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="banner-padding banner-furniture ratio2_1">
    <div class="container">
      <div class="row partition4">
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="collection-banner p-right text-right">
              <div class="img-part beffect">
                <a href="javascript:void()" (click)="clothingStarts99()">
                  <img
                    src="assets/images/home/clothing-offer.png"
                    class="img-fluid blur-up lazyload bg-img"
                  />
                </a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="collection-banner p-right text-right">
              <div class="img-part beffect">
                <a href="javascript:void()" (click)="toys()">
                  <img
                    src="assets/images/home/priceguaranted.png"
                    class="img-fluid blur-up lazyload bg-img"
                  />
                </a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="collection-banner p-right">
              <div class="img-part beffect">
                <a href="javascript:void()" (click)="personalCare()">
                  <img
                    src="assets/images/home/personalcare-offer.png"
                    class="img-fluid blur-up lazyload bg-img"
                  />
                </a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="collection-banner p-left">
              <div class="img-part beffect">
                <a href="javascript:void()" (click)="accessories()">
                  <img
                    src="assets/images/home/accessories-offer.png"
                    class="img-fluid blur-up lazyload bg-img"
                  />
                </a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="tools_product bg-title section-b-space">
    <div class="container">
      <div class="row multiple-slider">
        <div class="col-xl-4 col-lg-4 col-md-12 pl-0">
          <div class="theme-card">
            <h5 class="title-border">Offers</h5>
            <div class="offer-slider row">
              <div class="col-lg-6 beffect">
                <a href="/products?ediscount=50">
                  <img src="assets/images/home/flat upto-01.png" />
                </a>
              </div>
              <div class="col-lg-6 beffect">
                <a href="/products?udiscount=50">
                  <img src="assets/images/home/flat upto-02.png" />
                </a>
              </div>
              <div class="col-lg-6 beffect">
                <a href="/products?udiscount=40">
                  <img src="assets/images/home/flat upto-07.png" />
                </a>
              </div>
              <div class="col-lg-6 beffect">
                <a href="/products?udiscount=30">
                  <img src="assets/images/home/flat upto-03.png"
                /></a>
              </div>
              <div class="col-lg-12 beffect">
                <div class="">
                  <img src="assets/images/home/offers9.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="
            col-lg-8
            category-slidersection
            carousel-recommended
            flash-sec
            pr-0
          "
          [@.disabled]="true"
        >
          <h3 class="">Flash Deals</h3>
          <!-- <mat-tab-group mat-align-tabs="end" [disableRipple]="true">
            <mat-tab label="">
            
            </mat-tab>
          </mat-tab-group> -->
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="flashConfig"
          >
            <div
              ngxSlickItem
              class="productlist-block custom-image-size"
              *ngFor="let product of flashdeals; let i = index"
            >
              <app-product-item
                [productItem]="product"
                [imgUrl]="imgUrl"
              ></app-product-item>
            </div>
          </ngx-slick-carousel>
          <div class="container-fluid p-a0 offer-slider">
            <owl-carousel-o [options]="customOptions">
              <ng-template
                carouselSlide
                class="beffect"
                *ngFor="let slider of offersliders"
              >
                <img [src]="slider.image"
              /></ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="deals">
    <div class="container">
        <div class="row">
            <div class="col-lg-9  bg-light-blueshade col-md-9 col-xs-12 col-sm-12">
          
                <div class="row row5 ">
                  <h3 class="section-maintitle text-center col-lg-12">
                  Deals of the day
                  </h3>
                    <div class="col-lg-2 product-slideslick thumb-slick">
                        <ngx-slick-carousel class="carousel slider-nav" #slickModal="slick-carousel" [config]="dealsConfig">
                            <div ngxSlickItem class="productlist-block custom-image-size" *ngFor="let product of flashdeals; let i = index">
                                <div class="product-image" (click)="alert(index)">
                                    <img src="{{ product.thumbnail_path }}" (error)="onImgError($event)" />
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    <div class="col-lg-10   pl-0">
                      
                        <ngx-slick-carousel class="carousel slider-for" #slickModal2="slick-carousel" [config]="dealsConfig2">
                         
                          <div ngxSlickItem class="productlist-block custom-image-size" *ngFor="let product of flashdeals; let i = index">
                          
                              <div class="row m-a0">
                              <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                                <div class="product-image ">

                             
                                    <img src="{{ product.thumbnail_path }}" (error)="onImgError($event)" />
                                   
                                  </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 ">
                                    <div class="">
                                        <div class="product-info">
                                            <div class="product-info-top">
                                                <p class="store-name">
                                                    {{ product.company_name }}
                                                </p>
                                                <h3 class="product-name">
                                                    <a class="smooth" title=""> {{ product.name }}</a>
                                                </h3>
                                                <ul class="text-nowrap">
                                                    <li class="sell-price"> &#x20B9;<span>{{ product.price }}</span>
                                                    </li>
                                                    <li class="sell-mrp" *ngIf="product.mrp != product.price"> &#x20B9;<span>{{ product.mrp }}</span>
                                                    </li>
                                                    <li class="sell-discount" *ngIf="product.discount > 0"> (<span>{{ product.discount }}</span> % OFF) </li>
                                                </ul>
                                                <div  class="col-lg-12 px-0 ng-star-inserted">
                                                  <div  class="product-colorinfo p-info">
                                                      <ul >
                                                          <li >
                                                              <h3  class="title-info"> Color : </h3>
                                                          </li>
                                                          <li   class="active ng-star-inserted">
                                                              <div  class="code-border ng-star-inserted"><label  class="color-code" style="background-color: rgb(232, 208, 23);"><input  type="radio" value="Yellow" id="Yellow_0_"></label></div>
                                                            
                                                              <div  class="product-sizeinfo primary-div">
                                                          <li >
                                                            
                                                          </li>
                                                  </div>
                                                  </li>
                                                
                                                  </ul>
                                              </div>
                                              <div  class="product-sizeinfo p-info ng-star-inserted">
                                                  <ul >
                                                      <li >
                                                          <h3  class="title-info ng-star-inserted"> Size :
                                                          
                                                          </h3>
                                                        
                                                      </li>
                                                      <li   class="active ng-star-inserted"><span ><input  type="radio" id="4-5 Y_0_"> 4-5 Y </span></li>
                                                          </ul>
                                              </div>
                                             
                                              </div>
                                                <button type="submit" class="btn btn-style-bg text-uppercase m-r10 m-t10"> Add To Cart </button>
                                                <button type="submit"  class="btn btn-style-bg wishlistclass m-r10 m-t10 bg-transparent text-uppercase">
                                                  <i class="far fa-heart"></i></button>
                                                <div class="product-info-bottom">
                                                  <div class="left-group">
                                                      <div class="table-countdown" >
                                                          <countdown [config]="prettyConfig"></countdown>
                                                      </div>
                                                  </div>
                                              </div>
                                              </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </ngx-slick-carousel>
              
            </div>
          </div>
            </div>
            <div class="col-lg-3 col-md-3 beffect">
              <a href="/products?ediscount=50" >
                <img src="assets/images/home/flashdeals (2).jpg" />
                <img src="assets/images/home/flashdeals (1).jpg" />
                <img src="assets/images/home/flashdeals (2).jpg" />
              </a>
            </div>
    </div>
    </div>
</section> -->
  <!-- <section class="deals deals-style2">
  <div class="container">
      <div class="row">
          <div class="col-lg-7   col-md-7 col-xs-12 col-sm-12">
              
              <div class="row row5">
               
                  <div class="col-lg-12   pl-0">
                    <h4 class="section-maintitle text-center font-weight-700">Deals of the day</h4>
                    
                      <ngx-slick-carousel class="carousel slider-for" #slickModal2="slick-carousel" [config]="dealsConfig2">
                       
                        <div ngxSlickItem class="productlist-block custom-image-size" *ngFor="let product of flashdeals; let i = index">
                        
                            <div class="row m-a0">
                            <div class="product-image col-lg-4 ">
                                  <img src="{{ product.thumbnail_path }}" (error)="onImgError($event)" />
                                
                              </div>
                              <div class="col-lg-8 col-md-7 col-sm-6 ">
                                  <div class="">
                                      <div class="product-info">
                                          <div class="product-info-top">
                                              <p class="store-name">
                                                  {{ product.company_name }}
                                              </p>
                                              <h3 class="product-name">
                                                  <a class="smooth" title=""> {{ product.name }}</a>
                                              </h3>
                                              <ul class="text-nowrap">
                                                  <li class="sell-price"> &#x20B9;<span>{{ product.price }}</span>
                                                  </li>
                                                  <li class="sell-mrp" *ngIf="product.mrp != product.price"> &#x20B9;<span>{{ product.mrp }}</span>
                                                  </li>
                                                  <li class="sell-discount" *ngIf="product.discount > 0"> (<span>{{ product.discount }}</span> % OFF) </li>
                                              </ul>
                                              <button type="submit" class="btn btn-style-bg text-uppercase m-r10 m-t10"> Add To Cart </button>
                                          </div>
                                          <div class="product-info-bottom">
                                              <div class="product-desc"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                              <div class="left-group">
                                                  <div class="table-countdown" data-countdown="2019/11/11">
                                                      <countdown [config]="prettyConfig"></countdown>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                  </ngx-slick-carousel>
            
          </div>
        </div>
          </div>
          <div class="col-lg-5 col-md-5 beffect">
            <div class="row">
              <h3 class="section-maintitle text-center col-lg-12">
                Shop By Categories
              </h3>
      
              <div class="cat-block beffect">
                <a routerLink="/category/clothing"
                  ><img src="assets/images/home/clothing.png" />
                  <h4>Clothing</h4>
                </a>
              </div>
              <div class="cat-block beffect">
                <a routerLink="/category/footwear">
                  <img src="assets/images/home/footwear.png" />
                  <h4>footwear</h4>
                </a>
              </div>
              <div class="cat-block beffect">
                <a routerLink="/category/toys">
                  <img src="assets/images/home/toys.png" />
                  <h4>Toys</h4>
                </a>
              </div>
      
              <div class="cat-block beffect">
                <a routerLink="/category/health-safety">
                  <img src="assets/images/home/health.jpg" />
                  <h4>health and safety</h4>
                </a>
              </div>
              <div class="cat-block beffect">
                <a routerLink="/category/personal-care">
                  <img src="assets/images/home/personal Care.jpg" />
                  <h4>Personal Care</h4>
                </a>
              </div>
              <div class="cat-block beffect">
                <a routerLink="/category/food-nutrition">
                  <img src="assets/images/home/nutrients.png" />
                  <h4>nutrition</h4>
                </a>
              </div>
      
              <div class="cat-block beffect">
                <a routerLink="/category/accessories">
                  <img src="assets/images/home/accessories.jpg" />
                  <h4>accessories</h4>
                </a>
              </div>
              <div class="cat-block beffect">
                <a routerLink="/category/books-art">
                  <img src="assets/images/home/book.png" />
                  <h4>Book & Arts</h4>
                </a>
              </div>
      
              <div class="cat-block beffect">
                <a routerLink="/category/sports">
                  <img src="assets/images/home/sports.png" />
                  <h4>Sports</h4>
                </a>
              </div>
      
              <div class="cat-block beffect">
                <a (click)="organic()">
                  <img src="assets/images/home/organic.png" />
                  <h4>organic</h4>
                </a>
              </div>
            </div>
          </div>
  </div>
  </div>
</section> -->
  <section class="offer-section">
    <div class="container">
      <div class="row v-row">
        <!-- <h3 class="section-maintitle text-center col-lg-12 ">Shop By Price</h3> -->

        <div class="col-lg-3 beffect pl-0">
          <a (click)="priceFilters(0, 99)"
            ><img src="assets/images/home/prices99.jpg"
          /></a>
          <a (click)="priceFilters(0, 299)">
            <img src="assets/images/home/prices299.jpg"
          /></a>
        </div>

        <div class="col-lg-6 beffect">
          <a routerLink="/products">
            <img src="assets/images/home/prices-23.jpg"
          /></a>
        </div>

        <div class="col-lg-3 beffect pr-0">
          <a (click)="priceFilters(0, 599)">
            <img src="assets/images/home/prices599.jpg"
          /></a>
          <a (click)="priceFilters(0, 799)">
            <img src="assets/images/home/prices799.jpg"
          /></a>
        </div>
      </div>
    </div>
  </section>

  <section class="brands-section">
    <div class="container">
      <h3 class="modtitle">
        <span>Our Brands</span>
      </h3>
      <!-- <h3 class="section-maintitle text-center col-lg-12 ">Shop By Price</h3> -->

      <owl-carousel-o [options]="RecommendOptions">
        <ng-template carouselSlide *ngFor="let brand of brands">
          <a (click)="getProductBrands(brand.id)"
            ><img [src]="brand.image"
          /></a>
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>
</div>

<!-- Skeleton-Loader -->

<div class="homedesktop-page m-none" *ngIf="loading">
  <section class="p-a0 slider-home">
    <div class="container-fluid p-a0">
      <ngx-skeleton-loader
        [theme]="{
          'border-radius': '5px',
          height: '450px',
          'background-color': '#992929',
          border: '1px solid white'
        }"
      ></ngx-skeleton-loader>
    </div>
  </section>
  <section class="features-section">
    <div class="container">
      <h3 class="section-maintitle text-center">
        <ngx-skeleton-loader
          [theme]="{
            'border-radius': '5px',
            height: '25px',
            width: '150px',
            'background-color': '#992929',
            border: '1px solid white'
          }"
        ></ngx-skeleton-loader>
      </h3>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_pfg8 col-style">
        <div class="block-policy2">
          <ul>
            <li class="item-1">
              <div class="item-inner d-flex">
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{
                    height: '50px',
                    width: '50px',
                    'background-color': '#992929',
                    border: '1px solid white'
                  }"
                ></ngx-skeleton-loader>
                <div class="">
                  <ngx-skeleton-loader
                    count="2"
                    [theme]="{
                      'border-radius': '5px',
                      height: '15px',
                      margin: '0px',
                      'margin-top': '5px',
                      width: '170px',
                      'background-color': '#992929',
                      border: '1px solid white'
                    }"
                  ></ngx-skeleton-loader>
                  <!-- <a href="#">{{feature.name}}</a> -->
                  <!-- <p>A Partner You Can Rely On</p> -->
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="flash-deals">
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-4">
                    <img src="assets/images/slider/11.jpg">

                </div> -->
        <div class="col-lg-12">
          <h3 class="section-maintitle">
            <ngx-skeleton-loader
              [theme]="{
                'border-radius': '5px',
                height: '25px',
                width: '150px',
                'background-color': '#992929',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </h3>
          <!-- <owl-carousel-o [options]="RecommendOptions">
            <ng-template
              carouselSlide
              class="productlist-block product-blist"
              *ngFor="let flashproduct of flashdeal"
            >
              <div class="product-list">
                <div class="product-image">
                  <img src="{{ flashproduct.image }}" />
                  <a
                    class="wishlist-block"
                    *ngFor="let prodvariant of flashproduct.productvariant"
                    (click)="addToWishlist(flashproduct.id, prodvariant.id)"
                    ><i class="fal fa-heart"></i
                  ></a>

                  <button
                    class="product-add-btn"
                    *ngFor="let prodvariant of flashproduct.productvariant"
                    (click)="addProductToCart(prodvariant.id)"
                  >
                    add to cart
                  </button>
                </div>

                <div class="product-details">
                  <p>{{ flashproduct?.company_name }}</p>
                  <h4>{{ flashproduct.pv_name }}</h4>
                  <ul>
                    <li>
                      &#x20B9;<span>{{ flashproduct.pv_price }}</span>
                    </li>
                    <li>
                      &#x20B9;<span>{{ flashproduct.pv_mrp }}</span>
                    </li>
                    <li>
                      (<span>{{ flashproduct.discount }}</span> % OFF)
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o> -->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="price-item">
            <ngx-skeleton-loader
              [theme]="{
                'border-radius': '5px',
                height: '240px',
                width: '100%',
                'background-color': '#992929',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="price-item">
            <ngx-skeleton-loader
              [theme]="{
                'border-radius': '5px',
                height: '240px',
                width: '100%',
                'background-color': '#992929',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </div>
        </div>
        <div class="col-lg-4 px-0">
          <div class="flashdeals-blockstrip">
            <h3 class="section-maintitle text-center">SHOP BY PRICE</h3>
          </div>

          <ngx-skeleton-loader
            [theme]="{
              'border-radius': '5px',
              height: '400px',
              width: '100%',
              'background-color': '#992929',
              border: '1px solid white'
            }"
          ></ngx-skeleton-loader>
        </div>
        <div class="col-lg-4">
          <div class="price-item">
            <ngx-skeleton-loader
              [theme]="{
                'border-radius': '5px',
                height: '240px',
                width: '100%',
                'background-color': '#992929',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="price-item">
            <ngx-skeleton-loader
              [theme]="{
                'border-radius': '5px',
                height: '240px',
                width: '100%',
                'background-color': '#992929',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 
  <section class="offer-slide">
    <div class="container-fluid">
      <owl-carousel-o [options]="OfferOptions">
        <ng-template carouselSlide>
          <ngx-skeleton-loader
            [theme]="{
              'border-radius': '5px',
              height: '240px',
              width: '100%',
              'background-color': '#992929',
              border: '1px solid white'
            }"
          ></ngx-skeleton-loader>
        </ng-template>
        <ng-template carouselSlide>
          <ngx-skeleton-loader
            [theme]="{
              'border-radius': '5px',
              height: '240px',
              width: '100%',
              'background-color': '#992929',
              border: '1px solid white'
            }"
          ></ngx-skeleton-loader>
        </ng-template>
        <ng-template carouselSlide>
          <ngx-skeleton-loader
            [theme]="{
              'border-radius': '5px',
              height: '240px',
              width: '100%',
              'background-color': '#992929',
              border: '1px solid white'
            }"
          ></ngx-skeleton-loader>
        </ng-template>
      </owl-carousel-o>
    </div>
  </section>

  <section class="flash-deals m-none">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 pr-0">
          <ngx-skeleton-loader
            [theme]="{
              'border-radius': '5px',
              height: '400px',
              width: '100%',
              'background-color': '#992929',
              border: '1px solid white'
            }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              'border-radius': '5px',
              height: '240px',
              width: '100%',
              'background-color': '#992929',
              border: '1px solid white'
            }"
          ></ngx-skeleton-loader>
        </div>
        <div class="col-lg-8 category-slidersection">
          <h3 class="section-maintitle">All Categories</h3>
          <mat-tab-group mat-align-tabs="end" [disableRipple]="true">
            <mat-tab *ngFor="let category of AllCategory" label="">
              <ng-template mat-tab-label>
                <div class="" (click)="CategoryProd(category.id)">
                  {{ category.title }}
                </div>
              </ng-template>
              <div class="row mx-0">
                <div
                  class="col-lg-3 pr-10 pl-0"
                  *ngFor="let product of AllCategoryProduct"
                >
                  <div class="product-list">
                    <div class="product-image">
                      <img src="{{ product.images }}" />
                      <a
                        class="wishlist-block"
                        *ngFor="let prodvariant of product.productvariant"
                        (click)="addToWishlist(product.id, prodvariant.id)"
                        ><i class="fal fa-heart"></i
                      ></a>
                      <button
                        class="product-add-btn"
                        *ngFor="let prodvariant of product.productvariant"
                        (click)="addProductToCart(prodvariant.id)"
                      >
                        add to cart
                      </button>
                    </div>

                    <div class="product-details">
                      <p>{{ product.seller?.company_name }}</p>
                      <h4>{{ product.name }}</h4>
                      <ul>
                        <li>
                          &#x20B9;<span>{{ product.sell_price }}</span>
                        </li>
                        <li>
                          &#x20B9;<span>{{ product.mrp }}</span>
                        </li>
                        <li>
                          (<span>{{ product.seller_discount }}</span> % OFF)
                        </li>
                      </ul>
                    </div>
                  </div>
              
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="container">
      <div class="row">
     
        <div class="col-lg-12">
          <h3 class="section-maintitle">
            <ngx-skeleton-loader
              [theme]="{
                'border-radius': '5px',
                height: '30px',
                width: '150px',
                'background-color': '#992929',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </h3>
          <owl-carousel-o [options]="RecommendOptions">
            <ng-template carouselSlide *ngFor="let subcat of subcategory">
              <a
                routerLink="/shop/category/subcategory/subsubcategory"
                class="brands-block"
              >
                <div class="product-list">
                  <ngx-skeleton-loader
                    [theme]="{
                      'border-radius': '5px',
                      height: '240px',
                      width: '100%',
                      'background-color': '#992929',
                      border: '1px solid white'
                    }"
                  ></ngx-skeleton-loader>

                  <div class="brands-details">
                    <h4>
                      <ngx-skeleton-loader
                        [theme]="{
                          'border-radius': '5px',
                          height: '20px',
                          width: '70%',
                          'background-color': '#992929',
                          border: '1px solid white'
                        }"
                      ></ngx-skeleton-loader>
                    </h4>
                  </div>
                </div>
              </a>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section> -->
</div>

<!-- End Skeleton-Loader -->

<app-footer></app-footer>
