ul {
  margin-bottom: 0;
}

.banner-furniture {
  padding-left: 15px;
  padding-right: 15px;
}
.collection-banner {
  position: relative;
  overflow: hidden;
}
.collection-banner .img-part {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}
@media (max-width: 1367px) {
  .collection-banner .contain-banner h4 {
    letter-spacing: 0.01em;
  }
  .collection-banner .contain-banner.banner-4 h2 {
    font-size: 28px;
  }
}

.collection-banner .contain-banner.banner-4 h2 {
  font-size: 28px;
  letter-spacing: 0.03em;
  color: white;
  font-weight: 700;
  margin-bottom: -6px;
  text-transform: uppercase;
}
.collection-banner .contain-banner h4 {
  color: #3e5067;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  font-size: 16px;
}
.collection-banner .contain-banner.banner-4 {
  padding-left: 45px;
  padding-right: 45px;
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.blur-up {
  filter: blur(0px);
  transition: filter 400ms;
  height: 183px;
}
.collection-banner .contain-banner.banner-4 {
  padding-left: 13px;
  padding-right: 13px;
}

.collection-banner.p-right .contain-banner {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.collection-banner .contain-banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.theme-card h5.title-border {
  padding: 10px;
  color: white;
  background-color: #3e5067;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.brands-section img {
  box-shadow: 0 1px 3px 0 #9ccae8;
  margin: 10px 0px;
  padding: 15px;
  background: #fff;
}
.slider-home img {
  cursor: pointer;
  /* border: 1px solid #cac7f6; */
  box-shadow: 0 1px 3px 0 #9ccae8;
  border-radius: 5px;
  margin: 2px;
}
.theme-card {
  position: relative;
}
.theme-card .offer-slider img {
  margin-bottom: 8px;
  border-radius: 8px;
}
.offer-section img {
  border-radius: 5px;
  margin-bottom: 21px;
}
.offer-slider img {
  border-radius: 3px;
  margin-top: 13px;
}
.offer-slider p {
  font-size: 10px;

  width: 100%;
  color: #a29b9b;
  padding: 2px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  margin: 5px 0 2px;
  line-height: 5px;
}
.img-link {
  width: 20%;
}
.offer-slider h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 0px;
  font-weight: 400 !important;
  text-transform: normal;
  line-height: 1.1;
  font-size: 1.1vw;
  color: #222;
  margin-bottom: 3px;
}
.offer-slider ul {
  margin-bottom: 0;
  line-height: 14px;
}

.offer-slider li:first-child {
  color: #333;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
}

.offer-slider li {
  list-style-type: none;
  display: inline-block;
  font-size: 6px;
  margin-right: 5px;
}
.offer-slider li:nth-child(2) {
  font-size: 13px;
  color: #aaa;
  text-decoration: line-through;
}
.offer-slider li:last-child {
  color: #e75d81;
  font-weight: 600;
  font-size: 5px;
  white-space: nowrap;
  text-align: center;
  font-size: 11px;
}

.offer-slider .media {
  display: flex;
  align-items: flex-start;
  padding: 0 12px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0 #9ccae8;
}

.category-slidersection .section-maintitle {
  position: relative;
  margin-bottom: 0;
  top: 34px;
  left: 0px;
}

.category-slidersection {
}

.category-slidersection h3 {
  padding: 10px;
  color: white;
  background-color: #3e5067;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  /* position: relative; */
  margin-bottom: 0;
}

.category-slidersection .mat-tab-labels {
  display: flex;
  padding: 0px;
  color: white;
  background-color: #3e5067;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.category-section h3 {
  font-weight: 700;
  margin-bottom: 22px;
}

.category-section img {
  font-weight: 700;
  margin-bottom: 0px;
  border-radius: 5px;
}

.brands-section .container {
  // border: 1px solid #ebebeb;
  // border-radius: 3px;
  // padding: 20px 0px;
  // margin-top: 25px;
  // margin-bottom: 50px;
}
.brands-section {
  background: #f2f2f2;
}
.features-section {
  background: #fff;
}

.cat-block h4 {
  color: #666;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.cat-block {
  width: 18%;
  margin-left: 15px;
  display: inline-block;
}

.deals .row5 {
  margin: 0 -5px;
}
.deals .deals-left .product-image {
  position: relative;
}
.deals .deals-left .product-image:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  // background: url(../image/catalog/demo/products/dailydeal.png);
  z-index: 1;
}

.deals .deals-left .product-image .label-sale {
  top: 20px;
}

.label-sale.red-right {
  right: 10px;
  top: 10px;
  background-color: #ff5722;
}
.label-sale {
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: #03a9f4;
  color: #fff;
  padding: 0.5px 9px 0px 8px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  font-weight: 700;
  z-index: 2;
  font-size: 14px;
}

.deals .deals-left .product-image .label-sale:before {
  left: -1.5px;
}

.label-sale.red-right:before {
  border-bottom: 5px solid #ff5722;
}
.label-sale:before {
  content: "";
  border-right: 8px solid transparent;
  border-bottom: 5px solid #03a9f4;
  border-left: none;
  position: absolute;
  top: calc(100% + 1px);
  left: -2px;
  right: auto;
  transform: rotate(90deg);
}
.product-info {
  padding-top: 1rem;
}
.product-info .product-info-top {
  position: relative;
  padding-bottom: 0;
}
.product-info .product-name {
  margin-bottom: 2px;
  font-size: 14px;
}

.product-info .product-name a {
  font-size: 19px;
}

.product-info li.sell-price {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.product-info li.sell-mrp {
  font-size: 14px;
  color: #aaa;
  text-decoration: line-through;
}
.product-info li.sell-discount {
  color: #e75d81;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
}
.product-info li {
  list-style-type: none;
  display: inline-block;
  font-size: 6px;
  margin-right: 5px;
}
.deals .deals-left .product-info .product-info-bottom {
  padding-top: 2.5rem;
}

.deals .deals-left .product-info .product-desc {
  margin-bottom: 2.5rem;
}

.product-desc {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #666666;
  padding: 4px 0;
}

.store-name {
  margin: 0;
  font-size: 11px;
  line-height: 11px;
}

.product-image img {
  // border: 1px solid #ccc;
  padding: 0px;
}

.deals .m-a0 {
  margin: 8px 12px !important;
  display: flex;
  align-items: center;
}
.deals .m-a0 img {
  box-shadow: 0 1px 3px 0 #9ccae8;
}

.deals .bg-light-blueshade {
  padding: 27px 12px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #9ccae8;
}
.deals .cat-block {
  width: 22%;
  margin: 5px;
}
.deals .cat-block h4 {
  font-size: 13px;
}
.deals-style2 {
  // background-color: #eee;
}

.deals {
  background-color: #eee;
}

.product-colorinfo li {
  list-style-type: none;
  display: inline-block;
}
.product-colorinfo li.active .code-border {
  border: 1px dashed #a29c9e;
}

.code-border {
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 11px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: inline-flex;
}
.product-colorinfo .color-code {
  width: 22px;
  height: 22px;
  position: relative;
  content: "";
  vertical-align: middle;
  border-radius: 50%;
  margin-bottom: 0;
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0 #9ccae8;
  margin-top: 0px;
}
.code-border input {
  opacity: 0;
}

h3.title-info {
  font-size: 1.1vw;
  margin-bottom: 7px;
  font-weight: 600;
  text-transform: CAPITALIZE;
}
.product-colorinfo li:first-child {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
  display: block;
}

.product-colorinfo li {
  list-style-type: none;
  display: inline-block;
}

.product-sizeinfo li:first-child {
  font-size: 16px;
  margin-bottom: 3px;
  font-weight: 600;
  display: block;
}

.product-sizeinfo li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 11px;
}
.product-sizeinfo li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 11px;
}
.product-sizeinfo li.active span {
  border: 1px solid #eb6083;
  color: #eb6083;
  box-shadow: 0 1px 2px 0 #9ccae8;
}

.product-sizeinfo span {
  display: inline-block;
  list-style-type: none;
  padding: 4px 10px;
  font-size: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0 #9ccae8;
  margin-right: 0px;
  text-align: center;
  margin-bottom: 0px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.product-sizeinfo span input {
  opacity: 0;
  display: block;
  position: absolute;
  cursor: pointer;
}

.deals-day {
}
.deals-day .flashdeals-block {
  padding: 12px;
}

.category-section .product-details {
  padding: 3px 8px 3px;
  border: none !important;
  background: #f1f1f1;
  border-top: 0 !important;
  box-shadow: none !important;
  position: relative;
  vertical-align: middle;
}
.block-deals {
  background: #000;
  padding: 0px 0px 3px;
  background: #fff;
  box-shadow: 0 1px 5px #9ccae8;
  position: relative;
  vertical-align: middle;
}
.deals-day {
  background-image: url("/assets/images/icons/supermobile3.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 17px 5px;
  margin-bottom: 14px;
  font-size: 18px;
  margin-bottom: 0 !important;
  margin-top: 0px !important;
  background-position: center;
}
