/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: #fff;

  font-family: "Lato", sans-serif !important;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  padding: 0;
  margin: 0;
}
.header-top {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.025rem;
  color: #c4d0dc;
  background-color: #273647;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.header-left,
.header-center,
.header-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.header-dropdown {
  position: relative;
  text-transform: uppercase;
}
.header-right {
  margin-left: auto;
}
.welcome-msg {
  display: none;
  position: relative;
  margin: 0.3rem 2rem 0.3rem 0;
  text-transform: uppercase;
}
.welcome-msg:after {
  position: absolute;
  top: 50%;
  right: -14px;
  height: 11px;
  margin-top: -5.5px;
  border-right: 1px solid;
  content: "";
  opacity: 0.8;
}
.header-top a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: inherit;
}
.dropdown-expanded .header-menu {
  position: static;
  top: auto;
  right: auto;
  left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
  visibility: visible;
}
.header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-menu ul li {
  position: relative;
  margin: 0;
  display: inline-block;
}
.header-menu ul a {
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 2px 17px;
  white-space: nowrap;
  font-size: 12px;
}
.logo img {
  width: 152px;
}

.header-contact {
  align-items: center;
  text-transform: uppercase;
}
.d-lg-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.header-contact svg {
  margin-right: 12px;
  color: #e75e83;
}
.header-contact h6 {
  margin: 0;
  font-size: 12px;
  line-height: 1.3;
  color: #777;
  font-weight: 600;
  text-align: left;
}
.header-contact a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  color: #222529 !important;
  text-transform: lowercase;
}
.header-menu ul li:before {
  position: absolute;
  top: 50%;
  left: -2px;
  height: 17px;
  margin-top: -7.5px;
  border-right: 1px solid;
  content: "";
  opacity: 0.5;
}
.header-menu ul li:first-child:before {
  content: none;
}
.header-middle {
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
}
.header-left.float-right {
  display: flex;
  align-items: center;
  text-align: right;
  vertical-align: middle;
  justify-content: flex-end;
}

img {
  max-width: 100%;
}

.sell-fabpik h4 {
  color: #273c63;
  margin-bottom: 7px;
  font-size: 22px;
  font-weight: 600;
}
section {
  padding: 20px 0;
}

.sell-fabpik .row {
  padding: 47px 7%;
}

.sell-fabpik p {
  color: #707b8e;
  margin-bottom: 25px;
  font-size: 13px;
}

img.line {
  transform: translateX(50%) translateY(82%);
  // display: none;
}
img.line2 {
  transform: translateX(-56%) translateY(87%);
  // display: none;
}
.left-img .img-block {
  position: absolute;
  top: -4%;
}

.none {
  opacity: 0;
}
.left-img {
  margin: 0px auto;
  display: flex;
  text-align: center;
  justify-content: center;
}
// .media {
//     display: -webkit-box;
//     align-items: flex-start;
// }
.div-features {
  //  box-shadow: 5px 1px 3px 3px rgb(185 62 100 / 10%);
  /* box-shadow: 0px 20px 40px 0px rgb(185 62 100 / 10%); */
  margin-bottom: 20px;
  // display: inline-flex;
  border-radius: 12px 0 0 12px;
}

.div-features label {
  color: #666;
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 100%;
  margin: 8px 0;
}
.v-row {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}
.fabpik-why {
  background: #fcfafb;
}
.fabpik-why p {
  color: #707b8e;
  margin-bottom: 0px;
  font-size: 14px;
  padding: 5px 18px;
  text-align: CENTER;
}
.div-features p {
  color: #707b8e;
  margin-bottom: 0px;
  font-size: 14px;
  padding: 5px 18px;
  text-align: CENTER;
}

.img-div {
  vertical-align: middle;
  margin: 0 auto;
  border-radius: 12px 0 11px 12px;
  background-color: #d22d5a4f;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 6px 0px #b93e6414;
  box-shadow: 0px 4px 6px 0px #b93e6414;
  display: -webkit-box;
  display: -ms-flexbox;
}
.img-div img {
  display: flex;
  justify-content: center;
  animation: c;
  width: 100%;
  padding: 13px;
}
// .bg-1
// {
//     background:#d6be1d;
// }
// .bg-2

// {
//     background:#826dee;
//     width: 73px;
// }
// .bg-3

// {
//     background:#22d1aa
// }
.grafe_man_1 {
  position: absolute;
  bottom: -31px;
  left: -205px;
  z-index: 1;
}
.grafe_man_2 {
  position: absolute;
  right: -59px;
  bottom: 0;
  z-index: 1;
}
.why-fabpik-right {
  padding: 0px 138px 0 0px;
}
.features-section {
  position: relative;
}

.img-1 {
  position: relative;
  left: 171px;
  bottom: 0;
  z-index: 1;
}
.img-2 {
  position: absolute;
  left: 70px;
  bottom: 0;
}
.app-section {
  position: relative;
  margin-top: 100px;
  background: #fcf8fa;
}
.sec_title {
  font-size: 25px;
  width: 100%;
  line-height: 40px;
  font-weight: 600;
  color: #2c234d;
  margin: 0;
  text-transform: capitalize;
}
.app-section p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #707b8e;
  padding: 0;
  margin-bottom: 24px;
}
.btn_solid_color {
  border: 1px solid #e75e83;
  color: #fff;
  background: #e75e83;
  font-size: 18px;
  box-shadow: 0px 20px 30px 0px rgb(9 25 130 / 20%);
  padding: 6px 13px !important;
  margin-right: 20px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  padding: 14px 35px;
  transition: all 0.5s;
}
.iconify {
  margin-right: 10px;
}

.btn_border {
  border: 1px solid #e75e83;
  color: #e75e83;
  font-size: 18px;
  box-shadow: 0px 20px 30px 0px rgb(9 25 130 / 20%);
  padding: 6px 13px !important;
  margin-right: 20px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  padding: 14px 35px;
  transition: all 0.5s;
}

// .feature-list .grapg_details:nth-child(1)
// {
//     position: absolute;
//     top: 112px;
//     left: 0;
// }
// .feature-list .grapg_details:nth-child(2)
// {
//     position: absolute;
//     top: 3px;
//     left: 33%;
// }
// .feature-list .grapg_details:nth-child(3)
// {
//     position: absolute;
//     top: 112px;
//     left: 0;
// }
// .feature-list .grapg_details:nth-child(4)
// {
//     position: absolute;
//     top: 112px;
//     left: 0;
// }
// .feature-list .grapg_details:nth-child(5)
// {
//     position: absolute;
//     top: 112px;
//     left: 0;
// }
// .feature-list .grapg_details:nth-child(6)
// {
//     position: absolute;
//     top: 112px;
//     left: 0;
// }
.grapg_details.graph_comments {
  justify-content: center;
  animation: fadeInLeft 0.2s 1 linear;
  background: #fff;
  box-shadow: 0px 20px 30px 0px rgb(3 11 61 / 4%);
  display: -webkit-inline-box;
  padding: 14px 19px 14px;
  vertical-align: middle;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 19px;
  margin-right: 37px;
  width: 30%;
  border-radius: 10px;
}

.grapg_details.graph_comments .content {
  display: flex;
  align-items: center;
  margin-left: 21px;
}
.grapg_details .icon img {
  color: #0edae7;
  width: 26px;
  line-height: 30px;
}

.grapg_details h3 {
  color: #707b8e;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.fabpik-list {
  background: #fcfafb;
  padding-top: 56px;
}
.feat-list {
}
p {
  color: #707b8e;
  margin-bottom: 0px;
  font-size: 14px;
}

.feature-list p {
  margin-top: 20px !important;
}
.sell-fabpik .icon {
  width: 55px;
  margin-bottom: 0px;
}
.grapg_details.graph_comments .icon {
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0 #9ccae8;
  background: #fff;
  padding: 0px 0px 0px;
  border-radius: 3px;
  margin-bottom: 0px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.m-t30 {
  margin-bottom: 30px;
}

.video-section .video_img {
  position: relative;
  cursor: pointer;
}
.video_img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000036;
  border-radius: 8px;
}
.video_img .video_bg_img {
  border-radius: 8px;
}
.video_img {
  margin: 0% 20%;
}
.video_img .video_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}
.video_img .video_icon .icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.video_img .video_icon::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-animation: youTube 3.1s linear infinite;
  animation: youTube 3.1s linear infinite;
}
.video_img .video_icon::after {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  box-shadow: 0px 1px 15px 1px rgb(255 255 255 / 80%);
  content: "";
  animation: youTube 2.2s linear infinite;
  z-index: -1;
}
@-webkit-keyframes youTube {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(3);
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
@keyframes youTube {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(3);
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.video_img .video_icon img {
  margin-bottom: -20px;
  margin-left: 2px;
}
.media-link img {
  width: 26px;
}
.video-section h4 {
  font-size: 20px;
  width: 100%;
  line-height: 30px;
  font-weight: 600;
  color: #666;
  margin: 0;
  margin-bottom: 18px;
  text-align: center;
  text-transform: capitalize;
}

.media-link .div-icon {
  border-color: #ee6d95;
  -webkit-box-shadow: 0px 40px 50px 0px rgb(185 62 100 / 12%);
  box-shadow: 0px 40px 50px 0px rgb(185 62 100 / 12%);

  width: 60px;
  height: 60px;

  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 6px 0px #b93e6414;
  box-shadow: 0px 4px 6px 0px #b93e6414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 auto 15px;
}

.media-link h3 {
  display: inline-block;
  color: #707b8e;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  line-height: 30px;
  transition: all 0.5s;
}
.media-link {
  text-align: center;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .line2 {
    display: none;
  }
  .line1s {
    display: none;
  }

  .left-img .img-block {
    position: relative;
    top: 0%;
  }

  .grapg_details.graph_comments {
    width: 100%;
    border-radius: 10px;
    margin-right: 0px;
  }
  .sell-fabpik .row {
    padding: 14px 0%;
  }
  .img-1 {
    position: relative;
    left: 9px;
    bottom: 0;
    z-index: 1;
  }
  .img-2 {
    position: absolute;
    left: 0px;
    bottom: 0;
  }
  .header-left,
  .header-center,
  .header-right {
    display: block;
    text-align: center;
  }
  .header-left .header-contact {
    background: #273647;
    border-radius: 8px;
    padding: 6px 14px !important;
    margin-left: 3px;
  }
  .header-left.float-right {
    display: flex;
    align-items: center;
    text-align: right;
    vertical-align: middle;
    justify-content: center;
    margin-bottom: 18px;
  }
  .header-contact h6 {
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
    font-weight: 600;
  }
  .header-contact svg {
    margin-right: 12px;
    color: #fff;
    width: 16px;
  }
  .header-contact a {
    display: none;
  }
  .sec_title {
    font-size: 22px;
    width: 100%;
    line-height: 28px;
    font-weight: 600;
    color: #2c234d;
    margin: 12px 0px 12px;
    text-align: center;
    text-transform: capitalize;
  }
  .media-link {
    width: 33.33%;
  }
  .header-top {
    text-align: center;
  }
  .mobile-flex {
    display: flex;
    flex-direction: column-reverse;
  }
  .video-section h4 {
    font-size: 18px;
    width: 100%;
    line-height: 23px;
  }
  .sell-fabpik {
    text-align: center;
  }
  .sell-fabpik .icon {
    width: 41px;
    margin-bottom: 7px;
    margin: 12px auto;
  }
}

.copyright {
  text-align: center;
  padding: 0;
}
.copyright .row {
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 9px 0;
  justify-content: center;
}
.copyright p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.div-registrar p {
  color: #707b8e;
  margin-bottom: 0px;
  font-size: 14px !important;
  padding: 5px 18px;
  text-align: CENTER;
}
.div-registrar {
  min-height: 128px;
}

.img-reg {
  vertical-align: middle;
  margin: 0 auto;
  border-radius: 12px 0 11px 12px;
  background-color: #d22d5a4f;
  width: 78px;
  height: 75px;
  border-radius: 26%;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px 0px #b93e6414;
  display: -ms-flexbox;
  position: relative;
  right: 0;
}
.img-reg img {
  display: flex;
  justify-content: center;
  animation: c;
  width: 100%;
  padding: 8px;
}
.div-registrar label {
  color: #666;
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 100%;
  margin: 8px 0;
}

/*--------------------------------------------------------------
    [ ## Testimonial ]
--------------------------------------------------------------*/
/*-------------------------------------------------
    [ ## Testimonial ]
*/
@media only screen and (max-width: 1199px) {
  .testimonial-block .container.ml-t-10 {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial-block .container.ml-t-10 {
    margin-top: 0px;
  }
  .testimonial-block .container.ml-b-30 {
    margin-bottom: -20px;
  }
}
.testimonial-block.testimonial-right .container > .row > div:nth-child(1) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.testimonial-block.testimonial-right .container > .row > div:nth-child(2) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
@media only screen and (max-width: 991px) {
  .testimonial-block.testimonial-right .container > .row > div:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .testimonial-block.testimonial-right .container > .row > div:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}
.testimonial-block.testimonial-right .btn-links-area {
  margin-bottom: 0px;
}

.testimonial-slide-area {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  height: 500px;
  overflow: hidden;
  margin-right: -30px;
  margin-left: -30px;
}
.testimonial-slide-area .testimonial-slick-wrapper {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  margin-top: -175px;
}
.testimonial-slide-area
  .testimonial-slick-wrapper
  .slick-active
  .testimonial-item {
  -webkit-transform: translateY(60%) translateZ(0px) scale(0.75);
  transform: translateY(60%) translateZ(0px) scale(0.75);
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.testimonial-slide-area
  .testimonial-slick-wrapper
  .slick-center
  .testimonial-item {
  -webkit-transform: translateZ(50px) scale(0.9);
  transform: translateZ(50px) scale(0.9);
  position: relative;
  z-index: 2;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.testimonial-slide-area
  .testimonial-slick-wrapper
  .slick-center
  + .slick-active
  .testimonial-item {
  -webkit-transform: translateY(-60%) translateZ(0px) scale(0.75);
  transform: translateY(-60%) translateZ(0px) scale(0.75);
}
@media only screen and (max-width: 1199px) {
  .testimonial-slide-area {
    height: 440px;
  }
  .testimonial-slide-area .testimonial-slick-wrapper {
    margin-top: -155px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial-slide-area {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial-slide-area {
    height: 480px;
    margin-top: 30px;
  }
  .testimonial-slide-area .testimonial-slick-wrapper {
    margin-top: -177px;
  }
}
@media only screen and (max-width: 575px) {
  .testimonial-slide-area {
    height: 570px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .testimonial-slide-area .testimonial-slick-wrapper {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    margin-top: 0px;
  }
  .testimonial-slide-area
    .testimonial-slick-wrapper
    .slick-active
    .testimonial-item,
  .testimonial-slide-area
    .testimonial-slick-wrapper
    .slick-center
    .testimonial-item,
  .testimonial-slide-area
    .testimonial-slick-wrapper
    .slick-center
    + .slick-active
    .testimonial-item {
    -webkit-transform: translateY(0%) translateZ(0px) scale(0.9) !important;
    transform: translateY(0%) translateZ(0px) scale(0.9) !important;
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

.testimonial-item {
}
.testimonial-item .testimonial-item-inner {
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px 0px #b93e6414;
  overflow: hidden;
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 45px 35px 40px;
}
.slick-slide {
  margin: 0px 20px;
}
/* the parent */
.slick-list {
  margin: 0px -20px;
}
.testimonial-item .quote-icon {
  bottom: -20px;
  position: absolute;
  right: -25px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial-item .testimonial-item-inner {
    padding: 45px 35px 40px;
  }
}
@media only screen and (max-width: 575px) {
  .testimonial-item {
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  }
  .testimonial-item .testimonial-item-inner {
    padding: 30px 15px 25px;
  }
}

.client-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.client-testimonial .client-thumb {
  width: 100px;
  height: 100px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  -webkit-flex: 0 0 100px;
  flex: 0 0 100px;
  max-width: 100px;
  margin-top: 5px;
}
.client-testimonial .client-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.client-testimonial .testimonial-details {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 100px);
  -webkit-flex: 0 0 -webkit-calc(100% - 100px);
  flex: 0 0 calc(100% - 100px);
  max-width: -webkit-calc(100% - 100px);
  max-width: calc(100% - 100px);
  padding-left: 20px;
}
.client-testimonial .testimonial-details .details {
  margin-bottom: 20px;
}
.client-testimonial .testimonial-details .client-area .client-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}
.client-testimonial .testimonial-details .client-area .client-designation {
  font-size: 12px;
  line-height: 1.5em;
}
@media only screen and (max-width: 1199px) {
  .client-testimonial .testimonial-details {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .client-testimonial {
    display: block;
  }
  .client-testimonial .client-thumb {
    width: 60px;
    height: 60px;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .client-testimonial .client-thumb img {
    width: 100%;
    height: 100%;
  }
  .client-testimonial .testimonial-details {
    padding-left: 0px;
    max-width: 100%;
  }
  .client-testimonial .testimonial-details p {
    line-height: 1.5em;
  }
}

.app-section a img {
  width: 110px;
  margin-right: 12px;
}

.div-registrar p a {
  color: #ee6d95;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: underline;
}

.links-useful li {
  display: inline-block;
  display: inline-block;
  color: #707b8e;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  line-height: 15px;
  transition: all 0.5s;
  margin-right: 13px;
}

.links-useful ul {
  margin-bottom: 0;
}

p {
  font-size: 15px !important;
}

.sell-fabpik a {
  color: #ee6d95;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: underline;
}
html,
body {
  height: 100%;
}

.links-useful a {
  color: #707b8e;
}

html,
body {
  height: 100%;
}

.mediaquote-link img {
  width: 11px;
  top: -11px;
  position: relative;
  left: -1px;
  // display: none;;s
}

.rotate-icon {
  transform: rotate(180deg);
  top: -8px !important;
  right: -2px;
  // display: none;;
}

.mediaquote-link p {
  font-size: 17px !important;
  font-weight: 600;
  text-align: center;
  color: #daa3a3;
  margin-bottom: 36px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 1px 3px 0 #9ccae8;
}

.support-tabs .mat-tab-label h3 {
  font-size: 12px;
  margin-top: 13px;
  font-weight: 500;
  white-space: break-spaces;
  height: 34px;
  line-height: 19px;
}

.support-tabs .mat-tab-labels {
  display: flex;
  padding: 4px 12px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.support-tabs .mat-tab-label {
  line-height: 33px !important;
  margin-right: 7px !important;
  padding: 12px 14px !important;
  min-width: 16%;
  width: 20%;
}

.support-tabs .mat-elevation-z4 {
  box-shadow: none;
}

.support-tabs .mat-tab-label {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  opacity: 0.7;
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0 #9ccae8;
  border-radius: 5px;
  line-height: 60px;
  margin-right: 27px;
  text-align: center;
  text-align: center;
  padding: 0px 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100%;
  display: block;
  background: #fff;
}

.support-tabs p {
  font-size: 12px;
  line-height: 19px;
  color: #282c3f;
  padding: 0;
  padding-left: 18px;
  margin: 2px 0 0;
  list-style: none;
  width: 100%;
}

.support-tabs li {
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
  width: 100%;
  padding: 4px 12px;
  border: none;
  font-size: 13px !important;
  line-height: 19px;
  color: #707b8e;
}

.support-tabs li:last-child {
  border-bottom: none;
}

.support-tabs li span {
  font-size: 13px;
  display: inline-block;
  color: #282c3f;
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
  width: 20vw;
  font-weight: 600;
}

.support-tabs .mat-tab-label-active {
  color: #2d2a2a !important;
  opacity: 1 !important;
  border-bottom: 2px solid #e91e63;
}

.support-tabs .mat-tab-label {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  opacity: 0.7;
}

.mat-tab-group.support-tabs {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.support-tabs .mat-tab-body-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.support-tabs .mat-ink-bar {
  display: none;
}

.support-tabs .mat-tab-header,
.support-tabs .mat-tab-nav-bar {
  border-bottom: none;
}

.support-tabs .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}

.support-tabs .mat-expansion-panel-header:not([aria-disabled="true"]) {
  cursor: pointer;
  height: 40px !important;
}

.support-tabs .mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.support-tabs .mat-expansion-panel-header-title::before {
}

.mat-ripple {
  overflow: hidden;
  position: relative;
}
.mat-ripple-element {
  display: none;
}

.slider .owl-dots {
  position: absolute;
  margin: 0 auto;
  left: 0;
  margin-bottom: 24px;
  right: 0;
}

.terms-conditions .mat-tab-group {
  flex-direction: row !important;
  background: #fff;
}
.terms-conditions .mat-tab-labels {
  display: grid !important;
}
.terms-conditions .mat-tab-label.mat-tab-label-active {
  color: #e75e83;
  background: #fff;
  font-weight: 600;
  border-bottom: 0;
  font-size: 15px;
  min-width: 135px !important;
  padding: 7px 15px;
  height: 35px;
  opacity: 1;
  font-size: 1.1vw;
  text-transform: capitalize;
  border-left: 2px solid #e75e83;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.terms-conditions .mat-tab-group {
  display: flex;
}
.terms-conditions .mat-tab-label {
  min-height: 43px !important;
  height: auto;
  border-bottom: 1px solid #ccc;
  max-height: 49px;
  color: #2f1f1f;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0.6;
  font-size: 11px !important;
  min-width: 135px !important;
  text-align: left;
  display: inline-flex;
  justify-content: end;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.terms-conditions .mat-tab-label-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
  width: 268px;
}
.terms-conditions .mat-tab-body-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  transition: height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  padding: 24px;
  box-shadow: 0 1px 3px 0 #9ccae8;
  padding-left: 50px;
  border: 1px solid #ccc;
  border-left: 0;
}

.terms-conditions .mat-tab-header {
  background: #f0f4f7;
}

.terms-conditions .mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  white-space: initial !important;
  font-size: 13px;
  line-height: 20px;
}
.mat-expansion-panel {
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
  margin-bottom: 14px !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  line-height: 19px;
  font-size: 14px;
}

.mat-expansion-panel-body p {
  font-size: 13px !important;
}

.terms-conditions .mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}

.btn-style-bg, .btn-style-bg3 {
  font-size: 12px!important;
  border: none;
  padding: 0 8px!important;
  color: #fff!important;
  border-radius: 4px;
  letter-spacing: .9px;
  height: 30px;
  line-height: 30px!important;
  margin-top: 9px;
  font-weight: 600!important;
  text-transform: uppercase;
}

.btn-style-bg {
  background-color: #e75e83!important;
}

.fees-section  .slick-dots
{
  position: absolute;
  top: 57%;
  left: -88%;
}
.fees-section  .btn-next, .fees-section  .btn-prev {
  position: absolute;
  display: block;
  height: 29px;
  width: 39px;
  line-height: 0;
  cursor: pointer;
  background: #eef0f8;
  color: #e75e83;
  bottom: 0;
  top: 56%;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 4%;
}
.fees-section .btn-prev {
  right: 130.5%;
}
.fees-section  .btn-next {
  right: 125%;
}