.banner-calculator
{
    padding: 0;
}
.banner-calculator .container-fluid
{
    
}
.banner-calculator .sec_title {
    font-size: 46px;
    width: 100%;
    line-height: 54px;
    font-weight: 700;
    color: #2c234d;
    margin: 0;
    text-transform: capitalize;
}
.banner-calculator p {
    font-size: 16px !important;
}
.banner-calculator p {
    color: #707b8e;
    margin-bottom: 0px;
    font-size: 14px;
}
.btn-style-bg, .btn-style-bg3 {
    font-size: 12px!important;
    border: none;
    padding: 0 8px!important;
    color: #fff!important;
    border-radius: 4px;
    letter-spacing: .9px;
    height: 30px;
    line-height: 30px!important;
    margin-top: 9px;
    font-weight: 600!important;
    text-transform: uppercase;
  }
  
  .btn-style-bg {
    background-color: #e75e83!important;
  }
  .fees-content
  {
    background-color: #f5f7ff;
    border-radius: 0px;
    padding: 33px 5px 0 5px;
    margin: 20px 0;
  }
.fees-div
{
    box-shadow: 0 0 32px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 6px 16px;
    border-radius: 12px;
    margin-bottom: 50px;
    margin-top: 21px;
}
  .fees-div img
  {
    width: 68px;
  }
  .fees-div h2
  {
    font-size: 17px;
    margin: 0;
    line-height: 29px;
  }
  .fees-div h4
  {
    font-size: 14px;
    margin: 0;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #e75e83;
  }
  .fees-div p
  {
    font-size: 13px !important;
  }

  .main-fees-content
  {
      width:100%;
      margin-left:20px;
  }

 