<section
  class="breadcrumb mb-0 dt-none"
  (scroll)="onWindowScroll($event)"
  [ngClass]="fixed ? 'homeheader-fixed' : ''"
>
  <div class="container">
    <div class="row">
      <div class="col-6 px-0">
        <h3 (click)="goback()">
          <i class="lni lni-arrow-left"></i> {{ headername }}
        </h3>
      </div>
      <div class="col-6 pr-0">
        <ul class="component-header-list d-flex justify-content-end">
          <!-- <li class="mobile-indicator d-md-block">
                        <a routerLink="/offers"><img src="assets/images/icons/discount.png"></a>
                    </li>
                    <li class="mobile-indicator d-md-block">
                        <a [routerLink]="['/offers']"><img src="assets/images/icons/notifications.png"></a>
                    </li> -->
          <li class="mobile-indicator d-md-block">
            <a [routerLink]="['/offers']"
              ><img src="assets/images/icons/discount.png"
            /></a>
          </li>
          <li class="mobile-indicator d-md-block">
            <a (click)="gotoCart()"
              ><img src="assets/images/icons/cart-bag.png" /><span
                class="count"
                >{{ cartcount === null ? "0" : cartcount }}</span
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
