.dt-none {
    display: none;
}

span {
    background: #e75e83;
    color: #fff;
    width: 17px;
    height: 17px;
    font-size: 10px;
    line-height: 16px;
    position: absolute;
    top: -5px;
    text-align: center;
    border-radius: 50%;
    right: -8px;
}

.homeheader-fixed {
    top: 0;
    position: fixed !important;
    background: #fff !important;
    left: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.06);
}