<app-desktop-header></app-desktop-header>
<app-breadcrumb [headername]="headername"></app-breadcrumb>
<section class="ver-form">
  <div class="container">
    <div class="row">
      <h3></h3>

      <form class="form-block ver-block">
        <div class="row v-row offset-lg-4 col-lg-4 form-rowblock">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <h2>Change Password</h2>

            <img src="assets/images/icons/verification.png" />

            <div class="form-group text-left">
              <div class="controls">
                <label><i class="far fa-envelope"></i>Old Password</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="enter your old password"
                  required=""
                />
                <div class="help-block"></div>
              </div>
            </div>
            <div class="form-group text-left">
              <div class="controls">
                <label><i class="far fa-envelope"></i>New Password</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="enter your new password"
                  required=""
                />
                <div class="help-block"></div>
              </div>
            </div>
            <div class="form-group text-left">
              <div class="controls">
                <label><i class="far fa-envelope"></i>Confirm Password</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="enter your confirm new password"
                  required=""
                />
                <div class="help-block"></div>
              </div>
            </div>

            <div
              class="col-12 p-a0 d-flex flex-sm-row flex-column justify-content-end mt-1"
            >
              <button type="submit" class="btn btn-style-bg text-uppercase">
                Change Password
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
