<app-breadcrumb [headername]="headername"></app-breadcrumb>
<app-desktop-header></app-desktop-header>

<div class="breadcrumb-section m-none">
  <div class="container">
    <div class="align-items-center row">
      <div class="col-md-12 p-t15 p-b15"></div>
    </div>
  </div>
</div>
<!-- Skeleton-Loader -->
<div *ngIf="loading" class="cart-page">
  <section class="p-a0">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 cart-leftside">
          <ng-container>
            <div class="row shopping-block">
              <div class="col-lg-2 col-sm-4 col-xs-4">
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{
                    width: '100%',
                    height: '90%',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </div>
              <div class="col-lg-10 col-sm-8 col-xs-8 pl-0">
                <p>
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '50px',
                      height: '10px',
                      margin: '0px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </p>
                <p>
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100px',
                      height: '10px',
                      margin: '0px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </p>
                <p>
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100%',
                      height: '10px',
                      margin: '0px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </p>
                <p>
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '100px',
                      height: '10px',
                      margin: '0px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </p>
                <p>
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '40px',
                      height: '10px',
                      margin: '0px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </p>
              </div>
              <ul class="cart-button">
                <li>
                  <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{
                      width: '20px',
                      height: '20px',
                      margin: '0px',
                      'border-radius': '5px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </li>
                <li>
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '80%',
                      height: '10px',
                      margin: '0px',
                      float: 'right'
                    }"
                  >
                  </ngx-skeleton-loader>
                </li>
                <li>
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '80%',
                      height: '10px',
                      margin: '0px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </li>
              </ul>
            </div>
          </ng-container>
          <div class="row">
            <div class="col-lg-12">
              <p>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100%',
                    height: '30px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 orderSummary">
          <div class="row m-b20">
            <ul class="steps-list">
              <li>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </li>
              <li>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </li>
              <li>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px',
                    'margin-top': '10px'
                  }"
                >
                </ngx-skeleton-loader>
              </li>
            </ul>
          </div>
          <ul>
            <li>
              <h3 class="title-info">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100px',
                    height: '20px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
            <li>
              <span>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '80px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </span>
              <label>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40px',
                    height: '10px',
                    margin: '0px',
                    'border-radius': '2px'
                  }"
                >
                </ngx-skeleton-loader>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
<div *ngIf="products.length > 0 && !loading" class="cart-page">
  <section class="p-a0 cart-slider dt-none">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide class="productlist-block">
        <p>Free shipping on orders above Rs. 499</p>
      </ng-template>
    </owl-carousel-o>
  </section>
  <section class="p-a0 pb-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 cart-leftside">
          <p class="info-strip" *ngIf="showDealsExpiredMsg">
            <i class="fal fa-info-circle"></i>
            You have already availed your quota of super deal products today.
            The SUPER DEAL prices are not applicable any more for the day.
          </p>
          <ng-container *ngIf="products.length > 0 && !loading">
            <ng-container *ngFor="let grp of products; let i = index">
              <ng-container *ngIf="!grp.groupDesign">
                <div
                  class="row shopping-block"
                  *ngFor="let product of grp.products; let j = index"
                >
                  <div class="col-lg-2 col-sm-4 col-xs-4">
                    <a
                      routerLink="/products/{{ product.slug }}/{{
                        product.unique_id
                      }}"
                      ><img
                        src="{{ product.thumbnail_path }}"
                        (error)="onImgError($event)"
                    /></a>
                  </div>
                  <div class="col-lg-10 col-sm-8 col-xs-8 pl-0">
                    <p>{{ product.brand_name }}</p>
                    <a
                      routerLink="/products/{{ product.slug }}/{{
                        product.unique_id
                      }}"
                    >
                      <h4>{{ product.name }}</h4></a
                    >

                    <ul class="product-value m-t10">
                      <li *ngIf="product.is_deal == 'n'">
                        <span class="m-r10">Quantity : </span>
                        <div class="quantity m-r10">
                          <input
                            type="button"
                            [disabled]="qtyDecrement"
                            (click)="
                              decrement(
                                quantity[i][j].quantity,
                                quantity[i][j].product_variant_id,
                                i,
                                j
                              )
                            "
                            value="-"
                            class="minus"
                          />
                          <div class="quantity-field">
                            {{ quantity[i][j].quantity }}
                          </div>
                          <input
                            type="button"
                            [disabled]="qtyIncrement"
                            value="+"
                            (click)="
                              increment(
                                quantity[i][j].quantity,
                                quantity[i][j].product_variant_id,
                                i,
                                j
                              )
                            "
                            class="plus"
                          />
                        </div>
                      </li>
                      <ng-container *ngIf="product.attributes.length > 0">
                        <li *ngIf="product.attributes[0]">
                          <span
                            >{{ product.attributes[0].attribute_name }} :
                          </span>
                          &nbsp; {{ product.attributes[0].attribute_option }}
                        </li>
                        <li *ngIf="product.attributes[1]">
                          <span
                            >{{ product.attributes[1].attribute_name }} : </span
                          >&nbsp; {{ product.attributes[1].attribute_option }}
                        </li>
                      </ng-container>
                    </ul>

                    <ul class="product-price">
                      <li class="total_price">
                        &#x20B9;<span>{{
                          product.total_price | number: "1.0-2"
                        }}</span>
                      </li>
                      <li
                        class="seller-mrp"
                        *ngIf="
                          product.total_price != product.mrp * product.quantity
                        "
                      >
                        &#x20B9;<span>{{
                          product.mrp * product.quantity
                        }}</span>
                      </li>
                      <li
                        class="seller-discount"
                        *ngIf="
                          product.final_discount > 0
                        "
                      >
                        (<span
                          >{{
                            product.final_discount
                              | number: "1.0-2"
                          }}%</span
                        >OFF)
                      </li>
                      <!-- <li
                        class="seller-discount"
                        *ngIf="
                          appliedCoupon != null &&
                          appliedCoupon.dis_type == 'f' &&
                          appliedCoupon.sub_type == 's'
                        "
                      >
                        (<span
                          >{{
                            (product.total_seller_discount * 100) /
                              (product.mrp * product.quantity)
                              | number: "1.0-2"
                          }}%</span
                        >OFF)
                      </li>
                      <li
                        class="seller-discount"
                        *ngIf="
                          appliedCoupon != null &&
                          appliedCoupon.dis_type == 'p' &&
                          appliedCoupon.sub_type == 's'
                        "
                      >
                        (<span
                          >{{
                            ((product.total_seller_discount +
                              product.coupon_discount) *
                              100) /
                              (product.mrp * product.quantity)
                              | number: "1.0-2"
                          }}% </span
                        >OFF)
                      </li>
                      <li
                        class="seller-discount"
                        *ngIf="
                          appliedCoupon != null &&
                          appliedCoupon.dis_type == 'p' &&
                          appliedCoupon.sub_type == 'm' &&
                          product.coupon_discount == 0
                        "
                      >
                        (<span
                          >{{
                            (product.total_seller_discount * 100) /
                              (product.mrp * product.quantity)
                              | number: "1.0-2"
                          }}% </span
                        >OFF)
                      </li>
                      <li
                        class="seller-discount"
                        *ngIf="
                          appliedCoupon != null &&
                          appliedCoupon.dis_type == 'p' &&
                          appliedCoupon.sub_type == 'm' &&
                          product.coupon_discount != 0
                        "
                      >
                        (<span
                          >{{
                            (product.coupon_discount * 100) /
                              (product.mrp * product.quantity)
                              | number: "1.0-2"
                          }}% </span
                        >OFF)
                      </li> -->
                    </ul>
                    <h5 class="delivery-date" *ngIf="product.cod_enable == 'n'">
                      *COD Not Available For This Product.
                    </h5>
                    <h5
                      class="delivery-date mt-2"
                      *ngIf="product.coupon_applied == 'n'"
                      style="bottom: 0"
                    >
                      *Coupon cannot be applied for this product.
                    </h5>
                    <h5
                        class="delivery-date mt-2"
                        *ngIf="product.stock < product.quantity"
                        style="bottom: 0"
                      >
                        *Out Of Stock
                      </h5>
                  </div>
                  <ul class="cart-button">
                    <li>
                      <i
                        (click)="deleteCartItem(product.product_variant_id)"
                        class="fal fa-trash-alt"
                      ></i
                      ><span
                        class="m-none"
                        (click)="deleteCartItem(product.product_variant_id)"
                        >Remove</span
                      >
                    </li>
                    <li>
                      <a
                        class=""
                        (click)="
                          moveToWishList(
                            product.product_id,
                            product.product_variant_id
                          )
                        "
                        >Move To wishlist</a
                      >
                    </li>
                    <li
                      *ngIf="
                        product.mrp * product.quantity - product.total_price !=
                        0
                      "
                      class="saved-block"
                    >
                      You Saved
                      <span
                        >&#x20B9;
                        {{
                          product.mrp * product.quantity - product.total_price
                            | number: "1.0-2"
                        }}</span
                      >
                    </li>
                  </ul>
                </div>
              </ng-container>
              <ng-container *ngIf="grp.groupDesign">
                <div class="accordion-stylelist">
                  <div class="accordion-header justify-content-between">
                    <p class="">Seller Name : {{ grp.seller_name }}</p>
                    <p class="convenience-strip">
                      convenience fee : {{ grp.convenience_fee }}
                    </p>
                  </div>

                  <div
                    class="row shopping-block"
                    *ngFor="let product of grp.products; let j = index"
                  >
                    <div class="col-lg-2 col-sm-4 col-xs-4">
                      <a
                        routerLink="/products/{{ product.slug }}/{{
                          product.unique_id
                        }}"
                        ><img
                          src="{{ product.thumbnail_path }}"
                          (error)="onImgError($event)"
                      /></a>
                    </div>
                    <div class="col-lg-10 col-sm-8 col-xs-8 pl-0">
                      <p>{{ product.brand_name }}</p>
                      <a
                        routerLink="/products/{{ product.slug }}/{{
                          product.unique_id
                        }}"
                      >
                        <h4>{{ product.name }}</h4></a
                      >

                      <ul class="product-value m-t10">
                        <li *ngIf="product.is_deal == 'n'">
                          <span class="m-r10">Quantity : </span>
                          <div class="quantity m-r10">
                            <input
                              type="button"
                              [disabled]="qtyDecrement"
                              (click)="
                                decrement(
                                  quantity[i][j].quantity,
                                  quantity[i][j].product_variant_id,
                                  i,
                                  j
                                )
                              "
                              value="-"
                              class="minus"
                            />
                            <div class="quantity-field">
                              {{ quantity[i][j].quantity }}
                            </div>
                            <input
                              type="button"
                              [disabled]="qtyIncrement"
                              value="+"
                              (click)="
                                increment(
                                  quantity[i][j].quantity,
                                  quantity[i][j].product_variant_id,
                                  i,
                                  j
                                )
                              "
                              class="plus"
                            />
                          </div>
                        </li>
                        <ng-container *ngIf="product.attributes.length > 0">
                          <li *ngIf="product.attributes[0]">
                            <span
                              >{{ product.attributes[0].attribute_name }} :
                            </span>
                            &nbsp; {{ product.attributes[0].attribute_option }}
                          </li>
                          <li *ngIf="product.attributes[1]">
                            <span
                              >{{
                                product.attributes[1].attribute_name
                              }}
                              : </span
                            >&nbsp; {{ product.attributes[1].attribute_option }}
                          </li>
                        </ng-container>
                      </ul>

                      <ul class="product-price">
                        <li class="total_price">
                          &#x20B9;<span>{{
                            product.total_price | number: "1.0-2"
                          }}</span>
                        </li>
                        <li
                          class="seller-mrp"
                          *ngIf="
                            product.total_price !=
                            product.mrp * product.quantity
                          "
                        >
                          &#x20B9;<span>{{
                            product.mrp * product.quantity
                          }}</span>
                        </li>
                        <li
                          class="seller-discount"
                          *ngIf="
                            product.final_discount > 0
                          "
                        >
                          (<span
                            >{{
                              product.final_discount
                                | number: "1.0-2"
                            }}%</span
                          >OFF)
                        </li>
                        <!-- <li
                          class="seller-discount"
                          *ngIf="
                            appliedCoupon != null &&
                            appliedCoupon.dis_type == 'f' &&
                            appliedCoupon.sub_type == 's'
                          "
                        >
                          (<span
                            >{{
                              (product.total_seller_discount * 100) /
                                (product.mrp * product.quantity)
                                | number: "1.0-2"
                            }}%</span
                          >OFF)
                        </li>
                        <li
                          class="seller-discount"
                          *ngIf="
                            appliedCoupon != null &&
                            appliedCoupon.dis_type == 'p' &&
                            appliedCoupon.sub_type == 's'
                          "
                        >
                          (<span
                            >{{
                              ((product.total_seller_discount +
                                product.coupon_discount) *
                                100) /
                                (product.mrp * product.quantity)
                                | number: "1.0-2"
                            }}% </span
                          >OFF)
                        </li>
                        <li
                          class="seller-discount"
                          *ngIf="
                            appliedCoupon != null &&
                            appliedCoupon.dis_type == 'p' &&
                            appliedCoupon.sub_type == 'm' &&
                            product.coupon_discount == 0
                          "
                        >
                          (<span
                            >{{
                              (product.total_seller_discount * 100) /
                                (product.mrp * product.quantity)
                                | number: "1.0-2"
                            }}% </span
                          >OFF)
                        </li>
                        <li
                          class="seller-discount"
                          *ngIf="
                            appliedCoupon != null &&
                            appliedCoupon.dis_type == 'p' &&
                            appliedCoupon.sub_type == 'm' &&
                            product.coupon_discount != 0
                          "
                        >
                          (<span
                            >{{
                              (product.coupon_discount * 100) /
                                (product.mrp * product.quantity)
                                | number: "1.0-2"
                            }}% </span
                          >OFF)
                        </li> -->
                      </ul>
                      <h5
                        class="delivery-date"
                        *ngIf="product.cod_enable == 'n'"
                      >
                        *COD Not Available For This Product.
                      </h5>
                      <h5
                        class="delivery-date mt-2"
                        *ngIf="product.coupon_applied == 'n'"
                        style="bottom: 0"
                      >
                        *Coupon cannot be applied for this product.
                      </h5>
                      <h5
                        class="delivery-date mt-2"
                        *ngIf="product.stock < product.quantity"
                        style="bottom: 0"
                      >
                        *Out Of Stock
                      </h5>
                    </div>
                    <ul class="cart-button">
                      <li>
                        <i
                          (click)="deleteCartItem(product.product_variant_id)"
                          class="fal fa-trash-alt"
                        ></i
                        ><span
                          class="m-none"
                          (click)="deleteCartItem(product.product_variant_id)"
                          >Remove</span
                        >
                      </li>
                      <li>
                        <a
                          class=""
                          (click)="
                            moveToWishList(
                              product.product_id,
                              product.product_variant_id
                            )
                          "
                          >Move To wishlist</a
                        >
                      </li>
                      <li
                        *ngIf="
                          product.mrp * product.quantity -
                            product.total_price !=
                          0
                        "
                        class="saved-block"
                      >
                        You Saved
                        <span
                          >&#x20B9;
                          {{
                            product.mrp * product.quantity - product.total_price
                              | number: "1.0-2"
                          }}</span
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
          <div *ngIf="products.length == 0 && !loading">
            <h6 style="text-align: center">No products in cart</h6>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="addtowishlistbtn" (click)="addMoreFromWishlist()">
                <i class="fal fa-plus-circle"></i> Add More From Wishlist
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-4 orderSummary mytopnav"
          (scroll)="onWindowScroll($event)"
          [ngClass]="fixed ? 'homeheader-fixeddiv' : ''"
          #orderSummary
        >
          <div class="row m-b20">
            <ul class="steps-list">
              <li>Shopping Cart</li>
              <li>Checkout</li>
              <li>Payment</li>
            </ul>
          </div>
          <ul>
            <li>
              <h3 class="title-info">Order Summary</h3>
            </li>
            <li>
              <span>Total MRP</span
              ><label>&#x20B9; {{ totalMRP | number: "1.0-2" }}</label>
            </li>
            <li class="discount-price" *ngIf="mrpDiscount > 0">
              <span>MRP Discount</span
              ><label>&#x20B9; {{ mrpDiscount | number: "1.0-2" }}</label>
            </li>
            <li
              class="discount-price"
              *ngIf="appliedCoupon != null && couponDiscount > 0"
            >
              <span>Coupon Discount</span
              ><label>&#x20B9; {{ couponDiscount | number: "1.0-2" }}</label>
            </li>
            <li class="m-none">
              <span>Coupon</span>
              <label *ngIf="appliedCoupon == null"
                ><a (click)="openCoupons(coupons)" class="anchor-top"
                  >Apply Coupon</a
                ></label
              >
              <label *ngIf="appliedCoupon != null"
                ><a class="anchor-top"
                  >{{ appliedCoupon.code }}&nbsp;<span
                    ><a (click)="removeCoupon()" class="anchor-top"
                      >(Remove Coupon)</a
                    ></span
                  ></a
                ></label
              >
            </li>
            <li>
              <span style="font-weight: bold">SubTotal</span
              ><label style="font-weight: bold"
                >&#x20B9; {{ totalSellingPrice | number: "1.0-2" }}</label
              >
            </li>
            <!-- <li><span>Applicable GST</span><label>&#x20B9; {{tax}}</label></li> -->

            <li *ngIf="appliedCoupon != null" class="dt-none">
              <span>Coupon</span>

              <label
                ><a class="anchor-top"
                  >{{ appliedCoupon.code
                  }}<span
                    ><a (click)="removeCoupon()" class="anchor-top"
                      >(Remove Coupon)</a
                    ></span
                  ></a
                ></label
              >
            </li>
            <li *ngIf="convenience_fee > 0">
              <span>Convenience Fee</span>
              <label
                >&#x20B9; {{ convenience_fee }}
                <a
                  href="javascript:void(0)"
                  ngbPopover="Text Text Text"
                  [openDelay]="100"
                  popoverClass="class-convenience"
                  triggers="mouseenter:mouseleave"
                >
                  <i class="far fa-info-circle convenience-icon"></i> </a
              ></label>
            </li>
            <li class="delivery">
              <span>Delivery</span
              ><label>{{
                handlingCharges == 0 ? "Free" : "&#x20B9;" + handlingCharges
              }}</label>
            </li>
            <label class="label-free m-none"
              ><span>Free Delivery</span>
              <p>For Orders Above 499</p>
            </label>
            <li class="pb-3">
              <span>Order Total</span
              ><label>&#x20B9; {{ orderTotal | number: "1.0-2" }} </label>
            </li>
          </ul>
          <button
            type="submit"
            class="btn btn-style-bg btn-block text-uppercase m-r10 m-b10 m-none"
            (click)="placeOrder()"
            [disabled]="!stockAvailablity"
          >
            Place To Order
          </button>
        </div>
      </div>
    </div>
  </section>

  <div class="cart-footer dt-none">
    <section class="coupon-sticky dt-none">
      <div class="container">
        <div class="row v-row">
          <div class="col-xs-6 col-sm-6 pr-0">
            <span><i class="fal fa-badge-percent"></i>Apply Coupon</span>
          </div>
          <div class="col-xs-6 col-sm-6 float-right text-right">
            <a (click)="openCoupons(coupons)" class="anchor-link">select</a>
          </div>
        </div>
      </div>
    </section>
    <section class="dt-none py-1">
      <div class="container">
        <div class="row cart-bottom v-row">
          <div class="col-xs-5 col-sm-5 pr-0">
            <span>Rs. {{ orderTotal }}</span>
            <a class="anchor" (click)="scroll(orderSummary)"
              >View Order Summary</a
            >
          </div>
          <div class="col-xs-7 col-sm-7 text-center">
            <button
              type="submit"
              class="btn btn-style-bg text-uppercase"
              (click)="placeOrder()"
              [disabled]="!stockAvailablity"
            >
              Place Order
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<ng-template #coupons let-modal>
  <div class="modal-header coupons-titlemain">
    <div class="col-lg-6 col-xs-8 col-sm-8 px-0">
      <h3 class="title-info">Apply Coupons</h3>
    </div>
    <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right px-0">
      <button
        type="button"
        (click)="close()"
        data-dismiss="modal"
        aria-hidden="true"
        class="modal-close"
      >
        <i class="fal fa-times"></i>
      </button>
    </div>
  </div>
  <section class="p-a0 cart-slider dt-none">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide class="productlist-block">
        <p>Free shipping on orders above Rs.499</p>
      </ng-template>
    </owl-carousel-o>
  </section>
  <div class="modal-body">
    <div class="p-a0 coupon-block">
      <div class="container">
        <!-- <form class="apply-coupon"> -->
        <div class="input-group apply-coupon mt-2">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchText"
            placeholder="Please enter a valid coupon"
          />
          <span class="input-group-btn">
            <button
              class="btn btn-default"
              (click)="applyCouponFromSearch(searchText)"
              type="button"
            >
              Apply
            </button>
          </span>
        </div>
        <p *ngIf="!loggedIn">
          <span
            ><a class="anchor" routerLink="/login" (click)="close()">Login</a>
          </span>
          to Get benefits of coupons
        </p>
        <div class="row text-center-nofound" *ngIf="!allCoupons">
          <div class="col-lg-12">
            <img src="../../../../assets/images/icons/no-coupons.png" />
            <label>No Other Coupons Available</label>
          </div>
        </div>
        <!-- </form> -->
        <ng-container *ngIf="!couponLoad">
          <ng-container *ngIf="allCoupons | filter: searchText as result">
            <div *ngFor="let coupon of result">
              <div class="row">
                <div class="row offers-block v-row ng-star-inserted">
                  <div class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                    <p>
                      <label class="checkbox path">
                        <svg viewBox="0 0 21 21">
                          <path
                            d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
                          ></path>
                        </svg>
                      </label>

                      Use Code <b>{{ coupon.code }}</b
                      ><button
                        (click)="applyCoupon(coupon)"
                        class="btn btn-default p-0 apply-button"
                        type="button"
                      >
                        Apply</button
                      ><a class="anchor"></a>
                    </p>
                  </div>
                  <div class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                    <div class="offer-des">
                      Total Savings
                      <span> Rs. {{ coupon.savings.toFixed(0) }} </span>
                    </div>
                    <p>
                      {{ coupon.description }} order above Rs.
                      {{ coupon.min_cart_amount }}
                    </p>
                    <div
                      class="offer-des mt-1"
                      *ngIf="coupon.min_cart_amount > totalSellingPrice"
                    >
                      Add
                      <span style="font-weight: bold"
                        >Rs.
                        {{
                          coupon.min_cart_amount - totalSellingPrice
                            | number: "1.0-0"
                        }}</span
                      >

                      more to use this offer.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center-nofound" *ngIf="result.length == 0">
              <div class="col-lg-12">
                <img src="../../../../assets/images/icons/no-coupons.png" />
                <label>No Coupons Available</label>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <!-- Skeleton-Loader -->
        <div *ngIf="couponLoad">
          <div class="row" *ngFor="let coupon of [1, 2, 3, 4, 5]">
            <div class="row offers-block v-row ng-star-inserted">
              <div class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{
                    'border-radius': '0px',
                    width: '90px',
                    height: '85px',
                    margin: '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </div>
              <div class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '170px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }"
                >
                </ngx-skeleton-loader>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '170px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }"
                >
                </ngx-skeleton-loader>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '170px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div>
  <div class="container">
    <div
      class="row text-center-nofound"
      *ngIf="products?.length == 0 && !loading"
    >
      <div class="col-lg-12">
        <img src="assets/images/icons/noorders.png" />
        <label>Oh its empty in here!</label>
        <p>Lets do some shopping!</p>
        <button
          class="btn-style-bg margin-auto m-t10 btn-main-add"
          [routerLink]="['/wishlist']"
        >
          ADD ITEMS FROM WISHLIST
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer class="p-none"></app-footer>
