@media only screen and (min-width: 280px) and (max-width: 767px) {
  .cart-button li:first-child {
    width: 10% !important;
  }

  .p-none {
    display: none;
  }

  .product-value {
    margin-bottom: 0;
    margin: 0 !important;
  }

  .product-price {
    position: relative !important;
  }

  .orderSummary {
    margin: 1% 0% 35px !important;
  }

  .delivery-date {
    display: block;
    position: initial !important;
    right: 0 !important;
    /* float: right; */
    margin-top: 4px;
  }

  .cart-page {
    background: #f0f4f7 !important;
    
    padding-bottom: 20px;

  }

  .cart-button li:nth-child(2) {
    width: 45% !important;
  }

  .cart-button li:last-child {
    width: 45% !important;
  }
}

.cart-slider p {
  font-size: 13px;
  line-height: 18px;
  background: #e75e83;
  color: #fff;
  margin-top: 0px;
  padding: 6px 6px;
  margin-bottom: 11px;
  text-align: center;
}

.cart-slider .Bold {
  display: inline-block;
  margin-left: 1px;
  color: #e75e83;
  font-weight: 600;
}

.cart-leftside {
  padding: 3% 4%;
  border-right: 1px solid #ccc;
}

.cart-pagetitle h3 {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: #696b79;
}

.css-1ezbckq {
  fill: #fff;
}

.steps-list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.steps-list li {
  display: inline-block;
  position: relative;
  padding-left: 0;
  font-size: 13px;
  border: none !important;
  margin: 0 !important;
}

.label-free span {
  font-size: 10px !important;
  border: none;
  padding: 5px 8px !important;
  background-color: #e75e83 !important;
  color: #fff !important;
  border-radius: 0;
  letter-spacing: 0.9px;
  /* height: 30px; */
  /* margin-top: 15px; */
  font-weight: 600 !important;
  text-transform: uppercase;
}

.label-free {
  background: #e3e9f5;
  margin: 0;
  font-size: 11px;
  width: 100%;
  padding: 0px 0px 0px !important;
}

.label-free p {
  display: unset;
  margin: 0;
  font-size: 11px;
  padding-left: 17px;
}

.steps-list li:first-child {
  color: #e75e83;
}

.steps-list li::after {
  content: "........";
  position: relative;
  bottom: 4px;
  left: 0px;
  width: 100%;
  height: 100%;
  right: 0;
  margin: 0 auto;
  padding: 0px 12px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.steps-list li:last-child::after {
  content: none;
}

.cart-block {
  margin-bottom: 10px;
}

.orderSummary {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 1% 4%;
  padding: 15px 15px 0px;
  margin-bottom: 7px;
  position: relative;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
  display: inline-table;
}

.addtowishlistbtn {
  display: block;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  color: inherit;
  padding: 12px;
  position: relative;
  font-weight: 600;
  padding: 3px 12px 3px 16px;
  text-align: center;
  margin-top: 16px;
  width: 100%;
  font-size: 12px;
  color: #696b79;
  border: 1px solid #eaeaec;
  border-radius: 4px;
}

.orderSummary button {
  width: 100%;
}

.shopping-block {
  background-color: #fff;
  border-radius: 3px;
  margin: 1% 6px 3% 6px;
  padding: 15px 0px 0px;
  position: relative;
  border: 1px solid #ccc;
  border: 1px solid #cac7f6 !important;
  box-shadow: 0 1px 3px 0 #9ccae8;
}

.cart-button li:last-child {
  border-right: 0;
}

.product-price {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

.shopping-block p {
  font-size: 9px;
  width: 100%;
  color: #e75d81;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0px;
  line-height: 15px;
  margin-top: 5px;
  padding: 0;
}

.delivery-date {
  color: #e75d81;
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  right: 14px;
  bottom: 16px;
}

.shopping-block h4 {
  font-size: 11px;
  margin-top: 5px;
  color: #261e1e;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
  font-weight: 500;
}

.shopping-block label {
  font-size: 12px;
  margin: 0;
  color: #939393;
}

.cart-page {
  background: #fff;
}

.shopping-block .product-price li.total_price {
  color: #333;
  font-weight: 700;
  text-align: center;
}

.shopping-block .product-price li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 7px;
}

.shopping-block .product-price li.seller-mrp {
  opacity: 0.4;
  color: #282c3f;
  text-decoration: line-through;
  font-size: 11px;
}

.shopping-block .product-price li.seller-discount {
  color: #e75d81;
  font-weight: 600;
  font-size: 10px;
  white-space: nowrap;
}

.product-value li {
  list-style-type: none;
  display: inline-flex;
  font-size: 12px;
  margin-right: 7px;
  justify-content: center;
  align-items: center;
}

.product-value {
  margin-bottom: 0;
}

.product-value li span {
  color: #777676;
  font-size: 11px;
  font-weight: 600;
}

.cart-button li {
  list-style-type: none;
  display: inline-block;
  font-weight: 600;
  color: #696b79;
  padding: 2px 9px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
}

.cart-button li:first-child {
  width: auto;
  text-align: center;
  color: #e75e83;
  border-radius: 3px;
  height: 16%;
  text-transform: uppercase;
}

.cart-button li:nth-child(2) {
  width: auto;
  text-transform: uppercase;
}

.cart-button li.saved-block {
  width: auto;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  float: right;
}

.cart-button li.saved-block span {
  color: #e75e83;
  font-weight: 700;
}

.cart-button {
  width: 100%;
  padding: 3px 5px 3px 5px;
  margin: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid #eaeaec;
  margin-top: 10px;
  background: #f2f5fa;
}

.cart-button i {
  font-size: 12px;
  margin-right: 4px;
}

.orderSummary span {
  margin: auto;
  color: #282c3f;
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 16px;
}

.title-info {
  font-size: 16px;
  margin-bottom: 11px;
  font-weight: 600;
}

.orderSummary li {
  list-style-type: none;
  position: relative;
}

.orderSummary li label {
  float: right;
  position: absolute;
  right: 0;
  font-size: 13px;
}

.orderSummary li:first-child {
  font-size: 13px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.orderSummary li:last-child {
  font-size: 13px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.orderSummary li:last-child label,
.orderSummary li:last-child span {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.discount-price label,
.delivery label {
  color: #e75e83;
}

.orderSummary ul {
  margin-bottom: 0;
}

.coupon-sticky {
  transition-duration: 500ms;
  background-color: #ffffff;
  width: 100%;
  // position: fixed;
  // bottom: 7.8%;
  // left: 0;
  padding: 6px 0;
  right: 0;
  z-index: 1;
  border: none;
  border-bottom: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0px #9ccae8;
}

.cart-footer {
  padding-bottom: 10px !important;
  transition-duration: 500ms;
  background-color: #ffffff;
  width: 100%;
  /* height: 14px; */
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  right: 0;
  z-index: 1;
  border: none;
  border-top: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0px #9ccae8;
}

.cart-bottom button {
  width: 100%;
}

.cart-bottom span {
  margin: 0;
  text-align: left;
  line-height: 13px;
  font-size: 15px;
}

.cart-bottom a {
  display: block;
  font-size: 13px;
  color: #eb6083;
  line-height: 11px;
}

.coupon-sticky span {
  font-size: 15px;
  color: #3f414d;
}

.coupon-sticky span i {
  padding-right: 8px;
}

.coupon-sticky a {
  color: #eb6083;
  text-transform: capitalize;
  font-size: 16px;
}

div.quantity input[type="button"].minus {
  padding: 0 5px;
  min-width: 20px;
  height: 20px;
  border: 2px solid rgba(129, 129, 129, 0.2);
  background: 0 0;
  box-shadow: none;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

div.quantity input[type="button"].plus {
  padding: 0 5px;
  min-width: 20px;
  height: 20px;
  border: 2px solid rgba(129, 129, 129, 0.2);
  background: 0 0;
  box-shadow: none;
  border-width: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.quantity .quantity-field {
  max-width: 45px;
  width: 20px;
  height: 20px;
  border-right: none;
  border-left: none;
  margin: 0;
  display: inline-block;
  /* padding: 1.7px 7px; */
  text-align: center;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  border-top: 1px solid rgba(129, 129, 129, 0.2);
}

.display-flex {
  display: flex;
}

div.quantity input[type="number"] {
  width: 30px;
  height: 42px;
  border-right: none;
  border-left: none;
  border-width: 1px;
}

.is-fixed {
  position: fixed !important;
  background: #fff !important;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 55px !important;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.06);
}

.apply-coupon {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;

  &:focus {
    outline: none;
  }

  .form-control {
    &:focus {
      box-shadow: none;
    }
  }

  input {
    height: 35px;
    background: #fff;
    font-size: 12px;
    border: 1px solid #cac7f6;
    border-radius: 5px !important;
  }

  button {
    border: none;
    height: 36px;
    color: #e75e83 !important;
    border-radius: 0;
    width: 68px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 0;

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: #fff;

      outline: none;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;

      &:before {
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 1px;

      width: 100%;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
    }
  }

  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: 0px;
  }
}

.coupon-block .offer-left p {
  background: #f0f4f7;
  padding: 12px 15px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  line-height: 19px;
  display: grid;
}

.coupon-block .offers-block {
  background: #fff;
  margin: 6px 7px;
  padding: 7px 0;
  width: 100%;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
}

.coupon-block .offer-left {
}

.coupon-block .offer-right p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 17px;
}

.coupon-block .offer-des span {
  color: #e75d81;
  font-weight: 600;
}

.coupon-block .anchor {
  color: #eb6083;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 0;
}

.coupon-block .offer-des {
  font-size: 12px;
  margin-bottom: 2px;
}

.coupon-block .checkbox svg {
}

.coupon-block .checkbox.path {
  margin: 0 auto;
  background: transparent;
}

.coupon-block input {
  margin: 0 auto;
}

.coupon-footer {
  width: 100%;
}

.coupon-footer .btn-style-bg {
  margin-top: 9px;
  margin-bottom: 9px;
}

.coupon-bottom button {
  width: 100%;
}

.coupon-bottom span {
  margin: 0;
  text-align: left;
  line-height: 7px;
  font-size: 14px;
  margin-top: 2px;
}

.coupon-bottom p {
  display: block;
  font-size: 14px;
  color: #eb6083;
  line-height: 8px;
  margin: 0;
  padding: 0;
}

.coupons-titlemain h3 {
  float: left;
  font-weight: 400;
  font-size: 16px;
  margin: 1.5px 0 2.5px 0px;
}

.error-container {
  position: relative;
  z-index: 1;
  // margin-top: 50px;
  margin-bottom: 58px;
}

.error-content {
  padding-bottom: 30px;
}

.btn-bg {
  background-color: #e75e83 !important;
}

.apply-button {
  color: #e75e83 !important;
  border-radius: 5px;
  border: 1px solid;
  font-size: 12px;
  font-weight: 600;
}


.coupon-block p
{

  text-transform: capitalize;
  font-size: 13px;
  margin: 0 auto;
  text-align: left;

}