<div class="bg-light-blue">
	<section class="breadcrumb mb-0">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h3 (click)="goback()"><i class="lni lni-arrow-left"></i> Order Details </h3>
                </div>
                <div class="col-6">
                    <ul class="component-header-list d-flex justify-content-end">
                        <li class="mobile-indicator d-md-block">
                            <a href=""><img src="assets/images/icons/discount.png"></a>
                        </li>
                        <li class="mobile-indicator d-md-block">
                            <a href=""><img src="assets/images/icons/cart-bag.png"></a>
                        </li>
                        <li class="mobile-indicator d-md-block">
                            <a href=""><img src="assets/images/icons/notifications.png"></a>
                        </li>
                    </ul>
                </div>
			</div>
		</div>
	</section>
	<section class="pt-0 mt-2">
		<div class="row v-row shopping-block ng-star-inserted">
            <div class="col-lg-4 col-sm-4 col-xs-4 pl-0"><img src="assets/images/products/1.jpg"></div>
            <div class="col-lg-8 col-sm-8 col-xs-8 pl-0">
                <p>storename</p>
                <h4>Baby Sleepsuit</h4>
                <ul class="product-value">
                    <li><span>Quantity : </span>2</li>
                    <li><span>Size : </span>M</li>
                </ul>
                <ul class="product-price">
                    <li>Rs. <span>2999</span></li>
                    <li>Rs. <span>3999</span></li>
                    <li>(<span>20%</span>OFF)</li>
                </ul>
            </div>
            <ul class="cart-button">
                <li style="border-right: 1px solid #ebebeb;"><button data-toggle="modal"
                        data-target="#exampleModalCenter">Cancel Order</button></li>
                <li><button>Help? </button></li>
            </ul>
        </div>
	</section>
</div>