.shopping-block[_ngcontent-wnm-c337] {
    background-color: #fff;
    border: 1px solid transparent;
    margin: 0;
    padding: 10px 15px 10px;
    margin-bottom: 7px;
    position: relative;
    box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
}

.v-row {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.shopping-block p {
    font-size: 9px;
    width: 100%;
    color: #e75d81;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.shopping-block h4 {
    font-size: 0.8em;
    color: #939393;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
}
.product-value {
    margin-bottom: 0;
}
ul {
    list-style: none;
}
.product-value li {
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 7px;
}
.product-value li span {
    color: #777676;
    font-size: 11px;
    font-weight: 600;
}
.shopping-block .product-price li:first-child {
    color: #333;
    font-weight: 700;
    text-align: center;
}
.shopping-block .product-price li {
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 7px;
}
.shopping-block .product-price li:nth-child(2) {
    opacity: 0.4;
    color: #282c3f;
    text-decoration: line-through;
    font-size: 11px;
}
.shopping-block .product-price li:last-child {
    color: #e75d81;
    font-weight: 600;
    font-size: 10px;
    white-space: nowrap;
}