<div class="bg-light-blueshade">
  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>
  <section [ngClass]="{ 'py-0': isMobile }" *ngIf="!loadingApi">
    <div class="" [ngClass]="{ container: isDesktop }">
      <div class="" [ngClass]="{ row: isDesktop }">
        <div class="col-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div [ngClass]="{ 'col-md-9': isDesktop }" class="">
          <div class="bg-white deskdash-breadcrumbs m-none  mb-3">
            <h4 class="font-16  font-weight-600">Edit Profile</h4>
          </div>
          <section class="p-a0" [ngClass]="{ 'mx-auto  mt-3': isDesktop }">
            <div class="">
              <div
                class="col-lg-8 offset-lg-2 mb-5 mt-1 p-b20 bg-white"
                *ngIf="editProfile"
              >
                <form
                  class="pt-2"
                  [formGroup]="editprofileform"
                  (ngSubmit)="onUpdate()"
                >
                  <!-- <h4 class="font-18 pt-3 font-weight-600 text-center m-b30 m-none">Edit Profile</h4> -->
                  <div class="form-group mt-2">
                    <input
                      type="text"
                      disabled="disabled"
                      formControlName="mobile"
                      [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                    />
                    <button
                      type="button"
                      class="btn button float-right ph mr-1"
                      (click)="changeMobile()"
                    >
                      <span><i class="ti ti-pencil"></i></span>
                    </button>
                    <label for="input" class="control-label pl-2 pt-2">{{
                      customer.mobile
                    }}</label>
                  </div>
                  <div [ngClass]="{ 'row px-0': isDesktop }">
                    <div class="form-group col-md-6 px-0">
                      <input
                        type="text"
                        value=""
                        formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                      />
                      <label for="input" class="control-label">Name</label
                      ><i class="bar"></i>
                      <div
                        class="help-block invalid-feedback"
                        *ngIf="submitted && f.name.errors"
                      >
                        <div *ngIf="f.name.errors.required">
                          Name is required
                        </div>
                        <div *ngIf="f.name.errors.pattern">
                          Enter only characters
                        </div>
                      </div>
                    </div>
                    <div
                      class="form-group col-md-6 px-0 col-sm-12"
                      [ngClass]="{ 'left-34': isDesktop }"
                    >
                      <input
                        type="email"
                        value=""
                        formControlName="email"
                        [ngClass]="{
                          'is-invalid': submitted && f.email.errors
                        }"
                      />
                      <label for="input" class="control-label"
                        >Email Address</label
                      ><i class="bar"></i>
                      <div
                        class="help-block invalid-feedback"
                        *ngIf="submitted && f.email.errors"
                      >
                        <div *ngIf="f.email.errors.required">
                          Email is required
                        </div>
                        <div *ngIf="f.email.errors.pattern">
                          Enter valid email address
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group mb-0 col-6">
                      <div class="form-radio">
                        <div class="radio d-flex flex-row">
                          <label class="pr-4">
                            <input
                              type="radio"
                              name="gender"
                              value="m"
                              formControlName="gender"
                              [ngClass]="{
                                'is-invalid': submitted && f.gender.errors
                              }"
                            /><i class="helper"></i>Male
                          </label>
                          <label>
                            <input
                              type="radio"
                              name="gender"
                              value="f"
                              formControlName="gender"
                              [ngClass]="{
                                'is-invalid': submitted && f.gender.errors
                              }"
                            /><i class="helper"></i>Female
                          </label>
                        </div>
                        <input
                          type="hidden"
                          name="gender"
                          formControlName="gender"
                          [ngClass]="{
                            'is-invalid': submitted && f.gender.errors
                          }"
                        />
                        <div
                          class="help-block invalid-feedback"
                          *ngIf="submitted && f.gender.errors"
                        >
                          <div *ngIf="f.gender.errors.required">
                            Gender is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-6 mt-4">
                      <input
                        type="date"
                        value=""
                        formControlName="dob"
                        [ngClass]="{ 'is-invalid': submitted && f.dob.errors }"
                      />
                      <label for="input" class="control-label">DOB </label
                      ><i class="bar"></i>
                      <div
                        class="help-block invalid-feedback"
                        *ngIf="submitted && f.dob.errors"
                      >
                        <div *ngIf="f.dob.errors.required">DOB is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row mb-0">
                    <div class="col-6">
                      <label class="control-label col-7 pr-0" style="top: 0"
                        >GST Registered?</label
                      >
                    </div>
                    <div class="form-radio col-5">
                      <div class="radio d-flex flex-row">
                        <label class="pr-4">
                          <input
                            type="radio"
                            name="gst"
                            value="y"
                            formControlName="gst"
                            [ngClass]="{
                              'is-invalid': submitted && f.gst.errors
                            }"
                          /><i class="helper"></i>Yes
                        </label>
                        <label>
                          <input
                            type="radio"
                            name="gst"
                            value="n"
                            formControlName="gst"
                            [ngClass]="{
                              'is-invalid': submitted && f.gst.errors
                            }"
                          /><i class="helper"></i>No
                        </label>
                      </div>
                      <input
                        type="hidden"
                        name="gst"
                        formControlName="gst"
                        [ngClass]="{ 'is-invalid': submitted && f.gst.errors }"
                      />
                      <div
                        class="help-block invalid-feedback"
                        *ngIf="submitted && f.gst.errors"
                      >
                        <div *ngIf="f.gst.errors.required">Gst is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-group mb-0">
                      <input
                        type="text"
                        value=""
                        formControlName="gst_no"
                        [ngClass]="{
                          'is-invalid': submitted && f.gst_no.errors
                        }"
                      />
                      <label for="input" class="control-label">GST No</label
                      ><i class="bar"></i>
                      <div
                        class="help-block invalid-feedback"
                        *ngIf="submitted && f.gst_no.errors"
                      >
                        <div *ngIf="f.gst_no.errors.required">
                          Gst No is required
                        </div>
                        <div *ngIf="f.gst_no.errors.minlength">
                          Gst no must be at least 15 characters
                        </div>
                      </div>
                    </div>
                    <div
                      class="form-group mt-2 col-md-6 col-sm-12"
                      style="padding-top: 11px"
                    >
                      <label class="my-0 px-0 col-lg-12">
                        <div class="custom-file my-0 riyaqas-file-input-wrap">
                          <input
                            type="file"
                            class="riyaqas-file-input"
                            id="sb-file-input"
                            (click)="change()"
                            (change)="fileEvent($event)"
                          />
                          <label class="custom-file-label" for="sb-file-input"
                            >*Upload GST Certificate</label
                          ><i class="bar"></i>
                          <input
                            type="text"
                            value=""
                            formControlName="gst_certificate"
                            [ngClass]="{
                              'is-invalid': submitted && f.gst_no.errors
                            }"
                          />
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="form-group mt-2">
                    <input
                      type="text"
                      value=""
                      formControlName="alternate_mobile"
                      [ngClass]="{
                        'is-invalid': submitted && f.alternate_mobile.errors
                      }"
                      minlength="10"
                      maxlength="10"
                    />
                    <label for="input" class="control-label"
                      >Alternate Mobile Number</label
                    ><i class="bar"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && f.alternate_mobile.errors"
                    >
                      <div *ngIf="f.alternate_mobile.errors.minlength">
                        Mobile must be at least 10 digit
                      </div>
                      <div *ngIf="f.alternate_mobile.errors.maxlength">
                        Mobile must be at least 10 digit
                      </div>
                    </div>
                  </div>
                  <div class="button-container">
                    <!-- <button type="button" class="btn button disabled mr-3"><span>Change Password</span></button> -->
                    <button
                      type="submit"
                      class="btn button"
                      [disabled]="loading"
                    >
                      <span
                        *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"
                      ></span
                      ><span>Save Details</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="col-lg-6 offset-lg-3 p-t20 mb-5 mt-1 p-b20 bg-white"
              *ngIf="oldNumber"
            >
              <form
                class="pt-2"
                action=""
                method="post"
                *ngIf="oldNumber"
                [formGroup]="changemobileform"
                (ngSubmit)="onchangemobile()"
              >
                <h4
                  class="font-18 pt-3 font-weight-600 text-center m-b30 m-none"
                >
                  Change Mobile Number
                </h4>
                <div class="form-group mt-1">
                  <input
                    type="text"
                    disabled="disabled"
                    value=""
                    required="required"
                    readonly
                    formControlName="mobile"
                    [ngClass]="{ 'is-invalid': submitted && g.mobile.errors }"
                  />
                  <label for="input" class="control-label pl-2 mt-2"
                    >{{ customer.mobile }} (Current Phone Number)</label
                  ><i class="bar"></i>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <input
                      type="text"
                      value=""
                      formControlName="otp"
                      [ngClass]="{ 'is-invalid': submitted && g.otp.errors }"
                      minlength="4"
                      maxlength="4"
                    />
                    <label for="input" class="control-label">Enter OTP</label
                    ><i class="bar"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && g.otp.errors"
                    >
                      <div *ngIf="g.otp.errors.required">Otp is required</div>
                      <div *ngIf="g.otp.errors.pattern">Enter only Number</div>
                      <div *ngIf="g.otp.errors.minlength">
                        Otp must be at least 4 digit
                      </div>
                      <div *ngIf="g.otp.errors.maxlength">
                        Otp must be at least 4 digit
                      </div>
                    </div>
                  </div>
                </div>
                <div style="display: flex; justify-content: center">
                  <button type="submit" class="btn button btn-block">
                    <span>Submit</span>
                  </button>
                </div>
              </form>
            </div>
            <div
              class="col-lg-6 offset-lg-3 p-t20 mb-5 mt-1 p-b20 bg-white"
              *ngIf="newNumber"
            >
              <form
                action=""
                method="post"
                [formGroup]="changenewmobileform"
                (ngSubmit)="onchangenewmobile()"
              >
                <div class="form-group row">
                  <div class="col-12">
                    <input
                      type="text"
                      value=""
                      formControlName="mobile"
                      [ngClass]="{ 'is-invalid': submitted && h.mobile.errors }"
                    />
                    <label for="input" class="control-label"
                      >New Phone Number</label
                    ><i class="bar"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && h.mobile.errors"
                    >
                      <div *ngIf="h.mobile.errors.required">
                        New phone number required
                      </div>
                      <div *ngIf="h.mobile.errors.minlength">
                        Number must be at least 10 characters
                      </div>
                    </div>
                  </div>
                </div>
                <div style="display: flex; justify-content: center">
                  <button
                    type="button"
                    class="btn button btn-block"
                    style="font-size: 14px"
                    (click)="requestotp()"
                  >
                    <span>Request OTP</span>
                  </button>
                </div>
                <div class="form-group row" *ngIf="showNewNumberOtpInput">
                  <div class="col-12">
                    <input
                      type="text"
                      value=""
                      formControlName="otp"
                      [ngClass]="{ 'is-invalid': submitted && g.otp.errors }"
                    />
                    <label for="input" class="control-label">Enter OTP</label
                    ><i class="bar"></i>
                    <div
                      class="help-block invalid-feedback"
                      *ngIf="submitted && g.otp.errors"
                    >
                      <div *ngIf="g.name.errors.required">Otp is required</div>
                      <div *ngIf="g.mobile.errors.minlength">
                        Otp must be at least 4 characters
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  style="display: flex; justify-content: center"
                  *ngIf="showNewNumberOtpInput"
                >
                  <button type="submit" class="btn button btn-block">
                    <span>Submit</span>
                  </button>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
