
<div class="dashboard-page bg-light-blueshade">
  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>
  <section class="review-page" [ngClass]="{ 'py-1': isMobile }">
    <div class="" [ngClass]="{ container: isDesktop }">
      <div class="" [ngClass]="{ row: isDesktop }">
        <div class="col-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div [ngClass]="{ 'col-md-9': isDesktop }" class="" [@.disabled]="true">
          <div class="bg-white deskdash-breadcrumbs m-none  mb-3">
            <h4 class="font-16 font-weight-600">Reviews</h4>
          </div>

          <mat-tab-group class="reviews-div">
            <mat-tab label="Review">
              <div
                class="ItemList-itemView"
                *ngFor="let review of getReview(); let i = index"
              >
                <div class="orange-colored-border">
                  <div class="ProductList-itemInfoForItemList false">
                    <div class="ProductList-imageAndDetails">
                      <div class="ProductList-thumbnail">
                        <a>
                          <img
                            [src]="review.thumbnail_path"
                            class="img-responsive preLoad loaded"
                            alt="product"
                          
                            routerLink="/products/{{ review.slug }}/{{
                              review.unique_id
                            }}"
                          />
                        </a>
                      </div>
                      <div
                        class="ProductList-details ProductList-customPadding pl-2"
                      >
                        <p class="storename">
                          {{ review.brand_name | uppercase }}
                        </p>
                        <p>{{ review.pv_name }}</p>

                        <a
                          (click)="
                            writeReview(
                              reviewModal,
                              review.product_id,
                              review.product_variant_id,
                              review.child_order_id
                            )
                          "
                          >Write review</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            
              <div
                class="text-center-nofound p-a10"
                *ngIf="reviews.length == 0 || getReview().length == 0"
              >
                <div class="col-lg-12">
                  <img src="assets/images/icons/noreviews.png" />
                  <label class="d-block">No Reviews</label>
                  <!-- <p>
                    Save your favorite pieces of clothing in one place. Add now,
                    buy later.
                  </p> -->
                  <button
                    class="btn-style-bg margin-auto m-t10 btn-main-add"
                    [routerLink]="['/']"
                  >
                    Continue Shopping
                  </button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Reviewed">
              <div
                class="ItemList-itemView"
                *ngFor="let review of getReviewed(); let i = index"
              >
                <div class="orange-colored-border">
                  <div class="ProductList-itemInfoForItemList false">
                    <div class="row">
                      <div class="col-lg-1 col-md-1  col-xs-2 col-sm-2 pr-0">
                        <a>
                          <img
                            [src]="review.thumbnail_path"
                            class="img-responsive preLoad loaded"
                            alt="product"
                         
                            routerLink="/products/{{ review.slug }}/{{
                              review.unique_id
                            }}"
                          />
                        </a>
                      </div>
                      <div class="col-lg-11 col-md-11  col-xs-10 col-sm-10">
                        <label class="review-product">{{
                          review.pv_name
                        }}</label>
                        <p class="review-title">{{ review.review_title }}</p>
                        <span class="r-text">{{ review.review_comment }} </span>
                        <ngb-rating
                          [max]="5"
                          [(rate)]="review.rating"
                          [readonly]="true"
                        ></ngb-rating>
                        <span
                          [ngClass]="
                            review.published === 0
                              ? 'review-stat pending'
                              : 'review-stat'
                          "
                          >{{
                            review.published === 0 ? "Pending" : "Published"
                          }}</span
                        >

                        <a
                          (click)="
                            writeReview(reviewModal2); editReviewModal(i)
                          "
                          class="anchor-link"
                          *ngIf="review.published == 0"
                          ><i class="fal fa-edit"></i>edit review</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="text-center-nofound p-a10"
                *ngIf="reviews.length == 0 || getReviewed().length == 0"
              >
                <div class="col-lg-12">
                  <img src="assets/images/icons/noreviews.png" />
                  <label>No Reviews</label>
                  <!-- <p>
                  Pick Your Favorite Items.
                  </p> -->
                  <button
                    class="btn-style-bg margin-auto m-t10 btn-main-add"
                    [routerLink]="['/']"
                  >
                    Continue Shopping
                  </button>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </section>
  <app-footer class="dt-none"></app-footer>
</div>
<ng-template #reviewModal let-modal>
  <div class="modal-content">
    <div class="modal-body">
      <div class="col-lg-6 col-xs-8 col-sm-8 px-0"></div>
      <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right px-0">
        <button
          type="button"
          (click)="close()"
          data-dismiss="modal"
          aria-hidden="true"
          class="modal-close"
        >
          <i class="fal fa-times"></i>
        </button>
      </div>
      <div class="py-5 px-3">
        <div class="col-md-12 text-center px-0">
          <h4 class="title-info m-b0">Write Product Review Now</h4>
          <!-- <p>Plus, join our email list to stay up to date.</p> -->
        </div>
        <form class="review-form" [formGroup]="reviewForm">
          <span>Your Rating: </span>
          <ngb-rating
            [max]="5"
            [(rate)]="currentRate"
            [readonly]="false"
          ></ngb-rating>
          <div class="form-group col-md-12 px-0">
            <input
              type="text"
              value=""
              required="required"
              formControlName="review_title"
            />
            <label for="input" class="control-label">Review Title</label
            ><i class="bar"></i>
          </div>
          <div class="form-group col-md-12 px-0">
            <textarea
              required="required"
              formControlName="review_comment"
            ></textarea>
            <label for="textarea" class="control-label">Review*</label
            ><i class="bar"></i>
          </div>
        </form>
        <div class="col-12 d-flex">
          <button
            type="submit"
            class="btn btn-style-bg mx-auto text-uppercase"
            [disabled]="currentRate == 0 || !reviewForm.valid"
            (click)="submitReview()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #reviewModal2 let-modal>
  <div class="modal-content">
    <div class="modal-body">
      <div class="col-lg-6 col-xs-8 col-sm-8 px-0"></div>
      <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right px-0">
        <button
          type="button"
          (click)="close()"
          data-dismiss="modal"
          aria-hidden="true"
          class="modal-close"
        >
          <i class="fal fa-times"></i>
        </button>
      </div>
      <div class="py-5 px-3">
        <div class="col-md-12 text-center px-0">
          <h4 class="title-info m-b0">Write Product Review Now</h4>
          <!-- <p>Plus, join our email list to stay up to date.</p> -->
        </div>
        <form class="review-form" [formGroup]="reviewEditForm">
          <span>Your Rating: </span>
          <ngb-rating
            [max]="5"
            [(rate)]="currentRate"
            [readonly]="false"
          ></ngb-rating>
          <div class="form-group col-md-12 px-0">
            <input
              type="text"
              value=""
              required="required"
              formControlName="review_title"
            />
            <label for="input" class="control-label">Review Title</label
            ><i class="bar"></i>
          </div>
          <div class="form-group col-md-12 px-0">
            <textarea
              required="required"
              formControlName="review_comment"
            ></textarea>
            <label for="textarea" class="control-label">Review*</label
            ><i class="bar"></i>
          </div>
        </form>
        <div class="col-12 d-flex">
          <button
            type="submit"
            class="btn btn-style-bg mx-auto text-uppercase"
            [disabled]="currentRate == 0 || !reviewEditForm.valid"
            (click)="submitEditReview()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
