.mat-tab-group.vertical {
  flex-direction: row;
}
.mat-tab-group.horizontal {
  flex-direction: column;
}
.mat-tab-header {
  border-bottom: none;
}
.mat-tab-header-pagination {
  display: none !important;
}
.vertical .mat-tab-labels {
  flex-direction: column;
}
.horizontal .mat-tab-labels {
  flex-direction: row;
}
.mat-ink-bar {
  height: 100%;
  left: 98% !important;
}
.mat-tab-body-wrapper {
  flex: 1 1 auto;
}

.reviews-tab {
  padding: 3px 0 5px;
  background: #e75e83;
  box-shadow: 0 1px 2px 0 rgba(148, 150, 159, 0.3);
  z-index: 20;
}
.hero-side-category {
  width: 100%;
  position: relative;
}
.category-toggle-wrap {
  width: 100%;
}
.reviews-tab .border-right {
  border-right: 0.5px solid #ccc;
}
.reviews-tab button {
  background: transparent;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 1.1vw;
}
.review-form span {
  font-size: 14px;
  color: #b3b3b3;
  margin-right: 8px;
}
.reviews-tab button {
  background: transparent;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 1.1vw;
}
.reviews-tab button i {
  margin-right: 9px;
  font-size: 12px;
}

.display-none {
  display: none;
}

mat-tab {
  height: 30px;
}
@media (max-width: 599px) {
}

/**/
.ItemList-itemView {
  margin-top: 4px;
  background-color: #fff;
  padding: 12px;
}

.ProductList-imageAndDetails {
  display: flex;
  position: relative;
}
.ProductList-thumbnail {
  border: 1px solid #edeeef;
  position: relative;
  border-radius: 2px;
}
.ProductList-thumbnail img , .ProductList-itemInfoForItemList img{
  width: 53px; height: 70px
}
.Text-Text {
  font-family: "Lato", sans-serif !important;
  font-size: 1.1vw;
  line-height: 1;
  color: #282c3f;
}

.ProductList-details p {
  font-size: 0.7em;
  padding: 2px;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // white-space: nowrap;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
  line-height: 15px;
  margin-top: 0px;
}

.storename {
  font-size: 0.7em;
  width: 100%;
  color: #939393;
  padding: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
  line-height: 15px;
  margin-top: 0px;
}

.ProductList-details a {
  position: absolute;
  right: 0;
  bottom: 0px;
  text-decoration: underline;
  font-size: 12px;
  color: #f490a0;
  cursor: pointer;
  text-transform: capitalize;
}
.ProductList-details i {
  margin-right: 3px;
}
/**/

/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
.rating-group {
  display: inline-flex;
}

/* make hover effect work properly in IE */
.rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
  display: none;
}

/* set icon padding and size */
.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 0.8rem;
}

/* set default star color */
.rating__icon--star {
  color: orange;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/**/
@media screen and (min-width: 1024px) {
  .UserMenu--container__zoaCJ {
    padding: 0;
  }
}

ul {
  list-style-type: none;
}

.profile-Card {
  background: #f5e6e0;
  padding: 16px;
  margin-bottom: 24px;
}

.profile-Card button {
  background-color: transparent;
  border: 1px solid #222;
  color: #222;
  letter-spacing: 1px;
  width: 100%;
  font-size: 13px;
  min-height: 48px;
  padding: 12px;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.menuItem a {
  color: #222;
  display: block;
  font-size: 13px;
  padding: 16px 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.menuItem a .arrowRight {
  height: 16px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

.container main {
  width: calc(100% - 325px);
  margin-left: auto;
}
.font-16 {
  font-size: 16px;
}
.font-13 {
  font-size: 13px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.line-16 {
  line-height: 16px;
}

.breadcrumbs {
  display: block;
  font-size: 1.1rem;
}
.breadcrumbs ol {
  list-style: none;
  display: inline-block;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
ol {
  max-width: 540px;
}
.breadcrumbs ol li {
  display: inline-block;
}
.breadcrumbs ol li > a {
  text-decoration: none;
}
.BodyText-module--small__2SSIP {
  font-size: 1.1rem;
  line-height: 1.45;
}
.BodyText-module--general__2yKZb {
  font-size: 1.3rem;
  line-height: 1.5;
}
.breadcrumbs ol li:not(:last-of-type)::after {
  content: " / ";
  position: relative;
  top: 2px;
}

.button-container {
  text-align: center;
}

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.btn {
  vertical-align: unset;
  border: none;
  color: #fff;
}

.btn-purple {
  background-color: #e75e83;
}

// .form-group .form-radio {
//   position: relative;
// }
.form-group {
  position: relative;
  margin-top: 2rem;
}

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.checkbox .form-help,
.form-radio .form-help,
.form-group .form-help {
  position: absolute;
  width: 100%;
}
.checkbox .form-help {
  position: relative;
  margin-bottom: 1rem;
}
.form-radio .form-help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.form-group input {
  height: 1.9rem;
}
.form-group textarea {
  resize: none;
}
.form-group select {
  width: 100%;
  font-size: 0.5rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 0.8rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #f490a0;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input[type="file"] {
  line-height: 1;
}
.form-group input[type="file"] ~ .bar {
  display: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  // left: 0;
}
.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
  color: #f490a0;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 1.5rem;
  text-align: left;
  color: #333;
  display: block;
  font-size: 12px;
}
.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
}
.radio .helper::before,
.radio .helper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: #f490a0;
  border-color: #f490a0;
}
.radio label:hover .helper {
  color: #f490a0;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #f490a0;
}

.checkbox {
  // margin-top: 3rem;
  margin-bottom: 1rem;
}
.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before,
.checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #f490a0;
  display: block;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}

.ph {
  position: absolute;
  right: 0;
  top: -35px;
}
.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkbox label:hover .helper {
  color: #f490a0;
}
.checkbox input:checked ~ .helper {
  color: #f490a0;
}
.checkbox input:checked ~ .helper::after,
.checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem;
}

input[type="text"]:disabled {
  background: #f0f4f7;
  height: 40px;
}

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.has-error.form-group .form-help,
.has-error.form-group .helper,
.has-error.checkbox .form-help,
.has-error.checkbox .helper,
.has-error.radio .form-help,
.has-error.radio .helper,
.has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f;
}
.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  // font-size: 1.1rem;
  color: #e75e83;
  // margin: 3rem 0;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease,
    box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease,
    box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
  color: #fff;
  position: relative;
  z-index: 1;
  white-space: nowrap;
}
.button::before {
  content: "";
  position: absolute;
  background: #071017;
  border: 50vh solid #1d4567;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
.button:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before,
.button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s,
    -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.button:focus {
  outline: none;
}

.review-stat {
  background: #4caf50;
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 12px;
  color: #fff;
  padding: 0 7px;
  border-radius: 5px;
  text-transform: capitalize;
}
.review-stat.pending {
  color: #fff;
  background-color: #ff6161 !important;
}

.r-text {
  font-size: 13px;
  color: #666;
  display: block;
  width: 90%;
}
.anchor-link {
  position: absolute;
  right: 15px;
  bottom: 0px;
  text-decoration: underline;
  font-size: 12px;
  color: #f490a0;
  cursor: pointer;
  text-transform: capitalize;
}
.review-title {
  font-size: 14px;
  color: #000;
  line-height: 16px;
  margin: 0;
  padding: 0;
}
ngb-rating span {
  font-size: 17px;
  color: #a8c3d8 !important;
  width: auto !important;
  margin-top: -4px;
}
.review-product {
  font-size: 11px;
  color: #666;
  line-height: 20px;
  margin: 0;
  padding: 0;
}



.form-group input, .form-group textarea {
  display: block;
  background: none;
  padding: .125rem .125rem .0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all .28s ease;
  box-shadow: none;
}


.form-group input {
  height: 1.9rem;
}
