.confirmation-base-mainCardContainer {
    max-width: 980px;
    margin: 0 auto;
}
.confirmation-base-orderConfirm {
    width: 65%;
    padding: 50px 10px;
    margin: 70px auto;
    margin-bottom: 0;
    display: inline-block;
    border: 1px solid #d4d5d9;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
    position: relative;
}
@media (max-width: 991px) {
    .confirmation-base-orderConfirm {
        width: 80%
    }
}
.confirmation-base-badge {
    height: 100px;
    width: 105px;
    background-position: 100% 0;
    background-size: 100px 100px;
    background-image: url(https://constant.myntassets.com/checkout/assets/img/ordercompletebadge@2x.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -35px;
    top: -35px;
    animation-name: confirmation-base-bounceIn;
    animation-delay: .25s;
    animation-duration: .5s;
    // opacity: 0;
    animation-fill-mode: forwards;
}
@media (max-width: 767px) {
    article {
        width: 100% !important;
    }    
}
article {
    width: 55%;
    float: left;
}
article, aside, footer, header, nav, section {
    display: block;
}
.confirmation-base-wrap {
    padding: 0 15px;
}
.confirmation-base-bold {
    font-weight: 600;
}

.confirmation-base-msgSuccess {
    margin: 0 0 10px -2px;
    font-size: 32px;
    color: #03a685;
}
.confirmation-base-msgNum {
    font-size: 16px;
    color: #696b79;
}
.confirmation-base-bold {
    font-weight: 600;
}
.confirmation-base-dispatch {
    font-size: 14px;
    line-height: 19px;
    color: #94969f;
    padding-top: 4px;
}
.confirmation-base-rightSection {
    padding: 10px 15px 10px 50px;
    text-align: left;
    border-left: 1px solid #eaeaec;
    float: left;
}
.confirmation-base-priceDetails {
    margin-bottom: 12px;
    line-height: 1.3;
}
.confirmation-base-bold {
    font-weight: 600;
}
.confirmation-base-itemsText {
    margin-left: 3px;
}
.confirmation-base-paymentModeTitle {
    color: #94969f;
    font-size: 14px;
    margin-bottom: 5px;
}
.confirmation-base-grey {
    color: #7e818c;
}
.confirmation-base-viewOrderBlock {
    margin-top: 25px;
}
.confirmation-base-viewOrderBtn, .confirmation-base-viewOrderBtn:hover {
    color: #526cd0;
}
.confirmation-base-note {
    clear: both;
    padding: 32px 15px 0;
    color: #bfc0c6;
    font-size: 12px;
}
.confirmation-base-noteLabel {
    color: #7e818c;
}
.new-btn-center {
    margin: 0 auto;
    display: table;
    padding-top: 30px;
}
.common-btn {
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 16px 8px 16px;
    display: table-cell;
}
.btn-2 {
    border: 0;
    color: #ffffff;
}
.new-btn {
    background-color: #e75e83;
}


/*Mobile-View*/
// #mountRoot {
//     padding: 56px 0 0 0;
//     clear: both;
// }

.sliderFrame {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: all 200ms ease-out 0s;
    transform: translate3d(0px, 0px, 0px);
}
.mobile-base-confirmationComp {
    overflow-x: hidden;
    background: #f0f4f7;
}
.mobile-base-invisible {
    display: none;
}
.cardComponents-base-seeMoreContainer {
    position: fixed;
    padding-right: 4px;
    background-color: #282c3f;
    border: 1px solid #282c3f;
    border-radius: 15px;
    color: #fff;
    bottom: 6px;
    width: 100px;
    margin: auto;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}
.cardComponents-base-seeMoreText {
    display: table-cell;
    vertical-align: middle;
    padding: 2px 0 2px 10px;
    text-align: center;
}
.successAnimation-base-parent {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    animation: successAnimation-base-page 1s 1.8s ease-out forwards;
    overflow-x: hidden;
}
.successAnimation-base-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: #ff3f6c;
    display: inline-block;
    bottom: -50px;
    right: -50px;
    animation: successAnimation-base-circle 1s ease-in-out forwards;
    -moz-animation: successAnimation-base-circle 1s ease-in-out forwards;
    opacity: 0;
    will-change: transform,opacity;
}
.successAnimation-base-iconContainer {
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: successAnimation-base-iconContainer 1s forwards;
    animation-delay: 1s;
    position: relative;
    text-align: center;
    height: 72px;
}
.successAnimation-base-iconBlock {
    position: absolute;
    height: 100px;
    width: 72px;
    left: 50%;
    transform: translate(-50%,-80%);
}
svg:not(:root) {
    overflow: hidden;
}
.successAnimation-base-circleTick {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    fill: #fff;
    animation: successAnimation-base-circleTick 1s;
    left: 20px;
    top: 22px;
}
.successAnimation-base-successCircle {
    width: 72px;
    height: 72px;
    transform: rotate(180deg);
    fill: #ff3f6c;
    display: table;
    margin: 0 auto;
    animation: successAnimation-base-successCircle .8s;
    will-change: opacity,transform;
}
.successAnimation-base-orderSuccessful {
    color: #ff3f6c;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
    animation: successAnimation-base-orderSuccessful 1.2s;
}
.mobile-base-confirmationCard:first-of-type {
    border-top: 0;
    background: transparent !important;
}
.mobile-base-cardBorder {
    border-top: 16px solid #f4f4f5;
}
.mobile-base-slideUp {
    animation: mobile-base-slideUp 2s;
    animation-delay: 1s;
}
.mobile-base-confirmationCard {
    margin-top: 0;
}
.fitAssistModule-base-fitAssistContainer {
    position: relative;
    border: 1px solid #cac7f6;
    box-shadow: 0 1px 3px 0 #9ccae8;
    background: #fff;
    margin: 16px;
    text-align: center;
    border-radius: 5px;
}
.fitAssistModule-base-nudge {
    color: #535766;
    font-size: 16px;
    margin-top: 0px;
    font-weight: 600;
    padding-left: 16px;
}
.carousel-base-selected img
{
    margin-top:10px;
}
.fitAssistModule-base-tip {
    font-size: 12px;
    color: #7e818c;
    margin-top: 8px;
    margin-bottom: 12px;
    line-height: 16px;
    padding: 0 8px 0 16px;
}
.carousel-base-carouselContainer {
    text-align: center;
    overflow: hidden;
    animation: carousel-base-slideIn 3s;
}
.carousel-base-selected {
   
}
.carousel-base-item {
    display: inline-block;
    position: relative;
}
.profileSelector-base-profileSelectorContainer {
    min-height: 64px;
    margin-bottom: 0;
}
.profileSelector-base-arrowLine {
    text-align: center;
    margin-top: 6px;
}
.profileSelector-base-sideLine {
    display: inline-block;
    border-top: 1px solid #d4d5d9;
    width: 42%;
}
.profileSelector-base-triangle {
    display: inline-block;
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
    transform-origin: center center;
    border-top: 1px solid #d4d5d9;
    border-left: 1px solid #d4d5d9;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: -5px;
}
.profileSelector-base-sideLine {
    display: inline-block;
    border-top: 1px solid #d4d5d9;
    width: 42%;
}
.profileSelector-base-profilesBlock {
    margin-top: 6px;
    padding: 0 22px;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
}
.profileSelector-base-profileButton {
    border: 1px solid #d4d5d9;
    border-radius: 50px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin-right: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px;
    width: 68px;
}
.recommendationMsg-base-hidden {
    display: none;
}
.recommendationMsg-base-mfaLogo {
    animation: recommendationMsg-base-mfaLogo .6s;
    color: #7e818c;
}
[class^=sprite-]:not([class^=sprite-card]):not([class^=sprite-wallet]):not([class^=sprite-upi]):not([class^=sprite-logo]) {
    background-image: url(https://constant.myntassets.com/checkout/assets/img/checkoutSprite-V1-1.png);
    background-size: 2327px 321px;
    overflow: hidden;
    background-repeat: no-repeat;
    display: inline-block;
}
.sprite-mfa-no-text {
    background-position: -601px -12px;
    width: 49px;
    height: 35px;
}
.recommendationMsg-base-allTaggedMessage {
    padding: 0 40px;
    margin-top: 20px;
    animation: recommendationMsg-base-allTaggedMessageAnim 2s;
}
.recommendationMsg-base-thanksMessage {
    color: #282c3f;
    font-weight: 600;
    font-size: 16px;
}
.recommendationMsg-base-thanksSubText {
    color: #7e818c;
    font-size: 12px;
}
.mobile-base-cardBorder {
    border-top: 16px solid #f4f4f5;
}

.mobile-base-slideUp {
    animation: mobile-base-slideUp 2s;
    animation-delay: 1s;
}
.mobile-base-confirmationCard {
    margin-top: 0;
}
.trackOrders-base-bagContainer {
    padding: 8px 16px 0;
    display: flex;
}
.trackOrders-base-FabpikBagIcon {
    margin-right: 35px;
    margin-left: 4px;
    margin-top: 10px;
}
[class^=sprite-]:not([class^=sprite-card]):not([class^=sprite-wallet]):not([class^=sprite-upi]):not([class^=sprite-logo]) {
    background-image: url(https://constant.myntassets.com/checkout/assets/img/checkoutSprite-V1-1.png);
    background-size: 2327px 321px;
    overflow: hidden;
    background-repeat: no-repeat;
    display: inline-block;
}
.trackOrders-base-shoppingBag {
    transform: scale(.7);
    margin: -16px -8px -20px -10px;
}
.sprite-shopping-bag {
    background-position: -1728px -40px;
    width: 65px;
    height: 100px;
}
.trackOrders-base-subText {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    align-self: center;
}
.trackOrders-base-viewOrdersButton {
    border: 1px solid #e75e83;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .2px;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 4px;
    margin-top: 16px;
    padding: 8px;
}
.trackOrders-base-viewOrdersButton>a {
    color: #e75e83;
}
.a2hs-base-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 7px 0;
    background: linear-gradient(106deg,#fff,#ffe4da);
}
[class^=sprite-]:not([class^=sprite-card]):not([class^=sprite-wallet]):not([class^=sprite-upi]):not([class^=sprite-logo]) {
    background-image: url(https://constant.myntassets.com/checkout/assets/img/checkoutSprite-V1-1.png);
    background-size: 2327px 321px;
    overflow: hidden;
    background-repeat: no-repeat;
    display: inline-block;
}

.add-to-home {
    background-image: url(http://13.233.197.247/userpanel-new/assets/images/icons/order-tracking.png);
    background-size: 85px 91px;
    overflow: hidden;
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 100px;
    margin-top: 8px;
}

.trackorder {
    background-image: url(http://13.233.197.247/userpanel-new/assets/images/icons/order-tracking.png);
    background-size: 85px 91px;
    overflow: hidden;
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 100px;
}
.sprite-mobile-exp {
    background-position: -1580px -40px;
    width: 65px;
    height: 100px;
}
.a2hs-base-content {
    width: 60%;
}
.a2hs-base-header {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px;
}
.a2hs-base-desc {
    margin-bottom: 10px;
    font-size: 12px;
}
.a2hs-base-container .a2hs-base-button {
    display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
}
.button-base-button {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    background: #ff3f6c;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.mobile-base-cardBorder {
    border-top: 0px solid #f4f4f5;
    background-color: #fff !important;
}

.mobile-base-slideUp {
    animation: mobile-base-slideUp 2s;
    animation-delay: 1s;
}
.mobile-base-confirmationCard {
    margin-top: 0;
}
.cardComponents-base-continueShoppingContainer {
    text-align: center;
    background-color: #f4f4f5;
    padding-bottom: 16px;
    padding-top: 16px;
}
.cardComponents-base-continueShoppingCaption {
    position: relative;
    font-size: 16px;
    color: #535766;
    padding-bottom: 14px;
}
div.cardComponents-base-continueShoppingCaption:before {
    background-color: #d4d5d9;
    content: " ";
    width: 20%;
    height: 1px;
    position: absolute;
    top: 30%;
    left: 0;
}
div.cardComponents-base-continueShoppingCaption:after {
    background-color: #d4d5d9;
    content: " ";
    width: 20%;
    height: 1px;
    position: absolute;
    top: 30%;
    right: 0;
}
.cardComponents-base-continueShoppingButton {
    color: #282c3f;
    display: inline-block;
    border: 1px solid #282c3f;
    border-radius: 4px;
    background-color: #f4f4f5;
    padding: 14px 36px;
}

.button-base-button {
    font-size: 12px !important;
    border: none;
    padding: 0px 8px !important;
    background-color: #e75e83 !important;
    color: #fff !important;
    border-radius: 4px;
    letter-spacing: 0.9px;
    height: 30px;
    line-height: 28px;
    margin-top: 9px;
    font-weight: 600 !important;
    text-transform: uppercase;
}
.footer-base-footerContainer {
    text-align: center;
    margin-top: 16px;
    padding: 16px 0 24px;
}
.footer-base-heading {
    margin-bottom: 4px;
    font-size: 16px;
    color: #282c3f;
}
.footer-base-desc {
    margin-bottom: 12px;
    font-size: 12px;
}
.footer-base-image {
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.profileSelector-base-profilesBlock li {
    list-style-type: none;
    position: relative;
    line-height: 20px;
    font-size: 11px;
    margin-bottom: 11px;
}
.profileSelector-base-profilesBlock li p
{
    list-style-type: none;
    position: relative;
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 11px;
    color: #000;
    padding: 0;
}
.profileSelector-base-profilesBlock span {
    margin: auto;
    color: #7e818c;
    display: block;
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 16px;
    font-weight: 500;
}

.profileSelector-base-profilesBlock li label {
    float: right;
    position: absolute;
    right: 0;
    font-size: 11px;
}