<app-desktop-header></app-desktop-header>
<app-breadcrumb [headername]="headerName"></app-breadcrumb>
<div class="container m-none mb-5 pb-5" *ngIf="!loading">
  <div class="row">
    <div class="confirmation-base-orderConfirm">
      <div class="confirmation-base-badge"></div>
      <div>
        <article>
          <div class="confirmation-base-wrap">
            <div></div>
            <div class="confirmation-base-msgSuccess confirmation-base-bold">
              Order Confirmed
            </div>
            <div class="confirmation-base-msgNum confirmation-base-bold">
              Order No. <span>{{ orderDetails.parent_order_id }}</span>
            </div>
            <div></div>
            <div></div>
            <div class="confirmation-base-dispatch">
              Your order is currently being processed. You will receive an order
              confirmation email shortly with the expected delivery date for
              your items.
            </div>
          </div>
        </article>
        <aside class="confirmation-base-rightSection">
          <div>
            <div class="confirmation-base-priceDetails">
              <div class="confirmation-base-bold">
                <svg
                  width="8"
                  height="10"
                  viewBox="0 0 8 10"
                  class="confirmation-base-rupeeIcon"
                >
                  <path
                    fill-rule="nonzero"
                    d="M1.951 5.845l3.91 3.602-.902.376L.7 5.845l.452-.711c.186-.005.392-.02.615-.048a5.2 5.2 0 0 0 1.347-.356c.218-.09.42-.201.604-.331.185-.13.345-.281.479-.455.134-.173.231-.371.29-.594H.865v-.841h3.644a1.759 1.759 0 0 0-.284-.667 1.826 1.826 0 0 0-.567-.512 2.964 2.964 0 0 0-.865-.332A5.22 5.22 0 0 0 1.63.882H.864V0h6.2v.882H4.18c.173.077.33.174.468.29a2.09 2.09 0 0 1 .612.848c.064.162.11.325.137.489h1.668v.84H5.383a2.38 2.38 0 0 1-.43 1.03 3.095 3.095 0 0 1-.8.748 4.076 4.076 0 0 1-1.043.482 6.15 6.15 0 0 1-1.159.236z"
                  ></path>
                </svg>
                {{ orderDetails.total }}
              </div>
              <div class="confirmation-base-itemsText">
                {{ totalOrders }} item
              </div>
            </div>
            <div>
              <div class="confirmation-base-paymentModeTitle">PAYMENT MODE</div>
              <span
                *ngIf="orderDetails.payment_type == 'c'"
                class="confirmation-base-bold confirmation-base-grey"
              >
                Cash On Delivery
              </span>
              <span
                class="confirmation-base-bold confirmation-base-grey"
                *ngIf="orderDetails.payment_type == 'o'"
                >Online</span
              >
            </div>
          </div>
          <div class="confirmation-base-viewOrderBlock confirmation-base-bold">
            <a
              [routerLink]="['/myaccount/myorders']"
              class="confirmation-base-viewOrderBtn"
              >VIEW ORDER</a
            >
          </div>
        </aside>
        <div class="confirmation-base-clear"></div>
      </div>
      <div class="confirmation-base-note">
        <span class="confirmation-base-noteLabel">Note:&nbsp;</span>We do not
        demand your banking and credit card details verbally or telephonically.
        Please do not divulge your details to fraudsters and imposters falsely
        claiming to be calling on Fabpik's behalf.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="new-btn-center">
      <div>
        <a href="#">
          <div class="common-btn btn-2 new-btn">CONTINUE SHOPPING</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="mountRoot" class="web dt-none" *ngIf="!loading">
  <div id="appContent">
    <div class="page">
      <div class="mobile-base-confirmationComp">
        <!-- <div class="successAnimation-base-parent">
                    <div class="successAnimation-base-circle" id="successAnimCircle"></div>
                    <div class="successAnimation-base-iconContainer ">
                        <div class="successAnimation-base-iconBlock">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" class="successAnimation-base-circleTick" id="successAnimCircleTick">
                                <path fill-rule="evenodd" d="M9.775.227A.716.716 0 0 0 8.716.24L3.373 6.015a.09.09 0 0 1-.133 0L1.278 3.91a.716.716 0 0 0-1.059-.001.834.834 0 0 0 0 1.127l2.565 2.742c.14.15.33.223.53.223h.004a.71.71 0 0 0 .53-.23l5.939-6.416A.833.833 0 0 0 9.775.227"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" class="successAnimation-base-successCircle">
                                <path fill-rule="nonzero" d="M15.794 9.154l-.247-.342a1.084 1.084 0 0 1-.01-1.253l.24-.344a1.081 1.081 0 0 0-.367-1.568l-.368-.2a1.074 1.074 0 0 1-.546-1.124l.07-.415a1.07 1.07 0 0 0-1.003-1.25l-.419-.017a1.068 1.068 0 0 1-.977-.774l-.117-.406a1.058 1.058 0 0 0-1.442-.685l-.385.165c-.42.183-.909.074-1.211-.27L8.734.357A1.054 1.054 0 0 0 7.142.37l-.275.318A1.057 1.057 0 0 1 5.66.975L5.271.813a1.063 1.063 0 0 0-1.432.71l-.11.408c-.12.446-.509.763-.964.787l-.418.024a1.07 1.07 0 0 0-.984 1.267l.077.415c.084.451-.129.906-.529 1.132l-.364.206a1.078 1.078 0 0 0-.342 1.57l.248.342c.27.373.273.876.01 1.253l-.24.345A1.081 1.081 0 0 0 .59 10.84l.368.199c.404.22.623.672.546 1.125l-.07.415a1.07 1.07 0 0 0 1.003 1.25l.418.017c.458.022.851.333.977.774l.117.405c.178.622.854.943 1.443.686l.384-.166c.42-.182.91-.073 1.212.27l.277.315c.429.48 1.175.476 1.593-.014l.274-.317a1.057 1.057 0 0 1 1.208-.287l.389.162a1.063 1.063 0 0 0 1.432-.71l.11-.408c.12-.446.509-.764.964-.787l.418-.024a1.07 1.07 0 0 0 .984-1.267l-.077-.416a1.074 1.074 0 0 1 .528-1.131l.365-.206c.559-.311.72-1.048.341-1.571z"></path>
                            </svg>
                        </div>
                        <div class="successAnimation-base-orderSuccessful">Order Successful</div>
                    </div>
                </div> -->
        <div class="confirmationCardContainer" *ngIf="!loading">
          <div
            class="mobile-base-confirmationCard mobile-base-slideUp mobile-base-cardBorder"
          >
            <div class="fitAssistModule-base-fitAssistContainer false">
              <div class="">
                <div class="sliderFrame">
                  <div class="carousel-base-selected">
                    <img src="assets/images/icons/check.gif" width="72" />
                  </div>
                </div>
                <div class="fitAssistModule-base-nudge">
                  Thanks for your purchase!
                </div>
                <div class="fitAssistModule-base-tip">
                  Fabpik will use this information for fit assist, that will
                  recommend you your perfect size on your next purchase.
                </div>

                <div class="profileSelector-base-profileSelectorContainer">
                  <div class="profileSelector-base-arrowLine">
                    <div class="profileSelector-base-sideLine"></div>
                    <div class="profileSelector-base-triangle"></div>
                    <div class="profileSelector-base-sideLine"></div>
                  </div>
                  <div class="profileSelector-base-profilesBlock row">
                    <!-- <div id="myself" class="profileSelector-base-profileButton  ">ABHI</div>
                                        <div id="others" class="profileSelector-base-profileButton  ">Others</div> -->
                    <div class="col-lg-6 col-sm-6 col-xs-6">
                      <ul>
                        <li>
                          <span>Order ID: </span>
                          {{ orderDetails.parent_order_id }}
                        </li>
                        <li>
                          <span>Date :</span>
                          {{ orderDetails.created_at | date: "dd/MM/yyyy" }}
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6">
                      <ul>
                        <li>
                          <span>Payment Type :</span>
                          <p *ngIf="orderDetails.payment_type == 'c'">
                            Cash On Delivery
                          </p>
                          <p *ngIf="orderDetails.payment_type == 'o'">Online</p>
                        </li>
                        <li><span>Delivery Status :</span> Order Placed</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="trackOrders-base-bagContainer mobile-base-confirmationCard mobile-base-slideUp mobile-base-cardBorder"
          >
            <div class="trackOrders-base-FabpikBagIcon">
              <div class="trackorder"></div>
            </div>
            <div class="trackOrders-base-subText">
              <div>Track &amp; manage your orders easily</div>
              <div class="trackOrders-base-viewOrdersButton">
                <a [routerLink]="['/myaccount/myorders']">View Order</a>
              </div>
            </div>
          </div>
          <div>
            <div class="a2hs-base-container">
              <div class="add-to-home"></div>
              <div class="a2hs-base-content">
                <div class="a2hs-base-header">Track your order quickly</div>
                <div class="a2hs-base-desc">
                  Add Fabpik to Home screen and access your orders quickly.
                </div>
                <div class="button-base-button a2hs-base-button">
                  Add To Home Screen Now
                </div>
              </div>
            </div>
          </div>
          <div
            class="mobile-base-confirmationCard mobile-base-slideUp mobile-base-cardBorder cardComponents-base-continueShoppingContainer"
          >
            <div class="cardComponents-base-continueShoppingCaption">
              <div>Keep creating your wardrobe</div>
            </div>
            <div
              routerLink="/"
              class="button-base-button cardComponents-base-continueShoppingButton"
            >
              CONTINUE SHOPPING
            </div>
          </div>
        </div>

        <!-- <div class="footer-base-footerContainer">
                    <div class="footer-base-heading">Get the Fabpik mobile app</div>
                    <div class="footer-base-desc">A faster and more convenient way to shop</div>
                    <a>
                        <img class="footer-base-image" src="https://constant.myntassets.com/checkout/assets/img/badge_android.png">
                    </a>
                </div> -->
      </div>
    </div>
  </div>
</div>
<!-- //Duplicate  -->
<div class="container m-none mb-5 pb-5" *ngIf="loading">
  <div class="row">
    <div class="confirmation-base-orderConfirm">
      <div class="confirmation-base-badge"></div>
      <div>
        <article>
          <div class="confirmation-base-wrap">
            <div></div>
            <div class="confirmation-base-msgSuccess confirmation-base-bold">
              <ngx-skeleton-loader [theme]="{ width: '50%', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
            <div class="confirmation-base-msgNum confirmation-base-bold">
              <ngx-skeleton-loader [theme]="{ width: '40%', height: '20px' }">
              </ngx-skeleton-loader>
              <span></span>
            </div>
            <div></div>
            <div></div>
            <div class="confirmation-base-dispatch">
              <ngx-skeleton-loader
                count="3"
                [theme]="{ width: '90%', height: '15px' }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
        </article>
        <aside class="confirmation-base-rightSection">
          <div>
            <div class="confirmation-base-priceDetails">
              <div class="confirmation-base-itemsText">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '70px',
                    height: '20px',
                    'margin-bottom': 0
                  }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>
            <div>
              <div class="confirmation-base-paymentModeTitle">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '150px',
                    height: '20px',
                    'margin-bottom': 0
                  }"
                >
                </ngx-skeleton-loader>
              </div>

              <span class="confirmation-base-bold confirmation-base-grey"
                ><ngx-skeleton-loader
                  [theme]="{ width: '70%', height: '20px', 'margin-bottom': 0 }"
                >
                </ngx-skeleton-loader
              ></span>
            </div>
          </div>
          <div class="confirmation-base-viewOrderBlock confirmation-base-bold">
            <a
              [routerLink]="['/myaccount/myorders']"
              class="confirmation-base-viewOrderBtn"
            >
              <ngx-skeleton-loader [theme]="{ width: '70%', height: '25px' }">
              </ngx-skeleton-loader>
            </a>
          </div>
        </aside>
        <div class="confirmation-base-clear"></div>
      </div>
      <div class="confirmation-base-note">
        <ngx-skeleton-loader
          count="2"
          [theme]="{ width: '100%', height: '15px' }"
        >
        </ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="new-btn-center">
      <div>
        <a href="#">
          <div class="common-btn btn-2 new-btn">CONTINUE SHOPPING</div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Skeleton-Loader -->
<div id="mountRoot" class="web dt-none" *ngIf="loading">
  <div id="appContent">
    <div class="page">
      <div class="mobile-base-confirmationComp">
        <div class="confirmationCardContainer">
          <div
            class="mobile-base-confirmationCard mobile-base-slideUp mobile-base-cardBorder"
          >
            <div class="fitAssistModule-base-fitAssistContainer false">
              <div class="">
                <div class="sliderFrame">
                  <div class="carousel-base-selected">
                    <ngx-skeleton-loader
                      appearance="circle"
                      [theme]="{ width: '72px', height: '72px' }"
                    >
                    </ngx-skeleton-loader>
                    <!-- <img src="assets/images/icons/check.gif" width="72"> -->
                  </div>
                </div>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '180px',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '-5px'
                  }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '90%',
                    'border-radius': '0',
                    height: '10px',
                    'margin-bottom': '-5px'
                  }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '90%',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }"
                ></ngx-skeleton-loader>
                <div class="profileSelector-base-profileSelectorContainer">
                  <div class="profileSelector-base-arrowLine">
                    <div class="profileSelector-base-sideLine"></div>
                    <div class="profileSelector-base-triangle"></div>
                    <div class="profileSelector-base-sideLine"></div>
                  </div>
                  <div class="profileSelector-base-profilesBlock row">
                    <!-- <div id="myself" class="profileSelector-base-profileButton  ">ABHI</div>
                                        <div id="others" class="profileSelector-base-profileButton  ">Others</div> -->
                    <div class="col-lg-6 col-sm-6 col-xs-6">
                      <ul>
                        <li>
                          <span>Order ID: </span>
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '80px',
                              'border-radius': '0',
                              height: '10px',
                              margin: '0px'
                            }"
                          ></ngx-skeleton-loader>
                        </li>
                        <li>
                          <span>Date :</span>
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '80px',
                              'border-radius': '0',
                              height: '10px',
                              margin: '0px'
                            }"
                          ></ngx-skeleton-loader>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6">
                      <ul>
                        <li>
                          <span>Payment Type :</span>
                          <p>
                            <ngx-skeleton-loader
                              [theme]="{
                                width: '80px',
                                'border-radius': '0',
                                height: '10px',
                                margin: '0px'
                              }"
                            ></ngx-skeleton-loader>
                          </p>
                        </li>
                        <li>
                          <span>Delivery Status :</span>
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '80px',
                              'border-radius': '0',
                              height: '10px',
                              margin: '0px'
                            }"
                          ></ngx-skeleton-loader>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="trackOrders-base-bagContainer mobile-base-confirmationCard mobile-base-slideUp mobile-base-cardBorder"
          >
            <div class="trackOrders-base-FabpikBagIcon ml-3 mb-2">
              <!-- <div class="trackorder"></div> -->
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{
                  width: '60px',
                  'border-radius': '5px',
                  height: '80px',
                  margin: '0px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div class="trackOrders-base-subText">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '200px',
                    'border-radius': '0',
                    height: '15px',
                    margin: '0px'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <div class="trackOrders-base-viewOrdersButton p-0 border-0">
                <a [routerLink]="['/myaccount/orders/order-details']">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '80px',
                      'border-radius': '5px',
                      height: '33px',
                      margin: '0px'
                    }"
                  ></ngx-skeleton-loader>
                </a>
              </div>
            </div>
          </div>
          <div>
            <div class="a2hs-base-container">
              <!-- <div class="add-to-home"></div> -->
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{
                  width: '60px',
                  'border-radius': '5px',
                  height: '100px',
                  margin: '0px'
                }"
              ></ngx-skeleton-loader>
              <div class="a2hs-base-content">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60%',
                    'border-radius': '0',
                    height: '20px',
                    'margin-bottom': '-5px'
                  }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '90%',
                    'border-radius': '0',
                    height: '10px',
                    'margin-bottom': '-5px'
                  }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '90%',
                    'border-radius': '0',
                    height: '10px',
                    'margin-bottom': '5px'
                  }"
                ></ngx-skeleton-loader>
                <div class="">
                  <ngx-skeleton-loader
                    [theme]="{
                      width: '200px',
                      'border-radius': '5px',
                      height: '30px',
                      'margin-bottom': '0px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div
            class="mobile-base-confirmationCard mobile-base-slideUp mobile-base-cardBorder cardComponents-base-continueShoppingContainer"
          >
            <div class="cardComponents-base-continueShoppingCaption">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '40%',
                    'border-radius': '0',
                    height: '15px',
                    'margin-bottom': '0px'
                  }"
                ></ngx-skeleton-loader>
              </div>
            </div>
            <div routerLink="/" class="px-0">
              <ngx-skeleton-loader
                [theme]="{
                  width: '200px',
                  'border-radius': '5px',
                  height: '30px',
                  'margin-bottom': '0px'
                }"
              ></ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
