/**/
.bg_1 {
  height: 388px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url(/assets/images/slider/banner3.jpg);
}
.a {
  font-size: 24px;
  line-height: 50px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.b {
  padding: 0vw 12px;
  line-height: 50px;
  color: rgb(204, 204, 204);
}
.c {
  font-size: 14px;
  line-height: 50px;
  color: rgb(0, 0, 0);
}
.d {
  display: flex;
  height: 100%;
  background-image: url(/assets/images/flashdeals/Hca1cf3a90ddd48abb9d8fd8eb909111dU.png);
  background-size: 100%;
  justify-content: center;
  align-items: center;
}
.offers-card {
  border-radius: 10px;
  margin-top: -100px;
  background-color: #fff;
}

.signin-btn {
  width: 120px;
  height: 46px;
  line-height: 46px;
  font-weight: 600;
  text-align: center;
  color: rgb(255, 71, 71);
  background-color: rgb(255, 255, 255);
  border-radius: 23px;
  text-overflow: ellipsis;
}

.rax-text {
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  white-space: pre-wrap;
  line-height: 56px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  overflow: hidden;
}

// sddvvvvvzs

/**/

.cat_promotion_box h2 {
  display: inline-block;
  width: 100%;
  position: relative;
  color: #212121;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

h2 {
  orphans: 3;
  page-break-after: avoid;
  widows: 3;
}

a:visited {
  text-decoration: none;
  outline: 0;
}

img {
  max-width: 100%;
}

/**/
/**/

.tab-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.offer-details {
  // width: 500px;
  display: flex;
  margin-bottom: 32px;
  border: 1px solid #dfe3e6;
  border-radius: 6px;
  margin-bottom: 8px;
  overflow: hidden;
}
._3i6Ls {
  // padding: 24px;
  background-color: #dfe3e6;
}
.img-sec {
  width: 125px;
  height: auto;
}
._3Yufj {
  width: 100%;
  max-height: 100%;
}

.ofr-dt {
  margin: 8px 0px 0px;
  font-size: 13px;
  color: #4f585e;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
}

.btn-style-transparent {
  border: 1px solid #eb6083;
  color: #eb6083;
  box-shadow: 0 1px 2px 0 #9ccae8;
}
.coupon-content {
  background: #fff;
  z-index: 999;
  box-shadow: 0 1px 4px 1px #9ccae8;
  margin-top: 10px;
  padding: 9px 15px 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
.coupon-content a {
  color: #058bed;
  font-size: 12px;
}
.coupon-content .border-bb {
  border-bottom: 0.5px solid #cccccc5c;
  padding: 4px 2px;
}

.coupon-content .expiry-div span {
  display: block;
  font-size: 11px;
  line-height: 8px;
  color: #ada4a4;
}
.savings-block
{

  background-color: rgba(40, 199, 111, 0.12);
  color: #28c76f !important;
  font-size: 12px;
  display: -webkit-inline-box;
  padding: 2px 4px;
  border-radius: 4px;
  float: right;
  margin-left: 11px;

}
.last-strip {
  background: #f0f4f7;
  border-radius: 0 0 5px 5px;
  padding: 4px 0;
}

.popover-popup {
  .product-title {
    margin: 3px 0px 0px;
    font-size: 10px;
    color: #4f585e;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 8px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 500;
  }
  .price {
    font-size: 11px;
  }
  li.sell-price {
    color: #333;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
  }
  ul {
    margin-bottom: 0;
  }
  li.sell-mrp {
    font-size: 11px;
    color: #aaa;
    text-decoration: line-through;
  }
  li {
    list-style-type: none;
    display: inline-block;
    font-size: 6px;
    margin-right: 5px;
  }
  li.sell-discount {
    color: #e75d81;
    font-weight: 600;
    font-size: 5px;
    white-space: nowrap;
    text-align: center;
    font-size: 11px;
  }
}
.coupon-content .btn {
  text-transform: capitalize;
  font-weight: 500;
  height: 21px;
  line-height: 8px !important;
  margin: 0;
  font-size: 11px;
  margin-left: 12px;
}
.coupon-content .btn i {
  margin-right: 3px;
}
.code-div span.coupon-applied {
  background: #f4f4f4;
  padding: 4px 5px;
  float: right;
  font-size: 13px;
  color: #444444;
}
.coupon-content p {
  display: block;
  font-size: 12px;
  line-height: 23px;
  margin: 0;
}

.offer-details {
  line-height: 11px !important;
  text-align: right;
  text-transform: capitalize;
  border: 0;
}
.offer-details span {
  color: #e91e63;
}
.ofr-dt1 {
  margin: 0 16px 0;
  font-size: 12px;
  color: #4f585e;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 40px;
  height: 40px;
}

.ofr-dt2 {
  margin: 0 16px 9px;
  font-size: 12px;
  // padding: 16px 32px 15px 24px;
  color: #4b4b4b;
}
.ofr-code {
  bottom: 0;
  height: 38px;
  border-top: 1px solid #dfe3e6;
  font-size: 13px;
  font-weight: 500;
  color: #e75e83;
  text-align: left;
  padding: 10px 16px 0px;
}

@media (max-width: 767px) {
  .mobile-btn
  {
    display:block!important;
  }
  .coupon-content a {
    font-size: 10px;
}
  .coupon-content .btn {
    text-transform: capitalize;
    font-weight: 500;
    height: 19px;
    line-height: 8px !important;
    margin: 0;
    font-size: 9px;
    padding: 5px 2px;

    margin-left: 0px;

}
  .savings-block {
    background-color: rgba(40, 199, 111, 0.12);
    color: #28c76f !important;
    font-size: 10px;
    display: -webkit-inline-box;
    padding: 2px 4px;
    border-radius: 4px;
    float: right;
    margin-left: 11px;
}
  .ofr-code {
    font-size: 11px;
  }
  .bg_1 {
    height: 130px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url(/assets/images/slider/banner3.jpg);
  }
}

.offers-img {
  border-radius: 7px;
  margin-bottom: 23px;
}

.title-info {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  padding-bottom: 9px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

.products-fixed {
  min-height: 53px;
  max-height: 191px;
  overflow-y: auto;
  overflow-x: hidden;
}

.products-fixed::-webkit-scrollbar {
  width: 3px;
}

.products-fixed::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
}

.products-fixed::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  outline: 1px solid slategrey;
}
