<app-desktop-header></app-desktop-header>
<app-breadcrumb [headername]="headername"></app-breadcrumb>
<section class="p-a0">
  <div class="bg_1"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="title-info">Coupons & Offers</h3>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-xs-12 col-sm-12"
        *ngFor="let offer of offers"
      >
        <div class="coupon-content">
          <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
              <img src="assets/images/icons/offers.png" class="_3Yufj" />
            </div>
            <div class="col-lg-9 col-sm-9 col-xs-v col-md-9 pl-0">
              <div class="ofr-dt">{{ offer.description }}</div>
              <div class="row v-row pt-1">
                <div class="col-lg-5 col-sm-5 col-xs-5 col-md-5">
                  <p class="expiry-div">
                    <span>Expires On</span> {{ offer.formatted_expiry }}
                  </p>
                </div>
                <div class="col-lg-7 col-sm-7 col-xs-7 col-md-7 pl-0">
                  <div class="code-div">
                    <p class="offer-details">
                      Use code to get
                      <span
                        >{{ offer.dis_type == "f" ? "FLAT" : ""
                        }}{{ offer.amount
                        }}{{ offer.dis_type == "p" ? "%" : "" }} OFF
                      </span>
                    </p>
                    <span class="coupon-applied">
                      {{ offer.code }}
                      <button
                        class="btn btn-style-bg m-r10 m-t0"
                        (click)="copyMessage(offer.code)"
                      >
                        <i class="fal fa-copy"></i>Copy
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row v-row mt-1 last-strip">
            <div class="col-lg-5 col-sm-5 col-xs-5 col-md-5">
              <ng-template #popContent>
                <div
                  class="products-fixed"
                  *ngIf="!loadingVirtualCart && !error"
                >
                  <div class="popover-popup" *ngFor="let cartItem of cart">
                    <div class="d-flex v-row border-bb">
                      <div class="col-lg-2 col-sm-1 col-xs-1 p-a0">
                        <img
                          [src]="cartItem.thumbnail_image_path"
                          (error)="onImgError($event)"
                          class="_3Yufj"
                          width="30"
                        />
                      </div>
                      <div class="col-lg-10 col-sm-11 col-xs-11 pr-0">
                        <div>
                          <span class="product-title">{{ cartItem.name }}</span>
                          <ul class="ng-star-inserted">
                            <li class="sell-price">
                              Rs. <span>{{ cartItem.final_price }}</span>
                            </li>
                            <li
                              class="sell-mrp ng-star-inserted"
                              *ngIf="
                                cartItem.final_price !=
                                cartItem.mrp * cartItem.quantity
                              "
                            >
                              Rs.
                              <span>{{
                                cartItem.mrp * cartItem.quantity
                              }}</span>
                            </li>
                            <!---->
                            <li
                              class="sell-discount ng-star-inserted"
                              *ngIf="cartItem.final_discount > 0"
                            >
                              (<span>{{ cartItem.final_discount }}</span
                              >% off)
                            </li>
                            <!---->
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="orderSummary" *ngIf="!loadingVirtualCart && !error">
                  <ul>
                    <li>
                      <h3 class="title-info">Order Summary</h3>
                    </li>
                    <li>
                      <span>Total MRP</span><label>₹ {{ totalMrp }}</label>
                    </li>
                    <li
                      class="discount-price delivery"
                      *ngIf="totalMrp != totalSellingPrice"
                    >
                      <span>Total Discount</span
                      ><label
                        >&#x20B9;
                        {{ (totalMrp - totalSellingPrice).toFixed(0) }}</label
                      >
                    </li>
                    <li>
                      <span>SubTotal (Sale Price)</span
                      ><label
                        >&#x20B9; {{ totalSellingPrice.toFixed(0) }}</label
                      >
                    </li>
                    <li class="delivery">
                      <span>Delivery</span
                      ><label>{{
                        handlingCharges == 0
                          ? "Free"
                          : "&#x20B9;" + handlingCharges
                      }}</label>
                    </li>
                    <li class="pb-3">
                      <span>Order Total</span
                      ><label>&#x20B9; {{ totalOrderAmount.toFixed(0) }}</label>
                    </li>
                  </ul>
                </div>
                <div *ngIf="loadingVirtualCart">
                  <div class="row v-row">
                    <div class="txtdes align-items-center">
                      <span
                        class="spinner-border spinner-border-sm text-black"
                        role="status"
                      ></span>
                      <label>Loading...</label>
                    </div>
                  </div>
                </div>
                <div *ngIf="!loadingVirtualCart && error">
                  <div class="row v-row">
                    <div class="txtdes align-items-center">
                      <label style="text-align: center">{{ errorMsg }}</label>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #popTitle>Discounted Cart</ng-template>
              <a class="float-left" (click)="getPolicy('terms-and-conditions')"
                >Terms & Conditions</a
              >
            </div>
            <div class="col-lg-7 col-sm-7 col-xs-7 col-md-7 pl-0">
              <!-- <div class="savings-block">Total Saving: Rs.4200</div> -->
              <button
                type="button"
                class="btn btn-style-transparent m-none float-right m-r10 ml-0"
                (click)="getVirtualCart(offer.id)"
                popoverClass="popup-offers"
                [ngbPopover]="popContent"
                [popoverTitle]="popTitle"
              >
                Discounted cart
              </button>
              <button
                href="javascript:void(0)"
                class="
                  dt-none
                  mobile-btn
                  d-none
                  btn btn-style-transparent
                  float-right
                  m-r10
                  ml-0
                "
                (click)="getVirtualCart(offer.id); openSizechart(sizechart)"
              >
                Discounted cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="banner-padding banner-furniture ratio2_1">
  <div class="container">
    <div class="row partition4">
      <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
        <a href="#">
          <div class="collection-banner p-right text-right">
            <div class="img-part">
              <a href="javascript:void()" (click)="clothingStarts99()">
                <img
                  src="assets/images/home/clothing-offer.png"
                  class="img-fluid offers-img blur-up lazyload bg-img"
                />
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
        <a href="#">
          <div class="collection-banner p-right text-right">
            <div class="img-part">
              <a href="javascript:void()" (click)="toys()">
                <img
                  src="assets/images/home/priceguaranted.png"
                  class="img-fluid offers-img blur-up lazyload bg-img"
                />
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
        <a href="#">
          <div class="collection-banner p-right">
            <div class="img-part">
              <a href="javascript:void()" (click)="personalCare()">
                <img
                  src="assets/images/home/personalcare-offer.png"
                  class="img-fluid offers-img blur-up lazyload bg-img"
                />
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-6 col-sm-6">
        <a href="#">
          <div class="collection-banner p-left">
            <div class="img-part">
              <a href="javascript:void()" (click)="accessories()">
                <img
                  src="assets/images/home/accessories-offer.png"
                  class="img-fluid offers-img blur-up lazyload bg-img"
                />
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<ng-template #sizechart let-modal>
  <div class="modal-body" class="popup-offers">
    <div class="modal-body">
      <div class="row v-row">
        <div class="col-lg-8 col-xs-8 col-sm-8 pl-0">
          <h3 class="title-info ml-3">Discounted Cart</h3>
        </div>
        <div class="col-lg-2 col-xs-4 col-sm-4 float-right text-right pr-0">
          <button
            type="button"
            class="modal-close mr-3"
            aria-label="Close"
            (click)="closeModal()"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <section class="p-a0 size-page">
        <div class="products-fixed" *ngIf="!loadingVirtualCart && !error">
          <div class="popover-popup" *ngFor="let cartItem of cart">
            <div class="d-flex v-row border-bb">
              <div class="col-lg-2 col-sm-1 col-xs-1 p-a0">
                <img
                  [src]="cartItem.thumbnail_image_path"
                  (error)="onImgError($event)"
                  class="_3Yufj"
                  width="30"
                />
              </div>
              <div class="col-lg-10 col-sm-11 col-xs-11 pr-0">
                <div>
                  <span class="product-title">{{ cartItem.name }}</span>
                  <ul class="ng-star-inserted">
                    <li class="sell-price">
                      Rs. <span>{{ cartItem.final_price }}</span>
                    </li>
                    <li
                      class="sell-mrp ng-star-inserted"
                      *ngIf="
                        cartItem.final_price != cartItem.mrp * cartItem.quantity
                      "
                    >
                      Rs.
                      <span>{{ cartItem.mrp * cartItem.quantity }}</span>
                    </li>
                    <!---->
                    <li
                      class="sell-discount ng-star-inserted"
                      *ngIf="cartItem.final_discount > 0"
                    >
                      (<span>{{ cartItem.final_discount }}</span
                      >% off)
                    </li>
                    <!---->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="orderSummary" *ngIf="!loadingVirtualCart && !error">
          <ul>
            <li>
              <h3 class="title-info">Order Summary</h3>
            </li>
            <li>
              <span>Total MRP</span><label>₹ {{ totalMrp }}</label>
            </li>
            <li
              class="discount-price delivery"
              *ngIf="totalMrp != totalSellingPrice"
            >
              <span>Total Discount</span
              ><label
                >&#x20B9; {{ (totalMrp - totalSellingPrice).toFixed(0) }}</label
              >
            </li>
            <li>
              <span>SubTotal (Sale Price)</span
              ><label>&#x20B9; {{ totalSellingPrice.toFixed(0) }}</label>
            </li>
            <li class="delivery">
              <span>Delivery</span
              ><label>{{
                handlingCharges == 0 ? "Free" : "&#x20B9;" + handlingCharges
              }}</label>
            </li>
            <li class="pb-3">
              <span>Order Total</span
              ><label>&#x20B9; {{ totalOrderAmount.toFixed(0) }}</label>
            </li>
          </ul>
        </div>
        <div *ngIf="loadingVirtualCart">
          <div class="row v-row">
            <div class="txtdes align-items-center">
              <span
                class="spinner-border spinner-border-sm text-black"
                role="status"
              ></span>
              <label>Loading...</label>
            </div>
          </div>
        </div>
        <div *ngIf="!loadingVirtualCart && error">
          <div class="row v-row">
            <div class="txtdes align-items-center">
              <label style="text-align: center">{{ errorMsg }}</label>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
