/* here you can put your own css to customize and override the theme */
/**/
/*Common CSS*/
body {font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;}
.fw-400 {font-weight:400;}
.fw-500 {font-weight:500;}
.fw-600 {font-weight:600;}
.fw-700 {font-weight:700;}
.fw-800 {font-weight:800;}
.fw-900 {font-weight:900;}
.page-bar ul.page-breadcrumb {float: right !important; padding: 15px 0 !important;}
.pd-0 {padding:0 !important;}
.pd-5 {padding:5px !important;}
.pd-10 {padding:10px !important;}
.pd-15 {padding:15px !important;}
.pd-20 {padding:20px !important;}

.pd-lr-0 {padding-left:0;padding-right:0 !important;}
.pd-lr-5 {padding-left:5px;padding-right:5px !important;}
.pd-lr-10 {padding-left:10px;padding-right:10px !important;}
.pd-lr-15 {padding-left:15px;padding-right:15px !important;}
.pd-lr-20 {padding-left:20px;padding-right:20px !important;}

.pd-tb-0 {padding-top:0;padding-bottom:0 !important;}
.pd-tb-5 {padding-top:5px;padding-bottom:5px !important;}
.pd-tb-10 {padding-top:10px;padding-bottom:10px !important;}
.pd-tb-15 {padding-top:15px;padding-bottom:15px !important;}
.pd-tb-20 {padding-top:20px;padding-bottom:20px !important;}

.w-5{width:5% !important;}
.w-10{width:10% !important;}
.w-15{width:15% !important;}
.w-20{width:20% !important;}
.w-25{width:25% !important;}
.w-30{width:30% !important;}
.w-40{width:40% !important;}
.w-50{width:50% !important;}
.w-60{width:60% !important;}
.w-70{width:70% !important;}
.w-80{width:80% !important;}
.w-90{width:90% !important;}
.w-100{width:100% !important;}

.badge.badge-light-primary {
    background-color: #E2ECFF;
    color: #003aa9!important
}
.badge.badge-light-secondary {
    background-color: #E6EAEE;
    color: #475F7B!important
}
.badge.badge-light-success {
    background-color: #D2FFE8;
    color: #00773c!important
}
.badge.badge-light-info {
    background-color: #CCF5F8;
    color: #006a92!important
}
.badge.badge-light-warning {
    background-color: #FFEED9;
    color: #bd6b00!important
}
.badge.badge-light-danger {
    background-color: #FFDEDE;
    color: #e00001!important
}

.portlet.light.bordered {box-shadow: 0px 0px 6px #d6dfe4 !important;}
.portlet.light.portlet-fit>.portlet-title {background: #f0f5f8 !important;}
.page-container-bg-solid .page-content {background: #f7f7f7 !important;}
.btn-icon-only>[class^=icon-] {color: #284b98 !important;font-weight:500;}
[class^=icon-] {font-weight:500;}
.modal-open .datepicker {z-index: inherit !important;}

/* Seller CSS */
.register-wrap span.password-verdict {float: right !important;}
.register-wrap .progress {height: 8px !important;margin: 5px 0 !important;width: 50% !important;float: left !important;}
.user-login-5 .login-container>.login-content>.login-form .form-control {width: 100% !important;padding: 10px !important;border: 1px solid #c2cad8 !important; color: #868e97 !important;margin:0;}
.user-login-5 .login-logo {position: inherit !important;top: 3rem !important;left: 0 !important;}
#registration_form .help-block, .profile-account .help-block {color: #e73d4a;font-size:13px;}
.has-error .control-label {color:#333;}
#registration_form p {text-align:left;margin:0;}
.register-wrap .form-control {border-radius:0 !important;}
.register-wrap .input-icon>i {margin: 10px !important;}
.user-login-5 .login-container>.login-content>.login-form {margin-top:20px !important;}
.chat-form .btn-cont {margin-top:0 !important; float:left !important;}
.chats li .datetime {color: #8c8c8c !important;}
.chats li .name {color:#000000 !important;}
.chat-form .input-cont {margin-right:0 !important;}
/*.chat-form .input-cont {width:50% !important;float:left !important;}*/
table.dataTable thead th {padding:10px 0 !important;}
.table td, .table th {font-size: 12px !important;}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {padding: 7px 0px 0 25px}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {left:15px !important;}
/*Add Variant page css*/
.color_block {margin:0 25px;}
.color_red {background:red !important;}
.color_green {background:green !important;}
.color_blue {background:blue !important;}
.color_yellow {background:yellow !important;}
.color_purple {background:purple !important;}
.color_text_red {color:red;}
.color_text_green {color:green;}
.color_text_blue {color:blue;}
.color_text_orange {color:orange;}
.color_text_purple {color:purple;}
.text-pink {color:#e92064;}
.bg-pink {background: #e92064;}
.color-name {margin-left:50px;}
#variant .portlet.box.default {border: 1px solid #e1e5ec;}
#variant .portlet-body {padding: 5px 15px;}
#variant .mt-radio {margin-bottom:0;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {vertical-align:middle !important;}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before {top:40% !important;}
.badge {height:22px;font-size:14px !important;font-weight:500;border-radius:5px !important;}
.input-icon>i {margin: 8px 24px !important;}
.addseller-wrap .input-icon>i {margin: 11px 2px 4px 10px !important;}
table.dataTable>tbody>tr.child ul {float:left !important;}
table.dataTable>tbody>tr.child ul li {text-align:left !important;float: left;width: 250px;}
.hr-seperator {border-top:1px dashed #CCCCCC !important;}
.app-ticket-details .portlet-body .row {margin-bottom:0 !important;}
.chats {padding: 0 10px;}
.chat-form .btn-cont .btn {margin-top: 2px;border-radius: 0;}
.chat-form {background-color: #ffffff !important;}
.chat-form .btn-cont .arrow {top:12px;}
.chat-form .input-cont .form-control {margin-top:5px;}
.chats li.out .message {background-color: #ffffff !important;border-right: none !important;color: #010407;margin: 0;padding: 0;}
/*.chats li.out .message .name, .chats li.out .message .datetime {margin-bottom:10px;}*/
.chats li.in .body {display: block !important;padding: 15px !important;background: #daf3ff !important;border-radius: 5px !important;margin-top:7px;}
.chats li.out .body {display: block !important;padding: 15px !important;background: #ffe2ea !important;border-radius: 5px !important;margin-top:7px;}
.chats li.out .message .arrow {right: -13px;border-left: 8px solid #8bb4e7 !important;border-right:0;}
.chats li.in .message {background-color: #ffffff !important;border-left: none !important;color: #010407;margin: 0;padding: 0;}
.chats li.in .message .arrow {left: -13px;border-right: 8px solid #f0868e;border-left:0;}
span.badge.badge-default.margin-bottom-5 {width:15px;height: 15px;font-size: 14px !important;font-weight: 500;border-radius: 50% !important;}
.profile-wrap {box-shadow: 0 0 4px #CCCCCC;}
.profile-wrap li a {padding:20px !important;font-size: inherit !important;
    font-weight: inherit !important;
    color: #000000 !important;
    display: block !important;
    background: #ffffff !important;
    border-left: 0 !important;}
.profile-wrap li.active a, .profile-wrap li.active i {background: #337ab7 !important;border-left: solid 2px #337ab7 !important;color:#ffffff !important;}
.profile-wrap li.active:after {border-left: 6px solid #337ab7 !important;top:25px !important;}
#modal-image .modal-dialog {height:90%;overflow-y:scroll;}
#modal-image .modal-body {max-height:100%;}
#filemanager .panel {width:100%;height:130px;text-align:center;}
#filemanager .panel a {margin-top:30px;}
#filemanager .thumbnail {width:100%;height:100%;border:0;padding:0;}
#filemanager .panel a.thumbnail {margin-top:10px;}
#filemanager .panel a.thumbnail img {max-height:80px;}
#filemanager [class^=icon-] {font-weight: 600 !important;}
table.dataTable>tbody>tr.child {background:#f6f6f6 !important;}
/*Variants page css*/
a.btn.btn-icon-only.mt-sweetalert {margin: 0;}
.varient-images-wrap .form .form-row-seperated .form-group {border:0;}
.varient-images-wrap .badge {height:15px;}
.varient-images-wrap .portlet.light>.portlet-title>.caption>.caption-subject {font-size:15px;}
.varient-images-wrap .portlet>.portlet-body p {font-size:16px;}
/*Products page css*/
.filter-actions .input-daterange .input-group-addon {padding:4px 12px;}
table.dataTable.product-list-table > tbody > tr.child {text-align:left !important;}
.product-thumbnail-img,
.categorybanner-thumbnail-img,
.categoryicon-thumbnail-img,
.subcategorybanner-thumbnail-img,
.subcategoryicon-thumbnail-img,
.childcategorybanner-thumbnail-img,
.childcategoryicon-thumbnail-img,
.sizechart-thumbnail-img {/*border:1px solid #CCCCCC;border-radius:5px;*/width:50px;height:50px;}
 .brand-thumbnail-img {width:100px;height:40px;}
.input-daterange input {text-align:left !important;padding-left:15px !important;}
/*Add new product page css*/
#product_meta_data .bootstrap-tagsinput input {width:100%;}

/*Brands page css*/
.brands-wrap #thumb-image {width:100%;max-width:150px;text-align:center;}
.brands-wrap #thumb-image img {max-width:100%;}
/*Orders page css*/
.orders-wrap div#sample_3_filter {float:right;}
.orders-wrap div.dataTables_scrollHead table.dataTable {margin-bottom:0;}
.invoice-footer {display:none;}
/*Import Product Wrapper*/
.import-product-wrapper .portlet.light .dataTables_wrapper .dt-buttons {display:none;}
.import-product-wrapper .form .form-bordered .form-group>div {border-left:0;}
.import-product-wrapper .note {margin:0;}
.import-product-wrapper div#sample_1_filter {position: absolute;top: -65px;right: 15px;}
/*Manage attributes values css*/
.attributes-values-details .badge {width:15px;height:15px;margin:0 5px;}

/*Parent Order Details Page Css*/
.order-info, .customer-info, .order-summary {max-height: 250px;}
.order-info, .customer-info, .order-summary {min-height: 220px;}

/*Payments-commissions page css*/
.payments-wrap div.dataTables_scrollHead table.dataTable {margin-bottom:0;}
.payments-wrap div#sample_3_filter {float:right;}
.payment-order-info, .payment-customer-info {height: 220px;}

/*Seller Css*/
.user-login-5 .form-group.has-error {
    border-bottom: 0 !important;
}
table.dataTable>tbody>tr.child span.dtr-title {min-width:auto !important;}
span.percent {
    font-size: 15px;
}
span.dtr-data {
    white-space: break-spaces;
}
table.dataTable span {
    white-space: break-spaces;
}
.mt-checkbox>span, .mt-radio>span {width:15px !important;height:15px !important;}
.mt-checkbox>span:after {left: 4px !important;top: 0px !important;}
.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .logo-default {display:block !important;margin-left:0;}
ul.typeahead.dropdown-menu {
    min-width: 160px;
    margin-top: 0;
    /*padding: 5px 0;*/
    background-color: #fff;
    border: 1px solid #93a1bb;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    width: 100%;
    overflow-y: auto;
    max-height: 250px;
    box-shadow:none;
}
ul.typeahead.dropdown-menu li.active > a {background:#337ab7;color:#ffffff;}
/*Responsive css*/
@media (min-width: 992px){
.page-content-wrapper .page-content {min-height: 920px;}
}
@media print {
body {background:#ffffff;font-size:13px;}
      .portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}
.page-container-bg-solid .page-content {
    background: #ffffff !important;
}
.portlet.light.bordered {
    box-shadow: none !important;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px;
}
.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5;
}
.portlet.light.portlet-fit>.portlet-title {
    padding: 15px 20px 10px;
}
.portlet.light.portlet-fit>.portlet-title {
    background: #f0f5f8 !important;
}
.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}
.portlet.light>.portlet-title>.caption {
    color: #666;
    padding: 10px 0;
}
.portlet>.portlet-title>.actions {
    float: right;
    display: inline-block;
    padding: 6px 0;
}
.portlet.light.portlet-fit>.portlet-body {
    padding: 10px 20px 20px;
}
.portlet.light.portlet-datatable.portlet-fit>.portlet-body {
    padding-top: 10px;
    padding-bottom: 25px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-md-6 {
    width: 50%;
}
.text-left {text-align: left; }
.text-right {text-align: right; }
.text-center {text-align: center; }

.col-md-4 {
    width: 33.33333%;
}
.col-md-8 {
    width: 66.66667%;
}
.col-md-12 {
    width: 100%;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{float: left;position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;}
.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align:center;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fbfcfd;
}
.table-bordered {border: 1px solid #e7ecf1;}
.table>tbody>tr>td{vertical-align: middle !important;padding: 8px;line-height: 1.42857;text-align:center;}
.invoice-footer {display: block;}
.print-btn {display:none !important;}  
   }

