<app-desktop-header></app-desktop-header>
<app-breadcrumb [headername]="pageTitle"></app-breadcrumb>
<div
  class="productdetail-page bg-light-blueshade"
  *ngIf="!loading && productDetails != null"
>
  <div class="breadcrumb-section bg--grey p-t5 p-b5 m-none">
    <div class="container">
      <div class="align-items-center row">
        <div class="col-md-12 p-t5 p-b5">
          <ul class="product-breadcrumb m-none">
            <li><a routerLink="/home">home</a></li>
            <li>
              <a>{{ productDetails?.cname }}</a>
            </li>
            <li>
              <a>{{ productDetails?.pv_name | titlecase }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="productblock-page p-t7 pb-0">
    <div class="container">
      <div class="row">
        <!-- Product Images -->
        <div
          class="col-lg-6 col-xl-6 col-md-6 custom-image-size1"
          [ngClass]="{ 'px-0': isMobile }"
        >
          <div class="row" *ngIf="isDesktop">
            <div class="col-lg-2 col-md-2 px-0 product-slideslick">
              <ngx-slick-carousel
                class="carousel"
                #slickModal="slick-carousel"
                [config]="thumbConfig"
                (init)="slickInit($event)"
                (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)"
              >
                <div
                  ngxSlickItem
                  class="productlist-block product"
                  *ngFor="let product of imgags; let i = index"
                >
                  <div class="tile product-image">
                    <div class="image-wrapper">
                      <img
                        [src]="product"
                        (click)="
                          changeimage(product); listImageClick($event, product)
                        "
                        [ngClass]="{ active2: selectedItem2 == product }"
                        (error)="onImgError($event)"
                      />
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
            <div class="col-lg-10 col-md-10 custom-image px-2">
              <div class="d-none">
                <a>
                  <div class="product-list" photoGalleryGroup>
                    <div *ngFor="let image of productDetails?.images">
                      <div class="product-image px-2" [photoGallery]="image">
                        <img
                          src="{{ productImage }}"
                          id="clickbtn"
                          style="object-fit: cover"
                          (error)="onImgError($event)"
                        />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="" (click)="on_clcik(productImage)">
                <ngx-img-zoom
                  [zoomImageSrc]="productImage"
                  [previewImageSrc]="productImage"
                  [imgStyle]="
                    'bottom:0;  left:0;  right:0;  top:0;  margin:0 auto; border:1px solid #dcdcdc;'
                  "
                  [resultStyle]="
                    'width:550px; height:550px; background-repeat: no-repeat; z-index: 2; position:absolute;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 106%;'
                  "
                  [lensStyle]="'width:150px; height:150px'"
                  [magnification]="1"
                  (error)="onImgError($event)"
                  [enableScrollZoom]="true"
                  [enableLens]="true"
                >
                </ngx-img-zoom>
              </div>
            </div>
          </div>
          <div *ngIf="isMobile">
            <owl-carousel-o [options]="ProductOptions" photoGalleryGroup>
              <ng-template
                carouselSlide
                class="productlist-block"
                *ngFor="let image of productDetails?.images"
              >
                <a>
                  <div class="product-list">
                    <div class="product-image px-2" [photoGallery]="image">
                      <img
                        [src]="image"
                        style="object-fit: cover"
                        (error)="onImgError($event)"
                      />
                    </div>
                  </div>
                </a>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
        <!-- Product Images -->
        <div
          class="col-lg-6 col-xl-6 col-md-5"
          [ngClass]="{ 'px-0': isMobile }"
        >
          <div class="product-smallinfo p-info">
            <h1 class="product-info-name">{{ productDetails?.pv_name }}</h1>

            <ul *ngIf="productDetails?.deal_price == null">
              <li class="psell-price">
                &#x20B9;<span>{{ productDetails?.final_price }}</span>
              </li>
              <li
                class="psell-mrp"
                *ngIf="productDetails?.final_price != productDetails?.pv_mrp"
              >
                &#x20B9;<span>{{ productDetails?.pv_mrp }}</span>
              </li>
              <li
                class="psell-discount"
                *ngIf="productDetails?.final_discount > 0"
              >
                (<span>{{ productDetails?.final_discount }}</span> % OFF)
              </li>
              <li>
                <div class="price-guar">
                  <a (click)="openPriceguarantee(priceguarantee)">
                    <span><i class="fal fa-thumbs-up"></i> </span>Price
                    Guarantee</a
                  >
                </div>
              </li>
              <p class="tax-inclusive">Inclusive of all taxes</p>
            </ul>

            <ul *ngIf="productDetails?.deal_price != null">
              <li class="psell-price">
                &#x20B9;<span>{{ productDetails?.deal_price }}</span>
              </li>
              <li
                class="psell-mrp"
                *ngIf="productDetails?.deal_price != productDetails?.pv_mrp"
              >
                &#x20B9;<span>{{ productDetails?.pv_mrp }}</span>
              </li>
              <li
                class="psell-discount"
                *ngIf="productDetails?.deal_discount > 0"
              >
                (<span>{{ productDetails?.deal_discount }}</span> % OFF)
              </li>
              <li>
                <div class="price-guar">
                  <a (click)="openPriceguarantee(priceguarantee)">
                    <span><i class="fal fa-thumbs-up"></i> </span>Price
                    Guarantee</a
                  >
                </div>
              </li>
              <li
                class="countdown-product"
                *ngIf="
                  productDetails?.deal_id != null &&
                  productDetails?.deal_time_left > 86400
                "
              >
                <countdown
                  #countdown
                  [config]="{ leftTime: productDetails?.deal_time_left }"
                  (finished)="finishTest()"
                >
                  Offer ends in $!d!$!h!$!m!$!s!</countdown
                >
              </li>
              <li
                class="countdown-product"
                *ngIf="
                  productDetails?.deal_id != null &&
                  productDetails?.deal_time_left < 86400
                "
              >
                <countdown
                  #countdown
                  [config]="{ leftTime: productDetails?.deal_time_left }"
                  (finished)="finishTest()"
                >
                  Offer ends in $!h!$!m!$!s!</countdown
                >
              </li>
              <p class="tax-inclusive">Inclusive of all taxes</p>
            </ul>
            <div
              class="quantity m-r5 dt-none m-t5 align-items-center"
              *ngIf="productDetails?.deal_price == null"
            >
              <span class="m-l10 m-t10 m-b10">Quantity : </span>
              <input
                type="button"
                (click)="decrement(quantity)"
                value="-"
                class="minus"
              />
              <div class="quantity-field">{{ quantity }}</div>
              <input
                type="button"
                value="+"
                (click)="increment(quantity)"
                class="plus"
              />
            </div>
            <span class="wishlist-offer dt-none">
              <ul>
                <li (click)="addToWishlist()" *ngIf="!wishlistExists">
                  <i class="fal fa-heart"></i>
                </li>
                <li (click)="addToWishlist()" *ngIf="wishlistExists">
                  <i class="fas fa-heart"></i>
                </li>
              </ul>
            </span>
            <span
              class="similar-prod simi-menu dt-none"
              (click)="openSimilar(similar)"
            >
              <i class="ion-ios-copy-outline"></i>Similar
            </span>
          </div>
          <div class="row mx-0 desktop-flex">
            <div class="row mx-0 m-none">
              <div class="col-lg-6 px-0">
                <div class="policy-block">
                  <ul>
                    <li>
                      <h3 class="title-info">RETURN :</h3>
                    </li>
                    <li>
                      Return :
                      <span class="anchor-top"
                        ><a (click)="getPolicy('return-policy')">
                          View Details</a
                        ></span
                      >
                    </li>
                    <li>
                      Cancellation Refund?:
                      <span class="anchor-top"
                        ><a (click)="getPolicy('cancellation-refund-policy')"
                          >View Details</a
                        ></span
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 px-0">
                <div class="policy-block">
                  <ul>
                    <li>
                      <h3 class="title-info">DETAILS:</h3>
                    </li>
                    <li>
                      Brand Name :{{ productDetails.brand_name }} <br />
                      <!-- Store Info :
                      <span class="anchor-top"
                        ><a
                          routerLink="/seller-shop/{{
                            productDetails.seller_url_slug
                          }}"
                          class="anchor-top"
                          >Visit Store</a
                        ></span
                      > -->
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12 px-0">
              <h3
                *ngIf="productDetails?.deal_price == null"
                class="m-l0 mt-1 m-b10 m-none title-info"
                style="padding-left: 13px"
              >
                Quantity
              </h3>
              <div class="col-lg-12 display-flex m-none">
                <div
                  class="quantity m-r10"
                  *ngIf="productDetails?.deal_price == null"
                >
                  <input
                    type="button"
                    (click)="decrement(quantity)"
                    value="-"
                    class="minus"
                  />
                  <div class="quantity-field">{{ quantity }}</div>
                  <input
                    type="button"
                    value="+"
                    (click)="increment(quantity)"
                    class="plus"
                  />
                </div>
                <div
                  *ngIf="
                    !addedClass && productDetails?.stock > 0;
                    else cartblock
                  "
                  (click)="addToCart(loadingiocn)"
                >
                  <button
                    type="submit"
                    class="btn btn-style-bg text-uppercase m-r10 m-t0"
                    [disabled]="addToCartLoading"
                  >
                    Add To Cart
                  </button>
                </div>
                <div *ngIf="productDetails?.stock <= 0">
                  <button
                    type="submit"
                    class="btn btn-style-bg3 text-uppercase m-r10 m-t0"
                  >
                    <span>Out of Stock</span>
                  </button>
                  <button
                    type="submit"
                    class="btn btn-style-bg text-uppercase m-r10 m-t0"
                    (click)="getNotified()"
                    [disabled]="userNotified"
                  >
                    <span>Notify Me</span>
                  </button>
                </div>
                <ng-template #cartblock>
                  <div *ngIf="addedClass">
                    <button
                      type="submit"
                      routerLink="/shop/shoppingcart"
                      class="btn btn-style-bg text-uppercase m-r10 m-t0"
                    >
                      Go To Cart
                    </button>
                  </div>
                </ng-template>
                <button
                  type="submit"
                  (click)="addToWishlist('click')"
                  *ngIf="wishlistExists"
                  class="
                    btn btn-style-bg
                    wishlistclass
                    m-t0
                    bg-transparent
                    text-uppercase
                  "
                >
                  <i class="fas fa-heart active"></i> Added To Wishlist
                </button>
                <button
                  type="submit"
                  (click)="addToWishlist('click')"
                  *ngIf="!wishlistExists"
                  class="btn btn-style-bg m-t0 bg-transparent text-uppercase"
                >
                  <i class="fal fa-heart active"></i> Add To Wishlist
                </button>
              </div>
              <!-- <span *ngIf="userNotified" style="color: green">
                This product has been added to your notification list. We'll
                notify you once it is back in stock.
              </span> -->
              <p
                *ngIf="userNotified"
                style="padding-left: 15px; color: green; font-size: 12px"
                class="ng-star-inserted mt-1 mb-0"
              >
                This product has been added to your notification list. We'll
                notify you once it is back in stock.
              </p>
              <p
                *ngIf="!userNotified && productDetails?.stock == 0"
                style="font-size: 12px; padding-left: 15px; font-weight: bold"
                class="ng-star-inserted mt-1 mb-0"
              >
                Please click on notify me to get notification when the product
                is back in stock.
              </p>
              <div class="product-pininfo p-info">
                <form [formGroup]="pincodeForm" (ngSubmit)="onFormSubmit()">
                  <input
                    class="form-control input-md"
                    (keypress)="omit_char($event)"
                    formControlName="pincode"
                    type="text"
                    placeholder="Enter the pincode."
                    [ngClass]="{
                      'is-invalid':
                        pincodeForm.get('pincode').errors &&
                        (pincodeForm.get('pincode').dirty ||
                          pincodeForm.get('pincode').touched ||
                          isSubmit)
                    }"
                    minlength="6"
                    maxlength="6"
                  />
                  <button
                    type="submit"
                    *ngIf="!pincodeLoading"
                    class="pincode-submit-btn"
                  >
                    Check Delivery Time
                  </button>
                  <button
                    class="pincode-submit-btn"
                    type="submit"
                    disabled
                    *ngIf="pincodeLoading"
                  >
                    <span
                      class="spinner-border spinner-border-sm text-black"
                      role="status"
                    ></span>
                    <span class="load-text text-white">Checking...</span>
                  </button>
                  <label
                    *ngIf="
                      pincodeForm.get('pincode').errors?.minlength
                        ?.requiredLength ||
                      pincodeForm.get('pincode').errors?.maxLength
                        ?.requiredLength
                    "
                    class="
                      error
                      jquery-validation-error
                      small
                      form-text
                      invalid-feedback
                    "
                    >Please enter 6 digits only.</label
                  >
                  <label
                    *ngIf="
                      pincodeForm.get('pincode').errors?.required &&
                      (pincodeForm.get('pincode').dirty ||
                        pincodeForm.get('pincode').touched ||
                        isSubmit)
                    "
                    class="
                      error
                      jquery-validation-error
                      small
                      form-text
                      invalid-feedback
                    "
                    >Please enter the pincode.</label
                  >
                  <ul *ngIf="estimatedDelivery" class="estimated-date">
                    <li>
                      Expected Delivery <span>{{ estimatedDelivery }}</span
                      ><br />
                      The final delivery date will depend on the items in your
                      Cart
                    </li>
                  </ul>
                </form>
              </div>
              <div
                class="product-offerinfo p-info"
                *ngIf="productDetails?.deal_price == null"
              >
                <h3 class="title-info">Offers</h3>
                <a routerLink="/offers" class="anchor-top">View More Offers</a>
                <owl-carousel-o [options]="offerOptions">
                  <ng-template
                    carouselSlide
                    class="productlist-block"
                    *ngFor="let coupon of coupons"
                  >
                    <div class="row offers-block v-row">
                      <div class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                        <p class="px-2">
                          Use Code <br />
                          <b>{{ coupon.code }}</b> <br />
                          <a  (click)="getPolicy('return-policy')" class="anchor"> View T&C</a>
                        </p>
                      </div>
                      <div class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                        <div class="offer-des">
                          Save
                          <span>
                            &#x20B9; {{ coupon.savings.toFixed(0) }}
                          </span>
                        </div>
                        <p>{{ coupon.description }}</p>
                      </div>
                    </div>
                  </ng-template>
                </owl-carousel-o>
              </div>
            </div>
            <div
              class="col-lg-12 px-0"
              *ngIf="variantOptions?.primaryAttributeName"
            >
              <div class="product-colorinfo p-info">
                <ul>
                  <li>
                    <h3 class="title-info">
                      {{ variantOptions?.primaryAttributeName }} :
                    </h3>
                  </li>
                  <li
                    *ngFor="
                      let primaryOption of variantOptions?.primaryOptions;
                      let check = index
                    "
                    [ngClass]="{
                      active:
                        variantOptions.selectedPrimaryAttr ==
                        primaryOption.option_name
                    }"
                    (change)="onFilterChange($event, primaryOption)"
                  >
                    <div
                      class="code-border"
                      *ngIf="primaryOption?.colour_code != null"
                    >
                      <label
                        class="color-code"
                        [style.background-color]="primaryOption?.colour_code"
                      >
                        <input
                          type="radio"
                          value="{{ primaryOption?.option_name }}"
                          id="{{ primaryOption?.option_name }}_{{ check }}_{{
                            primaryOption?.t_rel_elm_var_id
                          }}"
                        />
                      </label>
                    </div>
                    <div class="product-sizeinfo primary-div">
                      <span
                        [ngClass]="{
                          active:
                            variantOptions.selectedPrimaryAttr ==
                            primaryOption.option_name
                        }"
                        *ngIf="primaryOption?.colour_code == null"
                        class="primary-optionspan"
                      >
                        <input
                          type="radio"
                          id="{{ primaryOption.option_name }}"
                        />
                        <label for="{{ primaryOption.option_name }}">{{
                          primaryOption?.option_name
                        }}</label>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
              <div
                class="product-sizeinfo Zoom-effect p-info"
                id="gotosizesection"
                [ngClass]="wasClicked ? 'selectsize' : ''"
                *ngIf="variantOptions.secondaryAttributeName"
              >
                <ul>
                  <li>
                    <h3
                      class="title-info"
                      *ngIf="variantOptions?.secondaryOptions.length > 0"
                    >
                      {{ variantOptions?.secondaryAttributeName }} :
                      <!-- <a
                        *ngIf="productDetails?.size_chart_id != null"
                        href="javascript:void(0)"
                        (click)="openSizechart(sizechart)"
                        class="anchor-top"
                        ><i class="ti ti-ruler-alt"></i>Size Chart</a
                      > -->
                      <a
                        href="javascript:void(0)"
                        (click)="openSizechart(sizechart)"
                        class="anchor-top"
                        *ngIf="productDetails?.sizechart_image != null"
                        ><i class="ti ti-ruler-alt"></i>Size Chart</a
                      >
                    </h3>
                  </li>
                  <li
                    *ngFor="
                      let secondaryOption of variantOptions?.secondaryOptions;
                      let checksize = index
                    "
                    [ngClass]="{
                      active:
                        selectedItem?.product_variant_id ==
                        secondaryOption.product_variant_id
                    }"
                    (click)="
                      onSecondaryAttributeChange($event, secondaryOption)
                    "
                  >
                    <span>
                      <input
                        type="radio"
                        id="{{ secondaryOption.option_name }}_{{ checksize }}_{{
                          secondaryOption.t_rel_elm_var_id
                        }}"
                      />
                      {{ secondaryOption?.option_name }}
                    </span>
                  </li>
                </ul>
                <div class="col-lg-12 p-a0">
                  <p class="errmsg" *ngIf="showSelectSizeText">
                    Please Select Size
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="product-returninfo p-info dt-none">
            <h3 class="title-info">Returns</h3>
            <p>
              Easy 30 days return and exchange. Return Policies may vary based
              on products and promotions. For full details on our Returns
              Policies, please
              <a
                href="javascript:void(0)"
                class="link-anchor"
                (click)="getPolicy('return-policy')"
                >Click Here</a
              >
            </p>
          </div>
          <div class="product-detailinfo p-info dt-none">
            <h3 class="title-info">Product Details</h3>
            <div
              class=""
              id="toggle"
              [ngClass]="productlessclass ? 'p_min' : 'p_max'"
            >
              <p [innerHTML]="productDetails.pv_desc"></p>
            </div>
            <a
              href="javascript:void(0)"
              class="anchor-detail"
              (click)="filterPopup()"
              [ngClass]="productlessclass ? 'close' : 'open'"
              >More Details <i class="fal fa-chevron-down"></i
            ></a>
            <a
              href="javascript:void(0)"
              class="anchor-detail"
              (click)="filterPopup()"
              [ngClass]="productlessclass ? 'open' : 'close'"
              >Less details <i class="fal fa-chevron-up"></i
            ></a>
          </div>
          <div
            class="product-pininfo p-info Specification-info dt-none"
            *ngIf="
              (productDetails?.wash_name != null &&
                productDetails?.wash_name != 'N/A') ||
              (productDetails?.iron_name != null &&
                productDetails?.iron_name != 'N/A') ||
              (productDetails?.no_of_items != null &&
                productDetails?.no_of_items != 'N/A') ||
              (productDetails?.dress_material != null &&
                productDetails?.dress_material != 'N/A')
            "
          >
            <h3 class="title-info">Specification</h3>
            <p
              *ngIf="
                productDetails?.wash_name != null &&
                productDetails?.wash_name != 'N/A'
              "
            >
              <span>Washing Type: </span>{{ productDetails.wash_name }}
            </p>
            <p
              *ngIf="
                productDetails?.iron_name != null &&
                productDetails?.iron_name != 'N/A'
              "
            >
              <span>Iron Type:</span> {{ productDetails.iron_name }}
            </p>
            <p
              *ngIf="
                productDetails?.no_of_items != null &&
                productDetails?.no_of_items != 'N/A'
              "
            >
              <span>No Of Items in the Package:</span>
              <b>{{ productDetails?.no_of_items }}</b>
            </p>
            <p
              *ngIf="
                productDetails?.dress_material != null &&
                productDetails?.dress_material != 'N/A'
              "
            >
              <span>Dress Material:</span> {{ productDetails.dress_material }}
            </p>
          </div>
          <div
            class="
              col-lg-12 col-md-12 col-sm-12 col-xs-12 col_pfg8 col-style
              p-info
              dt-none
            "
          >
            <div class="features">
              <ul>
                <li class="item-1" *ngFor="let feature of features">
                  <div class="item-inner">
                    <div class="icon icon1"><img [src]="feature.image" /></div>
                    <div class="content">
                      <a href="javascript:void(0)">{{ feature.name }}</a>
                    </div>
                  </div>
                </li>

                <!---->
              </ul>
            </div>
          </div>
          <div class="col-lg-6 p-info m-t0 share-info m-none">
            <ul class="social-footer">
              <h3 class="title-info">SHARE :</h3>
              <share-buttons
                [theme]="'circles-dark'"
                [include]="[
                  'facebook',
                  'twitter',
                  'linkedin',
                  'pinterest',
                  'whatsapp'
                ]"
                [size]="0.5"
                [url]="shareUrl"
                target="_self"
                [autoSetMeta]="true"
              ></share-buttons>
            </ul>
          </div>

          <div
            class="product-pininfo p-info dt-none"
            *ngIf="userReviews.length > 0"
          >
            <div
              class="col-lg-8 offset-lg-2 review-full-block m-t20 p-l20 p-r20"
            >
              <div class="">
                <div class="row col-lg-12 v-row review-rating">
                  <div class="col-lg-5 text-center p-a0">
                    <div class="col-lg-12 p-a0">
                      <!-- <mat-progress-spinner
                                      class="example-margin"
                                      [color]="color"
                                      [mode]="mode"
                                      [value]="90">
                                  </mat-progress-spinner> -->
                      <h4 class="cust-title d-block text-center m-a0">
                        Overall Rating
                      </h4>
                      <h3>
                        {{ avgRating }}
                        <ngb-rating
                          [max]="1"
                          disabled
                          [rate]="avgRating"
                          [readonly]="true"
                        >
                          <ng-template let-fill="fill">
                            <span
                              class="star"
                              [ngClass]="'color' + colorrating"
                              [class.filled]="fill === 100"
                              >&#9733;</span
                            >
                          </ng-template>
                        </ngb-rating>
                      </h3>
                    </div>
                    <div class="col-lg-12 p-a0 span-des">
                      <!-- <ngb-rating [max]="5" [rate]="5" disabled [readonly]="false"></ngb-rating> -->
                      <span>{{ userReviews.length }} Reviews</span>
                    </div>
                  </div>
                  <div class="row col-lg-7 reviews-nb">
                    <div class="col-lg-12 nb" *ngFor="let rating of userStats">
                      <span>
                        {{ rating.rating }}
                        <ngb-rating
                          [max]="1"
                          disabled
                          [rate]="rating.rating"
                          [readonly]="false"
                        >
                        </ngb-rating>
                      </span>
                      <p>
                        <mat-progress-bar
                          mode="determinate"
                          [color]="rating.color"
                          value="{{ rating.percent }}"
                        ></mat-progress-bar>
                      </p>
                      <span class="price-text"> {{ rating.total }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row m-t20">
                <div class="col-lg-6 col-md-6 col-xs-7 col-sm-7">
                  <h3 class="cust-title m-t0">
                    Customer Reviews ({{ userReviews.length }})
                  </h3>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-5 col-sm-5">
                  <select
                    class="review-sort"
                    (change)="changeReviewFilter($event)"
                  >
                    <option
                      value="recent"
                      [selected]="reviewFilters.sortBy === 'recent'"
                    >
                      <i class="fal fa-fire"></i>Most Recent
                    </option>
                    <option
                      value="positive"
                      [selected]="reviewFilters.sortBy === 'positive'"
                    >
                      <i class="fal fa-star"></i> Positive Reviews
                    </option>
                    <option
                      value="negative"
                      [selected]="reviewFilters.sortBy === 'negative'"
                    >
                      <i class="fal fa-badge-percent"></i> Negative Reviews
                    </option>
                  </select>
                </div>
              </div>
              <div class="review-block" *ngFor="let review of userReviews">
                <!-- <h4>Hali, <span> Hyderabad</span></h4> -->
                <p class="review-text">
                  <ngb-rating
                    [max]="1"
                    disabled
                    [rate]="review.rating"
                    [readonly]="true"
                  >
                    <ng-template let-fill="fill">
                      <span
                        class="star"
                        [ngClass]="'color' + review.rating"
                        [class.filled]="fill === 100"
                        >{{ review.rating }}&#9733;
                      </span>
                    </ng-template> </ngb-rating
                  >{{ review.review_title }}
                  <span class="r-text">{{ review.review_comment }}</span>
                </p>
                <!-- <div class="row">
                  <div class="img-review">
                    <img
                      src="https://portal.fabpik.in/uploads/100012/products/16022021/NK19C-29-1.jpg"
                    />
                  </div>
                  <div class="img-review">
                    <img
                      src="https://portal.fabpik.in/uploads/100012/products/16022021/NK19C-29-1.jpg"
                    />
                  </div>
                  <div class="img-review">
                    <img
                      src="https://portal.fabpik.in/uploads/100014/products/12022021/teddy-bear-pink-(2).jpg"
                    />
                  </div>
                  <div class="img-review">
                    <img
                      src="https://portal.fabpik.in/uploads/100014/products/12022021/teddy-bear-pink-(2).jpg"
                    />
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-7 col-sm-7">
                    <label
                      >{{ review.name }} <span> {{ review.date }} </span>
                    </label>
                  </div>
                  <!-- <div class="col-lg-6 col-md-6 col-xs-5 col-sm-5 btn-feedback">
                    <button class="btn-like">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="14"
                        viewBox="0 0 15 14"
                        class="user-review-thumbIcon user-review-thumbsDown user-review-rotate180"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path d="M-5-8h24v24H-5z"></path>
                          <path
                            fill="#2fb377"
                            fill-rule="nonzero"
                            d="M1.032.383H2.9c.307 0 .593.127.769.34C4.04.276 4.612 0 5.27 0h6.391c1.405 0 2.306.723 2.481 1.955L15 7.184v.127c0 1.106-.922 2.02-2.086 2.02H9.663v2.252c0 .957-.285 1.637-.856 2.04-.9.638-2.13.277-2.174.256l-.264-.085V11.01c0-1.998-2.394-2.678-2.482-2.7l-.197-.042a1.022 1.022 0 01-.813.382H1.01A.992.992 0 010 7.673V1.382a1.029 1.029 0 011.032-1zM7.162 11v2.246c.327.042.873.085 1.265-.212.37-.254.545-.742.545-1.462V8.606h3.948c.741 0 1.33-.593 1.33-1.293v-.042l-.85-5.19v-.022c-.11-.89-.698-1.335-1.723-1.335H5.33C4.59.724 4 1.317 4 2.017v5.55l.174.043c.11.042 2.988.848 2.988 3.39zM.75 7.693c0 .147.135.273.293.273h1.914c.158 0 .293-.126.293-.273V1.48c0-.147-.135-.273-.293-.273H1.043c-.158 0-.293.126-.293.273v6.213z"
                          ></path>
                        </g>
                      </svg>
                      <span>230</span>
                    </button>
                    <button class="btn-unlike">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="14"
                        viewBox="0 0 15 14"
                        class="user-review-thumbIcon"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path d="M-5-8h24v24H-5z"></path>
                          <path
                            fill="#b32f54"
                            fill-rule="nonzero"
                            d="M1.032.383H2.9c.307 0 .593.127.769.34C4.04.276 4.612 0 5.27 0h6.391c1.405 0 2.306.723 2.481 1.955L15 7.184v.127c0 1.106-.922 2.02-2.086 2.02H9.663v2.252c0 .957-.285 1.637-.856 2.04-.9.638-2.13.277-2.174.256l-.264-.085V11.01c0-1.998-2.394-2.678-2.482-2.7l-.197-.042a1.022 1.022 0 01-.813.382H1.01A.992.992 0 010 7.673V1.382a1.029 1.029 0 011.032-1zM7.162 11v2.246c.327.042.873.085 1.265-.212.37-.254.545-.742.545-1.462V8.606h3.948c.741 0 1.33-.593 1.33-1.293v-.042l-.85-5.19v-.022c-.11-.89-.698-1.335-1.723-1.335H5.33C4.59.724 4 1.317 4 2.017v5.55l.174.043c.11.042 2.988.848 2.988 3.39zM.75 7.693c0 .147.135.273.293.273h1.914c.158 0 .293-.126.293-.273V1.48c0-.147-.135-.273-.293-.273H1.043c-.158 0-.293.126-.293.273v6.213z"
                          ></path>
                        </g></svg
                      ><span>230</span>
                    </button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Product Information -->
      </div>
    </div>
    <div class="container p-t50 p-b30 m-none">
      <div class="row" [@.disabled]="true">
        <mat-tab-group
          class="productdetails-tabs"
          mat-align-tabs="center"
          (selectedTabChange)="tabChange($event)"
        >
          <mat-tab label="description">
            <div class="m-t20">
              <p [innerHTML]="productDetails.p_desc"></p>
            </div>
          </mat-tab>
          <mat-tab label="More Info">
            <div class="m-t20 p-l20 p-r20">
              <ul>
                <li>
                  <p>
                    <span>Weight</span>
                    {{ productDetails?.shipping_weight }}
                    {{ productDetails?.unit }}
                  </p>
                </li>
                <li>
                  <p>
                    <span>Dimensions</span>
                    {{ productDetails?.shipping_length }} ×
                    {{ productDetails?.shipping_breadth }} ×
                    {{ productDetails?.shipping_height }} cm
                  </p>
                </li>
                <li
                  *ngIf="
                    productDetails?.wash_name != null &&
                    productDetails?.wash_name != 'N/A'
                  "
                >
                  <p>
                    <span>Washing Type</span>
                    {{ productDetails?.wash_name }}
                  </p>
                </li>
                <li
                  *ngIf="
                    productDetails?.iron_name != null &&
                    productDetails?.iron_name != 'N/A'
                  "
                >
                  <p>
                    <span>Iron Type</span>
                    {{ productDetails?.iron_name }}
                  </p>
                </li>
                <li
                  *ngIf="
                    productDetails?.no_of_items != null &&
                    productDetails?.no_of_items != 'N/A'
                  "
                >
                  <p>
                    <span>No of Items in the Package</span>
                    {{ productDetails?.no_of_items }}
                  </p>
                </li>
                <li
                  *ngIf="
                    productDetails?.dress_material != null &&
                    productDetails?.dress_material != 'N/A'
                  "
                >
                  <p>
                    <span>Dress Material</span>
                    {{ productDetails?.dress_material }}
                  </p>
                </li>
                <li *ngIf="variantOptions?.primaryOptions.length > 0">
                  <p>
                    <span> {{ variantOptions?.primaryAttributeName }} </span>
                    {{ selectedProductVariant?.primary_attribute_option }}
                  </p>
                </li>
                <li *ngIf="variantOptions?.secondaryOptions.length > 0">
                  <p>
                    <span>{{ variantOptions?.secondaryAttributeName }}</span>
                    {{ selectedProductVariant?.secondary_attribute_option }}
                  </p>
                </li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="reviews">
            <div
              class="col-lg-8 offset-lg-2 review-full-block m-t20 p-l20 p-r20"
              *ngIf="!userReviewLoading && userReviews.length > 0"
            >
              <div class="">
                <div class="row col-lg-12 v-row review-rating">
                  <div class="col-lg-5 text-center p-a0">
                    <div class="col-lg-12 p-a0">
                      <h4 class="cust-title d-block text-center m-a0">
                        Overall Rating
                      </h4>
                      <h3>
                        {{ avgRating }}
                        <ngb-rating
                          [max]="1"
                          disabled
                          [rate]="avgRating"
                          [readonly]="true"
                        >
                          <ng-template let-fill="fill">
                            <span
                              class="star"
                              [ngClass]="'color' + colorrating"
                              [class.filled]="fill === 100"
                              >&#9733;</span
                            >
                          </ng-template>
                        </ngb-rating>
                      </h3>
                    </div>
                    <div class="col-lg-12 p-a0 span-des">
                      <span>{{ userReviews.length }} Reviews</span>
                    </div>
                  </div>
                  <div class="row col-lg-7 reviews-nb">
                    <div class="col-lg-12 nb" *ngFor="let rating of userStats">
                      <span>
                        {{ rating.rating }}
                        <ngb-rating
                          [max]="1"
                          disabled
                          [rate]="rating.rating"
                          [readonly]="false"
                        >
                        </ngb-rating>
                      </span>
                      <p>
                        <mat-progress-bar
                          mode="determinate"
                          [color]="rating.color"
                          value="{{ rating.percent }}"
                        ></mat-progress-bar>
                      </p>
                      <span class="price-text"> {{ rating.total }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row m-t20" *ngIf="userReviews.length > 0">
                <div class="col-lg-6">
                  <h3 class="cust-title m-t0">
                    Customer Reviews ({{ userReviews.length }})
                  </h3>
                </div>
                <div class="col-lg-6">
                  <select
                    class="review-sort"
                    (change)="changeReviewFilter($event.target.value)"
                  >
                    <option
                      value="recent"
                      [selected]="reviewFilters.sortBy === 'recent'"
                    >
                      <i class="fal fa-fire"></i>Most Recent
                    </option>
                    <option
                      value="positive"
                      [selected]="reviewFilters.sortBy === 'positive'"
                    >
                      <i class="fal fa-star"></i> Positive Reviews
                    </option>
                    <option
                      value="negative"
                      [selected]="reviewFilters.sortBy === 'negative'"
                    >
                      <i class="fal fa-badge-percent"></i> Negative Reviews
                    </option>
                  </select>
                </div>
              </div>
              <div class="review-block" *ngFor="let review of userReviews">
                <!-- <h4>Hali, <span> Hyderabad</span></h4> -->
                <p class="review-text">
                  <ngb-rating
                    [max]="1"
                    disabled
                    [rate]="review.rating"
                    [readonly]="true"
                  >
                    <ng-template let-fill="fill">
                      <span
                        class="star"
                        [ngClass]="'color' + review.rating"
                        [class.filled]="fill === 100"
                        >{{ review.rating }}&#9733;
                      </span>
                    </ng-template> </ngb-rating
                  >{{ review.review_title }}
                  <span class="r-text">{{ review.review_comment }} </span>
                </p>

                <div class="row">
                  <div class="col-lg-6">
                    <label
                      >{{ review.name }} <span> {{ review.date }} </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="row text-center-nofound"
              *ngIf="userReviews?.length == 0 && !userReviewLoading"
            >
              <div class="col-lg-12">
                <img src="assets/images/icons/noreviews.png" />
                <label>No Reviews Yet</label>
                <p>You can be the first reviewer</p>
                <!-- <button
                  class="btn-style-bg margin-auto m-t10 btn-main-add"
                  (click)="writeReview(review)"
                >
                  ADD Review
                </button> -->
              </div>
            </div>

            <div *ngIf="userReviewLoading">
              <span
                class="spinner-border spinner-border-sm text-white"
                role="status"
              ></span>
              <span class="load-text text-white">loading...</span>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>
  <!-- Similar Products -->
  <section
    class="p-info bg-light-shade products-slider p-t20"
    *ngIf="recommendedProducts.length > 0"
    [ngClass]="{ 'py-4': isDesktop }"
  >
    <div class="container carousel-recommended px-0">
      <h3 class="title-info">Recommended Products</h3>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          ngxSlickItem
          class="productlist-block"
          *ngFor="let product of recommendedProducts"
        >
          <a>
            <app-product-item
              [productItem]="product"
              [imgUrl]="imgUrl"
            ></app-product-item>
          </a>
        </div>
      </ngx-slick-carousel>
    </div>
  </section>
  <!-- Similar Products -->
</div>
<section *ngIf="!loading && productDetails == null">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <img src="assets/images/404.png" />
        <h4>OOPS, This Page Could Not Be Found</h4>
        <p>
          The page you are looking for might have been removed or had its name
          changed or its temporarily unavailable
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Skeleton Loader -->
<div class="productdetail-page bg-light-blueshade" *ngIf="loading">
  <section class="productblock-page pt-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xl-6 col-md-12 px-0">
          <ngx-skeleton-loader
            class="text-center"
            [theme]="{
              height: '380px',
              width: '100%',
              'margin-bottom': '-12px',
              'border-radius': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </div>
        <div
          class="col-lg-4 col-xl-6 col-md-11 mx-auto"
          [ngClass]="{ 'px-0': isMobile }"
        >
          <div class="product-smallinfo p-info">
            <h1 class="product-info-name mt-0 d-flex flex-column">
              <ngx-skeleton-loader
                [theme]="{
                  height: '10px',
                  width: '160px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
              <ngx-skeleton-loader
                [theme]="{
                  height: '10px',
                  width: '200px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
              <ngx-skeleton-loader
                [theme]="{
                  height: '10px',
                  width: '120px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </h1>
          </div>
          <div class="row mx-0 desktop-flex">
            <div class="col-lg-12 px-0 m-t10">
              <div class="product-pininfo p-info">
                <form [formGroup]="pincodeForm" (ngSubmit)="onFormSubmit()">
                  <h1 class="product-info-name">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '30px',
                        width: '100%',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </h1>
                  <h1 class="product-info-name">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '10px',
                        width: '100px',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </h1>
                  <h1 class="product-info-name">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '10px',
                        width: '140px',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </h1>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 px-0">
            <div class="product-offerinfo p-info dt-none">
              <h3 class="title-info">
                <ngx-skeleton-loader
                  [theme]="{
                    height: '10px',
                    width: '80px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
              <a class="anchor-top">
                <ngx-skeleton-loader
                  [theme]="{
                    height: '10px',
                    width: '70px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </a>
              <h3 class="title-info">
                <ngx-skeleton-loader
                  [theme]="{
                    height: '100px',
                    width: '100%',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
            </div>
          </div>
          <div class="col-lg-12 px-0">
            <div class="product-colorinfo p-info">
              <ul>
                <li>
                  <h3 class="title-info">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '15px',
                        width: '70px',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </h3>
                </li>
                <li>
                  <ngx-skeleton-loader
                    appearance="circle"
                    count="4"
                    [theme]="{ height: '30px', width: '30px', margin: '5px' }"
                  >
                  </ngx-skeleton-loader>
                </li>
              </ul>
            </div>
            <div class="product-sizeinfo p-info m-b10">
              <ul>
                <li>
                  <h3 class="title-info">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '15px',
                        width: '70px',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                    <a class="anchor-top mt-1">
                      <ngx-skeleton-loader
                        [theme]="{
                          height: '15px',
                          width: '70px',
                          margin: '0px',
                          'border-radius': '0px'
                        }"
                      >
                      </ngx-skeleton-loader>
                    </a>
                  </h3>
                </li>
                <li>
                  <ngx-skeleton-loader
                    appearance="circle"
                    count="4"
                    [theme]="{
                      height: '30px',
                      width: '30px',
                      margin: '5px',
                      'border-radius': '10px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-returninfo p-info dt-none">
            <h3 class="title-info">
              <ngx-skeleton-loader
                [theme]="{
                  height: '15px',
                  width: '70px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </h3>
            <p>
              <ngx-skeleton-loader
                count="4"
                [theme]="{
                  height: '10px',
                  width: '100%',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </p>
          </div>
          <div class="product-returninfo p-info dt-none">
            <h3 class="title-info">
              <ngx-skeleton-loader
                [theme]="{
                  height: '15px',
                  width: '70px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </h3>
            <p>
              <ngx-skeleton-loader
                count="4"
                [theme]="{
                  height: '10px',
                  width: '100%',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
<div class="product-footer dt-none">
  <div class="container h-100 px-0">
    <div class="row v-row">
      <div class="col-lg-12">
        <ul class="pl-0">
          <li>
            <a routerLink="/"><i class="fal fa-home-lg-alt"></i> </a>
          </li>
          <li>
            <!-- <a href="settings.html"><i class="lni lni-whatsapp"></i></a> --><a
              [href]="currentUrl"
              data-action="share/whatsapp/share"
              ><i class="lni lni-whatsapp"></i
            ></a>
          </li>
          <li>
            <a href="/wishlist"
              ><i class="fal fa-heart"></i><span>Wishlist</span></a
            >
          </li>
          <li
            *ngIf="!addedClass && productDetails?.stock > 0; else cartblock"
            class="btn-style-bg1"
            (click)="openAddToCartModal(content2)"
          >
            <a href="javascript:void(0)">
              <svg
                width="18"
                height="18"
                viewBox="0 0 24 24"
                class="atb-button-icon"
              >
                <g fill="none" fill-rule="evenodd">
                  <path
                    fill="#ffffff"
                    d="M4.012 20.718L5.246 7.314H7.27v1.763a.733.733 0 101.466 0V7.314h6.528v1.763a.733.733 0 001.466 0V7.314h2.024l1.234 13.404H4.012zM12 3.282c1.56 0 2.865 1.1 3.187 2.565H8.813A3.268 3.268 0 0112 3.282zm8.15 3.228a.733.733 0 00-.73-.663h-2.747A4.734 4.734 0 0012 1.816a4.734 4.734 0 00-4.673 4.03H4.58a.733.733 0 00-.73.664L2.475 21.38a.734.734 0 00.73.804h17.59a.733.733 0 00.73-.803L20.15 6.51z"
                  ></path>
                  <path d="M0 0h24v24H0z" opacity="0.05"></path>
                </g>
              </svg>
              <span>Add to Cart</span>
            </a>
          </li>
          <li
            *ngIf="productDetails?.stock <= 0"
            [ngClass]="
              userNotified ? 'btn-style-bg1 btn-disabled' : 'btn-style-bg1'
            "
          >
            <button
              (click)="getNotified()"
              class="notify-btn"
              [disabled]="userNotified"
            >
              <span><i class="fal fa-bell mr-50"></i> Notify Me</span>
            </button>
          </li>
          <ng-template #cartblock>
            <li class="btn-style-bg1" *ngIf="addedClass">
              <a routerLink="/shop/shoppingcart">
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  class="atb-button-icon"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path
                      fill="#ffffff"
                      d="M4.012 20.718L5.246 7.314H7.27v1.763a.733.733 0 101.466 0V7.314h6.528v1.763a.733.733 0 001.466 0V7.314h2.024l1.234 13.404H4.012zM12 3.282c1.56 0 2.865 1.1 3.187 2.565H8.813A3.268 3.268 0 0112 3.282zm8.15 3.228a.733.733 0 00-.73-.663h-2.747A4.734 4.734 0 0012 1.816a4.734 4.734 0 00-4.673 4.03H4.58a.733.733 0 00-.73.664L2.475 21.38a.734.734 0 00.73.804h17.59a.733.733 0 00.73-.803L20.15 6.51z"
                    ></path>
                    <path d="M0 0h24v24H0z" opacity="0.05"></path>
                  </g>
                </svg>
                <span>Go to Cart</span>
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer class="p-none"></app-footer>
<ng-template #content2 let-modal>
  <div class="modal-body" class="confirm-popup-body">
    <div class="modal-body">
      <div class="row v-row">
        <div class="col-lg-6 col-xs-6 col-sm-6">
          <h3 class="title-info">Selected Option</h3>
        </div>
        <div class="col-lg-6 col-xs-6 col-sm-6 float-right text-right">
          <button
            type="button"
            (click)="closeModal()"
            data-dismiss="modal"
            aria-hidden="true"
            class="modal-close"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-md-4 col-xs-3 col-sm-3"
          *ngIf="variantOptions?.primaryOptions.length > 0"
        >
          <div class="product-colorinfo p-info">
            <h3 class="title-info">
              {{ variantOptions?.primaryAttributeName }}
            </h3>
            <ul>
              <li
                *ngIf="
                  selectedProductVariant.primary_attribute_option_color != null
                "
              >
                <div class="code-border">
                  <label
                    class="color-code"
                    [style.background-color]="
                      selectedProductVariant.primary_attribute_option_color
                    "
                  ></label>
                </div>
              </li>
              <li
                *ngIf="
                  selectedProductVariant.primary_attribute_option_color == null
                "
              >
                <span>{{
                  selectedProductVariant.primary_attribute_option
                }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-lg-3 col-md-4 col-xs-4 col-sm-4 pr-0"
          *ngIf="variantOptions?.secondaryOptions.length > 0"
        >
          <div class="product-sizeinfo p-info">
            <h3 class="title-info">
              {{ variantOptions?.secondaryAttributeName }}
            </h3>
            <ul>
              <li *ngIf="selectedItem?.colour_code != null">
                <div class="code-border">
                  <label
                    class="color-code"
                    [style.background-color]="selectedItem?.colour_code"
                  ></label>
                </div>
              </li>
              <li>
                <span>{{ selectedItem?.option_name }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-xs-4 col-sm-4">
          <div class="product-colorinfo p-info">
            <h3 class="title-info">Quantity</h3>
            <div class="quantity m-t10 m-r10 text-center">
              <div class="quantity-field border-0">{{ quantity }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row confirm-bottom v-row">
        <div class="col-xs-6 col-sm-6 text-center">
          <button
            type="submit"
            (click)="closeModal()"
            class="btn btn-style-bg bg-transparent text-uppercase m-b10"
          >
            Modify
          </button>
        </div>
        <div class="col-xs-6 col-sm-6 text-center">
          <button
            type="submit"
            (click)="addToCart(loadingiocn); closeModal()"
            [disabled]="addToCartLoading"
            class="btn btn-style-bg text-uppercase m-b10"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Footer Add to Cart Content -->
<ng-template #similar let-modal>
  <div class="modal-body" class="video-popup-body carousel-recommended">
    <div class="modal-body">
      <div class="row v-row">
        <div class="col-lg-6 col-xs-8 col-sm-8">
          <h3 class="title-info">Recommended Products</h3>
        </div>
        <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right">
          <button
            type="button"
            (click)="closeModal()"
            data-dismiss="modal"
            aria-hidden="true"
            class="modal-close"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          ngxSlickItem
          class="productlist-block"
          *ngFor="let product of recommendedProducts"
        >
          <a routerLink="/products/{{ product.slug }}/{{ product.unique_id }}">
            <app-product-item
              [productItem]="product"
              [imgUrl]="imgUrl"
            ></app-product-item>
          </a>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</ng-template>
<ng-template #sizechart let-modal>
  <!-- <app-size-chart
    [sizeChartNotes]="productDetails?.notes"
    [productSizeChartTitle]="productDetails?.product_size_chart_title"
    [sizeChartData]="productDetails?.size_chart_data"
    [sizeChartImageTitle]="productDetails?.size_chart_image_title"
    [sizeChartImages]="productDetails?.size_chart_images"
    [sizes]="productDetails?.sizes"
    [columns]="productDetails?.columns"
    [notes]="productDetails?.notes"
    [serverSizeChartUrl]="serverSizeChartUrl"
  ></app-size-chart> -->
  <div class="modal-body" class="video-popup-body">
    <div class="modal-body">
      <div class="row v-row">
        <div class="col-lg-8 col-xs-8 col-sm-8 pl-0">
          <h3 class="title-info ml-3">SizeChart</h3>
        </div>
        <div class="col-lg-2 col-xs-4 col-sm-4 float-right text-right pr-0">
          <button
            type="button"
            class="modal-close mr-3"
            aria-label="Close"
            (click)="closeModal()"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <section class="p-a0 size-page">
        <div class="container" [@.disabled]="true">
          <div class="row">
            <div class="">
              <img
                [src]="productDetails?.sizechart_image_url"
                (error)="onImgError($event)"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<ng-template #priceguarantee let-modal>
  <div class="modal-body" class="video-popup-body">
    <div class="modal-body">
      <div class="row v-row">
        <div class="col-lg-8 col-xs-8 col-sm-8 pl-0">
          <h3 class="title-info ml-3">Price Guarantee</h3>
        </div>
        <div class="col-lg-4 col-xs-4 col-sm-4 float-right text-right pr-0">
          <button
            type="button"
            class="modal-close mr-3"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <section class="p-a0 size-page">
        <div class="price-guartext">
          <p>
            At Fabpik,we are committed to offer better price advantage to our
            customers. At the time of purchase of a product, if you find the
            same item at a lower price at a qualifying online market platform,
            we will match our price with that value.
          </p>
          <p>How can you avail it:</p>
          <ul>
            <li>
              If you find a qualifying lower price online, call FABPIK CUSTOMER
              CARE and direct a customer service agent to the website with the
              lower price. On qualifying products, Fabpik will then verify the
              current price to complete the Best Price match.
            </li>
            <li>
              Exclusions apply including, but not limited to, items sold by
              Marketplace vendors, competitors' service prices, special daily or
              hourly sales, and items on the MAJOR SALES period of quality
              online platforms.
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</ng-template>
<ng-template #review let-modal>
  <div class="modal-content">
    <div class="modal-body">
      <div class="col-lg-6 col-xs-8 col-sm-8 px-0"></div>
      <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right px-0">
        <button
          type="button"
          (click)="closeModal()"
          data-dismiss="modal"
          aria-hidden="true"
          class="modal-close"
        >
          <i class="fal fa-times"></i>
        </button>
      </div>
      <div class="py-5 px-3">
        <div class="col-md-12 text-center px-0">
          <h4 class="title-info m-b0">Write Product Review Now</h4>
          <p>Plus, join our email list to stay up to date.</p>
        </div>
        <form class="review-form">
          <span>Your Rating: </span>
          <ngb-rating
            [max]="5"
            [(rate)]="currentRate"
            [readonly]="false"
          ></ngb-rating>
          <div class="form-group col-md-12 px-0">
            <input type="text" value="" required="required" />
            <label for="input" class="control-label">Review Title</label
            ><i class="bar"></i>
          </div>
          <div class="form-group col-md-12 px-0">
            <textarea required="required"></textarea>
            <label for="textarea" class="control-label">Review*</label
            ><i class="bar"></i>
          </div>
        </form>
        <div class="col-12 d-flex">
          <button type="submit" class="btn btn-style-bg mx-auto text-uppercase">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #loadingiocn let-modal>
  <span class="text-center">
    <span class="spinner-border spinner-border-sm mr-1"></span
  ></span>
</ng-template>
