@media only screen and (min-width: 280px) and (max-width: 767px) {
  .product-details {
    border: 1px solid #cac7f6 !important;
    box-shadow: 0 1px 3px 0 #9ccae8;
  }
  .link-anchor {
    padding-left: 0;
  }
  .offers-block {
    border: 1px solid #ccc;
    margin: 0px 0px !important;
    padding: 7px 0;
  }

  .anchor-top {
    top: 12px !important;
  }
  .features {
    border-radius: 3px;
    padding: 0px 0 0px 0;
    margin: 2px 0;
    display: inline-block;
    width: 100%;
  }
  .footer-widget h4 {
    font-size: 13px;
    margin: 0;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .features ul li:before {
  }

  .features ul li .item-inner {
    display: inherit;
    align-items: center;
  }

  .features ul li .item-inner .icon.icon1 {
    background-position: -22px -23px;
  }

  .features ul li .item-inner .icon {
    float: left;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    background: #f6f6f6;
    border-radius: 50%;
    line-height: 50px;
    margin-right: 0;
    vertical-align: middle;
    align-items: center;
    box-shadow: 0 1px 3px 0 #9ccae8;
    justify-content: center;
    margin-right: 7px;
  }

  .features ul li .item-inner .icon img {
    width: 40px;
  }

  .features ul li .item-inner .content {
    line-height: 15px;
    margin-top: 3px;
  }

  .features ul li .item-inner .content a {
    color: #666666;
    font-size: 10px;
    white-space: break-spaces;
    font-weight: 700;
    line-height: 11px;
    text-transform: uppercase;
    cursor: default;
  }

  .features ul li .item-inner .content p {
    line-height: 100%;
    margin: 0;
    font-size: 12px;
    text-transform: capitalize;
  }

  .features-section .section-maintitle {
    font-weight: 700;
    margin-bottom: 15px !important;
    padding: 10px;
    color: #3e5067;
    border-radius: 5px;
    font-size: 22px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    position: relative;
  }
  .features li:first-child,
  .features li:nth-child(2) {
    margin-top: 0 !important;
  }
  .features ul li {
    padding: 0 0px;
    width: 50%;
    display: inline-block;
    position: relative;
    list-style-type: none;
    margin-top: 12px;
  }

  .features ul li:last-child::before {
    content: none;
  }
  .price-guar span {
    color: #6e6f6f !important;
    border-radius: 50%;
    width: 16px;
    height: 14px;
    display: inline-flex;
    text-align: center;
    font-size: 13px;
    line-height: 12px;
    margin-right: 3px;
    justify-content: center;
  }
  h3.title-info {
    font-size: 1.1vw;
    margin-bottom: 7px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .price-guar {
    font-size: 11px !important;
    line-height: 16px !important;
    font-weight: 400 !important;
    margin: 0px 0px !important;
    color: #6e6f6f !important;
    border: 1px solid #e75e83 !important;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
  }

  .product-smallinfo {
    ul {
      text-align: left;
      margin-bottom: 0;
    }

    li {
      list-style-type: none;
      display: inline-block;
      font-size: 12px;
      padding-left: 2px;
      margin-right: 3px;
    }
    li.psell-price {
      font-size: 17px !important;
      color: #333;
      font-weight: 700;
      text-align: center;
    }

    li.psell-mrp {
      opacity: 0.4;
      color: #282c3f;
      text-decoration: line-through;
      font-size: 13px;
    }

    li.psell-discount {
      font-size: 13px;
      font-weight: 500;
      color: #e75e83;
      display: inline-block;
    }
  }

  .offer-des {
    font-size: 3.2vw !important;
  }

  .quantity span {
    display: initial !important;
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 19px;
    margin-left: 0;
  }

  .p-none {
    display: none;
  }

  .product-sizeinfo .anchor-top {
    color: #eb6083 !important;
    font-weight: 600 !important;
    font-size: 12px;
    padding-left: 0;
    position: absolute !important;
    right: 14px;
    top: 7px !important;
  }

  .wishlist-block {
    bottom: 12px !important;
    right: 29px !important;
    opacity: 1;
    top: auto;
  }

  .productblock-page {
    background: #f0f4f7 !important;
  }

  .anchor-top {
    color: #eb6083;
    font-weight: 600;
    font-size: 12px;
    padding-left: 0;
    position: absolute;
    right: 14px;
    top: 12px;
  }

  .title-info {
    font-size: 4vw !important;
    margin-bottom: 7px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .p-info {
    box-shadow: none !important;
    margin: 7px 0 0;
    padding: 10px !important;
    background-color: #fff !important;
  }

  .stock-name {
    font-size: 10px;
  }

  .product-pininfo {
    input {
      width: calc(100% - 0px) !important;
      height: auto !important;
    }
  }

  .product-pininfo .pincode-submit-btn {
    width: auto;
    padding: 6px 10px;
    margin-left: 0;
    height: 49px !important;
    display: inline-block;
    background: transparent !important;
    margin-top: 0;
    position: absolute !important;
    top: 7px;
    color: #03a9f4 !important;
    right: 7px;
  }

  .product-info-name {
    font-size: 14px !important;
    padding-bottom: 0px !important;
  }

  .productdetail-page {
    background: #f0f4f7;
    padding-top: 0% !important;
  }
}

.productdetail-page {
  background: #f0f4f7;
  // padding-top: 6%;
}

.product-page {
  h3 {
    float: left;
    font-weight: 400;
    font-size: 16px;
    margin: 1.5px 0 2.5px 0px;
    text-overflow: ellipsis;
    width: 165px;
    width: 151px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.productblock-page {
  background: #fff;
}

.ngx-gallery-image {
  background-position: top;
}

.product-info-name {
  padding-bottom: 0px;
  width: 85%;
  font-weight: 400;
  margin-top: 2px;
  font-size: 20px;
  line-height: unset;
  color: #282c3f;
  margin-bottom: 7px !important;
}

.stock-name {
  background-color: #e91e631c;
  color: #ff4747;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

.product-smallinfo {
  ul {
    text-align: left;
    margin-bottom: 0;
  }

  li {
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    padding-left: 2px;
    align-items: center;
    margin-right: 3px;
    vertical-align: middle;
  }
  li.psell-price {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    text-align: center;
  }

  li.psell-mrp {
    opacity: 0.4;
    color: #282c3f;
    text-decoration: line-through;
    font-size: 13px;
  }

  li.psell-discount {
    font-size: 13px;
    font-weight: 500;
    color: #e75e83;
    display: inline-block;
  }
}

.wishlist-offer {
  position: absolute;
  top: 16px;
  right: 0px;
  padding: 3px 7px;
  color: #e91e63;
  border-radius: 50%;

  li {
    &:first-child {
      margin-right: 12px;
    }

    &:nth-child(2) {
      opacity: 1;
    }
  }

  i {
    color: #e75e83;
  }
}

.p-info {
  width: 100%;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  margin-top: 7px;
  padding: 0px 0px;
  position: relative;

  p {
    font-size: 12px;
    line-height: 19px;
  }
}

.product-pininfo {
  input {
    &::placeholder {
      color: #000;
    }

    width: calc(42% - 0px);
    height: 36px;
    display: initial;
    margin-top: 10px;
    font-size: 12px;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    padding-left: 8px;
    background: #f0f4f7;
    border-radius: 5px;
    font-weight: 500;
    color: #000;
  }

  .pincode-submit-btn {
    width: auto;
    height: 35px;
    padding: 9px 10px;
    margin-left: 0;
    /* height: auto; */
    display: inline-block;
    margin-top: 0;
    margin-left: 8px;
    position: relative;
    /* top: 18px; */
    color: #fff;
    /* right: 7px; */
    border-radius: 5px;
    background: #eb6083;
    /* color: #176d93; */
    border: none;
    font-size: 12px;
    font-weight: 600;
  }

  li {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-top: 9px;
    line-height: 20px;
    list-style: disc;
    color: #7e808c;
  }

  span {
    display: block;
    color: #000;
  }

  ul {
    margin-bottom: 0;
  }
}

.product-sizeinfo {
  li:first-child {
    font-size: 16px;
    margin-bottom: 3px;
    font-weight: 600;
    display: block;
  }
}

.product-colorinfo {
  li:first-child {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
    display: block;
  }
}

.product-colorinfo {
  .color-code {
    width: 22px;
    height: 22px;
    position: relative;
    content: "";
    vertical-align: middle;
    border-radius: 50%;
    margin-bottom: 0;
    border: 1px solid #cac7f6;
    box-shadow: 0 1px 3px 0 #9ccae8;
    margin-top: 0px;
  }

  li {
    list-style-type: none;
    display: inline-block;

    &:first-child {
      .code-border {
        border: 1px solid #c2c2c2;
      }

      span {
        display: block;
      }
    }
  }

  span {
    display: none;
    line-height: 13px;
    font-size: 12px;
    text-align: left;
    color: #7e808c;
    margin-bottom: 5px;
  }
}

.code-border {
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 11px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: inline-flex;

  input {
    opacity: 0;
  }
}

.product-colorinfo li.active .code-border {
  border: 1px dashed #a29c9e;
}

.product-sizeinfo li.active span {
  background: #eb6083;
  color: #fff;
}

.product-sizeinfo {
  li {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 11px;

    &:first-child {
      span {
        background: #e75e83;
        border: none;
        color: #fff;
      }
    }
  }

  span {
    input {
      opacity: 0;
      display: block;
      position: absolute;
      cursor: pointer;
    }

    display: inline-block;
    list-style-type: none;
    padding: 4px 10px;
    font-size: 12px;
    width: fit-content;
    /* height: 29px; */
    border: 1px solid #cac7f6;
    box-shadow: 0 1px 3px 0 #9ccae8;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 0px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .anchor-top {
    cursor: pointer;
    i {
      padding-right: 3px;
      font-size: 13px;
      cursor: pointer;
    }
  }
}

.product-detailinfo {
  // .open {
  // 	display: none;
  // }
  .close {
    display: none;
  }

  p {
    margin-bottom: 0;
    padding: 0;
    display: flex;
  }

  span {
    padding-right: 12px;
    width: 90px;
    position: relative;

    &::after {
      content: ":";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      right: -52px;
      font-size: 1.1vw;
    }
  }

  ul {
    padding: 0 16px;
    margin: 0;
  }

  .anchor {
    color: #eb6083;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 0;
    float: right;
  }

  padding: 10px 10px 23px !important;
}

.product-offerinfo {
  .anchor {
    color: #eb6083;
    font-weight: 600;
    font-size: 12px;
    padding-left: 0;
  }

  .anchor-top {
    color: #eb6083;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 0;
    position: absolute;
    right: 14px;
    top: 2px;
  }
}

.anchor {
  i {
    font-weight: 600;
    padding-left: 2px;
  }
}

.offer-left {
  p {
    background: #f0f4f7;
    padding: 12px 15px;
    text-align: center;
    margin: 0;
  }
}

.offers-block {
  border: 1px solid #ccc;
  margin: 0px 7px 0 0;
  padding: 7px 0;
}
.offer-right {
  p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}

.offer-des {
  font-size: 1.1vw;
}

.similar-prod {
  position: absolute;
  z-index: 1000;
  top: -43px;
  background: #fff;
  color: #e75e83 !important;
  padding: 0px 6px;
  border-radius: 5px;
  font-size: 11px;

  i {
    font-size: 11px;
    padding-right: 3px;
  }
}

.simi-widget {
  width: 400px;
  max-width: 100%;
  position: fixed;
  bottom: -100%;
  transition: all 0.8s ease;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  background: #f0f7ff;
  background-position: 50%;
  background-size: cover;
  z-index: 9999;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
  padding: 7px 0 0px;
  pointer-events: initial;
  color: #fff;
  right: 0;
}

.simi-widget.active {
  bottom: 0;
}

.product-footer {
  transition-duration: 500ms;
  background-color: #fff;
  width: 100%;
  height: 39px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border: none;
  border-top: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0px #9ccae8;

  li {
    &:first-child {
      width: 15%;

      i {
        padding-right: 0 !important;
      }
    }

    &:nth-child(2) {
      width: 15%;

      i {
        padding-right: 0 !important;
      }
    }

    &:nth-child(3) {
      width: 30%;
    }

    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 7px 3px;
    text-align: center;
    border: 1px solid #d4d5d9;

    &:last-child {
      display: inline-block;
      border: none;
      font-size: 16px;

      a {
        color: #fff;
      }
    }

    a {
      font-size: 13px;
      font-weight: 600;
      color: #3e4152;
      text-transform: uppercase;

      i {
        padding-right: 7px;
        font-weight: 300;
        font-size: 16px;
      }
    }

    svg {
      margin-top: -6px;
      margin-right: 7px;
    }
  }

  ul {
    margin-bottom: 0;
  }
}

.guide {
  // padding: 25px 50px;
  background: #000;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  // padding: 19px 50px;
  margin-bottom: 7px;
  position: relative;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
}

.confirm-bottom {
  .bg-transparent {
    background: transparent;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 1.1vw;
    border: 1px solid #000;
    color: #000 !important;
  }

  .btn-style-bg {
    width: 100%;
  }
}

.features-block {
  padding: 9px 13px;
  font-size: 16px;
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0 #9ccae8;
  margin-bottom: 0px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  display: flex;
  margin-bottom: 14px;
}

.features {
  p {
    font-size: 1.1vw;
    line-height: 18px;
    background: #fff;
    color: #3e4152;
    margin-top: 0px;
    padding: 6px 0px;
    margin-bottom: 0;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  padding: 0px 10px;

  .title-info {
    font-size: 19px;
    margin-bottom: 11px;
    font-weight: 600;
  }

  .Bold {
    display: inline-block;
    margin-left: 1px;
    color: #e75e83;
    font-weight: 600;
  }
}

.css-1ezbckq {
  fill: #eb6083;
}

.p-info ul {
  margin-bottom: 0;
}

h3.title-info {
  font-size: 1.1vw;
  margin-bottom: 7px;
  font-weight: 600;
  text-transform: CAPITALIZE;
}
.wishlist-offer ul {
}

.wishlist-offer {
  // position: relative;
  padding: 0;
}

.wishlist-offer li {
  margin-right: 0px;
  padding-left: 7px;
}

.product-sizeinfo .anchor-top {
  color: #eb6083;
  font-weight: 600;
  font-size: 11px;
  padding-left: 0;
  position: relative;
  text-transform: capitalize;
}

.policy-block {
  width: 100%;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  margin-top: 15px;
  padding: 0px 10px !important;
  position: relative;
}

.policy-block li:first-child {
  padding-left: 0;
}

.policy-block li {
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-top: 0px;
  line-height: 19px;
  list-style: disc;
  color: #7e808c;
  padding-left: 0px;
}
.product-smallinfo {
  border-bottom: 0.2px solid #ece8e8;
  padding-bottom: 10px;
}
.tax-inclusive {
  line-height: 7px !important;
  color: #8a9290;
  font-weight: 300;
  font-size: 12px !important;
  display: block;
  margin: 0px 10px 0 0;
}
.policy-block .anchor-top {
  color: #eb6083;
  font-weight: 600;
  font-size: 12px;
  padding-left: 5px;
}

.share-info {
}

.share-info li {
  display: inline-block;
}

.policy-block ul {
  margin-bottom: 0;
}

.share-info ul {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 8px;
}

.share-info li i {
  margin: 0 !important;
  padding: 6px;
  font-size: 1.1vw;
  width: auto !important;
  height: auto !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

div.quantity input[type="button"].minus {
  padding: 0 5px;
  min-width: 25px;
  height: 30px;
  border: 2px solid rgba(129, 129, 129, 0.2);
  background: 0 0;
  box-shadow: none;
  border-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.quantity span {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

div.quantity input[type="button"].plus {
  padding: 0 5px;
  min-width: 25px;
  height: 30px;
  border: 2px solid rgba(129, 129, 129, 0.2);
  background: 0 0;
  box-shadow: none;
  border-width: 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.quantity .quantity-field {
  width: 42px;
  height: 30px;
  border-right: none;
  border-left: none;
  margin: 0;
  display: initial;
  padding: 4px 7px 5px;
  text-align: center;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  border-top: 1px solid rgba(129, 129, 129, 0.2);
}

.display-flex {
  display: flex;
}

div.quantity input[type="number"] {
  width: 30px;
  height: 42px;
  border-right: none;
  border-left: none;
  border-width: 1px;
}

.share-title {
  font-size: 12px;
  margin-right: 5px;
  color: #1b1919;
  vertical-align: middle;
  font-weight: 600;
  text-transform: uppercase;
}

.productdetails-tabs textarea {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 13px;
  line-height: 1.25;
  color: #4e5154;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #babfc7;
  border-radius: 3px;
  font-weight: 300;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.rating-tab p {
  font-size: 1.1vw;
  margin-bottom: 0px;
}

.rating-tab p .danger {
  color: red;
  margin-right: 15px;
}

.review_comment_container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 15px 0;
}

.comment-text .star-rating {
  order: 2;
  margin-bottom: 10px;
  margin-right: 0;
}

.commentlist .comment-text .meta {
  order: 1;
  margin-bottom: 10px;
  font-size: 1.1vw;
  line-height: 18px;
}

.comment-text .description {
  flex: 1 1 100%;
  order: 3;
  margin-bottom: 0;
  max-width: 100%;
  line-height: 1.6;
}

.comment-text {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.avatar {
  flex: 1 0 auto;
  margin-left: 0;
  margin-right: 20px;
  max-width: 60px;
  border-radius: 50%;
}

.star-rating span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font-size: 0;
}

ngb-rating span {
  width: auto;
}

.confirm-popup-body li {
  list-style-type: none;
  display: none;
}

.confirm-popup-body li:first-child {
  display: block !important;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 100% !important;
  border-top: 0 solid transparent;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: inline-block;
  margin: 0;
}

.carousel-inner .active {
  display: block;
}

/**/
.product-gal {
  padding: 20px 15px;
}

.sticky-top {
  position: sticky;
  top: 18%;
  z-index: 99;
}

.product-gal-img {
  width: 60%;
  // height: 550px;
  text-align: center;
}

.product-gal-img .img-fluid {
  max-width: 100%;
  height: 100%;
  width: 100% !important;
}

.xzoom,
.xzoom-lens,
.xzoom-preview {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 1055;
}

.product-gal-thumb {
  margin-right: 10px;
}

.product-gal-thumb .xzoom-thumbs {
  margin-bottom: 0;
}

.xzoom-thumbs {
  text-align: center;
  margin-bottom: 10px;
}

.product-gal-thumb a {
  display: block;
}

.btn-anim-primary,
.form-control:focus,
.sub-cat-featured a:hover,
.brands-collapse-box li:hover,
.widget-profile-menu a.active,
button.paction.add-wishlist:hover,
button.paction.add-compare:hover,
.all-category-menu ul li.active,
.all-category-menu ul li.active:before,
.product-gal-thumb a img.xactive,
label.payment_option input:checked + span,
.link--bb-1,
.ribbon.bg-base-1:before,
.ribbon.bg-base-1:after,
.btn-base-1,
.card-hover--animation-1:hover .btn,
.delimiter-left-thick--style-1,
.checkbox input[type="checkbox"]:checked + label::before,
.checkbox input[type="radio"]:checked + label::before,
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before,
.radio-primary input[type="radio"]:checked + label::before,
input:checked + .toggle-switch-slider:before,
input:checked + .toggle-switch-slider,
.checkbox-alphanumeric input:checked ~ label,
.checkbox-color input:checked ~ label,
a > .feature--boxed-border:hover,
.icon-block--style-1-v3 .block-icon,
.icon-block--style-1-v5.block-bordered-grid-animated:hover .block-inner::after,
.icon-block--style-2-v2.active .block-icon,
.icon-block--style-2-v2:hover .block-icon,
.icon-block--style-4:hover .block-icon::after,
.pagination > .active .page-link,
.pagination > .active .page-link:focus,
.pagination > .active .page-link:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pricing-plans--style-2 .block-pricing.active .plan-title,
.nav-tab-image-wrapper:hover .nav-tab-image,
.tabs--style-1 .nav-tabs > li > a.active,
.tabs--style-1 .nav-tabs > li:first-child > a.active,
.tabs--style-2 .nav-tabs .nav-item.show .nav-link,
.tabs--style-2 .nav-tabs .nav-link.active,
.tabs--style-2 .nav-tabs .nav-link:hover,
.timeline-img,
.dropzone,
.milestone-counter .milestone-delimiter,
.search-widget .form-control:focus,
.search-widget--style-5 .form-control:focus,
.search-widget--style-5 .form-control:hover,
.typeface-palette a.active > .typeface-entry,
.typeface-palette a.active:hover > .typeface-entry,
.section-title-1 li a.active,
.section-title-1 li a:hover,
.bg-base-1 .btn-base-1,
.product-box-2 .add-to-cart,
.seller-shop-menu li.active a,
.seller-shop-menu li a:hover {
  border-color: #ff91a0;
}

.product-gal-thumb a img.xactive {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
}

.product-gal-thumb a img {
  max-width: 100px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 2px;
}

.xactive {
  -webkit-box-shadow: 0 0 3px 0 rgba(74, 169, 210, 1);
  -moz-box-shadow: 0 0 3px 0 rgba(74, 169, 210, 1);
  box-shadow: 0 0 3px 0 rgba(74, 169, 210, 1);
  border: 1px solid #4aaad2;
}

.xzoom-gallery,
.xzoom-gallery2,
.xzoom-gallery3,
.xzoom-gallery4,
.xzoom-gallery5 {
  border: 1px solid #cecece;
  margin-left: 5px;
  margin-bottom: 10px;
}

.product-gal-thumb {
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* width */
.product-gal-thumb ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.product-gal-thumb ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.product-gal-thumb ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
.product-gal-thumb ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/**/

/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider {
  width: 600px;
  background: #333;
  padding: 0px;

  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

#ninja-slider.fullscreen {
  background: black;
}

#ninja-slider div.fs-icon {
  top: 10px;
  right: 6px;
  width: 60px;
  height: 26px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  color: white;
  text-align: center;
  font: bold 11px/26px arial;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

#ninja-slider .slider-inner:hover div.fs-icon,
#ninja-slider.fullscreen div.fs-icon {
  opacity: 1;
}

#ninja-slider div.fs-icon::before {
  content: "EXPAND";
  display: block;
}

#ninja-slider.fullscreen div.fs-icon::before {
  content: "CLOSE";
}

#ninja-slider .slider-inner {
  margin: 0 auto;
  /*center-aligned */
  font-size: 0px;
  position: relative;
  box-sizing: border-box;
}

#ninja-slider.fullscreen .slider-inner {
  width: 100%;
  max-width: 950px;
}

#ninja-slider ul {
  /*width:100%;*/

  /*overflow:hidden;*/
  position: relative;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  touch-action: pan-y;
  padding-top: 130% !important;
}

#ninja-slider li {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  box-sizing: border-box;
}

#ninja-slider li.ns-show {
  opacity: 1;
}

/* --------- slider image ------- */
#ninja-slider .ns-img {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: contain;
  /*Note: If transitionType is zoom, it will be overridden to cover.*/

  /*decorate border*/
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8),
    inset 0 0 2px rgba(255, 255, 255, 0.4);

  cursor: default;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ---------If there are videos ------- */
#ninja-slider .video,
.video-playbutton-layer {
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: black;
  position: absolute;
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
  background: transparent url() no-repeat center center;
}

/* And if you have YouTube or Vimeo */
#ninja-slider div.stopVideoIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0px;
  margin: 0 0 6px 6px;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

#ninja-slider div.stopVideoIcon::before {
  content: "+";
  color: white;
  font: bold 30px/30px arial;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

/* ---------Arrow buttons ------- */
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
#ninja-slider-pause-play {
  display: none;
}

#ninja-slider-prev,
#ninja-slider-next {
  position: absolute;
  display: inline-block;
  width: 42px;
  height: 56px;
  line-height: 56px;
  top: 50%;
  margin-top: -28px;
  /* background-color:rgba(0,0,0,0.4); */
  /* background-color:#ccc;IE8 hack */
  backface-visibility: hidden;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
  z-index: 10;
  opacity: 0.3;
  font-family: sans-serif;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

#ninja-slider-prev:hover,
#ninja-slider-next:hover {
  opacity: 1;
}

#ninja-slider.fullscreen #ninja-slider-prev:hover,
#ninja-slider.fullscreen #ninja-slider-next:hover {
  width: 90px;
}

#ninja-slider-prev {
  left: 0;
}

#ninja-slider-next {
  right: 0;
}

#ninja-slider.fullscreen #ninja-slider-prev {
  left: -50px;
  opacity: 1;
}

#ninja-slider.fullscreen #ninja-slider-next {
  right: -50px;
  opacity: 1;
}

/*pagination within the prev/next buttons*/
#ninja-slider-prev div {
  opacity: 0;
  margin-left: 30px;
  transition: opacity 0.7s;
}

#ninja-slider-next div {
  opacity: 0;
  margin-right: 30px;
  transition: opacity 0.7s;
}

#ninja-slider.fullscreen #ninja-slider-prev:hover div {
  opacity: 1;
}

#ninja-slider.fullscreen #ninja-slider-next:hover div {
  opacity: 1;
}

/* arrows */
#ninja-slider-prev::before,
#ninja-slider-next::before {
  position: absolute;
  top: 17px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

#ninja-slider-prev::before {
  -ms-transform: rotate(-45deg);
  /*IE 9*/
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  backface-visibility: hidden;
  left: 14px;
}

#ninja-slider-next::before {
  -ms-transform: rotate(135deg);
  /*IE 9*/
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  backface-visibility: hidden;
  right: 14px;
}

/*------ pager(nav bullets) ------*/
/* The pager id should be: slider id + "-pager" */

#ninja-slider-pager {
  display: none;
}

#ninja-slider-pager,
#ninja-slider-prev,
#ninja-slider-next,
#ninja-slider-pause-play {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* http://www.menucool.com/jquery-slider */

/*---------------------------- Thumbnails ----------------------------*/
#thumbnail-slider {
  height: 600px;
  display: inline-block;
  padding: 0px 0;
  /*Increse its value if want to move the arrows out of the div.inner */
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

#thumbnail-slider div.inner {
  border-radius: 3px;
  background-color: #444;
  padding: 0 12px;

  /*the followings should not be changed */
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 0;
}

#thumbnail-slider div.inner ul {
  /*the followings should not be changed */
  position: relative;
  left: 0;
  top: 0;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
  float: left !important;
  width: auto !important;
  height: auto !important;
}

#thumbnail-slider ul li {
  opacity: 1;
  display: block;
  border: 3px solid transparent;
  margin: 4px 0;
  /* Spacing between thumbs*/

  transition: all 0.5s;

  text-align: center;
  padding: 0;
  position: relative;
  list-style: none;
  box-sizing: content-box;
  backface-visibility: hidden;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#thumbnail-slider ul li.active {
  border-color: white;
  -webkit-filter: initial;
  filter: initial;
}

#thumbnail-slider li:hover {
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

#thumbnail-slider .thumb {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  font-size: 0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {
  display: none;
}

/*.pause*/

#thumbnail-slider-prev,
#thumbnail-slider-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  color: white;
  z-index: 10;
  cursor: pointer;
  transition: opacity 0.6s;
  *background-color: #ccc;
  /*IE7 hack*/
  backface-visibility: hidden;
}

#thumbnail-slider-prev {
  top: 0;
}

#thumbnail-slider-next {
  bottom: 0;
}

#thumbnail-slider-next.disabled,
#thumbnail-slider-prev.disabled {
  opacity: 0.1;
  cursor: default;
}

/* arrows */
#thumbnail-slider-prev::before,
#thumbnail-slider-next::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  border-left: 4px solid white;
  border-top: 4px solid white;
}

#thumbnail-slider-prev::before {
  top: 12px;
  -ms-transform: rotate(-45deg);
  /*IE9*/
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#thumbnail-slider-next::before {
  bottom: 12px;
  -ms-transform: rotate(135deg);
  /*IE9*/
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.image-grid-container {
  float: right;
  width: 100%;
}

.image-grid-col50 {
  width: 32%;
  float: left;
  margin-bottom: 1%;
  margin-left: 1%;
  position: relative;
  text-align: center;
  color: white;
}

// .image-grid-col50:nth-child(2n) {
//   margin-left: 1%;
// }
.image-grid-imageContainer {
  height: 0;
  padding-top: 133.33333333333331%;
  overflow: hidden;
  position: relative;
  border: 1px solid #f5f5f6;
}

.image-grid-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: border-box;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  will-change: transform;
}

.image-grid-skeletonLoader {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 99.99%;
  height: 99.99%;
  background: #eaeaec -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, #eaeaec),
      color-stop(35%, #dad9d9),
      color-stop(70%, #eaeaec),
      to(#eaeaec)
    ) no-repeat;
  background: #eaeaec
    linear-gradient(left, #eaeaec, #dad9d9 35%, #eaeaec 70%, #eaeaec) no-repeat;
  background-size: 800px 100%;
  -webkit-animation: image-grid-loading-skeleton 1.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite forwards;
  animation: image-grid-loading-skeleton 1.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite forwards;
}

.red {
  outline: 150px solid rgba(255, 0, 0, 0.5) !important;
  outline-offset: -150px;
  overflow: hidden;
  position: relative;
}

.more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
}

.p_max {
  height: 115px;
  /* background: #ff0; */
  overflow: hidden;
}

.p_min {
  height: 100%;
}

.anchor-detail {
  color: #eb6083;
  font-weight: 600;
  font-size: 12px;
  padding-left: 0;
}

.anchor-detail {
  text-transform: uppercase;
  float: right;
}

.carBtn {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
}

.leftRs {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 50%;
  height: 30px;
  left: 0;
  z-index: 1;
  border: none;
}

.rightRs {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 50%;
  height: 30px;
  right: 0;
  z-index: 1;
  border: none;
}

.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;

  li {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.55);
    padding: 4px;
    margin: 0 3px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;

    &.active {
      background: #6b6b6b;
      transform: scale(1.2);
    }
  }
}

.carouselHoved {
  opacity: 0.4;
}

.myBannerPoint {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0;
  color: beige;
  justify-content: center;
  list-style-type: none;
  background: rgba(0, 0, 0, 0.34);
  margin: 0;
  padding: 10px;
  box-sizing: border-box;

  li {
    background: #6b6b6b;
    width: 50px;
    height: 50px;
    margin-right: 10px;

    &.active {
      transform: translateY(-10px);
      transition: 0.3s ease all;
    }
  }
}

.carouselTile {
  padding: 0px;
  box-sizing: border-box;
}

.price-guar span {
  color: #e75e83;
  border-radius: 50%;
  width: 16px;
  height: 14px;
  display: inline-flex;
  text-align: center;
  font-size: 11px;
  line-height: 12px;
  margin-right: 2px;
  justify-content: center;
}

.price-guar {
  font-size: 12px;
  line-height: 17px;
  font-weight: 600;
  margin: 0 -5px -6px;
  margin: 0px 0px !important;
  color: #6e6f6f !important;
  border: 1px solid #e75e83 !important;
  border-radius: 3px;
  padding: 2px 5px;
  cursor: pointer;
}

.product-pininfo p {
  margin-bottom: 0;
  padding: 0;
}
.price-guartext a {
  color: #eb6083 !important;
  font-weight: 600 !important;
  font-size: 12px;
  padding-left: 0;
}
.price-guartext p {
  font-size: 13px;
  line-height: 21px;
}
.price-guartext li {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #666666;
}

.price-guartext ul {
  padding-left: 16px;
}
.pincode-submit-btn span {
  display: inherit !important;

  margin-right: 6px !important;
}
.estimated-date span {
  display: inherit !important;
  color: #e75e83;
  font-weight: 600;
}
.wishlistclass i {
  color: #e75e83;
}
.wishlistclass {
  // color: #e75e83 !important;
}

.tile {
  margin-bottom: 10px;
}
.tile .image-wrapper img {
  opacity: 1;
}
.tile .image-wrapper img.active2 {
  opacity: 1;
}

.primary-optionspan {
  display: block !important;
}

.primary-div {
  display: inline-block;
}

.image-wrapper img {
  border: 1px solid #ccc;
  padding: 7px;
}

.image-wrapper img.active2 {
  box-shadow: 0 1px 3px 0 #9ccae8;
  padding: 7px;
  border: 1px solid #eb6083;
  background: #cccccc52;
}
#myimage {
}

.operation-slick {
  display: none;
}
.pswp__button.pswp__button--zoom {
  display: none;
}

.product-breadcrumb li:last-child a::after {
  content: none;
}
