<app-desktop-header></app-desktop-header>
<app-breadcrumb [headername]="pageTitle"></app-breadcrumb>
<div class="productdetail-page bg-light-blueshade" *ngIf="!loading">
  <div class="breadcrumb-section bg--grey p-t5 p-b5 m-none">
    <div class="container">
      <div class="align-items-center row">
        <div class="col-md-12 p-t5 p-b5">
          <ul class="product-breadcrumb m-none">
            <li><a routerLink="/home">home</a></li>
            <li>
              <a>{{ productDetails?.cname }}</a>
            </li>
            <li>
              <a>{{ productDetails?.pv_name | titlecase }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="productblock-page p-t7 pb-0">
    <div class="container">
      <div class="row">
        <!-- Product Images -->
        <div
          class="col-lg-6 col-xl-6 col-md-6 custom-image-size1"
          [ngClass]="{ 'px-0': isMobile }"
        >
          <div class="row" *ngIf="isDesktop">
            <div class="col-lg-2 col-md-2 px-0 product-slideslick">
              <ngx-slick-carousel
                class="carousel"
                #slickModal="slick-carousel"
                [config]="thumbConfig"
                (init)="slickInit($event)"
                (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)"
              >
                <div
                  ngxSlickItem
                  class="productlist-block product"
                  *ngFor="let product of imgags; let i = index"
                >
                  <div class="tile product-image">
                    <div class="image-wrapper">
                      <img
                        [src]="product"
                        (click)="
                          changeimage(product); listImageClick($event, product)
                        "
                        [ngClass]="{ active2: selectedItem2 == product }"
                      />
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
            <div class="col-lg-10 col-md-10 custom-image px-2">
              <div class="d-none">
                <a>
                  <div class="product-list" photoGalleryGroup>
                    <div *ngFor="let image of productDetails?.images">
                      <div class="product-image px-2" [photoGallery]="image">
                        <img src="{{ productImage }}" id="clickbtn" />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="" (click)="on_clcik(productImage)">
                <ngx-img-zoom
                  [zoomImageSrc]="productImage"
                  [previewImageSrc]="productImage"
                  [imgStyle]="
                    'bottom:0;  left:0;  right:0;  top:0;  margin:0 auto; border:1px solid #dcdcdc;'
                  "
                  [resultStyle]="
                    'width:550px; height:550px; background-repeat: no-repeat; z-index: 2; position:absolute;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 106%;'
                  "
                  [lensStyle]="'width:150px; height:150px'"
                  [magnification]="10"
                  [enableScrollZoom]="true"
                  [enableLens]="true"
                >
                </ngx-img-zoom>
              </div>
            </div>
          </div>
          <div *ngIf="isMobile">
            <owl-carousel-o [options]="ProductOptions" photoGalleryGroup>
              <ng-template
                carouselSlide
                class="productlist-block"
                *ngFor="let image of productDetails?.images"
              >
                <a>
                  <div class="product-list">
                    <div class="product-image px-2" [photoGallery]="image">
                      <img [src]="image" style="object-fit: cover" />
                    </div>
                  </div>
                </a>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
        <!-- Product Images -->
        <div
          class="col-lg-6 col-xl-6 col-md-5"
          [ngClass]="{ 'px-0': isMobile }"
        >
          <div class="product-smallinfo p-info">
            <h1 class="product-info-name">{{ productDetails?.pv_name }}</h1>
            <!-- <p [innerHTML]="productDetails.p_desc"></p> -->
            <!-- <div class="price-guar m-none">
              <a (click)="openPriceguarantee(priceguarantee)">
                <span><i class="fal fa-thumbs-up"></i> </span>Price Guarantee</a
              >
            </div> -->
            <ul>
              <li class="psell-price">
                &#x20B9;<span>{{ productDetails?.pv_price }}</span>
              </li>
              <li
                class="psell-mrp"
                *ngIf="productDetails?.pv_price != productDetails?.pv_mrp"
              >
                &#x20B9;<span>{{ productDetails?.pv_mrp }}</span>
              </li>
              <li class="psell-discount" *ngIf="productDetails?.discount > 0">
                (<span>{{ productDetails?.discount }}</span> % OFF)
              </li>
              <li>
                <div class="price-guar">
                  <a (click)="openPriceguarantee(priceguarantee)">
                    <span><i class="fal fa-thumbs-up"></i> </span>Price
                    Guarantee</a
                  >
                </div>
              </li>
              <p class="tax-inclusive">Inclusive of all taxes</p>
            </ul>
            <div class="quantity m-r5 dt-none m-t5 align-items-center">
              <span class="m-l10 m-t10 m-b10">Quantity : </span>
              <input
                type="button"
                (click)="decrement(quantity)"
                value="-"
                class="minus"
              />
              <div class="quantity-field">{{ quantity }}</div>
              <input
                type="button"
                value="+"
                (click)="increment(quantity)"
                class="plus"
              />
            </div>
            <span class="wishlist-offer dt-none">
              <ul>
                <li (click)="addToWishlist()" *ngIf="!wishlistExists">
                  <i class="fal fa-heart"></i>
                </li>
                <li (click)="addToWishlist()" *ngIf="wishlistExists">
                  <i class="fas fa-heart"></i>
                </li>
              </ul>
            </span>
            <span
              class="similar-prod simi-menu dt-none"
              (click)="openSimilar(similar)"
            >
              <i class="ion-ios-copy-outline"></i>Similar
            </span>
          </div>
          <div class="row mx-0 desktop-flex">
            <div class="row mx-0 m-none">
              <div class="col-lg-6 px-0">
                <div class="policy-block">
                  <ul>
                    <li>
                      <h3 class="title-info">RETURN :</h3>
                    </li>
                    <li>
                      Return :
                      <span class="anchor-top"
                        ><a (click)="getPolicy('return-policy')">
                          View Details</a
                        ></span
                      >
                    </li>
                    <li>
                      Cancellation Refund?:
                      <span class="anchor-top"
                        ><a (click)="getPolicy('cancellation-refund-policy')"
                          >View Details</a
                        ></span
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 px-0">
                <div class="policy-block">
                  <ul>
                    <li>
                      <h3 class="title-info">DETAILS:</h3>
                    </li>
                    <li>
                      Brand Name :{{ productDetails.store_name }} <br />
                      Store Info :
                      <span class="anchor-top"
                        ><a
                          routerLink="/seller-shop/{{
                            productDetails.seller_url_slug
                          }}"
                          class="anchor-top"
                          >Visit Store</a
                        ></span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12 px-0">
              <h3 class="m-l0 m-t0 m-b10 m-none title-info">Quantity</h3>
              <div class="col-lg-12 p-a0 display-flex m-none">
                <div class="quantity m-r10">
                  <input
                    type="button"
                    (click)="decrement(quantity)"
                    value="-"
                    class="minus"
                  />
                  <div class="quantity-field">{{ quantity }}</div>
                  <input
                    type="button"
                    value="+"
                    (click)="increment(quantity)"
                    class="plus"
                  />
                </div>
                <div
                  *ngIf="
                    !addedClass && productDetails?.stock > 0;
                    else cartblock
                  "
                  (click)="addToCart(productDetails.product_variant_id)"
                >
                  <button
                    type="submit"
                    class="btn btn-style-bg text-uppercase m-r10 m-t0"
                  >
                    Add To Cart
                  </button>
                </div>
                <div class="" *ngIf="productDetails?.stock == 0">
                  <button
                    type="submit"
                    class="btn btn-grey-bg text-uppercase m-r10 m-t0"
                  >
                    Out of Stock
                  </button>
                </div>
                <div *ngIf="addedClass">
                  <button
                    type="submit"
                    routerLink="/shop/shoppingcart"
                    class="btn btn-style-bg text-uppercase m-r10 m-t0"
                  >
                    Go To Cart
                  </button>
                </div>
                <button
                  type="submit"
                  (click)="addToWishlist()"
                  *ngIf="wishlistExists"
                  class="btn btn-style-bg wishlistclass m-t0 bg-transparent text-uppercase"
                >
                  <i class="fas fa-heart active"></i> Added To Wishlist
                </button>
                <button
                  type="submit"
                  (click)="addToWishlist()"
                  *ngIf="!wishlistExists"
                  class="btn btn-style-bg m-t0 bg-transparent text-uppercase"
                >
                  <i class="fal fa-heart active"></i> Add To Wishlist
                </button>
              </div>
              <div class="product-pininfo p-info">
                <form [formGroup]="pincodeForm" (ngSubmit)="onFormSubmit()">
                  <input
                    class="form-control input-md"
                    (keypress)="omit_char($event)"
                    formControlName="pincode"
                    type="text"
                    placeholder="Enter the pincode."
                    [ngClass]="{
                      'is-invalid':
                        pincodeForm.get('pincode').errors &&
                        (pincodeForm.get('pincode').dirty ||
                          pincodeForm.get('pincode').touched ||
                          isSubmit)
                    }"
                    minlength="6"
                    maxlength="6"
                  />
                  <button
                    type="submit"
                    *ngIf="!pincodeLoading"
                    class="pincode-submit-btn"
                  >
                    Check Delivery Time
                  </button>
                  <button
                    class="pincode-submit-btn"
                    type="submit"
                    disabled
                    *ngIf="pincodeLoading"
                  >
                    <span
                      class="spinner-border spinner-border-sm text-white"
                      role="status"
                    ></span>
                    <span class="load-text text-white">Checking...</span>
                  </button>
                  <label
                    *ngIf="
                      pincodeForm.get('pincode').errors?.minlength
                        ?.requiredLength ||
                      pincodeForm.get('pincode').errors?.maxLength
                        ?.requiredLength
                    "
                    class="error jquery-validation-error small form-text invalid-feedback"
                    >Please enter 6 digits only.</label
                  >
                  <label
                    *ngIf="
                      pincodeForm.get('pincode').errors?.required &&
                      (pincodeForm.get('pincode').dirty ||
                        pincodeForm.get('pincode').touched ||
                        isSubmit)
                    "
                    class="error jquery-validation-error small form-text invalid-feedback"
                    >Please enter the pincode.</label
                  >
                  <ul *ngIf="estimatedDelivery" class="estimated-date">
                    <li>
                      Expected Delivery <span>{{ estimatedDelivery }}</span
                      ><br />
                      The final delivery date will depend on the items in your
                      Cart
                    </li>
                  </ul>
                </form>
              </div>
              <div class="product-offerinfo p-info">
                <h3 class="title-info">Offers</h3>
                <a routerLink="/offers" class="anchor-top">View More Offers</a>
                <owl-carousel-o [options]="offerOptions">
                  <ng-template
                    carouselSlide
                    class="productlist-block"
                    *ngFor="let coupon of coupons"
                  >
                    <div class="row offers-block v-row">
                      <div class="col-lg-4 col-xs-4 col-sm-4 offer-left p-l10">
                        <p class="px-2">
                          Use Code <br />
                          <b>{{ coupon.code }}</b> <br />
                          <a class="anchor"> View T&C</a>
                        </p>
                      </div>
                      <div class="col-lg-8 col-xs-8 col-sm-8 offer-right">
                        <div class="offer-des">
                          Save
                          <span>
                            &#x20B9; {{ coupon.savings.toFixed(0) }}
                          </span>
                        </div>
                        <p>{{ coupon.description }}</p>
                      </div>
                    </div>
                  </ng-template>
                </owl-carousel-o>
              </div>
            </div>
            <div
              class="col-lg-12 px-0"
              *ngIf="variantOptions?.primaryAttributeName"
            >
              <div class="product-colorinfo p-info">
                <ul>
                  <li>
                    <h3 class="title-info">
                      {{ variantOptions?.primaryAttributeName }} :
                    </h3>
                  </li>
                  <li
                    *ngFor="
                      let primaryOption of variantOptions?.primaryOptions;
                      let check = index
                    "
                    [ngClass]="{
                      active:
                        variantOptions.selectedPrimaryAttr ==
                        primaryOption.option_name
                    }"
                    (change)="onFilterChange($event, primaryOption)"
                  >
                    <div
                      class="code-border"
                      *ngIf="primaryOption?.colour_code != null"
                    >
                      <label
                        class="color-code"
                        [style.background-color]="primaryOption?.colour_code"
                      >
                        <input
                          type="radio"
                          value="{{ primaryOption?.option_name }}"
                          id="{{ primaryOption?.option_name }}_{{ check }}_{{
                            primaryOption?.t_rel_elm_var_id
                          }}"
                        />
                      </label>
                    </div>
                    <div class="product-sizeinfo primary-div">
                      <li>
                        <span
                          [ngClass]="{
                            active:
                              variantOptions.selectedPrimaryAttr ==
                              primaryOption.option_name
                          }"
                          *ngIf="primaryOption?.colour_code == null"
                          class="primary-optionspan"
                        >
                          <input
                            type="radio"
                            id="{{ primaryOption.option_name }}_{{
                              primaryOption.t_rel_elm_var_id
                            }}"
                          />
                          {{ primaryOption?.option_name }}
                        </span>
                      </li>
                    </div>
                  </li>
                  <!-- 
                  <li
                    *ngFor="let primaryOption of variantOptions?.primaryOptions"
                    [ngClass]="{
                      active: selectedItem == primaryOption.product_variant_id
                    }"
                    (click)="onFilterChange($event, primaryOption)"
                  >
                    <span>
                      <input
                        type="radio"
                        id="{{ primaryOption.option_name }}_{{
                          primaryOption.t_rel_elm_var_id
                        }}"
                      />
                      {{ primaryOption?.option_name }}
                    </span>
                  </li> -->
                </ul>
              </div>
              <div
                class="product-sizeinfo p-info"
                *ngIf="variantOptions.secondaryAttributeName"
              >
                <ul>
                  <li>
                    <h3
                      class="title-info"
                      *ngIf="variantOptions?.secondaryOptions.length > 0"
                    >
                      {{ variantOptions?.secondaryAttributeName }} :
                      <a
                        href="javascript:void(0)"
                        (click)="openSizechart(sizechart)"
                        class="anchor-top"
                        *ngIf="productDetails?.sizechart_image != null"
                        ><i class="ti ti-ruler-alt"></i>Size Chart</a
                      >
                    </h3>
                  </li>
                  <li
                    *ngFor="
                      let secondaryOption of variantOptions?.secondaryOptions;
                      let checksize = index
                    "
                    [ngClass]="{
                      active: selectedItem == secondaryOption.product_variant_id
                    }"
                    (click)="onFilterChange($event, secondaryOption)"
                  >
                    <span>
                      <input
                        type="radio"
                        id="{{ secondaryOption.option_name }}_{{ checksize }}_{{
                          secondaryOption.t_rel_elm_var_id
                        }}"
                      />
                      {{ secondaryOption?.option_name }}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 share-info m-none">
            <ul class="social-footer">
              <li class="share-title">Share :</li>
              <li>
                <a href="https://www.facebook.com/fabpik.in" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/FabpikI" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/fabpik.in/"
                  target="_blank"
                >
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://in.pinterest.com/FabPikIndia/" target="_blank">
                  <i class="fab fa-pinterest"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.snapchat.com/add/fabpikindia"
                  target="_blank"
                >
                  <i class="fab fa-snapchat-ghost"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="product-returninfo p-info dt-none">
            <h3 class="title-info">Returns</h3>
            <p>
              Easy 30 days return and exchange. Return Policies may vary based
              on products and promotions. For full details on our Returns
              Policies, please
              <a
                href="#"
                class="link-anchor"
                (click)="getPolicy('return-policy')"
                >Click Here</a
              >
            </p>
          </div>
          <div class="product-detailinfo p-info dt-none">
            <h3 class="title-info">Product Details</h3>
            <div
              class=""
              id="toggle"
              [ngClass]="productlessclass ? 'p_min' : 'p_max'"
            >
              <p [innerHTML]="productDetails.pv_desc"></p>
            </div>
            <a
              href="javascript:void(0)"
              class="anchor-detail"
              (click)="filterPopup()"
              [ngClass]="productlessclass ? 'close' : 'open'"
              >More Details <i class="fal fa-chevron-down"></i
            ></a>
            <a
              href="javascript:void(0)"
              class="anchor-detail"
              (click)="filterPopup()"
              [ngClass]="productlessclass ? 'open' : 'close'"
              >Less details <i class="fal fa-chevron-up"></i
            ></a>
          </div>
          <div class="product-pininfo p-info dt-none">
            <h3 class="title-info">Specification</h3>
            <p *ngIf="productDetails?.wash_name != null">
              Washing Type: {{ productDetails.wash_name }}
            </p>
            <p *ngIf="productDetails?.iron_name != null">
              Iron Type: {{ productDetails.iron_name }}
            </p>
            <p *ngIf="productDetails?.iron_name != null">
              Iron Type: {{ productDetails.iron_name }}
            </p>
            <p>
              No Of Items in the Package:
              <b>{{ productDetails?.items_in_package }}</b>
            </p>
            <p *ngIf="productDetails?.iron_name != null">
              Dress Material: {{ productDetails.dress_material }}
            </p>
          </div>
        </div>
        <!-- Product Information -->
      </div>
    </div>
    <div class="container p-t50 p-b30 m-none">
      <div class="row" [@.disabled]="true">
        <mat-tab-group class="productdetails-tabs" mat-align-tabs="center">
          <mat-tab label="description">
            <div class="m-t20">
              <p [innerHTML]="productDetails.pv_desc"></p>
            </div>
          </mat-tab>
          <mat-tab label="More Info">
            <div class="m-t20 p-l20 p-r20">
              <ul>
                <li>
                  <p>
                    <span>Weight</span>
                    {{ productDetails?.shipping_weight / 1000 }} kg
                  </p>
                </li>
                <li>
                  <p>
                    <span>Dimensions</span>
                    {{ productDetails?.shipping_length }} ×
                    {{ productDetails?.shipping_breadth }} ×
                    {{ productDetails?.shipping_height }} cm
                  </p>
                </li>
                <li>
                  <p>
                    <span> Color </span>
                    {{ selectedProductVariant?.primary_attribute_option }}
                  </p>
                </li>
                <li>
                  <p>
                    <span>Age / Size</span>
                    {{ selectedProductVariant?.secondary_attribute_option }}
                  </p>
                </li>
              </ul>
            </div>
          </mat-tab>
          <!-- <mat-tab label=" REVIEWS">
            <div class="m-t20 p-l20 p-r20 rating-tab">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <h3 class="title-info">REVIEWS:</h3>
                  <p>There are no reviews yet.</p>
                  <ul>
                    <li>
                      <div class="review_comment_container">
                        <img
                          src="assets/images/icons/avatar.png"
                          class="avatar"
                        />
                        <div class="comment-text">
                          <ngb-rating
                            [max]="5"
                            disabled
                            [(rate)]="starRated"
                            [readonly]="false"
                          ></ngb-rating>
                          <p class="meta">
                            <em class="woocommerce-review__awaiting-approval">
                              Your review is awaiting approval
                            </em>
                          </p>
                          <div class="description">
                            <p>good</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                  <h3 class="title-info">ADD A REVIEW :</h3>
                  <form>
                    <p>
                      Your Rating <span class="danger">*</span>
                      <ngb-rating
                        [(rate)]="currentRate"
                        [readonly]="false"
                      ></ngb-rating>
                    </p>
                    <p>Your review <span class="danger">*</span></p>
                    <textarea rows="10" cols="90"></textarea>
                    <button
                      type="submit"
                      class="btn btn-style-bg text-uppercase m-r10"
                    >
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </mat-tab> --></mat-tab-group
        >
      </div>
    </div>
  </section>
  <!-- Similar Products -->
  <section
    class="p-info bg-light-shade products-slider p-t20"
    *ngIf="flashDeals.length > 0"
    [ngClass]="{ 'py-4': isDesktop }"
  >
    <div class="container carousel-recommended px-0">
      <h3 class="title-info">Recommended Products</h3>
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          ngxSlickItem
          class="productlist-block"
          *ngFor="let product of flashDeals"
        >
          <a routerLink="/products/{{ product.slug }}/{{ product.unique_id }}">
            <app-product-item [productItem]="product"></app-product-item>
          </a>
        </div>
      </ngx-slick-carousel>
    </div>
  </section>
  <!-- Similar Products -->
</div>
<!-- Skeleton Loader -->
<div class="productdetail-page bg-light-blueshade" *ngIf="loading">
  <section class="productblock-page pt-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xl-6 col-md-12 px-0">
          <ngx-skeleton-loader
            class="text-center"
            [theme]="{
              height: '380px',
              width: '100%',
              'margin-bottom': '-12px',
              'border-radius': '0px'
            }"
          >
          </ngx-skeleton-loader>
        </div>
        <div
          class="col-lg-4 col-xl-6 col-md-11 mx-auto"
          [ngClass]="{ 'px-0': isMobile }"
        >
          <div class="product-smallinfo p-info">
            <h1 class="product-info-name mt-0 d-flex flex-column">
              <ngx-skeleton-loader
                [theme]="{
                  height: '10px',
                  width: '160px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
              <ngx-skeleton-loader
                [theme]="{
                  height: '10px',
                  width: '200px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
              <ngx-skeleton-loader
                [theme]="{
                  height: '10px',
                  width: '120px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </h1>
          </div>
          <div class="row mx-0 desktop-flex">
            <div class="col-lg-12 px-0 m-t10">
              <div class="product-pininfo p-info">
                <form [formGroup]="pincodeForm" (ngSubmit)="onFormSubmit()">
                  <h1 class="product-info-name">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '30px',
                        width: '100%',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </h1>
                  <h1 class="product-info-name">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '10px',
                        width: '100px',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </h1>
                  <h1 class="product-info-name">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '10px',
                        width: '140px',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                  </h1>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 px-0">
            <div class="product-offerinfo p-info dt-none">
              <h3 class="title-info">
                <ngx-skeleton-loader
                  [theme]="{
                    height: '10px',
                    width: '80px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
              <a class="anchor-top">
                <ngx-skeleton-loader
                  [theme]="{
                    height: '10px',
                    width: '70px',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </a>
              <h3 class="title-info">
                <ngx-skeleton-loader
                  [theme]="{
                    height: '100px',
                    width: '100%',
                    margin: '0px',
                    'border-radius': '0px'
                  }"
                >
                </ngx-skeleton-loader>
              </h3>
            </div>
          </div>
          <div class="col-lg-12 px-0">
            <div class="product-colorinfo p-info">
              <ul>
                <li>
                  <h3 class="title-info">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '15px',
                        width: '70px',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                    :
                  </h3>
                </li>
                <li>
                  <ngx-skeleton-loader
                    appearance="circle"
                    count="4"
                    [theme]="{ height: '30px', width: '30px', margin: '5px' }"
                  ></ngx-skeleton-loader>
                </li>
              </ul>
            </div>
            <div class="product-sizeinfo p-info m-b10">
              <ul>
                <li>
                  <h3 class="title-info">
                    <ngx-skeleton-loader
                      [theme]="{
                        height: '15px',
                        width: '70px',
                        margin: '0px',
                        'border-radius': '0px'
                      }"
                    >
                    </ngx-skeleton-loader>
                    <a class="anchor-top mt-1">
                      <ngx-skeleton-loader
                        [theme]="{
                          height: '15px',
                          width: '70px',
                          margin: '0px',
                          'border-radius': '0px'
                        }"
                      >
                      </ngx-skeleton-loader>
                    </a>
                  </h3>
                </li>
                <li>
                  <ngx-skeleton-loader
                    appearance="circle"
                    count="4"
                    [theme]="{
                      height: '30px',
                      width: '30px',
                      margin: '5px',
                      'border-radius': '10px'
                    }"
                  >
                  </ngx-skeleton-loader>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-returninfo p-info dt-none">
            <h3 class="title-info">
              <ngx-skeleton-loader
                [theme]="{
                  height: '15px',
                  width: '70px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </h3>
            <p>
              <ngx-skeleton-loader
                count="4"
                [theme]="{
                  height: '10px',
                  width: '100%',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </p>
          </div>
          <div class="product-returninfo p-info dt-none">
            <h3 class="title-info">
              <ngx-skeleton-loader
                [theme]="{
                  height: '15px',
                  width: '70px',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </h3>
            <p>
              <ngx-skeleton-loader
                count="4"
                [theme]="{
                  height: '10px',
                  width: '100%',
                  margin: '0px',
                  'border-radius': '0px'
                }"
              >
              </ngx-skeleton-loader>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
<div class="product-footer dt-none">
  <div class="container h-100 px-0">
    <div class="row v-row">
      <div class="col-lg-12">
        <ul class="pl-0">
          <li>
            <a routerLink="/"><i class="fal fa-home-lg-alt"></i> </a>
          </li>
          <li>
            <!-- <a href="settings.html"><i class="lni lni-whatsapp"></i></a> --><a
              href="https://api.whatsapp.com/send?text=www.google.com"
              data-action="share/whatsapp/share"
              ><i class="lni lni-whatsapp"></i
            ></a>
          </li>
          <li>
            <a href="/seller-shop/{{ productDetails?.seller_url_slug }}"
              ><i class="fal fa-store"></i><span>Store</span></a
            >
          </li>
          <li
            *ngIf="!addedClass && productDetails?.stock > 0; else cartblock"
            class="btn-style-bg1"
            (click)="openAddToCartModal(content2)"
          >
            <a href="javascript:void(0)">
              <svg
                width="18"
                height="18"
                viewBox="0 0 24 24"
                class="atb-button-icon"
              >
                <g fill="none" fill-rule="evenodd">
                  <path
                    fill="#ffffff"
                    d="M4.012 20.718L5.246 7.314H7.27v1.763a.733.733 0 101.466 0V7.314h6.528v1.763a.733.733 0 001.466 0V7.314h2.024l1.234 13.404H4.012zM12 3.282c1.56 0 2.865 1.1 3.187 2.565H8.813A3.268 3.268 0 0112 3.282zm8.15 3.228a.733.733 0 00-.73-.663h-2.747A4.734 4.734 0 0012 1.816a4.734 4.734 0 00-4.673 4.03H4.58a.733.733 0 00-.73.664L2.475 21.38a.734.734 0 00.73.804h17.59a.733.733 0 00.73-.803L20.15 6.51z"
                  ></path>
                  <path d="M0 0h24v24H0z" opacity="0.05"></path>
                </g>
              </svg>
              <span class="text-white">Add to Cart</span>
            </a>
          </li>
          <li class="btn-grey-bg1" *ngIf="productDetails?.stock == 0">
            <a href="javascript:void(0)">
              <svg
                width="18"
                height="18"
                viewBox="0 0 24 24"
                class="atb-button-icon"
              >
                <g fill="none" fill-rule="evenodd">
                  <path
                    fill="#ffffff"
                    d="M4.012 20.718L5.246 7.314H7.27v1.763a.733.733 0 101.466 0V7.314h6.528v1.763a.733.733 0 001.466 0V7.314h2.024l1.234 13.404H4.012zM12 3.282c1.56 0 2.865 1.1 3.187 2.565H8.813A3.268 3.268 0 0112 3.282zm8.15 3.228a.733.733 0 00-.73-.663h-2.747A4.734 4.734 0 0012 1.816a4.734 4.734 0 00-4.673 4.03H4.58a.733.733 0 00-.73.664L2.475 21.38a.734.734 0 00.73.804h17.59a.733.733 0 00.73-.803L20.15 6.51z"
                  ></path>
                  <path d="M0 0h24v24H0z" opacity="0.05"></path>
                </g>
              </svg>
              <span>Out of Stock</span>
            </a>
          </li>
          <ng-template #cartblock>
            <li class="btn-style-bg1 dt-none" *ngIf="addedClass">
              <a routerLink="/shop/shoppingcart">
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 24 24"
                  class="atb-button-icon"
                >
                  <g fill="none" fill-rule="evenodd">
                    <path
                      fill="#ffffff"
                      d="M4.012 20.718L5.246 7.314H7.27v1.763a.733.733 0 101.466 0V7.314h6.528v1.763a.733.733 0 001.466 0V7.314h2.024l1.234 13.404H4.012zM12 3.282c1.56 0 2.865 1.1 3.187 2.565H8.813A3.268 3.268 0 0112 3.282zm8.15 3.228a.733.733 0 00-.73-.663h-2.747A4.734 4.734 0 0012 1.816a4.734 4.734 0 00-4.673 4.03H4.58a.733.733 0 00-.73.664L2.475 21.38a.734.734 0 00.73.804h17.59a.733.733 0 00.73-.803L20.15 6.51z"
                    ></path>
                    <path d="M0 0h24v24H0z" opacity="0.05"></path>
                  </g>
                </svg>
                <span>Go to Cart</span>
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer class="p-none"></app-footer>
<ng-template #content2 let-modal>
  <div class="modal-body" class="confirm-popup-body">
    <div class="modal-body">
      <div class="row v-row">
        <div class="col-lg-6 col-xs-6 col-sm-6">
          <h3 class="title-info">Selected Option</h3>
        </div>
        <div class="col-lg-6 col-xs-6 col-sm-6 float-right text-right">
          <button
            type="button"
            (click)="closeModal()"
            data-dismiss="modal"
            aria-hidden="true"
            class="modal-close"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-md-4 col-xs-3 col-sm-3"
          *ngIf="variantOptions?.primaryAttributeName"
        >
          <div class="product-colorinfo p-info">
            <h3 class="title-info">
              {{ variantOptions?.primaryAttributeName }}
            </h3>
            <ul>
              <li
                *ngIf="
                  selectedProductVariant.primary_attribute_option_color != null
                "
              >
                <div class="code-border">
                  <label
                    class="color-code"
                    [style.background-color]="
                      selectedProductVariant.primary_attribute_option_color
                    "
                  ></label>
                </div>
              </li>
              <li
                *ngIf="
                  selectedProductVariant.primary_attribute_option_color == null
                "
              >
                <span>{{
                  selectedProductVariant.primary_attribute_option
                }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="col-lg-3 col-md-4 col-xs-4 col-sm-4 pr-0"
          *ngIf="variantOptions?.secondaryAttributeName"
        >
          <div class="product-sizeinfo p-info">
            <h3 class="title-info">
              {{ variantOptions?.secondaryAttributeName }}
            </h3>
            <ul>
              <li
                *ngIf="
                  selectedProductVariant.secondary_attribute_option_color !=
                  null
                "
              >
                <div class="code-border">
                  <label
                    class="color-code"
                    [style.background-color]="
                      selectedProductVariant.secondary_attribute_option_color
                    "
                  ></label>
                </div>
              </li>
              <li>
                <span>{{
                  selectedProductVariant.secondary_attribute_option
                }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-xs-4 col-sm-4">
          <div class="product-colorinfo p-info">
            <h3 class="title-info">Quatity</h3>
            <div class="quantity m-t10 m-r10 text-center">
              <div class="quantity-field border-0">{{ quantity }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row confirm-bottom v-row">
        <div class="col-xs-6 col-sm-6 text-center">
          <button
            type="submit"
            (click)="closeModal()"
            class="btn btn-style-bg bg-transparent text-uppercase m-b10"
          >
            Modify
          </button>
        </div>
        <div class="col-xs-6 col-sm-6 text-center">
          <button
            type="submit"
            (click)="addToCart(productDetails.product_variant_id); closeModal()"
            class="btn btn-style-bg text-uppercase m-b10"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Footer Add to Cart Content -->
<ng-template #similar let-modal>
  <div class="modal-body" class="video-popup-body">
    <div class="modal-body">
      <div class="row v-row">
        <div class="col-lg-6 col-xs-8 col-sm-8">
          <h3 class="title-info">Recommended Products</h3>
        </div>
        <div class="col-lg-6 col-xs-4 col-sm-4 float-right text-right">
          <button
            type="button"
            (click)="closeModal()"
            data-dismiss="modal"
            aria-hidden="true"
            class="modal-close"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <owl-carousel-o [options]="RecommendOptions">
        <ng-template
          carouselSlide
          class="productlist-block"
          *ngFor="let product of flashDeals"
        >
          <a routerLink="/products/{{ product.slug }}/{{ product.unique_id }}">
            <app-product-item [productItem]="product"></app-product-item>
          </a>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</ng-template>
<ng-template #sizechart let-modal>
  <div class="modal-body" class="video-popup-body">
    <div class="modal-body">
      <div class="row v-row">
        <div class="col-lg-8 col-xs-8 col-sm-8 pl-0">
          <h3 class="title-info ml-3">SizeChart</h3>
        </div>
        <div class="col-lg-2 col-xs-4 col-sm-4 float-right text-right pr-0">
          <button
            type="button"
            class="modal-close mr-3"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <section class="p-a0 size-page">
        <div class="m-t20 guide">
          <img [src]="productDetails?.sizechart_image_url" />
        </div>
      </section>
    </div>
  </div>
</ng-template>
<ng-template #priceguarantee let-modal>
  <div class="modal-body" class="video-popup-body">
    <div class="modal-body">
      <div class="row v-row">
        <div class="col-lg-8 col-xs-8 col-sm-8 pl-0">
          <h3 class="title-info ml-3">Price Guarantee</h3>
        </div>
        <div class="col-lg-4 col-xs-4 col-sm-4 float-right text-right pr-0">
          <button
            type="button"
            class="modal-close mr-3"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <i class="fal fa-times"></i>
          </button>
        </div>
      </div>
      <section class="p-a0 size-page">
        <div class="price-guartext">
          <p>
            At Fabpik,we are committed to offer better price advantage to our
            customers. At the time of purchase of a product, if you find the
            same item at a lower price at a qualifying online market platform,
            we will match our price with that value.
          </p>
          <p>How can you avail it:</p>
          <ul>
            <li>
              If you find a qualifying lower price online, call FABPIK CUSTOMER
              CARE and direct a customer service agent to the website with the
              lower price. On qualifying products, Fabpik will then verify the
              current price to complete the Best Price match.
            </li>
            <li>
              Exclusions apply including, but not limited to, items sold by
              Marketplace vendors, competitors' service prices, special daily or
              hourly sales, and items on the MAJOR SALES period of quality
              online platforms.
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</ng-template>
