.subcategory-block h4 {
  font-size: 14px;
  text-align: center;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  color: #1a1a1a;
  font-weight: 700;
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subcategory-block .product-list {
  border: 1px solid #cac7f6;
  box-shadow: 0 1px 3px 0 #9ccae8;
  background: #fff;
  padding: 0px 0px 0px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.subcategory-block {
  padding: 7px;
}

.Category-name {
  text-transform: uppercase;
  color: #8a8a8a;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .stripText p {
		font-size: 11px;
		font-weight: 500;
		color: #fff;
		margin: 0;
		line-height: 15px;
		letter-spacing: 0.4px;
		color: #fff;
		padding: 3px 0;
		text-transform: capitalize;
	}
  .subcategory-block .product-list img {
    width: 100%;
    height: 164px;
  }
}

.breadcrumb-product {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  padding-bottom: 7px;
  margin-right: 0px;
}
.breadcrumb-product h3 {
  color: #e75e83;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.filters-desktop select {
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 20px;
  max-width: 200px;
  height: 27px;
  background-position: right 0 top 50%;
  color: #5d5e5c;
  border-color: #ccc;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.1vw;
  line-height: 13px;
  cursor: pointer;
}
