<div class="dashboard-page bg-light-blueshade">
  <app-breadcrumb [headername]="this.categoryTitle"></app-breadcrumb>
  <!-- <app-desktop-header></app-desktop-header> -->
  <div class="stripText intSection dt-none">
    <p>Free shipping on orders above Rs. 500</p>
  </div>
  <div *ngIf="!loading && hide" class="dt-none">
    <section class="p-b0">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 col-sm-6 col-xs-6 subcategory-block"
            *ngFor="let subcat of subCategories"
          >
            <a
              routerLink="/category/{{ categorySlug }}/{{ subcat.slug }}"
              (click)="subcategoryid(subcat.id, subcat.slug)"
            >
              <div class="product-list">
                <img src="{{ subcat.image_path }}" />
                <div class="">
                  <h4>{{ subcat.title }}</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="slider-category">
      <div class="container p-l5 p-r5">
        <h3>Exclusive Launch</h3>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let img of images"
            ><img (click)="bannerClick(img.link)" [src]="img.img"
          /></ng-template>
        </owl-carousel-o>
      </div>
    </section>
  </div>

  <div *ngIf="loading && hide" class="dt-none">
    <section class="p-b0">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 col-sm-6 col-xs-6 subcategory-block"
            *ngFor="let subcat of [1, 2, 3, 4]"
          >
            <a>
              <div class="product-list">
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{
                    margin: '0',
                    'border-radius': '5px',
                    width: '100%',
                    height: '164px'
                  }"
                >
                </ngx-skeleton-loader>

                <div class="">
                  <h4>
                    <ngx-skeleton-loader
                      [theme]="{ margin: 0 }"
                    ></ngx-skeleton-loader>
                  </h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="slider-category">
      <div class="container p-l5 p-r5">
        <h3>Exclusive Launch</h3>
        <div>
          <div>
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{
                margin: '0',
                'border-radius': '5px',
                width: '100%',
                height: '164px'
              }"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="!hide">
    <app-productlist [parentCategory]="categoryId"></app-productlist>
  </div>
  <app-footer class="dt-none"></app-footer>
</div>
