<!-- <section class="privacy_policy">
    <div class="container">
        <h4 class="main-title">Privacy Policy</h4>
        <div class="row justify-content-center">
     
            <div class="col-lg-6">
               
                <div class="privacy_policy-content">
                    <mat-accordion class="example-headers-align">
                       
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title> How and when seller will get paid? </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Seller will be paid after 7 working days after the product is delivered to consumer. This includes Cash on delivery and Prepaid payment.  
                            
<br />
                                <b>Handling and Shipping charges are non-refundable*</b></p>
                 <b>For example-:</b> 
                  
                 <p> Seller X got three orders on <b>22-12-2020</b>, He will receive the payment on <b>31-12-2020</b>for all three orders. Per order settlement mechanism we are following.
                  </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Are you taking commission on Selling price or MRP? </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>We are taking commission on Selling Price. Refer to Index 1</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>What will happen in the case of RTO (Return to Origin)?

                                     </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>    If COD order is getting RTO’ed (Return to origin) FABPIK is going to bear the charges.
                                    
                            </p><p> If prepaid order is getting Return to origin, User is going to bear the charges (There will be deduction in refund amount).
                            </p>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>How return will happen, and charges are going to be calculated?

                                        </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>  If seller is availing Fabpik shipping, Fabpik will arrange the RVP as per the scenario 
                                <b>(Seller must decide if they are accepting return on the specific product),   </b>accordingly, FABPIK will arrange the RVP and User will bear the charges If it is a genuine or non-dispute request.
                              
                            </p><p>  If seller is choosing self-shipping-Seller will arrange the Pick-up according to request and policy. User will bear the charges if it is a genuine or non-dispute request.
                           </p>
                        </mat-expansion-panel>

                        
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>What will happen when user will cancel the order (Pre-shipping)?

                                        </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p> If COD order is getting cancelled there are no charges involved.</p>
                                <p>If Pre-paid order is getting cancelled there will be small deduction on the refund amount from the user end.
                                  </p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Does Fabpik provide packaging material?

                                        </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>No, at this moment Fabpik is not providing packaging material due to operational efficiencies.</p>
                                
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header> 
                                <mat-panel-title>What protection Fabpik offer in case of lost/damaged goods and fraudulent customer?


                                        </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                                Fab has Exclusive Fraud Management Team and they are with you to help in such cases. If the buyer or logistics partners is at fault, you will receive the refund for such products. You need to raise a ticket with our support team for the same.
</p>                                
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>  Would seller get compensation if the customer has returned damaged products?


                                        </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                              

                                Yes, Seller can raise a claim through support platform Depending on the case and category, seller will be given a refund provided seller has adequate proof that seller shipped an authentic/undamaged product. This will help us close the dispute in favour of seller. 
                                
</p>                                
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>   Would seller get compensation if the customer has replaced the original product with different item?


                                        </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                              

                              
                                Seller will be given a refund provided Seller has adequate proof that seller shipped an authentic/undamaged product. This will help us close the dispute in their favour. Yes, Seller can raise a claim through support platform Depending on the case and category, 
                                
                                
</p>                                
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>  Would Seller get compensation if the good are damaged or lost in transit?


                                        </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                              

                              
                                Yes. When products are damaged in transit, seller can raise a claim through support platform. The refund depends on the scenario and product. Seller needs to provide adequate proof that they shipped an authentic/undamaged product.      
                                
</p>                                
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="col-lg-6 mx-auto">
                <img  src="assets/images/sellerscreen.png" class="img-block">
            </div>
        </div>
    </div>
</section> -->