.privacy_policy {
    position     : relative;
    background: #f0f4f7;
}

.privacy_policy-content {
    padding: 30px 0px 80px;
}

.privacy_policy-text {
    margin-bottom: 45px;

    &:last-child {
        margin-bottom: 0;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    p {
        font-size  : 16px;
        line-height: 25px;
        margin: 0;
        display: inline-block;
    
        // color: #2E4577;
    }

    li {
        display: flex;
        position: relative;

        i {
            line-height : 30px;
            margin-right: 15px;
            font-size   : 13px;
            color       : #7184ad;
        }
    }
}

li::before
{
    position: absolute;
    top: 10px;
    left: -14px;
    width: 6px;
    height: 6px;
    background: #666;
    content: "";
    border-radius: 50%;

}

ul
{
    padding-left: 15px;
}

.main-title
{
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    font-weight: 600;
}

.privacy_policy
{
    svg
    {
        color: #666;
        font-size: 13px;
        width: 14px;
        margin-right: 8px;
    }
}

.mx-auto
{
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}