.wishlist_products {
    .container {
        .col-sm-6 {
            margin-bottom: 10px;
        }
    }
}

.wishlist-bb {
    .col-xs-6 {
        padding: 0 3px;
    }

    .col-sm-6 {
        padding: 0 3px;
    }
}

.productlist-section {
    padding: 0;
}


.product-details1 {
    padding: 3px 12px 15px;
    margin-bottom: 13px;
    background: #fff;
    z-index: 1 !important;
    position: relative;
}

.product-details {
   

    padding: 5px 12px;
    z-index: 1 !important;
    border-top: 1px solid #cac7f6;
    // box-shadow: 0 1px 3px 0 #9ccae8;

  
}

.product-details1 {
    p {
        font-size: 0.7em;
        text-align: center;
        width: 100%;
        color: #e75d81;
        padding: 2px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 15px;
        margin-top: 0px;
        font-size: 0.7em;
        text-align: center;
        width: 100%;
        color: #e75d81;
        padding: 2px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 15px;
        margin-top: 0px;
    }

    padding: 5px 12px;
    z-index: 1 !important;

    h4 {
        font-size: 0.8em;
        color: #939393;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0;
    }
}

.productlist-block {
    padding: 2.34px 2px !important;
    margin-bottom: 9px;

    img {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        width: 100%;
        height: 319px;
    }
}

.product-list {
    position: relative;
    background-color: #fff;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px 0 #9ccae8;
    border-radius: 3px;

    i {
        font-size: 13px;
        color: #e75e83;
    }
}
.product-list1 {
    position: relative;
    background-color: #fff;
    border-radius: 0px;

    i {
        font-size: 13px;
        color: #e75e83;
    }
}

.wishlist-block {
    background: #f0f7ff;
    width: 18px;
    height: 18px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    line-height: 18px;
    border-radius: 50%;
    position: absolute;
    bottom: 74px;
    right: 8px;
}

.actions {
    // .btn-style-bg {
    //     height: 23px;
    // }

    li {
        list-style-type: none;
        display: inline-block;
        font-size: 12px;
        margin-right: 7px;
        font-weight: 600;
    }

    ul {
        text-align: center;
        margin-bottom: 0;
    }
}

.remove-block {
    background: #f0f7ff;
    width: 22px;
    height: 22px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    line-height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 8px;
}



.btn-modal {
    border: 2px solid #777;
    padding: 1px 10px;
}

ul {
    list-style-type: none;
}

.profile-Card {
    background: #f5e6e0;
    padding: 16px;
    margin-bottom: 24px;
}

.profilenav {
    button {
        background-color: #fff;
        border: 1px solid #222;
        color: #222;
        letter-spacing: 1px;
        width: 100%;
        font-size: 13px;
        min-height: 48px;
        padding: 12px;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.menuItem {
    a {
        color: #222;
        display: block;
        font-size: 13px;
        padding: 16px 0;
        position: relative;
        text-align: left;
        text-decoration: none;
        width: 100%;

        .arrowRight {
            height: 16px;
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
        }
    }
}

.container {
    main {
        width: calc(100% - 325px);
        margin-left: auto;
    }
}

.breadcrumbs {
    display: block;
    font-size: 1.1rem;

    ol {
        list-style: none;
        display: inline-block;
        -webkit-padding-start: 0;
        padding-inline-start: 0;

        li {
            display: inline-block;

            >a {
                text-decoration: none;
            }

            &:not(:last-of-type) {
                &::after {
                    content: " / ";
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}

ol {
    max-width: 540px;
}

.BodyText-module--small__2SSIP {
    font-size: 1.1rem;
    line-height: 1.45;
}

.BodyText-module--general__2yKZb {
    font-size: 1.3rem;
    line-height: 1.5;
}

.index-heading {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.index-count {
    font-weight: 400;
    font-size: 14px;
}

.marginB40 {
    margin-bottom: 40px;
}

.myprofileheader {
    background: #e75e83 a1;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    position: relative;
    border-radius: 3px;
}

.btnprofilepan {
    &:active {
        color: #fff;
    }

    &:hover {
        color: #fff;
    }

    &:visited {
        color: #fff;
    }

    position: absolute;
    right: 20px;
    color: #fff;
    opacity: 0.8;
}

.profileimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    float: left;
    text-align: center;

    img {
        width: 40px;
        margin-top: 5px;
        border-radius: 50%;
        height: 40px;
    }
}

.profiledetail {
    float: left;
    width: 70%;
    margin-left: 10px;
    color: #fff;
    opacity: 0.8;
    font-size: 13px;

    p {
        margin: 0 0 10px;
        padding: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.myprofile-acc {
    .panel-group {
        .panel-body {
            p {
                font-size: 13px;
            }
        }

        .panel-heading {
            .panel-title {
                font-size: 13px;
            }
        }
    }
}

.myprofile-wpr {
    .linkComponent {
        font-size: 13px;
    }
}

@media screen and (min-width: 1024px) {
    .UserMenu--container__zoaCJ {
        padding: 0;
    }

    .productlist-block {
        padding: 2.34px 12px !important;
    }
}

@media screen and (max-width: 767px) {
    .product-details p {
      
        height: 16px;
    }
    #wishlist {
        padding-top: 5px;
    }

    .productlist-block img {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        width: 100%;
        height: 230px;
    }
}

a {
    cursor: pointer;
}