<div class="dashboard-page bg-light-blueshade">
  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>
  <section id="wishlist">
    <div class="container">
      <div class="row">
        <div class="col-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div class="col-lg-9 col-xs-12 col-sm-12 col-md-9">
          <div class="bg-white deskdash-breadcrumbs m-none  mb-3">
            <h4 class="font-16 font-weight-600">
              Wishlist
              <span class="count"
                >({{ wishlistcount === 0 ? "0" : wishlistcount }} Items)</span
              >
            </h4>
          </div>
          <div
            class="row wishlist-bb"
            [ngClass]="{ 'p-l10 p-r10 ': isDesktop }"
          >
            <div
              class="col-md-3 col-lg-3 col-xs-6 col-sm-6 mb-2"
              *ngFor="let wishlist of AllWishlist; let i = index"
            >
              <div class="product-list border custom-image-size2">
                <div class="product-image">
                  <a
                    (click)="
                      productvariant(
                        wishlist.product_variant_id,
                        i,
                        wishlist.product_id
                      )
                    "
                  >
                    <img [src]="imgUrl + '/' + wishlist.thumbnail_img_name" />
                  </a>

                  <a
                    class="remove-block"
                    (click)="removeWishlist(wishlist.product_variant_id, 1)"
                    ><i class="fal fa-trash-alt"></i
                  ></a>
                </div>
                <div class="product-details pb-0">
                  <div class="pb-2">
                    <p>{{ wishlist.company_name }}</p>
                    <h4>{{ wishlist.name }}</h4>
                    <ul
                      class="product-price"
                      *ngIf="wishlist.deal_price == null"
                    >
                      <li class="sell-price">
                        &#x20B9;<span>{{ wishlist.final_price }}</span>
                      </li>
                      <li
                        class="sell-mrp"
                        *ngIf="wishlist.mrp > wishlist.final_price"
                      >
                        &#x20B9;<span>{{ wishlist.mrp }}</span>
                      </li>
                      <li
                        class="sell-discount"
                        *ngIf="wishlist.final_discount > 0"
                      >
                        (<span>{{ wishlist.final_discount }}</span> % OFF)
                      </li>
                    </ul>
                    <ul
                      class="product-price"
                      *ngIf="wishlist.deal_price != null"
                    >
                      <li class="sell-price">
                        &#x20B9;<span>{{ wishlist.deal_price }}</span>
                      </li>
                      <li
                        class="sell-mrp"
                        *ngIf="wishlist.mrp > wishlist.deal_price"
                      >
                        &#x20B9;<span>{{ wishlist.mrp }}</span>
                      </li>
                      <li
                        class="sell-discount"
                        *ngIf="wishlist.deal_discount > 0"
                      >
                        (<span>{{ wishlist.deal_discount }}</span> % OFF)
                      </li>
                    </ul>
                  </div>
                  <hr class="my-0" />
                  <div class="d-flex justify-content-center pt-0 pb-1">
                    <button
                      (click)="addProductToCart(wishlist.product_variant_id)"
                      type="submit"
                      routerlink="/shop/checkout"
                      class="btn btn-style-bg text-uppercase m-r10 m-b10"
                    >
                      Move To cart
                    </button>
                    <!-- <ul class="ripple-container py-1">
                                            <li class="m-r0">
                                            </li>
                                        </ul> -->
                  </div>
                </div>
              </div>
            </div>

            <!-- Skeleton Loader -->
            <section class="productlist-section pt-2" *ngIf="loading">
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-lg-3 col-md-3 col-sm-6 col-xs-6 px-1 mb-3"
                    *ngFor="let product of [1, 2, 3, 4, 5, 6]"
                  >
                    <div class="product-list1 border">
                      <div class="">
                        <ngx-skeleton-loader
                          [theme]="{
                            'border-radius': '0px',
                            width: '100%',
                            height: '220px',
                            'margin-bottom': '-5px'
                          }"
                        >
                        </ngx-skeleton-loader>
                      </div>
                      <div class="product-details1">
                        <p>
                          <ngx-skeleton-loader
                            [theme]="{
                              height: '10px',
                              width: '80px',
                              margin: '0px',
                              'border-radius': '0px'
                            }"
                          ></ngx-skeleton-loader>
                        </p>
                        <h4>
                          <ngx-skeleton-loader
                            [theme]="{
                              height: '10px',
                              width: '140px',
                              margin: '0px',
                              'border-radius': '0px'
                            }"
                          ></ngx-skeleton-loader>
                        </h4>
                        <p>
                          <ngx-skeleton-loader
                            [theme]="{
                              height: '10px',
                              width: '120px',
                              margin: '0px',
                              'border-radius': '0px'
                            }"
                          ></ngx-skeleton-loader>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="row text-center-nofound" *ngIf="AllWishlist?.length == 0">
            <div class="col-lg-12">
              <img src="assets/images/icons/nowishlist.png" />
              <label>Add products that you like to your Wishlist. </label>
              <p>You can Review them later and add to your shopping bag.</p>
              <button
                class="btn-style-bg margin-auto m-t10 btn-main-add"
                [routerLink]="['/']"
              >
                Continue Shopping
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script> gtag('event', 'conversion', { 'send_to': 'AW-591637777/NzfQCNS93Y0CEJHajpoC', 'transaction_id': '' }); </script>
  <app-footer></app-footer>
</div>
