<app-desktop-header></app-desktop-header>
<div class="back-btn" (click)="goback()">
  <i class="lni lni-arrow-left"></i>
</div>
<section class="ver-form">
  <div class="container">
    <div class="row">
      <h3></h3>

      <form class="form-block ver-block" [formGroup]="forgotPasswordForm">
        <div class="row v-row offset-lg-4 col-lg-4 form-rowblock">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <h2>Forgot Password</h2>

            <img src="assets/images/icons/verification.png" />
            <p>Enter the Email Address Associated with your account</p>
            <div class="form-group text-left">
              <div class="controls">
                <label><i class="far fa-envelope"></i>Email Address</label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="enter your email address"
                  required=""
                />
                <div class="help-block"></div>
              </div>
            </div>

            <div
              class="col-12 p-a0 d-flex flex-sm-row flex-column justify-content-end mt-1"
            >
              <button
                type="submit"
                class="btn btn-style-bg text-uppercase"
                [disabled]="!forgotPasswordForm.valid"
                (click)="submit()"
              >
                Send
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
