.shopping-block {
  background-color: #fff;
  border: 1px solid transparent;
  margin: 0;
  padding: 10px 15px 10px;
  margin-bottom: 7px;
  position: relative;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
}

.shopping-block p {
  font-size: 9px;
  width: 100%;
  color: #e75d81;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  line-height: 15px;
}

.shopping-block h4 {
  font-size: 0.8em;
  color: #939393;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}

.product-value {
  margin-bottom: 0;
}

.product-value li {
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 7px;
}

.product-value li span {
  color: #777676;
  font-size: 11px;
  font-weight: 600;
}

.shopping-block .product-price li:first-child {
  color: #333;
  font-weight: 700;
  text-align: center;
}

.shopping-block .product-price li {
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 7px;
}

.shopping-block .product-price li:nth-child(2) {
  opacity: 0.4;
  color: #282c3f;
  text-decoration: line-through;
  font-size: 11px;
}

.shopping-block .product-price li:last-child {
  color: #e75d81;
  font-weight: 600;
  font-size: 10px;
  white-space: nowrap;
}

.address-block {
  background-color: #fff;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
}

.address-type {
  position: absolute;
  right: 15px;
  font-size: 11px;
  padding: 0px 7px;
  border-radius: 4px;
  top: 57px;
  line-height: 13px;
  color: #eb6083;
  border: 1px solid #eb6083;
}

.ab-block {
  padding: 0 20px 10px;
}

.ab-block {
  background-color: #fff;
  border: 1px solid transparent;
  padding: 0px 17px 19px;
  margin-bottom: 9px;
  border-radius: 3px;
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
  position: relative;
}

.name {
  margin-top: 10px;
  margin-bottom: 3px;
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  font-weight: 500;
}

.address {
  font-size: 12px;
  line-height: 1.42857;
  color: #3f414d;
  margin-bottom: 0;
  padding: 0;
}

.contact-no {
  margin-top: 0;
  margin-bottom: 1px;
  width: 100%;
  height: auto;
  font-size: 11px;
  line-height: 1px;
  color: #3f414d;
}
.contact-no span {
  font-weight: 600;
}

.btn-help {
  width: 100%;
  padding: 3px 0 3px 0;
  margin: 0;
  border-top: 1px solid #eaeaec;
  margin-top: 10px;
}

.btn-help li:first-child {
  width: 50%;
  text-transform: uppercase;
}
.btn-help li:last-child {
  border-right: 0;
}
.btn-help li {
  list-style-type: none;
  display: inline-block;
  font-weight: 600;
  color: #696b79;
  padding: 2px 9px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  border-right: 1px solid #ebebeb;
}

.btn-help li:last-child {
  width: 45%;
  font-size: 12px;
  font-weight: 500;
}

//track

#progressbar {
  margin-bottom: 3vh;
  overflow: hidden;
  color: rgb(252, 103, 49);
  padding-left: 0;
  margin-top: 3vh;
}

#progressbar li {
  list-style-type: none;
  font-size: x-small;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: rgb(160, 159, 159);
}

#progressbar #step1:before {
  content: "";
  color: rgb(252, 103, 49);
  width: 10px;
  height: 10px;
  margin-left: 0;
}

#progressbar #step2:before {
  content: "";
  color: #fff;
  width: 10px;
  height: 10px;
  margin-left: 32%;
}

#progressbar #step3:before {
  content: "";
  color: #fff;
  width: 10px;
  height: 10px;
  margin-right: 32%;
}

#progressbar #step4:before {
  content: "";
  color: #fff;
  width: 10px;
  height: 10px;
  margin-right: 0;
}

#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #ddd;
  border-radius: 50%;
  margin: auto;
  z-index: -1;
  margin-bottom: 1vh;
}

#progressbar li:after {
  content: "";
  height: 2px;
  background: #ddd;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-bottom: 2vh;
  top: 4px;
  z-index: 1;
}

.progress-track {
  padding: 0 8%;
}

#progressbar li:nth-child(2):after {
  margin-right: auto;
}

#progressbar li:nth-child(1):after {
  margin: auto;
}

#progressbar li:nth-child(3):after {
  float: left;
  width: 68%;
}

#progressbar li:nth-child(4):after {
  margin-left: auto;
  width: 132%;
}

#progressbar li.active {
  color: black;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #e75e83;
}

.orderStatus,
.orderSummary {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0;
  padding: 15px 15px 0;
  margin-bottom: 7px;
  position: relative;
}

.orderStatus li:first-child,
.orderSummary li:first-child {
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.orderSummary {
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.1);
}

.orderSummary ul {
  margin-bottom: 0;
}

.orderSummary li:last-child {
  font-size: 13px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.orderSummary li,
.orderStatus li {
  list-style-type: none;
  position: relative;
  line-height: 20px;
}

.orderSummary span,
.orderStatus span {
  margin: auto;
  color: #282c3f;
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 16px;
}

.orderSummary li label,
.orderStatus li label {
  float: right;
  position: absolute;
  right: 0;
  font-size: 11px;
}

.discount-price label,
.delivery label {
  color: #e75e83;
}

.orderSummary li:last-child label,
.orderSummary li:last-child span {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.title-info {
  font-size: 12px;
  margin-bottom: 11px;
  font-weight: 600;
}

ul {
  list-style: none;
}

.btn-modal {
  border: 2px solid #777;
  padding: 1px 10px;
}

/**/
@media screen and (min-width: 1024px) {
  .UserMenu--container__zoaCJ {
    padding: 0;
  }
}

ul {
  list-style-type: none;
}

.profile-Card {
  background: #f5e6e0;
  padding: 16px;
  margin-bottom: 24px;
}

.profile-Card button {
  background-color: transparent;
  border: 1px solid #222;
  color: #222;
  letter-spacing: 1px;
  width: 100%;
  font-size: 13px;
  min-height: 48px;
  padding: 12px;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.menuItem a {
  color: #222;
  display: block;
  font-size: 13px;
  padding: 16px 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.menuItem a .arrowRight {
  height: 16px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

.container main {
  width: calc(100% - 325px);
  margin-left: auto;
}
.font-16 {
  font-size: 16px;
}
.font-13 {
  font-size: 13px;
}
.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.line-16 {
  line-height: 16px;
}

.breadcrumbs {
  display: block;
  font-size: 1.1rem;
}
.breadcrumbs ol {
  list-style: none;
  display: inline-block;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
ol {
  max-width: 540px;
}
.breadcrumbs ol li {
  display: inline-block;
}
.breadcrumbs ol li > a {
  text-decoration: none;
}
.BodyText-module--small__2SSIP {
  font-size: 1.1rem;
  line-height: 1.45;
}
.BodyText-module--general__2yKZb {
  font-size: 1.3rem;
  line-height: 1.5;
}
.breadcrumbs ol li:not(:last-of-type)::after {
  content: " / ";
  position: relative;
  top: 2px;
}
