<div class="bg-light-blueshade">
  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>
  <section [ngClass]="{ 'py-0': isMobile }">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div class="col-lg-9 col-xs-12 col-sm-12 col-md-9">
          <div class="bg-white deskdash-breadcrumbs m-none mb-3">
            <h4 class="font-16 font-weight-600">Order Details</h4>
          </div>
          <section class="pt-0 mt-2" *ngIf="!loading && orderDetails">
            <div class="">
              <div class="row align-items-center shopping-block">
                <div class="col-md-2 col-sm-4 col-xs-4 pl-0">
                  <img src="{{ orderDetails.thumbnail_path }}" />
                </div>
                <div class="col-lg-8 col-sm-8 col-xs-8 pl-0">
                  <p>{{ orderDetails.company_name }}</p>
                  <h4>{{ orderDetails.name }}</h4>
                  <ul class="product-value">
                    <li><span>Quantity : </span>{{ orderDetails.quantity }}</li>
                    <!-- <li><span>Size : </span>M</li> -->
                  </ul>
                  <ul
                    class="product-price"
                    *ngIf="orderDetails.deal_price == null"
                  >
                    <li>
                      Rs. <span>{{ orderDetails.total  | number: "1.0-2" }}</span>
                    </li>
                    <li *ngIf="orderDetails.mrp != orderDetails.total">
                      Rs. <span>{{ orderDetails.mrp  | number: "1.0-2" }}</span>
                    </li>
                    <li *ngIf="discount > 0">
                      <span>{{ discount  | number: "1.0-2"}}%</span>OFF
                    </li>
                  </ul>
                  <ul
                    class="product-price"
                    *ngIf="orderDetails.deal_price != null"
                  >
                    <li>
                      Rs. <span>{{ orderDetails.deal_price  | number: "1.0-2" }}</span>
                    </li>
                    <li *ngIf="orderDetails.mrp != orderDetails.deal_price">
                      Rs. <span>{{ orderDetails.mrp  | number: "1.0-2" }}</span>
                    </li>
                    <li *ngIf="discount > 0">
                      <span>{{ discount  | number: "1.0-2" }}%</span>OFF
                    </li>
                  </ul>
                </div>
                <ul class="btn-help row">
                  <li
                    *ngIf="
                      shippingStatuses.indexOf(5) == -1 &&
                      orderStatuses.indexOf(7) == -1
                    "
                    style="border-right: 1px solid #ebebeb"
                    (click)="cancelOrder(orderDetails.order_detail_id)"
                    class="col"
                  >
                    <a>{{
                      orderStatuses.indexOf(2) > -1
                        ? "Cancelled"
                        : "Cancel Order"
                    }}</a>
                  </li>
                  <li
                    *ngIf="shippingStatuses.indexOf(5) > -1 && showReturnOption"
                    style="border-right: 1px solid #ebebeb"
                    (click)="returnOrder(orderDetails.order_detail_id)"
                    class="col"
                  >
                    <a>{{
                      shippingStatuses.indexOf(11) > -1
                        ? "Product Returned"
                        : orderStatuses.indexOf(5) > -1
                        ? "Return Requested"
                        : "Return"
                    }}</a>
                  </li>
                  <li
                    *ngIf="
                      shippingStatuses.indexOf(5) > -1 && !showReturnOption
                    "
                    style="border-right: 1px solid #ebebeb"
                    class="col"
                  >
                    <a>Completed</a>
                  </li>

                  <li class="col">
                    <a
                      [routerLink]="['/support']"
                      class="text-secondary font-weight-bold"
                      >Help?
                    </a>
                  </li>
                  <li
                    *ngIf="orderStatuses.indexOf(8) > -1"
                    (click)="downloadInvoice(orderDetails.order_detail_id)"
                    class="col"
                  >
                    <a class="text-secondary font-weight-bold">Invoice </a>
                  </li>
                </ul>
              </div>
              <!--track -->
              <div class="address-block pt-3">
                <div class="progress-track">
                  <ul id="progressbar">
                    <li
                      [ngClass]="
                        orderStatuses.indexOf(1) > -1 ? 'step0 active' : 'step0'
                      "
                      id="step1"
                    >
                      Ordered
                    </li>
                    <ng-container
                      *ngIf="
                        orderStatuses.indexOf(2) == -1 &&
                        orderStatuses.indexOf(7) == -1 &&
                        orderDetails.shipping_model == 'f'
                      "
                    >
                      <li
                        [ngClass]="
                          orderStatuses.indexOf(10) > -1 &&
                          shippingStatuses.indexOf(3) > -1 &&
                          orderStatuses.indexOf(2) == -1 &&
                          orderStatuses.indexOf(7) == -1
                            ? 'step0 active text-center'
                            : 'step0 text-center'
                        "
                        id="step2"
                      >
                        Packed
                      </li>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        orderStatuses.indexOf(2) == -1 &&
                        orderStatuses.indexOf(7) == -1 &&
                        orderDetails.shipping_model == 's'
                      "
                    >
                      <li
                        [ngClass]="
                          shippingStatuses.indexOf(4) > -1 &&
                          orderStatuses.indexOf(2) == -1 &&
                          orderStatuses.indexOf(7) == -1
                            ? 'step0 active text-center'
                            : 'step0 text-center'
                        "
                        id="step2"
                      >
                        Packed
                      </li>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        orderStatuses.indexOf(2) == -1 &&
                        orderStatuses.indexOf(7) == -1
                      "
                    >
                      <li
                        [ngClass]="
                          shippingStatuses.indexOf(4) > -1 &&
                          orderStatuses.indexOf(2) == -1 &&
                          orderStatuses.indexOf(7) == -1
                            ? 'step0 active text-right'
                            : 'step0 text-right'
                        "
                        id="step3"
                      >
                        Shipped
                      </li>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        orderStatuses.indexOf(2) == -1 &&
                        orderStatuses.indexOf(7) == -1
                      "
                    >
                      <li
                        [ngClass]="
                          shippingStatuses.indexOf(5) > -1 &&
                          orderStatuses.indexOf(2) == -1 &&
                          orderStatuses.indexOf(7) == -1
                            ? 'step0 active text-right'
                            : 'step0 text-right'
                        "
                        id="step4"
                      >
                        Delivered
                      </li>
                    </ng-container>
                    <ng-container *ngIf="orderStatuses.indexOf(2) > -1">
                      <li
                        [ngClass]="
                          orderStatuses.indexOf(2) > -1
                            ? 'step0 active text-right'
                            : 'step0 text-right'
                        "
                        id="step4"
                      >
                        Cancelled
                      </li>
                    </ng-container>
                    <ng-container *ngIf="orderStatuses.indexOf(7) > -1">
                      <li
                        [ngClass]="
                          orderStatuses.indexOf(7) > -1
                            ? 'step0 active text-right'
                            : 'step0 text-right'
                        "
                        id="step4"
                      >
                        Problem with the Order
                      </li>
                    </ng-container>
                  </ul>
                </div>
                <div class="row orderStatus">
                  <div class="col-lg-12 px-0">
                    <ul>
                      <li>
                        <h3 class="title-info">Order Summary</h3>
                      </li>
                      <li>
                        <span
                          >Order ID :&nbsp;
                          {{ orderDetails.child_order_id }}</span
                        >
                        <label
                          >Date :&nbsp; {{ orderDetails.created_date }}</label
                        >
                      </li>
                      <li>
                        <span
                          >Payment Type :&nbsp;
                          {{
                            orderDetails.payment_type == "o" ? "Online" : "COD"
                          }}</span
                        >
                        <label
                          >Delivery Status :&nbsp;
                          {{ orderDetails.order_status }}</label
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end track -->
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="ab-block">
                    <h3 class="pt-3 title-info">Shipping Address</h3>
                    <div class="border-top px-0">
                      <h3 class="name">
                        {{
                          orderDetails.shipping_first_name +
                            " " +
                            orderDetails.shipping_last_name
                        }}
                      </h3>
                      <p class="address">
                        {{ orderDetails.shipping_address1 }}, <br />
                        {{ orderDetails.shipping_city }}, <br />
                        {{ orderDetails.shipping_address2 }} -
                        {{ orderDetails.shipping_pincode }}, <br />
                        {{ orderDetails.shipping_state }}
                      </p>
                      <label class="contact-no mt-3 texy"
                        >Mobile no&nbsp;<span
                          >: &nbsp;{{ orderDetails.shipping_mobile }}</span
                        ></label
                      >
                      <span class="address-type">office</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="orderSummary">
                    <ul>
                      <li>
                        <h3 class="title-info">Pricing Details</h3>
                      </li>
                      <li>
                        <span>Actual Price (MRP)</span>
                        <label>Rs. {{ orderDetails.mrp  | number: "1.0-2" }}</label>
                      </li>
                      <li class="discount-price" *ngIf="orderDetails.total_seller_discount > 0">
                        <span>Discount</span>
                        <label> Rs. {{ orderDetails.total_seller_discount  | number: "1.0-2"}}</label>
                      </li>
                      <!-- <li><span>Applicable GST</span>
                                                <label>Rs.  2,999.00</label>
                                            </li> -->
                      <li
                        class="delivery"
                      >
                        <span>Final Price</span>
                        <label>{{ orderDetails.total  | number: "1.0-2" }}</label>
                        <!-- orderDetails.handling_charge == 0
                            ? "Free"
                            : orderDetails.handling_charge -->
                      </li>
                      <li
                        class="delivery"
                        *ngIf="orderDetails.payment_type == 'c' && orderDetails.cod_charge > 0"
                      >
                        <span>Handling Charge</span>
                        <label>{{ orderDetails.cod_charge  | number: "1.0-2" }}</label>
                        <!-- orderDetails.handling_charge == 0
                            ? "Free"
                            : orderDetails.handling_charge -->
                      </li>
                      <li>
                        <span>Total</span>
                        <label>Rs. {{ orderDetails.total + orderDetails.cod_charge  | number: "1.0-2" }}</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Skeleton-Loader -->
          <section class="pt-0 mt-2" *ngIf="loading">
            <div class="row align-items-center shopping-block">
              <div class="col-md-2 col-sm-4 col-xs-4 pl-0">
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{
                    width: '70px',
                    height: '90px',
                    'border-radius': '10px'
                  }"
                >
                </ngx-skeleton-loader>
                <!-- <img src="{{orderDetails.thumbnail_path}}"> -->
              </div>
              <div class="col-lg-8 col-sm-8 col-xs-8 d-flex flex-column pl-0">
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    'border-radius': '0',
                    height: '10px',
                    'margin-bottom': '-15px'
                  }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '100px',
                    'border-radius': '0',
                    height: '10px',
                    'margin-bottom': '-10px'
                  }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '60px',
                    'border-radius': '0',
                    height: '10px',
                    'margin-bottom': '-5px'
                  }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                  [theme]="{
                    width: '120px',
                    'border-radius': '0',
                    height: '10px',
                    'margin-bottom': '0px'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <ul class="btn-help">
                <li style="border-right: 1px solid #ebebeb">
                  <a>
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '100px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-bottom': '-5px'
                      }"
                    ></ngx-skeleton-loader>
                  </a>
                </li>

                <li>
                  <a
                    [routerLink]="['/myaccount/support']"
                    class="text-secondary font-weight-bold"
                  >
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '100px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-bottom': '-5px'
                      }"
                    ></ngx-skeleton-loader>
                  </a>
                </li>
              </ul>
            </div>
            <!--track -->
            <div class="address-block pt-3">
              <div class="progress-track">
                <ul id="progressbar">
                  <li id="step1">Ordered</li>
                  <li id="step2">Packed</li>
                  <li id="step3">Shipped</li>
                  <li id="step4">Delivered</li>
                </ul>
              </div>
              <div class="row orderStatus">
                <div class="col-lg-12 px-0">
                  <ul>
                    <li>
                      <h3 class="title-info">
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '100px',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '-5px'
                          }"
                        ></ngx-skeleton-loader>
                      </h3>
                    </li>
                    <li>
                      <span>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '100px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '-5px'
                          }"
                        ></ngx-skeleton-loader>
                      </span>
                      <label>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '100px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '-5px'
                          }"
                        ></ngx-skeleton-loader>
                      </label>
                    </li>
                    <li>
                      <span>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '100px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '-5px'
                          }"
                        ></ngx-skeleton-loader>
                      </span>
                      <label>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '100px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '-5px'
                          }"
                        ></ngx-skeleton-loader>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end track -->
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="ab-block">
                  <h3 class="pt-3 title-info">
                    <ngx-skeleton-loader
                      [theme]="{
                        width: '140px',
                        'border-radius': '0',
                        height: '15px',
                        'margin-bottom': '-5px'
                      }"
                    ></ngx-skeleton-loader>
                  </h3>
                  <div class="border-top px-0">
                    <h3 class="name">
                      <ngx-skeleton-loader
                        [theme]="{
                          width: '60px',
                          'border-radius': '0',
                          height: '10px',
                          'margin-bottom': '-5px'
                        }"
                      ></ngx-skeleton-loader>
                    </h3>
                    <p class="address">
                      <ngx-skeleton-loader
                        count="2"
                        [theme]="{
                          width: '70%',
                          'border-radius': '0',
                          height: '10px',
                          'margin-bottom': '-5px'
                        }"
                      ></ngx-skeleton-loader>
                    </p>
                    <label class="contact-no mt-3 texy">
                      <ngx-skeleton-loader
                        [theme]="{
                          width: '100px',
                          'border-radius': '0',
                          height: '10px',
                          'margin-bottom': '-5px'
                        }"
                      ></ngx-skeleton-loader>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="orderSummary">
                  <ul>
                    <li>
                      <h3 class="title-info">
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '120px',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '-5px'
                          }"
                        ></ngx-skeleton-loader>
                      </h3>
                    </li>
                    <li *ngFor="let item of [1, 2, 3]">
                      <span>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '100px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '-5px'
                          }"
                        ></ngx-skeleton-loader>
                      </span>
                      <label>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '50px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '-5px'
                          }"
                        ></ngx-skeleton-loader>
                      </label>
                    </li>
                    <li>
                      <span>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '100px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '0px'
                          }"
                        ></ngx-skeleton-loader>
                      </span>
                      <label>
                        <ngx-skeleton-loader
                          [theme]="{
                            width: '50px',
                            'border-radius': '0',
                            height: '10px',
                            'margin-bottom': '0px'
                          }"
                        ></ngx-skeleton-loader>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
