@media only screen and (min-width: 280px)  and (max-width: 767px)  {
   body
    {
        background: #f0f4f7;
	}
	.stripText p {
		font-size: 11px;
		font-weight: 500;
		color: #fff;
		margin: 0;
		line-height: 15px;
		letter-spacing: 0.4px;
		color: #fff;
		padding: 3px 0;
		text-transform: capitalize;
	}
}.categories-section {
	li {
		display: inline-block;
		width: 30.5%;
		text-align: center;
		border: 1px solid #cac7f6;
		box-shadow: 0 1px 3px 0 #9ccae8;
		background: #fff;
		border-radius: 5px;
		margin-bottom: 17px;
		margin-right: 4.2%;
		p {
			font-size: 12px;
			margin: 0;
			padding-top: 0;
		}
		&:nth-child(3n+3) {
			margin-right: 0;
		}
	}
	img {
		width: 45px;
		height: auto;
		justify-content: center;
		align-items: center;
		vertical-align: middle;
		margin: 0 auto;
	}
	.cat-block {
		p {
			font-size: 12px;
			line-height: 13px;
			font-weight: 400;
			color: #404040;
		}
		line-height: 80px;
		width: 95px;
		height: 64px;
		margin: 0 auto;
		font-size: 35px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0px;
		margin-bottom: 0px;
		max-width: 400px;
		transition: all 0.3s ease;
	}
}
