<app-desktop-header></app-desktop-header>
<div class="dashboard-page bg-light-blueshade">
    <app-breadcrumb [headername]="headername"></app-breadcrumb>
    <div class="stripText intSection">
        <p>Free shipping on orders above Rs. 500</p>
    </div>
    <section class="categories-section pb-0" *ngIf="!loading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li *ngFor="let category of categories">
                            <a (click)="categoryid(category.id ,category.slug,category.type)">
                                <div class="cat-block">
                                    <img src="{{category.icon_path}}" />
                                </div>
                                <p class="text-nowrap">{{category.title | titlecase}}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Skeleton-Loader -->
    <section class="categories-section" *ngIf="loading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <div>
                            <li *ngFor="let category of loadinglength" class="shadow-none">
                                <a>
                                    <div class="cat-block">
                                        <ngx-skeleton-loader class="mx-auto" appearance="circle" [theme]="{ 
                                            'border-radius': '0px'
                                          }">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <ngx-skeleton-loader [theme]="{height: '10px', width: '70px', 'border-radius': '0px' }"></ngx-skeleton-loader>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>