<div class="error-container d-flex align-items-center justify-content-center">
    <div class="container">
        <!-- Error Content-->
        <div class="error-content text-center"><img class="mb-3" src="/assets/images/user/404.png" alt="">
            <h5 class="mb-3">Oops! Page not found</h5>
            <p class="mb-4">We couldn't find any results for your search.
                <br> Try again.</p><a class="btn btn-primary" href="home.html">Go Home</a>
        </div>
    </div>
</div>