<div class="product-list border shadow-p my-1 custom-image-size">
  <div class="product-image">
    <div (click)="productvariant(productItem.product_variant_id)">
      <img
        src="{{ imgUrl + '/' + productItem.thumbnail_img_name }}"
        (error)="onImgError($event)"
      />
    </div>
    <!-- <a class="wishlist-block" (click)="addToWishlist(productItem.id, productItem.product_variant_id)"><i class="fal fa-heart"></i></a> -->
    <a
      (click)="productvariant(productItem.product_variant_id)"
      class="product-add-btn mx-auto"
      style="text-align: center; color: #fff"
    >
      add to cart
    </a>
  </div>
  <div class="product-details border-top">
    <p *ngFor="let sell of productItem.seller">
      {{ productItem.seller_company_name }}
    </p>
    <h4 (click)="productvariant(productItem.product_variant_id)">
      {{ productItem.name }}
    </h4>
    <ul class="text-nowrap" *ngIf="productItem.deal_price == null">
      <li class="sell-price">
        &#x20B9;<span>{{ productItem.final_price }}</span>
      </li>
      <li class="sell-mrp" *ngIf="productItem.mrp != productItem.final_price">
        &#x20B9;<span>{{ productItem.mrp }}</span>
      </li>
      <li class="sell-discount" *ngIf="productItem.final_discount > 0">
        (<span>{{ productItem.final_discount }}</span> % OFF)
      </li>
    </ul>
    <ul class="text-nowrap" *ngIf="productItem.deal_price != null">
      <li class="sell-price">
        &#x20B9;<span>{{ productItem.deal_price }}</span>
      </li>
      <li class="sell-mrp" *ngIf="productItem.mrp != productItem.deal_price">
        &#x20B9;<span>{{ productItem.mrp }}</span>
      </li>
      <li class="sell-discount" *ngIf="productItem.deal_discount > 0">
        (<span>{{ productItem.deal_discount }}</span> % OFF)
      </li>
    </ul>

    <!-- <div *ngFor="let varsize of productItem.variantsize" class="productvariantslist">
            <span class="variant-name">{{varsize.variantname}} </span>
            <div class="content-div" *ngFor="let siz of varsize.size ; let check = index">
                <label> {{siz}}</label>

            </div>
        </div>
        <div *ngFor="let varcolor of productItem.variantcolor" class="productvariantslist">
            <span class="variant-name">{{varcolor.variantname}} </span>
            <div class="content-div" *ngFor="let color of varcolor.color_code ; let check = index">
                <label class="color-code" [style.background-color]="color"></label>
            </div>
        </div> -->
  </div>
</div>
