<app-desktop-header></app-desktop-header>
<div class="back-btn" (click)="goback()">
  <i class="lni lni-arrow-left"></i>
</div>
<section class="ver-form" *ngIf="!loading">
  <div class="container">
    <div class="row">
      <h3></h3>
      <form class="form-block ver-block pb-0" [formGroup]="otpverifyform">
        <div class="row v-row offset-lg-4 col-lg-4 form-rowblock">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <h2>Verification</h2>
            <img src="assets/images/icons/verification.png" />
            <div class="jumbotron py-3">
              <p class="mb-1 text-capitalize text-left">
                we just sent you OTP on
              </p>
              <div class="ml-3">
                <ul
                  class="conditnlog text-left mb-0"
                  [ngClass]="{
                    'd-flex flex-column-reverse': type == 'email'
                  }"
                >
                  <li class="R13_42">
                    Registered Mobile No.
                    <span class="M13_42 text-brand">{{
                      type == "mobile"
                        ? mobileNumber
                        : "*******" + mobileNumber.slice(7, 10)
                    }}</span
                    >{{ type == "mobile" ? "&nbsp;&" : "" }}
                  </li>
                  <li class="R13_42">
                    Email ID
                    <span class="M13_42 text-brand">{{
                      type == "email"
                        ? email
                        : email.slice(0, 2) +
                          "*************" +
                          email.slice(emailLength - 4, emailLength)
                    }}</span
                    >{{ type == "email" ? "&nbsp;&" : "" }}
                  </li>
                </ul>
              </div>
              <!-- <p style="font-size: 10px">
                <span style="font-weight: bold">Note:</span> You might
                experience delay on OTP to mobile, you can use OTP sent on
                E-mail Address.
              </p> -->
            </div>
            <ul class="otp-form">
              <li>
                <input
                  type="text"
                  class="form-control"
                  #otp1
                  maxlength="1"
                  (keyup)="move(otp1, otp1, otp2, $event.keyCode)"
                  formControlName="otp1"
                />
                <!-- <div class="help-block invalid-feedback" *ngIf="submitted && f.otp1.errors">
                                   <div *ngIf="f.otp1.errors.required">OTP is required</div>
                               </div>   -->
              </li>
              <li>
                <input
                  type="text"
                  class="form-control"
                  #otp2
                  maxlength="1"
                  (keyup)="move(otp1, otp2, otp3, $event.keyCode)"
                  formControlName="otp2"
                />
                <!-- <div class="help-block invalid-feedback" *ngIf="submitted && f.otp2.errors">
                                   <div *ngIf="f.otp2.errors.required">OTP is required</div>
                               </div> -->
              </li>
              <li>
                <input
                  type="text"
                  class="form-control"
                  #otp3
                  maxlength="1"
                  (keyup)="move(otp2, otp3, otp4, $event.keyCode)"
                  formControlName="otp3"
                />
                <!-- <div class="help-block invalid-feedback" *ngIf="submitted && f.otp3.errors">
                                   <div *ngIf="f.otp3.errors.required">OTP is required</div>
                               </div> -->
              </li>
              <li>
                <input
                  type="text"
                  class="form-control"
                  #otp4
                  maxlength="1"
                  (keyup)="move(otp3, otp3, otp4, $event.keyCode)"
                  formControlName="otp4"
                />
                <!-- <div class="help-block invalid-feedback" *ngIf="submitted && f.otp4.errors">
                                   <div *ngIf="f.otp4.errors.required">OTP is required</div>
                               </div> -->
              </li>
            </ul>
            <p class="link-account text-cent">
              If you didnt receive a code!
              <a class="anchor-link" (click)="resend()" *ngIf="resendloader1"
                >Resend</a
              >
              <span
                class="spinner-border spinner-border-sm mr-1"
                *ngIf="resendloader"
                role="status"
              ></span>
              <span class="load-text" *ngIf="resendloader">Sending...</span>
            </p>
            <div class="col-12 m0-auto">
              <button
                [disabled]="loading"
                class="btn btn-style-bg mb-3 text-uppercase m-b30"
                (click)="verifyOtp()"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Verify
              </button>
              <p class="line-ba"><span>Or</span></p>
              <button
                (click)="loginWithPassword()"
                class="btn btn-style-bg mb-0 text-uppercase m-b30"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                LOGIN WITH PASSWORD
              </button>
            </div>
            <!-- <p  class="link-account text-cent m-a0">Login in Using <a  routerLink="/auth/signwithemail" class="anchor-link">Password</a></p> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
