<div class="bg-light-blueshade">
    <app-desktop-header></app-desktop-header>
    <app-breadcrumb [headername]="headername"></app-breadcrumb>
    <section class="myorders">
        <div class="container">
            <div class="row" [ngClass]="{ 'w-100': isDesktop }">
                <div class="col-3 m-none">
                    <app-desktop-side-menu></app-desktop-side-menu>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="bg-white deskdash-breadcrumbs m-none  mb-3">
                        <h4 class="font-16  font-weight-600">Payments</h4>
                    </div>
                    <div class="row style1" *ngIf="!loading">
                        <div class="col-lg-12" *ngFor="let order of allOrders;">
                            <div class="card-shadow">
                                <div class="d-flex Details-order ">
                                    <div class="col-lg-6  p-a0">
                                        <p><span>Transaction ID</span>{{order.parent_order_id}}  </p>
                                        <p><span>Payment Mode</span><label class="badge badge-pill badge-light-primary ">{{order.payment_type == 'o' ? "Online" : "COD"}}</label></p>
                                    </div>
                                    <div class="col-lg-6 text-right">
                                        <p><span>Date</span>{{order.created_date}}</p>
                                      
                                    </div>
                                </div>
                           
                            <div class="col-lg-12 order-infodetails order-detailspage ">
                                <ul>
                                    <li> <span>MRP Amount :</span>&#x20B9;{{order.totalMrp  | number: "1.0-2"}}</li>
                                    <li *ngIf="order.discounts > 0"> <span>Discounts :</span>&#x20B9;{{order.discounts  | number: "1.0-2"}}</li>
                                    <li *ngIf="order.coupon_code != null"> <span>Coupon : </span>{{order.coupon_code}}</li>
                                    <li *ngIf="order.charges > 0"> <span>Charges : </span>&#x20B9;{{order.charges  | number: "1.0-2"}} <ng-template #popContent>
                                            <div class="fee-div">
                                                <div class="popover-popup">
                                                    <ul>
                                                        <li *ngIf="order.handling_charge > 0"> <span>Delivery Fee </span>&#x20B9;{{order.handling_charge  | number: "1.0-2"}}</li>
                                                        <li *ngIf="order.total_convenience_fee > 0"> <span>Convenience Fee </span>&#x20B9;{{order.total_convenience_fee  | number: "1.0-2"}}</li>
                                                        <li *ngIf="order.cod_charge > 0"> <span>Handling Fee </span>&#x20B9;{{order.cod_charge  | number: "1.0-2"}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template #popTitle>Discounted Cart</ng-template> <a href="javascript:void(0)" [openDelay]="100" popoverClass="class-convenience" [ngbPopover]="popContent">
                                            <i class="far fa-info-circle convenience-icon"></i> </a>
                                    </li>
                                  
                                    <li class="sub_total"> <span>Final Amount : </span>&#x20B9;{{order.total  | number: "1.0-2"}}</li>
                                </ul>
                            </div> </div>
                        </div>
                        <div class="row v-row text-center-nofound w-100" *ngIf="allOrders?.length == 0">
                            <div class="col-lg-12">
                                <img src="assets/images/icons/no-payment.png" />
                                <label>No Payments Yet !</label>
                            </div>
                        </div>
                    </div>
                    <!---start sskeleton loading-->
  <div class="row style1" *ngIf="loading">
    <div class="col-lg-12">
        <div class="card-shadow">
            <div class="d-flex Details-order ">
                <div class="col-lg-6  p-a0">
                    <p>   <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader><br/>   <ngx-skeleton-loader [theme]="{
                                            width: '70px',
                                            'border-radius': '0',
                                            height: '10px',
                                            margin: '0px'
                                          }">
                                                              </ngx-skeleton-loader>  </p>
                  
                </div>
                <div class="col-lg-6 text-right">
                    <p> <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader> <br /></p>
                  
                </div>
            </div>
       
        <div class="col-lg-12 order-infodetails order-detailspage ">
            <ul>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader>
                </li>
              
                <li class="sub_total"><ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
            </ul>
        </div> </div>
    </div>
    <div class="col-lg-12">
        <div class="card-shadow">
            <div class="d-flex Details-order ">
                <div class="col-lg-6  p-a0">
                    <p>   <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader><br/>   <ngx-skeleton-loader [theme]="{
                                            width: '70px',
                                            'border-radius': '0',
                                            height: '10px',
                                            margin: '0px'
                                          }">
                                                              </ngx-skeleton-loader>  </p>
                  
                </div>
                <div class="col-lg-6 text-right">
                    <p> <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader> <br /></p>
                  
                </div>
            </div>
       
        <div class="col-lg-12 order-infodetails order-detailspage ">
            <ul>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader>
                </li>
              
                <li class="sub_total"><ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
            </ul>
        </div> </div>
    </div>
    <div class="col-lg-12">
        <div class="card-shadow">
            <div class="d-flex Details-order ">
                <div class="col-lg-6  p-a0">
                    <p>   <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader><br/>   <ngx-skeleton-loader [theme]="{
                                            width: '70px',
                                            'border-radius': '0',
                                            height: '10px',
                                            margin: '0px'
                                          }">
                                                              </ngx-skeleton-loader>  </p>
                  
                </div>
                <div class="col-lg-6 text-right">
                    <p> <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader> <br /></p>
                  
                </div>
            </div>
       
        <div class="col-lg-12 order-infodetails order-detailspage ">
            <ul>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader>
                </li>
              
                <li class="sub_total"><ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
            </ul>
        </div> </div>
    </div>
    <div class="col-lg-12">
        <div class="card-shadow">
            <div class="d-flex Details-order ">
                <div class="col-lg-6  p-a0">
                    <p>   <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader><br/>   <ngx-skeleton-loader [theme]="{
                                            width: '70px',
                                            'border-radius': '0',
                                            height: '10px',
                                            margin: '0px'
                                          }">
                                                              </ngx-skeleton-loader>  </p>
                  
                </div>
                <div class="col-lg-6 text-right">
                    <p> <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader> <br /></p>
                  
                </div>
            </div>
       
        <div class="col-lg-12 order-infodetails order-detailspage ">
            <ul>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader>
                </li>
              
                <li class="sub_total"><ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
            </ul>
        </div> </div>
    </div> <div class="col-lg-12">
        <div class="card-shadow">
            <div class="d-flex Details-order ">
                <div class="col-lg-6  p-a0">
                    <p>   <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader><br/>   <ngx-skeleton-loader [theme]="{
                                            width: '70px',
                                            'border-radius': '0',
                                            height: '10px',
                                            margin: '0px'
                                          }">
                                                              </ngx-skeleton-loader>  </p>
                  
                </div>
                <div class="col-lg-6 text-right">
                    <p> <ngx-skeleton-loader [theme]="{
                        width: '70px',
                        'border-radius': '0',
                        height: '10px',
                        margin: '0px'
                      }">
                                          </ngx-skeleton-loader> <br /></p>
                  
                </div>
            </div>
       
        <div class="col-lg-12 order-infodetails order-detailspage ">
            <ul>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li>  <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader> </li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
                <li> <ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader>
                </li>
              
                <li class="sub_total"><ngx-skeleton-loader [theme]="{
                    width: '70px',
                    'border-radius': '0',
                    height: '10px',
                    margin: '0px'
                  }">
                                      </ngx-skeleton-loader></li>
            </ul>
        </div> </div>
    </div>
</div>
<!--end skeleton loading-->
                </div>

                
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>