.style1
{

.Details-order h4
{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    line-height: 12px;

}

.Details-order p
{
   
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    position:relative

}
.Details-order p span
{
    font-weight: 500;
    color:#000;
    // display: -webkit-inline-box;
}

.Details-order p span::after {
    position: relative;
    top: 0;
    margin: 4px;
    /* right: 12px; */
    height: 100%;
    content: ":";
}
.badge.badge-light-primary {
    color: #03a9f4 !important;
    // border: 1px solid #2196f3 !important;
}
.badge.badge-light-secondary {
    color: #e75e83 !important;
    // border: 1px solid #e75e83 !important;
}
.order-infodetails ul {
    padding-left: 0;
    padding: 12px 0;
    margin: 0;
}


.m-a0 {
    margin: 0!important;
}
.order-infodetails li {
    list-style-type: none;
    font-size: 12px;
    display: inline-block;
    color: #607d8b;
    width: 20%;
    margin-right: 0px;
    line-height: 13px;
    padding-left: 7px;

}

.order-detailspage span {
    // margin-bottom: 0px;
    color: #000;
    line-height: 21px;
    width: 100px;
    position: relative;
}
.sub_total
{
    font-weight: 600;
    color:#e75e83
}
.sub_total span
{
    font-weight: 600;    color:#e75e83
}
.fee-div span
{
    display: -webkit-inline-box;
    margin-bottom: 0px;
    color: #000;
    position: relative;
}
.fee-div li
{
    list-style-type: none;
    font-size: 10px;
    display: block;
    color: #607d8b;
    width: 100%;
    font-weight: 500;
    margin-right: 0px;
    line-height: 13px;
    padding-left: 7px;
}
.fee-div li span::after {
    position: absolute;
    top: 0;
    right: 12px;
    height: 100%;
    content: ':';
}
.fee-div ul
{
    padding-left: 0;
    padding: 2px 0;
}
.Details-order
{
    padding-left: 8px;
}
.order-infodetails .sub_total {
   
    color:#e75e83
}
.badge {
    display: inline-block;
    padding: 3px 0px;
    font-size: 12px;
    margin: 0;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background 0s, border 0s;}
.card-shadow
{
    background: #fff !important;
    background-clip: border-box;
    border-radius: 7px;
    border: 0 solid #edeef7 !important;
    margin-bottom:15px;
    box-shadow: 0 0 10px rgb(80 102 224 / 8%);
    padding: 1px 0px;
}
.card-shadow .d-flex
{
    background: #f3f6fd !important;
    border-radius: 7px 7px 0 0;
    margin: 2px 2px;
    padding: 6px 20px;;
    justify-content: center;
    align-items: center;
}

// .Total_Order
// {
    
//     padding: 7px 1px;
//     background-color: rgba(40,199,111,.12);
//     color: #28C76F!important;
//     margin-bottom: 11px;
//     border-radius: 3px;

// }
// .Total_Order span
// {
//     color: #28C76F!important;
// }

@media (max-width: 767px) {


    .order-infodetails li {
      
        width: 50%;
        padding-left: 7px;
    

}
.Details-order p {
    font-size: 12px;
    line-height: 17px;
}.fee-div li {
    
    width: 100% !important;
}.fee-div li span::after {
    position: relative;
    top: 0;
    right: 1px;
    height: 100%;
    content: ":";
}.card-shadow .d-flex {
    background:#faf5f5 !important;
    border-radius: 7px 7px 0 0;
    margin: 2px 2px;
    padding: 6px;
}
.card-shadow {

    padding: 1px 0px;
}
.order-infodetails ul {
    padding-left: 0;
    padding: 5px 0;
    margin: 0;
}
.order-infodetails
{
    padding-left:2px;
}
}
}

