<div>
    <app-desktop-header></app-desktop-header>
    <app-breadcrumb [headername]="headername"></app-breadcrumb>
    <section class="feedback-from">
        <div class="container">
            <form class="form-block">
                <div class="row v-row offset-lg-3 col-lg-6 form-rowblock pb-0">
                    
                    <img src="assets/images/icons/feedback.png" class="feedback-img">
                    <h3>Share your experience with us</h3>
                    <div class="row shopping-block ng-star-inserted">
                        <div class="col-lg-2 col-sm-4 col-xs-4"><a ng-reflect-router-link="/products/boys-polo-t-shirt-sk" href="/products/boys-polo-t-shirt-skate-themed-all-over401034423/10000004"><img src="http://localhost/fabpik-latest/dev/uploads/100000/products/01022021/401034423-FRONT.jpg"></a></div>
                        <div class="col-lg-10 col-sm-8 col-xs-8 pl-0">
                            <p>Meenaakshi overseas</p><a ng-reflect-router-link="/products/boys-polo-t-shirt-sk" href="/products/boys-polo-t-shirt-skate-themed-all-over401034423/10000004">
                                <h4>Boys Polo T Shirt skate Themed All Over</h4>
                            </a>
                            <ngb-rating [max]="5" [readonly]="false"></ngb-rating>
                        </div>
                    </div>
                    <div class="col-lg-12 form-group">
                        <label for="input">Review Title*</label>
                        <input type="text" value="" class="form-control" required="required" formControlName="review_title" />
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="textarea" class="">Write Your Comment*</label>
                        <textarea rows="5" class="form-control"></textarea>
                    </div>
                    <div class="col-lg-12 form-group mb-0">
                        <label for="input">Add a Photo</label>
                        <!-- <p>Shoppers find images and videos more helpful than text alone.</p> -->
                        <div class="row mt-1">
                            <div class="col-lg-3  image-preview" *ngFor='let url of urls'>
                                <img [src]="url">
                                <i class="fal fa-times"></i>
                            </div>
                            <div class="col-lg-3 ">
                                <input type='file' (change)="onSelectFile($event)" class="custom-file-input" multiple>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button type="submit" class="btn btn-style-bg mx-auto mb-3 text-uppercase"> Submit Review </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <app-footer></app-footer>
</div>