form.form-block label {
  font-size: 12px;
  margin-bottom: 4px;
  color: #696a6f;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .form-rowblock {
    margin: 0;
    box-shadow: none !important;
  }
  form.form-block {
    width: 100%;
    padding: 0px 40px 30px;
    box-shadow: none;
    margin-top: 0px;
  }
}
form.form-block .form-control {
  border: 1px solid #cacfe7;
  color: #3b4781;
}
.form-block img {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  display: block;
}
.form-block .form-control {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0.75rem 1rem;
  font-size: 13px;
  line-height: 1.25;
  color: #4e5154;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #babfc7;
  border-radius: 3px;
  font-weight: 300;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-block .form-control:focus {
  color: #495057;
  background-color: #fff !important;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

input:-internal-autofill-selected {
  background-color: #fff !important;
}
.form-block .form-group {
  margin-top: 23px;
  margin-bottom: 2px;
  position: relative;
}
// .form-block i {
//     margin-right: 7px;
//     display: none;
// }
.error-block p {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
.form-block h2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.error-left {
  text-align: center;
  /* background: #e02828; */
  height: 100%;
  color: #fff;
}
.error-right {
  background: #fff;
  border-top-right-radius: 5px;
  padding: 0px 6px !important;
  border-bottom-right-radius: 5px;
}
.error-block {
  box-shadow: 0 1px 3px 0 #9ccae8;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background: #e40303;
  margin: 19px;
}
.form-block button {
  width: 100%;
}

.login-from::before {
  content: "";
  background: #f0f4f7;
  height: 203px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.login-from {
  position: relative;
}
form.form-block {
  width: 100%;
  margin-top: 59px;
  z-index: 1;
  padding: 0px 20px 30px;
}
.form-rowblock {
  background: #fff;
  padding: 5% 12px;
  box-shadow: -1px 10px 80px -15px rgba(0, 0, 0, 0.3);
}
.R12_42 {
  font-size: 12px;
  color: #424242;
  line-height: 17px;
  float: right;
}
p a {
  text-decoration: none;
  cursor: pointer;
  color: #2979ff;
  display: inline-block;
}
.login-from .agree-text {
  border-top: 1px solid #e0e0e0;
  padding: 15px 0 0;
}
.R12_42 {
  font-size: 12px;
  color: #424242;
  line-height: 17px;
}
