<app-desktop-header></app-desktop-header>
<div class="back-btn" (click)="goback()">
  <i class="lni lni-arrow-left"></i>
</div>
<section class="login-from">
  <div class="container">
    <h3></h3>

    <!-- <div class="row error-block" *ngIf="isError">
      <div class="col-lg-3 col-sm-3 col-xs-3 p-a0 error-left">
        <i class="fas fa-exclamation-circle"></i>
      </div>
      <div class="col-lg-9 col-sm-9 col-xs-9 p-a0 error-right">
        <p>{{ errorMessage }}</p>
      </div>
    </div> -->
    <form
      class="form-block pb-2"
      [formGroup]="loginform"
      (ngSubmit)="onSubmit()"
    >
      <div class="row v-row offset-lg-2 col-lg-8 form-rowblock pb-0">
        <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12 m-none">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let slider of sliders"
              ><img [src]="slider.image" />
            </ng-template>
          </owl-carousel-o>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
          <h2>Login or Signup</h2>

          <img src="assets/images/icons/verification.png" />

          <div class="form-group input-group">
            <div class="controls">
              <label class="has-float-label text-left"
                ><span>Email ID/Mobile No.</span></label
              >
              <input
                class="form-control"
                formControlName="user"
                type="text"
                placeholder="Enter your Email ID or Mobile No."
                [ngClass]="{
                  'is-invalid':
                    loginform.get('user').errors &&
                    (loginform.get('user').dirty ||
                      loginform.get('user').touched)
                }"
              />
              <span
                class="text-danger"
                style="font-size: 12px"
                *ngIf="
                  loginform.controls['user'].hasError('required') &&
                  (loginform.controls['user'].dirty ||
                    loginform.controls['user'].touched)
                "
                >This field is required</span
              >
              <span
                class="text-danger"
                style="font-size: 12px"
                *ngIf="
                  loginform.controls['user'].hasError('pattern') &&
                  (loginform.controls['user'].dirty ||
                    loginform.controls['user'].touched)
                "
                >Please enter valid email address or phone number</span
              >
            </div>
          </div>
          <p class="error-strip" *ngIf="showLoginError">
            <i class="fal fa-info-circle"></i> {{ showLoginErrorMsg }}
          </p>
          <div class="col-12 m0-auto p-a0">
            <button
              type="submit"
              [disabled]="loading"
              class="btn btn-style-bg text-uppercase m-b10"
            >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span
              >Login
            </button>
          </div>

          <!-- <div class="div-or-text">
            <div class="div-or-text-divider">
              <p class="divider-text R12_42">
                New to Fabpik?
                <a routerLink="/signup" target="_self">Register Here</a>
              </p>
            </div>
          </div> -->
        </div>
      </div>
    </form>

    <!-- <p class="agree-text R12_42 text-center">By continuing, you agree to Fabpik's <a href=""
                target="_self" class="text-brand">Conditions of Use</a> and <a href="" target="_self" class="text-brand">Privacy Notice.</a>
        </p> -->
  </div>
</section>
