.media-link {
    width: 193px;
}

.cat-block h4
{
    color: #666;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.cat-block {
    width: 17%;
    margin-right: 25px;
    cursor: pointer;
}
section.category-section {
    margin: 0% 9%;
}


.cat-block img
{
    border-radius: 10%;
}

.mx-auto
{
    justify-content: center;
}

.cat-block  a
{
  
        color: inherit;
        text-decoration: none;
        cursor: auto;

}