form.form-block label {
    font-size: 12px;
    margin-bottom: 4px;
    color: #696a6f;
    background: #fff;
    left: 11px;
    top: -13px;
    padding: 1px 1px;
}
form.form-block .form-control {
    border: 1px solid #cacfe7;
    color: #3b4781;
}
.form-block .form-control {
    display: block;
    width: 100%;
    height: 32px;
    text-align: center;
    padding: 3px !important;
    font-size: 13px;
    line-height: 1.25;
    color: #4e5154;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #babfc7;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-block .form-control:focus {
    color: #495057;
    background-color: #fff!important;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
input:-internal-autofill-selected
{
    background-color: #fff!important;
}
.form-block .form-group
{
    margin-bottom: 8px;
    position: relative;
}
.form-block i
{
    margin-right: 7px;
    display:none;
}
 form.form-block
{
    width: 100%;
    padding: 0px 40px 30px;
    text-align: center;
}

.form-block h2
{
       font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    margin: 0;
}


.form-block p {
    padding: 0;
    line-height: 20px;
    text-align: center;
   font-size: 1.1vw;
    text-transform: capitalize;
}
.anchor-link
{
    color: #e75e83;
    font-weight: 600;
    cursor: pointer;
}
.link-account
{
  
    font-size: 12px!important;

}

.ver-block li
{
    width: 11%;
    height: 33px;
    margin-right: 16px;
    list-style-type: none;
    display: inline-block;
}
.form-rowblock {
    background: #fff;
    padding: 3% 12px;
 
    box-shadow: -1px 10px 80px -15px rgba(0, 0, 0, 0.3);
}

.ver-form::before {
    content: "";
    background: #f0f4f7;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.ver-form  button
{
width:100%;
}



@media only screen and (min-width: 280px) and (max-width: 767px) {
    .form-rowblock {
        background: #fff;
        padding: 3% 12px;
        margin: 0;
        box-shadow: none!important;
    }

    .ver-form {
        margin-top: 59px;
    }
    .form-block p {
     
        font-size: 3.5vw!important;
       
    }
    form.form-block {
        width: 100%;
        padding: 20px 10px 30px !important;
        text-align: center;
    }
}