<app-desktop-header></app-desktop-header>
<div class="back-btn" (click)="goback()">
  <i class="lni lni-arrow-left"></i>
</div>
<section class="ver-form">
  <div class="container">
    <div class="row">
      <h3></h3>

      <form
        class="form-block ver-block"
        [formGroup]="otpverifyform"
        (ngSubmit)="onSubmit()"
      >
        <div class="row v-row offset-lg-4 col-lg-4 form-rowblock">
          <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <h2>Verification</h2>
            <img src="assets/images/icons/verification.png" />
            <p>
              Enter the verification code we just sent you on your mobile
              Number.
            </p>
            <!-- <p style="font-size: 10px">
              <span style="font-weight: bold">Note:</span> You might experience
              delay on OTP to mobile, you can use OTP sent on E-mail Address.
            </p> -->
            <ul>
              <li>
                <input
                  type="text"
                  class="form-control"
                  #otp1
                  maxlength="1"
                  (keyup)="move(otp1, otp1, otp2, $event.keyCode)"
                  formControlName="otp1"
                  [ngClass]="{ 'is-invalid': submitted && f.otp1.errors }"
                />
                <!-- <div class="help-block invalid-feedback" *ngIf="submitted && f.otp1.errors">
                                   <div *ngIf="f.otp1.errors.required">OTP is required</div>
                               </div>   -->
              </li>
              <li>
                <input
                  type="text"
                  class="form-control"
                  #otp2
                  maxlength="1"
                  (keyup)="move(otp1, otp2, otp3, $event.keyCode)"
                  formControlName="otp2"
                  [ngClass]="{ 'is-invalid': submitted && f.otp2.errors }"
                />
                <!-- <div class="help-block invalid-feedback" *ngIf="submitted && f.otp2.errors">
                                   <div *ngIf="f.otp2.errors.required">OTP is required</div>
                               </div> -->
              </li>
              <li>
                <input
                  type="text"
                  class="form-control"
                  #otp3
                  maxlength="1"
                  (keyup)="move(otp2, otp3, otp4, $event.keyCode)"
                  formControlName="otp3"
                  [ngClass]="{ 'is-invalid': submitted && f.otp3.errors }"
                />
                <!-- <div class="help-block invalid-feedback" *ngIf="submitted && f.otp3.errors">
                                   <div *ngIf="f.otp3.errors.required">OTP is required</div>
                               </div> -->
              </li>
              <li>
                <input
                  type="text"
                  class="form-control"
                  #otp4
                  maxlength="1"
                  (keyup)="move(otp3, otp3, otp4, $event.keyCode)"
                  formControlName="otp4"
                  [ngClass]="{ 'is-invalid': submitted && f.otp4.errors }"
                />
                <!-- <div class="help-block invalid-feedback" *ngIf="submitted && f.otp4.errors">
                                   <div *ngIf="f.otp4.errors.required">OTP is required</div>
                               </div> -->
              </li>
            </ul>
            <p class="link-account text-cent">
              If you didnt receive a code!
              <a class="anchor-link" *ngIf="resendloader1" (click)="resend()"
                >Resend</a
              >
              <span
                class="spinner-border spinner-border-sm mr-1"
                *ngIf="resendloader"
                role="status"
              ></span>
              <span class="load-text" *ngIf="resendloader">Sending...</span>
            </p>
            <div class="col-12 m0-auto">
              <button
                [disabled]="loading"
                class="btn btn-style-bg text-uppercase m-b30"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Verify
              </button>
            </div>
            <!-- <p  class="link-account text-cent m-a0">Login in Using <a  routerLink="/auth/signwithemail" class="anchor-link">Password</a></p> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
