#appCapsule {
    padding: 2px 0;
    margin-bottom: env(safe-area-inset-bottom);
}
.listview.flush {
    border-top: 0;
    border-bottom: 0;
}
.listview {
    display: block;
    padding: 0;
    margin: 0;
    color: #27173E;
    background: #fff;
    border-top: 1px solid #DCDCE9;
    border-bottom: 1px solid #DCDCE9;
    line-height: 1.3em;
}
.image-listview>li {
    padding: 0;
    min-height: auto;
}
.listview>li {
    display: inline-block;
    /* align-items: center; */
    /* justify-content: space-between; */
    position: relative;
    min-height: 50px;
    width: 100%;
}
.image-listview>li.active .item {
    background: rgba(220,220,233,0.3) !important;
}
.image-listview>li a.item {
    color: #27173E !important;
    padding-right: 36px;
}
.image-listview>li a.item .mb-05.font-15 {
   font-size: 12px;
}
.image-listview>li .item {
    padding: 8px 16px;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
}
.image-listview>li .item .icon-circle {
    min-width: 45px;
    max-width: 45px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    font-size: 22px;
    border-radius: 400px;
    margin-right: 16px;
}
.hydrated {
    visibility: inherit;
}
.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
}
:host .ionicon {
    stroke: currentcolor;
}
.ionicon-fill-none {
    fill: none;
}
.image-listview>li .item .in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.listview .text-small {
    font-size: 13px;
    color: #958d9e;
}
.listview .text-xsmall {
    font-size: 11px;
    color: #A9ABAD;
}
.badge-empty {
    display: inline-flex !important;
    min-width: 8px !important;
    width: 8px !important;
    height: 8px !important;
    padding: 0 !important;
    font-size: 0px;
}
.image-listview>li a.item:after {
    content: "\f3d1";
    font-family: "Ionicons";
    font-size: 18px;
    position: absolute;
    right: 16px;
    color: #A9ABAD;
    opacity: 0.6;
    line-height: 1em;
    height: 18px;
    top: 50%;
    margin-top: -9px;
}
.listview>li:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #DCDCE9;
}


/**/
#appCapsule .bg-pink {
    background: #ffbdbd;
}
#appCapsule .bg-blue {
    background-color: rgba(255,159,67,.12);
    color: #FF9F43!important
}
#appCapsule .bg-green {
    background-color: rgba(40,199,111,.12);
    color: #28C76F!important;
}
#appCapsule .bg-orange {
    background:#ffbd86;
}
.bg-info-not {
    background-color: rgba(0,207,232,.12);
    color: #00CFE8!important;
}


.mt_7 {
    margin-top: -7px;
}
svg
{
    width: 25px;
}



.bg-red
{
    background-color: rgba(234,84,85,.12);
    color: #EA5455!important;
}

.notifications .mat-accordion h3
{
   
    font-size: 12px;
    line-height: 12px;
    display: block;
    margin: 0;
    font-weight: bold;

}
.notifications
span
{
    display: block;
    line-height: 21px;
    color: #666666;
    font-weight: 400;
    font-size: 11px;
}
.notifications .mat-accordion img
{
margin-right:12px;
}
.notifications .mat-accordion p
{
    margin: 0;
    font-size: 11px;
    color: #A9ABAD;
    padding: 0;
    line-height: 19px;
}
.notifications .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff!important;
    background-clip: border-box;
    border-radius: 10px;
    border: 0 solid #edeef7!important;
    margin-bottom: 3px;
    border-radius: 5px !important;
    box-shadow: 0 5px 15px 5px rgb(80 102 224 / 8%);
}
.notifications .mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    vertical-align: middle;
    align-items: center;
}

.icon-circle {
    width: 32px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    font-size: 15px;
    border-radius: 49% !important;
    margin-right: 16px;
}
input[type="checkbox"] {
    display: none; 
  }
  .toggle-button-switch {
    position: absolute;
    top: 4px;
    right: 2px;
    width: 19px;
    height: 17px;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    line-height: 18px;
    font-size: 13px;
    text-align: center;
    transition: left 0.3s;
  }
  .toggle-button-text {
    overflow: hidden;
    background-color: #3dbf87;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
 span.push-text
 {
    margin-right: 20px;
    padding: 7px 11px;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
 }
  .toggle-button-text-off {
    float: left;
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-left: 27px;
    padding-right: 7px;

  }

  input[type="checkbox"]:checked ~ .toggle-button-switch {
    left: 3px;
  }

  input[type="checkbox"]:checked ~ .toggle-button-text {
    background-color: #e75e83;
  }
  input[type=checkbox]:checked ~ .toggle-button-text .toggle-button-text-on {
   display: none;
}
input[type=checkbox]:checked ~ .toggle-button-text .toggle-button-text-off {
    display: block;
 }
.toggle-button-text-off
{
    display: none;
}
.toggle-button-text .toggle-button-text-on





{
display:block
}
  .toggle-main
  {
  
    display: block;
    position: relative;
    width: auto;
    height: 21px;
    margin: 7px 0 11px;

  }
  .toggle-button-text-on  {
    float: left;
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-left: 6px;
    padding-right: 25px;
}


.main-notifcationtitle

{
display: flex;
background: #fff;
}