<div class="dashboard-page bg-light-blueshade">
  <app-desktop-header></app-desktop-header>
  <app-breadcrumb [headername]="headername"></app-breadcrumb>

  <section [ngClass]="{ 'py-0': isMobile }">
    <div class="container">
      <div class="row">
        <div class="col-3 m-none">
          <app-desktop-side-menu></app-desktop-side-menu>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="">
            <div
              class="
                deskdash-breadcrumbs
                main-notifcationtitle
                mb-3
                justify-content-between
                pr-2
              "
            >
              <h4
                class="
                  font-16 font-weight-600
                  d-flex
                  vertical-align-middle
                  align-items-center
                "
              >
                Notifications
              </h4>
              <!-- <div class="d-flex vertical-align-middle float-right align-items-center">  <span class="font-16 font-weight-600 push-text">
            Push Notifications
          </span> <div class="toggle-main"   [ngClass]="checked ? 'allow-on' : 'allow-off'
            ">
          
              <input type="checkbox" id="toggle-button-checkbox"
                (change)="changed.emit($event.target.checked)">
              <label class="toggle-button-switch"  
                for="toggle-button-checkbox"></label>
              <div class="toggle-button-text">
                <div class="toggle-button-text-on">Yes</div>
                <div class="toggle-button-text-off">No</div>
              </div>
            
            </div></div> -->
            </div>
          </div>
          <div id="appCapsule">
            <div class="section full">
              <div class="">
                <div class="row">
                  <div class="col-lg-12 notifications">
                    <mat-accordion class="example-headers-align">
                      <mat-expansion-panel
                        *ngFor="
                          let notification of notifications;
                          first as isFirst
                        "
                      >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <div class="row">
                              <div
                                class="
                                  col-lg-3 col-sm-3 col-xs-3 col-xl-3 col-md-3
                                "
                              >
                                <div class="icon-circle px-1 bg-red">
                                  <i class="fal fa-bell"></i>
                                </div>
                              </div>
                              <div
                                class="
                                  col-lg-9 col-sm-9 col-xs-9 col-xl-9 col-md-9
                                "
                              >
                                <h3>
                                  {{ notification.title }}
                                  <span> 5/3/2020 10: 30 AM </span>
                                </h3>
                              </div>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                          {{ notification.content }}
                        </p>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <!-- <ul class="listview image-listview flush">
                      <li *ngFor="let notification of notifications">
                        <a href="" class="item">
                          <div class="icon-circle px-1">
                            <img
                              src="assets/images/icons/offers-notifications.png"
                              alt=""
                              width="32px"
                            />
                          </div>
                          <div class="in">
                            <div>
                              <div class="mb-05 font-15">
                                <strong>{{ notification.title }}</strong>
                              </div>

                              <div class="text-xsmall">
                                {{ notification.content }}
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="row v-row text-center-nofound"
            *ngIf="notifications?.length == 0"
          >
            <div class="col-lg-12">
              <img src="assets/images/icons/no-notifications.png" />
              <label>No Notifications</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
