@font-face {
  font-family: 'icomoon'; font-display: swap;
  src:  url('/./assets/fonts/icomoon.eot?x9i9xv');
  src:  url('/./assets/fonts/icomoon.eot?x9i9xv#iefix') format('embedded-opentype'),
    url('/./assets/fonts/icomoon.ttf?x9i9xv') format('truetype'),
    url('/./assets/fonts/icomoon.woff?x9i9xv') format('woff'),
    url('/./assets/fonts/icomoon.svg?x9i9xv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e909";
}
.icon-heart-fill:before {
  content: "\e90a";
}
.icon-heart-1:before {
  content: "\f08a";
}
.icon-grid-view:before {
  content: "\e927";
}
.icon-row-view:before {
  content: "\e928";
}
.icon-view-1:before {
  content: "\e92d";
}
.icon-view-2:before {
  content: "\e92e";
}
.icon-view-4:before {
  content: "\e916";
}
.icon-view-3:before {
  content: "\e926";
}
.icon-menu2:before {
  content: "\e120";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-search2:before {
  content: "\e036";
}
.icon-zoomin:before {
  content: "\e91f";
}
.icon-play:before {
  content: "\e920";
}
.icon-pause:before {
  content: "\e92f";
}
.icon-repeat:before {
  content: "\e91a";
}
.icon-check-box:before {
  content: "\e905";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-pencil:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\f002";
}
.icon-lock:before {
  content: "\f023";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-menu-angle-down:before {
  content: "\e900";
}
.icon-menu-angle-down-1:before {
  content: "\e901";
}
.icon-angle-down:before {
  content: "\e921";
}
.icon-angle-left:before {
  content: "\e922";
}
.icon-angle-right:before {
  content: "\e919";
}
.icon-angle-up:before {
  content: "\e923";
}
.icon-next:before {
  content: "\e409";
}
.icon-prev:before {
  content: "\e40a";
}
.icon-arrow-up:before {
  content: "\e92c";
}
.icon-arrow-down:before {
  content: "\e92b";
}
.icon-arrow-right:before {
  content: "\e929";
}
.icon-arrow-left:before {
  content: "\e92a";
}
.icon-arrow-left-circle:before {
  content: "\e908";
}
.icon-return:before {
  content: "\e91b";
}
.icon-person2:before {
  content: "\e930";
}
.icon-person:before {
  content: "\e93c";
}
.icon-person-fill:before {
  content: "\e7fd";
}
.icon-person-fill-add:before {
  content: "\e7fe";
}
.icon-box2:before {
  content: "\e079";
}
.icon-box3:before {
  content: "\e90d";
}
.icon-gift2:before {
  content: "\e91c";
}
.icon-box:before {
  content: "\e906";
}
.icon-call:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e907";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-error:before {
  content: "\e914";
}
.icon-circle-dollar:before {
  content: "\e91d";
}
.icon-tag:before {
  content: "\e912";
}
.icon-badge:before {
  content: "\e915";
}
.icon-chat:before {
  content: "\e904";
}
.icon-globe:before {
  content: "\e911";
}
.icon-global:before {
  content: "\e052";
}
.icon-share:before {
  content: "\e80d";
}
.icon-chat3:before {
  content: "\e90e";
}
.icon-cross:before {
  content: "\e117";
}
.icon-cross-1:before {
  content: "\e941";
}
.icon-star:before {
  content: "\e924";
}
.icon-star-border:before {
  content: "\e925";
}
.icon-fancy:before {
  content: "\e943";
}
.icon-facebook:before {
  content: "\e931";
}
.icon-skype:before {
  content: "\e932";
}
.icon-tumblr:before {
  content: "\e957";
}
.icon-vk:before {
  content: "\e956";
}
.icon-twitter:before {
  content: "\e933";
}
.icon-vimeo:before {
  content: "\e934";
}
.icon-youtube:before {
  content: "\e935";
}
.icon-snapchat:before {
  content: "\e962";
}
.icon-linkedin:before {
  content: "\e938";
}
.icon-google:before {
  content: "\e93a";
}
.icon-pinterest:before {
  content: "\e939";
}
.icon-instagram:before {
  content: "\e955";
}
.icon-location:before {
  content: "\e902";
}
.icon-location1:before {
  content: "\e93f";
}
.icon-sad-face:before {
  content: "\e93b";
}
.icon-clock:before {
  content: "\e937";
}
.icon-clock3:before {
  content: "\e93d";
}
.icon-clock2:before {
  content: "\e903";
}
.icon-clock4:before {
  content: "\e93e";
}
.icon-search3:before {
  content: "\e90c";
}
.icon-mail-envelope1:before {
  content: "\e940";
}
.icon-mail-envelope:before {
  content: "\e918";
}
.icon-mail:before {
  content: "\e936";
}
.icon-leather-derby-shoe:before {
  content: "\e90f";
}
.icon-t-shirt:before {
  content: "\e917";
}
.icon-handbag:before {
  content: "\e913";
}
.icon-business-tie:before {
  content: "\e910";
}


/*---plaza icone css here---*/
@font-face {
  font-family: 'plaza-icon';
  src:  url('/assets/fonts/plaza-icon.eot?leeyft');
  src:  url('/assets/fonts/plaza-icon.eot?leeyft#iefix') format('embedded-opentype'),
    url('/assets/fonts/plaza-icon.ttf?leeyft') format('truetype'),
    url('/assets/fonts/plaza-icon.woff?leeyft') format('woff'),
    url('/assets/fonts/plaza-icon.svg?leeyft#plaza-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon3-"], [class*=" icon3-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'plaza-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon3-activity:before {
  content: "\e900";
}
.icon3-airplay:before {
  content: "\e901";
}
.icon3-alert-circle:before {
  content: "\e902";
}
.icon3-alert-octagon:before {
  content: "\e903";
}
.icon3-alert-triangle:before {
  content: "\e904";
}
.icon3-align-center:before {
  content: "\e905";
}
.icon3-align-justify:before {
  content: "\e906";
}
.icon3-align-left:before {
  content: "\e907";
}
.icon3-align-right:before {
  content: "\e908";
}
.icon3-anchor:before {
  content: "\e909";
}
.icon3-aperture:before {
  content: "\e90a";
}
.icon3-archive:before {
  content: "\e90b";
}
.icon3-arrow-down:before {
  content: "\e90c";
}
.icon3-arrow-down-circle:before {
  content: "\e90d";
}
.icon3-arrow-down-left:before {
  content: "\e90e";
}
.icon3-arrow-down-right:before {
  content: "\e90f";
}
.icon3-arrow-left:before {
  content: "\e910";
}
.icon3-arrow-left-circle:before {
  content: "\e911";
}
.icon3-arrow-right:before {
  content: "\e912";
}
.icon3-arrow-right-circle:before {
  content: "\e913";
}
.icon3-arrow-up:before {
  content: "\e914";
}
.icon3-arrow-up-circle:before {
  content: "\e915";
}
.icon3-arrow-up-left:before {
  content: "\e916";
}
.icon3-arrow-up-right:before {
  content: "\e917";
}
.icon3-at-sign:before {
  content: "\e918";
}
.icon3-award:before {
  content: "\e919";
}
.icon3-bar-chart:before {
  content: "\e91a";
}
.icon3-bar-chart-2:before {
  content: "\e91b";
}
.icon3-battery:before {
  content: "\e91c";
}
.icon3-battery-charging:before {
  content: "\e91d";
}
.icon3-bell:before {
  content: "\e91e";
}
.icon3-bell-off:before {
  content: "\e91f";
}
.icon3-bluetooth:before {
  content: "\e920";
}
.icon3-bold:before {
  content: "\e921";
}
.icon3-book:before {
  content: "\e922";
}
.icon3-book-open:before {
  content: "\e923";
}
.icon3-bookmark:before {
  content: "\e924";
}
.icon3-box:before {
  content: "\e925";
}
.icon3-briefcase:before {
  content: "\e926";
}
.icon3-calendar:before {
  content: "\e927";
}
.icon3-camera:before {
  content: "\e928";
}
.icon3-camera-off:before {
  content: "\e929";
}
.icon3-cast:before {
  content: "\e92a";
}
.icon3-check:before {
  content: "\e92b";
}
.icon3-check-circle:before {
  content: "\e92c";
}
.icon3-check-square:before {
  content: "\e92d";
}
.icon3-chevron-down:before {
  content: "\e92e";
}
.icon3-chevron-left:before {
  content: "\e92f";
}
.icon3-chevron-right:before {
  content: "\e930";
}
.icon3-chevron-up:before {
  content: "\e931";
}
.icon3-chevrons-down:before {
  content: "\e932";
}
.icon3-chevrons-left:before {
  content: "\e933";
}
.icon3-chevrons-right:before {
  content: "\e934";
}
.icon3-chevrons-up:before {
  content: "\e935";
}
.icon3-chrome:before {
  content: "\e936";
}
.icon3-circle:before {
  content: "\e937";
}
.icon3-clipboard:before {
  content: "\e938";
}
.icon3-clock:before {
  content: "\e939";
}
.icon3-cloud:before {
  content: "\e93a";
}
.icon3-cloud-drizzle:before {
  content: "\e93b";
}
.icon3-cloud-lightning:before {
  content: "\e93c";
}
.icon3-cloud-off:before {
  content: "\e93d";
}
.icon3-cloud-rain:before {
  content: "\e93e";
}
.icon3-cloud-snow:before {
  content: "\e93f";
}
.icon3-code:before {
  content: "\e940";
}
.icon3-codepen:before {
  content: "\e941";
}
.icon3-command:before {
  content: "\e942";
}
.icon3-compass:before {
  content: "\e943";
}
.icon3-copy:before {
  content: "\e944";
}
.icon3-corner-down-left:before {
  content: "\e945";
}
.icon3-corner-down-right:before {
  content: "\e946";
}
.icon3-corner-left-down:before {
  content: "\e947";
}
.icon3-corner-left-up:before {
  content: "\e948";
}
.icon3-corner-right-down:before {
  content: "\e949";
}
.icon3-corner-right-up:before {
  content: "\e94a";
}
.icon3-corner-up-left:before {
  content: "\e94b";
}
.icon3-corner-up-right:before {
  content: "\e94c";
}
.icon3-cpu:before {
  content: "\e94d";
}
.icon3-credit-card:before {
  content: "\e94e";
}
.icon3-crop:before {
  content: "\e94f";
}
.icon3-crosshair:before {
  content: "\e950";
}
.icon3-database:before {
  content: "\e951";
}
.icon3-delete:before {
  content: "\e952";
}
.icon3-disc:before {
  content: "\e953";
}
.icon3-dollar-sign:before {
  content: "\e954";
}
.icon3-download:before {
  content: "\e955";
}
.icon3-download-cloud:before {
  content: "\e956";
}
.icon3-droplet:before {
  content: "\e957";
}
.icon3-edit:before {
  content: "\e958";
}
.icon3-edit-2:before {
  content: "\e959";
}
.icon3-edit-3:before {
  content: "\e95a";
}
.icon3-external-link:before {
  content: "\e95b";
}
.icon3-eye:before {
  content: "\e95c";
}
.icon3-eye-off:before {
  content: "\e95d";
}
.icon3-facebook:before {
  content: "\e95e";
}
.icon3-fast-forward:before {
  content: "\e95f";
}
.icon3-feather:before {
  content: "\e960";
}
.icon3-file:before {
  content: "\e961";
}
.icon3-file-minus:before {
  content: "\e962";
}
.icon3-file-plus:before {
  content: "\e963";
}
.icon3-file-text:before {
  content: "\e964";
}
.icon3-film:before {
  content: "\e965";
}
.icon3-filter:before {
  content: "\e966";
}
.icon3-flag:before {
  content: "\e967";
}
.icon3-folder:before {
  content: "\e968";
}
.icon3-folder-minus:before {
  content: "\e969";
}
.icon3-folder-plus:before {
  content: "\e96a";
}
.icon3-gift:before {
  content: "\e96b";
}
.icon3-git-branch:before {
  content: "\e96c";
}
.icon3-git-commit:before {
  content: "\e96d";
}
.icon3-git-merge:before {
  content: "\e96e";
}
.icon3-git-pull-request:before {
  content: "\e96f";
}
.icon3-github:before {
  content: "\e970";
}
.icon3-gitlab:before {
  content: "\e971";
}
.icon3-globe:before {
  content: "\e972";
}
.icon3-grid:before {
  content: "\e973";
}
.icon3-hard-drive:before {
  content: "\e974";
}
.icon3-hash:before {
  content: "\e975";
}
.icon3-headphones:before {
  content: "\e976";
}
.icon3-heart:before {
  content: "\e977";
}
.icon3-help-circle:before {
  content: "\e978";
}
.icon3-home:before {
  content: "\e979";
}
.icon3-image:before {
  content: "\e97a";
}
.icon3-inbox:before {
  content: "\e97b";
}
.icon3-info:before {
  content: "\e97c";
}
.icon3-instagram:before {
  content: "\e97d";
}
.icon3-italic:before {
  content: "\e97e";
}
.icon3-layers:before {
  content: "\e97f";
}
.icon3-layout:before {
  content: "\e980";
}
.icon3-life-buoy:before {
  content: "\e981";
}
.icon3-link:before {
  content: "\e982";
}
.icon3-link-2:before {
  content: "\e983";
}
.icon3-linkedin:before {
  content: "\e984";
}
.icon3-list:before {
  content: "\e985";
}
.icon3-loader:before {
  content: "\e986";
}
.icon3-lock:before {
  content: "\e987";
}
.icon3-log-in:before {
  content: "\e988";
}
.icon3-log-out:before {
  content: "\e989";
}
.icon3-mail:before {
  content: "\e98a";
}
.icon3-map:before {
  content: "\e98b";
}
.icon3-map-pin:before {
  content: "\e98c";
}
.icon3-maximize:before {
  content: "\e98d";
}
.icon3-maximize-2:before {
  content: "\e98e";
}
.icon3-menu:before {
  content: "\e98f";
}
.icon3-message-circle:before {
  content: "\e990";
}
.icon3-message-square:before {
  content: "\e991";
}
.icon3-mic:before {
  content: "\e992";
}
.icon3-mic-off:before {
  content: "\e993";
}
.icon3-minimize:before {
  content: "\e994";
}
.icon3-minimize-2:before {
  content: "\e995";
}
.icon3-minus:before {
  content: "\e996";
}
.icon3-minus-circle:before {
  content: "\e997";
}
.icon3-minus-square:before {
  content: "\e998";
}
.icon3-monitor:before {
  content: "\e999";
}
.icon3-moon:before {
  content: "\e99a";
}
.icon3-more-horizontal:before {
  content: "\e99b";
}
.icon3-more-vertical:before {
  content: "\e99c";
}
.icon3-move:before {
  content: "\e99d";
}
.icon3-music:before {
  content: "\e99e";
}
.icon3-navigation:before {
  content: "\e99f";
}
.icon3-navigation-2:before {
  content: "\e9a0";
}
.icon3-octagon:before {
  content: "\e9a1";
}
.icon3-package:before {
  content: "\e9a2";
}
.icon3-paperclip:before {
  content: "\e9a3";
}
.icon3-pause:before {
  content: "\e9a4";
}
.icon3-pause-circle:before {
  content: "\e9a5";
}
.icon3-percent:before {
  content: "\e9a6";
}
.icon3-phone:before {
  content: "\e9a7";
}
.icon3-phone-call:before {
  content: "\e9a8";
}
.icon3-phone-forwarded:before {
  content: "\e9a9";
}
.icon3-phone-incoming:before {
  content: "\e9aa";
}
.icon3-phone-missed:before {
  content: "\e9ab";
}
.icon3-phone-off:before {
  content: "\e9ac";
}
.icon3-phone-outgoing:before {
  content: "\e9ad";
}
.icon3-pie-chart:before {
  content: "\e9ae";
}
.icon3-play:before {
  content: "\e9af";
}
.icon3-play-circle:before {
  content: "\e9b0";
}
.icon3-plus:before {
  content: "\e9b1";
}
.icon3-plus-circle:before {
  content: "\e9b2";
}
.icon3-plus-square:before {
  content: "\e9b3";
}
.icon3-pocket:before {
  content: "\e9b4";
}
.icon3-power:before {
  content: "\e9b5";
}
.icon3-printer:before {
  content: "\e9b6";
}
.icon3-radio:before {
  content: "\e9b7";
}
.icon3-refresh-ccw:before {
  content: "\e9b8";
}
.icon3-refresh-cw:before {
  content: "\e9b9";
}
.icon3-repeat:before {
  content: "\e9ba";
}
.icon3-rewind:before {
  content: "\e9bb";
}
.icon3-rotate-ccw:before {
  content: "\e9bc";
}
.icon3-rotate-cw:before {
  content: "\e9bd";
}
.icon3-rss:before {
  content: "\e9be";
}
.icon3-save:before {
  content: "\e9bf";
}
.icon3-scissors:before {
  content: "\e9c0";
}
.icon3-search:before {
  content: "\e9c1";
}
.icon3-send:before {
  content: "\e9c2";
}
.icon3-server:before {
  content: "\e9c3";
}
.icon3-settings:before {
  content: "\e9c4";
}
.icon3-share:before {
  content: "\e9c5";
}
.icon3-share-2:before {
  content: "\e9c6";
}
.icon3-shield:before {
  content: "\e9c7";
}
.icon3-shield-off:before {
  content: "\e9c8";
}
.icon3-shopping-bag:before {
  content: "\e9c9";
}
.icon3-shopping-cart:before {
  content: "\e9ca";
}
.icon3-shuffle:before {
  content: "\e9cb";
}
.icon3-sidebar:before {
  content: "\e9cc";
}
.icon3-skip-back:before {
  content: "\e9cd";
}
.icon3-skip-forward:before {
  content: "\e9ce";
}
.icon3-slack:before {
  content: "\e9cf";
}
.icon3-slash:before {
  content: "\e9d0";
}
.icon3-sliders:before {
  content: "\e9d1";
}
.icon3-smartphone:before {
  content: "\e9d2";
}
.icon3-speaker:before {
  content: "\e9d3";
}
.icon3-square:before {
  content: "\e9d4";
}
.icon3-star:before {
  content: "\e9d5";
}
.icon3-stop-circle:before {
  content: "\e9d6";
}
.icon3-sun:before {
  content: "\e9d7";
}
.icon3-sunrise:before {
  content: "\e9d8";
}
.icon3-sunset:before {
  content: "\e9d9";
}
.icon3-tablet:before {
  content: "\e9da";
}
.icon3-tag:before {
  content: "\e9db";
}
.icon3-target:before {
  content: "\e9dc";
}
.icon3-terminal:before {
  content: "\e9dd";
}
.icon3-thermometer:before {
  content: "\e9de";
}
.icon3-thumbs-down:before {
  content: "\e9df";
}
.icon3-thumbs-up:before {
  content: "\e9e0";
}
.icon3-toggle-left:before {
  content: "\e9e1";
}
.icon3-toggle-right:before {
  content: "\e9e2";
}
.icon3-trash:before {
  content: "\e9e3";
}
.icon3-trash-2:before {
  content: "\e9e4";
}
.icon3-trending-down:before {
  content: "\e9e5";
}
.icon3-trending-up:before {
  content: "\e9e6";
}
.icon3-triangle:before {
  content: "\e9e7";
}
.icon3-truck:before {
  content: "\e9e8";
}
.icon3-tv:before {
  content: "\e9e9";
}
.icon3-twitter:before {
  content: "\e9ea";
}
.icon3-type:before {
  content: "\e9eb";
}
.icon3-umbrella:before {
  content: "\e9ec";
}
.icon3-underline:before {
  content: "\e9ed";
}
.icon3-unlock:before {
  content: "\e9ee";
}
.icon3-upload:before {
  content: "\e9ef";
}
.icon3-upload-cloud:before {
  content: "\e9f0";
}
.icon3-user:before {
  content: "\e9f1";
}
.icon3-user-check:before {
  content: "\e9f2";
}
.icon3-user-minus:before {
  content: "\e9f3";
}
.icon3-user-plus:before {
  content: "\e9f4";
}
.icon3-user-x:before {
  content: "\e9f5";
}
.icon3-users:before {
  content: "\e9f6";
}
.icon3-video:before {
  content: "\e9f7";
}
.icon3-video-off:before {
  content: "\e9f8";
}
.icon3-voicemail:before {
  content: "\e9f9";
}
.icon3-volume:before {
  content: "\e9fa";
}
.icon3-volume-1:before {
  content: "\e9fb";
}
.icon3-volume-2:before {
  content: "\e9fc";
}
.icon3-volume-x:before {
  content: "\e9fd";
}
.icon3-watch:before {
  content: "\e9fe";
}
.icon3-wifi:before {
  content: "\e9ff";
}
.icon3-wifi-off:before {
  content: "\ea00";
}
.icon3-wind:before {
  content: "\ea01";
}
.icon3-x:before {
  content: "\ea02";
}
.icon3-x-circle:before {
  content: "\ea03";
}
.icon3-x-square:before {
  content: "\ea04";
}
.icon3-youtube:before {
  content: "\ea05";
}
.icon3-zap:before {
  content: "\ea06";
}
.icon3-zap-off:before {
  content: "\ea07";
}
.icon3-zoom-in:before {
  content: "\ea08";
}
.icon3-zoom-out:before {
  content: "\ea09";
}
.icon3-add-to-list:before {
  content: "\ea0a";
}
.icon3-classic-computer:before {
  content: "\ea0b";
}
.icon3-controller-fast-backward:before {
  content: "\ea0c";
}
.icon3-creative-commons-attribution:before {
  content: "\ea0d";
}
.icon3-creative-commons-noderivs:before {
  content: "\ea0e";
}
.icon3-creative-commons-noncommercial-eu:before {
  content: "\ea0f";
}
.icon3-creative-commons-noncommercial-us:before {
  content: "\ea10";
}
.icon3-creative-commons-public-domain:before {
  content: "\ea11";
}
.icon3-creative-commons-remix:before {
  content: "\ea12";
}
.icon3-creative-commons-share:before {
  content: "\ea13";
}
.icon3-creative-commons-sharealike:before {
  content: "\ea14";
}
.icon3-creative-commons:before {
  content: "\ea15";
}
.icon3-document-landscape:before {
  content: "\ea16";
}
.icon3-remove-user:before {
  content: "\ea17";
}
.icon3-warning:before {
  content: "\ea18";
}
.icon3-arrow-bold-down:before {
  content: "\ea19";
}
.icon3-arrow-bold-left:before {
  content: "\ea1a";
}
.icon3-arrow-bold-right:before {
  content: "\ea1b";
}
.icon3-arrow-bold-up:before {
  content: "\ea1c";
}
.icon3-arrow-down2:before {
  content: "\ea1d";
}
.icon3-arrow-left2:before {
  content: "\ea1e";
}
.icon3-arrow-long-down:before {
  content: "\ea1f";
}
.icon3-arrow-long-left:before {
  content: "\ea20";
}
.icon3-arrow-long-right:before {
  content: "\ea21";
}
.icon3-arrow-long-up:before {
  content: "\ea22";
}
.icon3-arrow-right2:before {
  content: "\ea23";
}
.icon3-arrow-up2:before {
  content: "\ea24";
}
.icon3-arrow-with-circle-down:before {
  content: "\ea25";
}
.icon3-arrow-with-circle-left:before {
  content: "\ea26";
}
.icon3-arrow-with-circle-right:before {
  content: "\ea27";
}
.icon3-arrow-with-circle-up:before {
  content: "\ea28";
}
.icon3-bookmark2:before {
  content: "\ea29";
}
.icon3-bookmarks:before {
  content: "\ea2a";
}
.icon3-chevron-down2:before {
  content: "\ea2b";
}
.icon3-chevron-left2:before {
  content: "\ea2c";
}
.icon3-chevron-right2:before {
  content: "\ea2d";
}
.icon3-chevron-small-down:before {
  content: "\ea2e";
}
.icon3-chevron-small-left:before {
  content: "\ea2f";
}
.icon3-chevron-small-right:before {
  content: "\ea30";
}
.icon3-chevron-small-up:before {
  content: "\ea31";
}
.icon3-chevron-thin-down:before {
  content: "\ea32";
}
.icon3-chevron-thin-left:before {
  content: "\ea33";
}
.icon3-chevron-thin-right:before {
  content: "\ea34";
}
.icon3-chevron-thin-up:before {
  content: "\ea35";
}
.icon3-chevron-up2:before {
  content: "\ea36";
}
.icon3-chevron-with-circle-down:before {
  content: "\ea37";
}
.icon3-chevron-with-circle-left:before {
  content: "\ea38";
}
.icon3-chevron-with-circle-right:before {
  content: "\ea39";
}
.icon3-chevron-with-circle-up:before {
  content: "\ea3a";
}
.icon3-cloud2:before {
  content: "\ea3b";
}
.icon3-controller-fast-forward:before {
  content: "\ea3c";
}
.icon3-controller-jump-to-start:before {
  content: "\ea3d";
}
.icon3-controller-next:before {
  content: "\ea3e";
}
.icon3-controller-paus:before {
  content: "\ea3f";
}
.icon3-controller-play:before {
  content: "\ea40";
}
.icon3-controller-record:before {
  content: "\ea41";
}
.icon3-controller-stop:before {
  content: "\ea42";
}
.icon3-controller-volume:before {
  content: "\ea43";
}
.icon3-dot-single:before {
  content: "\ea44";
}
.icon3-dots-three-horizontal:before {
  content: "\ea45";
}
.icon3-dots-three-vertical:before {
  content: "\ea46";
}
.icon3-dots-two-horizontal:before {
  content: "\ea47";
}
.icon3-dots-two-vertical:before {
  content: "\ea48";
}
.icon3-download2:before {
  content: "\ea49";
}
.icon3-emoji-flirt:before {
  content: "\ea4a";
}
.icon3-flow-branch:before {
  content: "\ea4b";
}
.icon3-flow-cascade:before {
  content: "\ea4c";
}
.icon3-flow-line:before {
  content: "\ea4d";
}
.icon3-flow-parallel:before {
  content: "\ea4e";
}
.icon3-flow-tree:before {
  content: "\ea4f";
}
.icon3-install:before {
  content: "\ea50";
}
.icon3-layers2:before {
  content: "\ea51";
}
.icon3-open-book:before {
  content: "\ea52";
}
.icon3-resize-100:before {
  content: "\ea53";
}
.icon3-resize-full-screen:before {
  content: "\ea54";
}
.icon3-save2:before {
  content: "\ea55";
}
.icon3-select-arrows:before {
  content: "\ea56";
}
.icon3-sound-mute:before {
  content: "\ea57";
}
.icon3-sound:before {
  content: "\ea58";
}
.icon3-trash2:before {
  content: "\ea59";
}
.icon3-triangle-down:before {
  content: "\ea5a";
}
.icon3-triangle-left:before {
  content: "\ea5b";
}
.icon3-triangle-right:before {
  content: "\ea5c";
}
.icon3-triangle-up:before {
  content: "\ea5d";
}
.icon3-uninstall:before {
  content: "\ea5e";
}
.icon3-upload-to-cloud:before {
  content: "\ea5f";
}
.icon3-upload2:before {
  content: "\ea60";
}
.icon3-add-user:before {
  content: "\ea61";
}
.icon3-address:before {
  content: "\ea62";
}
.icon3-adjust:before {
  content: "\ea63";
}
.icon3-air:before {
  content: "\ea64";
}
.icon3-aircraft-landing:before {
  content: "\ea65";
}
.icon3-aircraft-take-off:before {
  content: "\ea66";
}
.icon3-aircraft:before {
  content: "\ea67";
}
.icon3-align-bottom:before {
  content: "\ea68";
}
.icon3-align-horizontal-middle:before {
  content: "\ea69";
}
.icon3-align-left2:before {
  content: "\ea6a";
}
.icon3-align-right2:before {
  content: "\ea6b";
}
.icon3-align-top:before {
  content: "\ea6c";
}
.icon3-align-vertical-middle:before {
  content: "\ea6d";
}
.icon3-archive2:before {
  content: "\ea6e";
}
.icon3-area-graph:before {
  content: "\ea6f";
}
.icon3-attachment:before {
  content: "\ea70";
}
.icon3-awareness-ribbon:before {
  content: "\ea71";
}
.icon3-back-in-time:before {
  content: "\ea72";
}
.icon3-back:before {
  content: "\ea73";
}
.icon3-bar-graph:before {
  content: "\ea74";
}
.icon3-battery2:before {
  content: "\ea75";
}
.icon3-beamed-note:before {
  content: "\ea76";
}
.icon3-bell2:before {
  content: "\ea77";
}
.icon3-blackboard:before {
  content: "\ea78";
}
.icon3-block:before {
  content: "\ea79";
}
.icon3-book2:before {
  content: "\ea7a";
}
.icon3-bowl:before {
  content: "\ea7b";
}
.icon3-box2:before {
  content: "\ea7c";
}
.icon3-briefcase2:before {
  content: "\ea7d";
}
.icon3-browser:before {
  content: "\ea7e";
}
.icon3-brush:before {
  content: "\ea7f";
}
.icon3-bucket:before {
  content: "\ea80";
}
.icon3-cake:before {
  content: "\ea81";
}
.icon3-calculator:before {
  content: "\ea82";
}
.icon3-calendar2:before {
  content: "\ea83";
}
.icon3-camera2:before {
  content: "\ea84";
}
.icon3-ccw:before {
  content: "\ea85";
}
.icon3-chat:before {
  content: "\ea86";
}
.icon3-check2:before {
  content: "\ea87";
}
.icon3-circle-with-cross:before {
  content: "\ea88";
}
.icon3-circle-with-minus:before {
  content: "\ea89";
}
.icon3-circle-with-plus:before {
  content: "\ea8a";
}
.icon3-circle2:before {
  content: "\ea8b";
}
.icon3-circular-graph:before {
  content: "\ea8c";
}
.icon3-clapperboard:before {
  content: "\ea8d";
}
.icon3-clipboard2:before {
  content: "\ea8e";
}
.icon3-clock2:before {
  content: "\ea8f";
}
.icon3-code2:before {
  content: "\ea90";
}
.icon3-cog:before {
  content: "\ea91";
}
.icon3-colours:before {
  content: "\ea92";
}
.icon3-compass2:before {
  content: "\ea93";
}
.icon3-copy2:before {
  content: "\ea94";
}
.icon3-credit-card2:before {
  content: "\ea95";
}
.icon3-credit:before {
  content: "\ea96";
}
.icon3-cross:before {
  content: "\ea97";
}
.icon3-cup:before {
  content: "\ea98";
}
.icon3-cw:before {
  content: "\ea99";
}
.icon3-cycle:before {
  content: "\ea9a";
}
.icon3-database2:before {
  content: "\ea9b";
}
.icon3-dial-pad:before {
  content: "\ea9c";
}
.icon3-direction:before {
  content: "\ea9d";
}
.icon3-document:before {
  content: "\ea9e";
}
.icon3-documents:before {
  content: "\ea9f";
}
.icon3-drink:before {
  content: "\eaa0";
}
.icon3-drive:before {
  content: "\eaa1";
}
.icon3-drop:before {
  content: "\eaa2";
}
.icon3-edit2:before {
  content: "\eaa3";
}
.icon3-email:before {
  content: "\eaa4";
}
.icon3-emoji-happy:before {
  content: "\eaa5";
}
.icon3-emoji-neutral:before {
  content: "\eaa6";
}
.icon3-emoji-sad:before {
  content: "\eaa7";
}
.icon3-erase:before {
  content: "\eaa8";
}
.icon3-eraser:before {
  content: "\eaa9";
}
.icon3-export:before {
  content: "\eaaa";
}
.icon3-eye2:before {
  content: "\eaab";
}
.icon3-feather2:before {
  content: "\eaac";
}
.icon3-flag2:before {
  content: "\eaad";
}
.icon3-flash:before {
  content: "\eaae";
}
.icon3-flashlight:before {
  content: "\eaaf";
}
.icon3-flat-brush:before {
  content: "\eab0";
}
.icon3-folder-images:before {
  content: "\eab1";
}
.icon3-folder-music:before {
  content: "\eab2";
}
.icon3-folder-video:before {
  content: "\eab3";
}
.icon3-folder2:before {
  content: "\eab4";
}
.icon3-forward:before {
  content: "\eab5";
}
.icon3-funnel:before {
  content: "\eab6";
}
.icon3-game-controller:before {
  content: "\eab7";
}
.icon3-gauge:before {
  content: "\eab8";
}
.icon3-globe2:before {
  content: "\eab9";
}
.icon3-graduation-cap:before {
  content: "\eaba";
}
.icon3-grid2:before {
  content: "\eabb";
}
.icon3-hair-cross:before {
  content: "\eabc";
}
.icon3-hand:before {
  content: "\eabd";
}
.icon3-heart-outlined:before {
  content: "\eabe";
}
.icon3-heart2:before {
  content: "\eabf";
}
.icon3-help-with-circle:before {
  content: "\eac0";
}
.icon3-help:before {
  content: "\eac1";
}
.icon3-home2:before {
  content: "\eac2";
}
.icon3-hour-glass:before {
  content: "\eac3";
}
.icon3-image-inverted:before {
  content: "\eac4";
}
.icon3-image2:before {
  content: "\eac5";
}
.icon3-images:before {
  content: "\eac6";
}
.icon3-inbox2:before {
  content: "\eac7";
}
.icon3-infinity:before {
  content: "\eac8";
}
.icon3-info-with-circle:before {
  content: "\eac9";
}
.icon3-info2:before {
  content: "\eaca";
}
.icon3-key:before {
  content: "\eacb";
}
.icon3-keyboard:before {
  content: "\eacc";
}
.icon3-lab-flask:before {
  content: "\eacd";
}
.icon3-landline:before {
  content: "\eace";
}
.icon3-language:before {
  content: "\eacf";
}
.icon3-laptop:before {
  content: "\ead0";
}
.icon3-leaf:before {
  content: "\ead1";
}
.icon3-level-down:before {
  content: "\ead2";
}
.icon3-level-up:before {
  content: "\ead3";
}
.icon3-lifebuoy:before {
  content: "\ead4";
}
.icon3-light-bulb:before {
  content: "\ead5";
}
.icon3-light-down:before {
  content: "\ead6";
}
.icon3-light-up:before {
  content: "\ead7";
}
.icon3-line-graph:before {
  content: "\ead8";
}
.icon3-link2:before {
  content: "\ead9";
}
.icon3-list2:before {
  content: "\eada";
}
.icon3-location-pin:before {
  content: "\eadb";
}
.icon3-location:before {
  content: "\eadc";
}
.icon3-lock-open:before {
  content: "\eadd";
}
.icon3-lock2:before {
  content: "\eade";
}
.icon3-log-out2:before {
  content: "\eadf";
}
.icon3-login:before {
  content: "\eae0";
}
.icon3-loop:before {
  content: "\eae1";
}
.icon3-magnet:before {
  content: "\eae2";
}
.icon3-magnifying-glass:before {
  content: "\eae3";
}
.icon3-mail2:before {
  content: "\eae4";
}
.icon3-man:before {
  content: "\eae5";
}
.icon3-map2:before {
  content: "\eae6";
}
.icon3-mask:before {
  content: "\eae7";
}
.icon3-medal:before {
  content: "\eae8";
}
.icon3-megaphone:before {
  content: "\eae9";
}
.icon3-menu2:before {
  content: "\eaea";
}
.icon3-message:before {
  content: "\eaeb";
}
.icon3-mic2:before {
  content: "\eaec";
}
.icon3-minus2:before {
  content: "\eaed";
}
.icon3-mobile:before {
  content: "\eaee";
}
.icon3-modern-mic:before {
  content: "\eaef";
}
.icon3-moon2:before {
  content: "\eaf0";
}
.icon3-mouse:before {
  content: "\eaf1";
}
.icon3-music2:before {
  content: "\eaf2";
}
.icon3-network:before {
  content: "\eaf3";
}
.icon3-new-message:before {
  content: "\eaf4";
}
.icon3-new:before {
  content: "\eaf5";
}
.icon3-news:before {
  content: "\eaf6";
}
.icon3-note:before {
  content: "\eaf7";
}
.icon3-notification:before {
  content: "\eaf8";
}
.icon3-old-mobile:before {
  content: "\eaf9";
}
.icon3-old-phone:before {
  content: "\eafa";
}
.icon3-palette:before {
  content: "\eafb";
}
.icon3-paper-plane:before {
  content: "\eafc";
}
.icon3-pencil:before {
  content: "\eafd";
}
.icon3-phone2:before {
  content: "\eafe";
}
.icon3-pie-chart2:before {
  content: "\eaff";
}
.icon3-pin:before {
  content: "\eb00";
}
.icon3-plus2:before {
  content: "\eb01";
}
.icon3-popup:before {
  content: "\eb02";
}
.icon3-power-plug:before {
  content: "\eb03";
}
.icon3-price-ribbon:before {
  content: "\eb04";
}
.icon3-price-tag:before {
  content: "\eb05";
}
.icon3-print:before {
  content: "\eb06";
}
.icon3-progress-empty:before {
  content: "\eb07";
}
.icon3-progress-full:before {
  content: "\eb08";
}
.icon3-progress-one:before {
  content: "\eb09";
}
.icon3-progress-two:before {
  content: "\eb0a";
}
.icon3-publish:before {
  content: "\eb0b";
}
.icon3-quote:before {
  content: "\eb0c";
}
.icon3-radio2:before {
  content: "\eb0d";
}
.icon3-reply-all:before {
  content: "\eb0e";
}
.icon3-reply:before {
  content: "\eb0f";
}
.icon3-retweet:before {
  content: "\eb10";
}
.icon3-rocket:before {
  content: "\eb11";
}
.icon3-round-brush:before {
  content: "\eb12";
}
.icon3-rss2:before {
  content: "\eb13";
}
.icon3-ruler:before {
  content: "\eb14";
}
.icon3-scissors2:before {
  content: "\eb15";
}
.icon3-share-alternitive:before {
  content: "\eb16";
}
.icon3-share2:before {
  content: "\eb17";
}
.icon3-shareable:before {
  content: "\eb18";
}
.icon3-shield2:before {
  content: "\eb19";
}
.icon3-shop:before {
  content: "\eb1a";
}
.icon3-shopping-bag2:before {
  content: "\eb1b";
}
.icon3-shopping-basket:before {
  content: "\eb1c";
}
.icon3-shopping-cart2:before {
  content: "\eb1d";
}
.icon3-shuffle2:before {
  content: "\eb1e";
}
.icon3-signal:before {
  content: "\eb1f";
}
.icon3-sound-mix:before {
  content: "\eb20";
}
.icon3-sports-club:before {
  content: "\eb21";
}
.icon3-spreadsheet:before {
  content: "\eb22";
}
.icon3-squared-cross:before {
  content: "\eb23";
}
.icon3-squared-minus:before {
  content: "\eb24";
}
.icon3-squared-plus:before {
  content: "\eb25";
}
.icon3-star-outlined:before {
  content: "\eb26";
}
.icon3-star2:before {
  content: "\eb27";
}
.icon3-stopwatch:before {
  content: "\eb28";
}
.icon3-suitcase:before {
  content: "\eb29";
}
.icon3-swap:before {
  content: "\eb2a";
}
.icon3-sweden:before {
  content: "\eb2b";
}
.icon3-switch:before {
  content: "\eb2c";
}
.icon3-tablet2:before {
  content: "\eb2d";
}
.icon3-tag2:before {
  content: "\eb2e";
}
.icon3-text-document-inverted:before {
  content: "\eb2f";
}
.icon3-text-document:before {
  content: "\eb30";
}
.icon3-text:before {
  content: "\eb31";
}
.icon3-thermometer2:before {
  content: "\eb32";
}
.icon3-thumbs-down2:before {
  content: "\eb33";
}
.icon3-thumbs-up2:before {
  content: "\eb34";
}
.icon3-thunder-cloud:before {
  content: "\eb35";
}
.icon3-ticket:before {
  content: "\eb36";
}
.icon3-time-slot:before {
  content: "\eb37";
}
.icon3-tools:before {
  content: "\eb38";
}
.icon3-traffic-cone:before {
  content: "\eb39";
}
.icon3-tree:before {
  content: "\eb3a";
}
.icon3-trophy:before {
  content: "\eb3b";
}
.icon3-tv2:before {
  content: "\eb3c";
}
.icon3-typing:before {
  content: "\eb3d";
}
.icon3-unread:before {
  content: "\eb3e";
}
.icon3-untag:before {
  content: "\eb3f";
}
.icon3-user2:before {
  content: "\eb40";
}
.icon3-users2:before {
  content: "\eb41";
}
.icon3-v-card:before {
  content: "\eb42";
}
.icon3-video2:before {
  content: "\eb43";
}
.icon3-vinyl:before {
  content: "\eb44";
}
.icon3-voicemail2:before {
  content: "\eb45";
}
.icon3-wallet:before {
  content: "\eb46";
}
.icon3-water:before {
  content: "\eb47";
}
.icon3-500px-with-circle:before {
  content: "\eb48";
}
.icon3-500px:before {
  content: "\eb49";
}
.icon3-basecamp:before {
  content: "\eb4a";
}
.icon3-behance:before {
  content: "\eb4b";
}
.icon3-creative-cloud:before {
  content: "\eb4c";
}
.icon3-dropbox:before {
  content: "\eb4d";
}
.icon3-evernote:before {
  content: "\eb4e";
}
.icon3-flattr:before {
  content: "\eb4f";
}
.icon3-foursquare:before {
  content: "\eb50";
}
.icon3-google-drive:before {
  content: "\eb51";
}
.icon3-google-hangouts:before {
  content: "\eb52";
}
.icon3-grooveshark:before {
  content: "\eb53";
}
.icon3-icloud:before {
  content: "\eb54";
}
.icon3-mixi:before {
  content: "\eb55";
}
.icon3-onedrive:before {
  content: "\eb56";
}
.icon3-paypal:before {
  content: "\eb57";
}
.icon3-picasa:before {
  content: "\eb58";
}
.icon3-qq:before {
  content: "\eb59";
}
.icon3-rdio-with-circle:before {
  content: "\eb5a";
}
.icon3-renren:before {
  content: "\eb5b";
}
.icon3-scribd:before {
  content: "\eb5c";
}
.icon3-sina-weibo:before {
  content: "\eb5d";
}
.icon3-skype-with-circle:before {
  content: "\eb5e";
}
.icon3-skype:before {
  content: "\eb5f";
}
.icon3-slideshare:before {
  content: "\eb60";
}
.icon3-smashing:before {
  content: "\eb61";
}
.icon3-soundcloud:before {
  content: "\eb62";
}
.icon3-spotify-with-circle:before {
  content: "\eb63";
}
.icon3-spotify:before {
  content: "\eb64";
}
.icon3-swarm:before {
  content: "\eb65";
}
.icon3-vine-with-circle:before {
  content: "\eb66";
}
.icon3-vine:before {
  content: "\eb67";
}
.icon3-vk-alternitive:before {
  content: "\eb68";
}
.icon3-vk-with-circle:before {
  content: "\eb69";
}
.icon3-vk:before {
  content: "\eb6a";
}
.icon3-xing-with-circle:before {
  content: "\eb6b";
}
.icon3-xing:before {
  content: "\eb6c";
}
.icon3-yelp:before {
  content: "\eb6d";
}
.icon3-dribbble-with-circle:before {
  content: "\eb6e";
}
.icon3-dribbble:before {
  content: "\eb6f";
}
.icon3-facebook-with-circle:before {
  content: "\eb70";
}
.icon3-facebook2:before {
  content: "\eb71";
}
.icon3-flickr-with-circle:before {
  content: "\eb72";
}
.icon3-flickr:before {
  content: "\eb73";
}
.icon3-github-with-circle:before {
  content: "\eb74";
}
.icon3-github2:before {
  content: "\eb75";
}
.icon3-google-with-circle:before {
  content: "\eb76";
}
.icon3-google:before {
  content: "\eb77";
}
.icon3-instagram-with-circle:before {
  content: "\eb78";
}
.icon3-instagram2:before {
  content: "\eb79";
}
.icon3-lastfm-with-circle:before {
  content: "\eb7a";
}
.icon3-lastfm:before {
  content: "\eb7b";
}
.icon3-linkedin-with-circle:before {
  content: "\eb7c";
}
.icon3-linkedin2:before {
  content: "\eb7d";
}
.icon3-pinterest-with-circle:before {
  content: "\eb7e";
}
.icon3-pinterest:before {
  content: "\eb7f";
}
.icon3-rdio:before {
  content: "\eb80";
}
.icon3-stumbleupon-with-circle:before {
  content: "\eb81";
}
.icon3-stumbleupon:before {
  content: "\eb82";
}
.icon3-tumblr-with-circle:before {
  content: "\eb83";
}
.icon3-tumblr:before {
  content: "\eb84";
}
.icon3-twitter-with-circle:before {
  content: "\eb85";
}
.icon3-twitter2:before {
  content: "\eb86";
}
.icon3-vimeo-with-circle:before {
  content: "\eb87";
}
.icon3-vimeo:before {
  content: "\eb88";
}
.icon3-youtube-with-circle:before {
  content: "\eb89";
}
.icon3-youtube2:before {
  content: "\eb8a";
}

@font-face {
	font-weight: normal;
	font-style: normal!important;
	font-family: "woodmart-font";
	src: url("https://woodmart.xtemos.com/wp-content/themes/woodmart/fonts/woodmart-font.eot?v=5.1.0");
	src: url("https://woodmart.xtemos.com/wp-content/themes/woodmart/fonts/woodmart-font.eot?#iefix&v=5.1.0") format("embedded-opentype"),
	url("https://woodmart.xtemos.com/wp-content/themes/woodmart/fonts/woodmart-font.woff?v=5.1.0") format("woff"),
	url("https://woodmart.xtemos.com/wp-content/themes/woodmart/fonts/woodmart-font.woff2?v=5.1.0") format("woff2"),
	url("https://woodmart.xtemos.com/wp-content/themes/woodmart/fonts/woodmart-font.ttf?v=5.1.0") format("truetype"),
	url("https://woodmart.xtemos.com/wp-content/themes/woodmart/fonts/woodmart-font.svg?v=5.1.0#woodmart-font") format("svg");
}
.wd-tools-icon:before {
  font-size: 19px;
  content: "\f124";
  font-family: woodmart-font;
  font-style: normal;
}

.wishlist-icon:before {
  font-size: 19px;
  content: "\f106";
  font-family: woodmart-font;
}

.wd-tools-home:before {
  content: "\f146";
  font-family: woodmart-font;
  font-size: 19px;
}
	/*
  	Flaticon icon font: Flaticon
  	Creation date: 28/11/2019 06:06
  	*/

    @font-face {
      font-family: "Flaticon2";
      src: url("/assets/fonts/Flaticon.eot");
      src: url("/assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("/assets/fonts/Flaticon2.woff2") format("woff2"),
           url("/assets/fonts/Flaticon.woff") format("woff"),
           url("/assets/fonts/Flaticon.ttf") format("truetype"),
           url("/assets/fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
      /* font-family: "Flaticon2";
      src: url("/newwebsite/assets/css/fonts/Flaticon.eot");
      src: url("/newwebsite/assets/css/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("/newwebsite/assets/css/fonts/Flaticon2.woff2") format("woff2"),
           url("/newwebsite/assets/css/fonts/Flaticon.woff") format("woff"),
           url("/newwebsite/assets/css/fonts/Flaticon.ttf") format("truetype"),
           url("/newwebsite/assets/css/fonts/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal; */
    }
    [class^="flaticon2-"]:before, [class*=" flaticon2-"]:before,
    [class^="flaticon2-"]:after, [class*=" flaticon2-"]:after {
      font-family: Flaticon2;
          
    font-style: normal;
    
    }
    
    .flaticon2-rewind:before { content: "\f100"; }
    .flaticon2-breadbox:before { content: "\f101"; }
    .flaticon2-gift:before { content: "\f102"; }
    .flaticon2-heart-1:before { content: "\f103"; }
    .flaticon2-credit-card:before { content: "\f104"; }
    .flaticon2-wallet:before { content: "\f105"; }
    .flaticon2-support:before { content: "\f106"; }
    .flaticon2-shipped:before { content: "\f107"; }
    .flaticon2-tag:before { content: "\f108"; }
    .flaticon2-refer:before { content: "\f109"; }
    .flaticon2-diamond:before { content: "\f10a"; }
    .flaticon2-user:before { content: "\f10b"; }
    .flaticon2-board-games-with-roles:before { content: "\f10c"; }
    .flaticon2-takeaway:before { content: "\f10d"; }
    .flaticon2-android:before { content: "\f10e"; }
    .flaticon2-credit-card-1:before { content: "\f10f"; }
    .flaticon2-wallet-1:before { content: "\f110"; }
    .flaticon2-help:before { content: "\f111"; }
    .flaticon2-package:before { content: "\f112"; }
    .flaticon2-truck:before { content: "\f113"; }
    .flaticon2-shield:before { content: "\f114"; }
    .flaticon2-guarantee:before { content: "\f115"; }
    .flaticon2-app:before { content: "\f116"; }
    .flaticon2-app-file-symbol:before { content: "\f117"; }
    